[2019-03-17 16:33] AllenFang commented on #847
Fixed https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/17/version-bump.html

Please upgrade to newest version

[2019-03-17 16:33] #847 closed

[2019-03-17 16:33] AllenFang commented on #847
tag me if the issue still remain, thanks

[2019-03-17 16:35] AllenFang commented on #852
Implemented: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/17/version-bump.html

Enable [exportCSV.onlyExportFiltered](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/export-csv-props.html#exportCSVonlyexportfiltered-bool)

[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Export%20CSV&selectedS

[2019-03-17 19:58] ipetrini commented on #852
Amazing! Thank you!

[2019-03-18 01:56] AllenFang commented on #850
👍

[2019-03-18 03:15] phobebon opened #863 "Reset page to 1 when update data to table"
There seems to be related issues but none seems clear on the resolution, thus asking again here.

In version 1, I have used reset option on the table to reset the default selected page to 1 whenever the results of the table is updated via state object.

In version 2, there seems to be a "page" property but will only work with remote option and a lot more customization is required.

I am also not u

[2019-03-18 03:24] phobebon commented on #863
I just realised, it could be easily resolved by setting the state data to null to refresh the table during search which will then reset back to page 1. Then, until the next set of search result is updated to the state, it will start from page 1 again.

[2019-03-18 03:24] #863 closed

[2019-03-18 09:18] stolenfather commented on #172
I am also getting these errors :grimacing:

[2019-03-18 11:11] lovato-hp commented on #702
@AllenFang This solved my problem too. I had no idea what AutoBOM was, and at the documentation, there is no explanation about what it does.

[2019-03-18 11:12] lovato commented on #702
@AllenFang This solved my problem too. I had no idea what AutoBOM was, and at the documentation, there is no explanation about what it does.

[2019-03-18 12:59] lovato opened #864 "SearchBar + Formatter w/ Objects = empty results"
I took a look at this issue:
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/532

But the solution was not clear to me. And I am facing the same problem.

I did:
[code]

Column:
[code]

titleFormatter which WORKS:
[code]

titleFormatter which DOESNT WORK:
[code]

It simply finds nothing after typing something at search bar.
My return object is far complex than this sole DIV.

[2019-03-18 13:26] BharahthyKannan opened #865 "Date Edit Not working in IE"
Hi ,In our react we are trying to do the Date field edit. It is working fine in the Chrome but not in IE.
tried the same with story book in IE, getting the same issue . Is this expected that or i am missing something.

![image](https://user-images.githubusercontent.com/17752392/54533064-a17a3a00-4989-11e9-9ed0-24e69ae050d0.png)
![editissue](https://user-images.githubusercontent.com/17752392/545330

[2019-03-18 18:07] jfremy opened #866 "shouldUpdateByColumnsForSimpleCheck does not react to columns change"
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/06d87299a3b08b7e110b78a042da5d6b610fc530/packages/react-bootstrap-table2/src/row/should-updater.js#L25

In my code, I allow a user to add / remove columns to a table but also change the order of the columns.
When changing the order of columns, the header gets updated (so columns title is correct) but the data does not get updated

[2019-03-19 01:48] AllenFang commented on #864
@lovato `searchFormatted` is only good for the simple value, I don't suggest to use it if your return is a complex react element. In your case, you can use [`column.filterValue`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnfiltervalue-function)

If `column.filterValue` is still not fit to your requirement, please tag me, I will do some enhancement. t

[2019-03-19 01:48] #864 closed

[2019-03-19 12:07] jordan1982 commented on #688
@AllenFang Any updates on this? I'm really interested in this update, could you tell me when you'll implement this feature? Or you can suggest me how to use the bootstrap table with a composite key?

[2019-03-19 12:24] nigellima opened #867 "Select dropdown with LIKE behaviour"
Hello.

In my table, the first column is a combination of data that I pass a string with @ as separator and the format them with the formatter function as follow:

This is my column definition:

[code]
And this is the projectFormatter function:
[code]
The filtering works fine when it is a text input filter. Now, I'm trying to do a custom select filter with a LIKE operator behaviour, which the sele

[2019-03-19 15:11] DrogoNevets commented on #207
Is this still on track for Q2? we are going to have to make a judgement call to move to a different Component soon, would love to hold out, but cant much past mid-April

[2019-03-20 09:37] MJGMaun opened #868 "Feature request: rowspan & colspan"

[2019-03-20 13:14] AllenFang commented on #702
@lovato I'm not very familiar with it, actually, it's a property in https://github.com/eligrey/FileSaver.js

[2019-03-20 13:30] AllenFang commented on #865
@BharahthyKannan, it's expected issue, because https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date is not compatible on all browser. it's just a quick implement for this feature(Date editor), so far the workaround is you probably need to custom the date editor. I will spend some time to fix this issue. thanks

[2019-03-20 13:39] AllenFang commented on #866
@jfremy ok,  I will fix this, thank you

[2019-03-20 18:03] ipetrini opened #869 "RemoteCellEdit not rendering"
I'm having trouble when updating the data of a table using RemoteCellEdit.

Here is an example of the code:
https://codesandbox.io/s/m4ly6y304x

It's clear that when I edit a cell everything works as it should, but when I click the button on top of the screen that changes the state of the products (Name of product with id 1), which is the data of the table, the new value is not showed, but when I

[2019-03-21 20:29] rexatgithub opened #870 "Pagination resets back to page 1 when updating other table"
I am using 2 tables, 1 is a custom table(**table1**) under paginationProvider and the other one(**table2**) is plain BootstrapTable.
table2 list will be loaded when a row from table1 is being selected (through the load button).
However when i try to navigate any pages other than page one then i try to select a row the pagination from table1 resets

**Reproduction:**
https://codesandbox.io/s/101nw1

[2019-03-21 22:39] ipetrini commented on #869
Well, I've just found out that using  "react-bootstrap-table-next": "2.0.1", it works just fine...

[2019-03-21 23:44] functionsonly commented on #817
Nice.  Thank you.

[2019-03-22 04:20] vwen01 opened #871 "DIsplaying data with values 0"
I cant seem to render data with values (number) 0 in the table:

In the screenshot below the blank cells all have values 0 in the raw data.

It works if i convert the value to a string but then i want things to be sortable in desc/asc order. Any ways around this?

![image](https://user-images.githubusercontent.com/19830762/54800437-b414ac00-4cc6-11e9-961b-a9dc2525597a.png)

[2019-03-22 08:26] AllenFang commented on #869
👍

[2019-03-22 08:26] #869 closed

[2019-03-22 16:06] ipetrini commented on #869
@AllenFang the problem is that using that older version , I'm probably loosing some new features/bug corrections that were made in the newest version (3.0.2). No way to fix it in that version?

[2019-03-22 20:52] jrae26 commented on #859
@AllenFang I am also experiencing this issue.  Would you mind explaining what is incorrect about the example below?

https://codesandbox.io/s/zkn05nxpvl

[2019-03-24 08:09] AllenFang commented on #867
@nigellima so far the select filter use `EQ` as default comparator and it can not be change/configure. I will enhance this when I have time, thanks

[2019-03-24 08:11] AllenFang commented on #867
BTW, if you are implement the custom filter, the default comparator will be `LIKE`, [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is a custom filter example.

[2019-03-24 08:14] AllenFang commented on #867
if you can, would you please share your code on codesandbox.io and keep it simple and minimal? That will be easier for me to help you. Thanks.

You can base on [this](https://codesandbox.io/s/k5750vzzvv) example and be careful the version, thanks

[2019-03-24 08:20] AllenFang commented on #868
Hello @MJGMaun, I knew this is a important feature for table component, so far I don't have enough time to implement new feature. I will try my best to do this when I have enough time, thanks

[2019-03-24 08:26] AllenFang commented on #870
@rexatgithub I think this is not a bug. Everytime you click on "Load" button in Actions column will trigger rerender `DataContainer`, that's why you go back to first page.

the best solution will be: Avoid `StudentList` get rerender when `state.selected_student` change by `shouldComponentUpdate`

[2019-03-24 08:26] #870 closed

[2019-03-24 08:36] AllenFang commented on #866
yes, we actually did it already in different level. This `should-updater` is for row level.

[2019-03-24 13:06] AllenFang commented on #871
@vwen01 it's work for me, can you provide me an example on codesandbox? https://codesandbox.io/s/k5750vzzvv  this is a quick example you can reference

[2019-03-24 15:20] mhdfaisal commented on #226
It works

[2019-03-25 01:33] ronz28 commented on #384
Hi there,
Any update on this issue?
After I installed the library, npm install @types/react-bootstrap-table-next, I tried to use "import BootstrapTable from 'react-bootstrap-table-next';" in my tsx file. Same as example showed in storybook.
I got error message says "Could not find a declaration file for module 'react-bootstrap-table-next'. '../node_modules/react-bootstrap-table-next/lib/index.js'

[2019-03-25 14:29] AllenFang commented on #869
i think it's impossible, you can not override the content in an existing version. lol

[2019-03-25 14:51] AllenFang commented on #859
@jrae26 I think I can reproduce your case and I hope @lovato had the same issue like your, I will fix it in next version, thanks

[2019-03-25 17:15] Jayboy75 opened #872 "Custom Search Bar Without Button?"
The default Searchbar has no <label> tag for its input, so it is not accessible to users with disabilities. I am therefore trying to create a custom searchbar component that is otherwise identical to the default, where search text is entered and the table responds without the user having to click a button. The only example in the documentation, however, uses a button. How would I set up a custom s

[2019-03-25 17:25] Jayboy75 commented on #872
Answered my own question. For the benefit of others this may help in future, here's how I did it (note disabled lines won't be necessary unless you are using eslint):

`import React from 'react';

const TableSearchBar = (props) => {
  let input;
  const handleChange = () => {
    props.onSearch(input.value); //eslint-disable-line
  };
  return (
    <div>
      <label htmlFor="table-search-bar" cl

[2019-03-25 18:48] Jayboy75 opened #873 "How To Add/Customize Titles and Labels"
Filters and search bar don't have label tags, which is a requirement for accessibility. Pagination buttons have titles numbered "1" to "x" but aren't customizable, which results in title text being a duplicate of the element text - also not accessible. Is there a way in the current package to customize any of these elements by adding labels to form inputs or modifying title tags? If so, how could

[2019-03-25 23:53] nigellima commented on #867
Hi @AllenFang
Thank you very much for your replies. Is it possible to position this custom filter outside the table?

[2019-03-26 01:12] Glmnet1 commented on #808
I had the same issue with the Date editor and the problem comes from parsing dates with getDate(), getMonth() and getFullYear() when the date input returns the selected date in UTC at midnight.

Switching to getUTCDate(), getUTCMonth() and getUTCFullYear() both in the Date editor docs and in the Date filter parser should fix this.

[2019-03-26 12:39] #866 closed

[2019-03-26 12:39] #838 closed

[2019-03-26 12:39] #859 closed

[2019-03-26 12:44] AllenFang commented on #859
hello @jrae26  and @lovato this issue is fixed, please at least to upgrade related package listed below to newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/26/version-bump.html

[2019-03-26 12:44] AllenFang commented on #838
@nathan-fortier

this issue is fixed, please at least to upgrade related package listed below to newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/26/version-bump.html

[2019-03-26 12:45] AllenFang commented on #866
@jfremy

this issue is fixed, please at least to upgrade related package listed below to newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/26/version-bump.html

[2019-03-26 12:46] AllenFang commented on #808
@Glmnet1   thanks, I will check your PR

[2019-03-26 12:51] AllenFang commented on #867
I think so far it's **impossible to render embed filter outside of table**, but it's good question. Currently, we allow developer to render search bar, export csv button and pagination in any position. but for embed column filter, we still not yet support.  (the embed filter here is mean the all the default filters we support now, like: text, date, select filter etc)

but if you want to custom a f

[2019-03-26 12:55] AllenFang commented on #872
I think `react-bootstrap-table2` already support a lots of way to let developer to custom the search bar, export csv button, pagination etc. [here](react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Fully%20Custom%20Search&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an example to show h

[2019-03-26 13:26] Jayboy75 commented on #872
@AllenFang Any examples on how to do the same with pagination? I didn't see a full customization in the docs.

[2019-03-26 16:42] jfremy commented on #866
Thanks a lot, it's working fine now!

[2019-03-26 16:49] Jayboy75 commented on #872
@AllenFang Also the dropdown filters that can be added to table columns - I need a way to customize those so I can add a <label> element to them for accessibility. Is there any way to do that?

[2019-03-26 21:46] vanegg commented on #751
Is there a custom clean? @AllenFang

[2019-03-27 02:13] AllenFang commented on #872
@Jayboy75
[docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html)
[example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Fully%20Custom%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

---

use [column.formatter](https://react-bo

[2019-03-27 02:13] #872 closed

[2019-03-27 09:39] BharahthyKannan commented on #865
@AllenFang i tried customizing the date editor , still it is not consistent in IE. especially the date picker part.
Any pointers, if you could fix this in the package as early as possible then it would be really helpful as most of the tables in our project we decided to use this component

[2019-03-27 16:39] colinwagner opened #876 "Reordering columns moves the column header but not the data"
Changing the order of columns provided to the 'columns' prop moves the table headers appropriately but the data within those columns does not move until some sort of data mutation causes a re-render.

[2019-03-27 23:08] sparkle225 opened #877 "UMD files located in dist not working"
Attempting to use the umd version of the react-bootstrap-table2. I have attempted with the versions in the dist folder as well as within from unpkg. I am using the sdn version of react and react-dom. I have tried to access the BootstrapTable with the following code with and without the window.

var BootstrapTable = ReactBootstrapTable2.BootstrapTable;
<BootstrapTable
          keyField="id"

[2019-03-28 01:49] AllenFang commented on #877
@sparkle225 would you please give me an example so that I can reproduce this issue? Please keep it simple and minimal, thank you very much.

[2019-03-28 01:53] AllenFang commented on #865
@BharahthyKannan so far I'm quite busy on my work so not sure about the time estimation. In my opinion, this issue eventually will fix but for IE case currently, so I will suggest you to implement a custom editor, you can use any third party date editor which is support IE. that will be the best workaround so far.

Actually, I don't like IE so much, they always behind the standards...

[2019-03-28 07:54] sparkle225 commented on #877
I have a pretty simple example I am working with. See below.

In index.html I have something like below. Additional scripts for jquery, bootstrap and css are also included.
<html>
  <body id="form" class="claro app-loading">
    <div id="root"></div>
    <script defer src="bundle.js"></script>
  </body>
  <script src="js/react-bootstrap-table-next/dist/react-bootstrap-table-next.js"></script>

<ht

[2019-03-28 14:22] waynebrantley opened #878 "Pager not correct if data changes in grid"
If something causes the data to completely change, the pager is not updated.
For example - an external search or just a button that swaps data out in the grid.

Complete example is here:
https://codesandbox.io/s/j7zppzyz19

[2019-03-28 15:52] sparkle225 commented on #877
Also, I am using webpack. I have react and react-dom setup as externals. This configuration seems to be working with the react-bootstrap cdn module.

[2019-03-28 17:47] ronaiza-cardoso opened #879 "onContextMenu Row Instead Cell"
Hi, first of all, thanks for the awesome work with this!

second: there's a way of getting the row element `onContextMenu` instead of the cell?

[2019-03-28 21:29] aynajm opened #880 "CSS Example"
Thank you for this great resource!

Would you be able to share the CSS in a sandbox editor or the CSS for each of the examples on your examples branch?

I see the CSS you have included in your git, but whenever I try
`.react-bootstrap-table table {
  table-layout: auto;
  background-color: #fb9692;
}`

I am not able to see any changes.

However, I am able to make changes when I make changes in JS,

[2019-03-28 21:37] #880 closed

[2019-03-28 21:37] aynajm commented on #880
Nevermind - please delete!

[2019-03-28 22:07] rexatgithub commented on #870
@AllenFang ow right. Thanks.

[2019-03-28 22:10] lovato commented on #859
I will give it a try, but as I said, I am now waiting till all my ajax calls get 200, and that is the greenlight to render the component.

[2019-03-29 07:42] ahmarkhan opened #881 "Can we have a custom button located outside to trigger CSV download ?"
Right now the toolkit provider is allowing us to download as csv. Ours requirements are like to have a separate button to download the table as csv.

Is there a way we can avoid useing toolkit provider for exporting to csv download ?

[2019-03-29 08:10] noeljoaquin30 opened #882 "pagination drop down option become anchor(link)"
Pagination drop down option become anchor(link)instead of a normal selection option.
I noticed also after i select 25,30 ,50(last)  (it's working) but after i select previous page size(30,25 or 10) my page redirect to home page.

[2019-03-29 11:43] carelphillipkruger opened #883 "Table only updates if key field is updated"
Hi,

I am trying to run the attached program. The rows however only updates if I update the key field together with the other fields in the row. Updating a single field in the row and not altering the key field results in no changes to the table. Is this behaviour normal ?
[code]

[2019-03-29 16:03] vealjoshua opened #884 "How to add the style cursor: pointer over the table cells?"

[2019-03-29 20:33] Jayboy75 commented on #872
@AllenFang Thanks for pointing me in the right direction. Is there a way to create a custom filter dropdown so I can add a <label> tag to it? This is a necessity for 508/accessibility and from the docs it doesn't look like I can actually create my own filter with HTML in the same way as with the pagination buttons and search bar.

[2019-03-30 00:49] mathiaswillburger opened #885 "allow select options initialization with empty array"
When initializing the select filter dropdown values with an empty array and adding entries at a later stage the following error is raised: `TypeError: Cannot read property 'value' of undefined`.

There is a solution for that, but I think it would be more friendly to allow initialization with an empty array in a future version ..... unless I am missing something which is already possible.

Here are

[2019-03-30 05:00] AllenFang commented on #877
@sparkle225 what react version you used?

[2019-03-31 05:22] AllenFang commented on #873
Can you explain it more and give it an example, I can implement it, thanks

[2019-03-31 05:41] AllenFang commented on #876
@colinwagner we already fix in from last week, https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/866

[2019-03-31 05:41] #876 closed

[2019-03-31 06:10] AllenFang commented on #881
@ahmarkhan for custom the export csv button, you only  have to do it by toolkit provider: [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Export%20CSV&selectedStory=Custom%20CSV%20Button&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel).  Thanks

[2019-03-31 06:10] #881 closed

[2019-03-31 06:17] AllenFang commented on #878
@waynebrantley I think when you enable the remote pagination, the `page`, `sizePerPage` and `totalSize` will be necessary value for `pagination` props:

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationpage-number

The reason is `react-bootstrap-table2` never know the size and the actual page of incoming data.

[2019-03-31 06:17] #878 closed

[2019-03-31 06:22] AllenFang commented on #879
@ronaiza-cardoso you can try to use [`rowEvents`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#rowevents-object)

[2019-03-31 06:22] #879 closed

[2019-03-31 06:41] AllenFang commented on #882
@noeljoaquin30 pagination dropdown option is always an anchor in bootstrap3 and 4. In addition, the `href` attribute is always `#`, so is it any example can let me reproduce it,

https://codesandbox.io/s/k5750vzzvv this is an example you can take and give me a simple and minimal case for reproducing, thanks.  I will open this issue when I can reproduce this issue

[2019-03-31 06:41] #882 closed

[2019-03-31 06:49] AllenFang commented on #877
I think there's no issue cause of I can not reproduce this. Please give me a packages which can reproduce this case, thanks

[2019-03-31 06:49] #877 closed

[2019-03-31 06:54] AllenFang commented on #883
[code]

That is because you mutate the state data directly... please check [this](https://redux.js.org/faq/immutable-data) to learn how to change state immutability. It's not about redux, but for all the react application, if you change state data directly, will make react component recognize there's nothing change when nextprops coming then decide not to render component.

[2019-03-31 06:54] #883 closed

[2019-03-31 06:58] AllenFang commented on #884
You can custom the style on column via [`column.style`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function).

Let me know if there's any issue you encounter, thanks

[2019-03-31 06:58] #884 closed

[2019-03-31 07:13] AllenFang commented on #885
@mathiaswillburger agree this point, and this issue was asked before for a long time but just not time to fix it, I want to give a proposal like this:

[code]

`asyncOptions` callback function will be called everytime when rendering select dropdown,
For developer, you can cache the selction option if they won't change, for example:

[code]

[2019-03-31 07:13] AllenFang commented on #885
any idea is welcome, thanks

[2019-03-31 08:53] leonas5555 opened #887 "Question: styled-components support in the table"
### Enhancement request/question: How can I style table row and columns with styled-components?
I saw that in previous version I mean "react-bootstrap-table" there was an option to use styled-components and also one example how to do that. I would like to see this feature here too .

[2019-03-31 10:44] leonas5555 commented on #887
I want to use styled HOC on table itself and on rows. Do I need somehow to utilize "classes" prop of components ? Like here https://material-ui.com/guides/interoperability/#styled-components

[2019-04-01 05:42] noeljoaquin30 commented on #882
@AllenFang  i tried to fork your example and i have added records to test the pagination. And the page size option is not href attribute. Please check example  https://codesandbox.io/s/nro84z60np thank you

[2019-04-01 09:54] gcko commented on #812
@armohammadi56 What would the use case be for selection disable on a specific column? the row itself would still be selectable, correct?

[2019-04-01 12:24] waynebrantley commented on #878
@AllenFang Yes that works - however other than this 'one issue', you do NOT have to track the page number!   Was thinking you might be able to think of a solution to this....I think 'hooks' version of react would work - as we could potentially get a state setter for page of grid, etc.   But that may be the only way...

BTW, upgrade from stable 1.2 version all the way to 3.03 last week - looking go

[2019-04-01 14:23] Jayboy75 commented on #873
@AllenFang In order for a form control (in this case a text input or select dropdown) to be accessible, it must have an associated label tag which describes its purpose to users of assistive technology. You can hide the label visually using the Bootstrap "sr-only" (screen reader only) tag, which will make it available for those who need it without altering the UI.

Here's what I'm using for my cus

[2019-04-01 14:45] vealjoshua commented on #884
Thank you!

[2019-04-01 15:43] ErkinKurt commented on #291
Display attribute causing the extra whitespace. This CSS worked for me:
.table{
   overflow: auto;
   table-layout: auto !important;
}

[2019-04-01 19:00] vealjoshua opened #888 "Align pagination to the right"
How to align pagination panel to the right?

In some of the demos it is not clear which property is aligning the pagination.

[2019-04-02 11:53] rajaveernapu opened #889 "cell editor load text box on load of grid"
Dear Team,

Thank you for the extensive table features?

I have 2 quick questions which i did not found any documentation (at least what i see)

- Loading grid with default controls on cells like loading grid with textbox or dropdown. I see editor but this has only 2 events like click and dbclick. is there any onload event ?

- Is table is accessible ?

This is not an issue but checking if there i

[2019-04-02 13:25] #808 closed

[2019-04-02 13:36] AllenFang commented on #808
Release https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/31/version-bump.html

Please let me know if the issue still remain, thanks

[2019-04-02 13:36] AllenFang commented on #728
Release https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/31/version-bump.html

Please let me know if the issue still remain, thanks

[2019-04-02 13:36] #728 closed

[2019-04-02 13:42] AllenFang commented on #873
@Jayboy75 thanks your explanation, that is clear for me and I enhance this when I have time, sorry I'm busy recently, so PR is also welcome 👍

[2019-04-02 16:22] meLog commented on #836
![rowExpandBug](https://user-images.githubusercontent.com/12495836/55418796-ae934d80-5573-11e9-890b-87d60b3adf43.png)

after update all packages today the bug is still there. My fault? Or is it back?

thanks for help.

[2019-04-02 17:04] colinwagner commented on #876
@AllenFang I am on the latest version and am still experiencing this issue. It seems shouldUpdateByColumnsForSimpleCheck isn't being called?

[2019-04-02 18:25] Jayboy75 commented on #873
@AllenFang sure thing, pull request submitted - https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/890

[2019-04-02 20:07] KBL9698 opened #891 "How to hook into after search"
I am new to react . . .

I am using react-bootstrap-table-next@2.1.2

I would like to hook into after search filtering so I can update row counts.  However, I do not know where to do this.

I believe I need to use this.node.table.props.data for the data, but do not know where to access it.

The onTableChange appears to be before search filtering - the counts are before the filtering.  I have also

[2019-04-03 16:14] becarchal commented on #601
Encountered the same problem！Hi，AllenFang！When I modified `key={ column.dataField }` to `key={ i }` in `HeaderCell` 、`FooterCell ` tags, the waring was fixed。Can we repair it in this way?

[2019-04-03 20:00] nathan-fortier opened #892 "onFilter not firing when using remote data"
When I am using remote data and trying to filter I want to tap into the onFilter function however it does not fire. Is there another way for me to do this?

This ONLY works if the remote flag for the table is false
[code]

[code]

[2019-04-03 20:37] nathan-fortier commented on #892
It looks like I can accomplish what I am trying to do with the onTableChange callback

[2019-04-03 20:37] #892 closed

[2019-04-03 20:41] TommyFortin opened #893 "Storybook Exposed API crash"
The Exposed API example in the storybook crashes when you try to order a column.

Thanks for the package!

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=Exposed%20API&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-04-03 21:10] prateek04 commented on #544
what is string and IMyColumnDefinition and row.databasePkey here.
{
            dataField: "databasePkey",
            text: "Remove",
            formatter: (cellContent: string, row: IMyColumnDefinition) => {
                if (row.canRemove)
                    return <button className="btn btn-danger btn-xs" onClick={() => this.handleDelete(row.databasePkey)}>Delete</button>
                r

[2019-04-04 00:34] noeljoaquin30 commented on #882
hi @AllenFang  can you re-open the issue? since it is not cleared to me and not yet fixed. thanks

[2019-04-04 10:12] SmaranSingh commented on #885
@AllenFang The function(`optionsEquals`) that checks whether the options in select filter have changed, eventually checks the length of the array of options.
So, instead of checking ```currOpts.length === prevOpts.length``` after iterating through the `currOpts` , if you do the check before the iteration, then the above problem would be resolved.

I've raised a PR #894  with my solution.

[2019-04-04 13:04] DrogoNevets commented on #675
should this fix be present in v2.1.0 too?

[2019-04-05 05:02] shubuu97 commented on #706
Hi Allen, i found a issue in react-bootstrap-table that if all rows are selected and if we change the page no then the selectAll button keeps on showing while the values are not selected and also in case of sorting it does not updates the values if we selectAll.

[2019-04-05 06:41] iamacatperson opened #895 "How to pass state into formatter function when updating state via useState?"
I am not sure how to make the actionsFormatter function receive the updated state each time I click on the `<TableActions />` component using useState().

What I'd like to happen is to 'show' an options box whenever I click on the `<TableActions />` component and I need to pass to it the row id (to know which instance of `<TableActions />` is triggered.

See code below:

[code]

[2019-04-05 10:09] Menogus opened #896 "How add additional column Header (Column Header Span)?"
How add additional column Header like Product/Customer on this screen (like Column Header Span in prev. version):
http://allenfang.github.io/react-bootstrap-table/images/react-bootstrap-table-sample.png

??

[2019-04-05 15:19] oneringtorulethemall opened #897 "API change/request"
Would you consider adding a injectable service array that I could register for the services
I want to include?
Something like:
      <BootstrapTable
                        bootstrap4
                        keyField='image'
                        data={ images }
                        bordered={false}
                        columns={ this.defineColumnList() }

                        services=

[2019-04-05 16:04] LucaNitti opened #898 "expandRow.expanded undefined"
i get this error after fetching data from remote server. The data is valid (works fine if i remove expand row).
This is how i configured all

    "react-bootstrap-table-next": "^3.1.0",
    "react-bootstrap-table2-overlay": "^1.0.0",
    "react-bootstrap-table2-paginator": "^2.0.4",
    "react-bootstrap-table2-toolkit": "^1.4.0",

            <BootstrapTable
                    remote

[2019-04-05 21:08] ALuongIBM opened #899 "Header Style for selectRow"
For column headers, I know you can style like this:

`const columns = [{ headerStyle: { backgroundColor: '#215E95', color: 'white'} }]`

How do I do this for selectRow header column? As far as I can tell, it only has options for the selected row style.

`const selectRow = { mode: 'checkbox', clickToSelect: true, style: { header: 'yellow' } }`

[2019-04-05 21:16] yonghoony commented on #898
+1
Please, prioritize this!
The issue started to happen at 3.1.0.
[code]

https://github.com/react-bootstrap-table/react-bootstrap-table2/blame/fcefcf8c84b8e9734e6986cfe26324a8f4429e0f/packages/react-bootstrap-table2/src/contexts/row-expand-context.js#L20

[2019-04-07 06:29] AllenFang commented on #885
@SmaranSingh agree with you, I will adopt your PR and postpone the above idea for lazy load select option. Thank you very much!

[2019-04-07 06:43] AllenFang commented on #887
@leonas5555 sorry for lately reply, I think you can `styled-components`, let me know if you have some issues.

which part you mean? if you were talking about `BootstrapTable`, I think it's yes, you need `classes` to add some custom class name on table element.

[2019-04-07 06:43] #887 closed

[2019-04-07 06:46] AllenFang commented on #888
@vealjoshua so far we didn't have this feature and it's minor feature to me. So PR is welcome.

In addition, you can still approach this by customizing  the pagination to rearrange the position of pagination component

[2019-04-07 06:48] AllenFang commented on #888
Tips, use standalone component so that you can rearrange the position,

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html

[demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20Pagination%20List&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factio

[2019-04-07 06:48] #888 closed

[2019-04-07 06:49] AllenFang commented on #888
Please tag me if you still have any question, thanks!!

[2019-04-07 06:51] AllenFang commented on #876
@colinwagner I think it should be work, would you please give me an simple and minimal example on codesandbox?  So that I can reproduce it, Thanks

[2019-04-07 07:02] AllenFang commented on #882
<img width="719" alt="螢幕快照 2019-04-07 下午3 01 59" src="https://user-images.githubusercontent.com/5351390/55679960-267fc000-5946-11e9-888f-2bd4781b212c.png">

Your example work for me lol

[2019-04-07 07:03] AllenFang commented on #892
👍

[2019-04-07 07:10] AllenFang commented on #889
@rajaveernapu sorry for lately reply, about your two questions, i think I'm still not very clear:

* Not very clear about first question
* I think no, but what kind of accessible you want?

[2019-04-07 07:18] AllenFang commented on #891
@KBL9698 sorry for lately reply, i can understand this case, I will try to implement a props like `onChange` or something like that and it will be called when data change.

[2019-04-07 07:34] AllenFang commented on #893
@TommyFortin it's a regression issue that caused by newest patch for row expand, I will fix this issue ASAP, thanks for this bug report.

[2019-04-07 08:54] AllenFang commented on #895
@iamacatperson

1. Don't use state directly in `column.formatter`, pass the state data though `column.formatExtraData`
[example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Dummy%20Column&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) and [docs](https://react-bootstrap-tab

[2019-04-07 08:54] #895 closed

[2019-04-07 09:10] AllenFang commented on #896
@Menogus so far we dont have column span feature, I will implement it when I get time.

[2019-04-07 09:11] AllenFang commented on #896
Close it due to duplicated issue

[2019-04-07 09:11] #896 closed

[2019-04-07 09:31] AllenFang commented on #898
Same issue https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/893 . I will fix it soon

[2019-04-07 18:00] BharahthyKannan commented on #865
@AllenFang I re tried with react date picker in custom editor. It worked well in IE. Thanks for your suggestion .

[2019-04-08 04:15] iamacatperson commented on #895
@AllenFang Thank you for your reply. I've tried to now use it in `column.formatExtraData` as in the example below. However, when I trigger a state change, the formatter doesn't seem to get rerendered along with the rest?

[code]

[2019-04-08 04:41] noeljoaquin30 commented on #882
yes that's right but in my real project the pagination size is an anchor link. how it happened ?

[2019-04-08 07:21] annael opened #901 "Dynamic options for select/multiselect filter"
Is there any way to fill in options for select/multiselect filter dynamically - specifically, I'd just want distinct on all column values, e.g. just composing values externally and passing over as filter options. Couldn't figure out a way to do that.

[2019-04-08 10:50] rohit-sourcefuse commented on #785
HI, @primakashi I am also facing same issue default rows mention in the array for *expanded* property not working, i also check the spell and also pass something like that :
const expandRow = {
renderer: this.expandRenderer,
*expanded: [1.3],*
showExpandColumn: true,
expandColumnRenderer: this.expandColumnRenderer,
};
Can you explain, how your issue was fixed?

[2019-04-08 12:12] primakashi commented on #785
In my case, I make a mistake. Expanded value must be value that used as key.

For example

`const id = [ 'a','b','c']`
`<BootstrapTable
      keyField="id"
      data={nodeInterface}
      columns={columns}
      expandRow={expandRow}
/>
`

so expanded value must be

`expanded: [a,b]`

not number like 1,3

[2019-04-08 13:34] annael commented on #901
Figured it out :)
[code]

[2019-04-08 13:34] #901 closed

[2019-04-08 14:12] BharahthyKannan opened #902 "Dynamically generated columns"
@AllenFang  Is there any way to implement the Dynamically generated columns, I receive 30 + columns from the backend and I need to use formatters and other style props of the boot strap table. I saw lot of reference for the previous bootstrap table not for table2. Any pointers.?

[2019-04-09 05:45] rohit-sourcefuse commented on #785
Let me check this maybe this is also the case with me.

[2019-04-09 06:18] Chaosbit opened #903 "Boolean value and dropdown"
Hi,
I have a column with boolean values that I want to edit.
I can change a cell from false to true, but not the other way around.

The column config looks like this:
[code]

Can you give me a hint what the issue might be?
We are using version 3.0.2

[2019-04-10 16:30] CaptainCthulhu opened #904 "CSV Export doesn't handle double quotes"
Currently if there's a double quote in a string during CSV export the text creates new unwanted cell breaks.  To fix, just need to replace line 45 of packages/react-boostrap-table2-toolkit/src/scv/exporter.js with `return "${cellContent}".replace(/"/g, '""');`

Thanks!

[2019-04-10 19:41] mvandergrift commented on #859
I still have this issue with v3.0.3 and v3.1.0 using this sample:
[ https://codesandbox.io/s/zkn05nxpvl]( https://codesandbox.io/s/zkn05nxpvl)

Updates to state do not force a rendering of the table even if passed through formatExtraData. However, if you choose to sort a column, that does force a render and displays the updated state data.

[2019-04-11 04:33] pritam-patil commented on #822
I did try building it again on clean OS (moved from Ubuntu to Fedora), and after a few hiccups (g++ install and node-sass rebuild) --  'yarn install' is a success and I could build storybook without fail.
You can close this. Thanks.

[2019-04-11 04:33] #822 closed

[2019-04-11 05:13] pritam-patil commented on #446
I was facing a similar issue of filtering on formatted data. The  `filterValue` column prop  needed to return formatted string that my `formatter` prop returned. So basically my `formatter` and `filterValue` had the same argruments. Something like -

[code]

@AllenFang - My question was, instead of adding such flag, can the `filter` prop - identify `formatter` prop is passed and use the function r

[2019-04-11 07:01] rahulpsd18 commented on #893
Also, the example for **[Expand Only One Row at The Same Time](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Expand%20Only%20One%20Row%20at%20The%20Same%20Time&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)** in storybook is incorrect and exactly the same as **[Basic Row Expand](ht

[2019-04-11 09:10] dsbrother commented on #898
Has anyone solved this problem?

[2019-04-11 09:35] Maneeshachandran commented on #226
Hi,
  I am trying to increase the width of some particular columns. Adding style to the column description doesn't help. How to achieve my requirement?

[2019-04-11 14:28] AllenFang commented on #895
@iamacatperson I believe your `react-bootstrap-table-next` is too old, please upgrade, thanks!

[2019-04-12 07:12] Devkutt opened #905 "column.onClick parameters undefined if column.editable is true"
When `column.editable` is true, every parameter of `column.events.onClick` except for the event is undefined. Other events like `onMouseEnter` work normally.
Im working with version 3.1.0.

# Example Code
[code]

# Output
[code]

# Output with editable = false
[code]

**Edit:** I found out that using `cellEdit.onStartEdit` does what I want and is the way to go when you want an onClick-function on

[2019-04-12 18:56] sshapoval commented on #898
+1

[2019-04-12 20:03] masterbater opened #906 "Previous version rerenders table with prop change"

[2019-04-13 09:03] nordicbondpricing opened #907 "Sorting fails when columns are expandable"
Hi

When a table is expandable, sorting fails. Edit: See the codesandbox example in next comment

[2019-04-13 13:55] benzJS commented on #898
Assign an empty array to expandRow.expanded to fix this. Hope helpful.

[2019-04-15 07:50] nordicbondpricing commented on #907
Hi

Added a codesandbox [example](https://codesandbox.io/s/m7126pv7zy)

[2019-04-15 07:59] yurii-sorokin opened #908 "The `expandRow` does not work with nested `keyField`"
The `expandRow` option does not work with nested `keyField` (e.g. `keyField="some.deep.id.key"`).
As I can see it's because of this line:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/497bf44192a99a0a6612317200aa940d0f1a12ab/packages/react-bootstrap-table2/src/store/expand.js#L28

[2019-04-15 11:38] #891 closed

[2019-04-15 11:38] #898 closed

[2019-04-15 11:58] AllenFang commented on #898
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html)

Please update related packages listed in above notes, thanks

[2019-04-15 12:00] AllenFang commented on #891
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html)

Please update related packages listed in above notes, thanks

@KBL9698 in newest version, we have [`onDataSizeChange`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#ondatasizechange-function) prop.

[here](https://react-bootstrap-table.github.io/r

[2019-04-15 12:00] AllenFang commented on #885
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html)

Please update related packages listed in above notes, thanks

[2019-04-15 12:00] #885 closed

[2019-04-15 12:01] AllenFang commented on #873
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html)

Please update related packages listed in above notes, thanks

[2019-04-15 12:01] #873 closed

[2019-04-15 12:01] AllenFang commented on #893
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html)

Please update related packages listed in above notes, thanks

[2019-04-15 12:01] #893 closed

[2019-04-15 12:02] AllenFang commented on #893
@rahulpsd18  thanks, I will update in next version!

[2019-04-15 12:05] AllenFang commented on #897
I think so far I will not consider this, cause of this is a major change for all of the users, so I will focus on feature enhancement until all the functions done then we can start to figure out how to enhance this. thanks!

[2019-04-15 12:05] #897 closed

[2019-04-15 12:08] AllenFang commented on #899
@ALuongIBM yeah, so far we didn't provide a way to custom the selection header, I will implement this ASAP, thanks

[2019-04-15 12:11] AllenFang commented on #902
@BharahthyKannan sorry for lately reply, I think dynamically generated column is possible definitely, I'm not very clear which part is the your concerns?

[2019-04-15 12:11] #902 closed

[2019-04-15 12:12] AllenFang commented on #907
@nordicbondpricing  fixed!

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/16/version-bump.html

[2019-04-15 12:12] #907 closed

[2019-04-15 12:13] nordicbondpricing commented on #907
thanks!

[2019-04-15 12:14] AllenFang commented on #903
@Chaosbit I will check this, it might be a bug, thanks

[2019-04-15 12:14] BharahthyKannan commented on #902
@AllenFang  I was about to close this issue, Sorry for reaching out to you, the issue is cleared and we missed initially few details so i raised this question. Thanks for your support ! ,  Taking this opportunity as you available, when we expect the release-2019-q1-4 available.?  we need a Sticky header option . Thanks!

[2019-04-15 17:23] ALuongIBM commented on #899
Thank you!

[2019-04-15 23:19] mathiaswillburger commented on #885
Great job, works perfect! Thanks for the quick resolution.

[2019-04-16 04:52] Puneetbh opened #909 "onlyOneExpanding passed true but all rows are getting expanded"
I used `onlyOneExpanding` flag in expandRow object as true but all rows are expanding. Below is my expand row object for reference

`const expandRow = {
  renderer: row => (
    <div><p>row name</p></div>
  ),
  showExpandColumn: true,
  onlyOneExpanding: true,
  expandByColumnOnly: true
};`

When i click on single row it is expanding all rows, I am not sure what is missing

[2019-04-16 05:03] zhr1130 opened #910 "Search doesn't work and generate duplicated rows in table"
react-bootstrap-table2 : 3.1.0
react-bootstrap-table2-toolkit: 1.4.0

I have a table only contains one column named "Class" and the value of the date is an array ['system', 'processer', 'system', 'processer', 'processer']
When I search on that column and type in processer, duplicated rows got generated and the result was messed up.

Repro:
export class Test extends React.PureComponent {
  render()

[2019-04-16 06:33] Puneetbh commented on #909
I got the work around, keyField needs to be unique for table

[2019-04-16 15:17] vinantinaik commented on #216
Hey @AllenFang   I am not able to locate if there is any update on keyboard navigation.
Is it already available?

[2019-04-16 17:26] zhr1130 commented on #910
It seems the reason is the keyField is not unique, after adding one more unique column, it works.

[2019-04-16 17:26] #910 closed

[2019-04-16 21:52] brave-merida opened #911 "`row expand` and `pagination` not working"
[code]

[code]

[2019-04-17 08:01] elmoro666 opened #912 "Row expand animation opt out."
Hi

It would be useful to be able to remove the animation on row expand. I find the old way to be much better:

[new](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Basic%20Row%20Expand&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[old](https://allenfang.github.io/react-bootstrap

[2019-04-17 08:14] elmoro666 commented on #912
I just saw there is an issue already on this. sorry about that. closing

[2019-04-17 08:14] #912 closed

[2019-04-17 12:51] YassienW commented on #912
@elmoro666 Hello, i'm the guy who wrote the row expand animation. I was just curious about why you think the motion isn't smooth?
I do agree that the animation should be optional though.

[2019-04-18 09:45] elmoro666 commented on #912
@YassienW  Sorry, maybe that came across a bit harsh. Here is a sandbox [example](https://codesandbox.io/s/1y8zkr7m7) of what I mean. Maybe it is just my eyes, but it seems to start slow, and then it speeds up at the end. It makes it seem not so smooth to my eyes. The main thing for me is that it is too slow. Our users need to drill down into details quickly, and so I prefer it without animation.

[2019-04-18 10:59] lovato commented on #859
@AllenFang I coded another feature, which led me back to the same issue, on a different Bootstrap Table property.

    "react-bootstrap-table-next": "^3.1.1",
    "react-bootstrap-table2-paginator": "^2.0.6",
    "react-bootstrap-table2-toolkit": "^1.4.1",

[code]
So, just by clicking here:
![image](https://user-images.githubusercontent.com/1213774/56356535-7ca6fb80-61af-11e9-8921-34fd97e28157.png

[2019-04-18 20:09] YassienW commented on #912
No problem. Thanks for the snippet! I do notice the visual bug. I didn't really test it on large bodies of text so i didn't realize this visual bug existed, i will surely look into it. The animation is indeed useless if all you care about is speed and not visuals, i'll see if i can add a prop to toggle it on/off as well since the css fix isn't really a fix.

[2019-04-18 21:26] elmoro666 commented on #912
@YassienW  That would be great. Thanks for looking into this

[2019-04-19 12:03] my1795 opened #915 "row expand gives error of key 'undefined' error"
In below part I have tried to implement a table. Data is retrieved from database before mounting the component. Selectrow is working properly. However if I want to use expandrow prop it gives me the error ; TypeError: Cannot read property 'includes' of undefined:

  42 |   var renderWithExpansion = function renderWithExpansion(props, expandRow) {
  43 |     var key = props.value;

  45 |     var i

[2019-04-19 12:05] KBL9698 commented on #891
Thank you!  I just upgraded and implemented!

[2019-04-19 12:09] my1795 commented on #915
Also if I would like to print rowKey in rowSelect property. It prints rowkey as undefined but I can use selectrow properly. If there is no row key, I have no idea why I can select the row. I am confused

[2019-04-19 23:49] waynebrantley opened #916 "file-saver IE11 issues"
We are having quite a few IE11 issues we traced back to file-saver which react-bootstrap-table2-toolkit uses.

1)  Would it be possible to upgrade to the 2.0 release of file-saver?
2)  Would you consider splitting out the 'file saving' ability to something like `react-bootstrap-table2-saving', etc?  We are not using file-saving, but are using the toolkit for search.

[2019-04-21 18:11] rufoot commented on #899
@AllenFang @ALuongIBM
I am trying to change the text color of the selected row and I am using the code as below.

`const selectRowProp = {
  mode: 'radio',
  style: { color: 'pink' },
  clickToSelect: true,
  hideSelectColumn: true,
  onSelect: onRowSelect,
}`

But it isn't working now. Do you have any idea?

[2019-04-22 11:29] KoGaYoung commented on #427
when i encountered this same problem today, i use cellEdit (https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/docs/cell-edit.md).  if you compare old value , new value, you can use this onChange.

[2019-04-22 11:31] KoGaYoung commented on #367
when i encountered this same problem today, i use "cellEdit" (https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/docs/cell-edit.md).  if you compare old value , new value, you can use this like "onChange".

[2019-04-22 18:09] dkulp23 opened #917 "Invalid prop `tableId` of type `number` supplied to `SearchBar`, expected `string`."
Allen, first and foremost thank you for making this excellent library available.
This morning I updated from v3.1.0 `=>` v3.1.1 and noticed this failed propType warning in the console.
I am only using 1 table per view so I have not previously made use of the `id` prop. I attempted to supply this to both the `ToolkitProvider` wrapper as well as to the `BootstrapTable` component with no success.
I c

[2019-04-22 18:37] dkulp23 commented on #917
🤦‍♂️ Just realized that a [PR](https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/914) has already been opened to patch this issue.

[2019-04-22 18:37] #917 closed

[2019-04-22 18:51] rmorgan0076 opened #918 "× Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
I am not sure where this error is being generated but any help would be greatly appreciated.

[2019-04-22 20:44] rmorgan0076 commented on #918
This is actually coming from the productgenerator.

[2019-04-23 03:37] LuisGSandoval commented on #627
Hi everyone.
I just notice that the samething happens to onExpand, when there's a this.setState inside it, it stops working.

Thanks to you all

[2019-04-23 04:00] LuisGSandoval commented on #627
Tryed to work my way around it using the events.onClick option in the columns object, but it also breaks the expand.

Please look it it  :cry: we would really apreciated

[2019-04-23 08:56] LuisGSandoval commented on #627
While it's beign taken care of, I found a posible solution for everyone out there.

I used:

const expandRow = {
 renderer: row => (...),
 expandColumnRenderer: (row) => {
    if (expanded) {
      return (
        <b onClick={()=> this.handleFunction(row.rowKey) }>-</b>
      );
    }
    return (
      <b onClick={()=> this.handleFunction(row.rowKey) }>...</b>
    );
  }
}

I hope it helps you t

[2019-04-23 09:02] LuisGSandoval commented on #627
I also tried this...

const expandRow = {
renderer: row => (...),
expandColumnRenderer: (row) => {
if (expanded) {
return (
<b onClick={()=> this.handleFunction(row.rowKey) }>-
);
}
return (
<b onClick={()=> this.handleFunction(row.rowKey) }>...
);
}
}

but it didn't work either.

In general it's a great tool though... But I'll have to find another way...

[2019-04-23 13:10] behrouz-s opened #919 "Do you have any plan to support row grouping."
It would be a good idea to support grouping on rows so end user could drag columns and group rows base on dragged column.

[2019-04-23 13:25] azxca1731 opened #920 "Question: How to get current seleted row?"
I want to know seleted row. so I enter your storybook.
I found page Exposed API. but it doesn't work well
[react-bootstrap-table2 storybook](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=Exposed%20API&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel).
when i clicked the button named

[2019-04-23 17:38] CrystalCo commented on #667
I would like to add (for newbies like me) that if you're using ToolkitProvider, the filter prop is not considered a baseProp (and neither is selectRow or expandRow from what I experienced).  So I resolved the above issue by moving the filter prop from  ToolkitProvider  to  Bootstrap :

[code]

[2019-04-24 07:40] Mirzamohammad22 opened #921 "SearchBar not occupying 100% width"
So i have followed the storybook for the react-bootstrap-table2, however for the SearchBar as documented in the storybook it does not take the 100%width of the screen, is there an property i can override to fix this

[2019-04-24 14:23] AllenFang commented on #921
I dont see this situation? where did you observer it or which story use followed?

[2019-04-24 14:26] AllenFang commented on #920
@azxca1731 sorry that I forget to update storybook, but the [doc](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html#get-current-selected-rows) is the correct way to get the selection. I will update storybook thanks

[2019-04-24 14:29] AllenFang commented on #919
hello @behrouz-s this functionality for me is much lower priority so far, so PR is welcome. When I have time, I will consider to implement it. BTW, maybe you can provide some example about row grouping. thanks

[2019-04-24 14:30] AllenFang commented on #918
@rmorgan0076 sorry, I can not help you without more information, please give me your code or something helpful, thanks

[2019-04-24 14:30] #918 closed

[2019-04-24 14:31] AllenFang commented on #917
@dkulp23 yeah, I will merge it before end of this week thanks

[2019-04-24 14:33] AllenFang commented on #912
Sorry for lately reply due to busy on my work. thanks @YassienW  and any enhancement is welcome 👍

[2019-04-24 14:34] AllenFang commented on #915
@my1795 what's the version of `react-bootstrap-table-next` ?

[2019-04-24 14:35] Mirzamohammad22 commented on #921
this is the story use followed
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Basic%20Search%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel.

this is my code:
-----------------------------------------------------------------------------------------------------------
<Toolki

[2019-04-24 14:39] AllenFang commented on #911
hello @brave-merida I can not reproduce your case, would you please help me to create an online demo for reproducing this?  [this](https://codesandbox.io/s/k5750vzzvv) is a example you can take but just remember to switch the version to newest. thank, I will reopen this issue if I can confirm this as a bug,

[2019-04-24 14:39] #911 closed

[2019-04-24 14:39] behrouz-s commented on #919
Thank you for your attention
you could find a good example here:
[material-table](https://material-table.com/#/docs/features/grouping)

[2019-04-24 14:41] AllenFang commented on #908
@yurii-sorokin sorry for lately reply, I will fix it by this week, thanks

[2019-04-24 14:42] AllenFang commented on #909
@Puneetbh sorry for lately reply and yes the `keyField` is supposed to be unique

[2019-04-24 14:42] #909 closed

[2019-04-24 14:46] AllenFang commented on #899
@rufoot we allow developer to custom the row style or class: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-row.html#row-style-class

So you can use above ways to custom the row, then the only remain thing is how do you know which row is selected. [`selectRow.onSelect`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowons

[2019-04-24 14:48] AllenFang commented on #904
@CaptainCthulhu sorry for lately reply, thanks for your information and I will fix it by this week

[2019-04-24 14:48] AllenFang commented on #921
@Mirzamohammad22 did you import the bootstrap css?

[2019-04-24 14:50] AllenFang commented on #921
the input is 100% width is due to I use `form-control` and that is from bootstrap's default styling

[2019-04-24 14:52] AllenFang commented on #905
@Devkutt I will spend time to investigate this, sorry for lately reply.

[2019-04-24 14:52] AllenFang commented on #906
sorry.. I can not help you without enough information.

[2019-04-24 14:52] #906 closed

[2019-04-24 14:54] Mirzamohammad22 commented on #921
yes i have imported 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'

[2019-04-24 14:54] AllenFang commented on #919
@behrouz-s thanks, I think it will be a big feature for me lol 🚀

[2019-04-24 14:55] AllenFang commented on #919
So far, I dont have enough time to maintain this project, so I think this feature is hard to implement in near future.

[2019-04-24 14:55] Mirzamohammad22 commented on #921
worked around the width by increasing it to 385%

[2019-04-24 14:55] AllenFang commented on #919
but will try my best 👍

[2019-04-24 14:58] AllenFang commented on #921
@Mirzamohammad22 oh ... import `react-bootstrap-table2.min.css` is not enough,  because `react-bootstrap-table2.min.css` only contain the table specified styling, you should add bootstrap to your project.

I didn't mention people should add bootstrap styling because this is a bootstrap component, so I assume developer should already have the bootstrap in their project. In addition, I also didn't i

[2019-04-24 14:58] #921 closed

[2019-04-24 15:01] AllenFang commented on #916
@waynebrantley so if i upgrade `file-saver` to newest version can solve all of your issues?
because if split the file-saving part, that will be a major change.

[2019-04-24 15:02] AllenFang commented on #916
btw, sorry for lately reply, busy on my job lol

[2019-04-24 15:04] AllenFang commented on #902
@BharahthyKannan currently, I'm busy on mu job, so I think I dont have enough time to deliver sticky header in near future, sorry~

[2019-04-24 15:40] thimo1 commented on #36
For a sticky column, you can do something like

`
/* first column */
table > tbody > tr > td:nth-child(1),
    table > thead > tr:nth-child(1) > th:nth-child(1) {
      background-color: #ccc;
      position: sticky;
      position: -webkit-sticky;
      left: 0;
      z-index: 1;
      border-top: 1px solid #ccc !important;
    }

/* last column */
    table > tbody > tr > td:last-child,
    tabl

[2019-04-25 02:34] YassienW commented on #912
@AllenFang Yeah i'm trying. Very busy on other projects as well :/

[2019-04-25 04:24] benkotch commented on #617
Hi @bookworm2death, were you ever able to get this to work? I see they have an example on the React Bootstrap Table home page, but I must be missing how to do this in the docs.
<img width="1012" alt="react-bootstrap-table2-sample" src="https://user-images.githubusercontent.com/380629/56709664-47cb0500-66d7-11e9-95e4-42929d834b9c.png">

[2019-04-25 07:58] rchaser opened #922 "Question: Programmatically Custom Remote Filter"
Could you please give example how to use all this concepts together?
I have custom filter controls for 3 columns (the custom controls are select inputs that in background load data from server), also in a distinct column I have a button, that should be the only way to call filtering on the server, no filtering should happen when user choose values in all 3 filters. Also I've already used remote pa

[2019-04-25 12:55] Shannibrst commented on #226
Hello Same problem how to set column width
above examples, not works for me

Thanks

[2019-04-25 13:35] azxca1731 commented on #920
@AllenFang Thank you for your attention! Doc is pretty cool

[2019-04-25 15:14] udenizdogan opened #923 "add label before page size dropdown"
Is it possible write like this 'Rows per page : ' before than page size dropdown ?

[2019-04-26 00:27] desertmark opened #924 "Question: How can I apply a mask to an input's filter?"
What I need is when the users types xxxxxxxx in a text filter for the filter's input to rewrite it as xx.xx.xx.xx

by providing some way to pass a callback that takes the value and formats it

[2019-04-26 01:05] lovato commented on #226
@Maneeshachandran and @Shannibrst ... can you share the code?

[2019-04-26 06:41] Maneeshachandran commented on #226
@lovato I need to increase the width of the first column. So I have used the style. But it is not working.
 var Columns = [
      {
        dataField: "description",
        text: "Description",
        editable: false,
        style:{
           width: '10%'
         }
     },
      {
        dataField: "deliverableSatus",
        text: "Deliverable Status",
        editor: {
          type: Type

[2019-04-26 07:35] my1795 commented on #915
Thanks, solved

[2019-04-26 07:35] #915 closed

[2019-04-26 16:37] wdonray opened #925 "Customize Cell Edit"
[code]
I would like to override the changing the text value to the code at the bottom of this.
Since you cannot edit the file name I am creating a new file whenever the user changes the name of that file. However it errors out due to it attempting to change the file name.

[2019-04-26 18:19] lovato commented on #226
@Maneeshachandran have you tried previous responses? That worked for me, and it is different from your approach.
Try:
[code]

[2019-04-27 06:45] AllenFang commented on #903
Hello @Chaosbit I can not reproduce this case, would you please give an online example so that i can help you?

You can use codesandbox and [here](https://codesandbox.io/s/k5750vzzvv) is an example you can take it but just be careful the version of `react-bootstrap-table-next` and so on, thanks

[2019-04-27 08:28] AllenFang commented on #922
@rchaser sorry I still not very clear about your question, I think in the online storybook, we had showed the ppl how to implement a remote filter or a custom filter. Maybe be you can just point me which part you are not clear.

if you can give me an online example and explain more detail that will be great: https://codesandbox.io/s/k5750vzzvv you can take this and remember to change the version.

[2019-04-27 08:28] #922 closed

[2019-04-27 08:33] AllenFang commented on #923
@udenizdogan please read [pagination](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html) docs, here we show you how to custom the pagination.

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20SizePerPage%20Dropdown&full=0&addons=1&stories=1&panelRight=0&addonPanel=st

[2019-04-27 08:33] #923 closed

[2019-04-27 08:36] AllenFang commented on #924
@desertmark we dont have this feature but I can implement a callback before setting the input value to the state. However, I have question, in your case, Do you want to filter the column by `xxxxxxxx`(Original value) or `xx.xx.xx.xx`(Formatted value)

[2019-04-27 08:44] AllenFang commented on #925
@wdonray sorry I can get you... when user edit the 'name' field, you want to ??????

What ?

[2019-04-27 08:55] #903 closed

[2019-04-29 05:28] Maneeshachandran commented on #695
@AllenFang Is there any way to disable the weekends in the calendar

[2019-04-29 05:37] Maneeshachandran commented on #226
@lovato Hi Lovato.. It is working for a simple table. Whereas in my case, I need to implement it for a large table. I have vertical and horizontal scroll bars for the table. For this table, I cannot able to fix the column width.

[2019-04-29 08:30] rchaser opened #927 "Remote Sorting and Custom Filter renderer"
Any time I click inside custom component for filtering (react-select), table fires onTableChange with type:"sort"

https://codesandbox.io/embed/7kky87yv2x

[2019-04-29 13:19] #899 closed

[2019-04-29 13:19] #904 closed

[2019-04-29 13:19] #905 closed

[2019-04-29 13:19] #908 closed

[2019-04-29 13:19] #920 closed

[2019-04-29 13:22] AllenFang commented on #905
@Devkutt I think we fixed this issue, [CHANGELOG](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/27/version-bump.html)

Please upgrade the packages which listed above to get newest patch, thanks

[2019-04-29 13:22] AllenFang commented on #908
@yurii-sorokin I think we fixed this issue, [CHANGELOG](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/27/version-bump.html)

Please upgrade the packages which listed above to get newest patch, thanks

[2019-04-29 13:23] AllenFang commented on #904
@CaptainCthulhu  we fixed this issue, [CHANGELOG](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/27/version-bump.html)

Please upgrade the packages which listed above to get newest patch, thanks

[2019-04-29 13:24] AllenFang commented on #920
Issue fixed : https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=Exposed%20API&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-04-29 13:26] AllenFang commented on #899
we fixed this issue, [CHANGELOG](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/04/27/version-bump.html)

Please upgrade the packages which listed above to get newest patch, thanks

@ALuongIBM in your case, please use [`selectRow.headerColumnStyle`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowheadercolumnstyle-object-

[2019-04-29 14:06] lovato commented on #226
@Maneeshachandran Sorry, but w/o code for this "large table", I can't understand the problem. I am using it across two projects, different table sizes, several tables, and everything is running smooth.

[2019-04-29 15:44] python273 opened #928 "Add way to place filters outside of table header"
Currently I do it this way:
[code]
but it seems hacky. Is there a better way?

Maybe it can be done via calling `onTableChange` handler? Or it's possible to add prop for filter values that would trigger table change when it's changed

[2019-04-29 17:32] mazhar-nbs opened #929 "Support for headerEvents onKeypress (for keyboard Accessibility Support)"
Hi @AllenFang ,
Thank you for such a useful package and great effort.

Currently headerEvents don't support onKeypress event and I need it for Accessibility Support like on pressing "Enter" key the sorting should apply on the table.

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnevents-object

[2019-04-30 11:14] rchaser commented on #922
@AllenFang for now in my application I've done something similar to this example, but I have concerns whether it is good approach or not.
https://codesandbox.io/s/pjr0242820
In this example I haven't implemented filter with custom component for short, but in my app one of the column filters using custom component

[2019-04-30 11:52] pranaytanniru commented on #401
did you find the solution to this problem,?
I have added the bootstrap css link but I can't see any borders.

[2019-04-30 17:32] mouerrr commented on #360
Hi @AllenFang, is this issue still not fixed?
Using NoDataIndication is not controllable with loading, so how can i solve this problem?
Thanks in advance

[2019-04-30 17:39] zhr1130 opened #930 "Accessibility issue: Search input doesn't have label"
We got accessibility warning for the search input:

Rule
label: Form elements must have labels  WCAG 1.3.1, WCAG 3.3.2

How to fix
Fix ONE of the following:
aria-label attribute does not exist or is empty
aria-labelledby attribute does not exist, references elements that do not exist or references elements that are empty
Form element does not have an implicit (wrapped) <label>
Form element does no

[2019-04-30 17:45] mouerrr commented on #761
@mathiaswillburger could you please provide me your solution to solve this problem, i have the same issue.

[2019-04-30 18:04] zhr1130 commented on #930
I created a PR to fix it: https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/931
Can someone take a look ?

[2019-04-30 18:23] mathiaswillburger commented on #761
@mouerrr I basically use the loading property (in my case a store which manages it) to overlay a spinner while data is loading. Depending on your CSS you can achieve centering it on the table properly, which is why I am wrapping it again in a `data-table-wrap` tag. I completely removed the `overlay` and `spinner` code mentioned above. This is more or less how you can achieve the same result:

[cod

[2019-04-30 19:07] ALuongIBM commented on #899
Thanks for the quick turnaround! I appreciate you checking the issues so frequently.

[2019-05-02 13:38] stilllife00 opened #932 "Click on selection checkbox causes row to expand"
I have configured my table with:

[code]

The table correctly selects and clicking on the row it correctly expands/collapse.
But when I click on the selection checkbox it should NOT expand/collapse. The version 1 of the library was working properly about this.

The usecase is that when a row is expanded and I click the checkbox to select, I don't want the row to collapse.

So basically the click o

[2019-05-02 19:36] sridhar-v9 opened #933 "Sort Table is adding the rows instead of refresh"
Team,

  Not sure Its problem in my code or not, When i click on sort on a column the DataTable is appending the new rows to the existing rows. Can you please guide..

 **Page loading**
![image](https://user-images.githubusercontent.com/16562639/57101425-cd0d7580-6ce6-11e9-94e7-31577a31d37c.png)

**After click on sort button of county column**

![image](https://user-images.githubusercontent.com/16

[2019-05-02 19:54] zhr1130 commented on #933
Is key field unique ? I had similar problem when filtering and it turned out the keyField I used is not unique.

[2019-05-03 15:12] sridhar-v9 commented on #933
*Sure **Rita Zhao** i will try and let you know the result*

[2019-05-04 18:54] BharahthyKannan opened #934 "Drop down editor : Display label instead of Value"
Hi ,
I am trying the drop down cell editor, giving different Label and Value. but I see the value is displayed on selection and not the Label.

How i can show selected Label rather than selected Value. Am i missing something here?

render(){

    const stocks=[
        {id:1,name:'Books',owner:'Books',type:'E'},
        {id:2,name:'Books',owner:'Books',type:'E'},
        {id:3,name:'Books',owner:'

[2019-05-04 19:29] mouerrr opened #935 "Implement multiselect edit dropdown"

[2019-05-04 22:53] eyle opened #936 "Custom Pagination With Search Not working correctly"
Hello,

I don't know if we should call it an issue , but here is the problem i encountered:
When filtering for a specific value , pagination works fine (It shows the right number of filtered page and the element filtered is shown in the table) .
The problem happens when data changes while filtering is still active(showing 1 page and 1 items that matches our filter) , when we load new data while se

[2019-05-06 14:25] #925 closed

[2019-05-06 16:38] dacevedo12 commented on #384
@ronz28 You are having that error because npm didn't install anything since @types/react-bootstrap-table-next does not exist.

@cancerberoSgx I've looked into your types and i think we should move on and push that to DefinitelyTyped. Even if it is incomplete, that would be enough for a first version.

It's been a long time since this issue was first opened and I (as many other TS-lovers) need this

[2019-05-07 07:04] rajaveernapu commented on #889
@AllenFang I am sorry , i didnt get any notification on this .

I have a requirement of load text box when loading grid as editable column. It is like want to show a textbox in one of the column.

JAWS and KEROS accessible tools are not reading this table headers. How can we add aria labels to headers ?

I have one css file , is there anyway to completely override my css with css default coming fr

[2019-05-07 12:07] Puneetbh opened #938 "Can we use multiple datFeilds in column header and data"
Hi @AllenFang,
Can we add multiple dataFields in column header ad data as like mentioned in attached
snapshot. Data part i can do  with formatting but how to mention 2 fields in header row. Please help

<img width="290" alt="Grid_header" src="https://user-images.githubusercontent.com/5443708/57297997-b3a56880-70ee-11e9-9f06-b860591b8d17.png">

[2019-05-07 20:22] sridhar-v9 commented on #933
Thank you  **Rita Zhao** tried and its working as expected now ...

[2019-05-07 20:23] #933 closed

[2019-05-08 09:50] Puneetbh opened #939 "Cannot read property 'selected' of undefined"
Hi @AllenFang,
I am using Grid in two tabs in same page. I have created one component for grid where i am passing properties based on props

`let gridAdditionalOptions = {
      cellEdit: cellEditFactory(cellEdit),
      defaultSorted: defaultSort,
      expandRow: expandRow,
      ...(Object.entries(selectRow).length !== 0 && {selectRow: selectRow})
    };

    gridAdditionalOptions = this.getPag

[2019-05-08 15:47] LucaNitti opened #940 "react-bootstrap-table2-overlay old dependency"
The last version of react-bootstrap-table2-overlay 1.0.0 has an old dependecy

 "dependencies": {
    "react-loading-overlay": "0.2.8"
  },

it's possibile to update it?

[2019-05-08 15:52] ALuongIBM opened #941 "Including Line Breaks in Headers"
Hi Allen,

When attempting to format the text in my headers, I have tried all the usual methods (\n, HTML break, etc.), but nothing seems to work. I cannot consistently get line breaks I need, and instead have to resort to guess and check on column sizing.

Am I missing something here? Do you know why the header columns ignore line break characters?

[2019-05-09 00:51] cancerberoSgx commented on #384
@dacevedo12 OK will try to put it to Definitely Typed in the short term, will keep you posted, thanks

[2019-05-09 07:43] harikrishnanmurthy opened #942 "Expand only specific rows based on a condition"
Hi Allen,

Currently, the expand row functionality seems to be all or one. I was wondering if there is a way we can expand only certain rows based on the values returned from the server for those rows? For instance,

        const expandRow = {
            showExpandColumn: true,
            expandByColumnOnly: false,
            renderer: row => (
                <div className="row-attachments">

[2019-05-10 14:56] Vinaythegreat commented on #928
I too want this feature !!

[2019-05-11 14:02] Vinaythegreat commented on #928
@python273 can you share the full code or codesandbox.io as i am anewbie to react and react table ? It will help me to understand it in a better way.

[2019-05-11 14:14] python273 commented on #928
@Vinaythegreat
https://stackblitz.com/edit/react-55g1xe?file=index.js

[2019-05-11 15:58] Vinaythegreat commented on #928
@python273 That helped me a lot. Thank you so much !!

[2019-05-11 17:40] Puneetbh commented on #939
Hi @AllenFang , kindly check my above issue

[2019-05-12 05:03] AllenFang commented on #889
Would you please point me where should I add the aria label on headers?  I can help to add :)

I think you can overwrite the css anytime.

so far we don't have this feature

[2019-05-12 05:08] AllenFang commented on #927
@rchaser sorry for lately reply, I will track this issue and see if we can fix this issue, thanks!

[2019-05-12 05:10] AllenFang commented on #927
@rchaser BTW, is it possible to avoid the click event on custom filter bubble up?  because in `react-bootstrap-table2`, we will listen the click event on header cell and for all the default filter component, we will call the `stopPropagation` to stop event bubble up.

[2019-05-12 05:11] AllenFang commented on #928
@python273 thanks your help 👍

[2019-05-12 05:11] #928 closed

[2019-05-12 05:14] AllenFang commented on #929
hello @mazhar-nbs sorry for lately reply, so far I think table header is not accessible so i will enhance it to make header cell accessible then you can use any event on `headerEvents`.

[2019-05-12 05:16] AllenFang commented on #932
@stilllife00 sorry for lately reply, I will enhance this in near future, thanks

[2019-05-12 05:19] AllenFang commented on #934
I think your value and label is reverse,

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Dropdown%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-05-12 05:19] #934 closed

[2019-05-12 05:22] AllenFang commented on #936
@eyle I will check this out. It could be a bug or could be not(Maybe just the wrong code for example )

[2019-05-12 05:46] AllenFang commented on #935
It's duplicate issue. I will spend some time to implement it.

[2019-05-12 05:46] #935 closed

[2019-05-12 06:05] AllenFang commented on #938
@Puneetbh no, but you can custom column and header column, in the custom function, we will pass row object to you.

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnheaderformatter-function

[2019-05-12 06:05] #938 closed

[2019-05-12 06:07] AllenFang commented on #939
@Puneetbh sorry for lately reply, busy on my job.  would you please give an inline example on codesandbox?  [this](https://codesandbox.io/s/k5750vzzvv) is an example you can refer it but just remember to change the dependency version to newest, thanks

[2019-05-12 06:19] AllenFang commented on #941
@ALuongIBM because the width of header cell is flexible, the only way you can do is

1. add the width on the specific `th`
2. give `overflow-wrap: break-word;` on that `th`

Let me know if the issue still remain, thanks

[2019-05-12 06:19] #941 closed

[2019-05-12 06:22] AllenFang commented on #942
@harikrishnanmurthy you an use `nonExpandable`:

[expandRow.nonExpandable](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrownonexpandable-array), [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Non%20Expandabled%20Rows&full=0&addons=1&stories=1&panelRight=0&addonP

[2019-05-12 06:22] #942 closed

[2019-05-12 07:37] python273 commented on #928
So is it recommended solution? Seems hacky to me

[2019-05-12 07:50] BharahthyKannan commented on #934
Hi Allen
Sorry i couldnt get it, in above example if user selects E, i should get the value 5. but the dropdown label also changed to 5 , Kindly check

[2019-05-13 09:05] rajaveernapu commented on #889
Thank you. We should have aria controls on our header columns and rows too dynamically.

Any plan to add onload editable textbox/dropdown/textarea ??

[2019-05-13 12:57] waynebrantley commented on #916
Cannot be sure if you upgrade it will solve all issues.  I know they solved some IE11 issues when updating to latest version.  Thoughts?

[2019-05-13 18:22] mswithenbank-fuze opened #943 "Cannot use pageListRenderer with PaginationListStandalone"
I would like to use a custom page list as a standalone component so that I can change the order of the pagination list and total.

However, when I use a custom page list, while it does appear to pass my `pageListRenderer` in the props, the custom page list is not rendered when used as a standalone component. Instead, the table renders the default page list.

Here are some code snippets.

As a side

[2019-05-13 20:08] ALuongIBM commented on #941
Thanks for the quick response!

[2019-05-14 03:23] harikrishnanmurthy commented on #942
@AllenFang : I tried using nonExpandable but it doesn't seem to honor the attribute. Am still able to expand all rows.

        const expandRow = {
            showExpandColumn: true,
            renderer: row => (
                <div className="row-attachments" id={"attachments" + row.id}>
                    <input type="checkbox" name={row.attachments} />
                    <span>&nbsp;&nbsp;

[2019-05-15 03:30] BarretL opened #944 "I need rowspan & colspan，but have not"

[2019-05-15 07:52] noeljoaquin30 opened #945 "Cell Editing:DropDown Editor with dynamic value"
Is there a way to input dynamic values in drop down editor ? instead of below example.
 type: Type.SELECT,
                     options: [{
                      value: 'A',
                       label: 'A'
                     }, {
                      value: 'B',
                      label: 'B'
                      }, {
                      value: 'C',
                      label: 'C'

[2019-05-15 09:06] Puneetbh commented on #939
Hi @AllenFang, Thanks for response
normal Grid is working perfectly but with my flow its throwing error. Can i get your availability to show you in which case its not working

[2019-05-15 12:57] stilllife00 opened #946 "Select row column position"
Is it possible to move the selection column all the way on the right instead of the left?

EDIT: I see in `aggregate-row.js` that you do a `childrens.push` for the `expandColumnPosition` but not for the `select column`.

Will it possible to add this feature ? If yes can you give an approximate timeframe?

[2019-05-15 14:42] maxsilvauk commented on #534
Yes is there any feedback on this I have a requirement for this for a project I am working on.

[2019-05-16 09:01] ududsha commented on #347
@AllenFang
I am retrieving the data for each page when we click on the page in the pagination as we have large number of data. Is there a way to keep 'checked' all the rows if we selectAll in the first page.

[2019-05-16 21:32] jbp17 commented on #544
@waynebrantley Thank you for sharing your solution.  What I actually mean to say is when will the functionality of updating the entire row be added.  Right now, the user can click or double-click any cell and modify the content of it.  It is a very nice and convenient feature.  But it might cause accidentally change of the data very easily.  Some end-user might not like that.  They might prefer to

[2019-05-17 09:13] stilllife00 opened #947 "Style select row column"
There is the option `selectRow.headerColumnStyle` which styles the header of the select row.
But there is no option to style the select column (the select cell of each row).

This is useful when making the table scrollable via CSS with a fixed header: in this case we need **tbody display:block**, which causes the column to loose their alignment between head and body. So setting for example headerS

[2019-05-17 13:08] Punithbn commented on #682
I have used bootstrap table and in that table default filter search will be there.
But i need some customization while filtering the items in search area., such that if user has to type minimum three(3) characters to obtain any search in the table.

can anyone help me :) in this.... please reply to this comment

[2019-05-17 13:38] oprobst-ethz commented on #943
Same here. Thanks!

[2019-05-17 18:03] abepark01 opened #948 "Custom Expand Toggle?"
Hello!

Is it possible to manually trigger the row expand on a row?
I do see that there is a `showExpandColumn` prop, but I was hoping to use a custom button that can expand the row when clicked upon.

For example, I have an edit button that should expand when clicked on.

![custom_toggle](https://user-images.githubusercontent.com/7087312/57947154-f86d9400-7892-11e9-91d5-5ed18f2a4211.png)

[2019-05-19 06:56] AllenFang commented on #942
@harikrishnanmurthy sorry for lately reply, would you please give me an online demo on codesandbox to reproduce your issue?

[this](https://codesandbox.io/s/k5750vzzvv) is an online example, just remember to change the version to the newest, thanks~

[2019-05-19 06:58] AllenFang commented on #941
@ALuongIBM sorry for lately reply, I think you already know where you should put the break line, the best way to do it so far will be [`column.headerFormatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnheaderformatter-function), use it to custom the header content

[2019-05-19 07:02] AllenFang commented on #928
@python273 and @Vinaythegreat  use [Programmatically Filter](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#programmatically-filter) will be the best solution

[example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Text%20Filter&full=0&addons=1&stories=1&panel

[2019-05-19 07:09] AllenFang commented on #939
@Puneetbh  as I mention above, please give an online demo for producing your issue. Sorry i really dont have enough time to spend for reproducing an issue which is hard to reproduce.

[2019-05-19 07:10] AllenFang commented on #940
@LucaNitti  sure, I will update it ASAP, thanks

[2019-05-19 07:11] AllenFang commented on #944
Hey @BarretL i know it. So far I dont have time on maintain this project. I will try to implement it when I have enough time, thanks. Any PR is welcome and close it due to duplicate

[2019-05-19 07:11] #944 closed

[2019-05-19 07:36] AllenFang commented on #943
@mswithenbank-fuze  @oprobst-ethz You can not use `PaginationListStandalone` and `pageListRenderer` at the same time.

The purpose of `PaginationListStandalone` is you want to put this component in a custom position
The purpose of `pageListRenderer` is you want to custom this component

If you want to do both of them, you can just:

[code]

`paginationProps` have all the necessary for you to custo

[2019-05-19 07:36] #943 closed

[2019-05-19 07:44] AllenFang commented on #945
@noeljoaquin30 so far we dont have this feature. I will consider to implement it in future.

[2019-05-19 07:46] AllenFang commented on #916
@waynebrantley anyway, I will try to upgrade. If the issue still remain then I will consider to separate it out.

[2019-05-19 13:14] #916 closed

[2019-05-19 13:14] #929 closed

[2019-05-19 13:14] #940 closed

[2019-05-19 13:14] #932 closed

[2019-05-19 13:24] AllenFang commented on #916
@waynebrantley I upgrade file savers and please upgrade below packages to newest:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/05/19/version-bump.html

[2019-05-19 13:24] AllenFang commented on #932
Fixed it and please upgrade below packages to newest:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/05/19/version-bump.html

[2019-05-19 13:25] AllenFang commented on #929
Fixed it and please upgrade below packages to newest:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/05/19/version-bump.html

[2019-05-19 13:25] AllenFang commented on #940
Fixed it and please upgrade below packages to newest:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/05/19/version-bump.html

[2019-05-19 13:25] AllenFang commented on #930
Fixed it and please upgrade below packages to newest:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/05/19/version-bump.html

[2019-05-19 13:25] #930 closed

[2019-05-19 21:16] arhimmel commented on #617
@bookworm2death any luck with this?

[2019-05-19 21:36] benkotch commented on #617
@arhimmel It looks like they removed that feature in the current versions. I ended up going with a different solution.

[2019-05-20 07:32] shubuu97 commented on #347
In remote mode, if we use selectAll button, it de-selects the old page when we select another page.

[2019-05-20 11:37] mpeng opened #950 "Can not set background color for default selection"
I want to set background color on  default selected rows, But it does not work. I can only set background color with click event.

.i.e. In the example below,

when "**selected**" is used, then  "**bgColor**" does NOT work. Any idea how I can fix it and if there is a workaround ? Thanks

  selectRow = {
    mode: 'checkbox',
    clickToSelect: true,
    onSelect: this.handleOnSelect,
    hideSelec

[2019-05-20 13:18] ronaiza-cardoso opened #951 "Box Shadow on tr"
There's a way of add box shadow to one tr?

https://stackoverflow.com/questions/10874985/box-shadow-on-table-row-not-appearing-on-certain-browsers

[2019-05-20 18:48] Vinaythegreat commented on #936
Is there any hotfix now ?

[2019-05-21 16:47] mpeng commented on #207
Any update on using Tab to navigate between cells ? I agree with DrogoNevets, missing of this feature could be a deal breaker for many.

[2019-05-22 00:49] hyvyys opened #952 "Custom filter not cooperating with regular filters"
I implemented a custom filter function like this:

    priceFilter = (filterVals) =>
      this.books
        .filter(product =>
          ((filterVals.min && product.price >= filterVals.min) || !filterVals.min)
          &&
          ((filterVals.max && product.price <= filterVals.max) || !filterVals.max)
        );

The column object looks like this:

    { dataField: 'price', text: 'price',

[2019-05-22 08:19] hyvyys commented on #952
Should I use remote filter instead?

[2019-05-22 10:13] hyvyys commented on #952
I solved my issue by duplicating the column as col_min and col_max, applying regular number filters to them, and calling them programmatically from onChange of inputs in a custom header of the original column that mimicks what filter looks like but has two fields with no dropdowns for comparators. To the original column I didn't add filters.

[2019-05-22 15:18] mswithenbank-fuze commented on #943
Thanks for the reply @AllenFang.

What I am ultimately trying to do is move only the pagination total to the top (by default, it is shown in the bottom, below the table). I still want to show the pagination pages on the bottom.

It seems the pagination total and the pagination pages are grouped together at the bottom, but I need to separate them. This is why I was trying to use `PaginationTotalSta

[2019-05-22 23:03] agushurst opened #953 "How to supply a value to selectRow column?"
Is there a way to impart a value on the checkbox inputs when the selectRow attribute is added to a table? When I supply a selectRow attribute, I see the checkbox column appear, but I can't seem to find a way to add a value attribute to the checkbox inputs. For instance, I would like to express:

selectRow = {
        mode: "checkbox",
        clickToSelect: true,
        dataField: "id"
};

This w

[2019-05-23 13:22] eyle commented on #936
Hello back ,

This issue also hapened to me when using actions buttons in table Cell, let me explain this:
I had  formatter function  on one of the cell(Called Actions) that displays icons[Delete,Add,etc...) (When clicked they launched a reactstrap Modal in which i had several forms ) , I noticed that when search is still active and modal is toggled/opened , the bug occur  (We got pagination back

[2019-05-23 13:46] armohammadi56 commented on #812
@gcko yes

[2019-05-23 19:25] ethannkschneider opened #954 "Remote Search: onSearch only triggers onTableChange if the input has changed"
Hi - great library!

I am using the remote-all feature (with Toolkit Provider) and am wondering how I can get a bit more control over the search functionality.

I have a custom search component that receives the tkProps.searchProps and fires the onSearch callback when the user searches. Normally, calling onSearch will trigger the onTableChange callback in the bootstrap table; however, this seems t

[2019-05-23 20:23] ethannkschneider commented on #954
I think I can get around this by extending the toolkit provider component and overriding the onSearch method from:
[code]
to:
[code]

Any idea if this will cause any unexpected side effects? Thanks!

[2019-05-23 20:45] wparrott-touchnet opened #955 "tabindex on table headers should not be > 0"
Setting a tabindex greater than 0 for any element effectively takes it out of the tab order of the rest of the page and bumps it to the top. As a result, the change in a1457dfe5900bc6071d450ab58d60e1fa3bd8133 actually worsens the accessibility of tables rather than enhances it.

https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2019-05-24 14:54] ethannkschneider commented on #954
Sticking with my hacky workaround for now (it involves adding a datestring to the search text to ensure uniqueness). I don't see anything about this in the API so I will assume it is not supported.

[2019-05-24 14:54] #954 closed

[2019-05-24 17:36] MaxOrelus opened #956 "Disable expandAll but allow individual row expand"
Hi,

I'm using the `expandRow` settings to show a expand column. I like the ability to expand individual rows, but I'm trying to completely disable the expandAll functionality in the column header. Is there a way to do this?

[2019-05-27 03:39] enf0rc3 opened #957 "Export CSV, opens as blob: instead of csv: on IPad's & IPhones"
When exporting as CSV on IPads and IPhones the device treats the exported file as a blob text (big text string) instead of as a csv (nicely formatted table).

Example:
![react-bootstrap-table-blob](https://user-images.githubusercontent.com/751986/58393931-07272880-8095-11e9-90eb-37c79cfeb314.png)

This is because the exporter.js line 61 is exporting as the following:

`new Blob([content], { type:

[2019-05-27 07:23] humayunkabir commented on #236
Hello,
I want to fix this issue. The class `col-xs-6` used in this code is not even a Bootstrap 4 class. How to contribute here. I am new in open source.

[2019-05-27 15:34] jordan1982 opened #959 "Click Radio Button with React Hook"
Hi @AllenFang,
with React Hook i have to click twice on the radio button to select the row, all it's ok without React Hook (using setState). Why this behaviour?

Thanks

[2019-05-27 15:38] Karamir79 commented on #959
hi @jordan1982
    @AllenFang
i've the same issue ....
can anyone help me ?
Thanks

[2019-05-27 20:39] morganldev6 opened #960 "How to trigger a table rerender after cell edit, not row select"
Thanks so much for this great library!

**Here is my issue:**
I have a table that combines row selection, cell editing, and a custom footer function. The last column is a list of prices, with a footer function that gives the total sum of the values in that column. Each price is also editable. However, the footer does not update with the new total sum based on the edits until that row has been sele

[2019-05-28 09:50] cdevent opened #961 "How to wrap checkbox in addition div and label and make it clickable?"
Hi, I need to customize checkbox and  I can't normally wrap it,

I've added additional wrapping elements - then when I'm clicking on this it's not selecting a row, working only clicking on a row.

Here is' fragment:
[code]

[2019-05-28 10:48] #959 closed

[2019-05-29 00:39] enf0rc3 commented on #957
@AllenFang What are your thoughts on this??

I have added a PR, let me know if you need any changes.

[2019-05-29 07:01] devevignesh commented on #902
@AllenFang @BharahthyKannan Could anyone explain me about dynamically generated columns
Assume the below code as JSON response
[code]
Instead of having the raw data, is there any possible to render it from JSON response? Thanks.

[2019-05-29 09:05] jasonusdid commented on #662
Hi experts,

I  got silimar issue, the searchbar, clearSearchButton and csvExportButton cann't show normally, could you help to take a look plz? Put the code as below.

import React from 'react';
import  BootstrapTable from 'react-bootstrap-table-next';
import ToolkitProvider, { Search, CSVExport } from 'react-bootstrap-table2-toolkit'
import 'react-bootstrap-table-next/dist/react-bootstrap-table2

[2019-05-29 11:00] clmz commented on #912
Any updates on this?

[2019-05-29 14:00] BharahthyKannan commented on #902
@devevignesh
We just iterated the JSON response and generated the columns Array( with datefield, text, style and all necessary fields)
let me know if not clear, will try to generate a small sample. Thx

[2019-05-29 15:20] YassienW commented on #662
@jasonusdid In the future please place the code in `code` tags (between ``) or preferably create a working example on https://codesandbox.io with your issue, this makes it easier to help and reduces syntax errors. Your code has some critical problems, not really related to this issue:
1. The `<ToolkitProvider>` element is not closed. This element accepts a function as a child, this function should

[2019-05-30 01:59] jasonusdid commented on #662
Hi @YassienW , Thanks a lot for your help.
The syntax errros are caused by something wrong when coping the code. and the btn style issue is due to the initial code without no className specified as below.

export default class CustomTable extends React.Component {
  render() {
    return (
      <div>
        <ToolkitProvider
          bootstrap4
          keyField="id"
          data={ products }

[2019-05-30 02:03] jasonusdid commented on #662
![image](https://user-images.githubusercontent.com/46767525/58603045-ceb86200-82c1-11e9-8e65-bf11318d6487.png)

it's strange that the code cannot be copied with some keywords for example <div> ...

Anyway, Thanks again @YassienW  for help

[2019-05-30 03:15] jasonusdid opened #962 "something wrong with ColumnToggle"
Hi experts

Something wrong with the basic ColumnToggle, could you help to take a look please? Thanks a lot.
Put the code in codesandbox.

https://codesandbox.io/s/reactbootstraptable2-662-b96hm

Thanks.

[2019-05-30 07:40] ahmarkhan commented on #519
@AllenFang  : Is it implemented ?

[2019-05-30 08:06] YassienW commented on #662
I am unsure whether the buttons are supposed to be unstyled by default or not, perhaps you should open a new issue

Also, using 3 ticks sorts the code out \`\`\`code\`\`\`

[code]

[2019-05-31 01:43] jasonusdid commented on #962
Hi, @AllenFang , could you help to take a look please? Thanks a lot in advance.

[2019-05-31 09:00] devevignesh commented on #902
Hey @BharahthyKannan,

It could be better to understand if you get some example. Thanks for your time.

[2019-06-01 05:52] AllenFang commented on #889
@rajaveernapu sorry for lately reply, too busy lol .  I think i can implement it but no schedule so far. so any PR is welcome, thanks

[2019-06-01 05:53] AllenFang commented on #936
sorry for lately reply, I will be back to this project after my crazy busy hell. if everything ok, i will come back in the mid of Jun.

[2019-06-01 05:57] AllenFang commented on #943
sorry for lately reply, @mswithenbank-fuze I think the only way so far is use standalone component.

[2019-06-01 06:00] AllenFang commented on #946
@stilllife00  sorry for lately reply, I will be back to this project after my crazy busy hell. if everything ok, i think I can come back in the mid of Jun.

About your requirement, I think it's not pretty hard to implement, Hope I can implement it soon bit it's hard to give you a timeframe. sorry about this

[2019-06-01 06:03] AllenFang commented on #947
@stilllife00 understand, I will add it. thanks for this suggestion.

[2019-06-01 06:09] AllenFang commented on #948
@abepark01 I think the best way to achieve it is use [`expandRow.expanded`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpanded-array)

[2019-06-01 06:09] #948 closed

[2019-06-01 06:15] AllenFang commented on #950
@mpeng it's work for me, would you please give me more information. I think you can write a example online in the codesandbox so that i can reproduce it, thanks

[2019-06-01 06:18] AllenFang commented on #951
i think you can use `rowClasses` or `rowStyle` . https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#rowclasses-string-function

[2019-06-01 06:18] #951 closed

[2019-06-01 06:24] AllenFang commented on #952
sorry for lately reply @hyvyys    I took a look on you code quickly, I think everything is ok.  if the issue still remain, please put your code in the codesandbox so that i can easy to reproduce it, thanks

[2019-06-01 06:24] #952 closed

[2019-06-01 06:36] AllenFang commented on #953
hello, you can use [`selectRow.selectionRenderer`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowselectionrenderer-function)

[2019-06-01 06:41] AllenFang commented on #955
oh sorry, it' probably my mistake and it should always be zero. I will enhance it soon

[2019-06-01 06:44] AllenFang commented on #956
@MaxOrelus sorry for lately reply, and so far we don't support any toggle to turn off expand all function, but there's a tricky way to close it is via [`expandRow.expandHeaderColumnRenderer`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandheadercolumnrenderer-function), and you can just return null to render nothing on expand column header.

[2019-06-01 06:44] #956 closed

[2019-06-01 06:47] AllenFang commented on #957
@enf0rc3 sorry for lately reply and thanks for you PR and overall is good but I have some comment in your PR, please check

[2019-06-01 06:59] AllenFang commented on #960
@morganldev6 i think you can call `forceUpdate` in [`cellEdit.afterSaveCell`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/cell-edit-props.html#celleditaftersavecell-function)

[2019-06-01 06:59] #960 closed

[2019-06-01 12:50] mpeng commented on #950
@AllenFang , It works for me too. I must miss something earlier. My bad. Thanks

[2019-06-01 12:50] #950 closed

[2019-06-01 12:53] mpeng commented on #207
I am able to follow code samples provided by @teresa-recursion and @royjer to implemente the features, thank you !

[2019-06-01 15:27] xxporkoxx commented on #207
@mpeng i didn't understand what you just said. Where you able to impement the Tab Navigation? Or not? You would be a god if you were able to do this and provide us a pull request haha!

@DrogoNevets didi you guys moved to another component or just implemented something to overcome the Tab Navigation?

[2019-06-01 16:27] DrogoNevets commented on #207
@xxporkoxx
We moved to react-data-grid there wasn’t any response from the maintainers or guidance on timeline or anything

[2019-06-01 18:26] mpeng commented on #207
@xxporkoxx , I made the changes locally and uses the file as part of my code.

I attached the entire file I am using to this thread.  Just change the extension from 'txt' to 'js' and reference it in your code. It should work.  The only thing I hard-coded is the # of column. My table has 7 columns and first column is not editable. See below

		if (nextCol >= 7 ) {
          nextCol = 1;
          n

[2019-06-02 23:27] agushurst commented on #953
Thanks for the response. I found what I needed under the "Exposed API" in the Storybook. The example showed how to get the currently selected id's with the following sample code:

  handleGetSelectedData = () => {
    console.log(this.node.selectionContext.selected);
  }

Following this example, I was able to get the id's from the user selection. Closing the issue as the intent of my issue is alre

[2019-06-02 23:27] #953 closed

[2019-06-03 04:39] ArouiniLobna opened #963 "implement edit/delete action within a menu of the row"
Hello Every one,

I am trying to use material-table within my project, however i am stuck with few features that i need and not sure how to do that using this library.

basically i have rows with data, and in each row i got a menu that pop up edit/delete options. Curently they only show next to each other within action column.

Also, another feature i need is: in a cell, if i dont have data, i nee

[2019-06-03 12:01] anuragb26 opened #964 "Load editor renderer by default"
I have overwritten the checkbox provided to load a custom toggler using the Editor renderer.
But the issue is that since "mode" is either "click" or "dbClick" , user will have to click the column twice..on first click the editor renderer will be loaded and second click,editor renderer will toggle the checkbox.

How can I load the editor renderer by default?..i.e without the first click to activate

[2019-06-03 13:54] wparrott-touchnet commented on #955
No worries. I know I've done the same thing before. I can submit a PR if that'll help.

[2019-06-03 14:31] fabriciopirini commented on #612
This solution worked for me but I found it easier to create the rule on my css file:

`.react-bootstrap-table table {
  table-layout: auto !important;
}`

[2019-06-05 06:28] katielo0830 opened #966 "defaultSorted is not working with ToolkitProvider"
example: https://codesandbox.io/s/reactbootstraptable2toolkitdefaultsortedpropisnotworking-gewmw?fontsize=14

The BootstrapTable handled defaultSorted properly, but not the one in ToolkitProvider.

[2019-06-05 07:12] katielo0830 commented on #966
I found that I should put 'defaultSorted' in <BootstrapTable> component instead of <ToolkitProvider>.

[2019-06-05 07:12] #966 closed

[2019-06-05 10:51] modusV commented on #484
Hey @masihtamsoy! Did you manage to implement this feature? I would love to use it

[2019-06-05 11:51] AllenFang commented on #961
@cdevent [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example.

I think you can render checkbox with any wrapper, it's not an issue.  and just make sure all the props all pass down to checkbox element, for

[2019-06-05 11:51] #961 closed

[2019-06-05 12:00] AllenFang commented on #962
@jasonusdid two thing you did wrong:

1. the prop on `ToolkitProvider` should be `columnToggle` instead of `ColumnToggle`

2. the props which render onto `ToggleList` should be `props.columnToggleProps` instead of `props.ColumnToggleProps`

[2019-06-05 12:00] #962 closed

[2019-06-05 12:03] AllenFang commented on #963
@ArouiniLobna I think it's a irrelevant issue to `react-bootstrap-table2`

[2019-06-05 12:03] #963 closed

[2019-06-05 12:08] AllenFang commented on #964
hello @anuragb26, sorry for lately reply, this requirement was asked before but so far I don't have plan to implement it. I will consider to implement this feature after I get free time.  sorry about I'm too busy recently lol

[2019-06-05 12:09] AllenFang commented on #964
But another question will be how user perform the saving action?  press enter or I need to render a submit button beside the editor? or any idea?

[2019-06-05 14:11] workgena commented on #622
This issue had been solved by #325

[code]

[2019-06-05 14:14] workgena commented on #291
This issue had been solved by #325

The correct Bootstrap-way is

[code]

And it can be done by following snipped

[code]

[2019-06-06 07:41] chenrico opened #968 "is it possible to expand and get more rows?"
![image](https://user-images.githubusercontent.com/20782410/59015335-16228d80-8882-11e9-9458-0f1483b2757a.png)
Is it possible to use expandable rows for this kind of table?
I tried to do it but it's wrapped in another div and it looks weird.

![image](https://user-images.githubusercontent.com/20782410/59015404-3d795a80-8882-11e9-97eb-5828cb13f5ef.png)

Is there a way to achieve this? Cheers.

[2019-06-06 14:56] carchan1 opened #969 "setState in expandRow.onExpand will break the row expand"
First of all, thanks @AllenFang for your wonderful work! 🎉

Would it be possible to apply the same fix as on `selectRow.onSelect` (https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/627) on `expandRow.onExpand`?

I would like to modify cells of an expanded row using `setState`. Actually, I would like to hide everything in the 'main' row so it doesn't repeat what would be in the

[2019-06-06 15:05] carchan1 commented on #969
Other question:
Is it possible for my filter to also search inside the expanded table?

[2019-06-07 10:23] shhdharmen opened #970 "lastPageTitle not working, taking value of firsPageTitle"
- Description: When we give blank space values to both pagination optios: `firstPageText` and `lastPageText`. `lastPageTitle` takes same value as `firstPageTitle`.

- Example code or repo: https://stackblitz.com/edit/react-v85cxp?file=Hello.js
- Steps to reproduce: Set `firstPageText` and `lastPageText` as blank space, `lastPageTitle` will take same value of `firstPageTitle`
- `react-bootstrap-tab

[2019-06-07 11:24] shhdharmen commented on #970
Maybe I have found the reason behind this issue, but not sure how to fix:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/60eb47dc9e965854c5a3e50297a7928451f43c37/packages/react-bootstrap-table2-paginator/src/page-resolver.js#L141-L145

So, in above code, for both `firstPageText` and `lastPageText`, it will match conditon of [L141](https://github.com/react-bootstrap-table/rea

[2019-06-07 14:11] carchan1 commented on #864
If you are like me and really needed a search bar and filterValue wasn't the solution, and hidden column with all the row's data do the trick.

[2019-06-07 18:28] muiruri commented on #927
I achieved the same by having an `onClick` event on my rendered component and calling `stopPropagation` when the event is triggered. Could be wrapped in a `div`

[2019-06-08 05:20] AllenFang commented on #968
@chenrico so far we can do it like that, but I can implement this feature

[2019-06-08 05:29] AllenFang commented on #969
hello @carchan1 sorry for lately reply.  I will try to implement this function but so far too many thing I need to do for this project, so there's a workaround is you can still call `setState` to do whatever you want but you need to manage the expand state as well:

[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Ex

[2019-06-08 05:38] AllenFang commented on #970
hmm..  yeah this is an edge case but can I know why you set the blank text for both of first & last page button?

[2019-06-08 06:52] AllenFang commented on #936
So far this case only happen when load the same data twice.  This issue maybe hard to fix so far under current design. so be patient, I will fix it with best way

[2019-06-08 08:18] AllenFang commented on #927
👍

[2019-06-08 08:18] #927 closed

[2019-06-08 08:24] AllenFang commented on #939
Close due to no response more than 20 days

[2019-06-08 08:24] #939 closed

[2019-06-09 17:50] amirafzali opened #971 "MultiSelectFilter breaking IE11"
Hi,

I'm building an app and need to support IE11. When using multiselectfilters, all browsers render fine except for IE.
At first I noticed this on my app, but the issue persists on the storyboard example
(https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=MultiSelect%20Filter&full=0&addons=1&stories=1&panelRight=0&addonP

[2019-06-10 01:47] jasonusdid commented on #962
Hi @AllenFang , Thanks a lot. it works now.

[2019-06-10 10:47] shhdharmen commented on #970
I am trying to set a background image for both through css and don't want any content in it. Anyways, it worked when gave: `<span />` instead of blank space. I am closing it.

[2019-06-10 11:55] shamvenkat opened #972 "Display react Bootstrap Popover when click on a cell"
react-boostrap-table 2 does not support this feature. is there any way to add popover the particular column cells.

[2019-06-10 12:29] carchan1 commented on #969
It works, thanks @AllenFang

[2019-06-10 12:29] #969 closed

[2019-06-10 12:51] #945 closed

[2019-06-10 12:51] #946 closed

[2019-06-10 12:51] #947 closed

[2019-06-10 12:51] #955 closed

[2019-06-10 12:56] AllenFang commented on #947
hi, we already implement this feature, now you can use [`selectRow.selectColumnStyle`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowselectcolumnstyle-object-function) to custom it and [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection%20Column%

[2019-06-10 12:57] AllenFang commented on #946
hi, we already implement this feature, now you can use [`selectRow.selectColumnPosition`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowselectcolumnposition-string) to custom it and [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Column%20Position&f

[2019-06-10 12:58] AllenFang commented on #945
hi, we already implement this feature, now you can use [`editor.getOption`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#editorgetoptions) to configure it and [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Dropdown%20Editor%20with%20Dynamic%20Options&full=0&addons=1&stor

[2019-06-10 12:59] AllenFang commented on #955
hi, we already implement this issue. Please upgrade the relevant packages list in below:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/10/version-bump.html

[2019-06-10 13:00] AllenFang commented on #957
hi, we already implement this and please upgrade the relevant packages list in below:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/10/version-bump.html

[2019-06-10 13:00] #957 closed

[2019-06-10 13:02] AllenFang commented on #812
@armohammadi56 and @gcko you guys can use [`selectRow.nonSelectable `](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrownonselectable-array)

[2019-06-10 13:02] #812 closed

[2019-06-10 13:04] AllenFang commented on #970
👍

[2019-06-10 13:04] AllenFang commented on #969
👍

[2019-06-11 07:37] shhdharmen commented on #970
Sorry, but if we use jsx element instead of string, it gives compile time errors.

[code]

Example: https://stackblitz.com/edit/react-wjhzky?file=Hello.js

[2019-06-11 12:21] stilllife00 commented on #624
@AllenFang the docs says the props accept ANY but when passing a JSX element in the console I get an error that the expected prop should be a String.

The table renders properly though.

Passing jsx is very useful to put icons instead of text.

[2019-06-11 20:58] Amritpd commented on #550
Out of the box support for this would be very helpful!

[2019-06-12 01:32] apchandr commented on #280
Any update on "insertRow and deleteRow features for react-bootstrap-table2" ?

[2019-06-12 06:56] raindecastro commented on #367
is there already a good solution for this?

[2019-06-12 13:53] apchandr commented on #37
@AllenFang, Can you please add insertRow and deleteRow feature for react-bootstrap-table2.

[2019-06-12 20:37] ethannkschneider opened #974 "Question: Programmatically Trigger Sort"
Hello,

First off, great project and thanks for all the active support!

I am wondering if there is anyway to programmatically trigger the sort event without manually clicking the table. In other words, something analogous to the ```getFilter()``` feature, but for sorting.

For context, I am using the remote-all prop for the table and have a bunch of custom code on the page. I want to be able to d

[2019-06-12 22:41] GabrielNicolasAvellaneda commented on #682
Using the exposed-api, to get the filtered data you should access `this.node.filterContext.data`

[2019-06-13 02:55] rathnamvemula opened #975 "How to use this component with ReactJS 15.x"
Hi,
I have an app developed using ReactJS 15.x. Is there a way to use this component in 15.x version?

[2019-06-13 20:55] anuragb26 commented on #964
Apologies for the delay in responding.
Save button cab still be set to  blurToSave: true from the cellEditFactory or the Press Enter which is the default.
I badly need this feature since I have to show a toggle switch in the columns.This will also be needed for anyone needing a radio button or basically any toggle/untoggle like functionality.

[2019-06-14 09:30] ronaiza-cardoso opened #976 "Row Expand Td Size"
There's a way of reducing the size of the table row?

[2019-06-14 13:21] Devkutt opened #977 "Cell Editing(Dropdown): TypeError when using getOptions"
### Version
- react-bootstrap-table-next: 3.1.4
- react-bootstrap-table2-editor: 1.2.4
### Description
I used the Dropdown editor for cell editing with its `options` props and it worked fine. After that I wanted to use `getOptions` instead, but got the following error:
[code]
### Code
After getting the error, I tried to use the example from [the docs](https://react-bootstrap-table.github.io/react-

[2019-06-14 15:19] LoicHa commented on #207
Sadly , this feature was not included in the latest version _1.2.4_
@AllenFang any news about it ?

[2019-06-14 16:28] gabrieldonadel opened #978 "Remote set a Cell editingColIdx and editingRowIdx"
Is there a way that I can remotely set editingColIdx and editingRowIdx so that when I add a new row a cell of it already came in the editor mode?

[2019-06-17 04:34] zylin1206 opened #979 "Column formatter seems to conflict with expandRow."
**Version**
react-bootstrap-table-next: 3.1.4

**Description**
I have a column contain a button that will show if the row hovers. To achieve that, I use `rowEvents` to catch the event and `setState` to update the cell through `formatter` (I use `formatExtraData` to pass extra data). It works fine when my table doesn't have `expandRow`.
When I add `expandRow` to my table, the function of `formatter

[2019-06-17 11:34] AllenFang commented on #964
i think for my plan so far will be render a submit button if `blurToSave` is false.

sorry, I can't get you

[2019-06-17 11:36] AllenFang commented on #970
Hello @shhdharmen, so far the `firstPageText` only accept a string for customization. I will allow it to accept jsx in next version, thanks

[2019-06-17 11:44] AllenFang commented on #971
@amirafzali sorry for lately reply, i will fix it soon

[2019-06-17 11:53] AllenFang commented on #972
@shamvenkat sorry for lately reply, i think this feature is minor for me, I won't support it in near future. so PR is welcome.

[2019-06-17 12:00] AllenFang commented on #974
@ethannkschneider indeed, so far i didn't implement too many features for sorting. i will implement it when I have time but no eta. However, there's a workaround is though exposed API:

[code]

[2019-06-17 12:03] AllenFang commented on #975
@rathnamvemula you can't.  because we rely on new context api so that is impossible to use React@15

[2019-06-17 12:03] #975 closed

[2019-06-17 12:08] AllenFang commented on #976
How about add some padding in `row-expansion-style` to make it like the much smaller? Not very clear about your requirement.  It will be great if you can illustrate it

[2019-06-17 12:16] AllenFang commented on #977
@Devkutt sorry for lately reply, I can not reproduce your issue, are u sure your dependencies is newest(`react-bootstrap-table-next` and `react-bootstrap-table2-editor`)?.

If dependencies is newest absolutely, please give me an online example via codesandbox.io so that i can reproduce it.

[2019-06-17 12:21] AllenFang commented on #978
@gabrieldonadel hmm..  i think it's not so easy to implement lol .  in deprecated `react-bootstrap-table`, we had similar case that is due to we natively support "row adding" functionality.  but so far we don't have in this package.  In my perspective, this requirement is a big stuff for me, I mean we probably need to implement row adding, in addition, this feature is not make sense to be a part o

[2019-06-17 12:22] AllenFang commented on #978
Let's close it due to i will not implement it. but as I mention, this should be the part of row adding.

[2019-06-17 12:22] #978 closed

[2019-06-17 12:29] AllenFang commented on #979
@zylin1206 your english is good. I think it might be a bug, I will look into on this, thanks

[2019-06-17 13:17] AllenFang commented on #979
similar issue with https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/719

[2019-06-18 00:45] dparasam opened #980 "Using columnClasses causes the page to crash on Internet Explorer 11"
Version:
react-bootstrap-table-next@3.1.4
Internet Explorer: 11.1884.14393.0

Description:
If I use columnClasses, the table does not render on Internet Explorer.  The error I see is:

The columnClasses value is set to a function that looks like:
[code]

[2019-06-18 05:39] Chun-MingChen commented on #972
Recently I was handling this kind of issue. I may support this.

[2019-06-18 05:44] anuragb26 commented on #964
<img width="803" alt="Screen Shot 2019-06-18 at 11 13 30 AM" src="https://user-images.githubusercontent.com/13941381/59656111-3d4e5880-91ba-11e9-8f83-4204767f5104.png">
A toggle switch like above

[2019-06-18 06:16] AllenFang commented on #964
@anuragb26 it's clear now.

[2019-06-18 07:29] Devkutt commented on #977
@AllenFang I cannot reproduce it online either. After I updated all my dependencies, the error is gone.
But I was on the newest version of both `react-bootstrap-table-next` and `react-bootstrap-table2-editor`, so I guess an older version of one of my other dependencies caused the malfunction.

[2019-06-18 07:29] #977 closed

[2019-06-19 11:44] tfcb93 commented on #277
For header column tooltips just use [headerTitle](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnheadertitle-bool-function) and create a function returning a string, like this:
[code]
After that, the column element on the table will have a tooltip if you hover over it.
![image](https://user-images.githubusercontent.com/6901304/59762789-65978f00-926e-11e

[2019-06-19 13:23] mathiaswillburger opened #981 "Infinite scrolling"
Hi,

I was wondering if there are any suggestions how to realize or if there are plans for react-bootstrap-table2 to support infinite scrolling in tables?

The goal would be to avoid pagination and pagination size selections and load data dynamically while scrolling. In case of remote data loading a query should be triggered every time the shown limit is reached to fetch the next lines. A similar

[2019-06-20 14:28] stilllife00 opened #982 "selectColumnStyle is not applied on the header if hideSelectAll: true"
As per title `selectColumnStyle` is not applied if `selectColumnPosition: 'right'`

[2019-06-20 20:01] somilkhandelwalwork opened #983 "Expanded Row - How can I remove expand all functionality from header but I need in individual row"
I am doing something like below
`const expandRow = {
  renderer: row => (
    <div>
      <p>{ `This Expand row is belong to rowKey ${row.id}` }</p>
      <p>You can render anything here, also you can add additional data on every row object</p>
      <p>expandRow.renderer callback will pass the origin row object to you</p>
    </div>
  ),
showExpandColumn: true,
  expandByColumnOnly: true,
  onlyO

[2019-06-20 23:24] oscarreyes98 opened #984 "Question: Exact Match Text Filter"
Is it possible to have a text filter for a table header column that filters only by an exact match.

So for example when filtering a column by "MALE", only "MALE" entries would appear, instead of both "MALE" and "FEMALE" (since "MALE" is a sub-string) ?

If not, are there any workarounds?

Thanks!

[2019-06-21 05:52] Vasanth-Indix commented on #250
Hey @AllenFang, Is there a way to disable to disable the processing of dot notation as a nested object?  I would like to retain the column as

[2019-06-21 14:52] ethannkschneider commented on #974
Thanks Allen! This is good to know, and the workaround is helpful.

[2019-06-21 17:16] #984 closed

[2019-06-21 19:46] goosemondude commented on #979
**Description**
I too am seeing this issue. For me formatExtraData has state information that I pass it in the parent row. It works as expected without expandRow. With the expandRow attribute in use however it seems that state updates don't pass through the formatExtraData property any longer.

**Version** 3.1.4 and 3.1.3 for me.

[2019-06-22 07:29] AllenFang commented on #981
@mathiaswillburger thanks your feedback, I also want to implement this feature. However, I don't have enough time to implement it, I'm sorry that I can not give you any schedule or plan for this feature.

[2019-06-22 07:32] AllenFang commented on #982
@stilllife00 it work for me:

[code]

any idea?

[2019-06-22 07:36] AllenFang commented on #983
@somilkhandelwalwork so for we don't have a toggle props for hiding the expand all indicator, but there's a workaround is via [`expandRow.expandHeaderColumnRenderer`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandheadercolumnrenderer-function) and you can just return null as render nothing

[2019-06-22 07:36] #983 closed

[2019-06-22 07:37] somilkhandelwalwork commented on #983
@AllenFang , if I return null, nothing will render but it still has the toggle functionality.

[2019-06-22 15:05] stilllife00 commented on #982
Maybe it was not because of the right but because of the "hideSelectAll"? i cannot try right now but if you want to try that meanwhile

[2019-06-22 20:11] shorif2000 commented on #270
i have tried this. it places the component in the center but the numbers are still aligned to the left

[2019-06-24 09:14] shorif2000 opened #988 "is there a way to hide the next and prev icons"
i want to hide the next/prev icons in pagination. i can only find how to modify text but no hide/show icons.

my codebase is here https://codesandbox.io/s/plentific-uo68b?eslint=1&fontsize=14

table component is under componenets/table

What i want to do is show the go to 1st and got to last but hide next/prev

[2019-06-24 13:29] lilrinchi opened #989 "import BootstrapTable from 'react-bootstrap-table-next' doesnt work"
For some reason when I try to import the react-bootstrap-table-next it doesnt work

https://imgur.com/a/eSenDcA

import BootstrapTable from 'react-bootstrap-table-next';

module "/home/rin/sc-deal/client/node_modules/react-bootstrap-table-next/lib/index"
Could not find a declaration file for module 'react-bootstrap-table-next'. '/home/rin/sc-deal/client/node_modules/react-bootstrap-table-next/lib/

[2019-06-24 16:16] amirafzali commented on #989
I'm assuming you're using typescript.
The problem might be that there are no type definitions for this package. When you attempt the recommended fix, it tells you that DefinitelyTyped does not have an existing module for this package. In this case you can declare your own typings, or create a module.

More information can be found here:
 https://stackoverflow.com/questions/41292559/could-not-find-

[2019-06-25 00:54] mathiaswillburger commented on #981
Ok thanks for your feedback! I will look into one of the react infinite scroll components in the meanwhile to wrap around the react bootstrap table.

[2019-06-25 10:35] lilrinchi opened #990 "Migration problem - Table crash - Objects are not valid as a React child"
So I'm migrating from react-bootstrap-table to react-bootstrap-table2 and now my code which was working before doesnt work when I try to import certain data into my table. I will provide pictures.

So it works when I get these values marked red:
https://i.imgur.com/kHsCGGo.png

It doesnt work when I attempt to import data marked in blue.

I get error:

Objects are not valid as a React child (found

[2019-06-25 10:50] Mujaddadi commented on #981
I was just searching for it. I also need the same feature.

[2019-06-25 15:12] #971 closed

[2019-06-25 15:12] #979 closed

[2019-06-25 15:12] #970 closed

[2019-06-25 15:12] #980 closed

[2019-06-25 15:15] AllenFang commented on #970
@shhdharmen hello, this issue was fixed, please upgrade packages to newest version which listed in below:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/25/version-bump.html

[2019-06-25 15:16] AllenFang commented on #980
hello, this issue was fixed, please upgrade packages to newest version which listed in below:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/25/version-bump.html

[2019-06-25 15:16] AllenFang commented on #971
hello, this issue was fixed, please upgrade packages to newest version which listed in below:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/25/version-bump.html

[2019-06-25 15:16] AllenFang commented on #979
hello, this issue was fixed, please upgrade packages to newest version which listed in below:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/06/25/version-bump.html

[2019-06-25 15:18] deepakpn commented on #980
Thank you.

[2019-06-25 15:21] dparasam commented on #980
Thank you.

[2019-06-25 15:22] fabioshepherd commented on #676
Hi! I have the same problem with Safari for iOS (iPad and iPhone). But with these devices I haven't the spacebar 🤔 There is a workaround for this problem?

Thanks ✌

[2019-06-25 19:56] dacevedo12 commented on #384
@cancerberoSgx any updates on this?

[2019-06-26 00:48] goosemondude commented on #979
Thanks so much - you rock!

[2019-06-26 11:36] mhnpd opened #992 "Renderer method in expandRow always render new instance when parent table is update."
` const expandRow = {
  renderer: rows => <NetworkGroupDeviceTable key={rows.id} {...rows} />,
  showExpandColumn: true,
  expanded: [0]
};  `

In the above code NetworkGroupDeviceTable component checkbox get reset if any change occur in parent table due to ` renderer: ()=>{}` as render method which return new instance every time. Any solution?

[2019-06-26 11:38] mhnpd commented on #992
[code]
In the above code NetworkGroupDeviceTable component checkbox get reset if any change occur in parent table due to ()=>{} as render method which return new instance every time. Any solution?

[2019-06-26 14:50] vicrec opened #993 "Change style of row when it is expanded"
Hello, is there a way to change the style of an expanded row? I would achieve this: when row is expanded, the text/background of cells would be bold.

Thanks.

[2019-06-26 21:30] fadebek opened #994 "footer doesnt show up at all"
`  render() {

        const columns= [
            {
                dataField: prefix + "session_id",
                text: "Session",
                sort: true,
                footer: "Average"
            },
...
        ];

        const data=this.props.data;

        return (
            <div className="container-fluid" style={{overflowWrap: 'break-word'}}>
                <ToolkitProvider

[2019-06-26 21:57] fadebek commented on #994
need version 2.1.0, was using 2.0.1

[2019-06-26 21:57] #994 closed

[2019-06-27 12:37] fabioshepherd opened #995 "Checkbox doesn't work on iOS"
Hi,

I've a problem with the checkbox on the Apple devices. Using the iPad, I tap on the checkbox but the state does not change and the editing mode ends.

With Android or Windows all works without problems.

Has someone else had this problem?

Thanks 😊

[2019-06-27 23:04] lgangas88 opened #996 "Edit many cells"
Hello, when I want to edit one cell I'd like to many cells from different rows also change.
I edit the data in cascade (which I use to fill table) on beforeSaveCell and when component renders, only renders the data of one row, the row from the cell I've edited.

beforeSaveCellRangeMaxMin = (oldValue, newValue, row, data) => {
    const nextRow = data[row.indexRow + 1]
    if (nextRow) {
      next

[2019-06-28 05:51] prakis commented on #216
Maybe he already updated it,

[issue 929](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/929)

Note: I haven't tested it.

[2019-07-03 11:51] shashidhar-slk opened #998 "Export to PDF"
am looking for Export to PDF can any one help me.
in table i have graph , images and text all these i wanted export to pdf

[2019-07-03 13:46] HarlesPilter opened #999 "Expose "filtered by" values"
Hi.

Is it possible to add "Currently filtered by" values to column.filterRenderer as callback prop. I am building a custom filter, that is hidden inside a bootstrap popover. Because the popover gets destroyed(removed from dom) on blur, then I lose all info about the current filter value.
Also, is it possible to get all filtered by values from the table. A callback on BootstrapTable or something,

[2019-07-04 07:41] shashidhar-slk opened #1000 "Columns dataField issue"
Hi Team,
I have issue with dataField ,
const columns = [{
    dataField: 'Product' + 'Technology',
    text: 'Product Name'
}]
As above column structure i wanted to display selected datafields in table how do i can any help me .

Thanks

[2019-07-04 08:58] #999 closed

[2019-07-04 09:02] rajaveernapu commented on #889
Sure Allen , any references for it where i can go and add an event would be appreciated. I tried add a formatter with textbox but it is some how killing pagination and not sure what is relation with it.

Can you suggest me to a right place where i can add onload textbox and dropdowns to my grid.

[2019-07-04 11:58] AllenFang commented on #982
@stilllife00 sorry for lately reply, I am still confusing with this issue, can you just show your `selectRow` config and provide more information?  thanks

[2019-07-04 12:03] AllenFang commented on #988
sorry for lately reply and so far we don't provide any solution to hide next and prev button always. However, i check your code and I see you already hide the next and prev button

[2019-07-04 12:04] #988 closed

[2019-07-04 12:04] AllenFang commented on #989
@amirafzali is correct, I didn't provide the type offical

[2019-07-04 12:04] #989 closed

[2019-07-04 12:06] AllenFang commented on #990
@lilrinchi I think you probably encounter react version issue, in `react-bootstrap-table2`, we need `react@16.3.0` https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/package.json#L46

[2019-07-04 12:06] #990 closed

[2019-07-04 12:11] AllenFang commented on #992
@mhnpd if you want to keep the current expand state whenever parent component rerender, you should manage the expand state via [`expandRow.expanded`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpanded-array)

[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Exp

[2019-07-04 12:11] #992 closed

[2019-07-04 12:20] AllenFang commented on #993
@vicrec so far we don't have this feature, but i think I can implement it soon.

However, if you can't wait, I think there's a workaround:

[code]

[2019-07-04 12:24] AllenFang commented on #995
@fabioshepherd hello sorry for lately reply, what browser you use?  and did you custom the checkbox component?  BTW, the checkbox you mean here is the checkbox for row selection, right?

[2019-07-04 12:32] AllenFang commented on #996
@lgangas88 I think your solution can not work. so far I can not find a good workaround for this and we didn't support this feature as well. In my opinion, I will suggest you to enable `remote` mode for `cellEdit` only

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-remote.html

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?sel

[2019-07-04 12:32] #996 closed

[2019-07-04 12:34] AllenFang commented on #998
@shashidhar-slk it's duplicated issue and so far I dont have schedule to implement this feature, so PR is welcome. thanks

[2019-07-04 12:34] #998 closed

[2019-07-04 12:35] AllenFang commented on #1000
@shashidhar-slk hello, sorry I can't get you, would you please show me an example and your data structure. thanks

[2019-07-05 09:49] fabioshepherd commented on #995
@AllenFang Hi! I use Safari on the iPad and iPhone. For the checkbox I mean the checkboxes in the cell in editing mode. I test it also on Windows or Android and I have no problem with these devices.

I use the predefined checkbox editor. The other checkboxes work, only the ones in cell editing

[2019-07-05 15:34] stilllife00 commented on #231
Same here, passing this.state.something into formatExtraData does not seem to re-run the formatter

[2019-07-08 07:06] shhdharmen commented on #970
Thanks for the updates, but now it's showing a different error. Example at : https://stackblitz.com/edit/react-wjhzky?file=Hello.js

![Screenshot 2019-07-08 at 12 33 58 PM](https://user-images.githubusercontent.com/6831283/60789542-fcc07a00-a17c-11e9-9c75-aa3401da0d2e.png)

[2019-07-08 15:45] ronaiza-cardoso opened #1001 "Add async calls inside custom ExpandRow renderer"
There's a way of making async calls inside custom expand row renderer?

[2019-07-09 09:58] james-s-turner opened #1002 "Sort test failing on master branch"
FYI - Just checked out latest master branch and ran tests. I see the following failure in a sort test.

<img width="688" alt="Screenshot 2019-07-09 at 10 53 01" src="https://user-images.githubusercontent.com/1702747/60878758-48842980-a238-11e9-99c4-a17fd9d9f3cb.png">

[2019-07-09 10:16] rashisinha opened #1003 "After New Release (2019-06-25), sizeperpage dropdown is not not opening"
Hi @AllenFang
After the latest release New Release (2019-06-25) , the sizeperpage dropdown is not working. When I click on it, it opens for the first time and subsequently nothing happens on further clicks. Using keyboard up and down keys, however, the dropdown opens and the "show" class is assigned correctly to display the dropdown. But further mouse clicks are not working.
Following is the packa

[2019-07-09 12:28] adgryz commented on #912
Still no updates ? :/

[2019-07-09 15:19] bcobra opened #1004 "Cell Edit default saves value as string how do I save a number?"
When I edit a number cell and add a new number the value is saved as a string to my state. is there a way to save as a number by default?

[2019-07-12 06:29] nordicbondpricing opened #1005 "Filters in a separate row for better styling"
Hi

I think it would be nice if filters could have their own row, as it would make styling/positioning nicer. This is how it looks in our old version, where we use https://datatables.net/.

![image](https://user-images.githubusercontent.com/16350531/61106717-3f849980-a47e-11e9-84b4-375b84546f57.png)

Notice that the textboxes are in a separate row. This means that, even if the titles wrap over mul

[2019-07-12 09:07] jendamozna commented on #1001
Hi, try using this:
onExpand={this.handleOnExpand}
expandRenderer={this.expandRenderer}

    handleOnExpand= (row, isExpand, rowIndex, e) => {
        if (
            isExpand &&
            this.state.expands.filter(a => a.id === row.id).length === 0
        ) {
            this.loadDetails(row.id);
        }
    };

    expandRenderer = row => {
        const hit = this.state.expands.filter(a =

[2019-07-12 09:11] jendamozna opened #1006 "combining hover and expanded rows"
"hover" attribute turns on bootstrap hovering also on expanded rows which doesnt look nice.

ive solved it with

[code]

Which wont add "mytable-hover-row" on expanded rows (consciously?)

Then in css
[code]

Now its OK, but i dont know if this will be working in future versions...

Any idea how could it be solved for future?

[2019-07-12 09:46] jendamozna commented on #1005
did you try header formatter an display flex?

[2019-07-12 11:23] nickhellings opened #1007 ""Implement custom filter logic" demo is buggy"
It looks like this is related to this issue: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/682

Basically the demo case found [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Implement%20custom%20filter%20logic&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions

[2019-07-12 11:45] nordicbondpricing commented on #1005
Hi @jendamozna . Do you mean something like this?

![image](https://user-images.githubusercontent.com/16350531/61125877-3f4ec300-a4ab-11e9-9fa3-ee1e70cdf395.png)

[2019-07-12 11:54] ronaiza-cardoso commented on #1001
Here?

[2019-07-12 12:28] amjad489 opened #1008 "column sort icons dont appear when use with bootstrap4"
Hi,

I'm facing issue where bootstrap table doesn't show up the sort icon on the table when using with bootstrap4. however it works when I use bootstrap3.

Following is the code.
[code]

**`Screenshot`**:
![image](https://user-images.githubusercontent.com/20831862/61128018-efc7c180-a4c1-11e9-9bb6-7abce54d3d42.png)

**`package.json`**:
[code]

[2019-07-13 05:23] AllenFang commented on #1001
@jendamozna good sharing

[2019-07-13 05:23] #1001 closed

[2019-07-13 05:30] AllenFang commented on #1008
hello @amjad489 in live [demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Sort%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) it's work with newest version.

In addition, I also test for `bootstrap@4.3.1` and everything work well.  Please check ag

[2019-07-13 05:30] #1008 closed

[2019-07-13 05:34] AllenFang commented on #1002
@james-s-turner it's work for me in my local env.

bellow is newest commit everything is green:

<img width="1077" alt="螢幕快照 2019-07-13 下午1 32 44" src="https://user-images.githubusercontent.com/5351390/61167515-eba7ac80-a572-11e9-885c-2a32b2ca5504.png">

[2019-07-13 05:34] #1002 closed

[2019-07-13 05:48] AllenFang commented on #1003
@rashisinha I can't reproduce this issue, [online example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Basic%20Pagination%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is work.

Please give me an example on codesandbox so that I can reproduce this defect, thanks

[2019-07-13 05:48] #1003 closed

[2019-07-13 05:50] AllenFang commented on #1004
@bcobra so far we don't allow you to save value with other type, I will implement it soon, thank you

[2019-07-13 05:55] AllenFang commented on #1005
`headerFormatter` is a way to custom the header, I think it's not a good solution for @nordicbondpricing 's  requirement. So far we don't have this feature and it's minor for me to implement it, so PR is welcome.

[2019-07-13 08:05] AmjadHussainSyed commented on #1008
Hi @AllenFang,

thanks for responding. I have reproduced the issue. please check the sandbox link
https://codesandbox.io/embed/ecstatic-napier-8xjxf

I really appreciate the work you're doing and taking time to contribute.

Thanks in advance.
Amjad

[2019-07-13 08:06] amjad489 commented on #1008
Hi @AllenFang,

thanks for responding. I have reproduced the issue. please check the `codesandbox` link
https://codesandbox.io/embed/ecstatic-napier-8xjxf

I really appreciate the work you're doing and taking time to contribute.

Thanks in advance.
Amjad

[2019-07-13 08:33] #805 closed

[2019-07-13 08:38] amjad489 commented on #1008
here's another simple `codesandbox` and the sort column icons missing here.
https://codesandbox.io/embed/affectionate-antonelli-d7rht

Please check there seems to be something missing where its working for you and not for me :).
**`dependencies`**
[code]

[2019-07-13 12:25] djlsw opened #1009 "Question: How do I reset the search filter programatically?"
@AllenFang First off thank you for the awesome work you have done. I am trying to reset the search filter text programatically and have been struggling. I am successfully using a ref to retrieve the table object (shown below). I have also read on several posts to call the handleSearch('') function but I cannot figure out how to do that. Is that still the recommended way? Any help would be apprecia

[2019-07-13 18:23] Fatal1stZ commented on #372
it actually doesn't work, nothing is happening:
`    rowEvents: {
      onDoubleClick: console.log,
    },
`
Can it be somehow depend on selectRow props?

[2019-07-14 08:38] amjad489 opened #1010 "column sort icons dont appear when use with bootstrap4"
this issue is in regards to the reference https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1008

I'm still facing the issue and able to reproduce.

following are the example sandbox to see the issue.
https://codesandbox.io/embed/affectionate-antonelli-d7rht
another sandbox
https://codesandbox.io/embed/ecstatic-napier-8xjxf
Please check there seems to be something missing wher

[2019-07-14 13:41] djlsw commented on #1009
Hi again,
I figured out how to do this. Finally realized I needed to get a Ref to the SearchBar to get access to the props and then call OnSearch() from there. Thank you!

[2019-07-14 13:41] #1009 closed

[2019-07-14 20:18] bcobra commented on #1004
thanks for your support and dedication to this awesome product.

[2019-07-14 22:14] mouerrr commented on #1010
Hi @amjad489 please also yo need to import:
import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'

[2019-07-15 06:50] ronaklalwaniii opened #1011 "Change sizePerPage's position"
Hello, how can i move sizePerPage filter on top and keep pagination on bottom like in attached image ?
![question](https://user-images.githubusercontent.com/44769573/61199245-d52c5d00-a6fa-11e9-8b35-6e7855e0a06c.PNG)

[2019-07-15 07:25] amjad489 commented on #1010
@mouerrr thanks is working perfectly.

[2019-07-15 07:25] #1010 closed

[2019-07-15 08:26] stilllife00 commented on #982
Sorry, I can clarify, the problem is with 'hideSelectAll' AND column style:

If I set:

[code]
the select cell on the rows will get width 3rem BUT NOT THE HEADER (the header stays width 'auto') creating a misalignment between the rows and the header

[2019-07-15 10:02] AntoineCAMILLE opened #1012 "Force column re rendering"
Hello, i'm trying to implement a fixed header and scrollable body. The whole thing is that i change the width of each columns compared to the width of the window (xs, sm, md, lg. Same as bootstrap works)
It works well except when the window width changes, the header re render but not the columns it leads to alignment problem between the header and the body
Is there a way to force re rendering of c

[2019-07-15 13:16] Extazx2 opened #1013 "Pagination & total"
Hello,

I have trouble understanding how the pagination works.
I work with firebase and to avoid many useless reads, I want to implement custom "page change".

I have a counter (at the time of my example : 39) in my database, that i collect, telling me how many docs I have, and i go through them 20 by 20 on each page (supposedly) instead of loading the whole firebase collection and let the table d

[2019-07-15 13:48] Extazx2 commented on #1012
New to react, but I guess you could just trigger a render with
https://developer.mozilla.org/fr/docs/Web/API/Window/onresize ?

[2019-07-15 14:22] imtmh commented on #463
But there is one issue while exporting to csv. its hiding the columns in the table, but when exported as csv, the data is still there.

[2019-07-15 18:16] danAtAllworx opened #1014 "Body columns not updated when hideSelectColumn value changes"
To reproduce:

Implement a simple table with selectRow.hideSelectColumn set based on React state data.

What should be:

When state changes, the table should update to show or hide the select column.

What is:

When state changes, the header of the table updates, but the body doesn't. Clicking on the individual rows and repeatedly hiding / showing the select column produces very strange behavior.

[2019-07-16 00:45] vandz979 commented on #934
I am seeing the same issue too! Is there a fix for it?

[2019-07-16 08:50] AntoineCAMILLE commented on #1012
@Extazx2 I already do like that it's not the problem
i catch the resize event but when i order to my columns to resize (in function of the screen size) only the header is taking the new size
The columns don't render again, i have to trigger a page change to make the columns taking the right size

[2019-07-17 05:35] imtmh opened #1015 "Pass rowIndex to expandedArea"
Sorry, first of all, this is not an issue.

I would like to know if there is a way to pass the row index to the expandedArea renderer.
P.S. I tried adding the index to the data before passing the data prop to ToolkitProvider, but it doesn't work when I sort the table. It will work on the first load but not after sorting.

[2019-07-17 06:49] NoureldeanSaed opened #1016 "Enable setting of the column visibility"
Relates #723
What solves this issue almost solves mine, except that I need rather than a onColumnToggle function, a function that sets the visibility, i.e. `onColumnChange(dataField, hidden)`, the scenario is I have got another table with preferences to the first table where I can set the visibility of columns from there, and once I'm done I need to show that change.

[2019-07-17 12:14] davidsonsns commented on #226
I just followed this reference and it worked for me [react-bootstrap-table2 storybook Work on Header Columns - Customize Column Style](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Header%20Columns&selectedStory=Customize%20Column%20Style&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2019-07-17 15:03] turkus commented on #688
I'm also interested in an update, but... we did a lil' bit workaround for this until this issue would be solved.

Our case was just to enumerate ordinal number as a first column in a table. We let a table to be independent component, but combining `useEffectLayout` and force update (by using `useState`) when some events happens (in our specific case sort) we solved that problem.
First we made a fi

[2019-07-17 15:07] turkus commented on #166
@AdrienDuchemin please take a look at https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/688#issuecomment-512295351 maybe would be helpful in this case.

[2019-07-18 10:37] sujitykulkarni opened #1017 "Can nextPageText or prePageText be replaced with custom icon?"
Currently nextPageText and prevPageText are limited to string values.

Would like to know if there's a way of using any custom icon (e.g. font-awesome's chevron-left/right or a custom SVG icon) ?

[2019-07-18 13:27] allencoded opened #1018 "How to use an icon (custom html) in column header text?"
I am needing to use an icon as my column text and not just plain text.

`columns = [{ dataField: 'required', text: '<i className="custom-icon" /> ', sort: true }]`

How does one use html in columns headers I couldn't find anything in the docs?

[2019-07-18 14:23] thanateros commented on #544
I was so excited to use this library then ran into the same issue: if it can't edit a row at once and insert and delete then it has become useless to me.  I agree with @waynebrantley .

[2019-07-18 15:14] waynebrantley commented on #544
@jbp17 Yes, we do the same thing - we have an edit button on the row, and we create a form outside the grid....which is great because rarely is it 'simple' enough to edit in the grid directly..

[2019-07-18 16:06] greygatch commented on #283
What are these isKey or TableHeaderColumn values? They're not in the documentation.

[2019-07-18 16:17] greygatch opened #1019 "Selecting a single row selects all rows"
Using the most [basic Storybook example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Multiple%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel), and the component doesn't work.

Other "solutions" to similar issues are nonsensical.

[code]

[2019-07-18 16:30] #1019 closed

[2019-07-18 19:04] thanateros commented on #544
@waynebrantley I think your advice just saved my day.

[2019-07-19 06:17] sujitykulkarni commented on #1018
You can use `formatter` function. It has ability to return a JSX element, so in your case you can return the `<i className="custom-icon" />` and use it.

Docs:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

[2019-07-19 09:36] dailymp commented on #36
I will be waiting for this!!!

[2019-07-19 12:46] #1018 closed

[2019-07-19 13:23] maxsilvauk opened #1020 "How can we style expanded row with a class???"
I cant seem to style a clicked row or an expanded row with a class? How is this possible?

[2019-07-19 13:24] maxsilvauk opened #1021 "When using 3 tables each that are nested within each other the last table when expanding all the rows seems to expand them all at once. I guess this is because of a key issue."
When using 3 tables each that are nested within each other the last table when expanding all the rows seems to expand them all at once. I guess this is because of a key issue.

Has anybody else nested 3 tables and noticed this expand problem in the lowest table?

[2019-07-19 19:52] liordino opened #1022 "Warning: Failed prop type: The prop `column.text` is marked as required in `HeaderCell`, but its value is `undefined`."
Hi folks,

I recently started using your component and so for it worked like a charm and was very easy to integrate into my code. Thanks and keep up the good work!

Now, today I faced the following issue: I'm using react-bootstrap-table2 along with reactstrap, inserting a table into a modal to edit some stuff, in a master-slave fashion. The edits are made in the table itself, and in a field that s

[2019-07-20 22:18] ptah23 commented on #1005
Has anyone picked this up? if not, i can give it a go

[2019-07-21 05:20] senecaso commented on #231
Did any of your find a workaround for this?  I'm hitting the same issue right now.

[2019-07-21 05:31] nordicbondpricing commented on #1005
Hi @ptah23 , that would be awesome! I haven't had the time to look at it unfortunately

[2019-07-21 06:55] AllenFang commented on #982
@stilllife00 try to apply the width on `headerColumnStyle` as well. so far `selectColumnStyle` is for non header cell and `headerColumnStyle` is for header only.

[2019-07-21 06:55] #982 closed

[2019-07-21 06:56] AllenFang commented on #1005
@ptah23 PR is welcome

[2019-07-21 07:04] AllenFang commented on #1006
@jendamozna it's expected behavior for me about `rowClasses` didn't add to expanding content(row).  If you wanna add some custom class on expanding content, I can implement a props for it.

[2019-07-21 07:06] AllenFang commented on #1007
@nickhellings sorry for lately reply, I will check this out, thanks your finding!!

[2019-07-21 08:03] AllenFang commented on #1007
I think this is a example bug, I will fix it soon, thank you

[2019-07-21 08:12] AllenFang commented on #1011
@ronaklalwaniii sorry for lately reply, I think standalone component will help you:

check [docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#41-use-standalone-component)

[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20SizePerPage%20Dropdown&full=0&addons=1&s

[2019-07-21 08:12] #1011 closed

[2019-07-21 08:15] AllenFang commented on #1012
@AntoineCAMILLE sorry for lately reply, I still don't have enough time to implement the fixed header feature. Any PR is welcome.

If the issue still remain, please post your code on codesandbox then I can help you to debug, thanks

[2019-07-21 08:15] #1012 closed

[2019-07-21 08:18] AllenFang commented on #1013
@Extazx2 I can't understand what kind of issue you faced, would you please clearify this your question again?  It will be better to put your example code to codesandbox and keep it simple and minimal so that I can reproduce your issue, thanks

I will reopen it when I can identify this issue.

[2019-07-21 08:18] #1013 closed

[2019-07-21 08:49] AllenFang commented on #1015
@imtmh I can add it to the function of `expandRow.renderer`:

[code]

[2019-07-21 08:55] AllenFang commented on #1016
I will implement it

[2019-07-21 14:52] jvlinton commented on #231
Yes I believe there is a way we found (not right in front of me).

Key is for you to console.log() inside the formatter the objects and you should be able to find how to pass an additional property.  You basically walk it out until you use up all the fields the library needs, (p1, p2, p3, ...) then the next space is where you can add your own, I think, if I recall right...

[2019-07-22 12:08] #993 closed

[2019-07-22 12:08] #1004 closed

[2019-07-22 12:09] #1014 closed

[2019-07-22 12:09] #1015 closed

[2019-07-22 12:24] AllenFang commented on #1015
@imtmh please upgrade all packages to newest version and you will get the patch, thanks

[2019-07-22 12:24] AllenFang commented on #1014
@danAtAllworx  please upgrade all packages to newest version and you will get the patch, thanks

[2019-07-22 12:25] AllenFang commented on #1007
@nickhellings fixed in newest version

[2019-07-22 12:26] AllenFang commented on #993
upgrade to newest version and you can use `expandRow.parentClassName`
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowparentclassname-string-function

[2019-07-22 12:27] AllenFang commented on #1004
@bcobra upgrade `react-bootstrap-table-next` and `react-bootstrap-table2-editor` to newest version and you can use [`column.type`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columntype-string) to specify the type after saving cell

[2019-07-22 12:31] AllenFang commented on #1017
@sujitykulkarni so far we didn't provide a good way to just replace the text as an icon or something else.  But there's a workaround is using `pageButtonRenderer` to custom the page button

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationpagebuttonrenderer-function

Let me know if it's not helpful to u, thanks

[2019-07-22 12:31] #1017 closed

[2019-07-22 12:32] AllenFang commented on #1020
I think upgrade to newest version and you can use [`parentClassName `](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowparentclassname-string-function)

[2019-07-22 12:32] #1020 closed

[2019-07-22 12:39] AllenFang commented on #1022
@liordino sorry for lately reply,

[code]
i think this issue is irrelevant to cell editing, but is just missing [`column.text`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columntext-required-string) for last column, because it is required.

Do let me know if above answer can not help you

BTW, the last column in your table is just a action column, so I en

[2019-07-22 12:39] #1022 closed

[2019-07-22 13:33] imtmh commented on #1015
Thanks for the fix, I will upgrade the packages and check it.

[2019-07-22 16:17] liordino commented on #1022
Hi @AllenFang ! Thanks for your reply!

I tried your suggestion, and while the error that was being logged in the console doesn't occur anymore (in fact no errors are displayed in the console as off now) the behaviour is still the same: after setting an invalid value in a field that has an associated validator it shows the error message and shortly after that closes the modal. If I set a valid val

[2019-07-23 12:12] AllenFang commented on #1022
@liordino I think it's not a bug directly with `react-bootstrap-table` but if ok, would you please give me a simple and minimal example on codesandbox so that I can help you to debug, thanks.

[here](https://codesandbox.io/s/k5750vzzvv) is an example you can start, but just remember to change the dependency version, thanks

[2019-07-23 12:15] AllenFang commented on #1019
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#keyfield-required-string

here we mention it should be required and it might not very clear about "unique", I will enhance the docs, thanks

[2019-07-23 12:15] AllenFang commented on #1018
thanks @sujitykulkarni !

[2019-07-23 12:20] AllenFang commented on #1013
@Extazx2 I think it's gonna be happen and I can not reproduce it. So If ok, please give me an example on codesandbox so that I can reproduce it.

BTW, in you case, actually you don't need to set the `totalSize`, you can check the doc: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationtotalsize-number

[2019-07-23 12:22] AllenFang commented on #1009
@djlsw sorry for lately reply and your finding is correct

I put some reference here in case someone have the same question:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Text%20Filter&full=0&addons=1&stories=1&pane

[2019-07-23 15:00] liordino commented on #1022
Hi @AllenFang !

It was indeed a form submission, so nothing directly related to `react-bootstrap-trable`. Thank you so much for your help!

[2019-07-23 15:34] mbystryantsev opened #1024 "Expand header cell size is 30px"
Chrome 75.0.3770.142 (64-bit)
react-bootstrap-table-next 3.1.7

Expand row header cell has attribute `data-row-selection="true"` that limited it size to 30px.
[code]

[code]

![image](https://user-images.githubusercontent.com/1485514/61725235-11edf900-ad78-11e9-80cc-9c3516d5f349.png)

[2019-07-23 15:40] Extazx2 commented on #1013
@AllenFang as my back end is connected to firebase, i'll try to open a new sample project and do this.

[2019-07-24 13:17] maxsilvauk commented on #1020
Thank-you @AllenFang

[2019-07-24 13:18] maxsilvauk commented on #1021
ie:-

`/* eslint-disable */
import * as React from 'react';

import BootstrapTable from 'react-bootstrap-table-next';
import ToolkitProvider from 'react-bootstrap-table2-toolkit';
import paginationFactory from 'react-bootstrap-table2-paginator';

import { getPagination } from '../../helpers/pagination';

import {
    getExpandRow,
    getExpandRowClosed,
    getExpandAll,
    getExpandAllClosed,

[2019-07-24 15:49] chikeorjih opened #1026 "Styling entire sorted column"
I see that there are ways to style and add classes the <th> of a sorted column. Is there a way to do this for all the <td>s in that column. I think it would be beneficial from a UX standpoint

[2019-07-24 23:47] mescoff opened #1027 "CellEditor Drowpdown give GetOptions() access to row and column props"
Hi,
I need my getOptions to have access to the Row information so that the dropdown shows options that are only relevant to my object row. Is it possible or does it need an inhancement? (In the meantime I had to create a custom EditorRenderer that takes the row and returns a drop-down with options created based on the row info)

Thanks!

[2019-07-25 14:31] Akaren13 opened #1028 "Update columns"
I am changing columns parameter in bootstraptable. I can see new column in GUI but data are the same, even though I force to update the component, it still remain same without data in the new last column.

[2019-07-25 22:39] sushreedash opened #1029 "Is It Possible To Responsively Show/Hide Columns Based on Viewport Size?"
tried className: 'hidden-xs' columnClassName: 'hidden-xs' in columns:[]but does not work

[2019-07-26 06:48] nickhellings commented on #1007
@AllenFang Has this been released? As far as I can see in [custom filter example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Implement%20custom%20filter%20logic&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) this is still not working as intended. I think this is not just a bu

[2019-07-26 07:12] jendamozna opened #1030 "Toggling column empties current filter"
Filter input field in table header is empty after column visibility is toggled.

1. enter filter
2. hide column - data are still filtered
3. show column - data are still filtered
4. filter is empty - data are still filtered

See example:

https://codesandbox.io/s/fragrant-framework-k8q99

[2019-07-26 14:38] lorenzoface opened #1031 "get rows returned as search result"
Hello,

I want to display near the table the sum / max /min values for a column. These values should get recalculated whenever a search is performed, counting the records contained in all the pages.
Is there an easy way to retrieve the records returned by a search?

Thanks

[2019-07-27 07:06] AllenFang commented on #1007
@nickhellings sorry for my roughy bug checking, there's a bug actually, i will fix it soon,  thanks

[2019-07-27 08:32] AllenFang commented on #1021
@maxsilvauk i'm sorry about lately reply, would you please give me an example on codesandbox so that I can reproduce this issue easily. Just keep it simple and minimal, thanks

[2019-07-27 08:46] AllenFang commented on #1024
@mbystryantsev do you want to ... have more space for expand column?

[2019-07-27 08:47] AllenFang commented on #1026
I can not understand this....

[2019-07-27 08:47] #1026 closed

[2019-07-27 09:10] AllenFang commented on #1027
@mescoff i will implement it soon, thanks

[2019-07-27 09:23] AllenFang commented on #1030
@jendamozna yes, I think so far `react-bootstrap-table2` will not render hide column and didn't memorize the previous state as well, cause this bug. I will spend some time to see how to fix it.

btw, do you have any expected behavior about this problem?  I can just clean the column filter which is not present. But not everyone agree this solution I guess.

[2019-07-27 17:03] chikeorjih commented on #1026
Sorry i meant to say all the TD's. The tablet headers have a class but I think it would be be beneficial to apply that class to all the <td>'s in the Same calumn

[2019-07-28 13:26] holzfelix opened #1033 "Export CSV without ""
Hi at the moment when I export to CSV all values have " ... is there a way to remove them bevor export? thanks

[2019-07-29 11:52] almog-kiki commented on #226
.react-bootstrap-table th[data-row-selection] {
  width: 40px !important;
}

[2019-07-29 13:51] jendamozna commented on #1030
Hello, thanks. I expect it will behave the same way as e.g. in googlesheets/libreoffice/msexcel: after the column is toggled back, the filter will be visible in the filter input field.

Cleaning onHide/onShow doesnt seem to be handy..

[2019-07-29 17:53] bcobra commented on #1027
I also need row and column information in getOptions. I tried using onStartEdit to get the data but then i couldn't wait asynchronously to get the values in getOptions

[2019-07-29 18:05] sushreedash opened #1034 "Can we use totalSize with normal Pagination? without remote or custom"
const options = {
            totalSize:this.props.data.totalResults,
            totalPages:this.props.data.totalPages,
            showTotal: true,
            paginationTotalRenderer: customTotal,
            onSizePerPageChange:(sizePerPage) => {
                this.props.pageSize(sizePerPage);
                this.props.getData();
            },
            onPageChange:(page) => {

[2019-07-30 06:28] #1034 closed

[2019-07-30 09:38] rchaser commented on #934
@AllenFang I have the same issue, could you check it, please?

[2019-07-30 13:57] stsiushkevich opened #1035 "Row Expand animation is absent"
Hello!

I'm using:

"react": "16.6.0"
"react-bootstrap-table-next": "2.2.0",
"react-bootstrap-table2-paginator": "2.0.4"

When I expand any row the animation is absent.

[2019-07-30 14:01] #1035 closed

[2019-07-30 14:19] premkiran7 opened #1036 "Unable to save value of edited cell"
I could not edit cells in the column **Values** which can be seen in the code sandbox URL given below. I am new to ReactJS and react-bootstrap-table2. I went through the documentation but could not find out where I am going wrong. Any help would be appreciated.
[Code Sandbox Reference](https://codesandbox.io/embed/ecstatic-tharp-gdecb)

**Getting the following error**
Uncaught TypeError: dataOpera

[2019-07-31 09:08] stilllife00 commented on #982
@AllenFang setting `headerColumnStyle` does not solve the problem.
The thing is `hideSelectAll: true` is emptying the first `td` of the header and so the styling rules are lost as well.

And there is no workaround I can see for that because the CSS does not know about the `hideSelectAll`.

The only workaround is to pass a custom CSS class to the table, but then `hideSelectAll` becomes useless.

Ca

[2019-07-31 13:34] Devkutt opened #1039 "column.editorRenderer: OnStartEdit not called"
**Describe the bug**
When you click on a cell to edit it and it has a custom editor (column.editorRenderer), the onStartEdit-method is not called.
Although it is not described explititit in the documentation, I thought it would behave like a normal editor and the onStartEdit method would be called.
The onSaveCell method is called btw.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a cus

[2019-07-31 17:27] supremebeing7 commented on #732
Part of our workflow involves webpacker on rails running `yarn install --check-files`, which flags this as an error. So, this issue is effectively preventing using this library in our application. I think locking the version with `^` prefix would fix this, is there anything preventing that change?

[2019-07-31 19:18] sushreedash opened #1040 "Can we do remote pagination with sorting/filtering on current page?"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2019-08-01 01:01] leonardyrj opened #1041 "Error edit cell"
Uncaught TypeError: dataOperator.typeConvert is not a function

[2019-08-01 05:51] premkiran7 commented on #1041
#1036

[2019-08-01 17:24] leonardyrj commented on #1041
I'm having problem on this line

` var newValueWithType = dataOperator.typeConvert(column.type, newValue);`

[2019-08-01 18:04] mirl72 commented on #812
Hello,

I am in need of the same functionality originally requested in this thread and hope you will still see this even though it has been closed.

One of the columns in my table contains buttons for the user to interact with. I do not want the clicking of these buttons to trigger the select row, but clicking any other column should. (See image below)

I may be misunderstanding the suggested solu

[2019-08-02 13:24] mirl72 opened #1042 "Disable select row onClick for one column of row"
Hello,

I need to turn off the onClick for row selection on a single column of a row.

One of the columns in my table contain buttons for the user to interact with. I do not want the clicking of these buttons to trigger the select row, but clicking any other column should. (See image below)

Is there a way to achieve this with the latest build?

Thanks!
p.s. I love your table component and have re

[2019-08-02 14:09] maxsilvauk commented on #1021
@AllenFang No problem thank-you in advance for responding I have solved the issue now this can be closed.

[2019-08-02 15:27] bartmika commented on #360
Hi @AllenFang,

I've gotten the same problem but when using "SelectFilter" - the value does not change when using: (1) remote, (2) select filter (3) and overlay.

Would appreciate if you can look at this issue again.

[2019-08-02 15:28] rodolfomartinez commented on #360
+1

[2019-08-03 07:52] #1021 closed

[2019-08-03 07:54] AllenFang commented on #1028
@Akaren13 sorry for lately reply, would you please give me a simple and minimal example on codesandbox so that I can help you to debug/trace?  thanks

[2019-08-03 07:54] #1028 closed

[2019-08-03 07:55] AllenFang commented on #1026
@chikeorjih I think you can use [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnclasses-string-function) to add custom class on column

[2019-08-03 07:58] AllenFang commented on #1029
@sushreedash so far we don't have good support on responsive solution. Bu I think you can still add some custom class on column to hide/show column based on screen size

[2019-08-03 07:58] #1029 closed

[2019-08-03 08:02] AllenFang commented on #1030
it make sense, but this will take some time to implement cause of we don't memorize the filter's state when itself column being hidden.

[2019-08-03 08:05] AllenFang commented on #1031
[code]

[2019-08-03 08:05] #1031 closed

[2019-08-03 08:06] AllenFang commented on #1033
No, because " is standard csv format.

[2019-08-03 08:06] #1033 closed

[2019-08-03 08:10] AllenFang commented on #1036
@premkiran7 line:65 is wrong, it should be

`if (row.key === rowId) {`

[2019-08-03 08:10] #1036 closed

[2019-08-03 08:15] AllenFang commented on #1039
@Devkutt it's expected behavior for me, but it could be discussed when there're another developer have same concerns.  So far `onStartEdit` is being called in the "Editor" itself component, so if you custom the editor component via `column.editorRenderer`, `react-bootstrap-table2` can not call this event.

As I said, if there're many people have same concern, then I will consider to improve this b

[2019-08-03 08:15] #1039 closed

[2019-08-03 08:17] AllenFang commented on #1041
#1036 is a bug cause by example code itself,  "PLEASE FOLLOW CORRECT WAY TO REPORT A BUG"  thanks

[2019-08-03 08:17] #1041 closed

[2019-08-03 08:19] AllenFang commented on #1040
@sushreedash sort and filter is cross page. but if you are in the remote mode, you can do anything by yourself(Like sorting/filtering on current page). Because in non remote mode, filter/sort is cross page.  But in remote mode, you can arrange/sort/filter/slice you data as you want

[2019-08-03 08:19] #1040 closed

[2019-08-03 08:30] AllenFang commented on #1042
@mirl72  I think you can try to call `e.stopPropagation()` when handling the click event of your custom buttons.

[2019-08-03 09:37] Akaren13 commented on #1028
`const columnsList = this.state.columns;
const { ExportCSVButton } = CSVExport;
        return (
             <div >
            <
            ToolkitProvider
            keyField ="_id"

            data = {
                this.props.data
            }
            columns = {
                columnsList
            }
            noDataIndication={ () => <NoDataIndication /> }
            exportC

[2019-08-03 13:11] mirl72 commented on #1042
Perfect, thanks for the speedy response @AllenFang it worked like a charm!

[2019-08-03 17:29] twiddler opened #1043 "Search multiple columns in combination"
Hi! :)

I have a table with multiple columns. Right now, when using the basic search from the [storybook](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Basic%20Search%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) examples, queries seem to be only compared with a single c

[2019-08-04 05:26] AllenFang commented on #1028
@Akaren13

Firstly, I can't read your example code, please update. Secondly, I just follow your step, put columns to react state then dynamically change column state, but everything work great.

---->>>>>
As I said please give me a simple and minimal example on "codesandbox" . so that I can help you

[2019-08-04 18:25] shortwavedave commented on #932
I have the same setup:

{ clickToSelect: false, clickToExpand: true }

but now the onExpand callback doesn't fire and I can't manage the expanded rows through state.

[2019-08-05 13:38] RudPer opened #1044 "Since column.type was added, complex data is saved as string"
Hello. Since somewhat recent update which implemented column.type broke saving of more complex data structures (like arrays or objects). As written in docs, column.type supports only string, number, bool and date.

If you do not set type, it is undefined which passes the first if (!type) in typeConvert and is automatically converted to string.

As a quick-fix you can define type as any random stri

[2019-08-05 14:54] Akaren13 commented on #1028
Here  https://codesandbox.io/embed/bootstrap-table-add-column-m49tj

[2019-08-05 15:59] AllenFang commented on #1042
👍

[2019-08-05 15:59] #1042 closed

[2019-08-05 16:02] AllenFang commented on #1043
@twiddler yeah, we don't have this feature so far and i will not to implement this very advanced feature for this component, I think the only way to achieve your requirement is like you said, you have to custom the mechanism of searching.

Thanks

[2019-08-05 16:02] #1043 closed

[2019-08-05 16:07] AllenFang commented on #1044
@RudPer please follow the instructions when you open an issue so that I can help you.

I think for me the most important thing is put your code in codesandbox and keep it simple and minimal.

According your descriptions, Im still unclear about below parts:

1. why you add column.type for a complex data type?  any reason?
2. Even you don't use column.type, if your column type is array or object, ho

[2019-08-05 21:32] vollmerr opened #1045 "How to get overall row index when pagination using editorRenderer"
Hello,

I am using the editorRenderer column property to render a custom field (such as [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)) and I am needing the overall row index of the row when there is pagination.

[2019-08-06 07:12] RudPer commented on #1044
Hello, sorry for not being clear.

Here is codesandbox link - https://codesandbox.io/s/react-bootstrap-table-next-basic-example-tsrqc?fontsize=14

For example, this is customer table. Customers can have multiple phones, so having them in array is the best solution. But now when trying to save array, it will be transformed into string and will break everything, as cell formatter expects there to be

[2019-08-06 07:26] aguskianto opened #1046 "reload react-bootstrap-table2 when there is sort, filter, pagination"
I am trying to use remote on react-bootstrap-table2.

The problem is: I need to call the API based on the parameter used in react-bootstrap-table2, such as: state, page, sizePerPage, filters, sortField, sortOrder. The problem is: I need props addition: token, url.

How can I add these two props inside onTableChange?

handleTableChange(type, { page, sizePerPage, filters, sortField, sortOrder }, **u

[2019-08-06 07:59] aguskianto commented on #1046
I've found the way using remote-resolver.js. Is there anyway to reload react-bootstrap-table2?

[2019-08-06 08:16] aguskianto commented on #1046
Now, I can change the data inside react-bootstrap-table2, but I can't rerender the table.

Is the way I am changing the data wrong? Or, the way I update the data that is not fixed yet?

handleTableChange(type, { page, sizePerPage, filters, sortField, sortOrder, link, token, parent_state, data }) {
        let new_link = link + "?page=" + page + "&length=" + sizePerPage + "&order_by=" + sortField +

[2019-08-06 08:28] aguskianto commented on #1046
Is it possible to handleTableChange and setState at the same time? I want to handle sort, filter using API call and this API call will update the state and at last force react-bootstrap-table2 to rerender.

Is it possible?

[2019-08-06 10:53] cervmi commented on #1036
I received this error message as well. I debugged bootstrap-table javascript and found that  typeConvert function in dataOperator was missing. After restarting whole dev environment including OS helped and next time this error was not there.  I don't know exact reason.

[2019-08-07 02:26] aguskianto commented on #1046
Already found the answer... Just need more tweaking.

[2019-08-07 02:26] #1046 closed

[2019-08-07 10:11] qw4n7y commented on #384
lets add type definitions directly in repository so everybody can use TS w/o waiting for Definitely Typed update

[2019-08-07 11:19] AllenFang commented on #1044
@RudPer thanks your explanation. For the unsupport data type, I will not do any type change to avoid this issue, thanks!

[2019-08-07 11:21] AllenFang commented on #1036
[there](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1044) are a similar  issue which caused by new `column.type` support, I will fix it in next version but not sure if it is relevant with this issue.

[2019-08-07 11:25] cancerberoSgx commented on #384
@dacevedo12  I'm sorry I miss this for too long. I'm trying to build the project and then see how I can add my typings to it. npm  install is currently failing for libsass so now I'm updating your dependencies

In the meanwhile, since I not sure I will have the time , these are  the typings I've written.

https://github.com/cancerberoSgx/worldbank-data-ui-client/blob/master/src/components/data/rea

[2019-08-07 12:29] HansvdLaan commented on #74
+1, I'm currently also missing this feature. The use case is that I want to have headers like this:
![image](https://user-images.githubusercontent.com/9132846/62622894-c151d080-b91f-11e9-8974-3f1584baf46c.png)

[2019-08-07 20:40] ivanbautsita opened #1049 "error qualityFilter is not a function"
**Question**
Im trying to run this [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Multi%20Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

How can I solve this error?
[code]

This is my code
[code]
Versions:
[code]

Thank you.

[2019-08-07 22:16] #1049 closed

[2019-08-08 06:53] ananthongit opened #1050 "Search with row selection not working properly"
**Question**
When I configure search along with row selection, row selection is not working anymore.

[2019-08-08 12:06] dejongbaba commented on #740
@AshCorah Please how were you able to combine both the ToolkitProvider and PaginationProvider together. Please, can you show your working example?

[2019-08-09 05:35] Amritpd opened #1051 "Pagination elements not on same row/line"
**Describe the bug**
When using the PaginationFactory() attribute in a Table, the pagination elements are not on the same row, specifically the # rows/per page dropdown and the prev/next page buttons, etc.

**To Reproduce**
Simply look at the example on the demo site:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Basic%20P

[2019-08-10 06:55] AllenFang commented on #1045
@vollmerr you are correct, rowindex always starts from 0 for first item in every page. So far we don't have this feature but would you please give me ant example about why you need the rowindex cross pagination?  thanks

[2019-08-10 06:55] #1045 closed

[2019-08-10 06:59] AllenFang commented on #1028
@Akaren13 you do a wrong way to update state, you mutate the state instead of giving a new instance, please read some docs about why react/redux need immutable :

Below is correct way to update state
[code]

[2019-08-10 07:00] AllenFang commented on #1050
@ananthongit you don't follow the issue or question template so that I close your issue/question.  I will reopen it when you follow the instruction of opening issue here

[2019-08-10 07:00] #1050 closed

[2019-08-10 23:18] vagofrank opened #1054 "Set property "options" using a function in select filter"
Set property "**options**"  using a function in select filter

To allow fill the options using the STATE
Something like

getOptions(() => this.state.dynamicFilter

[2019-08-12 11:09] premkiran7 opened #1055 "Clear Row Selections"
I am unable to clear the selected rows even after modifying the state variable responsible for storing the selected row ids on a button click event. Please help

Code Sandbox
[![Edit gifted-carson-ktpl5](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/gifted-carson-ktpl5?fontsize=14)

[2019-08-12 13:05] #1007 closed

[2019-08-12 13:05] #1027 closed

[2019-08-12 13:05] #1030 closed

[2019-08-12 13:05] #1044 closed

[2019-08-12 13:05] #1051 closed

[2019-08-12 13:08] AllenFang commented on #1051
@Amritpd I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[2019-08-12 13:09] AllenFang commented on #1044
@RudPer I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[2019-08-12 13:09] AllenFang commented on #1036
I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[2019-08-12 13:09] AllenFang commented on #1030
@jendamozna I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[2019-08-12 13:10] AllenFang commented on #1027
I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[doc](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#editorgetoptions)

[2019-08-12 13:11] AllenFang commented on #1007
@nickhellings  I fixed in newest version, please upgrade to newest version, thanks
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/10/version-bump.html) is release note

[2019-08-12 14:02] bcobra commented on #1027
Thanks!!

On Mon, Aug 12, 2019, 3:10 PM Allen <notifications@github.com> wrote:

[2019-08-12 16:15] gilgenbergg commented on #1024
@AllenFang not sure about the author of this issue, but I have such problem :) is this possible to  make expand column wider? Because I`ve tried to customize expandHeaderColumnRenderer returning the <div> block with inline style={{width: *some percentage*}} and it is still the size of "plus" sign... Thanks in advance!

[2019-08-12 16:35] chimericdream opened #1056 "Deprecated lifecycle method warnings with React 16.9"
**Describe the bug**
The following warning is shown upon upgrading to React 16.9.0:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update app to React 16.9.0+
2. Run the app and open devtools (or run your tests)
3. See warning

[2019-08-12 18:32] chimericdream commented on #1056
If you like, I can submit a PR that renames the deprecated methods to eliminate the warning.

[2019-08-12 20:26] maxsilvauk opened #1057 "Export to PDF"
Really need an export to PDF feature for this, is this being worked on also is it possible to combine multiple tables I notice export to csv say we had 3 tables on one page but they used different Bootstrap tables there is no way to combine them in one export to CSV download?

                        <BootstrapTable
                          hover
                          keyField={keyField}

[2019-08-12 20:28] maxsilvauk opened #1058 "Export to CSV multiple tables in one export please?"
Really need the ability to export multiple tables in one 'Export To CSV' download?

Is there any way of doing this instead of having them in separate downloads?

Thanks

Max @AllenFang

[2019-08-13 08:45] maxsilvauk opened #1059 "When hiding the column header using headerStyle { }. I cannot seem to give the column width is there anyway to hide the TH and give the td a specific width?"
**Question**
As you can see  in the screen shots below. The columns with 'Cardiff Hotel' are on two lines I cannot seem to resize them as I have display none on headerStyle is there anyway of giving them a width so they are not on two lines.

**Screenshots**
<img width="1920" alt="Screenshot 2019-08-13 at 09 40 10" src="https://user-images.githubusercontent.com/580488/62927689-f4c4ad00-bdae-11e9-8

[2019-08-13 12:16] jendamozna commented on #1006
I've noticed that in v3.1.6 - https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1023/commits/ec4864da5c6807ba59abe640b0b12a432b3c5784 appeared `expandRow.parentClassName`... witch does not solve my issue.
Could you please also implement something like `expandRow.className`, so i can add class to the new row?

[2019-08-13 21:51] webskin opened #1060 "onFilter hook is broken"
Hello,

The example here :
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Filter%20Hooks&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

is broken

![image](https://user-images.githubusercontent.com/1107719/62979835-2e37ff80-be25-11e9-9e0e-7c1baca0a559.png)

I have tried this hook

[2019-08-13 22:09] webskin commented on #1060
I found the problem : it is not a hook but a customFilter :)

We must take the filtered data in second parameter and return a filtered collection :

[code]

To conclude it is just a matter of documentation :)

[2019-08-13 22:27] webskin commented on #1060
One remark : onFilter is not called when the text in the input is deleted.

Is it normal ?

[2019-08-13 22:31] jendamozna commented on #1060
For me it seems like bug. According to docs it does not require return value. "...called when column filter being triggered. If you return..." https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#textfilter

I was using it as a handler without return value to update some app state when user changes filter. Now i cant find a solution as onTableChange works only in r

[2019-08-13 22:47] webskin commented on #1060
hum...
![image](https://user-images.githubusercontent.com/1107719/62982595-e6b57180-be2c-11e9-8112-cf75952d760b.png)

This is why `onFilter` is not called when manually clear filter

[2019-08-13 22:48] webskin commented on #1060
Yes Ideally it has to filter

[2019-08-14 07:43] webskin commented on #1060
@jendamozna The workaround to listen input change is to use the `onInput` Event Attribute because `onChange` is already used.

https://www.w3schools.com/tags/ev_oninput.asp

[code]

[2019-08-14 08:03] jendamozna commented on #1060
Thanks, `onInput` is working fine. Applicable also on `selectFilter()`.

[2019-08-14 12:15] jendamozna commented on #1030
its working, thanks

[2019-08-14 14:23] guldfisk opened #1061 "Disabling cell edit on table throws exception"
When re-rendering a table with cellEdit set to undefined after it has been defined, it throws an exception.

In this example, pressing the toggle button crashes the script. If the initial state is instead false, it wont crash, but it also wont be editable, even when canEdit is true.

[code]

[Sandobox here](https://codesandbox.io/s/thirsty-cori-s3lo5?fontsize=14)

[2019-08-14 16:04] flc opened #1062 "weird column toggle behavior"
consider this example:
https://codesandbox.io/s/frosty-ellis-17cun
everything works fine.

now change
[code]
to
[code]
and start toggling the columns. weird things start to happen, values start to appear in wrongs cells.
any idea on why is this happening? i know i use a dataField that is not in the data but i have a use case where i need to define dataField that is not a field of a row.

[2019-08-15 09:26] majsterkoo commented on #942
Hi, I have similar problem.
I need showExpandColumn based on a condition. I'm returning react component or null (there is a condition) in renderer, and when returning null, I need showExpandColumn false, otherwise true. I need automatic showExpandColumn when renderer is null (empty). In example below, row data are from API and I dont know the data ahead, so I cannot know, whats ids will be nonExpa

[2019-08-16 05:30] ntklgka opened #1063 "How do I create a link to external website inside all cells in column?"
Hi,

I'm trying to make all cells inside one of my columns have a dynamically created link to an external website, this is what I have so far

[code]

And this works, the problem is that it's not very noticeable the cells are links, I could colour the text blue but theres still the bigger issue of the cursor style not changing to the hand style when hovering over the cell. I could try to use the o

[2019-08-16 05:53] ntklgka commented on #1063
[code]

this worked, just had to search a bit more

[2019-08-16 05:53] #1063 closed

[2019-08-16 12:45] dacevedo12 commented on #384
Hey @cancerberoSgx those types look great!. Just like you said, we should get an ultimatum from @AllenFang to know whether he wants to maintain the type definitions here in the repo or if we should add them to the community-maintained DefinetelyTyped

[2019-08-16 19:59] fastertabla commented on #1057
It will be helpful if we get export pdf

[2019-08-18 08:00] AllenFang commented on #1057
@maxsilvauk so far we don't have this feature and I think I will not implement this feature. However, If you really want to export multiple tables, I will recommend you to use `file-saver` to export any data you want.  `react-bootstrap-table2-toolkit` use it to achieve this.

Thanks

[2019-08-18 08:00] #1057 closed

[2019-08-18 08:15] AllenFang commented on #1055
hello @premkiran7 I can clear selected row, please give the step to reproduce your issue. I will reopen it when I know how to reproduce it. thanks

[2019-08-18 08:15] #1055 closed

[2019-08-18 08:17] AllenFang commented on #1056
@chimericdream sorry for lately reply, any PR is welcome, thanks

[2019-08-18 08:26] AllenFang commented on #1058
hello @maxsilvauk I think it's impossible to implement it in current design but there's a workaround is use the exposed API:

[code]

Let me know if you have any questions, thanks

[2019-08-18 08:26] #1058 closed

[2019-08-18 08:42] AllenFang commented on #1060
it's a regression issue from last version, I will fix it soon

[2019-08-18 09:09] AllenFang commented on #1059
@maxsilvauk I'm confusing your screenshot and your source code, because I saw you give a lots of display:none, but I can not connect to your table of screenshot.

Would you please give me more information to explain this issue? thanks

[2019-08-18 09:15] AllenFang commented on #1061
@guldfisk I will fix it soon

[2019-08-19 10:16] stilllife00 commented on #601
@AllenFang I am confused on how to apply the workaround in case of multiple array fields.
They both end up with `key=[object Object]` and so the warning. Renaming the `dataField` does not have impact on the `key` value if the cell content is an array.
Note that I am talking about the `Cell key` in the `Body` (the `Header` is fine)

[2019-08-19 12:40] AllenFang commented on #1062
@flc I will check this out, thank you

[2019-08-20 07:16] mustafa-taheri opened #1065 "Mark a cell mandatory based on condition."
**Question**
Is there any way i can make a cell mandatory on the basis of a particular condition.

**Screenshots**
![Screenshot from 2019-08-20 12-40-56](https://user-images.githubusercontent.com/20725410/63325510-ed217d00-c347-11e9-82fb-b75f82dba860.png)

The scenario is if SelfDemo is selected Demo Person and Phone Number cell should be mandatory and NOT Empty and if By Company is selected Compa

[2019-08-20 13:33] emresimsk commented on #1024
@mbystryantsev

table.react-bootstrap-table tbody tr td:nth-child(last index) {
  width: 30px
}

you can try it

[2019-08-20 13:58] bbuchanan opened #1066 "State problem when using events within the table"
**Describe the bug**
This is a bit hard to describe, but I have a table that is initially populated from a store. The user can add and delete new rows. If I have initially populated with 1 row from the database and the user adds 2 rows, now the state reflects 3 rows. Great. However, if the user clicks the delete button on row 2 and I query the state from the button click event, it states there are