[2018-07-02 16:38] waynebrantley commented on #297
It seems your intention for the ``onSelect`` was for the user of the component to manage the state of the selections.

However, it seems to be the common use case is not to manage the selection - but to simply be notified and take some other action on the selection.

Perhaps you could simply add a property of ``customSelectStateManagement`` or something that when set would behave as it does now -

[2018-07-02 17:29] Denis-String opened #395 "Radio mode does not work"
Good afternoon,
I am having some problems migrating from react-bootstrap-table to react-bootstrap-table-next.

When I use the radio option, select only one line. does not work.
Follow the repository with a simulation.

https://github.com/Denis-String/React-Table-Next

If I am doing something wrong, I apologize, but I am trying to follow the examples in the documentation.

**What I want**

When I c

[2018-07-03 09:46] AllenFang commented on #373
@xero88 you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-07-03 09:51] AllenFang commented on #378
correct.

yes, but react set state is asynchronize. the only why I can imagine is call the handler in before component update. but it will make some logic more complex. so I think current workaround is I will encourage people to manage selection also if you update the component by calling setState in the handler.

Anyway, I will keep to find if we can have a better solution and any idea is welcome

[2018-07-03 09:52] AllenFang commented on #378
Close due to duplicate #297. Let discuss on #297

[2018-07-03 09:52] #378 closed

[2018-07-03 11:17] balabukha opened #396 "action Button inside cell"
Hi all!
It would be greate to add an action cb function inti ceils.
on the documentation now it's not available.

any ideas?

[2018-07-03 14:11] robotanz commented on #363
I have exactly the same issue when using selection checkboxes:

[code]

[2018-07-03 18:42] #395 closed

[2018-07-03 20:15] Denis-String opened #397 "Vertical Rotation"
Using the `react-bootstrap-table` table, I could determine the size of the table by following the example
`<BootstrapTable version='4' height='400'>`

Is there any way to do this using the `react-bootstrap-table-next`

Or maybe you would have the option to scroll using` bootstrap-table-next`

as there was in the previous version follows example:
`<BootstrapTable scrollTop={'Top'}>`

If the new `re

[2018-07-04 13:19] cbfrank commented on #299
can we add more custom options such as the container css class?

[2018-07-04 15:57] AllenFang commented on #394
@Crescent9723 I will support it soon, thanks :)

[2018-07-04 15:59] AllenFang commented on #396
@balabukha I think you can use `column.formatter`, check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

You can custom the cell by `formatter`, thanks.

Please reopen this issue if you feel this is not helpful, thanks

[2018-07-04 15:59] #396 closed

[2018-07-05 14:10] Flo-Slv commented on #395
Hey @Denis-String
I have the same problem, have you find the solution?

When i click on a row, all row are selected with 'radio'...+

Thanks!

[2018-07-05 16:53] Denis-String commented on #395
I think so, I need to validate if it is a solution or an adaptation.

You need to change the `this.handleOnSelect`

[code]

My Code:
[code]

[code]
[code]
[code]

` <BootstrapTable keyField='id' data={products} columns={columns} selectRow={selectRow} />`

[2018-07-06 13:30] cbfrank commented on #181
I get the same error:
Failed prop type: You provided a `checked` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultChecked`. Otherwise, set either `onChange` or `readOnly`

The warning shows:
in input (created by CheckBox)
    in CheckBox (created by SelectionHeaderCell)
    in th (created by SelectionHeaderCell)

[2018-07-06 13:33] cbfrank commented on #363
I have the same error which is similar to the issue #181

[2018-07-06 13:59] devTomek opened #398 "Can columns be grouped?"
Can I do this with columns in  react-bootstrap-table2?
![grouped](https://user-images.githubusercontent.com/19184623/42382870-d5503f40-8135-11e8-9d8e-f2534a8ef7c0.PNG)

[2018-07-09 12:58] Ignalion opened #399 "UMD version doesn't work in browser"
As for now, old version of the package works correctly as just CDN in browser (i.e. there's BootstrapTable in window)
The 2nd version provides only ReactBootstrapTable2 namespace which has only BootstrapTableContainer in default parameter.

Can I use the react-bootstrap-table2 w\o webpack just as inline script in <script> tag in html? At least I didn't find any mention in migration doc for now.

T

[2018-07-09 13:48] Crescent9723 commented on #394
Thank you!

[2018-07-09 17:54] teresa-recursion commented on #207
@AllenFang by cell navigation, do you mean using the arrow keys to move up/down/left/right?  My PR includes that.  If not, what do you envision for cell navigation?

[2018-07-10 01:51] dakotamaker opened #400 "Functionality for adding in components/icons in cells"
Hello there,

While working with version 0.1.14 I was trying to add in a checkmark into my cell rather than a data value, however when trying to do so I found that these tables don't support rendering a React Component inside the data object.

I did ask a [Stackoverflow question first](https://stackoverflow.com/questions/51255987/putting-a-react-component-or-element-in-an-object/51256201#51256201)

[2018-07-10 03:34] ertejaspatel commented on #215
Hi Hayk077

Where do you add .react-bootstrap-table class as I am facing similar issue and adding it to ReactBootstrapTable does not make any difference for me.

<BootstrapTable
                            classes="react-bootstrap-table"
                            keyField={'id'}
                            data={data}
                            columns={columns}

Thanks:)

[2018-07-10 03:40] ertejaspatel commented on #215
For now I just scoped the above css to the table header only.

table thead .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

 table thead .dropup .caret, table thead .navbar-fixed-bottom .dro

[2018-07-10 07:02] Thebarda commented on #215
Hey @ertejaspatel.
You can use @LuisUrrutia 's solution ;)
It works perfectly with / without using pagination

[2018-07-10 12:30] tesicg opened #401 "I don't have border on react-bootstrap-table-next"
Here's my issue:

https://stackoverflow.com/questions/51257468/i-dont-have-border-on-react-bootstrap-table-next

[2018-07-10 14:17] rmartinezffdc opened #402 "Filter + Pagination returns empty rows"
`

	class component extends Component {

		constructor(props) {
			super(props);
			this.state = {
				data: []
			};
		}

		componentDidMount() {
			let data = [];

			for (let i = 0; i < 100; i++) {
				data.push({
					Id: i,
					field1: 'field 1 value ' + i,
					field2: 'field 2 value ' + i
				});
			}

			this.setState({
				data: data
			});
		}

		render() {
				const
					columns = [{

[2018-07-10 14:29] AllenFang commented on #392
@renekliment yes, sometime I'm busy but any discuss or PR is welcome :)

[2018-07-10 14:34] AllenFang commented on #397
hello @Denis-String sorry for lately reply. I think right now user can use [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#wrapperclasses-string) to add some class which have following styles:

[code]

but in the `react-bootstrap-table-next`, we dont support the vertical scroll on the table body. so it will look like different with legacy table.

it's an

[2018-07-10 14:34] AllenFang commented on #398
@devTomek we are not support this feature yet.

[2018-07-10 14:35] AllenFang commented on #398
duplicated with https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/342

[2018-07-10 14:39] AllenFang commented on #399
@Ignalion I think [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd) docs can help you. Please let me know if it's not helpful to you and reopen this issue. thank!

[2018-07-10 14:39] #399 closed

[2018-07-10 14:42] AllenFang commented on #400
I think [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) can help you. there's a online demo: [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fact

[2018-07-10 14:42] #400 closed

[2018-07-10 14:44] AllenFang commented on #401
@tesicg please add bootstrap css firstly. https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html

[2018-07-10 14:44] #401 closed

[2018-07-10 15:00] tesicg commented on #401
As you can see from the code I've exposed, I'd added bootstrap CSS firstly.

[2018-07-10 15:58] pedrogyn commented on #341
Hello @Nahuel92. Could you provide the example?

[2018-07-10 23:08] ertejaspatel commented on #236
Hi

Is there any update on fixing this one?

Thanks

[2018-07-11 13:51] Denis-String commented on #397
Using RowStyle causes it to decrease or increase the size of the rows, but I would need to resize the table itself.

[2018-07-11 16:47] Denis-String commented on #397
Sorry, my fault. His tip worked perfectly. But not with the syntax presented in the documentation.

[code]

So I put it in a CSS file and it worked.

[code]
Many thanks for the guidance

[2018-07-11 17:01] teaklvs opened #403 "Column header input"
I want to have an input field inside the column header and basically make the header editable. Could you maybe point me to the way it should be done? I was playing around with the headerFormatter, but unsuccessfully.

[2018-07-11 17:11] Denis-String opened #405 "Contents of the leaving table"
Good afternoon, I do not know if this is a BUG, ​​or my mistake. But the table content is coming out:
https://ibb.co/mkMcE8

My code:
[code]

[2018-07-11 21:29] hectorguo opened #406 "afterSaveCell callback: "props.data"/"state.data" didn't update when editing at the first time"
There is a weird issue. I am not sure if it is related to this component or React framework itself.

When I try to update the state after the table has been edited, the state will not be updated in the first time.

Code sample like below:
[code]

See the live demo here:
[![Edit ovx9m91ypz](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/ovx9m91ypz)

Please let me

[2018-07-12 09:42] #398 closed

[2018-07-12 09:43] AllenFang commented on #397
@Denis-String very nice sharing, Thanks a lots :)

[2018-07-12 09:45] AllenFang commented on #402
I will look into this, it might be a critical bugs. @aclopezffdc  do you enable the `remote` mode?

[2018-07-12 10:04] AllenFang commented on #403
Hello @teaklvs  I think the `headerFormatter` is a good start, so after user input the new name and save it, I think you are suppose to render table again, and before rerender table, you need to change the `column.text`.

Above it just an idea come out in my mind. How do you think? or you already tried it but failed?

[2018-07-12 10:05] aclopezffdc commented on #402
@AllenFang No, I'm not using the remote mode, but I'm also using getFilter property:
`filter: textFilter({
	getFilter: (filter) => { ... }
}),`
I was not sure if this error could be caused when this property is used, but looking the @rmartinezffdc case, I suppose that it is not the problem.

[2018-07-12 10:07] AllenFang commented on #402
yes, that's right, i will check this out ASAP. Thank you @aclopezffdc

[2018-07-12 10:56] teaklvs commented on #403
Hi,
I am having trouble with the saving part. So here is the component for the header:

`class EditableHeader extends React.Component {
  constructor(props) {
    super(props);
    this.handleChange = this.handleChange.bind(this);
  }

  handleChange(e, { value }) {
    this.props.onChangeValue({ value });
  }

  render() {
    const  column = this.props.column;
    return [
      <h5><strong>{ co

[2018-07-12 13:13] #397 closed

[2018-07-12 19:21] Denis-String opened #408 "sum column data"
Good afternoon, I'm trying to sum column data, but I always get the same error. Someone has an idea how to do this.

I've tried something like:

[code]
[code]
I get the error:

`index.js:2178 Warning: Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects a

[2018-07-13 07:56] AllenFang commented on #403
ok, you are already done a good job in the first step, I think in the next, you are supposed to manage the `columns` in your root state, for example:

[code]
the important part is `handleValueChange` should pass the new value and also which columns being updated

[2018-07-13 08:03] AllenFang commented on #405
@Denis-String  i think you can tweak the css style to avoid the text overflow. By default, we dont do anything for style on cell and row.

[2018-07-13 08:03] #405 closed

[2018-07-13 08:14] AllenFang commented on #406
@hectorguo it's because `setState` is async, https://medium.com/@wereHamster/beware-react-setstate-is-asynchronous-ce87ef1a9cf3

in the `react-bootstrap-table`, we also do the `setState` for change something.

BTW, we shouldn't change your `state.data`, it's a bug I think but not too many people encounter. Your state should be immutable.

I will enhance it if I have time.

[2018-07-13 08:15] AllenFang commented on #406
BTW, could you tell me what you want to do after editing cell. thanks

[2018-07-13 08:24] leon-jasper opened #409 "Fixed Height for pagination table"
hey,
I was wondering how it's possible to implement a table with pagination where the pagination row at the bottom stays fixed and the data row is scrollable (depending on the data's height).
Please see Screenshot attached.

![react-bootstrap-table2](https://user-images.githubusercontent.com/37932266/42681051-ed87913e-8686-11e8-8729-c8239409623d.jpg)

thanks in advance!

[2018-07-13 10:46] Denis-String commented on #409
Good morning, I believe this helps you, but it will not bring the expected final result. But you can use it as a base to try to get what you need.

[code]
[code]
That way it works, but the page stays inside the scroll, (which is not the expected result) but if you can, please let me know, as it is very useful

[2018-07-13 12:00] Denis-String opened #410 "Reduce ID column width"
Good morning, thank you for this great library.

I'm trying to change the width of the ID column only. I tried this

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function

But I'm not sure where to put the code and how to determine just change the ID column

[2018-07-13 12:22] leon-jasper commented on #409
Thanks for your reply, I figured something similiar out:
in .css
[code]
this way the pagination footer stays while the data view is scrollabe.

Now I am working on a fixed header, too

[2018-07-13 14:36] #410 closed

[2018-07-13 17:51] BennyAJ commented on #52
This would be really helpful for me as well

[2018-07-13 18:51] jlemieux commented on #409
I am also trying to have fixed headers. But look here... #230:

[2018-07-13 21:33] Ignalion opened #411 "Calling this.setState() in onSelect handler disables checkbox toggle"
Hi, @AllenFang

The issue is the following. This code works:

[code]

(products and columns can be taken from docs example for instance)

However if you change console.log to, let's say, this:

[code]

then selection is broken.

As per my investigation, it happens because react keeps incorrect state of checkbox (checked: false) and in restoreStateOfTarget is restoring its unchecked state.

Unfortu

[2018-07-14 04:31] AllenFang commented on #409
HI all, I think fixed header feature will not be supported in near future. But I'm still thinking the the feasibility for it with a better solution.  Please do let me know if you guys have any cool idea, thanks.

[2018-07-14 04:33] AllenFang commented on #411
@Ignalion please check https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/411

Right now the workaround is you have to manage the selection. I will enhance it in the future.

Close it due to duplicated.

[2018-07-14 04:33] #411 closed

[2018-07-14 09:58] sisodiakaran commented on #337
@heyjaypray Facing exactly same issue. Did you found any clue, why this is happening?

[2018-07-14 10:14] sisodiakaran commented on #181
Exactly same warning:
[code]

My app is having following versions:
[code]

[2018-07-15 06:30] tesicg opened #413 "How to create relation between two bootstrap next tables?"
I would like to have two tables that should be in connection. The first one contains orders, and the second one contains products. The orders (Order class) among other properties have an Id. The products (Product class) also have an Id among other properties, and reference to orders, which is OrderId property.

I'm able to populate orders table by using:

    componentDidMount() {
      axios.get(

[2018-07-15 06:49] AllenFang commented on #413
I think there's no any best answer for this question, in your case, when user click the order, you have to populate the corresponding products via a API call. then feed the product data into product table, I think that's it.

I'm not sure why you need to use `react-route`, is that because you have to change to the other page when user want to see the product per order? if yes, I think you can use

[2018-07-15 06:49] #413 closed

[2018-07-15 08:02] #394 closed

[2018-07-15 08:02] #402 closed

[2018-07-15 08:11] AllenFang commented on #402
@aclopezffdc   @rmartinezffdc

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/

Fixed on `react-bootstrap-table-next@0.1.15` and `react-bootstrap-table2-paginator@0.1.6`
Please reopen this issue if the problem still remain, thanks

[2018-07-15 08:12] AllenFang commented on #394
@Crescent9723 use this: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#headerClasses-string

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/), please reopen this issue if the problem still remain, thanks

[2018-07-15 08:17] tesicg commented on #413
Thank you. I did it in first way you'd suggested.

[2018-07-15 09:28] AllenFang commented on #413
Good job 👍

[2018-07-16 00:11] Ignalion opened #416 "Calling this.setState in onPageChanged callback causes"
Calling this.setState in onPageChanged causes react render page on NEXT page changing that makes very weird behavior of the component.

I think root cause may be similar with onSelect one (and managing page # by hand as a workaround resolves the issue, like assign page in callback and pass page: in render)

[code]

[2018-07-16 04:42] cbfrank opened #418 "Column level cellEdit.blurToSave"
The bootstrap table 2 is much flexible and powerful, just would like to know if it is possible to set some columns to blurToSave while some columns to blurToSave as false?

Thanks

[2018-07-16 07:31] gelooobaek opened #419 "Row Selection all rows are getting selected"
hi, I just wanna ask for help. I am trying to select a single row in table, but all rows are getting selected. anyone know why this is happening ?

[2018-07-16 09:19] #419 closed

[2018-07-16 13:21] heyjaypray commented on #337
I dont remember what my fix was since this issue is about two months old - but heres my code if you see the fix.

[code]

[code]

        const deleteRow = {
            mode: 'checkbox',
            clickToSelect: true,
            selected: this.state.selected,
            onSelect: this.handleDelete,
        };

        const cellEdit = {
            mode: 'click'
        };

[2018-07-16 13:31] Crescent9723 commented on #394
Thank you! Working as expected

[2018-07-16 14:55] AllenFang commented on #416
@Ignalion yes, u are right. i will consider to enhance this, so right now the workaround is you have to manage the page state manually.

[2018-07-16 14:55] AllenFang commented on #394
👍

[2018-07-16 21:10] nthgol commented on #305
thanks @ssorallen

[2018-07-16 21:55] nthgol commented on #226
can anyone suggest a way to 'width - auto' size the columns according to the data?

[2018-07-17 16:07] cbfrank opened #421 "When clickToSelect and clickToEdit are true, and select mode is "checkbox", double click to edit will also change the row selection state."
Hello
When user double click to edit a cell, the row will also be selected/unselected.
Maybe when uer editing a cell, the table selection should be clear (trigger a onSelect or onSelectAll event?)
Is it possible add an opton for "before cell will be editing" which will be happend just before a cell will being editing?

Thanks

[2018-07-18 08:55] bvn13 commented on #332
I badly need row expanding... When do you plan to update release?

[2018-07-18 11:12] aclopezffdc commented on #402
thanks! :)

[2018-07-18 14:51] AllenFang commented on #421
@cbfrank do you consider to use `dbclicktoEdit`? At before, I usually recommend people to use it when they enable the `clickToSelect`? How do you said?

Actually, when the user click on the cell or row, in the program, you never know what they want(edit or select?)

[2018-07-18 15:29] aclopezffdc opened #422 "Sort with cell edit is not working correctly"
class myComponent extends Component {

	constructor(props) {
		super(props);
		this.state = {
			data: []
		};
	}

	componentDidMount() {
		let
			data = [],
			counter = 0;

		for (let i = 0; i < 100; i++) {
			data.push({
				Id: i,
				field1: 'field 1 value ' + counter,
				field2: 'field 2 value ' + i
			});
			if (i % 5 === 0) {
				counter++;
			}
		}

		this.setState({
			data: data
		});

[2018-07-18 17:12] BennyAJ opened #423 "Removing date/comparator from date filter does not cause a table change"
My code is running on version 0.1.14

In both remote and normal modes, pressing x on the date field of the date filter does not seem to cause any update. There is also no update when switching to the blank comparator option. This means there's no way to remove a date filter once you set it initially.

On my application, which uses remote filtering, the table change callback is never triggered at a

[2018-07-18 19:40] chaserda opened #424 "Adding CSS Styles to pagination buttons"
Is there not a way to add styles to the pagination buttons? Would like to have the background transparent with no hover change and different text color.

[2018-07-18 19:42] chaserda commented on #424
Please close. Found under `.pagination>li>a, .pagination>li>span`

[2018-07-18 20:13] BennyAJ commented on #423
I was able to resolve this issue by commenting out these lines in applyFilter in date.js. The similar lines in number.js were already commented out as of 0.1.15 and it seems to still work fine.

``
if (!comparator || !value) {
    return;
}
``

I don't know the system well enough to know if this is going to cause some strange issues. The date filter still filters out everything when you set the co

[2018-07-18 22:44] dpramani opened #426 "Calling an onClick event handler from inside a cell formatter."
Hi @AllenFang

![screen shot 2018-07-18 at 11 09 19 am](https://user-images.githubusercontent.com/26373096/42911640-1850539e-8aa9-11e8-9fb5-1787dadea36e.png)

I am using the react bootstrap table version 2 for one of my projects, where I faced a problem.
I will present a screenshot of my code section which I have problem with.
Basically, I have a settings icon inside one of my cells, which needs t

[2018-07-19 09:39] AllenFang commented on #422
hello, @aclopezffdc could you please give the some raw data?  thanks!

[2018-07-19 09:40] AllenFang commented on #422
btw, what version u used? `react-bootstrap-table-next` and `react-bootstrap-table2-editor`

[2018-07-19 09:46] AllenFang commented on #423
@BennyAJ ok, I think we are missing the part of x. PR is welcome.

About the consistence part, you can also fix in the PR and I will have a look on it, it's seems like a little mistake.

[2018-07-19 09:55] AllenFang commented on #424
👍

[2018-07-19 09:55] #424 closed

[2018-07-19 10:35] AllenFang commented on #426
hey, i"m a little confuse on ur issue
Firstly, `handleSettings` and `pulseName`, both method is in the same class?
Secondly, You mean when u click on icon, `handleSettings` method(At the above of `pulseName`) is never get called

Third, do u enable the row selection or cell edit.

BTW, could you please share full code? thanks

[2018-07-19 10:39] AllenFang commented on #423
Sorry, I saw your PR, will check it our when Im free, thanks~~

[2018-07-19 16:05] dpramani commented on #426
Yes both the methods are in the same class.
I will share the full code with you.
In the UI I have a settings icon that will pop up a modal on click. So I need a handler for onClick function.
And I didn't enable row selection or cell edit.

Thanks Allen.

https://docs.google.com/document/d/1ywkiBxCAc2Te6VI0WHhMtkB-Xrmker9DFir0MmhyA0U/edit

[2018-07-19 17:22] chaserda opened #427 "Cell OnClick Events"
Is there a way to trigger an event by clicking a specific cell?
I cant have it be a whole row selection. It needs to be a specific cell.

[2018-07-19 17:31] chaserda commented on #367
+1 for this. Or a specific cell OnClick

[2018-07-19 18:12] dpramani commented on #426
@AllenFang thanks. Its solved  we can close it now. I will share a screen shot of the working code.

<img width="1164" alt="screen shot 2018-07-19 at 12 09 41 pm" src="https://user-images.githubusercontent.com/26373096/42961731-ea719a38-8b4c-11e8-8d1e-8d9a0cc7017e.png">

Along with this, I kept the handlers just before this.state inside the constructor.
Thanks.

[2018-07-19 18:13] #426 closed

[2018-07-19 23:31] Genarito commented on #387
I had the same issue, I installed React and React-Dom in their 16.4.1 version and updated dependencies and all worked:

[code]

[2018-07-20 05:26] #387 closed

[2018-07-20 09:02] aclopezffdc commented on #422
Hi!
I'm using the following versions:
**"react-bootstrap-table-next": "0.1.15"
"react-bootstrap-table2-editor": "0.2.1"**
Here, you can see raw data for the 10 first lines. I think you can reproduce it with that:
[code]
Thanks in advance!

[2018-07-20 18:40] alelr36 commented on #423
+1

[2018-07-20 20:30] dovfriedman opened #430 "Rerender when `defaultSorted` is changed"
Is it possible to enable table rerender when `defaultSorted ` is changed? This would allow external components to control table sorting.

Thanks.

[2018-07-23 02:12] AllenFang commented on #422
@aclopezffdc sorry for lately reply, I will look on it, thanks your information 👍

[2018-07-23 02:15] AllenFang commented on #427
Hello @chaserda I think you can try [`column.events`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnevents-object). This will add event on whole specific column instead of cell, but you can filter out what cell you want to handle in the callback.

Do let me know and reopen this issue if above solution is not fit your requirement. thanks

[2018-07-23 02:15] #427 closed

[2018-07-23 02:19] AllenFang commented on #430
Hello @dovfriedman, [sort management](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-sort.html#manage-sorting-externally) we still working on it, will coming soon.

[2018-07-23 16:54] c-aursu commented on #199
@AllenFang  Hi, any news about multi-select filter ?

best regards.

[2018-07-23 18:51] mkolenski commented on #199
+1

On Mon, Jul 23, 2018 at 12:54 PM, c-aursu <notifications@github.com> wrote:

--
Mark Kolenski
*Principal Software Engineer*
p: 978.809.7708
e: mark.kolenski@invoke.com <mark.kolenski@invoke.com>

[2018-07-23 21:14] zike-Q opened #431 "How can I clean sort status?"
Hi Allen,

I have a column that supports both sorting and filtering, and I applied a remote filtering algorithm where the filtered value will display in the order based on similarity. The problem is that, once I clicked the sort button,  the table would only display in ascending or desc order. Is it possible to clean previous sort status after any filter value updates, so it will display as how I

[2018-07-23 23:03] c-aursu opened #432 "CustomFilter - errors"
Hello,
I'm using example with [CustomLink Example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

The problem that I have also an SearchInput
`   <div className={`item-metric-section ${itemMetric.isLoading ? 'loading

[2018-07-23 23:04] c-aursu commented on #432
"react-bootstrap-table": "^4.3.1",
    "react-bootstrap-table-next": "^0.1.15",
    "react-bootstrap-table2-paginator": "^0.1.6",

[2018-07-24 03:39] AllenFang commented on #422
@aclopezffdc I think this is a bug when sort on the same value. because your `field1` value almost the same.

BTW, after you click to edit the `field2`, the default selection will be empty, that is due to your raw data is different as following:

[code]

cell edit use the raw data instead of the formatted data!!

For the sorting issue, I will fix it soon, thanks

[2018-07-24 06:18] jrotoni commented on #305
Works like a charm! Thank you so much @ssorallen and thank you too @AllenFang

[2018-07-24 07:43] jrotoni commented on #251
@Thebarda where to add that lines of code? Thank you!

[2018-07-24 07:53] Thebarda commented on #251
@jrotoni Here is the doc ;)
[https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html)

[2018-07-24 11:09] abdhass commented on #297
**For those looking for a solution to the radio/checkbox toggle disabling when calling setState:**

What works for me is setting the `selected` property in the `selectRow` object you pass to the table. `selected: [this.state.selectedUserId],` as mentioned by @AllenFang (16 April comment above)

[2018-07-24 11:48] aclopezffdc commented on #422
Thanks to you! :)

[2018-07-25 02:37] AllenFang commented on #431
@zike-Q currently, we don't support the clean sort. I will consider to implement it.
In your case, I think the workaround is you have to do the sort by yourself(remote sort).

But no sure if your cleaning sort is remove the sort order on specify column?

[2018-07-25 02:45] jrotoni commented on #251
@Thebarda I'm still encountering error such as "Cannot read property 'classList' of undefined". Thank you anyway :)

[2018-07-25 05:42] cbfrank commented on #421
@AllenFang Yes, I use **dbclicktoEdit** together with **clickToSelect**, **clickToEdit** and select mode is **checkbox**.
When a row is already **selected**, and user **double click** on a cell, in this case, I think the user do want to just start edit the cell, and yes, the cell is changed to editing mode with the editor is shown, but in additional to this, the **selected** row becomes **unselect

[2018-07-25 05:44] cbfrank commented on #418
@AllenFang thank you for replay, I will try to prepare a PR next month.

[2018-07-25 08:00] Thebarda commented on #251
@jrotoni I guess there is no 'dropdown-menu show' class attribute inside your DOM. Please, could verify that by navigating inside your HTML page :)

[2018-07-25 09:29] djey64 opened #433 "keyBoardNav no longuer supported"
Hi,
keyBoardNav was supported in react-bootstrapt-table, but take no effect in table2.
It would be great to have this awesome feature back in table2
Thank's a lot

[2018-07-25 15:33] royjer commented on #207
@teresa-recursion Could you share your solution?  I came up with one (basically just calling blur on the current control, and click on the next) that works great on FF and Chrome, but not on IE.   Any help would be greatly appreciated.

[2018-07-25 15:37] teresa-recursion commented on #207
@royjer my basic approach was to add key handling in editing-cell.js

![image](https://user-images.githubusercontent.com/32846514/43211208-3e0e1d2e-8fee-11e8-9d9b-006072a52745.png)

and then pass it up to wrapper.js

![Uploading image.png…]()

I don't have permissions to create a branch, otherwise I would share it with you.  I'm not sure this is the direction @AllenFang is going to go with this, b

[2018-07-25 15:41] royjer commented on #207
Awesome.  Thanks!  I'll let you know.

[2018-07-25 15:48] royjer commented on #207
@teresa-recursion can you please share onFocusNext()?

[2018-07-25 16:23] pashazz opened #434 "Is there any way to add Badge to a table row?"
For example, to indicate new unseen items.

[2018-07-25 20:21] teresa-recursion commented on #207
![image](https://user-images.githubusercontent.com/32846514/43225315-148e79bc-9016-11e8-98c0-2fcdc6d63632.png)

[2018-07-25 21:44] cnav007 opened #435 "Can icons be added to table row column value?"
I've been scouring the documentation but I'm still not certain this is feasible, but can an icon be specified in the table data / columns such that I can render generic icons controls along with my normal row text, e.g. trash-o, exclamation-triangle etc?

[2018-07-26 05:40] AmitKKhanchandani commented on #199
Currently, my project needs a multifilter select functionality, any help/idea how would I add achieve this?

[2018-07-26 08:34] ynijs commented on #305
Any update on the move to BS4? I'm still facing issues with the pagination component that is causing an overflow and thus a horizontal scrollbar. I could fix the pagination dropdown with a fix mentioned here on the forums.

[2018-07-26 09:18] c-aursu commented on #432
[code]

The problem is on second pages ( pagination )
When I try to search from ` <input onChange={this.handleSearchChange} placeholder="UPC, Site ID or Product Name" />` - the `columns` formatter functions (productNameCellFormatter) - receive an empty (cell, row).

[2018-07-26 23:51] mathiaswillburger opened #436 "How to set initial sorting and pagination state?"
Hi,

is there a way to manipulate the sorting icons state or pagination state when initially loading the table?

I have implemented react-bootstrap-table2 with remote pagination and sorting. As described in the documentation I pass options like page to the paginationFactory and sortField etc. for sorting. Everything works fine so far when navigating through the data using the `onTableChange` event

[2018-07-27 09:07] peter-sl opened #437 "The table gets slow or may even fail on large datasets"
Hi,
The table gets progressively slower when displaying large data and at certain data size it fails with an exception. The reason is the deep copy solution that you use in `src/store/index.js` at line 80:
`JSON.parse(JSON.stringify(data))`
Please consider changing this to a more optimal solution, like `[...data]` for example.

Cheers,
Petar

[2018-07-27 17:00] waynebrantley commented on #436
Default sort - https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-sort.html#default-sort
Initial page: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html

[2018-07-27 18:07] mathiaswillburger commented on #436
Thanks for your your reply. Unfortunately with that I am facing the following difficulties:

- **Initial Page:** there is no such parameter in the documentation, so I used the `pagination.page` property. Actually as my store "knows" which page the user was on the page property is set to the correct page, i.g. three. Nevertheless, the pagination doesn't seem to care and activate page "1", even thou

[2018-07-27 20:18] waynebrantley commented on #436
Would need more info.  Setting the page will have the grid display the correct page, we use it.  Give a more complete example (including paginationOptions)

[2018-07-27 22:07] mathiaswillburger commented on #436
Sure, I'll prepare a complete example asap.

[2018-07-28 06:58] AllenFang commented on #418
👍

[2018-07-28 07:04] AllenFang commented on #421
@cbfrank sorry for lately reply, [there](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Click%20to%20Select%20and%20Edit%20Cell&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an example for click to select or edit.

if you enable `dbclick`, try:

[code]

Please reopen this iss

[2018-07-28 07:04] #421 closed

[2018-07-28 07:05] AllenFang commented on #433
@djey64 yes, we are going to release `1.0.0` with a lots of legacy feature, like bootstrap4, row expand, table search and export csv. In the next, I will start to implement the keyboard navigation, thanks

[2018-07-28 07:07] AllenFang commented on #434
@pashazz can I know where's the badge you want to add? one of column, a specify column in the last?

[2018-07-28 07:07] AllenFang commented on #435
@Josh123321 's answer is correct. https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

[2018-07-28 07:07] #435 closed

[2018-07-28 07:36] AllenFang commented on #432
@c-aursu the problem is not about custom filter is about pagination.

## Why you encounter this issue
For example, if you navigate to page 3 then search table, but the search result is not reach to page 3, it probably only one page so that it will cause this issue.

## How to avoid?
In your case, you dynamically change the datasize but actually, the component still remain on the current page. So t

[2018-07-28 20:23] zike-Q commented on #431
In my case, it is to remove sort order on all columns and display the rows in the order same as the data array...
If I need to implement remote sort and filter, do I define onTableChange event like this?

[code]

By the way, if I want only my algorithm to work on one column, and use default filter (that came with the library) on other filter columns, is there a way to call your built-in filter & s

[2018-07-29 10:58] WaqarMobeen commented on #332
Hey @AllenFang ,

First of all awesome work on this plugin, Since I am a very old user of react-bootstrap-table I was migrating to the version and was searching for the row expanding, and you mentioned your plan was to release in june, any idea when we will be able to consume that?

Thanks once again.

Cheers

[2018-07-29 21:32] northernbird commented on #332
Hi Allen,

can we help for the implementation?
I will contribute gladly if I can..

Von meinem iPod gesendet

[2018-07-30 07:39] jeznag opened #439 "Date filter cuts off date in Chrome"
![image](https://user-images.githubusercontent.com/1034890/43383711-36be5cf2-941f-11e8-826d-c4c40416aa1a.png)

It seems like the comparator dropdown is far too wide and the date picker input doesn't have enough room. The CSS for the date input includes a hard coded calculation which makes it hard to override.

[2018-07-30 22:43] cnav007 commented on #435
thanks guys!

[2018-07-31 00:01] michaelwschultz opened #441 "Unique column keys when using the same fieldData"
Sometimes it makes sense to pull from the same data but have it formatted in two different ways. It might help to have a alternate `key` prop that can override the dataField as the react element key. I keep getting warnings that two of my columns are using the same `key`.

### Example
[code]

[2018-07-31 08:26] AllenFang commented on #439
it's minor issue I will handle it if I have time, PR is welcome 👍

[2018-07-31 13:51] pashazz commented on #434
I want to add it at the end of specified column's text

[2018-07-31 21:00] michaelwschultz commented on #434
@pashazz you could use the formatter to add an indicator or "badge" right after the text in a specific column.

[code]

This example doesn't include how to then update state after the user has seen a particular row. But hopefully this is the part you were looking for.

[2018-08-01 12:07] AllenFang commented on #434
Good answer by @michaelwschultz
@pashazz please reopen this issue if you feel above solution is not helpful to u.

Thanks

[2018-08-01 12:07] #434 closed

[2018-08-01 12:11] AllenFang commented on #441
@michaelwschultz sure, I will enhance for this or maybe you can also open a PR for this :)

[2018-08-01 13:28] AlessandroGambaro commented on #226
<BootstrapTable....>
 <TableHeaderColumn width={'20%'} ....
<TableHeaderColumn width={'80%'} ...
</BootstrapTable>

[2018-08-01 18:36] Genarito commented on #243
Same problem on a table rendered inside nested components!

[2018-08-01 18:47] rub256 commented on #280
Are some preview about when bootstrap-table2 will have this functionally?

Thanks for your work, you did an awesome module!

[2018-08-02 09:08] JCShauni opened #444 "React component isn't redrawn when a filter is applied"
Hello, I'm having a issue really close to the issue #303 but with something a little different.

**Quick description** : I use a react-bootstrap-table2 with sorting for my user list. Each user can have "git-like tags" which are rendered by a react component.

![image](https://user-images.githubusercontent.com/40736765/43573274-a32a205a-9641-11e8-8e2c-167a1eded21d.png)

The "Tag" button on the righ

[2018-08-03 13:43] narayanchoudhary opened #445 "custom filter function"
Basically I want to add custom filter logic. Something like below.

columns = {[ ...,
    { dataField: 'name',
    text: 'Product Name',
    filter: textFilter(),
    **customOnFilterCallback**: (column, value) = {
        // filteredColumn = custom filter logic on column data
        return filteredColumn;
    }];
};

[2018-08-03 14:00] narayanchoudhary opened #446 "filter function should apply on formated data"
I have use a formatter on a column but while filtering the data. The filter function filter the actual data not the data displayed by the formatter function.

[2018-08-04 08:07] AllenFang commented on #239
Implement on `react-bootstrap-table-next@1.0.0` and `react-bootstrap-table2-toolkit@1.0.0`

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-search.html

[2018-08-04 08:07] #239 closed

[2018-08-04 08:07] AllenFang commented on #245
Implement on `react-bootstrap-table-next@1.0.0` and `react-bootstrap-table2-toolkit@1.0.0`

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-search.html

[2018-08-04 08:08] AllenFang commented on #244
Support on `react-bootstrap-table-n3xt@1.0.0` and `react-bootstrap-table2-toolkit@1.0.01

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-export-csv.html

[2018-08-04 08:08] #244 closed

[2018-08-04 08:08] AllenFang commented on #259
Support on `react-bootstrap-table-n3xt@1.0.0` and `react-bootstrap-table2-toolkit@1.0.01

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-export-csv.html

[2018-08-04 08:09] AllenFang commented on #341
Support on `react-bootstrap-table-n3xt@1.0.0` and `react-bootstrap-table2-toolkit@1.0.01

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-export-csv.html

[2018-08-04 08:09] AllenFang commented on #332
Support on `react-bootstrap-table-next@1.0.0` and `react-bootstrap-table2-toolkit@1.0.0`

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-row-expand.html

[2018-08-04 08:11] AllenFang commented on #207
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/433

[2018-08-04 08:12] AllenFang commented on #230
Expandable row support on `react-bootstrap-table-next@1.0.0` and `react-bootstrap-table2-toolkit@1.0.0`.

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-row-expand.html

[2018-08-04 08:14] AllenFang commented on #305
Support from `react-bootstrap-table-next@1.0.0`: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/bootstrap4.html

[2018-08-04 08:14] #305 closed

[2018-08-04 08:14] AllenFang commented on #215
Support from `react-bootstrap-table-next@1.0.0`: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/bootstrap4.html

[2018-08-04 08:14] #215 closed

[2018-08-04 08:14] AllenFang commented on #251
Support from `react-bootstrap-table-next@1.0.0`: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/bootstrap4.html

[2018-08-04 08:14] #251 closed

[2018-08-04 08:15] #332 closed

[2018-08-04 08:17] AllenFang commented on #199
Hello check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#multiselect-filter

and https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=MultiSelect%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel is an example.

[2018-08-04 08:17] #199 closed

[2018-08-05 04:36] AllenFang commented on #444
Hello @JCShauni, I will check this out. however, i also have few question due to I'm not very clear your question.

1. You mean the filter apply, the `nameColumnFormatter` function is not being called?
2. I saw the `nameColumnFormatter` use the `state.tags`, what timing that `state.tags` will change?
3. Where you define the `columns`?

[2018-08-05 04:54] AllenFang commented on #444
I have a quick example for checking if the formatter being called when apply filters:

[code]

Seems like everything is work fine, How about show me the fully code which can let me work on local.

[2018-08-05 04:58] AllenFang commented on #445
Hello, @narayanchoudhary

Right now the only workaround is you have to enable the remote on filters

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-remote.html) is a quick introduction for remote mode, and [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Filter&full=0&addons=1&sto

[2018-08-05 05:02] AllenFang commented on #446
@narayanchoudhary default is filter on raw data.

## Why don't filter on formatted data?
Because a lots of use case that formatted content is a complex HTML DOM or something, it's meaningless to filter on it.

## How can i filter on formatted data?
You can use `column.filterValue` > https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnfiltervalue-function

I

[2018-08-05 09:09] ali-master opened #450 "wrapperFactory is not a function"
Hi,

Thank you for developing this library.
I have a problem with that.
When I use the paginationFactory function, that will return the following errors.
![screen shot 2018-08-05 at 1 34 11 pm](https://user-images.githubusercontent.com/9049092/43684400-88543e26-98b4-11e8-8303-bbce1d4f13ca.png)

react-bootstrap-table-next": 1.0.0
react-bootstrap-table2-overlay": 1.0.0
react-bootstrap-table2-paginat

[2018-08-06 06:31] AllenFang commented on #450
@ali-master hello, seems like you use newest releases, what's the version of you React.js ?

[2018-08-06 06:34] AllenFang commented on #450
BTW, there's not more `container.js` in `1.0.0`, are u sure you upgrade successfully for `react-bootstrap-table-next`?

[2018-08-06 07:34] ali-master commented on #450
Hi @AllenFang,

Yes, I'm sure using the latest version.
![screen shot 2018-08-06 at 12 03 04 pm](https://user-images.githubusercontent.com/9049092/43703011-c86b2062-9970-11e8-8140-531f44c3c74e.png)

[2018-08-06 10:00] AllenFang commented on #450
@ali-master yes i understand, but the error message show that `react-bootstrap-table-next` may stay in the legacy version. Could you please remove the `node_modules` and run install again? thanks

[2018-08-06 10:12] ali-master commented on #450
Great job.

That's helped me, thanks
The problem was fixed.

[2018-08-06 10:20] AllenFang commented on #450
@ali-master Cooool 👍

[2018-08-06 10:20] #450 closed

[2018-08-06 11:05] c-aursu commented on #199
@AllenFang there is a way to implement an filter not only EQ - but also NOT_EQ in this multiSelect ?depends of each value selected.

[2018-08-06 16:08] Gi972 opened #451 "customComponent"
Hello @AllenFang

In React-bootstrap-table v1  it was possible to custom the checkbox selection row.
[selectRow: customComponent](https://allenfang.github.io/react-bootstrap-table/docs.html#customComponent)
This function is missing in the V2, it's possible to add it please?

Thank you,
The V2 is awesome thank you for this.

Gi

[2018-08-06 16:34] Gi972 commented on #451
Sorry @AllenFang

I just see you have already implement It!!
so when you can just add un little example in storybook :-)

Thanks

[2018-08-06 17:29] dpramani commented on #332
@AllenFang . Thanks for the updated feature. But currently where ever I click, the row expands , is there a way, when I will click only a button for example a get info button inside a row element, the row expands ? Thanks.

[2018-08-06 18:23] Denis-String opened #452 "double click"
Good afternoon,
How can I identify a double click on the row to select?

[2018-08-06 18:46] Denis-String commented on #452
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/372

[2018-08-06 18:46] #452 closed

[2018-08-06 20:22] dillobird opened #453 "paginationTotalRenderer not returning correct values."
The `to` value passed to the paginationTotalRenderer function is incorrect.

I can reproduce this in my own code, but it's also present in the pagination example:

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Specifi

[2018-08-07 08:07] elmoro666 opened #455 "debounce bug?"
Just noticed this in lib/src/utils.js

![image](https://user-images.githubusercontent.com/15340253/43762902-88391e2c-9a29-11e8-8778-14a2ed51b703.png)

Seems like s spelling mistake?

[2018-08-07 09:39] AllenFang commented on #445
Thanks @narayanchoudhary I also open to accept the donate. However, I'm in Taiwan, but it's not easy to connect paypal with local bank... lol

[2018-08-07 09:49] AllenFang commented on #451
@Gi972 yes, there's an example: [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

👍

[2018-08-07 09:49] #451 closed

[2018-08-07 10:39] maxvia87 commented on #450
Hello, I am getting the same error with the filterFactory function even though I removed " node_modules and run install again".

<img width="418" alt="screen shot 2018-08-07 at 12 37 41" src="https://user-images.githubusercontent.com/34567125/43771212-bf130f4c-9a3e-11e8-881e-74efe197f307.png">

Any idea how I could fix that?

Thank you in advance
<img width="541" alt="screen shot 2018-08-07 at 12

[2018-08-07 10:50] ali-master commented on #450
Would you share your written code about the table config?

[2018-08-07 12:28] AllenFang commented on #347
@Josh123321 upgrade all of the `react-bootstrap-table` related packages to `1.0.0`. Please open another issue if this problem still remain.

[2018-08-07 12:28] #347 closed

[2018-08-07 12:28] AllenFang commented on #347
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/04/version-bump.html

[2018-08-07 12:42] maxvia87 commented on #450
Of course! You mean the Boostrap-table?

Here it is:

`
import React, { Component } from 'react';
import ReactDOM from 'react-dom';
import Routes from './routes';
//import App from './components/landingPage';
import {
  graphql,
  ApolloProvider,
  createNetworkInterface
} from 'react-apollo';
import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
import { ApolloClient } from 'ap

[2018-08-07 12:50] maxvia87 commented on #450
everything is working fine until I had `filter={ filterFactory() }` to the `<BootstrapTable />` component

[2018-08-07 15:43] dpramani opened #456 "Clicking anywhere on the row expands the row, can it be attached to a button inside that row ?"
@AllenFang . Thanks for the updated feature. But currently where ever I click, the row expands , is there a way, when I will click only a button for example a get info button inside a row element, the row expands ? Thanks.

[2018-08-07 18:18] chaserda opened #457 "Search Functionality Based On Redux State"
Can I have a search box anywhere on my site that gets pushed into Redux state so multiple tables can read off of?

Example: I have two tables on my site reading the same data but with different dataFields. If I type into the search box a certain number or text, both tables can read that state and filter down simultaneously.

[2018-08-08 02:10] ivandurst opened #458 "When updating to V 1.0.0: Error `TypeError: _react2.default.createContext is not a function`"
I just updated to V 1.0.0 from V 0.1.15. I updated React and react-dom to 16.3. When I `npm start` I now get this error:

[code]

Using Create-React-App.

Was working perfectly fine before. Any thoughts?

[2018-08-08 09:58] dwalsh01 opened #459 "Cannot read property 'get' of null (Export CSV)"
Hi,

Big fan of this project. I am trying to implement exporting data in my project, here is how my component is setup.

- Component connects to redux and upon mounting fetches data from database

- This data is then rendered in a bootstrap table (I have error and loading states which prevent the table rendering before there is data to render

Below is my  component return function:

`return (

[2018-08-08 11:04] christanfoden opened #460 "expandRow having no effect"
I seem to be having some difficulty using expandRow, I've followed the docs along and search for similar problems but can't find much. I don't get any errors but if I click on a row nothing happens. I could be making a basic error somewhere?

here is my table component and i've tried using an alert inside the expandRow prop which fire on component mounting but for the life of me cannot why it's no

[2018-08-08 11:09] Denis-String opened #461 "button returns line information when clicked"
Good morning, I'm trying to put a button in the column that, when clicked, returns me information from that row.

I'm trying something like:

[code]
[code]
[code]
[code]

That way, the button appears in the column, but when clicked, does not print the console log.

As if the method was not being called.

So I removed the parameters.
Stay like this.

[code]
[code]
That way, he printed the console l

[2018-08-08 13:11] elmoro666 commented on #461
Hi

It seems to me that in you first example you are executing the function in onClick:
![image](https://user-images.githubusercontent.com/15340253/43838921-03eef070-9b1d-11e8-8075-797e5aac99fa.png)

That's not going to work as it is executed immediately. You can use an arrow function for example:

<Button onClick={() => this.handleTagClick(row)}>Ola</Button>

There are two other ways of doing it

[2018-08-08 14:09] blac3kman commented on #460
I use  "react-bootstrap-table-next": "1.0.0". When I click on expandedRow I receive

[code]

[2018-08-08 14:16] christanfoden commented on #460
hmm.... looks like you have got further than me, I must be using the wrong version I am on `    "react-bootstrap-table-next": "^0.1.15",
`
are you passing 'isAnyExpands' in as a prop to your `<BootstrapTable />` component?

[2018-08-08 14:46] narayanchoudhary commented on #445
Hi @AllenFang
Currently, The onFilter function filter the columns by like query. I want to use https://github.com/farzher/fuzzysort algorythm. Please check it out.
Thanks

[2018-08-08 15:13] christanfoden commented on #460
Ok so I have upgraded to 1.0.0 which makes sense as the only one that works with Bootstrap 4, which I am running...using these versions:

`"react-bootstrap-table-next": "^1.0.0",
    "react-bootstrap-table2-editor": "^0.2.1",
    "react-bootstrap-table2-filter": "^0.3.0",
    "react-bootstrap-table2-paginator": "^0.1.6",
    "react-bootstrap-table2-toolkit": "^1.0.0",`

A bunch of errors were thro

[2018-08-08 15:16] blac3kman commented on #460
thanks. I'll wait your post!!!!

[2018-08-08 15:37] christanfoden commented on #460
I'm not sure it works with `react-bootstrap-table2-filter` at all yet, just tried 1.0.0 and it doesn't seem even without being called by a column.

[2018-08-08 15:40] christanfoden commented on #460
@AllenFang do you know when this is likely to happen? Assume its either being worked on, on the road map or I've overlooked something...

[2018-08-08 15:42] blac3kman commented on #460
In my case I don't use any filter but I use pagination: 1.0.0. When I click on row everything is works but I can see in web console error message which I posted before.

`
Warning: Failed prop type: Invalid prop `isAnyExpands` of type `boolean` supplied to `BootstrapTable`, expected `function`.
    in BootstrapTable
    in RowExpandProvider
    in DataProvider (created by BootstrapTableContainer)

[2018-08-08 18:18] Randore opened #462 "How to customize the components?"
Hi,

Is there any way to customize the components - what I mean is, to customize pagination's, button placements and positions as per my design?

example: https://www.extjs-tutorial.com/live-examples/extjs4/Paging-in-Grid/default.htm

My project involves porting from ext to react with the exact match of UI.

[2018-08-08 18:29] Randore opened #463 "Context Menu / Hiding Columns"
Hi,

This is a feature request.

1. Context Menu
2. Right click on the column header (or) a select box to show all columns and unchecking the column values to toggle the column.

[2018-08-08 20:36] chaserda opened #464 "CSV Export only current items"
Is there a way to only export the items currently displayed on the table based on filters instead of exporting the whole list?

[2018-08-08 20:48] maxvia87 commented on #450
Hey Ali did you see anything wrong with my code? Thank you for the help anyway

[2018-08-09 09:12] AllenFang commented on #458
Hello @ivandurst after `1.0.0` please upgrade to react@16.3`, when you upgrade `react-bootstrap-table-next`, you are suppose to see some warning about react version

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/#notes

[2018-08-09 09:12] #458 closed

[2018-08-09 14:35] AllenFang commented on #453
@dillobird ok, I will fix it :) . Thanks 👍

[2018-08-09 14:35] AllenFang commented on #455
@elmoro666 I will fix it, thanks :)

[2018-08-09 14:44] AllenFang commented on #456
Currently, We only support click on row to expand. But you can still control the expand by yourself.  Check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Expand%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-08-09 14:44] #456 closed

[2018-08-09 14:49] #457 closed

[2018-08-09 14:55] AllenFang commented on #459
I saw your `react-bootstrap-table-next` is still `0.1.15` and `react-bootstrap-table2-editor` is `0.2.1`. Please upgrade all of react-bootstrap-table2's packages to newest should solve your problem :)

Please open this issue if this issue still remain, thank you :)  👍 👍

[2018-08-09 14:55] #459 closed

[2018-08-09 14:57] dwalsh01 commented on #459
@AllenFang Ended up in the mean time implementing a workaround! Will do this going forward. Thanks! Great project, keep it up!

[2018-08-09 14:59] AllenFang commented on #460
@blac3kman ok, it's probably a little bug that I can fix recently

@christanfoden Can you confirm you already upgrade all the packages of `react-bootstrap-table2` to newest(`1.0.0`)?

Sorry for lately reply

[2018-08-09 15:00] AllenFang commented on #460
@blac3kman BTW, if you don't use the pagination, the warning still come out?

[2018-08-09 15:04] AllenFang commented on #461
@elmoro666 Good answer.

@Denis-String Please reopen this issue if the problem still remain. thanks

[2018-08-09 15:04] #461 closed

[2018-08-09 15:14] AllenFang commented on #462
@Randore right now the customization is limited. I will work on it ASAP but it really need some time.

[2018-08-09 15:18] AllenFang commented on #463
I think we can support the column toggle definitely, but it's much lower priority in current circumstances. But the column toggle is independent function. I will not prefer to implement the context menu or right click. Because you can custom the right click and show the menu by yourself. We only can help you to implement the toggle functionality.

Thanks 👍

[2018-08-09 15:19] christanfoden commented on #460
Hey @AllenFang no worries, Yes I upgraded to 1.0.0 and if i comment out all the plugins it works well. But I then tried to re-introduce filters and it didn't work. So I upgraded filters to 1.0.0 which didn't work either. I then tried to go back to the verisons I originally had and got in all kinds of trouble so re instantiated my branch to before I tried updrading to 1.0.0

[2018-08-09 15:44] AllenFang commented on #460
@christanfoden 👍  So any issue there? Filter work fine?

[2018-08-09 15:56] blac3kman commented on #460
@AllenFang

It doesn't matter with pagination or not. Expandend mechanism works but with some error in console.

[2018-08-09 16:38] christanfoden commented on #460
@Allenfang no it doesn’t work with filters, it crashes. I can try and replicate in a repo and post it here if that’s helpful?

[2018-08-09 17:47] gvautour opened #465 "Search results cleared after moving cursor"
I noticed that the Search results get cleared back to it's original dataset after the cursor is moved using arrow keys. Is this the expected behavior? I was hoping to be able to provide a 'clear' button to reset the search results instead.

[2018-08-09 18:03] ali-master commented on #450
Hi @maxvia87,

apologies for the delay in replying.
It works for me.
<img width="624" alt="screen shot 2018-08-09 at 10 29 26 pm" src="https://user-images.githubusercontent.com/9049092/43916769-c32c2f00-9c23-11e8-8b37-b4225de4c792.png">

What's the version of your React.js?

BR.

[2018-08-09 18:05] ali-master commented on #450
If you can, please remove your **node_module** folder and try again with **Yarn** package manager instead of **NPM** because npm has many problems like always for installing packages without caching.

[2018-08-09 18:12] gvautour commented on #465
In addition, I am unable to pass the search value directly to the onSearch function.

Even when I have the following, after onKeyUp, the table should only show records with the string 'test', but it only works on the first keyUp event, resets the dataset for any other keyUp afterwards and search doesn't work thereafter.

    ...
    <InputGroup>
        <Input
            onKeyUp={input => {

[2018-08-10 20:04] Denis-String opened #466 "Change column color"
Good afternoon,
Thanks for this great library.

I'm changing the color of the line this way.
[code]

Is there any way to change the color of the column? because this changes the color of the entire line

[2018-08-11 04:29] AllenFang commented on #460
@blac3kman Thank, it's minor issue because just a warning, I will check it out if I have time
@christanfoden sure, please give me a repo or code to reproduce, but keep it minimal and simple.
I didn't check expand row with bootstrap4, I will check it out.  Thanks

[2018-08-11 04:34] AllenFang commented on #465
Hello @gvautour I don't think it's a expected behavior.

A question, you mean it's doesn't work after first keyup event. so when the second keyup event happen. your callback function get called?

[2018-08-11 04:35] AllenFang commented on #466
@Denis-String try > [`column.style`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function)

[2018-08-11 04:35] #466 closed

[2018-08-11 08:03] jack482653 opened #471 "Passing objects to column.style and column.align will cause error"
Example code or repo:
[code]

When I passing objects to column.style and column.align at the same time will cause the below error:
[code]
The root cause I guess is `props.style` is read-only object, so the assignment of `cellStyle.textAlign` will not work:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/3ec849bd94e5adf18a7cc39a8d3ddf656027f549/packages/react-bootstrap-table2/

[2018-08-11 20:58] ipflowss opened #475 "Open Modal on Row event"
Is there some boiler plate that shows how to open a modal based on a row event?

[2018-08-11 21:00] ipflowss opened #476 "sizePerPage dropdown default value?"
Is there a way to set the sizePerPageList dropdown default value.  All I see is the first value of the sizePerPageList being chosen.

[2018-08-11 21:02] ipflowss opened #477 "Warning: Failed prop type: Invalid prop `page` of type `object` supplied to `SizePerPageOption`, expected `number`"
I defined a sizePerPageList with objects containing text and value keys.  I get the following warning.  Why?

Warning: Failed prop type: Invalid prop `page` of type `object` supplied to `SizePerPageOption`, expected `number`

[2018-08-11 21:04] ipflowss opened #478 "Formatting date and time"
Hi there,

Ive seen how to format date but how do I format time with date.  Here is my code for formatting date only

          formatter: (cell) => {
            let dateObj = cell;
            if (typeof cell !== 'object') {
              dateObj = new Date(cell);
            }
            if (cell == null) {
              return
            }
            return `${('0' + (dateObj.getMonth() + 1

[2018-08-11 21:10] ipflowss opened #479 "Format buttons next to each other"
Hi there,

I am hoping to format "Add Circuit" and "Export CSV" buttons next to each other on the page but currently they are on separate lines.

Here it is:

                    props => (
                      <div>
                        <SearchBar { ...props.searchProps } />
                        {this.state.showAddButton ?
                          <AddCircuit
                          loc

[2018-08-11 21:45] ipflowss opened #480 "csvText use dataField value"
I see the csv header names are derived from the column's text value.  Is there a to derive the name from the column's dataField value?

[2018-08-12 05:30] AllenFang commented on #475
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Rows&selectedStory=Row%20Event&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an example to show u how to attach a row event, however, we don't have any boilerplate to indicate how to open a modal. But I think it's not  to difficult to imple

[2018-08-12 05:30] #475 closed

[2018-08-12 05:31] AllenFang commented on #476
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationsizeperpage-number

[2018-08-12 05:31] #476 closed

[2018-08-12 05:38] AllenFang commented on #477
@ipflowss I guess your `value` property is an `object`, it should be a number:

[code]

Please reopen this issue if the problem still remain, thank you

[2018-08-12 05:38] #477 closed

[2018-08-12 05:41] AllenFang commented on #478
@ipflowss currently, we still not support the date time editor and filter. However, you can custom it by yourself.

Anyway, about formatting date and time, you can find the answer from javascript. It's not the question in `react-bootstrap-table`

[2018-08-12 05:41] #478 closed

[2018-08-12 05:43] AllenFang commented on #479
Bootstrap support a row class:

https://getbootstrap.com/docs/4.0/layout/grid/

[2018-08-12 05:43] #479 closed

[2018-08-12 05:44] AllenFang commented on #480
Try [`column.csvText`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columncsvText-string)

[2018-08-12 05:44] #480 closed

[2018-08-12 06:39] #453 closed

[2018-08-12 06:39] #455 closed

[2018-08-12 06:39] #464 closed

[2018-08-12 06:39] #465 closed

[2018-08-12 06:39] #471 closed

[2018-08-12 06:44] AllenFang commented on #471
@jack482653 fixed in `react-bootstrap-table-next@1.1.0`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)

[2018-08-12 06:44] AllenFang commented on #465
@gvautour fixed in `react-bootstrap-table-next@1.1.0` and `react-bootstrap-table2-toolkit@1.0.1`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)

[2018-08-12 06:46] AllenFang commented on #464
@chaserda fixed in `react-bootstrap-table-next@1.1.0` and `react-bootstrap-table2-toolkit@1.0.1`

Configure [`exportCSV.exportAll`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/export-csv-props.html#exportcsvexportall-bool) as `false` will achieve your requirement.

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.htm

[2018-08-12 06:46] AllenFang commented on #455
Fixed in `react-bootstrap-table-next@1.1.0`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)

[2018-08-12 06:47] AllenFang commented on #453
@dillobird Fixed in `react-bootstrap-table2-paginator@1.0.1`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)

[2018-08-12 06:48] AllenFang commented on #460
@blac3kman the warning was fixed in `react-bootstrap-table-next@1.1.0`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)

[2018-08-12 07:15] jasonaronson opened #483 "Remote search not firing onTableChange"
I recreated the remote search example from the Storybook exactly and cannot get onTableChange to fire when typing in the SearchBar component. The issue appears to be that `remote={ { search: true } }` in the BootstrapTable component does not work. When I add filtering or sorting in the remote object the onTableChange function fires properly so I've narrowed it down to this. I have also tried just

[2018-08-12 08:39] AllenFang commented on #483
@jasonaronson ok, I will check it out, thanks!

[2018-08-12 14:42] eylonronen opened #484 "Vertical headers support"
Hi, can you please add support for vertical headers(having the headers bar on the left side of the table)?
You can read more of how to implement it here:
Vertical heading in html table:
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_headers

Bootstrap:
https://github.com/twbs/bootstrap/issues/476

Thank you very much :)

[2018-08-12 14:58] jack482653 commented on #471
Thank you!!!

[2018-08-12 15:20] brendanmurphy opened #485 "'underscore' in utils.js missing from 1.1.0 update"
Failed to compile
./node_modules/react-bootstrap-table-next/lib/src/utils.js

Module not found: Can't resolve 'underscore' in '/Users/brendanmurphy/Projects/PARADIS3/website-2018/node_modules/react-bootstrap-table-next/lib/src'

This error occurred during the build time and cannot be dismissed.

[2018-08-12 15:29] brendanmurphy commented on #485
just had to: npm i underscore

[2018-08-12 15:29] #485 closed

[2018-08-12 17:34] LiquidSean opened #486 "Module underscore not found in latest Version"
[code]
##
Ever since updating to [1.0.1](https://github.com/react-bootstrap-table/react-bootstrap-table2/releases/tag/react-bootstrap-table2-toolkit%401.0.1) I can't compile my project because of 'underscore' not being found.

[2018-08-13 14:03] AllenFang commented on #486
@LiquidSean  please upgrade to `react-bootstrap-table-next@1.1.1` again, I think it will fix this issue.

[2018-08-13 14:03] AllenFang commented on #485
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/486

@brendanmurphy actually, it's a bug and I think it was fixed in `1.1.1`

[2018-08-13 16:33] savtym commented on #278
So, when you can add this feature?
Thanks :)

[2018-08-14 14:03] blac3kman commented on #460
@AllenFang thank you very much))

[2018-08-14 14:27] Denis-String opened #487 "selected line effect when using double-click"
Good Morning,
When I use a click to select the line, I can make the selected line effect (change the color of the line that was selected)

doing like this:

[code]
[code]
`  <BootstrapTable id="tablePessoa" striped hover keyField='id' data={products} columns={columns} selectRow={selectRow} />`

This works very well, when given a click, applies the selection effect.

But when I try to double-click

[2018-08-14 18:19] copas2 opened #488 "client side pagination and cellEdit"
Local pagination "aligning" returns back to start page when editing a cell. In a say 6 element array with 5 rows per page you change to the second page and try to edit the last element, the pagination navigates back to the first page.
To examine clone https://github.com/copas2/bst2-b1 , run 'npm start' and try to edit the 6th element.
A suggested quick fix: https://github.com/react-bootstrap-table

[2018-08-15 14:33] #486 closed

[2018-08-15 14:40] AllenFang commented on #484
@eylonronen I will, but this is much minor feature to me currently, so PR is welcome

[2018-08-15 14:44] AllenFang commented on #483
@jasonaronson sorry for lately reply, I think the remote search is work fine. There an online [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Search&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

Can you share your example but please keep it minimal and simple, thank yo

[2018-08-15 15:02] eveseli-ritech commented on #283
I'm having the same issue. Any solution to this problem? Thanks in advance.

[2018-08-15 22:18] josefheld opened #490 "Filter + MobX - MeteorJS"
Hi,

I have the following situation:
My container loads data from Meteor backend via a Meteor  handleTableChange. When the data arrives I set it to an observed variable. This causes the table to be updated.
My problem is, that the value in the filter box is removed and it is unknown to the user what filter is used.
To get back to the original list, the user can only reload the whole page...

The e

[2018-08-16 08:31] AllenFang commented on #487
@Denis-String i will check this out, probably is a bug

[2018-08-16 08:40] AllenFang commented on #487
@Denis-String

[code]
this is my demo code for reproduce your issue, but when I db click on row, the selection will trigger. Did I missing something?

[2018-08-16 08:43] AllenFang commented on #437
after `react-bootstrap-table-next@1.1.1`, we improve the cell level performance. In the next couple release, we will start improve the row level performance enhancement. Just give me some time. thanks

[2018-08-16 08:44] AllenFang commented on #437
BTW, after `1.0.0`. We fix `JSON.parse(JSON.stringify(data))`. So closed this issue

[2018-08-16 08:44] #437 closed

[2018-08-16 09:46] vikhyatprabhu opened #491 "Wrong code in example for Clear All filters storybook"
![image](https://user-images.githubusercontent.com/26038037/44201588-3ce2cc80-a167-11e8-98ee-a7f5a95fc546.png)
Wrong code in Clear all filters example as shown in pic. Code is for filter columns by 0 while the example is for clearing filters.

[2018-08-16 12:30] AllenFang commented on #491
@vikhyatprabhu I will fix it, thank you 👍

[2018-08-16 13:38] nkassab opened #493 "column reordering with drag & drop"
I would lke to know if there is a way to implement easily column reordering with drag & drop

[2018-08-17 10:57] teaklvs opened #494 "Cell edit table 2 version "1.1.1""
Hi,

I am using react bootstrap table next version "1.1.1" and editor version "0.2.1". Cell edit stopped working after updating the table-next version from "0.1.15". Even a simple edit example like below doesn't seem to render an input field. We cant revert to the pervious version, as it will break the pagination option. Could you please provide me with help for this issue?
Thanks!

import React,

[2018-08-17 18:45] dillobird opened #495 "Pagination not playing nicely with Toolkit table search bar."
Looks like there's a bug when using both pagination and the search bar from the toolkit.

To reproduce:

1. Search for something that returns 0 results using a full table search bar.
2. Change the rows per page to something other than the current selection. e.g. from 10 to 20.
3. Clear the search term from the search bar.

It throws the following error and crashes the app:

`TypeError: Cannot read

[2018-08-18 05:14] AllenFang commented on #490
@josefheld text filter have a debounce(`delay`), it configure 500ms, so if user type faster, it should not call `handleTableChange` in every typing. You can configure the `delay` via [`filter.delay`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#textfilterdelay-number) if you feel it is too short.

Sorry, I can get you for above description. Could you please

[2018-08-18 05:16] AllenFang commented on #493
@nkassab currently, we dont support this issue but I'm also not sure if you can achieve it easily via react dnd etc libraries. You can try it and do let me know if u feel something need to enhance in `react-bootstrap-table2`. Thanks

[2018-08-18 05:17] AllenFang commented on #494
@teaklvs you have to upgrade `react-bootstrap-table2-editor` to `1.0.0`. https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/04/version-bump.html

Kindly reopen this issue if the problem still remain, thank you

[2018-08-18 05:17] #494 closed

[2018-08-19 04:47] AllenFang commented on #490
@josefheld OK, I got you.  Could you please share what version (`react-bootstrap-table-next` and `react-bootstrap-table2-filter`) u used now? Do u use `react-bootstrap-table2-overlay`?

Last one question is how u re-render the table?  thanks

[2018-08-19 07:31] masihtamsoy commented on #484
Hi, @AllenFang want to work on this, but I'm not sure what process to follow as it would be my first participation to a project.

Could you give me some guidelines?

[2018-08-19 20:47] josefheld commented on #490
sorry... closing it was unintentional...

[2018-08-20 05:04] vikhyatprabhu opened #498 "Wrong code in example in empty table overlay"
![image](https://user-images.githubusercontent.com/26038037/44321249-83d10a80-a464-11e8-9681-f1b57bce91e5.png)
Wrong code for example empty table overlay. No source of NoDataIndication in the example

[2018-08-20 07:52] teaklvs commented on #494
Hi @AllenFang, that helped! Thanks!

[2018-08-20 10:14] chisinhong opened #499 "how to set the function"
how to implemnt this (winPercentage )function into the 'dataField:rate'

    winPercentage = () => {
        const totalCount = this.props.total.count
        const winCount = this.props.win.count

        return (totalCount !== 0) ?
            Math.floor(winCount / totalCount * 100) + '%' : 0 + '%'
    }

`const columns = [{
  dataField: 'id',
  text: 'ID',
  filter: textFilter()
}, {
  dataFiel

[2018-08-20 12:26] AllenFang commented on #484
@masihtamsoy I think the the first step is setup the env to develop, please check [this](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/docs/development.md)

For the vertical header table, I think the mainly changes will be in the `react-bootstrap-table-next` modules, the source is right there: https://github.com/react-bootstrap-table/react-bootstrap-table2/tree/master

[2018-08-20 12:27] AllenFang commented on #490
@josefheld try don't to use overlay.

[2018-08-20 12:29] AllenFang commented on #495
@dillobird ok, I will check this out, sorry for lately reply.

[2018-08-20 12:29] AllenFang commented on #495
@dillobird btw, what version u used, list all of the related packages. thanks

[2018-08-20 12:30] AllenFang commented on #498
@vikhyatprabhu thanks, I will patch in next release.

[2018-08-20 12:35] levantuy commented on #483
please help me!

I  use redux get data from  api.  It not working correctly if not settimeout to methed this.setState({}).

// constructor
constructor(props) {
    super(props);
    this.state = {
      data: []
    };
}
//  filter
handleTableChange = (type, { page, sizePerPage, filters }) => {
    this.props.fetchData(page, sizePerPage); // call api use redux.
    this.setState({
      data: this

[2018-08-20 12:55] dillobird commented on #495
@AllenFang No worries mate! Package versions below:

[code]

[2018-08-20 14:56] AllenFang commented on #495
ok, thank you

[2018-08-20 15:28] dillobird commented on #495
@AllenFang You’re a gentleman and a scholar. Thank you!

When’s the next release due out?

[2018-08-20 15:38] AllenFang commented on #495
@dillobird I think about 8/21 or 22.

[2018-08-20 21:44] josefheld commented on #490
yes, that solved it. Thank you.
But why?

[2018-08-21 00:22] dovfriedman opened #501 "`sortFunc`: expose row data to custom sort function"
Have you thought about exposing the row data to the custom sort function instead of just the compare values, order and dataField? This would allow for more complicated sorting or is that why `remote sort` exists.

[2018-08-21 09:03] #488 closed

[2018-08-21 09:03] #498 closed

[2018-08-21 09:06] AllenFang commented on #498
Fixed on official document and source code, thank you 👍

[2018-08-21 09:09] AllenFang commented on #495
@dillobird we fixed this issue in `react-bootstrap-table-next@1.1.2`, `react-bootstrap-table-toolkit@1.0.2` and `react-bootstrap-table2-paginator@1.0.2`. check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/21/version-bump.html)

[2018-08-21 09:09] #495 closed

[2018-08-21 09:09] AllenFang commented on #495
Please reopen this issue if the problem still remain, thanks

[2018-08-21 09:12] AllenFang commented on #363
hey guys, we fixed this issue in `react-bootstrap-table-next@1.1.2`, check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/21/version-bump.html)

[2018-08-21 09:12] #363 closed

[2018-08-21 14:00] skYYman opened #502 "row selection uses wrong id field in nested table data"
For data in a table I'm using an array that includes objects and another array. On the main and the sublevel are fields called 'id'. When I declare the 'id' dataField for the table I'm telling it to point to subbaray.id.

The row selection, however, points to the first id and this breaks everything. Am I doing something wrong or is this a bug?

[2018-08-21 14:35] chriskfwoo opened #503 "Toggle read and remote cell editing"
I created a button to toggle between two states: Read and Edit mode.

I have a component that passes a boolean prop called `read`` to a child component.
With the prop, I tried something similar to this...

[code]

For some reason, when I change the edit value its not working.
I know its changing. If I simply replace the `BootstrapTable` component with div's tags. It works.

[2018-08-21 16:41] dpramani opened #504 "setState not re rendering in version ^1.0.0"
Hi @AllenFang

I have a function which simply sets the state of a variable, based on the row index. **Version 1.0.0 works perfectly with the code**. But when I installed the new version ^1.0.0, it somehow stops rendering. It sets the state of the variable, but doesn't re render.  I will provide some code snippets to back this issue.

**Note : Basically the column formatter method is not getting ca

[2018-08-21 17:13] levantuy commented on #477
when products.length=0 show same message error: Failed prop type: Invalid prop `page` of type `object` supplied to `SizePerPageOption`, expected `number`.

[2018-08-21 18:57] chriskfwoo commented on #503
I resolve this by adding a key prop for both bootstrap table. I guess react didn't know to re-render.

[2018-08-21 22:35] dillobird commented on #495
Fixed! Thanks again @AllenFang.

[2018-08-22 18:13] subzeroDevelopment opened #505 "Got undefined rows"
I have a BootstrapTable with SearchBar also a onSelectAll function, all works fine when select or unselect all rows without a previous search, but I am getting undefined rows when select  or unselect rows with filtered rows by SearchBar.
[code]
My selectRow Object:

[code]
handleOnSelectAll function only print rows now, here I'm getting undefined rows

[code]
this is the output of print in functio

[2018-08-22 18:17] subzeroDevelopment commented on #505
I am using this versions:
 "react-bootstrap-table-next": "^1.1.1",
 "react-bootstrap-table2-toolkit": "^1.0.1"

[2018-08-22 18:59] masihtamsoy commented on #484
I went to this file,
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/bootstrap-table.js .

`<BootstrapTable />` return's table structure.
[code]
It is difficult to transpose above mentioned table because of `<thead />` and `<tbody />` convention (Can you provide any vertical header struture using them, if any? jquery?)

If we can chan

[2018-08-23 09:32] Gi972 opened #506 "Possibility have No headers"
Hi @AllenFang

It's possible have a table without header and just the body of table? I try with header formatter with return null but have always the header without content inside.

any ideas?

Thanks

[2018-08-23 09:52] Gi972 opened #507 "clickToExpand"
Hi @AllenFang,

in previous r-b-t in selectRow option with can choose  clickToExpand for Trigger expand and selection together.

[Link to doc  r-b-t V1](https://allenfang.github.io/react-bootstrap-table/docs.html#clickToExpand)

any plans for implements this ?
because a I migrate in new version and I need it.

thanks

[2018-08-23 15:01] #483 closed

[2018-08-23 15:08] AllenFang commented on #484
@masihtamsoy firstly, I can accept use CSS or native JS to solve this problem. but jQuery is not in my radar.

Yes, correct, the bootstrap UI must broken.

I'm not sure if we can implement this via media query: https://css-tricks.com/responsive-data-tables/
There's a online example: https://codepen.io/myasseen/pen/JdPNzv

Above case, we dont change the layout(`tr`, td`) and also can keep the head

[2018-08-23 15:10] AllenFang commented on #501
@dovfriedman ok, I will export the "row data" for both compare value. Will be implement in next release, thanks you

[2018-08-23 15:13] AllenFang commented on #502
@skYYman sorry for a little lately reply. could you give me your data example and also how u define the `columns` on `BootstrapTable`. thank you 👍

[2018-08-23 15:17] AllenFang commented on #504
@dpramani firstly could you please make sure what version u used now?

secondly, please show me the code of `column.formatter`. In addition, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) and be carefully on "Attention" part.  Because after [`1.1.0`](https://react-bootstrap-table.github.io/react-bootstrap-table2/b

[2018-08-23 15:18] AllenFang commented on #505
@subzeroDevelopment ok, I will check this out, seems like a bug lol

[2018-08-23 21:56] hectorguo commented on #406
@AllenFang Sometimes, I need to notify its parent component after the cell has been changed. For example, I need to show these table's data in another view.
Since there is no callback func that can let me know whether the state updating is done or not, I have to manually pass the updated data like below.
[code]

Please let me know if there are better solutions than this.
Tks!

[2018-08-24 01:41] AllenFang commented on #406
@hectorguo I see, I will do some enhancement on it. Thank you

[2018-08-24 01:42] AllenFang commented on #283
@eveseli-ritech please share how to reproduce. thanks

[2018-08-24 19:43] Denis-String commented on #487
Thanks for the attention, I must have done something wrong, because your example worked perfectly.

[2018-08-24 19:43] #487 closed

[2018-08-26 05:33] AllenFang commented on #505
@subzeroDevelopment

I can not reproduce this issue, following is my reproduce code:

[code]

Did I missing anything? However, I saw you have a controlled selected state in `selectRow`, could you please share more about it? thanks

[2018-08-26 05:34] AllenFang commented on #505
Reproduce steps:

1. search table with a text
2. select or select all
3. observer the output from `onSelect` and `onSelectAll`.

[2018-08-26 05:50] AllenFang commented on #505
@subzeroDevelopment sorry, I can reproduce it. the problem is the selected item is not appear in search result then you trigger select all, the `onSelectAll` function still return the previous selected item even it is not in the current search result.  I will fix it in next release.

[2018-08-26 06:15] AllenFang commented on #406
@hectorguo

[code]

@hectorguo I think use `afterSaveCell` is ok for your case. Above is an example for me to check if the state already changed after cell saving. I think it's already changed. So please reopen this issue if the problems still remain. BTW, please upgrade to newest version. thanks

[2018-08-26 06:15] #406 closed

[2018-08-26 06:26] AllenFang commented on #332
@dpramani we will support this feature in near future. thanks

[2018-08-26 18:40] subzeroDevelopment commented on #505
oh thanks, and regards.

[2018-08-27 09:29] Kazmich opened #510 "Export to CSV selected rows"
Is there a way to export to csv only selected rows?
I collect selected rows with this function:
` var selectedRows = [];
   function onRowSelect(row, isSelected) {
      if (isSelected) {
        selectedRows.push(row);
      } else {
        selectedRows.splice(selectedRows.indexOf(row), 1);
      }
    }`

Can I somehow pass those to CSVExportButton? Maybe using its onExport() method?
`<ToolkitP

[2018-08-27 14:34] AllenFang commented on #507
@Gi972 I will implement it ASAP.

[2018-08-27 15:03] #491 closed

[2018-08-27 15:03] #501 closed

[2018-08-27 15:03] #505 closed

[2018-08-27 15:06] AllenFang commented on #491
Fixed 👍

[2018-08-27 15:08] AllenFang commented on #505
@subzeroDevelopment fixed in `react-bootstrap-table-next@1.1.3`

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/27/version-bump.html

Please reopen this issue and tag me if the problem still remain in newest version. thanks

[2018-08-27 15:09] AllenFang commented on #501
@dovfriedman fixed in `react-bootstrap-table-next@1.1.3`

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/27/version-bump.html
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnsortfunc-function

Please reopen this issue and tag me if the problem still remain in newest version. thanks

[2018-08-28 09:27] harmeet27 commented on #230
Hi @AllenFang is there any way to fix the header of the table while scrolling ? i am using react-bootstrap-table-next.

[2018-08-28 09:35] harmeet27 commented on #409
Hi @leon-jasper  were you able to figure out fixed header ?

[2018-08-28 13:16] dovfriedman commented on #501
Perfect. Thanks @AllenFang.

[2018-08-29 09:39] leon-jasper commented on #409
hey @harmeet27 ,
no i did not work further on this.

[2018-08-29 14:33] waynebrantley commented on #504
I can confirm this.
https://codesandbox.io/s/4zkpv0n4ww

In this example, click the button and you will see that only the 3rd column will re-render.
However, if I make the datafield="inStock" for the last column and blank for 3rd column - then the 4th column will re-render, but not the 3rd column.

Only the column named 'instock' will be updated.  I cannot name them both instock as an error will o

[2018-08-29 16:47] jbcksfrt opened #512 "Select between two dates"
Is it possible to select between two dates in the column filters?  I see we can select >=, ==, and <=.

Thanks!

[2018-08-29 16:51] jbcksfrt opened #513 "Alternate sort order for a column"
Is it possible to specify an alternate sort order for a column?  Rather than sort alphanumerically, I would like to sort by a semantic order (like having "Critical" sort higher than "Low" for example).  Datatables.js handles this by allowing a column to use another, hidden column to handle sorting.  I see that custom sort functions are allowed, but it does not seem easy to pass anything other than

[2018-08-29 16:54] jbcksfrt opened #514 "Event for when edit cell opened"
Is there a way to determine or catch the event for when a cell edit box or dropdown is opened?  I see before and after save events, but these both appear to fire when you are leaving the input rather than when you are entering it.

This is important for me because I do not want to Ajax refresh the data while someone is editing a box and have them lose their current edits.

Thanks!

[2018-08-29 17:36] juanma0474 opened #515 "how to delete a row from the table with the pagination ?"
TypeError: Cannot read property 'id' of undefined
    at eval (selection.js:23)

[2018-08-29 20:51] iamandrewluca commented on #177
After some investigation and code browsing

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/8d62261983968529583cc6102c7bfcf26ff685a2/packages/react-bootstrap-table2/src/header-cell.js#L103

I found that I can custom the sort caret using `headerFormatter` on column

[code]

![image](https://user-images.githubusercontent.com/1881266/44814731-4a2b9c80-abe6-11e8-92f4-5555043b7858.

[2018-08-29 20:51] #177 closed

[2018-08-30 05:05] mtiger2k opened #516 "sort indicator is not shown when using ToolkitProvider bootstrap4"
it works without bootstrap4 in storybook, but failed when used with ToolkitProvider bootstrap4.
I had verified it in storybook bootstrap4 example.

[2018-08-30 07:12] nitrogene opened #517 "Navigate to row by code ?"
Hello,

Is it possible to navigate to a row given its index by code ?
- open the correct page
- select/highlight the row

Thanks for you help :)

[2018-08-30 16:58] whiteb38 opened #518 "Versions that support React15"
What versions of react-bootstrap-table-next, pagination, editor, and filter can I use with react 15.6.2

Our team is planning on upgrading to react16 in the near future, but need a table that supports 15 until then.

Thanks

[2018-09-01 03:57] hauhuynh1208 opened #519 "sizePerPage dropdown go upward if exceeding height screen"
Hi,
I would like to customize sizePerPage dropdown menu to become go upward if the it exceed the height screen. How can I do that?
![image](https://user-images.githubusercontent.com/31885286/44942155-dd76f480-add5-11e8-9ec0-6f9960f4ec1d.png)
regards,

[2018-09-01 04:47] AllenFang commented on #504
@waynebrantley this is probably special case, I will look into your case. Thank you for providing this issue.

[2018-09-01 04:57] AllenFang commented on #510
@Kazmich We will support this feature in near future. thanks

[2018-09-01 04:59] AllenFang commented on #512
hmm... we don't support this feature, but I probably can try to implement it. thanks

[2018-09-01 05:01] AllenFang commented on #513
@jbcksfrt the answer for me is custom the sort function. I understand it's a callback function however, you can still use it as higher order function so that you can pass something into the sort callback function.

I won't implement this feature currently, so please use custom sort.  thanks

[2018-09-01 05:01] #513 closed

[2018-09-01 05:02] AllenFang commented on #515
Please give us more details. You are asking a question but you show me an error?

[2018-09-01 05:02] #515 closed

[2018-09-01 05:27] AllenFang commented on #519
@hauhuynh1208 you can try to increase the height of container. Do let me know if you still can not fix this issue.

[2018-09-01 07:05] derjoker opened #521 "Checkbox Editor doesn't work on Firefox"
Storybook: [Checkbox Editor](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Checkbox%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

Firefox 61.0.2 (Mac)

[2018-09-01 09:02] AllenFang commented on #521
I will check this out. thanks

[2018-09-01 11:58] jbcksfrt commented on #513
OK, I will give it a try using the custom sort function.  I guess I will try to pass something in explicitly or use a member variable to link labels to sort order integers.

[2018-09-01 11:58] jbcksfrt commented on #512
Thanks!

[2018-09-01 11:59] jbcksfrt commented on #514
Thanks!  I will test next week.

[2018-09-01 16:14] hauhuynh1208 commented on #519
@AllenFang yah, I can increase the distance between the dropdown and the footer. But it won't be nice, I think. So I would like to change the dropdown menu direction. I am using reactstrap (bootstrap 4 for react), and they have the option to control the dropdown menu direction. Could we implement something like that?
regards,

[2018-09-02 01:14] waynebrantley commented on #504
@AllenFang thanks for fixing.  Of note - if there are several dummy or calculated columns, we have to make up 'fake field names' as you require the field names to be unique.  So only one "" column is allowed.

Additionally, you could add an optional 'shouldCellUpdate' for a column - you could pass current and next row into it...we could return true/false based on whatever logic - thereby optimizin

[2018-09-02 09:35] mahyar33 opened #524 "bug in onSelectAll"
hi
in onSelectAll function when I want to setState,checkbox is not checked
pls guide me

[2018-09-03 06:40] nitrogene commented on #517
Sorry for the confusion, I will try to make crystal clear. Imagine a web
page with a treeview on the left and a bootstrap table on the right. There
are several pages of data. The treeview is here to ease the navigation
(only higher nodes are displayed). Each time the user click/select a node
on the treeview, I would like to dynamically select the corresponding line
on the table (eventually navigat

[2018-09-03 12:55] dprodigalson commented on #291
you can you wrapClasses property and set table-responsive bootstrap class...It helped for me.

[2018-09-03 14:38] AllenFang commented on #504
@waynebrantley

yes, in the patch, `dataField` can be anything, but just keep it unique when u assign the `isDummyField` as true

That could be a good idea. Currently, we have some optimizing on cell level component, that's already enough. But I think I have to think about the timing for using `shouldCellUpdate` option.  Anyway, it's good idea.

BTW, this issue will be fixed later. Wait my signal,

[2018-09-03 15:26] #504 closed

[2018-09-03 15:26] #510 closed

[2018-09-03 15:26] #514 closed

[2018-09-03 15:43] AllenFang commented on #504
@waynebrantley

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/03/version-bump.html

[YOUR EXAMPLE](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Dummy%20Column&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) .

Please upgrade relat

[2018-09-03 15:44] AllenFang commented on #514
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/03/version-bump.html)

Please upgrade related packages. thanks

[2018-09-03 15:47] AllenFang commented on #510
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/03/version-bump.html)

[EXAMPLES](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Export%20CSV&selectedStory=Only%20Export%20Selected%20Rows&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

Enable [`exportCSV.onlyExportSe

[2018-09-03 16:27] AllenFang commented on #524
if you did call `setState` in the `onSelectAll` or `onSelect`, please do remember to manage the selection too.

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/297

It's a workaround currently, Will improve it in future.

[2018-09-03 16:27] #524 closed

[2018-09-03 17:57] josefheld opened #526 "Buttons in cell with column formatter are not updated"
Hi all!
I have a list (data is loaded remotely) where each row item comes with a couple of buttons to do some action with the corresponding item when pressed.

E.g. there is a button that deactivates an entry and the deactivate button should disappear and a button to activate it should appear.
Here comes the but: When the button is pressed, the entry gets deactivated but the buttons are not re-ren

[2018-09-03 20:59] brendanmurphy opened #527 "Select cell contents on click to edit?"
Is it possible to have the cell contents be selected when I click on cell to begin editing?

I would like to click on cell and begin editing (over-writing current contents) without having to double click to select contents first.

Example: all initial cells contain a zero. I want to click to edit and have the zero selected on click so that when I begin typing, new input overwrites the pre-existing

[2018-09-04 01:38] mtiger2k opened #528 "sort indicator is not shown when using ToolkitProvider bootstrap4"
this is reopen issue of [516](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/516)
the sort example of bootstrap4 is simply using BootstrapTable. Please try use BootstrapTable in ToolkitProvider, the sort indicator is not shown.

const columns = [{
  dataField: 'id',
  text: 'Product ID'
}, {
  dataField: 'name',
  text: 'Product Name',
  sort: true
}, {
  dataField: 'price'

[2018-09-04 02:00] AllenFang commented on #528
@mtiger2k ok, I will look into on it.  thanks

[2018-09-04 12:38] firov opened #529 "Hitting enter in SearchBar resets the search"
Confusing behavior.

[2018-09-04 13:23] Denis-String opened #530 "Error while using cellEdit"
Good morning, is someone else getting this error?
Version:
    "react": "^16.3.1",
    "react-bootstrap-table-next": "^0.1.14",
    "react-bootstrap-table2-editor": "^1.0.1",
    "react-bootstrap-table2-filter": "^0.3.0",
    "react-dom": "^16.2.0",

[code]
My code:

[code]
[code]

[code]
If you remove the cellEdit, it works perfectly.

[2018-09-04 15:31] Gyorgio88 opened #531 "combine row selection with row expand"
hi guys,
how can I combine row selection and row expand as for the previous version:
http://allenfang.github.io/react-bootstrap-table/example.html

[2018-09-04 19:51] Thirunavukkarasu commented on #291
Hi @AllenFang  - By any chance, is there any timeline associated with this horizontal scroll feature?

[2018-09-05 02:31] waynebrantley commented on #504
@AllenFang Thanks!

[2018-09-05 08:30] igorz- commented on #529
Very confusing! :))

[2018-09-05 08:46] Kazmich commented on #510
Thanks man. Great job.

[2018-09-05 10:47] AllenFang commented on #519
@hauhuynh1208 sure, let me figure the dropup in bootstrap 4. thanks

[2018-09-05 10:52] AllenFang commented on #526
@josefheld could you please try to upgrade to newest version?! I think you face the same problem like this: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/504#issuecomment-416976280

But please reopen this issue if the problem still remain.

BTW, in the newest patchs, if you column is dummy(Which mean do data via `dataField`), please enable the [`column.isDummyField`](https

[2018-09-05 10:52] #526 closed

[2018-09-05 10:54] AllenFang commented on #526
BTW, if you can, please provide me a online demo and codes so that I can easy to help, thanks

[2018-09-05 12:43] jbcksfrt commented on #512
Hello,

Have you given any more thought to this?  If you like the idea but just don't have the time, I would not mind trying to implement it myself.

Thanks,
Jared

[2018-09-05 13:03] Botsy opened #532 "Search when cell value is Object"
Is there a way to make the search work for cells which values are objects and a column formatter is used to represent a JSX code containing these values?

For example, we have:
[code]

And then we have:

[code]

I really need this feature, but couldn't find any documentation about searching through cells with Object values.

Thank you

[2018-09-05 13:14] skemb321 commented on #530
Also experiencing the same. Please help. thanks

[2018-09-05 13:37] amsterdamharu opened #533 "Examples don't work on windows"
According to the documentation:

[code]

Getting compilation errors `error  Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style`

In the browser it shows the same errors.

[2018-09-05 13:57] Botsy commented on #532
I found the solution to this in the documentation [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Custom%20Search%20Value&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) . I tried using `filterValue` at first but using it in combination with `search={{ searchFormatted: true }

[2018-09-05 13:57] #532 closed

[2018-09-05 15:29] AllenFang commented on #512
@jbcksfrt currently, no. I think the main problem is if we support the between, we have to render two datepicker and refine the logic of data filtering. This feature is little minor to me currently. So.. PR is welcome 👍

[2018-09-05 15:31] AllenFang commented on #527
@brendanmurphy, right now we dont have this feature, but I can try to implement it. thanks

[2018-09-05 15:35] AllenFang commented on #529
I'm willing to handle this issue if somebody can share more, like your code, how to reproduce. I'm also confusing on your confusing.

[2018-09-05 15:35] #529 closed

[2018-09-05 15:37] AllenFang commented on #533
ok, I will look into on it. if you really need the story, there's a online version: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Welcome&selectedStory=react%20bootstrap%20table%202%20&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-09-05 15:41] AllenFang commented on #530
hey guy, upgrade to newest version. in 20180804, we have a major change: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/04/version-bump.html

almost all `react-bootstrap-table2`'s packages upgrade to `1.0.0`, the mainly differents is leverage on `react@14` for the new context api.

so please upgrade your `react` and `react-dom` to `16.3.`

The problem you face is `reac

[2018-09-05 15:41] #530 closed

[2018-09-06 01:03] brendanmurphy opened #534 "Export multiple tables to one CSV document?"
I have created a wholesale order form with multiple stacked tables (one table for each product). I would like to allow users to export a single CSV file that represents the entire order. So I need the ability to export multiple tables to one CSV document like so:

[code]

*Obviously each table needs its own unique keyField, data and columns.

[2018-09-06 14:13] blac3kman commented on #360
Thanks. I had some problem too. I resoled it with the link witch @AllenFang gave above.

[2018-09-06 19:59] Denis-String opened #535 "mask on cellEdit"
Good morning, thank you for the great work.

I'm trying to put a mask when I use cellEdit, to prevent the user from entering letters, but save the R $ character.

Does anyone have any ideas ? I tried several ways, but I could not.

[2018-09-06 21:19] josefheld commented on #526
Thank you a lot, Allen!
I read about isDummyField, but used it wrong. Thank you a lot for your help!

Kind regards, Josef

[2018-09-06 22:06] jbp17 opened #536 "How do I pass a selectList array to the dropdown option for cell editior"
It works for me when I assigned static array to the options of editors.  But I can't passed in an array object to it.  Here is my code:

const sicSelect = (props) => { return this.props.sic };

const columns =
            [{
                dataField: 'id',
                text: 'Employer ID',
                filter: textFilter(),
                sort: true
            }, {
                dataFie

[2018-09-07 07:03] amsterdamharu commented on #533
The following did solve it for me:
[code]

I was using git bash.

[2018-09-07 13:00] jbp17 commented on #536
Never mind.  I figured it out.

[2018-09-07 13:00] #536 closed

[2018-09-07 18:54] hellriser4 commented on #214
The row object in the version 2 of bootstrapTable does not affect a key property in its rendering. This is why this error happens. There is probably a .map in the body rendering and it is missing it.

[2018-09-08 23:17] #343 closed

[2018-09-08 23:17] #342 closed

[2018-09-09 03:04] vasilevich commented on #427
how can I modify the state from the column event?  the "this" is not being transfered down to the event and there is no way to do so?

[2018-09-09 04:50] AllenFang commented on #531
@Gyorgio88 we will support this feature ASAP. thanks

[2018-09-09 04:51] AllenFang commented on #533
Thanks @amsterdamharu and @whatnick   I'am going to close this issue if you find issue again, please reopen it.  Thanks

[2018-09-09 04:51] #533 closed

[2018-09-09 06:32] AllenFang commented on #528
@mtiger2k sorry, this is a wrong document issue, you have to move the `bootstrap4` prop to `ToolkitProvider`, I will update the document later. thanks!

[2018-09-09 06:32] #528 closed

[2018-09-09 06:39] AllenFang commented on #531
Close it due to duplicate with #507

[2018-09-09 06:39] #531 closed

[2018-09-10 20:42] raghubedi2004 commented on #283
@eveseli-ritech make sure that in all your rows, the TableHeaderColumn which holds the value of key property (with isKey attribute), is not same. If this value is same, then selecting on one will select all of them.

[2018-09-10 20:56] nvteja opened #538 "onSelectAll -> get row information when isSelect is false"
Hello,

I am trying to use onSelectAll option to add/remove rows to my component state. When the isSelect is true, I do get the selected rows as the second argument, but when isSelect is false - rows variable is empty. Please look the code/comments below. Is there a way to get the "unselected" rows when isSelect is False ?
 `
addAlltoSelected(isSelect, rows){

        if(isSelect) {

[2018-09-11 10:06] AllenFang commented on #534
@brendanmurphy I wont support this feature. but will figure if there's any workaround for this, thank you

[2018-09-11 10:07] AllenFang commented on #535
@Denis-String sorry for lately reply, the mask you mean disabling the input field?

[2018-09-11 18:04] Denis-String commented on #535
Good afternoon, I use the cell edit in a column that the data entry needs to be in currency format (R$ 2,562.75).
So, I just need to allow numbers, but keep the currency format, which uses R $ (.) E (,).

[2018-09-11 18:16] Denis-String opened #539 "Alert in console"
Good afternoon,
I'm getting an alert when I use the react-bootstrap-table inside a modal, if I use another component to do the DataTable, the error does not happen, just with the react-bootstrap-table.

`index.js:2178 Warning: Detected multiple renderers concurrently rendering the same context provider. This is currently unsupported.`

 ```
 | __stack_frame_overlay_proxy_console__ | @ | index.js:2

[2018-09-11 19:14] abinashdatta opened #540 "Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. Check the render method of `BootstrapTableContainer`."
Hi,

 Getting subject error during rendering of BootstrapTable 2.

[2018-09-11 20:59] slgriffiths opened #541 "How can we set default 'searchText' value for TableSearch"
With `textFilters()` there is a `defaultValue` option that can be set, but I don't see a valid prop for the TableSearch toolkit.

I see that there is `searchText` being used but passing that in as a prop doesn't auto-fill the Search input field with that value.

**Why am I doing this?**
I have a table that I'm refreshing the data for every 15 seconds (or at the user's desired interval) and there's

[2018-09-12 08:05] cbfrank commented on #212
Can we think about to support multi headers i.e. multi <tr> in <thead>, currenlty only one fixed tr is rendered in thead.

[2018-09-12 11:59] abinashdatta commented on #540
@AllenFang Could you please help me out I am struggling since a week after I integrated my components in a different environment..

[2018-09-12 12:03] Denis-String commented on #540
Good morning, can you show the code related to BootstraTable 2?

[2018-09-12 16:51] Denis-String opened #542 "buttons on the tables"
Good afternoon, I had to update the react-bootstrap-table2,

because of this problem:
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/530#event-1828208046

In the previous version, it was this:
[code]

I was doing this, to process buttons in the table, based on the row property:

[code]
[code]

This had the following result:
[Gif Result](https://uploaddeimagens.com.br/imagen

[2018-09-12 18:19] dpramani opened #543 "React-bootstrap-table2-toolkit has non printable characters in csv output."
@AllenFang
I am using React-bootstrap-table2-toolkit for downloading the csv. But am getting some non printable characters in the first column header.  I was using react-csv-2, but it was not supported in IE. So I am using the toolkit package. There I noticed that removing '\uFEFF' from line 68 of exporter.js, solves the issue. Any update on this ?

[2018-09-12 19:59] #539 closed

[2018-09-13 12:48] Denis-String commented on #535
Good morning, I believe that this is going well, I did this way:

[code]
This works, however, it does not blur the selected input, would you have any ideas?
[GIF Simulation](https://uploaddeimagens.com.br/imagens/exemplo-gif-488fe861-4d29-466f-84fe-6808172a6b1a)

The entry that this type of date, works, when you click outside the field disables, but the money field does not.

[2018-09-13 14:55] AllenFang commented on #535
ok, I see, so the only problem is your can not leave your custom editor when you blur the input field, right?

[2018-09-13 14:56] AllenFang commented on #538
@nvteja I will improve it ASAP, thanks

[2018-09-13 14:56] AllenFang commented on #540
@abinashdatta what react version you used? thanks and give me your code

[2018-09-13 14:58] AllenFang commented on #541
@slgriffiths I will enhance it ASAP, thank you :)

[2018-09-13 15:07] AllenFang commented on #542
@Denis-String

Sorry, I am not very clear what the problem you face via your gif..

However, in the newest version, we did some cell performance tuning.  So would you please describe your cases and the problems? thanks

BTW.....  you can check this issue: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/504

I think after `react-bootstrap-table-next@1.1.4`, we support dummy c

[2018-09-13 15:07] #542 closed

[2018-09-13 15:09] AllenFang commented on #542
BTW, please read [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) again, the formatter function should not use external data because it will effect `react-bootstrap-table` determine if a cell should be updated.

[2018-09-13 21:25] jbp17 opened #544 "When will the add a row and delete a row functionality be implemented"
I really like your grid.  It looks nice and easy to use and customize.  Nice job!  But it is missing the functionalities of adding and deleting a row and I can't use it unless these functionality is available.  What is your timeline for getting it implemented?

[2018-09-14 07:14] anjithp opened #545 "how to enable multi column sorting ?"
Thanks for this amazing framework! I would like to know if there is any multi column sorting in this version? It was  definitely there in the previous version but I don't find it in the current version. Thanks.

[2018-09-14 13:24] eylonronen opened #546 "Expand row only on expandColumn click"
Hi, Can you please add prop to expand row by the name ExpandByColumn or something as such, which takes boolean value, and if true, than expandable row won't open on row click, but by clicking the expand column.
This feature will help us a lot because now its impossible to copy values from the table without expanding the rows.
Thank you very much :)

[2018-09-14 17:28] lykaiowang opened #547 "[Bug] Expand Indicator is Always Shown For All Rows"
##### Version: 1.1.4

##### Context:
- `<BootstrapTable />` takes a configuration prop `expandRow`
- `expandRow` object takes a few keys, three of which are `nonExpandable` and `expandColumnRenderer`, 'showExpandColumn`
- `showExpandColumn` is a boolean that dictates whether or not Expand Indicators are shown
- `nonExpandable` is an array of `keyFields`s dictating which rows aren't expandable
- `e

[2018-09-16 08:12] AllenFang commented on #543
Let me check this, thank

[2018-09-16 13:38] Dmitri85 opened #549 "how can I prevent the default behavior of save?"
Hi there

how can I prevent the default behavior of save (onBlur and enter)?
I just what to use the save hooks because I use MST and I cant modify values directly.
TNX

[2018-09-17 12:06] jbp17 commented on #544
Thank you!

[2018-09-17 14:17] AllenFang commented on #547
@lykaiowang sorry for lately reply, I will look into on it and thanks your contribution.

[2018-09-18 05:54] paulalcabasa commented on #450
Having the same issue, removed node_modules folder and reinstall using NPM, didnt work. reinstall using YARN , still same issue.

[2018-09-18 06:50] ali-master commented on #450
@paulalcabasa Please prevent to duplicate reply

[2018-09-18 08:52] paulalcabasa opened #550 "Programmatically filter hidden columns"
Is it possible to filter hidden columns?

[2018-09-18 14:52] Thebarda opened #551 "sizePerPage doesn't update"
Hello,
Latest version of react-bootstrap-table2 and react-bootstrap-table2-paginator doesn't allow to update sizePerPage.
In this sandbox, here is my problem : [https://codesandbox.io/embed/v833pj845l](https://codesandbox.io/embed/v833pj845l)
Here is what I want to have (using react-bootstrap-table-next@0.1.11 and react-bootstrap-table2-paginator@0.1.3) : [https://codesandbox.io/s/yv3or6y6qv](http

[2018-09-18 15:14] AllenFang commented on #546
@eylonronen  I see, will implement it ASAP. thanks

[2018-09-18 15:17] AllenFang commented on #549
@Dmitri85 sorry I am not very clear about your question:

You mean you don't want to use cell edit to update the value, right?

What kind of hook you need? would you please explain more?

[2018-09-18 15:26] AllenFang commented on #551
@Thebarda hello, I think your sandbox is broken, I mean the UI part is missing the styles literally.

however, **before `react-bootstrap-table-next@1`**, the latest version is `react-bootstrap-table-next@0.1.15` and `react-bootstrap-table2-paginator@0.1.6`. I will suggest you at least upgrade to this both version.

However, the current newest version is `react-bootstrap-table-next@1.1.4` and `reac

[2018-09-18 15:39] Thebarda commented on #551
I have same issue on my project.
I'm using :
`react@16.4.1`
`react-bootstrap-table-net@0.1.11`
`react-bootstrap-table2-paginator@0.1.3`
So, after upgrade `react-bootstrap-table-next` and `react-bootstrap-table2-paginator`
 to latest version, I have exactly same issue.

[2018-09-19 02:05] RaySheikh opened #553 "Bootstrap 4 sorting icon missing"
Hi,
When I enable bootstrap 4 support, the sorting works. however the sorting arrow icons in the table header columns are missing.
I am using bootstrap table next ver 1.1.4 and Bootstrap 4.1.3.

Thanks!

[2018-09-19 12:51] Mujaddadi opened #554 "One Column value in another Column's on Click"
Hi,
  How can I get the value of one column into another column's onClick handler. I have the same value also in keyField. Any idea?

Thanks

[2018-09-19 13:25] unkls opened #555 "child to parent callback block selectRowProp"
Hello,

First I don't know if that is possible to use this table as child component. I'm passing value (id of the row that is selected) between my child and parent. But when I'm passing value to the parents my row style is not apply.

Do you have idea why I get this problem ?

Thank's in advance !

[2018-09-19 13:31] Mujaddadi commented on #554
Git it. Used the rowEvents to get all the fields in it

[2018-09-19 13:31] #554 closed

[2018-09-19 21:40] rmartin58 commented on #214
Is there a fix for this? Though not fatal, the warning is annoying.

[2018-09-20 08:49] agarwalankit95 commented on #540
I am also facing the same issue, i have followed the docs and example still having this error.
I am on this version of react:
[code]
I am using bootstrap 4 along with reactstrap for bootstrap react components.

Please help.

[2018-09-20 09:32] unkls commented on #555
I find that the style is not apply when I `setState` the value return from the child. This is cause of the re-render with the state ?

[2018-09-20 10:11] paigeflourin opened #557 "not really an issue but i was wondering if this is possible with react bootstrap table"
I have a table but one cell must contain multiple items like this, and they should be displayed like that and must be editable. users can click x and type in a new item in the field.

![42310651_274160266752919_2115086683916468224_n](https://user-images.githubusercontent.com/6951524/45811714-695aad00-bd00-11e8-886b-e2bd949b0ef2.png)

i have been reading the docs but i cannot find anything that mak

[2018-09-20 16:03] AllenFang commented on #540
@agarwalankit95 please upgrade the `react` and `react-dom` to `16.3.0` at least

[2018-09-20 16:03] #540 closed

[2018-09-20 16:03] AllenFang commented on #540
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/04/version-bump.html#notes

[2018-09-21 01:33] hellriser4 commented on #214
I don't know!

[2018-09-23 14:28] HumbleCarl opened #558 "Cannot assign to read only property 'textAlign' of object"
anyone can help me with this? I'm just trying to implement sort on header but this error always gets on my way.

is there something wrong about `this:`
                    dataField:'ID',
                    text:'Record No.',
                    sort:true,
                    headerAlign:'center',
                    headerStyle:{
                        backgroundColor:'#f81f1f',

[2018-09-23 16:08] Julian4711 opened #559 "Combine Row Selection and Expand Mode"
Hi,

is there a way one could use Row Selection and Row Expand at the same time?

When I try to combine the Storybook examples ([selection](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Multiple%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) & [expand](https://react-

[2018-09-24 06:47] AbhinethriRS opened #560 "Select Row with RemotePagination"
Hi,
I am unable to select the row with the remote pagination.

Kindly suggest the code.

[2018-09-24 07:04] AllenFang commented on #550
@paulalcabasa we don't support this feature but you can implement it by yourself, just control the `colums` props on `BootstrapTable` thanks

[2018-09-24 07:04] #550 closed

[2018-09-24 07:06] AllenFang commented on #553
@RaySheikh where the `bootstrap4` prop you put?

[2018-09-24 07:14] AllenFang commented on #557
@paigeflourin if you want to custom the column, please use [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

BTW, if your column is just some actions without display data, please check [`column isDummyField`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnisdummyfield-bo

[2018-09-24 07:14] #557 closed

[2018-09-24 09:20] AndreiBehel opened #561 "Set maximum height of table"
Hi, react-bootstrap-table has prop to set maximum height of table. Can you please add this feature to react-bootstrap-table-next?
Thank you

[2018-09-24 09:28] unkls commented on #555
I think's it's more a React issues.
It's just that I have 3 components (A parents, B child navbar, C child table). When I'm passing value from B->A and then A->C (table using your lib), all my style are not apply. Like when I add color to the selected row it doesn't appear to the screen.

[2018-09-24 10:57] fabercs opened #562 "Could not load css"
Hey,

As indicated in documents I have imported
`import BootstrapTable from 'react-bootstrap-table-next';`

but could not import
`import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';`

it pops an error

It is some webpack bundling related error I guess according to my research, do you know how to configure my webpack?

I am using stephan grinder's [redux simple starter](https:/

[2018-09-24 15:55] dacevedo12 commented on #283
Thank you! I was just having the same issue but after reading your comment i realized there was no key column assigned in my table. Works like a charm.

[2018-09-25 06:52] Dmitri85 commented on #549
I just what to use beforeSaveCell method to call my mobx-state-tree action instead the default save(on blur or enter)

[2018-09-25 08:58] tmock12 opened #563 "Ability to disable Select All"
I have a use case where I need to disable the ability to select/unselect all. Looking at the code there doesn't appear to be a away to do this as `currSelected` is set no matter what `onSelectAll` does. Am I missing something obvious? Or is this a feature you would consider adding?

[code]

[2018-09-25 15:15] fastertabla opened #564 "Expanding only one row in react-bootstrap-table2"
In the react-bootstrap-table, i found a prop onlyOneExpanding which is used to allow expansion for only one row at any given point of time. I could not find a similar one react-bootstrap-table2. Could you please advice if there is a way?

Thanks
Ganesh

[2018-09-26 12:02] AbhinethriRS commented on #560
@AllenFang, Please suggest the solution.

[2018-09-26 13:14] NadineSch opened #565 "SelectFilter formatter is not working properly"
By using multiselectFilter or selectFilter like below, the content of column 'Category' isn't displayed and with selecting an option, no row is displayed.

<img width="398" alt="bildschirmfoto 2018-09-26 um 15 05 03" src="https://user-images.githubusercontent.com/33058136/46081794-b37add00-c19d-11e8-9dba-1bfc72d59a74.png">

Here is my code:
[code]
[Here](https://react-bootstrap-table.github.io/rea

[2018-09-26 15:35] AllenFang commented on #558
@HumbleCarl that is a bug, I will fix it soon, please remove the `headerAlign` for fixing this issue temporary.

[2018-09-26 15:44] AllenFang commented on #559
@Julian4711 It's a known issue, I already fixing it, but need some time. Will mention here after release.

[2018-09-26 15:52] AllenFang commented on #560
it's impossible.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Above is a remote pagination example, just add selectRow prop on `BootstrapTable` and it works.

Please try it or describe your problem more detail if this ca

[2018-09-26 15:52] #560 closed

[2018-09-26 15:54] AllenFang commented on #561
Hello, I think in the new `react-bootstrap-table` we probably will not support the table height, vertical scroll feature in near future. Please consider it and I think you can still add height via CSS or class. thanks

[2018-09-26 15:55] AllenFang commented on #562
@fabercs you need the webpack style loader. I remember your need `style-loader` and `css-loader`

[2018-09-26 15:55] #562 closed

[2018-09-26 15:57] AllenFang commented on #563
@tmock12 You can custom the selection column so which mean you can just remove the selection all checkbox, following is an example to show you how to custom the selection column:

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Fac

[2018-09-26 15:57] #563 closed

[2018-09-26 15:58] AllenFang commented on #549
What kind of stuff you want to do in your mbox action?!

[2018-09-26 20:12] tmock12 commented on #563
@AllenFang I tried that as well and it unfortunately doesn't work. You can remove the select all checkbox using `selectionHeaderRenderer` but if you click the cell the `handleCheckBoxClick` is still fired.

I believe its this code:
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/6e526f455b68f06705ab862cbe1fa63bf8057682/packages/react-bootstrap-table2/src/row-selection/selectio

[2018-09-26 20:13] tmock12 commented on #563
@AllenFang you also can't re-open Github issues if a collaborator closes them ☹️

[2018-09-27 00:36] xxporkoxx commented on #216
Hey @AllenFang how are you doing? Does the feature still in development? Do you have any expected release date? Thanks so much for the module, it is awesome!

[2018-09-27 07:04] unkls commented on #555
No It's a callback for return the row selected to the parent : `this.props.giveData(this.rowSelected)`
I fix this with using `shouldComponentUpdate`. My table only re-render when I send a special value from the parent. So the style of the row don't disappear.
Thank's a lot for your amazing job !

[2018-09-27 10:47] Dmitri85 commented on #549
I want to call action to set new value at the store clone

[2018-09-27 15:30] AllenFang commented on #549
sorry, I can not figure out your problem. In addition, I still didn't understand what's means for "how can I prevent the default behavior of save (onBlur and enter)?"   Please clarify you question and provide some codes if you can, thank you.

I wanna close this issue. Due to waste so many time.  Feel free to reopen it if you are ready to share you problem CLEARLY

[2018-09-27 15:30] #549 closed

[2018-09-27 15:31] AllenFang commented on #555
ok, do let me know if there's any issue. thank u

[2018-09-27 15:31] #555 closed

[2018-09-27 15:32] AllenFang commented on #564
@fastertabla yes, we didn't support this feature so far, I will add it ASAP. thanks

[2018-09-28 08:23] JEEVANJGA opened #566 "Combining two or more object properties to form a single column with all features (sorting, searching)"
Hi,
Would like to know if it is possible to combine 2 or more Object properties to form a single column.

Consider,
`arrayToBeiterated=[{FirstName : 'Jeevan',MiddleName : 'George', LastName : 'Antony',worksat:'Infosys'},{FirstName : 'SaJeevan',MiddleName : '', LastName : 'Raj',worksat:'Infosys'}]`

Table to be displayed :
[code]

Combining 2 or more object properties to form a new value and bringi

[2018-09-28 12:13] tmock12 opened #567 "Ability to disable Select All"
reopening #563 as I had already tried the suggested workflow which led me to the `handleAllRowsSelect`.

I have a use case where I need to disable the ability to select/unselect all. Looking at the code there doesn't appear to be a away to do this as currSelected is set no matter what onSelectAll does. Am I missing something obvious? Or is this a feature you would consider adding?

[code]

As @All

[2018-09-28 13:44] maspasov opened #568 "Search and Pagination problem"
Hi,

I have an issue related to search and pagination(remote).

If I have more then 10 rows and sizePerPage is 10. When table is already loaded and I click on the next button and then search I expect to back to fist page of pagination, but this is not the current bihavior.

Also in dev tools, I have warning error during searching

**Warning: Cannot update during an existing state transition (such

[2018-09-29 04:47] AllenFang commented on #567
I will handle it

[2018-09-29 05:53] AllenFang commented on #538
@ptrckq I will fixed TMR,  sorry for lately fixing

[2018-09-29 07:36] AllenFang commented on #568
@feather-jmalone sorry busy on my work, wil get back to you guys ASAP. thanks

[2018-09-29 07:40] AllenFang commented on #568
Hi everyone, there're two case here:

1. pagination + search without remote
In this case, no matter what page you are in, after search/filter trigger, `react-bootstrap-table2` will switch first page automatically

2. pagination + search with remote
In this case, when search/filter trigger, `react-bootstrap-table2` do nothing .
Why do nothing, that is because you enable the remote mode, which mean

[2018-09-29 09:40] maspasov commented on #568
Thanks @feather-jmalone I agree with your idea, we can create custom input to build search functionality, but I think this is workaround and it’s not the best solution.

@Allen I understood your points, I’d like to ask, how we can set pagination to one before API call for searching, I try to set pagination option - page: 1, it doesn’t work, thanks

[2018-09-30 06:30] AllenFang commented on #527
@brendanmurphy https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

Please upgrade to `react-bootstrap-table-next@1.2.0` and `react-bootstrap-table2-editor@1.1.0`. Enable [`cellEdit.autoSelectText`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/cell-edit-props.html#celleditautoselecttext-bool) will fixed your issue. thanks.

Please

[2018-09-30 06:32] AllenFang commented on #538
@ptrckq  and @nvteja
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

Please upgrade to `react-bootstrap-table-next@1.2.0`.  If this problem still remain, please reopen this issue and tag me, thx.

[2018-09-30 06:34] AllenFang commented on #541
@slgriffiths . sorry for lately fixing: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

 please upgrade to `react-bootstrap-table-next@1.2.0` and `react-bootstrap-table2-toolkit@1.1.0`.

[`search.defaultSearch`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/search-props.html#searchdefaultSearch-string)  will help you in this c

[2018-09-30 06:34] AllenFang commented on #543
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

Fixed in `react-bootstrap-table2-toolkit@1.1.0`

[2018-09-30 06:36] AllenFang commented on #567
@tmock12
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

Please upgrade to `react-bootstrap-table-next@1.2.0` at least. [`selectRow.hideSelectAll`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowhideselectall-bool) will help you so you don't need to custom it via `selectionHeaderRenderer`. thanks

[2018-09-30 06:38] AllenFang commented on #564
@fastertabla
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

Please upgrade to `react-bootstrap-table-next@1.2.0` at least.  [`expandRow.onlyOneExpanding`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowonlyoneexpanding-bool) will help you.  Please reopen this issue if the problem still remain, th

[2018-09-30 06:38] AllenFang commented on #558
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/09/30/version-bump.html

@HumbleCarl fixed in `react-bootstrap-table-next@1.2.0`

[2018-09-30 06:56] AllenFang commented on #565
@NadineSch that is wired, I will check this out.

[2018-09-30 06:57] AllenFang commented on #565
@NadineSch if you raw data is
[code]
I mean without double quotes

[2018-09-30 07:13] AllenFang commented on #568
@maspasov I think it work for me, but there're are some UI part can enhance is that when you assign page to one but the page one button seems not being update so that it will look like not selected but the data is display correctly. Following is my dummy code:

[code]

[2018-09-30 07:45] AllenFang commented on #507
https://github.com/react-bootstrap-table/react-bootstrap-table2/commit/9dbac4614f0c55efce7c7a913df72cadcc801ed1

[2018-09-30 07:46] AllenFang commented on #559
#507

[2018-09-30 23:54] HumbleCarl commented on #558
@AllenFang bug still occurs sir

[2018-10-01 04:45] EndStatement opened #577 "Sorting icon not showing"
Sorting icon missing

`<BootstrapTable keyField="ID"
                            data={this.state.data}
                            columns={this.state.columns}
                            striped
                            bootstrap4/>`

[2018-10-01 04:46] HumbleCarl commented on #577
![image](https://user-images.githubusercontent.com/32160916/46270069-01199000-c578-11e8-80cc-87b3c24304f2.png)

[2018-10-01 05:19] HumbleCarl opened #578 "Failed to execute 'getComputedStyle' on 'Window': parameter 1 is not of type 'Element'"
Error on overlayFactory() implementation

`<BootstrapTable keyField="id"
                            data={this.state.data}
                            columns={this.state.columns}
                            striped
                            bootstrap4={ true }
                            loading={ true }
                            overlay={ overlayFactory({ spinner: true, background: 'rgba(19

[2018-10-01 07:11] NadineSch commented on #565
@AllenFang no I receive my data in json format, therefore with double quotes. You think this could be an issue?

[2018-10-01 11:48] tmock12 commented on #567
@AllenFang Thank you! 🤗

[2018-10-01 13:06] nitrogene opened #579 "Setting a particular row border"
Hello,

Is it possible to change a whole row border ? I tried something like:
                                <BootstrapTable
                                    ....
                                    rowStyle={rowStyleMetre}
                                    ....
                                </BootstrapTable>

with:
        const rowStyleMetre = (row, rowIndex) => {
            if (row["Po

[2018-10-01 14:33] slgriffiths commented on #541
@AllenFang Awesome. Great news and thanks for putting in the fix so quick!

[2018-10-01 15:56] AllenFang commented on #565
@NadineSch lol

I probably got the problem....

ok, https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=MultiSelect%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

that is example you reference and the `selectOptions` is like below

[code]

Actually, 0, 1 and 2 is just the col

[2018-10-01 15:56] #565 closed

[2018-10-01 15:58] AllenFang commented on #577
can you share more?  I think it's work for bootstrap 4
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Sort%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

What version u used?

[2018-10-01 16:01] AllenFang commented on #578
@HumbleCarl i will check this, currently, I will not suggest people to use `react-bootstrap-table2-overlay` instead you can custom by yourself, you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=EmptyTableOverlay&selectedStory=Empty%20Table%20Overlay&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-pa

[2018-10-01 16:02] AllenFang commented on #578
Anyway, I will look into it but not sure the fixing time.

[2018-10-01 16:06] HumbleCarl commented on #578
Copy that. Thank you sir!

[2018-10-01 16:06] HumbleCarl commented on #577
I'm using BS4

[2018-10-01 19:05] Jemison1 opened #580 "Hi, is there an Export to PDF soon ?"
thanks

[2018-10-01 21:57] RaySheikh commented on #553
Sorry for the late reply. I'm using bootstrap 4 and I have it setup as:
[code]
it seems to be a bug. It works find with bootstrap 3.
i'm using Bootstrap 4.1.3
react-bootstrap-table-next 1.1.4.

Thanks!

[2018-10-01 22:11] RaySheikh commented on #553
I have also noticed the validation message does not appear in BS4. anyone else seeing the same issue?
I recently updated to 1.2.0 and unable to get the autoSelectText to work.. not sure if it may be related to bs4 also.

Thanks Allen for all the help and work making this. Appreciate your work!

[2018-10-02 04:14] trang94 opened #581 "Can't set the current page as the final page?"
I tried to set the current page as the final page of data but it does not work.
Ex: I have a list of 23 data rows,
and the pagination's options :
const paginateOptions = {
      sizePerPage: 5,
      page: 5
    }
But, page 1 will be as the result.

[2018-10-02 09:07] NadineSch commented on #565
@AllenFang
thanks for your fast reply.
So you're right with the formatter, my raw data is A, B or C and not 0, 1 or 2.
Does that mean it's necessary that the value i'm filtering for (A, B or C) is the key-attribute of the selectOptions-Object? Like:
[code]
`[key]`: what I'm looking for in my raw Data
`[value]`: how to name it in my filter-menu (?)

If I'm getting this right I'm clear now, thanks!

[2018-10-02 10:27] hungdev commented on #291
@Bricon66 with large screen its get error
![screen shot 2018-10-02 at 5 26 13 pm](https://user-images.githubusercontent.com/12009276/46343583-73699d80-c668-11e8-8f17-6c6bb9b23ea7.png)

[2018-10-02 15:46] AllenFang commented on #553
@RaySheikh I think in the [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Sort%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) we are also use `bootstrap@4.1.3` but it work fine to me.  Would you please share more about how to reproduce th

[2018-10-02 15:47] AllenFang opened #582 "Investigate the validation message disappear in BS4"
self explanatory

[2018-10-02 15:49] AllenFang commented on #566
@JEEVANJGA sure, you can use [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

Please reopen this issue if above solution is not helpful to you, thanks

[2018-10-02 15:49] #566 closed

[2018-10-02 15:50] AllenFang commented on #565
@NadineSch yes, you are right!

[2018-10-02 15:50] AllenFang commented on #541
👍

[2018-10-02 15:51] AllenFang commented on #577
I mean the version of `react-bootstrap-table-next` and I think because it work for me on the above example, would you please give me some reproduce code or env? thanks . Online example will be good

[2018-10-02 15:52] AllenFang commented on #580
@Jemison1 No. But any PR is welcome. This feature is minor to me currently.

[2018-10-02 15:57] AllenFang commented on #579
I think it's ok to set the row border:

const rowStyle = { backgroundColor: '#c8e6c9', border: '3px solid red' };

<img width="765" alt="2018-10-02 11 56 31" src="https://user-images.githubusercontent.com/5351390/46360892-f3125f00-c69e-11e8-8bd9-29c8a1f4093f.png">

[2018-10-02 16:00] AllenFang commented on #579
I think the style should be render to DOM correctly, you can try to change the `borderBottomWidth` to another value, it should work.

[2018-10-02 16:00] #579 closed

[2018-10-02 16:04] AllenFang commented on #581
I think it work for me. would you please show me more information? what version you use now and are you sure that you have 23 rows in your table?  Did you enable the remote mode. Just provide more information that I can help you, thanks

[2018-10-02 16:46] BlaineBradbury commented on #409
This is not hard to bake in with pure CSS... here's my example:

`/* Make tbody a block and give it the desired fixed height w/ vertical scroll */
.react-bootstrap-table tbody {
	display: block;
 	max-height: 500px;
 	overflow-y: scroll;
}
/* Make tr's in both thead & tbody into tables w/ fixed width layout */
.react-bootstrap-table thead > tr, tbody > tr {
    display: table;
    width: 100%;

[2018-10-02 17:41] RaySheikh commented on #553
Hi Allen,
I have attached a link to the sandbox below. clicking on the column headers will sort the data but the icons are missing. I have also reproduced the missing validation message. If you change the price to 6 or higher the validation kicks in but the message is not displayed.

https://codesandbox.io/s/039869q7zv

Thanks!

[2018-10-02 19:19] BlaineBradbury commented on #230
@harmeet27 see fixed header option using pure css @ https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/409

[2018-10-02 20:42] fastertabla commented on #564
Thanks a lot Allen

[2018-10-03 03:35] HiroHara-Nextremer opened #583 "any ways to block the beforeSaveCell function until the user hits OK or Cancel button?"
Hi Allen,

I want to implement a confirmation modal, wondering if there is a good way to block 'beforeSaveCall' until yes or no is hit by the user. To be exact, I want the beforeSaveCell function to be terminated if the user enters no, and to proceed with afterSaveCell function if yes.

p.s.
i just figured my question seems to quite similar to https://github.com/AllenFang/react-bootstrap-table/iss

[2018-10-03 04:23] hungdev opened #584 "Cant press outside number in row of dropdown box"
Please help me. @AllenFang @Chun-MingChen
![table](https://user-images.githubusercontent.com/12009276/46389849-c3933f00-c6fe-11e8-9b0a-d8f1370c9dfe.gif)

[2018-10-03 06:38] nitrogene commented on #579
Using const rowStyle = { backgroundColor: '#c8e6c9', border: '3px solid red' } does the trick.

Thank you :)

[2018-10-03 11:50] pceccato commented on #226
Is there an example of how to set the column widths? This is fundamental functionality...

[2018-10-03 12:53] paolostyle opened #585 "How to get currently displayed rows data slice with pagination enabled?"
I have a table which uses pagination with remote disabled. I need to know which rows are currently displayed in the table, for example when the user is on 3rd page and data is sorted by some column with 50 rows/page I want to get access to an array of these 50 objects that are currently displayed. I'm fairly certain there is no non-ugly way to do that, but surely there must be some way to access i

[2018-10-03 18:04] waynebrantley commented on #226
@pceccato See @Northshoot comment above...that is part of the column definition...works good.

[2018-10-04 02:43] AllenFang commented on #553
@RaySheikh thanks for the demo, but I mean the demo is for the sort icon disappear problem lol .  Because it [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Sort%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) online demo is able to show the sort

[2018-10-04 02:45] AllenFang commented on #583
hello @HiroHara-Nextremer yes, your question is similar with #1245, so the patch of #1245 is helpful to your case?  thanks

[2018-10-04 02:48] AllenFang commented on #584
@hungdev some question here

1. Is there any error log in the console of dev tool?
2. Do you use bootstrap4
3. If you use dropdown instead of dropup, is able to fix this issue?
4 What `react-bootstrap-table2` version you used?  Please list all the related package versions
5. Do you enable the remote mode?

[2018-10-04 03:04] hungdev commented on #584
1.no log in console
2. "bootstrap": "^4.1.1",
3. im using default code at:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel
4. I don't understand this question? Your mean is teamviewer or anydesk?

[code]

[2018-10-04 10:28] pceccato commented on #226
Does it  need to be an arrow function?

[2018-10-04 12:53] karan-chauhan commented on #285
Is this functionality is still not available?
It's an important feature and it should be there.

[2018-10-04 22:53] TRWGali opened #586 "columns not updating in v1.2.0"
I have a grid component that will take the selected row and pass it as a parameter to my columns.
This was nice as I could render anything I needed in a row based on the row being selected.  This was working in v0.1.15, but appears to not be working in v1.2.0.

Example of v0.1.15: https://codesandbox.io/s/436ppjxrn7
Example of v1.2.0: https://codesandbox.io/s/m4py39vz78

[2018-10-05 02:40] sinisbad123 commented on #177
@iamandrewluca when you pass 'x' as the `order` props of the `sortElement`, you are actually modifying the class associated to the caret and not the character itself.

See below

![screen shot 2018-10-05 at 10 40 22 am](https://user-images.githubusercontent.com/1787177/46513455-20236500-c88b-11e8-865e-d5ade1bc3558.png)

[2018-10-05 02:48] sinisbad123 opened #587 "Implement custom sort caret"
Hi @AllenFang ,

I was wondering if there's any progress for the sort caret?

It says in the documentation that it's coming soon, and since the issue #177 was opened and "closed", was wondering if there are any progress to this.

Let me know if there are any alternatives to customizing the caret

Thanks and keep on improving this!

[2018-10-05 15:35] hellriser4 commented on #214
It seems the warning is gone, anybody still with it? I guess it got fixed... react-bootstrap-table-next 1.2.0

[2018-10-05 20:02] ramirog89 opened #588 "No data shown after search"
Hi!
I'm using react-bootstrap-table-next and I've implemented the remote pagination successfuly,
and instead of using filters in columns with the filter library, I've implemented a search query in a REST API that looks in all model columns passed in the filters[] query, so when I search for a text value the API returns the data items I need and this works well.

What is happening is that after the

[2018-10-05 20:13] dieselhank opened #589 "react-bootstrap-table2-paginator 1.0.2 broke remote pagination.paginationTotalRenderer"
With remote data source and search when the filtered list shrinks below the current page I reset page to 1.
But paginationTotalRenderer receives the original page 'from' value. This works fine in 1.0.1 but doesn't in 1.0.2.

[2018-10-05 22:32] TRWGali opened #590 "pagination toolbar does not update when calling onPageChange externally"
The pagination toolbar does not update when I call my pageChange function ( one that is passed down to onPageChange ) externally ( not using one of the page buttons ) on table version 1.2.0 and paginator version 1.0.2. I've created an example using these versions [here](https://codesandbox.io/s/rr03ly306m). To reproduce go to page 2 and search "honeydew" in the search box. The table's data will up

[2018-10-06 03:52] feather-jmalone commented on #588
what you're describing is exactly what i'm experiencing well. i posted about it here: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/568#issuecomment-425489176, but no one seems to be responding to my theory (that both local and remote searches are being performed simultaneously, and the local search results replace the remote search results). fortunately, the work around i

[2018-10-06 06:23] #584 closed, assigned to nobody

[2018-10-06 06:58] AllenFang commented on #585
@paolostyle currently, we dont have a good way to get the reference, I will fixed it ASAP, thanks

[2018-10-06 07:07] AllenFang commented on #586
@TRWGali, after `v1.0.0`([RELEASE NOTES](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/08/12/version-bump.html)), we have a enhancement on cell level, so please check [`column.formatter`] docs again: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

If you still can not solve this issue, please reopen this iss

[2018-10-06 07:07] #586 closed

[2018-10-06 07:10] AllenFang commented on #587
@sinisbad123 hello, sorry for lately feature support, I will implement it ASAP. I can not tell you the when I can finish, because there're huge task I have to do for this project by myself. thanks

[2018-10-06 07:11] AllenFang commented on #587
Anyway, before Nov, I will implement it.

[2018-10-06 07:46] AllenFang commented on #588
@feather-jmalone your assumption is correct, I will fixed it in next version, thanks

[2018-10-06 08:28] AllenFang commented on #585
@paolostyle 👍

[2018-10-06 13:41] ramirog89 commented on #588
@feather-jmalone hey!, seems you've been experiencing the same... yea, I will give a try to that approach and let you know!

@AllenFang I've just enable the remote like the docs says:
[code]

I can see that you've found the case, that's pretty fast, I really appreciate the effort. Thank you!
How often you deploy the new releases? I saw its in QA right now.

[2018-10-06 15:02] AllenFang commented on #589
I will fixed it, thanks

[2018-10-06 15:33] AllenFang commented on #589
Similar UI issue from https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/568

[2018-10-06 15:50] AllenFang commented on #588
@ramirog89 I will release this patch in SAT or SUN. Actually, this project almost developed and maintained by myself, so I didn't have any idea about when to release. I hope I can release every week but it depends lol   Sometime, I'm busy lol

Anyway, give a star for this repo is most effective way for appreciation to me haha
thanks~

[2018-10-06 16:28] feather-jmalone commented on #588
@AllenFang starred, and very much appreciated! it's a great component that keeps getting better, thanks for your dedication!

[2018-10-07 07:16] masihtamsoy commented on #484
Hi, sorry for delay, was caught up with work.

I looked into some table transpose structure. Can you please check and confirm, can I use `table with thead` example's transposed structure?https://rawgit.com/kmclaugh/Transpose_Table/master/transpose_table.html

I will use native JS and CSS to get it done.

[2018-10-07 09:02] hungdev commented on #584
@AllenFang I created an online example. But it seems not to work with style. Please edit for me.
https://stackblitz.com/edit/react-egjsge

[2018-10-07 15:31] #588 closed

[2018-10-07 15:31] #585 closed

[2018-10-07 15:31] #587 closed

[2018-10-07 15:31] #589 closed

[2018-10-07 15:38] AllenFang commented on #585
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/)

[EXPOSED API](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=Exposed%20API&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%

[2018-10-07 15:39] AllenFang commented on #568
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/07/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.2.1`, `react-bootstrap-table2-paginator@1.0.3` and `react-bootstrap-table2-toolkit@1.1.1`

[2018-10-07 15:39] #568 closed

[2018-10-07 15:40] AllenFang commented on #588
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/07/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.2.1`, `react-bootstrap-table2-paginator@1.0.3` and `react-bootstrap-table2-toolkit@1.1.1`

[2018-10-07 15:41] AllenFang commented on #587
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/07/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.2.1`

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Custom%20Sort%20Caret&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2F

[2018-10-07 15:41] AllenFang commented on #177
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/07/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.2.1`

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Custom%20Sort%20Caret&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2F

[2018-10-07 15:42] AllenFang commented on #589
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/07/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.2.1`, `react-bootstrap-table2-paginator@1.0.3` and `react-bootstrap-table2-toolkit@1.1.1`

[2018-10-08 07:33] hungdev commented on #584
thank for your support.
I fixed that issue by adding bootstrap4={true}.
But when i press to the number of rows, it navigates to index (#). How to disable navigate?
And another question: How to style Pagination to right like position in the image.
Thank you.@AllenFang
<img width="1271" alt="screen shot 2018-10-08 at 2 29 14 pm" src="https://user-images.githubusercontent.com/12009276/46596464-cfb83b

[2018-10-08 09:45] dominic-otoole opened #598 "tabindex on td fields"
Is tab index supported on this release ?

Inspecting the generated td element, I don't see this attribute by default.

It appears in the previous version here:

https://allenfang.github.io/react-bootstrap-table/example.html#celledit

<td tabindex="2" class="" style="text-align: left;">Item name 0</td>

[2018-10-08 10:05] amsterdamharu opened #599 "Paginator: Cannot read property 'options' of undefined"
In my container that is using bootstrap-table2 I optionally set pagination:

[code]

However the script [here](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-paginator/src/context.js#L59) somehow assumes pagination.

This will error in `Cannot read property 'options' of undefined` when previously there were 2 pages but deleting the only

[2018-10-08 13:06] TRWGali commented on #590
closing this as it seems to be fixed in v1.2.1 and v1.0.3.

[2018-10-08 13:06] #590 closed

[2018-10-08 15:38] dieselhank commented on #589
Thank you for quick the fix!

[2018-10-08 16:10] AllenFang commented on #583
@HiroHara-Nextremer I will figure out this feature and find a good solution, thanks

[2018-10-08 16:11] AllenFang commented on #590
👍

[2018-10-08 16:11] AllenFang commented on #589
👍

[2018-10-08 16:15] AllenFang commented on #584
@hungdev about the styling the position, currently it's limited to do it. However, I encourage you to make some changes on CSS or class.

It's default element structure from bootstrap 4 and it perform the dropdown option with a `li > a`.

[2018-10-08 20:10] xxporkoxx commented on #207
Hello guys i am facing the same problem right now. I am using those versions of react-table packages:

    "react-bootstrap-table2-editor": "^1.0.1",
    "react-bootstrap-table2-filter": "^1.0.0",
    "react-bootstrap-table2-toolkit": "^1.0.3",

I have tried to implement @teresa-recursion approach but i think that those change were made on older versions then the one i am using. Do we have any upd

[2018-10-09 16:37] sedrubal opened #600 "Property condensed has no effect with bootstrap4"
Setting `condensed` to `true` or `false` makes no difference when you use `bootstrap4`. The css class `table-condensed` was removed there. Instead you should use `.table-sm`. Additionally it was useful to add `.form-control-sm` on a `condensed` table to all `.form-control`s.

If you want, I can try to make a pull request.

[2018-10-10 04:41] AllenFang commented on #598
@dominic-otoole I will support it, thanks!

[2018-10-10 06:12] cbfrank opened #601 "Two columns have same dataField will cause the same key warning of React"
In some case, we need to add two columns which bound to same dataField, but show different test, for example, a filed of Date will be shown in two columns, one will show and edit for day part, and the other will show and edit for time part. in this case, we will get the below warning:

Warning: Encountered two children with the same key, `time`. Keys should be unique so that components maintain th

[2018-10-10 15:05] AllenFang commented on #599
I think you can do it:

[code]

[2018-10-10 15:05] AllenFang commented on #599
please tag me if above solution is not helpful to you.

[2018-10-10 15:06] AllenFang commented on #600
@sedrubal ok, PR is welcome :)

[2018-10-10 15:23] feather-jmalone commented on #601
+1, share your frustration.

[2018-10-10 15:31] TRWGali commented on #586
https://codesandbox.io/s/o5z8plm1x9 is the fixed version for anyone looking in the future

[2018-10-10 17:46] Camphor-Tree commented on #121
The issue #2 is also resolved due to duplicate of this issue. There is a loop : )

Do we have footer or summary row support now?

[2018-10-10 17:50] prajapati-parth commented on #121
@Camphor-Tree
issue #2 has open status.

[2018-10-11 09:01] Gi972 opened #602 "Checkbox should false with empty data"
Hello,

on Storybook,
in Row Selection -> selection without data

When you have empty data the checkbox should be checked=false , disabled or even disappear.

I think it's not a normal behavior if you don't have data that checkbox was checked.

in the first version of  ReactBtable the chekbox is false.

Could you fix that?

Except if you are disagree with me :-p

Thanks

[2018-10-11 11:21] amsterdamharu commented on #599
@AllenFang Thank you for your reply.

The error will occur when you set pagination in first render and have it undefined in any next render. Easily reproduced here: https://github.com/amsterdamharu/table-bug

[2018-10-11 12:38] t1a2l opened #603 "Example of custom filter usage"
Hi, I am trying to use the custom filter option with the filter render but I don't understand the big pictures, the first time I am calling the class with the custom filter as part of it, I have no "column" and no "onFilter" props to begin with. An implementation example will be appreciated.

[2018-10-12 05:58] hungdev commented on #172
i don't understand why I still get the same error with "react-bootstrap-table-next": "^1.2.0"
@AllenFang

[2018-10-12 06:02] hungdev commented on #601
+1
i get the same warning.

[2018-10-12 14:33] M3yo opened #604 "Can we make an async validation ?"
Hi,

I have an autocomplete/Dropdown editor in my table.

I would like to make an async call in my column validator, but I can't make it work because my call (axios) is async... and [validator ](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/react-bootstrap-table2-paginator%401.0.3/packages/react-bootstrap-table2-editor/src/editing-cell.js#L86)doesn't seem to handle promises.

[2018-10-12 14:57] dominic-otoole commented on #598
Thanks Allen

[2018-10-13 19:19] jakeleventhal commented on #553
I am also having this issue

[2018-10-14 07:01] AllenFang commented on #599
@amsterdamharu
firstly, your code is wrong so that you will get the error.....  please check my above example......

Secondly, currently, `react-bootstrap-table` doesn't check the nextProps for `pagination`, I will fixed it in next version.

[2018-10-14 08:35] AllenFang commented on #602
I will fixed in next version, thanks @Gi972

[2018-10-14 08:38] AllenFang commented on #603
It's wired @t1a2l would you please share you example, [this](http://localhost:6006/?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is a online demo and it work well.

[2018-10-14 09:51] t1a2l commented on #603
@AllenFang the demo is not working. localhost 6006 is not reachable.

[2018-10-14 10:51] t1a2l commented on #603
Also is there a way to pass data to the columns? IF so how?

[2018-10-14 15:45] #546 closed

[2018-10-14 15:45] #598 closed

[2018-10-14 15:45] #599 closed

[2018-10-14 15:57] AllenFang commented on #599
@amsterdamharu please upgrade to `react-bootstrap-table-next@1.3.0`
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html)

[2018-10-14 15:59] AllenFang commented on #598
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html)

Enable [`tableIndexCell`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#tabindexcell-bool) on `BootstrapTable`

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedSt

[2018-10-14 16:00] AllenFang commented on #546
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html)

Please upgrade to `react-bootstrap-table-next@1.3.0`

Check [`expandRow.expandByColumnOnly`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandbycolumnonly-bool)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstra

[2018-10-14 16:02] AllenFang commented on #507
Please upgrade to `react-bootstrap-table-next@1.3.0` and `react-bootstrap-table2-editor@1.2.0`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html)

Check [`selectRow.clickToExpand`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowclicktoexpand-bool)

[2018-10-14 16:02] #507 closed

[2018-10-14 16:02] AllenFang commented on #559
Please upgrade to `react-bootstrap-table-next@1.3.0` and `react-bootstrap-table2-editor@1.2.0`

[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html)

Check [`selectRow.clickToExpand`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowclicktoexpand-bool)

[2018-10-14 16:02] #559 closed

[2018-10-14 16:04] AllenFang commented on #437
Please upgrade to `react-bootstrap-table-next@1.3.0` and `react-bootstrap-table2-editor@1.2.0` will get significant improvement.

[2018-10-14 16:04] AllenFang commented on #392
Please upgrade to `react-bootstrap-table-next@1.3.0` and `react-bootstrap-table2-editor@1.2.0` will get significant improvement.

[2018-10-14 16:04] #392 closed

[2018-10-14 20:41] abdulrahman-khankan commented on #553
I solved it by adding `import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';` to the top of my component file.

[2018-10-15 01:48] AllenFang commented on #484
@masihtamsoy sure, I will look into on it, thanks

[2018-10-15 03:34] jakeleventhal commented on #553
This doesnt work for me

[2018-10-15 10:06] amsterdamharu commented on #599
@AllenFang I can confirm that this solved the problem, there is no longer an error when pagination was set but is undefined in a later render.

Yarn upgrade in the [example](https://github.com/amsterdamharu/table-bug) solved it.

[2018-10-15 11:59] t1a2l commented on #512
@AllenFang - Hey any news about this feature? Is there any workaround or a manual way I can filter the table myself?

[2018-10-15 12:32] owczar1981 opened #609 "Custom Filter + Sort in one column"
When I define a column with cell filtering and sorting enabled, clicking the filter input triggers the sorting. Can I somehow compose the header by myself (trigger included)? I tried headerFormatter, but I think the sort function is bound to the `th.sortable` element itself, and I can't access it from headerFormatter iteself.

I can't find such an example in the Storybook. Sorting and Filtering ar

[2018-10-15 16:29] Gi972 commented on #507
Thank you for this work @AllenFang

[2018-10-16 00:02] rmartin58 opened #610 "expandrows"
I am having an issue with expand row; if I click on any row, they all expand. I would like to have only the row clicked to expand. I'm sure this is my issue as the demo code works as I would expect.  Any thoughts / pointers about where I made my mistake?
[code]

[2018-10-16 03:40] sinisbad123 commented on #587
Thank you so much @AllenFang ! More power!

[2018-10-16 08:00] owczar1981 commented on #609
Ok I have found the example, but it appears that the problem lies somewhere else. I have created a custom header formatter like so:
[code]
and the problem still persists, BUT only with **custom filter components**. Is there a possibility that i haven't attached something crucial inside of them that prevents this behaviour?

[2018-10-16 11:11] AllenFang commented on #512
@t1a2l sorry, i am still working not other features. I will consider this feature ASAP.  but I can not give you the actual release time. sorry.

However, I think currently we dont have any workaround for filtering data via a range(`between`).

Anyway, PR is welcome.

[2018-10-16 11:14] AllenFang commented on #601
hello, the `dataField` will be the unique key when rendering column. I will find if there's any alternative solution to avoid rendering key via `dataField`.

Currently, the workaround is i will suggest you flat your data firstly.  thanks

[2018-10-16 11:17] AllenFang commented on #603
sorry I give you wrong link:

check this
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

What do you mean? What's your purpose?

[2018-10-16 11:21] AllenFang commented on #604
@M3yo hmm... right now we don't support the async validation on cell editing, I will find some time to implement it.  thanks.

I think right now the workaround is u have to enable `remote` mode for cell editing.  [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Cell%20Editing&full=0&addons=1&stories=1&panelRight=0

[2018-10-16 12:59] wparrott-touchnet opened #611 "Pagination displaying incorrect number of rows"
When pagination is enabled on a table, it displays "number + 1" in the "Showing X rows" text. See screenshot for a better explanation.

![code-sandbox](https://user-images.githubusercontent.com/38440975/47018004-58dbfd80-d119-11e8-94b8-a23ef78058c5.png)

[![Edit n445qjqrwp](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/n445qjqrwp)

[2018-10-16 13:05] wparrott-touchnet commented on #611
It looks like the fix should be as simple as removing the `+ 1` from here:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-paginator/src/pagination-total.js#L6

[2018-10-16 14:02] jbcksfrt commented on #512
I have not come back to the project that I originally asked about this for, but I will in a couple of weeks.  I will also look into implementing this on my end around then and submitting a PR.

[2018-10-16 15:12] mkwenzel opened #612 "Automatically set column width based on max cell text width?"
Has anybody found a way to auto set the column widths?

I would love to see functionality for setting the column widths based on the size of whatever is inside the columns. Setting each column width by pixel is so inefficient to what I need to do, especially since the table size changes based on browser window size.

[2018-10-17 07:30] ARKKYN commented on #515
I to get the error

[2018-10-17 12:08] bjostes commented on #427
@AllenFang how do I get the row id, when using column event for clicking on specific cell?
So when I click at a specific cell, I would like to know which Id the row has, the cell belongs to.

[2018-10-17 12:46] Gi972 opened #613 "Search and stateManagement (multi selection)"
Hi,

When I use the table search with the multiselection  and I select any rows, I lost the selection when I search.

After verification, It's because the props don't pass the "selected" propertie.

You forgot it or ?

Thanks for your answer

[2018-10-17 14:00] jbp17 opened #614 "Screen jumped back to the first page screen after selecting a row on second page"
I used single selection with option button.  When I selected a row in any page other than the first page, the screen jumped to the first page.  Can it stay on the page where I made the selection?

[2018-10-17 16:29] Gi972 commented on #613
Sorry,  It works I make a mistake
Sorry about that

I close this issue

[2018-10-17 16:29] #613 closed

[2018-10-17 16:55] kmb266 opened #615 "After Search data object"
I would like to do something similar to what is mentioned in [this](https://github.com/AllenFang/react-bootstrap-table/issues/514) issue for the original react-bootstrap-table. Really I just want the data object after searching so I can display a row count above the table, but being able to manipulate the data object after a search would be great too.
Is this feature coming soon? Or am I missing s

[2018-10-17 18:59] mkwenzel opened #616 "expandByColumnOnly is not behaving as expected; clicking anywhere row still expands row"
expandByColumnOnly is not behaving as expected. I would like for my table rows to only expand my rows when clicking the expand column, and then do some other thing when I double click anywhere else in the row.

I followed documentation (here is the relevant code):

    const expandRow = {
        renderer: (row) => ...,
        showExpandColumn: true,
        expandByColumnOnly: true
    };

But s

[2018-10-17 20:40] bookworm2death opened #617 "Multiple Header Rows support?"
Hi @AllenFang I'm a big fan of your react-bootstrap-table(s). My current project is using your original react-bootstrap-table, but i'm trying to migrate to your react-bootstrap-table-next because my customer wants that autoSelectText option. But my current table has 2 header rows, the first spanning multiple columns. And it looks like the new table structure doesn't handle that since datafield is

[2018-10-17 21:58] Genarito opened #618 "Text Filter clearing when overlay animation is setted"
I'm using a basic spinner overlay but I've realised that when it's setted, Text Filters clear automatically. If I remove the overlay, filters work propertly.

**Working:**

[code]

**Not working:**

[code]
If there is a way to work with overlay animation and filtering at the same time I would appreciate it very much.

Thanks in advance and sorry about my English.

[2018-10-18 07:13] AllenFang commented on #512
Thanks's no rush :)

[2018-10-18 07:35] AllenFang commented on #610
it's wired, could you share what version you used now?  and also the react version.
In addition, a simple and minimal code to reproduce it will be goood

Thanks

[2018-10-18 07:40] AllenFang commented on #611
I will check this out , thanks

[2018-10-19 06:20] impressivewebs opened #619 ""bootstrap" is spelled wrong in the logo on the website"
This page:

https://react-bootstrap-table.github.io/react-bootstrap-table2/

Top left corner, it says "react-boostrap-table2" (notice the "t" is missing in the word "bootstrap").

[2018-10-19 06:56] feather-jmalone commented on #619
i'd like to give em the benefit of the doubt and say it's a halloween gag, but it's not very 'spooky' otherwise.

[2018-10-19 08:54] impressivewebs commented on #619
LOL... I suppose that's possible!

[2018-10-19 11:52] Thebarda commented on #551
@AllenFang I can't reopen this issue but the problem still remain

[2018-10-20 07:29] xujiahang11 opened #620 "TypeError happened on export CSV after js file compression"
I was working on a function that export to CSV only selected rows. It went well until I tried to compress my js file. I used several plugins including gulp-minify, gulp-uglify, closure compiler and all got same error:
[code]

And this is my code:
[code]

After it, I also tried setting 'exportAll: false' instead of 'onlyExportSelection: true'. Still got an error:
[code]

I wonder that is there any

[2018-10-21 06:45] AllenFang commented on #586
👍

[2018-10-21 06:45] AllenFang commented on #587
👍

[2018-10-21 06:46] AllenFang commented on #599
👍

[2018-10-21 06:54] AllenFang commented on #612
@mkwenzel I think you can set the `white-space:nowrap ` on column.

Do let me know if it not work. thanks

[2018-10-21 06:54] #612 closed

[2018-10-21 06:55] AllenFang commented on #614
@jbp17 sorry for lately reply, it's seem a bug, do you enable the `remote` mode?

[2018-10-21 06:56] AllenFang commented on #614
Please kindly give more information for me to reproduce, thx

[2018-10-21 07:09] AllenFang commented on #615
@kmb266 https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html

You can use above exposed api to get data or current status.
Please upgrade to newest version for all the related packages.

Please tag me if above information is not helpful to you, thanks!

[2018-10-21 07:09] #615 closed

[2018-10-21 07:11] AllenFang commented on #616
@mkwenzel please upgrade to newest version will fix this issue.

[2018-10-21 07:11] #616 closed

[2018-10-21 07:14] AllenFang commented on #617
@bookworm2death firstly, say thanks to you.

Currently, I dont have plan to support the header colspan or rowspan. However, I will try to implement it ASAP.  Sorry I can not tell you when I can support it. It's depends on my time.  thanks!

[2018-10-21 07:15] AllenFang commented on #618
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/360

Known issue, and currently workaround is not to use official overlay library.

[2018-10-21 07:15] #618 closed

[2018-10-21 07:16] AllenFang commented on #619
I will fix it. thanks!!

[2018-10-21 08:54] AllenFang commented on #602
@Gi972 please upgrade to newest version: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/14/version-bump.html

`react-bootstrap-table-next@1.3.0`
`react-bootstrap-table2-editor@1.2.0`

[2018-10-21 08:54] #602 closed

[2018-10-21 08:59] AllenFang commented on #553
@alexspence   The demo from @RaySheikh
 is missing `import "react-bootstrap-table-next/dist/react-bootstrap-table2.min.css"`

Anyway, if anyone can show me a demo to reproduce, I will start to look into on it. Please check you include the correct bootstrap css and `react-bootstrap-table2` css.

[2018-10-21 08:59] #553 closed

[2018-10-21 09:01] AllenFang commented on #553
https://codesandbox.io/s/jj22w8lzvv

[2018-10-21 09:17] bjostes opened #621 "Column Event: How to get row id?"
How do I get the row id, when using column event for clicking on specific cell?
So when I click at a specific cell, I would like to know which Id the row has, the cell belongs to.

_Originally posted by @bjostes in https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/427#issuecomment-430602564_

[2018-10-21 09:18] AllenFang commented on #577
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/553#issuecomment-431651293

[2018-10-21 09:18] #577 closed

[2018-10-21 09:42] bjostes commented on #621
very nice, thank you!

[2018-10-21 09:57] fahadashiq opened #622 "Responsive Prop not working"
I want to make my table responsive but seems like there is no prop in react bootstrap table 2 to make the table responsive. Is there any other way. I want to show horizontal scrollbar in the table.

[2018-10-21 15:38] AllenFang commented on #621
I will close this issue and tag you when I fix it, thanks

[2018-10-21 17:28] GSerjo opened #623 "react-bootstrap-table2-paginator: How to save `currSizePerPage` during page navigation"
Thank you! Really nice control 👍

Is it possible to save the selected size per page during page navigation? Looks like there's a property `currSizePerPage`, but I was not able to make it workable.

The issue is the selected page size is always sets to the default value during navigation.

[code]

[2018-10-22 19:04] kmb266 commented on #623
I would just have a config file that has the user's preferences saved in it like so
Ex. userConfig.js:
[code]
per https://www.w3schools.com/js/js_best_practices.asp you shouldn't use global variables to save the users preferences, but this config is helpful nonetheless.
Then just import this file in where you want to set currSizePerPage and on update of page size update your userConfig.js file to

[2018-10-22 19:11] kmb266 commented on #620
I am also getting this issue, but I am using webpack to uglify my code. my error is very similar:
[code]
When I build without minifying, then it succeeds, but shouldn't you want it to work with all minifyers?
I believe that there might be an actual bug. I love the table.
Thanks for the help!

[2018-10-22 19:48] asifsha commented on #533
rules:{
    "linebreak-style": 0
  }
add above in rules in file .eslintrc
this worked for me for windows
https://stackoverflow.com/questions/37826449/expected-linebreaks-to-be-lf-but-found-crlf-linebreak-style

[2018-10-22 19:59] GSerjo commented on #623
Hi kmb266,

Thank you for the replay, there's a bit different issue, let me describe it step by step.

For instance, we have to pages: `Page1` and `Page2`. On the `Page1` we have a table with paginations with values (`10, 25, 50` and the default value is `10`), so.

1. Open `Page1` the pagination value = `10`
2. User changes the value on `25` and goes to the `Page2`
3. Return to the `Page1` and wi

[2018-10-23 09:28] amsterdamharu opened #624 "Unable to style next, last, previous and first page buttons in pagination."
All paginate page items are li elements that have class `page-item` with a `page-link` anchor.

Tried styling the next, last, previous and first buttons with css selectors like `first-child` but that doesn't help since I've made them optional (first and previous don't show when on page 1).

Is it possible to add a class to these elements so they can be styled?

[2018-10-23 11:30] rohankk2 opened #625 "Is there any way to access the data that is filtered when I use the search of the react bootstrap table next?"
Suppose my search is a custom search as follows:
[code]
i get this.node as undefined.

[2018-10-23 15:37] kmb266 commented on #625
I think you need to use this.node. So instead of:
[code]
it should be
[code]

Because you are setting up the reference for the table data inside of BootstrapTable with this.node here.
`ref={ n => this.node = n }`
Try that and see if it works

[2018-10-23 16:05] jpramos123 opened #626 "Row Selection with cellEdit not working properly"
Hello, I'm trying to make a cell edit and at the same time to make the row of this cell marked as selected.

This is my selectRow configuration:

[code]

When I make the change in the cell, it's possible to see that the code is passing throw the `selectRow` function, but not changing it's state in the front end.

[2018-10-23 22:07] CaitlinSweeney opened #627 "setState in selectRow.onSelect will break the row expand"
Not sure if I missed something in the docs, but my rows are only expanding when the `ExpansionHeaderCell` is clicked. When inspecting with my React dev tools, I set my props `expanded: true` and it only changes the `+` to `-`, without expanding the data. It renders fine when the header is clicked. Not sure if I'm just missing a prop somewhere?

[code]

[2018-10-24 07:58] owczar1981 commented on #609
All of them, on everyone i get the same behaviour. My custom Text filter for example looks like this:

[code]

Afterwards the result object of `buildCustomTextFilter` is merged with the column definition object.

[2018-10-24 11:12] tahv0 opened #628 "Pagination sizePerPage dropdown menu not working"
Having following packages:
"react": "^16.5.2",
"react-dom": "^16.5.2",
"react-bootstrap-table-next": "^1.3.0",
"react-bootstrap-table2-paginator": "^1.0.3",
"react-bootstrap-table2-toolkit": "^1.1.1",

Any idea why selection is not working?

![table-pagination](https://user-images.githubusercontent.com/16887142/47426723-b36afe80-d796-11e8-86c4-4b7ca9064f27.gif)

[2018-10-24 13:28] victorkpublic commented on #609
Hi.
Have the same issue: onTableChange with type=sort called if I click on customFilter input.
Column defined as:
`{
                dataField: 'sent',
                text: 'Sent',
                sort: true,
                filter: customFilter(),
                filterRenderer: (onFilter, column) => <DateFilter onFilter={onFilter} column={column} />,
                formatter: (cell) =>

[2018-10-24 14:06] knowbody commented on #612
I'm also looking for the same feature, I tried setting the style on column to what you suggested but it doesn't seem to work.

[2018-10-24 15:39] AllenFang commented on #620
I will look into it.

[2018-10-24 15:40] AllenFang commented on #609
I will check this out, thanks

[2018-10-24 15:42] AllenFang commented on #625
upgrade to newest version and try:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html

[2018-10-24 15:42] #625 closed

[2018-10-24 17:41] CaitlinSweeney commented on #627
Sorry for the novel, I just wanted to add:
I'm currently trying to render the expanded cells as such. Still getting the same results.
When the rows are opened with `ExpansionHeaderCell` and the `ExpandCell` is clicked, it closes all of the cells.
[code]
![capture](https://user-images.githubusercontent.com/19299064/47450163-c0312780-d781-11e8-833b-276f4acd5eed.JPG)

[2018-10-25 16:04] AllenFang commented on #622
This is one of feature we didn't bring to `react-bootstrap-table2`. Right now, we don't support the horizontal scrollbar and it's still not in the plan.

[2018-10-25 16:05] AllenFang commented on #622
However, you can still leverage the bootstrap `table-responsive` via adding the class on table element

[2018-10-25 16:07] AllenFang commented on #623
@GSerjo I still not clear your issue...

You mean you want to change the size per page from `25` to `10` when user switch to first page?

[2018-10-25 16:08] AllenFang commented on #624
it's still pending, I will handle it ASAP, thanks

[2018-10-25 16:11] AllenFang commented on #627
@CaitlinSweeney I will look into on it. But would you please help to do a quick check?

* remove `selectRow.onSelect` or dont call `setState` inside `selectRow.onSelect`.

[2018-10-25 17:29] GSerjo commented on #623
@AllenFang yes. How to set size per page programmatically

[2018-10-25 17:54] CaitlinSweeney commented on #627
Hey @AllenFang,
Thanks for getting back. I had a feeling that was where the problem is. When I comment out the
`selectRow={selectRow}` it works fine. I have to `setState` somewhere when it's selected, but I might figured out a workaround if I pull that component out and make it a SLC.

[2018-10-25 18:49] Genarito opened #629 "Table not updating when formatter is setted"
My column setting are these:

[code]
Table does not update when I call my tableChange function (one that is passed down to onTableChange) externally (not using one of the page buttons).

When I click on any sortable column, content generated by formatter function changes normally. If data changes a lot (for instance, with different number of elements) table works fine. I've debugged with React Dev

[2018-10-26 07:49] tahv0 commented on #628
If I give bootstrap4 prop this problem doesn't occur

[2018-10-26 19:43] kmb266 commented on #620
Any update on this issue? Thanks!

[2018-10-27 04:09] rwaskiewicz commented on #384
@AllenFang is this something that you're still interested in supporting? I've started to hack on this a bit, but not being familiar with all the intricacies of the lib I'm sure there are gaps in my knowledge.  Would love some early feedback if you want to add TS support to the library still!

[2018-10-27 06:19] feather-jmalone commented on #384
i have some hastily thrown together typedefs if you need. by no means releasable through `DefinitelyTyped`, but i'm happy to share if you like.

[2018-10-27 12:59] tahv0 opened #630 "SeachBar breaks with overlay and when loading is True"
Getting Error:
[code]

My packages:
    "react-dom": "^16.5.2",
    "react": "^16.5.2",
    "react-bootstrap-table-next": "^1.3.0",
    "react-bootstrap-table2-overlay": "^1.0.0",
    "react-bootstrap-table2-paginator": "^1.0.3",
    "react-bootstrap-table2-toolkit": "^1.1.1"

Steps to reproduce: 1) set `overlay` and `set` loading prop True. 2) type something to SearchBar

I think I must do some W

[2018-10-27 16:02] ShoubhikBanerjee opened #631 "npm install failes"
npm ERR! Unexpected end of JSON input while parsing near '...":{"benchmark":"^1.0.'

[2018-10-28 04:50] AllenFang commented on #631
I guess it's because your `package.json` is a invalid JSON format

[2018-10-28 04:50] #631 closed

[2018-10-28 04:57] ShoubhikBanerjee commented on #631
No, its a valid one, I have rechecked it through "https://jsoneditoronline.org/" also...

[2018-10-28 05:03] AllenFang commented on #623
@GSerjo check this:

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationsizeperpage-number

Please tag me if it's not helpful to you, thanks

[2018-10-28 05:03] #623 closed

[2018-10-28 05:10] AllenFang commented on #626
@jpramos123 sorry for lately reply, but I am not clear about your question.  Would you please explain again? thanks

[2018-10-28 05:12] AllenFang commented on #627
yeah... I think the issue is you call the setState in `selectRow.onSelect`, In my opinion, I will prefer to find the good way avoid the `setState` to break the internal action inside `react-bootstrap-table`.

Thanks

[2018-10-28 05:16] AllenFang commented on #629
@Genarito I think I need more information, if ok, please made a simple and minimal example on https://codesandbox.io . I will help you to check.

But please make sure that you dont use and state data or external data in `column.formatter`:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

[2018-10-28 06:43] AllenFang commented on #609
@owczar1981  @victorkpublic I think if you guys use custom filter, you may need to call `stopPropagation` manually. to avoid the event bobble up: for example this is how `react-bootstrap-table2` avoid to trigger the sort when click on default text filter:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-filter/src/components/text.js#L75-L

[2018-10-28 06:43] #609 closed

[2018-10-28 14:40] jpramos123 commented on #626
@AllenFang Thank you for your response!
I mean that, when I click in a cell which is marked as "editable", the row is not marked as "selected" and its color don't change (that is I called "state", my bad).
When debugging, It's possible to see that, when I click in this editable cell, the code pass throw the "selectRow" function of the component.

Thank you!

[2018-10-28 20:04] ghanavel opened #636 "I need expandable indicator on right side(last column)"
Please provide  configuration option to show expandable integration on right side(last column)

[2018-10-29 06:21] brett--anderson opened #637 "Uncaught Error: Element type is invalid: expected a string (for built-in components) ..."
Getting the error:
[code]
With the following includes in index.html
[code]

Then in app.jsx
[code]
And later in render:
[code]

[2018-10-29 13:17] Genarito commented on #629
I was using It whit state data, I didn't read the warning about `formatExtraData`. Thank you so much and sorry about the inconvenients

[2018-10-29 13:17] #629 closed

[2018-10-29 14:30] jbp17 commented on #614
Yes.  I only enable remote cell-editing because I have to save data to database.  But selecting function should not be limited to local and should remember the page it was on.

[2018-10-29 15:59] #604 closed

[2018-10-29 15:59] #621 closed

[2018-10-29 15:59] #583 closed

[2018-10-29 16:09] AllenFang commented on #620
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/

Try to upgrade to newest version, I'm not very sure if I fixed it, so please help me to check and tag me if the problem still remain, thanks

[2018-10-29 16:11] AllenFang commented on #583
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/29/version-bump.html)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Async%20Hook%20Functions&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[DOCS](https://react-bootstrap-ta

[2018-10-29 16:12] AllenFang commented on #604
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/29/version-bump.html)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Async%20Validation&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[DOCS](https://react-bootstrap-table.gi

[2018-10-29 16:13] AllenFang commented on #621
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/29/version-bump.html)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Event&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-10-29 16:16] AllenFang commented on #637
@brett--anderson
would you please show me the error stack and help me print the `BootstrapTable` to see what it is, thanks

[2018-10-29 16:43] M3yo commented on #604
Thanks a lot Allen !

[2018-10-29 17:15] kmb266 commented on #620
@AllenFang I am still getting the error after updating to 1.3.1.
I have found that the error only occurs when I set `exportAll` to false. This might help you in your search to fix the issue. Thanks!

[2018-10-30 04:34] xujiahang11 commented on #620
+1. Still getting this error. And it also occurs when I set _onlyExportSelection_ to true.

[2018-10-30 09:08] akparaliev opened #638 "customFilter bug ( CRITICAL)"
[code]
in header-cell.js it calls  onExternalFilter(column, filter.props.type); and filter.props.type is undefined

[2018-10-30 09:35] akparaliev commented on #638
solved this bug with this code
` filter={ filterFactory(FILTER_TYPES.MULTISELECT) }  ` and
`filter: customFilter({comparator: Comparator.EQ, type: FILTER_TYPES.MULTISELECT}),`
but I think it is still bug

[2018-10-30 16:33] mkwenzel opened #639 "Render is crashing when using react-bootstrap-table2-editor, edit date"
I am getting a similar error to issue #637 but from a different code usage, so I'm opening a separate issue. The components work fine with just react-bootstrap-table-next, but throws up the below error when I try to implement a clickable date cell with react-bootstrap-table2-editor.

Not sure if this is an error with the package or if it's my own error--wondering if maybe I am not inputting the co

[2018-10-30 18:47] mwesthelle opened #640 "Truncated pagination"
Hi @AllenFang! I'm migrating an old project to use react-bootstrap-table-next. The old design had truncated pagination, i.e instead of having 'first page' and 'last page' buttons, it showed the first page, dots, a few pages centered around the current page, more dots and then the last page. An image is worth a thousand words:
![truncated_pagination](https://user-images.githubusercontent.com/232203

[2018-10-30 19:10] jehartzog opened #641 "Sorting filter select options"
We needed to sort the `<options>` used in selectFilter, but because the existing code uses [`Object.keys()`](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-filter/src/components/select.js#L61-L73) to do this there was no way to ensure a sort order.

We also had to create boilerplate code to share options between selectFilter, which took

[2018-10-30 19:51] andrew-aromin commented on #620
@AllenFang I am running into the exact same issue as @kmb266, using 1.3.1

[2018-10-30 23:56] HiroHara-Nextremer commented on #583
@AllenFang
sorry for the late reply.
the new feature you've added worked perfect!!!

THX ^^

[2018-10-31 13:29] AllenFang commented on #620
thanks you guy, will look into it again 👍

[2018-10-31 13:35] AllenFang commented on #626
@jpramos123 ok, you mean the `bgColor` is not rendered when the row is selected, right?  I think its' a bug, I will fix it, thanks

[2018-10-31 13:38] AllenFang commented on #626
[code]

this is my code and when click to select/edit, the color is change correctly.

[2018-10-31 13:38] AllenFang commented on #626
Did I missing something? @jpramos123  or maybe you can share your code but please keep it simple and minimal, thanks

[2018-10-31 13:43] AllenFang commented on #630
@tahv0 currently, `react-bootstrap-table2-overlay` have a critical issue and it's difficult to fix. Currently, I will suggest you to render the overlay by yourself, you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=EmptyTableOverlay&selectedStory=Empty%20Table%20Overlay&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2

[2018-10-31 13:43] #630 closed

[2018-10-31 13:52] AllenFang commented on #636
it's little priority feature for me, PR is welcome, thx

[2018-10-31 14:43] jpramos123 commented on #626
Hello @AllenFang, thanks for helping, follow my code:

[code]

[2018-10-31 17:49] Genarito commented on #629
How could I define dinamyc data on one column? For instance, given a value in one of my obj's field, show a specific icon? Because if `formatter` can't manage dinamyc data and `formatExtraData` doesn't receive the current row, I have no idea how we could solve a problem like that one.

Thanks in advance

[2018-10-31 20:09] jbp17 commented on #614
@AllenFang
Hi, here is a a minimal and simple code at codesandbox.io to reproduce the problem.  If you don't think this is a bug, can you tell me what I did wrong?
https://codesandbox.io/s/3x3m28y9q6

Thanks!

[2018-11-01 00:16] brett--anderson commented on #637
Sorry, I'm new to React and had not actually built my application (`yarn build` / `npm build`). This hasn't been an issue for anything else I've developed yet. After setting up package.json etc and actually building the application I was able to serve the built assets and things seems to be working.

[2018-11-01 00:16] #637 closed

[2018-11-01 11:07] primarius27 opened #642 "Search on field that contains array items"
When you try to search on column that contains array items it's not working properly. Is there any way to fix this issue?
Example: array = [ 'dog', 'cat', 'parrot']
search field value = 'dog parrot'
Result: row is hidden which should not be the case.

Thanks.

[2018-11-01 11:42] primarius27 commented on #642
Also to add, is it possible to search on multiple columns in same time?

[2018-11-01 17:29] yasaricli commented on #193
+1

[2018-11-01 19:30] nthgol commented on #367
seems pretty simple. I just logged event.target as the callback to rowevents, and I got `<input type='checkbox'/>`. So just put a conditional statement in your rowevents and don't do anything if thats the event target.

[2018-11-02 10:47] PatrykMilczarek opened #643 "[Bug] Pagination, editorRenderer"
Hello,
Using the code on the page:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

When you try to edit Product Quality column you can actually click on each cell and it goes into "edit mode", but the last one you click

[2018-11-02 11:51] PatrykMilczarek commented on #643
After manually implementing onBlur method the issue is resolved.
Please consider this issue irrelevant :)

[2018-11-02 11:51] #643 closed

[2018-11-02 18:20] antonvstepanov commented on #627
@CaitlinSweeney, first, sorry for my English, it is because of lack of practice. What about the work-around, you can make your own state controlled selection. That's how I did it.
1. Define a column for checkboxes. Here I also wrapped columns object with a function to provide selection callbacks and state for "select all":
[code]
We will need to inject the data field "isSelected" in our rows later

[2018-11-03 07:02] AllenFang commented on #614
@jbp17 it's simple, You table get rerender everytime....

[code]

[2018-11-03 07:31] AllenFang commented on #639
@mkwenzel what's your cell value for date column, it should be a `Date` object