[2019-08-20 15:10] mrchess commented on #956
This solution sort of works. Returning null will, while returning no visible interactive UI (like no arrow to click), when you hover over the `<th>`, it still has a cursor, and clicking on it will still trigger an `expandAll`.

[2019-08-20 17:25] bbuchanan commented on #1066
<img width="878" alt="Screen Shot 2019-08-20 at 13 23 08" src="https://user-images.githubusercontent.com/315135/63369436-ef86d580-c34d-11e9-8135-4d0260db61b8.png">

Just came across this in the docs. So maybe this is why I'm having so much trouble. How should I handle what I'm trying to accomplish?

[2019-08-21 05:30] DipjayDatta commented on #477
getting following warning

Failed prop type: Invalid prop `sizePerPage` of type `object` supplied to `PaginationList`, expected `number`.
code like -
this.options = {
sizePerPage: 20,
sizePerPageList: [
{
text: '10', value: 10
},
{
text: '20', value: 20
},
{
text: '50', value: 50
},
{
text: 'All', value:0
}
]
};
 this.options.sizePerPageList[3].value = (this.props.data)?this.props.data.length:0;

[2019-08-21 05:34] DipjayDatta commented on #477
getting following warning

Failed prop type: Invalid prop `sizePerPage` of type `object` supplied to `PaginationList`, expected `number`.
code like -
this.options = {
sizePerPage: 20,
sizePerPageList: [
{
text: '10', value: 10
},
{
text: '20', value: 20
},
{
text: '50', value: 50
},
{
text: 'All', value:0
}
]
};
 this.options.sizePerPageList[3].value = (this.props.data)?this.props.data.length:0;

[2019-08-21 05:36] DipjayDatta commented on #477
getting following warning

Failed prop type: Invalid prop sizePerPage of type object supplied to PaginationList, expected number.
code like -
this.options = {
sizePerPage: 20,
sizePerPageList: [
{
text: '10', value: 10
},
{
text: '20', value: 20
},
{
text: '50', value: 50
},
{
text: 'All', value:0
}
]
};
this.options.sizePerPageList[3].value = (this.props.data)?this.props.data.length:0;

data will

[2019-08-21 07:53] imtmh commented on #437
I have a similar scenario like @F-Adam-B , 30+ columns with 5000- 10000 rows. (It includes ExpandedArea too), It's taking around 30+ sec to render. Any help?

[2019-08-21 07:57] Akaren13 commented on #1028
Thank you!!

One more question, is there any way how to add icon to column name? Formatter is changing the cell format but I want to add cross icon to delete column next to name, as you have arrows for sorting.

[2019-08-21 10:43] jonrandahl commented on #702
@AllenFang just to let you know I'm experiencing this issue again on the current version (toolkit-2.0.1) and I've tried both `noAutoBOM: false` and `noAutoBOM: true` as well as manually passing in the blob type (`'text/plain;charset=utf-8'`) and the characters in Excel are exporting as follows:
![image](https://user-images.githubusercontent.com/39102/63425446-739d9380-c408-11e9-962e-0b5b316f0c87.p

[2019-08-21 13:04] anuragb26 commented on #231
@jvlinton ,Could you please provide an example for this..i need to show a tooltip which on hover of a cell..stuck with the same issue,state is updated but formatter is not being invoked.

     `formatter: (cell, row, rowIndex, { showTooltip }) => {
          console.log('in cel', cell)
          console.log('tooltipOpen in formatter', showTooltip)
          const tags = cell.split(',').filter(a =>

[2019-08-21 20:47] 7DeGe opened #1067 "Custom search on predefined columns"
Is there a possibility to exclude certain columns from the search scope? I would like to only search rows based on a single column. The default setting always searches for matches in all columns.

[2019-08-22 10:56] mhvelplund opened #1068 "Support making expansion depend on which column of a row was clicked"
**Question**
Is it possible to make expandRow include the column that was selected?

I have a `BootstrapTable` where I want to be able to show a different expansion, depending on which column thew user clicked. I can see which column was clicked by looking at the event in the `expandRow.onExpand` handler, but I haven't found a good way make the result of the subsequent `expandRow.render` call depe

[2019-08-22 19:13] christensen143 opened #1069 "Data from map function not showing"
**Question**
I have a function that is pulling a data object that contains multiple arrays. My table is appearing and with the correct number of rows but the cells are empty. I'm pretty sure this is due to an error on my part. I just can't figure out what I did wrong. Here is what my component looks like:

[code]

**Screenshots**
This is a screenshot of the output on the javascript console which c

[2019-08-22 19:29] christensen143 commented on #1069
I figured it out. I was mapping into an object instead of just mapping into the array. My map function now looks like this:

[code]
Thanks.

[2019-08-22 19:29] #1069 closed

[2019-08-22 19:42] cancerberoSgx commented on #384
@dacevedo12 OK, I standby then - since I'm not actively using the library I have little time or motivation to complete the typings, but once we know how to proceed I will

[2019-08-22 19:52] ZippoLag commented on #347
@AllenFang is there an easy way to make the check-all button select items in all pages? I want to do that instead of selecting only the rows in the current page :smile:

[2019-08-23 07:05] resistancecanyon commented on #231
I had to re-render the component with a show/hide react condition after trying to solve it for hours.
It used to work in previous version(^1.1) but after 2, i believe performance checks inside the component has made this update to not happen.

[2019-08-23 15:29] Bopzor commented on #172
Same using `"react-bootstrap-table-next": "^3.1.7"`but only if the column if the one used for `keyField`. So it's seems logic.
But how can I manage a unique `keyField` if I don't have any unique column ?
Thanks :)

[2019-08-24 05:24] AllenFang commented on #1024
thanks @emresimsk  ,,, @mbystryantsev do let me know if this issue still remain, thanks

[2019-08-24 05:24] #1024 closed

[2019-08-24 05:30] AllenFang commented on #1065
@mustafa-taheri sorry for lately reply. so far we don't have this feature. the workaround is like you said, you have to do the checking by yourself before saving the cell.  thanks

[2019-08-24 05:30] #1065 closed

[2019-08-24 05:40] AllenFang commented on #1066
please pass state via `formatExtraData`

[code]

[2019-08-24 05:41] #1066 closed

[2019-08-24 05:42] AllenFang commented on #1066
BTW, I encourage to enable `isDummyField` when you column is meaningless(For actions)

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnisdummyfield-bool

[2019-08-24 05:44] AllenFang commented on #1067
I will add a new props: `column.searchable` for this requirement, thanks

[2019-08-24 05:52] AllenFang commented on #1067
@7DeGe you can give false to `column.searchable`.  BTW, I found I missing the docs and story for this, I will also add it, thanks!

[2019-08-24 05:52] #1067 closed

[2019-08-24 06:33] AllenFang commented on #1068
hello @mhvelplund sorry for lately reply. so far we only allow user to example row via "clicking on row" or "clicking on expand indicator".

For your request, I think it's not that simple to do it in current design. because so far our row selection and expansion is based on row level instead of cell level.

In my opinion, there's a workaround but not sure if you can accept it or not lol

[code]

T

[2019-08-24 06:33] #1068 closed

[2019-08-24 06:39] mhvelplund commented on #1068
Thanks! I'll have a look at it Monday when I get back to work ;)

[2019-08-24 06:43] AllenFang commented on #1006
@jendamozna ok, I will implement it, thanks

[2019-08-25 13:54] #1060 closed

[2019-08-25 13:54] #1062 closed

[2019-08-25 13:55] #1006 closed

[2019-08-25 13:55] #1054 closed

[2019-08-25 13:55] #1061 closed

[2019-08-25 13:57] AllenFang commented on #1067
patched docs: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnsearchable-bool

[2019-08-25 13:58] AllenFang commented on #1062
Fixed in newest version

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/25/version-bump.html

[2019-08-25 13:58] AllenFang commented on #1060
Fixed in newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/25/version-bump.html

[2019-08-25 13:59] AllenFang commented on #1061
Fixed in newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/25/version-bump.html

[2019-08-25 14:00] AllenFang commented on #1054
Fixed in newest version:

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/25/version-bump.html

check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#function-as-options)

[2019-08-25 14:01] AllenFang commented on #1006
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/08/25/version-bump.html)

[DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowclassname-string-function)

[2019-08-26 07:07] jendamozna commented on #1006
expandRow = {className: "no-hover"}
now creates:
`<tr><td class="reset-expansion-style no-hover" colspan="5">...`
could it be possible to update `<tr>` class instead of `<td>`?

[2019-08-26 15:06] apausepi commented on #672
Hi Allen, I have the same problem if I don't use editCell. I add the input field directly in formatted column function because I want display all inputs without click.

[2019-08-26 23:57] zhr1130 opened #1071 "Accessibility issue: duplicated id attribute: pageDown"
**Describe the bug**
Accessibility bug: 'Document has multiple elements referenced with ARIA with the same id attribute: pageDropDown' if more than one react-bootstrap-table component is rendered on the page. Can we generate the dropdown id as SearchBar input which combines with tableId.

**To Reproduce**
go to https://codesandbox.io/s/sleepy-morning-lt21y and scan with Accessibility Insights tool

[2019-08-27 13:07] maxsilvauk commented on #1059
Basically the Statistics table has an expand row. The expanded row has another table inside it it which contain the rows 'Cardiff Hotel' and 'Newport Hotel'.

The problem is that the second table columns are never inline with the the parent table column headers. This is because you cant set a width to a 'display:none' which hides the table column.

I am trying to make the column widths match up ca

[2019-08-27 15:19] premkiran7 commented on #1055
hello @AllenFang, in the sample code which can be found in the above code sandbox, this issue can be reproduced. When a row is clicked the button "Mark" appears. On clicking the button "Mark" I want to clear the row that was selected previously. This was not happening. Please do correct me if there is something wrong in the code that I have written

[2019-08-27 18:49] aliogaili commented on #1005
I think this is really good to have, the clutter in the table header when the filters are enabled make the filters not very usable.

[2019-08-28 12:36] AllenFang commented on #1059
@maxsilvauk it's a edge case for me. how about use [`column.style`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function) instead of `headerStyle`?  I guess this is my only solution I can come out lol

[2019-08-29 11:19] NAsejevs commented on #859
I'm facing the exact same issue.

[2019-08-29 12:57] chimericdream opened #1074 "Support rowEvents on expanded rows"
I want to add handlers for `onMouseEnter` and `onMouseLeave` to the `<tr>` of the expanded row. The use case is that we don't want the extra row to change the general flow of the alternating stripes. Instead, the expanded row has the same background color as its "parent". This means we also want them both to change background color on hover.

**Describe the solution you'd like**
Here's a code snip

[2019-08-29 14:25] maxsilvauk opened #1075 "can we get access to onClick(e, column, columnIndex, row, rowIndex) for headerEvents"
**Question**
can we get access to onClick(e, column, columnIndex, row, rowIndex) for headerEvents. This only seems to work for events { } and not headerEvents { }

[2019-08-29 15:04] #1075 closed

[2019-08-29 15:04] maxsilvauk commented on #1075
Solved you can use e.target.attributes.getNamedItem('attribute').value

[2019-08-29 15:15] ZippoLag commented on #550
Thanks a lot @mkwenzel !

However, I ended up replacing all your styles for simply display: 'none', since I couldn't get bot the header and each cell to be _really_ hidden.

[2019-08-29 15:28] maxsilvauk opened #1077 "You seem to pass e, column, columnIndex, row, rowIndex in events { } but not headerEvents{ }"
**Question**
I need access to newly added attributes when a column header is clicked. I would love access via

       headerEvents: {
            onClick: (e, column, columnIndex, row, rowIndex) => {
                console.log('colunn',  column);
               // I could manipulate column to get my attribute which i could pass to 'headerOnClick()'
                headerOnClick();
            },

[2019-08-30 01:13] webwasim opened #1078 "Search the table with "StartsWith" instead of "Contains""
I have a very basic requirement to search the table columns using the StartWith instead of the default "Contains" method.
Any Help would be grateful.

[2019-08-30 09:32] satheesh-M opened #1079 "This package worked in windows os"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2019-08-30 09:53] jendamozna commented on #1006
@AllenFang, could you reopen it, please?

[2019-08-30 09:57] jendamozna commented on #1078
did you try onFilter?
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Implement%20custom%20filter%20logic&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-08-30 13:11] webwasim commented on #1078
But this example filter the individual column. I want a one search field like a table search.

[2019-08-31 05:06] AllenFang commented on #1079
sorry, I have no idea about this issue.

[2019-08-31 05:06] #1079 closed

[2019-08-31 05:12] AllenFang commented on #1077
hi @maxsilvauk I can only add `column` and `columnIndex` for onClick event in headerEvent, because when clicking on a header column, there's no row perspective.

[2019-08-31 05:15] AllenFang commented on #1078
@webwasim so far we don't have this feature, but I think I can implement it, thanks!

[2019-08-31 05:53] AllenFang commented on #1074
@chimericdream hello, thanks your contribution, I checked your requirement and you PR, how about just add your custom events on `MyRowRenderer` ?!

[2019-08-31 05:55] aogaili opened #1080 "react-hot-loader & formatter change"
I'm noticing that [react-hot-loader](https://github.com/gaearon/react-hot-loader) is not refreshing the component when I change the column formatter function (it works when changing text or align attributes).

I plan to open an issue in the react-hot-loader repo, but I wanted to see if anyone else is using it in the context of react-hot-loader and noticing similar issues. The current workaround is

[2019-08-31 16:18] webwasim commented on #1078
Ahh,, Can you tell me what search hook i can use to implement this feature ? what method do you call when we search?

[2019-09-01 05:12] raj3292 commented on #519
@hauhuynh1208 Any update on this?

[2019-09-02 09:00] maxsilvauk commented on #1077
Hi @AllenFang. Thanks for your speedy reply so column should give me access to the headerAttrs {} as I can see column gives access to this information for events: { }.

Also when are you planning to release release-2019-q2-9. Many thanks in advance @maxsilvauk

[2019-09-03 10:28] Menogus opened #1081 "FOOTER: how to know another cells in current row for footer"
**Question**
in footer i need sum of multiplication two cells.
how to know data of another cells?

need something like:

[code]

[2019-09-03 13:51] fabianbloching opened #1082 "Sort by different value than formatter returns"
Hello,

Is it somehow possible to change the sorted value of a column ? I use a column formatter which returns html but need to sort for a specific value inside of that. Something similar to filterValue option (sortValue) would be awesome.
[code]

[2019-09-03 20:23] ebfg opened #1083 "defaultSorted cannot sort more than one column"
**Describe the bug**
Only the first column of the `defaultSorted` array is considered. I see #717 was closed, but neither the documentation nor the linked example contains two columns in `defaultSorted`.

**codesandbox**
https://codesandbox.io/embed/react-bootstrap-table-next-basic-example-69nq0

Note that the second sort column is on `price` descending, so the row with id 2 should be displayed fi

[2019-09-04 13:25] Jzeemo opened #1084 "Add button to each row and click event is not working"
[code]

[2019-09-04 13:33] #1084 closed

[2019-09-04 13:34] Jzeemo commented on #1084
I changed GetActionFormat=(cell,row)=>{
.
.}

and onClick to onClick={()=>this.handleModelEdit()}

It's work now.

[2019-09-04 20:48] maxsilvauk commented on #1081
Yes we need access of column, cell, index and row in footerEvents(

[2019-09-04 20:49] maxsilvauk commented on #1077
@AllenFang Can you also pass column and columnIndex for onClick for footerEvent as-well?

[2019-09-05 17:22] fahmidamostafa commented on #984
@oscarreyes98 did you find a solution to this?

[2019-09-05 17:33] oscarreyes98 commented on #984
I did. I simply set the condition to 'eq':

`filter={ { type: 'SelectFilter', condition: 'eq' } }`

[2019-09-05 17:39] zhr1130 commented on #1071
Hello @AllenFang do you have a plan to fix it ? I can submit a PR if you are busy . It's effecting our production website.

[2019-09-06 06:18] dailymp commented on #544
@waynebrantley and @AllenFang  I have a problem when deleting the last element in a page.
The paginator breaks down because is not taking into account the change, this page should dissapear due to lacks of elements in it, but instead it throws an error:
![image](https://user-images.githubusercontent.com/14187188/64405244-c456f280-d07e-11e9-8037-2f9c4b6b02c0.png)
Please could you help me?

[2019-09-06 09:45] dailymp opened #1085 "Pagination break downs after delete the last element on active page"
**Error when deleting last element on active page**
When deleting the last element of an active page, the table doesn't re-render properly, instead throw the following error:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/14187188/64418591-9633db80-d09b-11e9-9320-7b2f8ef313bf.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to last page
2. Delete the last element on

[2019-09-06 10:29] dailymp commented on #1085
Added a PR: https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1086

[2019-09-07 05:06] AllenFang commented on #1077
Sorry, I am busy recently lol

I will try.

[2019-09-07 05:16] AllenFang commented on #1071
@zhr1130 sure, any PR is welcome

[2019-09-07 05:17] AllenFang commented on #1080
@aliogaili I didn't notice this issue. but how did you change the column formatter function? Would you please describe it a bit more?  Thanks!

[2019-09-07 05:28] AllenFang commented on #1081
@Menogus actually, we already pass `column` object and `columnIndex` as second and third arguments of `footer` function.  But i didn't mentions footer usage in docs, I will enhance docs ASAP, thanks

following is the source code:
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/footer-cell.js#L31

Anyway, I can pass the `row` because i

[2019-09-07 05:30] AllenFang commented on #1082
@fabianbloching I will implement it soon, thanks!

[2019-09-07 05:34] AllenFang commented on #1083
@ebfg the reason I give `defaultSorted` as an array is I was considering the flexibility for multi sort. but so far I still don't have time to implement multisort which mean, sort can be only applied on single column.

I will consider to implement multi sort but it's low priority for me. anyway, PR is also welcome. thanks

[2019-09-07 05:50] AllenFang commented on #1085
@dailymp thanks this bug report and your contribution, I will check this out and find the root cause, thank!

[2019-09-07 06:08] aliogaili commented on #1080
I've react-hot-loader configured to accept module changes on the parent container and down the component tree I've a table.

In the table I pass a custom formatter, nothing special:

`  {
        dataField: 'addedOn',
        text: 'Added On',
        align: 'center',
        headerAlign: 'center',
        formatter: (cell, row) => {
          return <div>This Doesn't hot reload</div>;
        }`

[2019-09-07 06:49] AllenFang commented on #1078
@webwasim in my fixes, I give you a hook to perform the custom match.  Will release this patch soon

[2019-09-07 08:38] AllenFang commented on #1085
@dailymp I try this case in [official demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Pagination%20with%20Dynamic%20Data&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) but it work!

Any thoughts?

[2019-09-07 09:26] AllenFang commented on #1080
Thanks your quick reply @aliogaili
it might be an issue in `react-hot-loader`, Let's see if fast refresh could solve this issue.

[2019-09-07 14:24] ebfg commented on #1083
https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1088

[2019-09-08 07:30] #1077 closed

[2019-09-08 07:30] #1078 closed

[2019-09-08 07:30] #1082 closed

[2019-09-08 07:34] AllenFang commented on #1077
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/09/08/version-bump.html)

This issue was fixed, please upgrade all the packages listed in above

[2019-09-08 07:34] Anandks1993 opened #1089 "Dynamic Data not updating properly"
**Describe the bug**
Dynamic data not updating properly, Data gets updated only on 3rd occurrence of API call. API call is happening through formatter option of column. Atleast in my actual application the formatter column toggles between properly after 1st 3rd occurrence of the API call, But when I tried to reproduce the issue on codesandbox, the occurrence continued.

**codesandbox**
https://cod

[2019-09-08 07:34] AllenFang commented on #1082
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/09/08/version-bump.html)

This issue was fixed, please upgrade all the packages listed in above

Now, you can use `sortValue`
react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnsortvalue-function

[2019-09-08 07:36] AllenFang commented on #1078
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/09/08/version-bump.html)

This issue was fixed, please upgrade all the packages listed in above

Now, you have to custom your search logic via [`search.onColumnMatch`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/search-props.html#searchoncolumnmatch-function)

[online demo](react-bootstr

[2019-09-08 07:37] #1081 closed

[2019-09-08 07:38] AllenFang commented on #1081
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/09/08/version-bump.html)

I update the [docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnfooter-string-function)

[2019-09-08 07:38] AllenFang commented on #1056
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/09/08/version-bump.html)

[2019-09-08 07:38] AllenFang commented on #1056
Thanks @chimericdream's help 🎉

[2019-09-08 07:38] #1056 closed

[2019-09-09 11:17] dailymp commented on #1085
Hello @AllenFang  maybe could be the versions I used
Here are the versions I use:
![image](https://user-images.githubusercontent.com/14187188/64526569-f88f1500-d303-11e9-8f68-6b8d2e212139.png)
What do you think?
Thanks in advance!!! :)

[2019-09-09 13:05] theocerutti opened #1090 "Can we display row inside an expanded row ?"
Hello,

Everything is in the title !

Because I want to collapse 2 existing row in 1..

Thanks !

[2019-09-09 16:15] dstone1983 opened #1091 ". notation keys in datafield don't work"
`{
            text: 'Assignee Name',
            dataField: 'assignee.combo_name'
        }`

I am reading data directly from the backend api. They keys in the JSON are as like they are in the sample above. No errors are given in the console, just a bunch of blank <td>'s.

I tried it with a key that I had no intention of using and it worked fine. _id

These type of keys use to work in the origina

[2019-09-09 16:20] dstone1983 opened #1092 "row span feature"
Everything seems to be old and not sure if it is being worked on.

Original bootstrap allowed for 2nd level headers to give titles to a group of other headers. It was a very nice feature that I currently am using in a project. The problem I have is that some of the old items in the original bootstrap table are slowly becoming deprecated and it would be great to have the same features.

It is hones

[2019-09-09 20:26] MacroPower commented on #384
@cancerberoSgx Thanks for posting your types. I am using them in a project and have made a few additions. It would certainly be nice if we could get those definitions posted in this repo, because I would be more than happy to contribute. @dacevedo12 How long do you think we should be waiting before just adding them to DefinetelyTyped?

[2019-09-10 20:43] hyphen1370 opened #1093 "Blur To Save for Custom Editor"
Hello,

How can enable blur to save for custom editor?
![2019-09-10 13_40_50-Window](https://user-images.githubusercontent.com/3792453/64648891-ac5dd680-d3d0-11e9-8b70-4a8d77cad174.png)

I have custom editor like the screenshot shows, with one selector and one text field. However, it doesn't save or the edit section go away when I click outside the table. Even with blurToSave set to true. Is that

[2019-09-11 06:04] AlexPuga commented on #226
**css**
`.react-bootstrap-table
    display: block
    width: 100%
    overflow-x: auto
    -webkit-overflow-scrolling: touch

.table th,
.table td
    white-space: nowrap`

**Table Rows Options:**
`headerStyle:{minWidth: '200px'}`

[2019-09-11 11:34] williamkmlau opened #1095 "expandRow.parentClassName only works when expanded"
expandRow.parentClassName only works when IsExpanded is true.

You can see this directly from the Storybook example by inspecting the element.

The IsExpanded parameter is useless because the class name will always be empty when IsExpanded is false.

[2019-09-11 20:19] dacevedo12 commented on #384
Let's just open a PR in DefinetelyTyped. I think it's better for the repo maintainer since he doesn't need to care about it and the community that can do faster changes or fixes if necessary.

@cancerberoSgx if you open a PR please link it here so everyone following this issue knows

[2019-09-13 18:22] HeitorDomingos commented on #580
Im having the same question about this. Its will be amazing!

[2019-09-14 03:43] inmanturbo opened #1096 "multiselect filter options are useless"
Obviously the only use for dropdown select options is to be able to populate the dropdown with the column data. Is there a single grid that does this one thing that is the only reason for needing a grid in the first place? I would never bother with any grid or datatables were it not for needing this one feature and as a result I am stuck with jquery and datatables on enterprise projects as much as

[2019-09-15 06:45] AllenFang commented on #1085
@dailymp I think it's not about to the version. Please give me a simple and minimal example on codesandbox.io so that I can reproduce it, thanks!

[2019-09-15 07:12] AllenFang commented on #1089
@Anandks1993 sorry for lately reply,  Please follow the way of immutable to update data in the world of react

[code]

[2019-09-15 07:12] #1089 closed

[2019-09-15 07:13] AllenFang commented on #1090
@theocerutti I can get you.  but i think we allow user to render everything inside the expanded content. No limit.

[2019-09-15 07:13] #1090 closed

[2019-09-15 07:15] AllenFang commented on #1091
@dstone1983 ***please follow the instruction to report a question or a bug***.  [demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Display%20Nested%20Data&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) work well.

[2019-09-15 07:15] #1091 closed

[2019-09-15 07:17] AllenFang commented on #1092
@dstone1983 so far i don't have enough time to implement column span. sorry about that. Anyway PR is welcome and close it due to duplicated issues

[2019-09-15 07:17] #1092 closed

[2019-09-15 07:28] AllenFang commented on #1093
@hyphen1370

[code]

There's a `onBlur` property in `editorProps` object. So i think if you render `editorProps` correctly, it should work.

Please tag me if the issue still remain. Thanks

[2019-09-15 07:28] #1093 closed

[2019-09-15 07:30] AllenFang commented on #1095
@williamkmlau I will check this out, thanks!

[2019-09-15 07:38] AllenFang commented on #1096
@inmanturbo
there's some suggestions

1. for filter, if you don't like the default filter, you can
  1.a: Custom the filter component.[example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)
  2.b: implement filter lo

[2019-09-15 07:39] #1096 closed

[2019-09-15 14:43] Anandks1993 commented on #1089
@AllenFang Thank you very much, My bad.

[2019-09-16 08:51] sonusandeep commented on #285
Team

Do we have any update on this, since this is an important feature which everyone needs this

[2019-09-17 13:50] Bopzor commented on #1068
Hello !
Thank you for this workaround.

I try it and it work. But I have `editable: true` set on one column (`mode: 'click', blurToSave: true`) that do not work any more. I find out that the `forceUpdate` seems to block the edit because when I remove this part, edit work (but row expand on any column click).
Is there a way to trigger Editing ? In that way I could render my custom editor on column

[2019-09-17 19:55] jennybean commented on #120
@tylerkeesling what was your solution?

[2019-09-18 11:51] AllenFang commented on #1068
hello, @Bopzor

i think your case is because you try to set state for manage the row expand, however, it break the call of cell editing. But I think there's still a workaround is trigger cell editing via expose api:

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html#trigger-cell-editing

[2019-09-18 18:43] remoroethlisberger opened #1097 "OnFilter change options of other filters"
Hi I am using the react-bootstrap-table to display some information in a nice table structure. However I am running into the issue that the filter options for the select filter won't update. So I was wondering if there is an easy way of having the options default to the values that are currently available in the table for that column.
I am currently getting the categories by creating a set of each

[2019-09-18 22:50] jonrandahl opened #1098 "TypeError Cannot read property of undefined - selection.js line 24"
@AllenFang

First, thanks for the amazing tool, it truly has made our project so much easier having it in our toolbox! Hopefully, we can pay your hard work forward by helping to resolve this bug which possibly relates to three other tickets: #939, #599, and #515

**Version Info**

- "react": "^16.8.6",
- "react-dom": "^16.8.6",
- "react-bootstrap-table-next": "^3.2.0",
- "react-bootstrap-table2-ed

[2019-09-19 06:39] jendamozna opened #1099 "Table th tabIndex cant be unset"
Column headerAttrs param can't be used to unset default tabIndex behaviour
`column.headerAttrs: () => ({ tabIndex: false })`
does not work.

Line 44 `tabIndex: 0` should be moved before headerAttrs in following code
https://github.com/react-bootstrap-table/react-bootstrap-table2/commit/4ec02b294afa876155088fc7140c2f13ec2b0aa2

[2019-09-19 20:56] hyphen1370 commented on #1093
Yes, I still having issue. I have the following code call inside the editorRenderer:

[code]

It sill works when I clicked the "Close" or "Save" button. However, it doesn't auto blur. When I compare with your [working example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor&full=0&addons=1&stories=1&panel

[2019-09-19 21:04] hyphen1370 opened #1100 "Blur To Save for Custom Editor - Reopen for issue NO. 1093"
Hello,

Since Github doesn't allow to reopen issue that closed by contributor, I open this issue referencing the issue No. 1093 because I made an update over there. I am not sure the contributor will check the close issue or not.

I apologize for the inconvenience.

[2019-09-20 15:27] prsdcse opened #1101 "Skip Tabindex on the header Column"
**Is this feature requested before?**
No it is not

**Is your feature request related to a problem? Please describe.**
When we have non actionable column header the WCAG AA complaint is reporting to skip the tabbing on those columns

**Describe the solution you'd like**
Instead hard coding the tabindex to 0 we may get the input through the headerAttrs and make sure it is either 0 or -1

**Describe

[2019-09-21 11:39] kammasuresh opened #1102 "Selected rows will be deleted after click on review form button. Submitted"
Hi , I am using your plugin..simply ..good..my requirement is I am using your table , on top of the table review button..I  want to review the selected rows.. after selected the rows, I click on review button ,it will be open one pop up and ask the question and answers and clicked on submit button on pop up, then I will come back to the table and selected rows will be deleted..and write dB for upd

[2019-09-21 21:12] wwitek opened #1103 "How to change row height or/and padding?"
I'm using `react-bootstrap-table2` in the Electron. How can I specify the row height and padding? I tried using row styles, but with no luck.

The table looks like this:
<img width="354" alt="Screen Shot 2019-09-21 at 5 00 41 PM" src="https://user-images.githubusercontent.com/24362293/65379236-e497cb80-dc92-11e9-94e0-ac6e5904b8e4.png">

Here is my code:
[code]

Versions of all libraries used:
[cod

[2019-09-22 02:03] nhetlinna commented on #439
How to filter date like an example I selected start date yesterday and End date today and it will select data all from the start date and end date all

[2019-09-22 12:40] NataEn commented on #280
Hi, this is my (no redux) suggestion for a table with adding and deleting row functionality. It has some small bugs (that can be easily fixed) but it is simple, and it works.
Hope  you'll find it useful:
import React, { Component } from "react";
import BootstrapTable from "react-bootstrap-table-next";
import cellEditFactory from "react-bootstrap-table2-editor";
import ToolkitProvider, { CSVExport

[2019-09-22 12:58] NataEn commented on #280
you can also access this via: https://github.com/NataEn/small_projects

[2019-09-22 15:12] dwichelo opened #1104 "Master checkboxes are broken when using a nested keyField"
Hi,

It seems the row selection behaviour does not work correctly in combination with nested a `keyField`. When that key is nested, the master checkbox is not checked as intended. See screenshot.

![image](https://user-images.githubusercontent.com/7196191/65390022-9d294200-dd5b-11e9-8f05-51d0591c2e46.png)

Note that both tables use a unique field as `keyField`. The above table incorporates a neste

[2019-09-22 19:47] sg27950 opened #1105 "Implement React-Router-Dom <Link /> to the row"
Hi, I'm new to react-bootstrap-table2
I already got a list of products to display on the table fetching all data from external API with JSON format. I want to make some sort of button or double click on that row is fine too. After the click, It will take to another page that has all the product details.
Any thoughts on how to implement react-router to the table?
Appreciate your help and suggestion

[2019-09-23 07:57] ranasarmadiftikhar commented on #216
Hi @AllenFang  Component is awesome. But still basic functionality of navigation key is missing. Please let me know if there is any progress.

[2019-09-23 14:22] GeekChao commented on #763
Where do u put this

I failed to override the css. Could u please elaborate this?

[2019-09-23 16:56] rchaser opened #1106 "Drop down editor: Table Displays Value instead of Label"
Hello
I suppose it is a wrong behavior,
Check this out please
https://codesandbox.io/embed/react-bootstrap-table-next-basic-example-u168d

![DropdownEditor](https://user-images.githubusercontent.com/1940857/65445970-0d0ef980-de3c-11e9-8197-fdd5d6344677.gif)

There was the same issue that was imho unfairly closed #934

[2019-09-24 07:16] soetedja commented on #955
is there any way to remove the tabindex?

[2019-09-24 07:45] rhmmuh005 commented on #285
Hello,

Has this feature been implemented yet?

[2019-09-24 10:43] remoroethlisberger commented on #1097
Here is a small example for better understanding of my ask: https://codesandbox.io/embed/snowy-shadow-1d8xs-1d8xs

When filtering I want the other optionsFilter to only include the values that are in the table and not all of the possible values...

[2019-09-24 13:07] chimericdream commented on #955
I don't know why you'd want to. The tabindex is there for accessibility purposes. What do you need to remove them for?

[2019-09-24 14:46] soetedja commented on #955
I've text filter for each column. I'd like to move to the next filter by pressing Tab once. If the tabindex exist in the table header, it will needs to press Tab button twice..

[2019-09-24 20:07] fabianbloching commented on #1082
:heart: thank you

[2019-09-24 21:04] matteusbarbosa commented on #825
The ones facing same difficulties about the issue, please just follow @AllenFang link provided. It says that you must update the table `data` array using .map . check example below

[code]

[2019-09-25 15:18] chancesmith commented on #989
Anybody have any types to share to get rolling?

[2019-09-25 15:49] chancesmith commented on #989
This helped: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/384

[2019-09-26 17:47] fulin426 commented on #652
@AllenFang I may been able to reproduce the error. It seems when I store the columns in state is when I get problems with not being able to sort.

https://codesandbox.io/s/issue-652-vphgd

[2019-09-27 05:51] rhmmuh005 opened #1108 "Can you export the csv after sorting the table and have the csv display the sorted table?"
I want the data exported in the csv to be displayed the same way it is being displayed on the table.

For e.g. if I have sorted the table and the order changes, it should appear the same in the csv. Currently, when exporting, it takes the format as it was before sorting.

Is there a way to go around this?

Thanks.

[2019-09-28 08:29] Fornori commented on #819
I use Card from "reactstrap"

[2019-09-28 08:30] Fornori commented on #617
any news about multi header?

[2019-09-29 05:29] AllenFang commented on #1097
@remoroethlisberger firstly, sorry for lately reply, I think this is not an issue in my opinion, the select filter is stateless and design for user to filter data with a set of options.

No

So far we only have a way to access the current filtered data is via `ref`, we didn't support a hook or a listener to get all the display data yet.

The way I mentioned above is though exposed API: https://rea

[2019-09-29 05:35] AllenFang commented on #1098
@jonrandahl firstly sorry for lately reply, just too busy recently. About your issue, I will be appreciated if you can give me a simple and minimal code on codesandbox, so that I can help you solve your issue!  Many thanks!

[2019-09-29 05:36] AllenFang commented on #1099
@jendamozna I will fix it soon

[2019-09-29 05:44] AllenFang commented on #1085
@dailymp Though I still can not understand the root cause of this issue, but I will add a short circuit to avoid this error.

[2019-09-29 05:57] AllenFang commented on #1100
@hyphen1370  sorry for lately reply, the `rest` object contain a property is `onBlur`, You **have to** render this property to an input or select element or both of them.

[2019-09-29 05:57] #1100 closed

[2019-09-29 05:58] AllenFang commented on #1101
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1099

I will fix it soon

[2019-09-29 06:04] AllenFang commented on #1102
@kammasuresh no need to switch to old version, it's irrelevant and definitely not a bug. How do your submit button work?  is it trigger a page refresh?

If ok, please create a simple and minimal example on codesandbox, so that I can help you, thanks

[2019-09-29 06:04] #1102 closed

[2019-09-29 06:07] AllenFang commented on #1103
@wwitek you can use `rowStyle` or `rowClasses`
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#rowstyle-object-function

[2019-09-29 06:07] #1103 closed

[2019-09-29 06:11] AllenFang commented on #1104
@dwichelo sorry for lately reply, I will fix it soon

[2019-09-29 06:21] AllenFang commented on #1105
Hello @sg27950 sorry for lately reply, I think it depends on how you want to make redirect happen.

So far we only have column formatter but no row formatter. You can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) to see how to custom a column to render anything you want in the cell.

Or there's a dummy column you can us

[2019-09-29 06:21] #1105 closed

[2019-09-29 06:38] AllenFang commented on #1106
@rchaser it's not an issue and actually depends on your case. In you case you should also use `column.formatter` to render **Product Type** with actual display value instead of raw value. ex:

[code]

[2019-09-29 06:39] #1106 closed

[2019-09-29 08:05] AllenFang commented on #1108
@rhmmuh005 I will figure a way to achieve your requirement :)

[2019-09-29 08:49] AllenFang commented on #1095
@williamkmlau I won't fix this issue. In my opinion, you can custom row via `rowClasses` for any cases, but when you want to custom row when it is expanded, you can use `expandRow.parentClassName`

[2019-09-29 08:49] #1095 closed

[2019-09-30 01:18] awitherow commented on #284
@AllenFang

Is it possible to simply do the `object.key` notation within `dataField`??

[2019-09-30 05:01] #1099 closed

[2019-09-30 05:01] #1085 closed

[2019-09-30 05:01] #1104 closed

[2019-09-30 05:08] AllenFang commented on #1099
@jendamozna please upgrade `react-bootstrap-table-next` to newest version so that you can set `tabIndex`.  As default, `tabIndex` is still `0`

[2019-09-30 05:09] AllenFang commented on #1104
Fixed it!! please upgrade  `react-bootstrap-table-next` to newest version

[2019-09-30 05:10] AllenFang commented on #1085
@dailymp please all the packages to newest version. Let me know if the issue still remain, thanks

[2019-09-30 05:10] AllenFang commented on #1098
@jonrandahl  please all the packages to newest version. Let me know if the issue still remain, thanks

[2019-09-30 05:10] #1098 closed

[2019-09-30 05:12] AllenFang commented on #1101
@prsdcse please upgrade `react-bootstrap-table-next` to newest version, default tabIndex is still 0 but you can configure as -1 via [`column.headerAttrs`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnheaderattrs-object-function)

[2019-09-30 05:12] #1101 closed

[2019-09-30 08:00] jendamozna commented on #1099
thanks

[2019-09-30 12:06] dailymp commented on #1085
Hello @AllenFang I have updateted now to "react-bootstrap-table-next": "3.2.1", and the error is gone. Thanks a lot!

[2019-09-30 18:46] avindra opened #1110 "Pinned classnames dependency causes bloat"
Can we add a caret to this dep? https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/package.json#L83

`react-bootstrap-table-next` is the only dependency in the application I'm currently debugging that decides to use its own special version of `classnames`:

[code]

[2019-09-30 18:57] remoroethlisberger commented on #1097
This was very helpful, as wasn't aware of the exposed API... So did what you suggested and it works just fine. Thanks a lot Allen!

[2019-10-01 06:45] devevignesh opened #1111 "Column formatter not formatting Export CSV columns"
**Question**
Hey @AllenFang, I'm formatting a column like below but this is not working in Export CSV column. I'm getting `null` instead of `-` for Progress Date.
[code]
Should I include `csvFormatter` to achive this?
[code]

[2019-10-01 07:29] dwichelo commented on #1104
Thank you.

[2019-10-01 08:50] Michael-sub opened #1112 "[Feature] Define wich columns can expand"
Hello,
In the previous version of the table there was the possibility to choose the mode in which you wanted to expand the table: by row or by column.
[Link to the doc](http://allenfang.github.io/react-bootstrap-table/docs.html#expandBy)

Now we can' t choose which columns do the expand of the table, leading to unwanted behaviour  in some cases (e.g. Dummy columns with buttons where clicking the b

[2019-10-01 20:46] tfcb93 opened #1113 "Input is not calling onClick or onChange when click outside, but still selecting"
I'm trying to use the custom selection to select multiple or all rows elements in my application. I used it as described in [storybook](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel). But I'm having a problem that

[2019-10-02 16:44] fulin426 commented on #1108
I am having the same issue. I would be curious to see the result.

[2019-10-03 12:58] hielfx commented on #763
Sorry to write in a closed issue, but other people like me may be still searching for the answer.
I solved it like follows:

- Using this style as @theoryfarm pointed out:
[code]
- then setting by table like this:
[code]

I hope it helps.

[2019-10-03 15:36] zachwreed opened #1114 "Can I ignore certain characters when filtering a column?"
**Question**
I want to filter a column, but ignore the input of certain characters. I'm looking for something such as:
[code]

Is this doable?
Thanks.

[2019-10-03 19:31] fulin426 commented on #230
@ashwaths0793 I tried this CSS options and it works great for fixed column widths scrolling vertically. I wanted to create a way where I can scroll horizontally as well. Is that possible?

Also it seems that I need table-layout: fixed in order for this work. I'm in a situation where I have 15-20 columns and I want to be able to auto-resize the columns based.

[2019-10-03 20:43] fulin426 commented on #230
https://stackoverflow.com/questions/56040119/table-with-horizontal-and-vertical-scroll-with-fixed-header

It looks like using a sticky header to fix the header to the top worked for me.

th {
  position: sticky:
  top: 0;
}

Then add overflow to the parent div.

[2019-10-03 20:43] fulin426 commented on #409
https://stackoverflow.com/questions/56040119/table-with-horizontal-and-vertical-scroll-with-fixed-header

It looks like using a sticky header to fix the header to the top worked for me.

th {
  position: sticky:
  top: 0;
}

Then add overflow to the parent div.

[2019-10-04 07:41] kammasuresh opened #1115 "dynamically creating bootstrap tables via array loop iteration , passing {data}"
is it possible to do create  dynamically creating  bootstrap tables via array loop iteration , passing {data}, I am not able to see to do make dynamically.. if there any example can you please  send me, it will be helpful for me

[2019-10-04 23:06] Parul-Kudtarkar opened #1116 "How to add linkout to cells of a column"
![Screen Shot 2019-10-04 at 4 04 41 PM](https://user-images.githubusercontent.com/22722805/66245160-d7ca9d00-e6c0-11e9-9e9c-faea2be609c1.png)

For the cells of accession column I would like each cell have  a link-out to an external url

Any tips on how to do this would be helpful.

Thanks!

[2019-10-05 10:44] jimwhurr opened #1117 "How to programatically change the value of a single cell?"
I want my app to change the value of a cell in a row when the row is selected. I've looked at the documentation for a few hours but I can't fathom out if, or how, it can be achieved. Anyone know how it is done please?

[2019-10-05 12:54] brohera opened #1118 "Prop `row` is undefined in Cell when searching from 2nd page using Toolkit & Pagination."
@AllenFang

I can reproduce the bug #495 & #839  in the latest version:
react-bootstrap-table-next@3.2.1
react-bootstrap-table2-toolkit@2.1.0
react-bootstrap-table2-paginator@2.1.0

In addition, I have a related issue.
To reproduce:

1. Create a table that has at least 2 pages.
2. Search for something on the 2nd page which returns some result.

This will give a warning in the console that prop `ro

[2019-10-07 01:37] Ymbere commented on #1117
Maybe a found a solution to your problem.

[![Edit Change table value on select](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/change-table-value-on-select-lzfvo?fontsize=14)

Here is my implementation, the column that you want to change the value on click needs to use the `formatter` , i tried without it but  it does not work
[code]

[code]

[2019-10-07 08:47] mdrahiem commented on #952
@hyvyys If you have any code, can you please paste here? I am unable to get the solution.

Otherwise, @AllenFang can you please provide codesandbox for this solution? Please let me know.

[2019-10-07 09:22] lraghib commented on #285
As @AllenFang  said, this feature doesn't supported yet, but you can do something like this using jquery:

[code]

[2019-10-07 12:05] guldfisk opened #1119 "Toggling edit resets pagination"
When toggling cell edit, the page is reset to 1.
Steps to reproduce:
- Have a table with pagination enabled.
- Go to any page beyond the first.
- Toggle cellEdit.
- Pagination reverts to page 1.

[Code sandbox link](https://codesandbox.io/embed/zealous-agnesi-ro2nq)

[2019-10-07 12:36] guldfisk opened #1120 "Tie editing to row key"
Current behavior:
When a user begins editing a cell, what is being edited is based on the index, so if the table is updated while the user is editing, they are now editing a different cell.

Desired behavior:
The cell being edited should be tied to the key of the row the cell belongs to. So if a cell is inserted or removed on a lower index, the user is still editing the same cell. If the row with

[2019-10-07 13:46] anurag060 commented on #230
@AllenFang is the sticky header available in react-bootstrap-table-next ?

[2019-10-07 15:32] jimwhurr commented on #1117
Thanks a lot, that seems to work :)

[2019-10-07 15:32] #1117 closed

[2019-10-07 19:39] martinsura opened #1121 "column.sortValue not working in remote mode"
**Describe the bug**
Hello,  i need change default sort value send to the server(backend).
I try:
`  column.sortValue { dataField: "id", title: "Id",sortValue:() => "customId"  } `,

After sort is init, client send "id" instead "customId" as sort property.
Is there any workaround, how to change sortProperty in remote mode?

Thanks

[2019-10-08 00:08] Ymbere commented on #1116
Hi, you can use a `formatter` in order to achieve that result.

[code]

[![Edit wonderful-wind-h0yl0](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/wonderful-wind-h0yl0?fontsize=14)

[2019-10-08 12:30] gustavolwalker opened #1122 "How to set a composed keyField"
I have a table with a composed key, how to pass this info to the keyField property?

[2019-10-08 19:29] dashName opened #1123 "I added a custom column with add and minus buttons to every row and I want onClick each + buttons, counter will be updated for that particular row only not every row?"
<img width="83" alt="Screen Shot 2019-10-08 at 11 18 20 AM" src="https://user-images.githubusercontent.com/56317909/66426658-2b8dfc80-e9c7-11e9-8770-85b607f931fb.png">

code:
 const dataFormatter = (cell, row, rowIndex, formatExtraData) => {

            return (
                <div>
                    <div onClick={() => addToCart(rowIndex)}>
                        <img src={plus} style={{back

[2019-10-08 20:11] Parul-Kudtarkar commented on #1116
@Ymbere perfect! Thank you so much, that works!

[2019-10-08 20:11] #1116 closed

[2019-10-09 03:51] Ymbere commented on #1123
Hi, you want that when a `+` button is clicked the counter increase just for that specific row of the button clicked? Is that correct?

[2019-10-09 03:53] dashName commented on #1123
yes

[2019-10-09 03:54] dashName commented on #1123
Yes

[2019-10-09 03:55] Ymbere commented on #1123
Could you provide the code for that component so I can help you more efficiently?

[2019-10-09 03:59] dashName commented on #1123
........
constructor(props) {
        super(props);
        this.state = {
            counter: 0
        };
    }
......
const columns = [{
{
    dataField: '',
    text: 'Qty',
    formatter: dataFormatter,
    formatExtraData: this.state.counter,
    headerStyle: () => {
        return {width: '15%', textAlign: 'center', fontSize: '12px', color: '#7F7F7F'};
    },
}];
.......

const dataFormatt

[2019-10-09 04:06] Ymbere commented on #1123
The problem is in the state, all the rows of the table are receiving the same state variable, so when you update one row the state is the same for all the others.
In order to make each row increase the counter individually, you need to have one counter for each row.

[2019-10-09 04:09] dashName commented on #1123
can we do something with rowIndex?If not how we are gonna have counters for each row?can you please suggest the best way to achieve this?

[2019-10-09 04:16] Ymbere commented on #1123
The items to be displayed in the table are received as props in the component?

[2019-10-09 04:42] dashName commented on #1123
yes

[2019-10-09 05:14] Ymbere commented on #1123
My approach is the following after you receive your table data as props you can iterate through then, this way you add a default counter for each row.

[code]
After that, you can implement the method getCounter and pass it to your `formatExtraData`

[code]

And your `dataFormatter` will look like this

[code]

With that done you need to update your `addToCart` in order to update the counter for th

[2019-10-09 07:19] Stefan-Reimer opened #1124 "noDataIndication: throws a warning when providing an object which is not a string"
The description of the API says:

But if i set `noDataIndication={<div>test</div>}` it will give the warning:

It will still be shown correctly and as far as I understand a div should be included in 'anything' ;-)
So my guess is that the warning has to be removed. Or it is desired that only text is used. Than the API text has to be adjusted.

(PS 'return' in the description should be 'returns')

[2019-10-09 08:11] eyle commented on #1118
Hello,

I confirm this bug , it's really disgusting as an issue since when using formatter to format Data in table , this causes page to crash , you have to type slowly in order to avoid this problem or avoid formatter :( .

Good Luck fixing it and thx for this amazing DataTable 👍  .

[2019-10-09 08:58] hilo2120 commented on #630
Isn't this fixed yet?
I have the same issue.

[2019-10-09 09:56] stcursi opened #1125 "Paginator onSizePerPageChange selection - possible href redirect"
**Describe the bug**
I don't know it was only a my problem but, changing multiple times the paginator sizePerPage i was redirected to my root. I didn't understand the reason why it happened and after some researches I found into the doc that I could decide the <a> part of the paginator size list with every event and I found that as default:

[code]
Maybe declaring only onMouseDown is not always sa

[2019-10-09 10:29] anurag060 commented on #981
any updates regarding this feature? @mathiaswillburger can you please tell me if you have found any useful component

[2019-10-09 11:03] mdrahiem commented on #952
Hi @AllenFang @hyvyys Finally i resolved it. :)

Please find the codesandbox for other peoples' reference.
https://codesandbox.io/s/determined-sky-dggkg

[2019-10-09 11:10] hyvyys commented on #952
@mdrahiem Oh, I've just dusted off that old project and was starting to look into it. I was imprecise stating I *solved* the issue — I avoided it by hardcoding two separate regular filters, I think. Nvm.

[2019-10-09 15:12] dashName commented on #1123
Hey I tried like below but does not seem to work.
....
 this.state = {
            counter: 0,
            tableCounters: []
        };
....

    componentDidUpdate(prevProps, prevState) {
        const tableCounters = [];
        const tableData = this.props.data;
        tableData.forEach(() => {
            tableCounters.push({counter: 0});
        });
        if (this.props.data !== prevProps.

[2019-10-09 23:47] mathiaswillburger commented on #981
I have investigated [react-virtualized](https://bvaughn.github.io/react-virtualized/#/components/Table) which seemed like a very flexible solution. Unfortunately the investment of implementing a lot of custom functionality to have some other features react-bootstrap-table2 provides was not worth to change the table component.

Long story short: I still use react-bootstrap-table2 and hope for an im

[2019-10-10 03:24] Ymbere commented on #1123
Hi @dashName , your state should be like this

[code]

And your `addToCart` method should loop through the array of state counters and then update the state counter for the specific row, the way that you implemented it will do not work because it is setting the state on the "global" counter.

I think this will do the trick

[code]

And the `componentDidUpdate` should be `componentDidMount`

[2019-10-10 03:40] dashName commented on #1123
ComponentDidMount was returning props value as undefined so i used componentDidMount..Thanks a lot for the solution..it works..really appreciate

[2019-10-10 03:45] Ymbere commented on #1123
No problem

[2019-10-10 08:18] senthilmca90 opened #1126 "SearchBar error- Cannot read property 'searchable' of undefined"

[2019-10-11 14:48] bmmpt commented on #964
Any updates on when this functionality would be added? I'd like to be able to render all editable columns in edit mode by default, to spare the users having to click a cell to be able to edit. It also makes it immediately clear which columns can be edited and which are readonly.

Thanks in advance.

[2019-10-11 19:30] bmmpt commented on #194
Should this issue be closed?

[2019-10-11 21:14] nirkrumer opened #1127 "show data in table"
Hey there,
Im new to this component. As first stage im trying to put example string in my table.
For some reason it doesnt show me that.
What do I miss?
Thanks!

![image](https://user-images.githubusercontent.com/38032506/66685412-1e9e3100-ec85-11e9-9ddc-df5aefb63267.png)

![image](https://user-images.githubusercontent.com/38032506/66685426-2958c600-ec85-11e9-8398-e1c12aaa9b04.png)

[2019-10-12 15:05] josh08h commented on #1127
From the `columns` given I'd expect your `data` array to look like the following:

[code]

[2019-10-13 05:29] #1097 closed

[2019-10-13 05:31] AllenFang commented on #1110
It's fixed, I will publish soon, thanks

[2019-10-13 05:33] AllenFang commented on #1111
@devevignesh you should use `csvFormatter` because a lots of developer they custom cell with a complicated jsx, react element, it's impossible to export to CSV(Not make sense)

[2019-10-13 05:33] #1111 closed

[2019-10-13 05:39] AllenFang commented on #1112
Hello, sorry for lately reply and so far I'm not going to implement expand by column feature, because it will lead complex in source code and make few wired bug when combine with row selection. It's the experience in legacy `react-bootstrap-table` I learned and actually, there're no much developer need this feature so far.

Let's close it but if many people ask for this feature, I will consider it

[2019-10-13 05:39] #1112 closed

[2019-10-13 05:55] thelonglqd opened #1129 "Expanded table layout changed after navigating to a specific route then navigating back"
I have a table with with children expanded row (The row with caret is parent row and below it are its children) like the image below:
![table-ordered_censored](https://user-images.githubusercontent.com/13036097/66711547-362a0680-edb8-11e9-9ef1-45abb74d229a.jpg)

In this image, the dots (regardless green or red) of parent rows and children rows are in ordered. But, after navigating to a specific ro

[2019-10-13 06:02] AllenFang commented on #1113
@tfcb93 firstly sorry for lately reply, I'm wondering where you put your console log?

Let me explain selection behavior:

1. No matter user click on checkbox or selection column which must trigger selection event, even `clickToSelect` is false
2. for custom selection case, so far we allow developer to custom the checkbox/radio button instead of whole `td` cell and actually, the on click event is

[2019-10-13 06:04] AllenFang commented on #1114
@zachwreed you can use [column.filterValue](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnfiltervalue-function), this value will be replaced when filtering specified column.

[2019-10-13 06:08] AllenFang commented on #1114
@zachwreed seems I misunderstand you question, you mean you want to replace the filter value instead of cell value, right?  If true, unfortunately you can't.

[2019-10-13 06:11] AllenFang commented on #1115
Sure you can.

[2019-10-13 06:11] #1115 closed

[2019-10-13 06:13] AllenFang commented on #1118
Sorry for lately reply, i will check this out, thanks you guy's support !!

[2019-10-13 06:34] AllenFang commented on #1118
@eyle  @brohera You have to render `PaginationProvider` as child of `ToolkitProvider`  then you will fix this issue:

[code]

sorry about this issue, I will mention this tricky part in official docs.

Let me know if you guys still have questions, thanks

[2019-10-13 06:34] #1118 closed

[2019-10-13 06:52] AllenFang commented on #1119
because lost prev state after re-render.  In your case, I will suggest you to manage pagination:

You can use [`onSizePerPageChange`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationonsizeperpagechange-function) and [`onPageChange`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationonpagechange-fu

[2019-10-13 06:53] AllenFang commented on #1120
it's minor for me, PR is welcome, thanks

[2019-10-13 06:53] #1120 closed

[2019-10-13 06:58] AllenFang commented on #1121
@martinsura when you using the remote mode, which mean you have to handle the logic of sorting.  `sortValue` is only work in non-remote mode because sorting is occur in table internally.

BTW, the sortValue is not mean the `dataField`, it means the actual value when sorting happing

for ex:

your data is

[code]

When sorting on `id` field, you can change the actual sort value via `sortValue` and

[2019-10-13 06:58] #1121 closed

[2019-10-13 07:07] AllenFang commented on #1122
@gustavolwalker no way so far, I will suggest to map you data to generate a key before you put them into table, thanks

[2019-10-13 07:07] #1122 closed

[2019-10-13 07:09] AllenFang commented on #1124
@Stefan-Reimer I will fix this, thanks :)

[2019-10-13 07:16] AllenFang commented on #1125
@stcursi thanks for sharing, I can reproduce this on my end, it's wired issue and I hear it first time. Let's keep watch and if there're many issue like this, I will start to figure the root cause.

[2019-10-13 07:16] #1125 closed

[2019-10-13 11:29] nirkrumer commented on #1127
Hey, Thanks for the quick reply. It worked :)

Now I wanted to ask:
Let's say I want to put image as a cell value (and not string).
For example, if the value of status == 'Completed' , the user will see green mark and so on.

[2019-10-13 13:32] josh08h commented on #1127
I suggest you look here https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel at column formatters

[2019-10-13 15:33] nirkrumer commented on #1127
Great, looks good.
I'll dive into that.

Thx!

On Sun, Oct 13, 2019 at 4:32 PM Josh Hale <notifications@github.com> wrote:

[2019-10-13 22:39] ddouglas opened #1130 "Hiding/Omitting Header Row"
**Question**
I scoured the documentation and could not find what I was looking for, but I do apologize if I missed it.

I have a few scenarios where I need a table to display data but it is not necessary to display a header because the information that is being displayed is blatantly obvious.

So, is there a way to hide the header row and just display the data?

**Screenshots**
N/A
**codesandbox**

[2019-10-14 08:22] #1126 closed

[2019-10-14 08:59] josh08h commented on #1127
@AllenFang This can be closed.

[2019-10-14 15:53] Ymbere commented on #1130
Hi, in the columns that you want the header to be hiding you can use the `header Classes`, with that you can use a custom CSS to omit the header.

[![Edit quizzical-grass-0o3dy](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/quizzical-grass-0o3dy?fontsize=14)

[2019-10-14 16:14] Ymbere commented on #1130
After some research, I found another approach that may be slightly better, it did not require any custom CSS.

In the column that you want the header to be hidden just use this property.

[code]

[2019-10-14 17:17] ddouglas commented on #1130
You my friend are a saint. I am not in a position to test this right now, but i will post as soon as I can.

Did I miss this in the documentation some where?

[2019-10-14 17:28] Ymbere commented on #1130
I don't think that you missed, actually is not like explicit that you can hide the header.
I checked for the `column.headerAttrs` in the documentation and after that, I looked for wich Attrs it accepts.

Here is the link for the documentation page where I found it, in case you want to check

[column.headerAttrs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#

[2019-10-14 18:00] avindra commented on #1110
Thanks @AllenFang  I just noticed there is already an issue for this https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1110

so I'm closing this issue.

[2019-10-14 18:00] #1110 closed

[2019-10-15 15:57] chazarabriseis opened #1131 "Triggering formatting of cell when clicked"
Question
I hope I did not miss docuemntation or another issue but I cannot find something on dynamically changing tables prompted by user interaction.

One of my columns is a color. I want to allow the user to change the color by clicking on it which should lead to a color picker opening that allows the user to select a new color for thi srow. I am runnning in the problem that the formatter is onl

[2019-10-16 00:00] dashName commented on #1123
On above context:

 <div contentEditable='true' suppressContentEditableWarning={true} id='text-val'> {formatExtraData(rowIndex)} </div>

Currently it takes {formatExtraData(rowIndex)}  data as the value but I want to support userInput as well , i.e make the div editable so is it possible to support both features?

I tried with cell property but it is undefined

[2019-10-16 01:09] tfcb93 commented on #1113
Hi, @AllenFang Thanks for the answer and sorry to only replying to it now.
I mostly copied the example done in the storybook.
[code]
And added it to the BootstrapTable tag:
[code]
I hope this can helps you.

P.S.: I had to add `onChange={()=>{}}` because React creates a warning if I do it without an onChange method.

[2019-10-17 06:58] josh08h opened #1132 "Clear search text programatically"
**Is this feature requested before?**
No

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
To be able to clear the search text programatically.

**Describe alternatives you've considered**
The alternative is to use the clear search button. This doesn't really fit my use case.

**Additional context**
Ideally I'd like to be able to clear the

[2019-10-17 09:46] JEEVANJGA commented on #1126
Hi got following error on using the search feature.

Need pointers on how to fix this.

![image](https://user-images.githubusercontent.com/8213715/66997959-0305b100-f0f1-11e9-818c-45b183d278c0.png)

[2019-10-18 10:09] JEEVANJGA commented on #1126
@senthilmca90 , you raised this issue right?
Could you please share information on this if you have found any fix.

[2019-10-18 10:27] senthilmca90 commented on #1126
@JEEVANJGA first `stop` the server. then try to clear the cache use the below comment comment

`npm cache verify`

you upgrade all versions.

[code]
then start your server.  If you want clear idea you follow this storybook [ example link](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Basic%20Search%20Table&full=0&addon

[2019-10-18 14:57] avindra commented on #1082
`formatter` is meant to change the output the data.

It seems un-intuitive to me that it also mangles the actual internal data that is being passed around in the library.

As a user, I would expect that `formatter` doesnt mangle my data. Why should I have to add another `sortValue`? This solution seems unintuitive, and it does not scale. If I have to add `sortValue` to any sortable column that has

[2019-10-18 16:59] Ymbere commented on #1123
Hi, you can change the div that contains the number to a input so you can attach `onChange` method to it and support user input.

[code]

[2019-10-18 17:12] dashName commented on #1123
I tried the same thing before but it won't update the value at all

[2019-10-18 17:21] Ymbere commented on #1123
@dashName, you can send your custom `onChange` method, so I can see if is there any problem?

[2019-10-18 17:23] dashName commented on #1123
const handleChange = (e) => {
            console.log(e.currentTarget.value,row)
            this.setState(prevState => ({
                tableCounters: prevState.tableCounters.map((item, index) => {
                        return { counter: e.currentTarget.value };
                })
            }));

        };
it is updating the value

[2019-10-18 17:41] Ymbere commented on #1123
Your `onChange` method is not actually changing the counter for a specific row, you need to pass along with the event the row index that you want to change the counter.

Like this

[code]

Your `onChange` method will look like this

[code]

[2019-10-18 21:30] dashName commented on #1123
yes you are right.Thanks

[2019-10-19 02:31] Ymbere commented on #1123
Hi @dashName, it worked properly?

[2019-10-19 03:18] ddouglas commented on #1130
Sorry this took so long to config. Work was hectic this week and I haven't been able to work the project that I created this issue for. I have confirmed that this is working. Thank You so much @Ymbere

[2019-10-19 03:18] #1130 closed

[2019-10-19 11:20] jhhr opened #1133 "Make sorting trigger only on the sort caret when using custom header with other clickable elements"
**Problem**
When sorting is enabled on a column, clicking anywhere within the header element triggers sorting. If the header contains clickable elements like buttons or checkboxes, clicking these also triggers sorting.

**codesandbox**
https://codesandbox.io/s/brave-mccarthy-e4oed

This behaviour seems unintended when the headerFormatter is meant for adding pretty much anything into the header, in

[2019-10-21 11:49] AllenFang commented on #1113
@tfcb93 I see. It's meet my expectation. Like I said above

because you add `onClick` event on `input` instead of `td` which means if user clicking on outside of checkbox, your `onClick` event callback will not be called. but the reason of selection still work is actually we bind a `onClick` event on `td` element.

In you case, if you want know some row is select or not, I will suggest you to use

[2019-10-21 11:49] #1113 closed

[2019-10-21 11:51] AllenFang commented on #1127
HI guys sorry for lately reply.  Thanks @josh08h, your answer is perfect :)

[2019-10-21 11:51] #1127 closed

[2019-10-21 11:53] AllenFang commented on #1129
@thelonglqd I don't have too much idea about this issue. But I guess it's not related to `react-bootstrap-table`. Let close it first until I got enough cases.

[2019-10-21 11:53] #1129 closed

[2019-10-21 12:17] AllenFang commented on #1131
@chazarabriseis sorry for lately reply,
I can't read your code, it's too massive, if ok please put an example on codesandbox and keep it simple and minimal so that I can reproduce your issue.

However, I can't read your code but I guess you faced a issue is "you mutate the state after user clicking on the colorpicker"

Please keep your state immutable you might can avoid this bug.

Let me know if

[2019-10-21 12:17] #1131 closed

[2019-10-21 12:19] AllenFang commented on #1132
@josh08h I have few questions about this requirement:

1. if I exposed an API to you to clear text, is it ok for you
2. when text being clear,  I think we should trigger a search(reset) on table, did you agree it?

[2019-10-21 16:15] josh08h commented on #1132
1) I guess the API (following React conventions) would be allowing the user to provide their own search text down to the child component?

2) Yes, if the search text is cleared then the results shown on the table should be reset

Is this a good beginner issue to tackle?

[2019-10-21 16:49] dashName commented on #1123
seems to be working perfectly.Thanks

[2019-10-21 18:23] tfcb93 commented on #1113
Thanks a lot! This works perfectly for me!

[2019-10-22 20:51] nirkrumer opened #1134 "Add / Delete Rows"
Hey,
I want my table component to have add row / delete rows options.
Does the component have these methods.

My goal is that finally I would be able to change my DB according to the changes in the table (insert/ delete/ update {that's by cell editing} )

Thanks,
Nir

[2019-10-24 00:24] dashName commented on #1123
@Ymbere I see that onChange value doesn't update in formatExtraData.

[2019-10-24 07:37] futurify-ydang commented on #384
Any news on this?

[2019-10-24 13:57] mdeeter opened #1135 "Set custom class on disabled/non-selectable rows (for selectRow)"
I've looked through the API and cannot find a way to set a class (or style) on the rows that are non-selectable.

I'd like to grey out the text on those rows.

[2019-10-24 16:37] Ymbere commented on #1123
Hi, I didn't understand, can you explain in more details?

[2019-10-24 17:04] dashName commented on #1123
so in the below logic: handleChange = (rowIndex, e) => {
    this.setState(prevState => ({
      tableCounters: prevState.tableCounters.map((item, index) => {
        if (index === rowIndex) {
          return { counter: e.currentTarget.value };
        }
        return item;
      })
    }));
  };

the tableCounters should update to user input as well as formatExtraData(rowIndex) right..but it do

[2019-10-24 17:16] Ymbere commented on #1123
I think you are missing the `e` on the `formatExtraData`, it should be

[code]

[2019-10-24 17:23] dashName commented on #1123
I think it seems to be working.I actually added defaultValue={formatExtraData(rowIndex)} to avoid the warning:Input elements should not switch from uncontrolled to controlled thats why the value was not updating.

[2019-10-24 17:46] Ymbere commented on #1123
You add a default value to the `input` tag?

[2019-10-25 19:30] dashName commented on #1123
yes

[2019-10-25 19:30] #1123 closed

[2019-10-26 05:50] AllenFang commented on #1132
yes, just a react exposed api to achieve it.

I think it's an easy feature to implement, I will fix it soon, thank you

[2019-10-26 05:59] AllenFang commented on #1132
hello, the exposed API I mentioned is like:
[code]

You can try above use case, it's implemented in any version. is it a solution for you?

[2019-10-26 06:12] AllenFang commented on #1133
@jhhr you can just call `e.stopPropagation();` to avoid sorting happen when clicking on your custom button.

[2019-10-26 06:12] #1133 closed

[2019-10-26 07:50] AllenFang commented on #1108
hey guys, try to add `exportAll: false` you may fix this issue.

[2019-10-26 07:50] #1108 closed

[2019-10-26 15:00] josh08h commented on #1132
That would work, yes. Thanks

[2019-10-26 20:20] ddouglas commented on #226
I have no doubt that all of these solutions work flawlessly, however I am hiding the header row:
[code]

 and due to this none of the proposed solutions are working. I can even see the classes being applied using Chrome Dev Tools. The issue, for me, is the default style applied to the wrapper class:

[code]

Using dev tools, if I remove that class, the table width adopts the values of the width pa

[2019-10-26 22:55] Ymbere commented on #1135
Hi, @mdeeter.
Looks like It really doesn't have an API to set the non-selectable rows a custom class, but you can make a workaround using the `rowClasses` property.

## Example
[![Edit Custom color for disabled rows](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/change-table-value-on-select-fork-noio6?fontsize=14)

[2019-10-27 07:50] nirkrumer commented on #1134
Hey guys,
Any ideas,
Thx

[2019-10-27 18:58] Ymbere commented on #1134
Hi, how exactly you want to delete the rows?
Do you want to select one row and then press a button to delete that row? Or you thinking on another way to do that?

[2019-10-28 07:06] nirkrumer commented on #1134
Basically yes
Select one row or several rows with boolean field and the hit delete button

בתאריך יום א׳, 27 באוק׳ 2019, 20:58, מאת Ymberê Xavier ‏<
notifications@github.com>:

[2019-10-29 11:07] jonrandahl commented on #1098
@AllenFang apologies for my late reply but I wanted to let you know we're still experiencing this issue in the latest version.

Please DM me and I am happy to show you the video of this occurring, however you can see the error in the screenshot in the original ticket.

Cheers,
J

[2019-10-29 11:37] subhamchatterjee opened #1137 "Remote Panigation not working"
Remote pagination is not working as _onPageChange_ function is not allowing setState, to update the page. Please provide a solution or a way out of this problem.

`<BootstrapTable data={this.state.results} columns={columns} pagination={paginationFactory({page: this.state.page, sizePerPage: this.state.sizePerPage, totalSize: this.state.totalSize, onPageChange: this.onPageChange, onSizePerPageChange

[2019-10-30 11:59] tcboles commented on #617
Can we revisit this? I was excited when I saw the image on the homepage, but disappointed that it is not a feature.

[2019-10-30 22:01] awitherow commented on #226
is this going to be done (been about a year now) or just hacked?

[2019-10-31 09:30] nirkrumer commented on #1134
Hey,
So what do u think
Is there a way to add rows to the table?

[2019-10-31 19:49] chazarabriseis commented on #859
Having the same problem. A change of states does not rerender the table.

[2019-10-31 19:58] chazarabriseis commented on #1131
@AllenFang unfirtunately I still have the same problem. Issue  #859 seems to be the same. The codebox mvandergrift added after the issue was already closed summarises my problem as well.
I hope you can better understand the problem now. Whe is no rerender triggered when the state changes? Or how can I make sure a rerender of the table happens?

https://codesandbox.io/s/zkn05nxpvl

[2019-11-02 15:35] Uznick commented on #799
@python273 did you manage so sort this issue out, or maybe found a decent workaround?

[2019-11-02 18:25] UbaidRajputt opened #1140 "Filter won't work with search bar or even without that using toolkit provider"
I can't use filter when using toolkit provider, i tried removing it but it won't still work, can anybody please help me regarding this

import React, { Component } from 'react';
import BootstrapTable from "react-bootstrap-table-next";
import paginationFactory, { PaginationProvider } from "react-bootstrap-table2-paginator";
import ToolkitProvider, { Search } from "react-bootstrap-table2-toolkit";
i

[2019-11-02 19:09] python273 commented on #799
@Uznick there's hacky solution in:
https://stackblitz.com/edit/react-circw1?file=index.js

In `componentDidMount`, you need to comment
`this.handleTableChange('init', {});`
and uncomment
`setTimeout(() => this.handleTableChange('init', {}), 1)`

I ended up making my own table component, since I needed only simple features

[2019-11-03 16:49] joemastersemison opened #1141 "When filtering a table, pagination doesn't update"
**Describe the bug**
When I have an array of tables on a page and using the filters, the filters work, but the number of rows is not properly updated in the pagination. Because the new number of rows is less than the old, when you use the pagination interactions to move to the end of the list, you see empty (and for numbers, `NaN`) values in the rows. Interestingly, sorts (by clicking on a column

[2019-11-04 09:41] rdsuncn opened #1142 "how to disable the frame when click the th cell"
**Question**
There is a deep frame when click the header of table。How to make it invisible?

**Screenshots**
![image](https://user-images.githubusercontent.com/30366045/68111396-0048ef80-ff2a-11e9-8c49-0cee3dcb0364.png)

[2019-11-04 10:12] Uznick commented on #799
@python273 thank you :)

[2019-11-04 15:28] thimo1 opened #1143 "Custom filter component or multiselect filter as dropdown"
Is it possible to add a custom filter component like react-select2 or to style multi-select filter as single select with checkboxes?

[2019-11-04 16:40] thimo1 commented on #1142
You can easily disable it with CSS

`
th:focus {
    outline: 0;
}
`

[2019-11-04 21:05] sgavathe commented on #943
Pagination Filter Export all in one

`<div className="container" style={{ marginTop: 50 }}>
            <PaginationProvider
              pagination={paginationFactory({
              custom: true,
              totalSize: features.length,
              page: 1,
              sizePerPage: 10,
              sizePerPageList: [
              {
                text: "10",
                value: 10

[2019-11-05 09:43] stilllife00 commented on #87
@fuchsberger I am confused, that example is about filtering not sorting, right?

@AllenFang Any plans for this feature?

[2019-11-05 13:04] chazarabriseis commented on #1131
Hi @AllenFang,

I am attaching my problem in this codesandbox:
https://codesandbox.io/s/table-color-rerendering-problem-v1ysb

I am changing the state of the color in the color column with the color picker, however this is not reflected in the color column.

Please let me know if there is still something unclear.

[2019-11-05 22:30] #1143 closed

[2019-11-05 22:30] thimo1 commented on #1143
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Advance%20Custom%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-11-06 08:09] stilllife00 opened #1144 "global custom sortCaret"
**Is this feature requested before?**
There was this PR but it got closed https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/407

**Is your feature request related to a problem? Please describe.**
The `sortCaret` is customizable on a per-column basis while generally we need an unique customization of the caret for all our tables and columns

**Describe the solution you'd like**
W

[2019-11-06 08:51] stilllife00 opened #1145 "First click to sort is 'desc' instead of 'asc'"
**Describe the bug**
When clicking on a sortable column, the first default sorting order is "desc" which seems quite counterintuitive if you think that sorting generally means "sort alphabetically" and so sort A -> Z which is "asc" and not "desc"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any sortable table
2. Click on the header of a sortable column
3. The column is sorted Z -> A

[2019-11-06 08:58] stilllife00 commented on #1145
Never mind I found the setting: `defaultSortDirection`

[2019-11-06 08:58] #1145 closed

[2019-11-06 14:27] clarkbrent opened #1146 "Add class to expanded column"
When I went through the documentation, I did not see any props that allowed classes to be directly assigned to the `showExpandColumn` header column. By default it has no ID or classes assigned to it which makes adding styling to it somewhat difficult out of the box. This can be seen on a [few of the expanded row storybooks](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/i

[2019-11-07 03:01] sailor95 commented on #578
I faced the same error in the browser, and I found that the `overlay` functionalities works when the `noDataIndication` prop is provided.
So what I did was to provide a blank `noDataIndication`, then I can use the `overlay` with no error.

[2019-11-07 22:39] sridhar-v9 opened #1148 "Changing the entire column content color on Header column click event"
Hi Team,

   I would like to change the entire column content color when ever the user clicks on respective  column header.

 if we can achieve with headerEvents then how i can trigger entire table to render

  Please suggest/show me the direction to achieve the above requirement.

Thanks in advance.

Regards,
Sridhar.V

[2019-11-08 01:55] heyjaypray commented on #1140
I'm also having an issue with the search bar.  when I type something in nothing is filtered.  The table doesn't change at all.

[code]

[code]

[2019-11-08 04:35] 2xSamurai commented on #1046
Can you please tell me how you handled this.
I am also facing a similar issue.
I have a delete button action in all the rows.

I am not sure how to solve the following issue. I have been banging my head for a few days now.

If I have 2 pages. And I am currently on the last page. It has only one row(entry). I delete that entry.
How do I re-render the table so that the first page(previous page) gets

[2019-11-09 05:48] AllenFang commented on #1131
@chazarabriseis

You mutate the state directly, try below
[code]

[2019-11-09 06:13] #1132 closed

[2019-11-09 06:16] AllenFang commented on #1134
@nirkrumer so far we don't support add/delete row feature, but I think you can still implement a add button and adding new data to table. So it's not very necessary to support a native features for adding/delete.

Actually, in legacy `react-bootstrap-table`, we have these features but so far I don't have too much time to implement, so it's still minor features for me.  Anyway, PR is welcome, thank

[2019-11-09 06:16] #1134 closed

[2019-11-09 07:01] #1005 closed

[2019-11-09 07:01] #1124 closed

[2019-11-09 07:06] AllenFang commented on #1005
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/11/09/version-bump.html)

Now you can apply `filterPosition` on `BootstrapTable` -> https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#filterposition-string

[2019-11-09 07:08] AllenFang commented on #1124
fixed in newest version -> https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/11/09/version-bump.html

[2019-11-09 07:27] AllenFang commented on #1140
here, I can't reproduce this issue and I don't know what version you are using currectly. So please give me a simple and minimal example on codesandbox so that I can help you. thanks

[2019-11-09 07:27] #1140 closed

[2019-11-09 07:29] AllenFang commented on #1137
@subhamchatterjee hello, sorry for lately reply, if you enable remote, please update state in `onTableChange`

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-remote.html#table-data-change

[2019-11-09 07:29] #1137 closed

[2019-11-09 07:30] AllenFang commented on #1142
@thimo1  perfect answer.

[2019-11-09 07:30] #1142 closed

[2019-11-09 07:40] AllenFang commented on #1144
hello @stilllife00 thanks for this suggestion, would you please give me some example to describe how will you like to custom the sort, it will also be better to show me which part of DOM you feel is not good on customization, I want to consider more and know the root cause of bad customization on sorting.  Because so far I still feel `sortCaret` can solve at least 90% sort customization but anyway

[2019-11-09 07:54] chazarabriseis commented on #1131
@AllenFang thanks so much. I thought using the spread operator and setState does the trick to change it in an immutable way, at least that's what I read when searching for it. But it seems it is different for nested states. Good to know! Sorry for bothering you and thanks a lot! Keep up the good work!

[2019-11-09 08:17] AllenFang commented on #1141
hi @joemastersemison boss, would you please give me an online example to reproduce your issue?  please keep it simple and minimal. That will be great for me to reproduce your code and understand the overall situation, thanks!

[2019-11-09 09:06] nordicbondpricing commented on #1005
Tanks a bunch @aliogaili  and @AllenFang. Much appreciated!

[2019-11-09 09:50] elmoro666 opened #1157 "New filterPosition prop causes react "unique key" error in console"
**Describe the bug**
When the newly introduced filterPosition prop is set to "top", I get the "Each child in a list should have a unique key prop",  in the console. I haven't tested with "bottom", but it is probably the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Just set filterPosition to "top" and check console

**Screenshots**
![image](https://user-images.githubusercontent.com/1

[2019-11-09 10:47] nirkrumer commented on #1134
Hey Allen,
when you say in legacy react-bootstrap-table, we have these features what
do you mean?
Have a link for an example for me to see?

Thanks

On Sat, Nov 9, 2019 at 8:16 AM Allen <notifications@github.com> wrote:

--

Nir Krumer

Business Applications Manager

*E-Mail: *nir.krumer@naturalint.com <eddie.oz@naturalint.com>

*Mobile*: +972 (0)50-8248181

[2019-11-11 12:25] nirkrumer opened #1158 "csv / search configurations"
Hey,
Can you explain me what do I need to configure under { ...props.csvProps }
,or in:  <SearchBar { ...props.searchProps } /> and so on

![image](https://user-images.githubusercontent.com/38032506/68587096-e6119300-048e-11ea-8c78-500df013635d.png).

Can you show me an example? I don't understand which values I need to put

Thanks,
Nir

[2019-11-11 12:35] nirkrumer opened #1159 "React Table mobile view"
I try to see the table on mobile view.
I see it wrong..
![image](https://user-images.githubusercontent.com/38032506/68587626-2cb3bd00-0490-11ea-939b-a4ba6f5344bc.png)

Is there any configuration to set this up for adjusted mobile version?

Thanks,
Nir
![mobile_view](https://user-images.githubusercontent.com/38032506/68587738-71d7ef00-0490-11ea-994b-cd1ef915f47d.PNG

[2019-11-11 14:11] nirkrumer opened #1160 "Column width"
Hey,
Is there a way for me to control the table columns width?
I tried in css file:
table-layout: fixed / auto;
  width: 50px / 50% ;

nothing works
Can you assist?

Thx

[2019-11-11 18:47] niyaza3 opened #1161 "Issues with dynamically added row events"
I initialised the bootsrap table with 2 rows and added the 3rd and 4th row dynamically with custom action

`
const data = [{name: 'test', id:1}, {name: 'test2', id:2}]
const columns =  [
 {
            dataField: '',
            text: '',
            sort: false,
            formatter: function (value, row) {
                return (
                    <span className="btn-row-remove">

[2019-11-11 21:58] rohit8080 opened #1162 "Dynamic checkbox"
I want to show a check box, like my api is returning array of objects, which have boolen values, I want to show the checkbox is checked when the value is true, and uncheck for false.

I tried to implement it with the formattor at column level for the above  scenario as below
{
   dataField: "IsBikeShelterAvailable",
   text: "Bike Shelter",
   formatter: (value) => {
   (value === true) ?
     ret

[2019-11-12 08:52] cj4luv commented on #1119
troble shooting code

[code]

[2019-11-12 15:47] Guiw5 commented on #226
@AllenFang @YannisMarios
I think it should be closed as it's solved by an alternative way to do it.
...as we said "it's not an issue is a feature"

[2019-11-12 15:52] ddouglas commented on #226
Add the bootstrap4 property and the header overrides I meant above take effect.

[2019-11-13 06:17] hsluoyz commented on #600
This issue is still not fixed in latest 3.3.0. Any solution?

[2019-11-13 08:13] hsluoyz commented on #561
Any update?

[2019-11-13 12:42] AllenFang commented on #1146
Hello @clarkbrent sorry for lately reply, I think I will give a classname on the `td` element so that you can custom it. It's just a quick solution, if I have time, I will implement a props way for customizing the style/class,

[2019-11-13 12:49] AllenFang commented on #1148
@sridhar-v9

[code]

[2019-11-13 12:49] #1148 closed

[2019-11-13 12:51] AllenFang commented on #1157
@elmoro666 I will fix it in next version, thanks for issue report

[2019-11-13 12:57] AllenFang commented on #1158
@nirkrumer you have to pass `csvProps` to exportcsv button and same way for bootstraptable component.

in you screenshot, it's necessary action that you have to do. the reason is `ToolkitProvider` is a context which allow developer easy to customize the component like export csv button, search input etc.

So in most simple case (without customization), you can just ignore the contents of these pro

[2019-11-13 12:57] #1158 closed

[2019-11-13 12:58] AllenFang commented on #1159
so far we don't have better responsive solution. I have some idea but need time lol . I think the only way is try to add the some styles or class to make the cell content change line or truncate etc.

[2019-11-13 12:58] #1159 closed

[2019-11-13 22:53] dashName commented on #1123
let say i want to reset the value of formatExtraData to 0 when add to cart is clicked so how can we do that?

[2019-11-14 07:29] justinjamesp1988 commented on #519
Dropdown not keyboard accessible ?

[2019-11-14 07:31] justinjamesp1988 commented on #236
standalone dropdown not keyboard accessible ?

[2019-11-14 07:34] justinjamesp1988 opened #1163 "SizePerPageDropdownStandalone not keyboard accessible"
I am not able to select the result per page drop down using the keyboard, and noticed the tab index is -1, have updated the tab index. but still not able to select.

[2019-11-14 15:43] rizwan-ishtiaq commented on #836
I am still facing same problem. i am using following
    "react-bootstrap-table-next": "^3.2.1",
    "react-bootstrap-table2-paginator": "^2.1.0",
    "react-bootstrap-table2-toolkit": "^2.1.0",

[2019-11-14 15:50] rizwan-ishtiaq commented on #836
I have also tried following combination but bug still persists
react-bootstrap-table-next@3.0.1
react-bootstrap-table2-paginator@2.0.4
react-bootstrap-table2-toolkit@1.3.2

[2019-11-14 16:38] nirkrumer commented on #1158
I'm trying to understand what is missing.
i see the button but it doesnot do nothing

![image](https://user-images.githubusercontent.com/38032506/68876992-026f3300-070e-11ea-903a-73b57885daac.png)

[2019-11-14 20:29] clburlew opened #1164 "Change data in expanded row per row"
How do you add different content to each row using expandRow in react-bootstrap-table-2? I have found examples for react-bootstrap-table, but none for react-bootstrap-table-2 and what I am trying isn't working.
This is were I found the react-bootstrap-table examples.
http://allenfang.github.io/react-bootstrap-table/example.html#expand
I think that I am trying to do the equivalent of what the expan

[2019-11-14 20:34] dotjrt commented on #1160
See [226](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/226). Use `headerStyle` in your column definitions like this:
[code]

[2019-11-15 02:35] clburlew commented on #1164
I was able to do it in expandRow.

[2019-11-15 02:35] #1164 closed

[2019-11-15 12:41] Popov85 opened #1165 "Nested data and select filter: I want "logical" value to be a number and a "display" value to be a string? Possible?"
Is it possible to distinguish between "logical" and "display" value for a nested column? Sorry but I didn't find any mentioning of it in the [docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html)
Say, I have
[code]
Where getPositions return a map like this:
[code]

If I put

, I am forced to use names as map key, hence getPositions should return:
[code]

If I

[2019-11-15 20:10] Metroxe commented on #384
Hi there, just wondering if there was any update on the push of types to `DefinitelyTyped`.

[2019-11-15 20:59] MacroPower commented on #384
I have a personal repo that I use for my types, https://github.com/MacroPower/PossiblyTyped

I put @cancerberoSgx 's code there and have been adding a bit here and there. Don't mean to credit steal or anything, if he wants to make a repo of his own and admin all this, more than OK with me.

The issue here is that the types are not comprehensive and they also need to conform to DefinitelyTyped guid

[2019-11-16 05:38] AllenFang commented on #1160
Thanks @dotjrt 👍

[2019-11-16 05:38] #1160 closed

[2019-11-16 05:40] AllenFang commented on #1161
@niyaza3 would you please put your example code to codesandbox? that will be easy for me to reproduce the issue you faced.  thanks

[2019-11-16 05:40] #1161 closed

[2019-11-16 05:42] AllenFang commented on #1134
@nirkrumer https://allenfang.github.io/react-bootstrap-table/

I highly suggest you don't use this legacy package lol

[2019-11-16 05:48] AllenFang commented on #1162
@rohit8080 `afterSaveCell` only work if you enable cell editing. I didn't know if you enable it or not. but ket me guess you didn't. In you case you can just disable cell editing but just add `onClick` or `onChange` handler to your checkbox component and handle the changes. It's quite simple solution

[2019-11-16 05:48] #1162 closed

[2019-11-16 05:48] AllenFang commented on #1163
I will enhance this, thanks

[2019-11-16 06:28] AllenFang commented on #1163
@justinjamesp1988 I can press `tab` key to navigate to size per page dropdown, any idea?

[2019-11-16 06:56] #1146 closed

[2019-11-16 06:56] #1157 closed

[2019-11-16 07:02] AllenFang commented on #1135
@mdeeter we have this enhancement in newest release -> https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/11/16/version-bump.html

you can just learn how to custom the non-selectable row via [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Not%20Selectabled%20Rows%20Style&full=0&addons=1&stor

[2019-11-16 07:02] #1135 closed

[2019-11-16 07:02] AllenFang commented on #1157
fixed in `react-bootstrap-table-next@3.3.1`

[2019-11-16 07:03] AllenFang commented on #1146
fixed in `react-bootstrap-table-next@3.3.1`

upgrade to newest version and there will be some default class :)

[2019-11-16 11:02] Popov85 commented on #459
Problem still remains on:
[code]

[2019-11-16 11:45] nirkrumer opened #1167 "table Search and export to csv"
Hey , I'm trying to configure the elements under ToolKitProvider.
I see the elements in the page, but nothing happens. What is missing??
I attach also my code. (I write in typescript - .tsx file)

![image](https://user-images.githubusercontent.com/38032506/68992635-a4aa2a80-0876-11ea-9e60-85f963151b62.png)

[toolkitprovider.txt](https://github.com/react-bootstrap-table/react-bootstrap-table2/files

[2019-11-16 11:46] nirkrumer commented on #1167
By the way, I tried the native component and also the customized way
Same results

[2019-11-16 12:10] rizwan-ishtiaq opened #1168 "Column toggle hidden column expanded row colspan incorrect"
**Describe the bug**
When click on row to expend, new expended row have wrong colspan. Colspan of new row will not consider columns hidden by default (column toggle)

**To Reproduce**
open codesandbox https://codesandbox.io/s/rough-sound-q2bcb
1. click on Address button (on top) to show the hidden address column
2. Click on any row to open expended row
3. Observe the expended row div (which have b

[2019-11-16 22:11] elmoro666 commented on #1157
Thanks Allen!

[2019-11-16 22:14] elmoro666 opened #1169 "filterPosition property does not work with rowSelect"
**Describe the bug**
When filterPosition is set to 'top', and rowSelect is enabled, it places the filterboxes in the wrong columns. Codesandbox should make it fairly easy to spot the problem. Just toggle the buttons on top

**codesandbox**
https://codesandbox.io/s/react-bootstrap-filterposition-pnfxn

[2019-11-17 23:49] ahadortiz opened #1170 "Is there a way to add transition (fade effect) ?"
**Question**
I want to show the fade-in effect when a new row is added.
Is there a way to add reac-transtion-group?

[2019-11-18 08:15] stilllife00 commented on #1144
Sorry I didn't have time to prepare a codesandbox. sortCaret works but it must be specified for every table and every column we have. Imagine a project with 10 tables and 5 columns each, it means 50 rows of code used just to to include the custom caret. Caret are generally global props of a project so configured only once.

I can do the config in a common Table component with custom settings but i

[2019-11-18 15:35] chazarabriseis opened #1171 "Saving filter and pagination values"
I am changing between a table and a show something tab. I want the table to rember the page I was on and the filter terms I put it. However every time I come back from show the table rerenders and I do not know how to save this information/values and to pass it on dynamically. Or perhaps how to surpress a rerender. I tried to find a similar issue but could not find an answer.

I am adding a codebo

[2019-11-18 15:45] Popov85 commented on #360
Bug still remains.. it's a pity such a good option((

[2019-11-18 16:08] Popov85 commented on #1165
OK, I got it working.
Here is the how:
[code]
Here I maintain multiple formats for the same data to feed it to the table: actual, for filter and for edit;

**Actual** position object:
[code]
**For filter it is:**

[code]

**For edit it is:**
[code]
Now it works as expected, but if it could be done simpler I would really appreciate!

[2019-11-19 02:59] themesbrand commented on #519
It's accessible from the keyboard but, I want to open in top position instead of the bottom position. I think you need to add a position/align parameter to set drop-down positions to top/right/bottom/left and default to the bottom.

[2019-11-19 03:02] raj3292 commented on #519
It's accessible from the keyboard but, I want to open in top position instead of the bottom position. I think you need to add a position/align parameter to set drop-down positions to top/right/bottom/left and default to the bottom.

[2019-11-19 08:04] nirkrumer commented on #1160
@dotjrt
hey, are there any other design attributes I can define for columns : lines width etc.?

[2019-11-19 17:50] dashName opened #1172 "How to display multiple items in single cell of each row?"
I have this array of data: Products:Array(102)

…..
…..
…..

I want to display in my table one column header as items and display

<img width="130" alt="Screen Shot 2019-11-19 at 9 51 09 AM" src="https://user-images.githubusercontent.com/56317909/69172230-4ff2f380-0ab2-11ea-8b3d-96b28b309b8c.png">

[2019-11-19 23:54] martin-one opened #1173 "Filter get bugged when selection columns is active"
**Describe the bug**
A clear and concise description of what the bug is. In addition, please search issues before you open a report to make sure there's no any duplicated report

**To Reproduce**
In a simple <BootstrapTable/>
add selectRow, filter and filterPosition="top"
Result:

**Screenshots**
![imagen](https://user-images.githubusercontent.com/13110894/69196889-6ec6a980-0af5-11ea-99cc-d3e2e617

[2019-11-20 00:06] Ymbere commented on #1172
Hi, could you send a sample of your **Products** array? Don't need to be the full array only 10 records are fine, with that I can try to reproduce the behavior that you expect.

[2019-11-20 00:59] dashName commented on #1172
{
  "data": [
    {
      "id": "string",
      "product": [
        {
          "title": "string",
        },
        {
          "title": "string",
        },
        {
          "title": "string",
        }
      ],
    },
    {
      "id": "string",
      "product": [
        {
          "title": "string",
        },
        {
          "title": "string",
        }
      ],
    },
    {

[2019-11-20 02:35] dotjrt commented on #1160
@nirkrumer I'm not sure what you mean by "lines width". You should be able to define just about any [style property](https://www.w3schools.com/jsref/dom_obj_style.asp) in `headerStyle` e.g. [backgroundColor](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnheaderstyle-object-function)

[2019-11-20 03:40] Ymbere commented on #1173
Hi, didn't found the root cause for the problem yet, but something changed between **v3.2.1** and **3.3.0** that seems to be causing that issue if you need a workaround you can roll back to **v3.21**

### Here is the comparison
#### V3.2.1
[![Edit column-select-test-3.2.1](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/column-select-test-321-xrfwn?fontsize=14&hid

[2019-11-20 08:51] nirkrumer commented on #1160
ok thanks
can close the case

On Wed, Nov 20, 2019 at 4:35 AM Jim Thompson <notifications@github.com>
wrote:

--

Nir Krumer

Business Applications Manager

*E-Mail: *nir.krumer@naturalint.com <eddie.oz@naturalint.com>

*Mobile*: +972 (0)50-8248181

[2019-11-21 03:53] buacula opened #1174 "Regex filter"
I see Regex Filter in the roadmap https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/01/24/release-plan.html
But cannot find it in the current code. Will it be implemented soon? Thanks.

[2019-11-21 12:17] mahebilla opened #1175 "Using selectRow causes the page to crash on Internet Explorer 11"
**Description**
If use selectRow in BootstrapTable 4, the table does not render on Internet Explorer.

**Version**
Internet Explorer 11 - 11.0.135
 react-bootstrap-table-next 3.2.0

**To Reproduce**
Add **SelectRow** property and look in IE11. The code something like below
`<BootstrapTable
        keyField="id"
        data={products}
        columns={columns}
        selectRow={selectRow}
      /

[2019-11-21 14:28] mahebilla commented on #1175
This issue is addressed by adding polyfill for find method in Array. The issue got Fixed. Thanks.

[2019-11-21 14:28] #1175 closed

[2019-11-21 18:26] dashName commented on #1172
I am trying something like below:

 const productInfoFormatter =(cell) => {
            console.log(cell);
            if(cell.length === 1){
                return (
                    cell[0].title
                )
            }else {
                cell.map(x => {
                    console.log(x.title)
                    return (
                        x.title
                    )

[2019-11-21 18:30] leonardootoni commented on #384
Does anyone know if this subject advanced in some direction?
There are any plan to add these types definitions in an official module or not?

[2019-11-21 23:15] Ymbere commented on #1172
Hi @dashName, could you create a [Code Box](https://codesandbox.io/s/) with your code?
With that, it's easier to help you.

[2019-11-21 23:58] dashName commented on #1172
https://codesandbox.io/s/pedantic-allen-i2u7e
@Ymbere

[2019-11-22 02:12] Ymbere commented on #1172
Hi, @dashName your implementation is correct you just forgot a `return` statement, your code will look like this.
[code]
Although you can make the code more clean removing the first  `if` statment

[code]

[2019-11-22 02:18] dashName commented on #1172
<img width="253" alt="69200394-d843b980-0aef-11ea-84a2-51e3b5933bc0" src="https://user-images.githubusercontent.com/56317909/69392551-2f31c600-0c8b-11ea-9655-4360b61fe9c8.png">

to display something like like can we add a condition to check the length of array and if the length is > 2 can display + rest of items?

[2019-11-22 02:47] HridayK97 commented on #409
Hey @leon-cgn  I need to do the same thing, how did you exactly apply this css to the component in React?

[2019-11-22 03:07] dashName commented on #1172
Yes I am able to do this thanks

[2019-11-22 03:07] #1172 closed

[2019-11-22 09:58] Stefan-Reimer commented on #787
We are also having this problem and if it doesn't get changed soon, we will have to create our own searchbox Container.

Is there a plan to implement this enhancement in the future?

[2019-11-23 05:44] AllenFang commented on #1144
I agree, I will spend some time to enhance it. thanks this idea.!

[2019-11-23 05:54] AllenFang commented on #1163
close it due to no response

[2019-11-23 05:54] #1163 closed

[2019-11-23 05:59] AllenFang commented on #1165
@Popov85 filter also accept an array

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Preserved%20Option%20Order%20on%20Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/641

[2019-11-23 05:59] #1165 closed

[2019-11-23 06:06] AllenFang commented on #1167
[code]

[2019-11-23 06:06] #1167 closed

[2019-11-23 06:34] AllenFang commented on #1168
@rizwan-ishtiaq  I will fix it ASAP, thanks !!

[2019-11-23 07:41] AllenFang commented on #1169
@elmoro666 I will fix it soon, thanks!

[2019-11-23 07:57] AllenFang commented on #1170
@ahadortiz so far we don't have row customization so i think it's impossible lol. but PR is welcome.  thanks

[2019-11-23 07:57] #1170 closed

[2019-11-23 08:23] AllenFang commented on #1171
I think in your case, the most simplest solution is hide the table component. If you don't want to hide it, the only way is you have to add some listener to listen something changes, like filter, page etc. then populate these data into table when the corresponding tab is active.

for example:

[code]

but so far we don't support the restore filter mechanism. so I will figure a way to achieve.

[2019-11-23 08:32] #1171 closed

[2019-11-23 08:33] AllenFang commented on #1173
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1169

I will fix it ASAP

[2019-11-23 10:15] nirkrumer commented on #1167
Great it works :)
I created my own custom search bar
Now, I want to create a custom clear button. What is the command to erase the values from the customized searchbar?

Attached my tries

![image](https://user-images.githubusercontent.com/38032506/69477115-e6911e80-0dea-11ea-989a-c9ed9997b988.png)

[2019-11-23 11:21] chazarabriseis commented on #1171
Thanks @AllenFang, will use the workaround.

In the above codebox example I am also using nonSelectable for rows I am not allowing to select, this works. However, the different style I am setting for it with nonSelectabelStyle does not show. Can you tell me what I am doing wrong?

[code]

[2019-11-23 11:49] srikanthpathlavath opened #1176 "Why No visible columns detected error is showing. how to resolve this ?"

[2019-11-25 06:18] UbaidRajputt opened #1177 "Filter not working"
Hi there, below is the link to codesandbox for the demo of my code, I am using react bootstrap table 2, everything is working perfectly fine but when I add text filter to my columns and use the filters, the tables crash, but search is also implemented and it works absolutely fine, but when i input some data into filter field it crashes, please ca you help me with this issue?
https://codesandbox.io

[2019-11-25 10:03] tapasdas091 commented on #493
@jehartzog i want to implement column drag and drop in react-bootstrap-table. Please help me out of this problem

[2019-11-25 10:49] Ajitprakash commented on #38
any luck ??

[2019-11-25 14:17] stcursi opened #1178 "SearchBar doesn't match value nested into td element"
I have a td column that is composed by a div with other two span inside. But when I wrote something that would be matched in that column the table results is always empty.

Is it possible that search bar is not capable to match string inside the td element ?

[2019-11-26 13:08] jackgv24 opened #1179 "Column Span"
How can i set a colSpan per column?

[2019-11-26 18:44] virasatkhan opened #1180 "Forcefully Avoid Filter Clean, Pagination Defaulting to first Page and Sort Clear"
**Question**

Q1) How can I forecefully avoid a condition where my filters that are getting auto-reseted when I perform some action on my table like expand Row.

Q2) How can I forecefully avoid same condition with pagination where the pagination is getting auto resetted to page1 of my results table when I expand Row.

Q3) Similar condition with Sort where the sort is getting auto resetted when I p

[2019-11-27 09:30] theocerutti opened #1181 "Hide columns (no toogling)"
Hello,

I would like to hide completely a column if a user is not admin.
I know there is an option to 'hide' it (hidden) but the problem is that we can show it with the toogler...
For example:

We have a table of sales:
[code]

Default Users (not admin) can just see these columsn (products and prices)

However Administrator can see:

[code]

Is it possible ??

[2019-11-27 09:49] virasatkhan commented on #1180
Hello Allen - If you can tell me the complete variable list of (Pagination,Filter & Sort), I can try to work around this with setState. I was thinking to read for example the filterValue (if that is what the variable is) and maintain it through out. Same with pagination and Sort.

[2019-11-27 10:06] Xenio-Bidchat commented on #912
@AllenFang @YassienW
 Hi, Is there any updates on this.. even i'm facing the same problem :(.. Please fix this issue. Thanks

[2019-11-27 10:07] kimjavier43 commented on #1098
Hi @AllenFang ,
I'm also encountering this issue with the following versions.
[code]
This scenario happens when you have multiple table page and you're not on the first page.
Select page 2 and try to modify the referenced array table data.

I will try previous versions before this issue. I'll keep you posted.

BR,

[2019-11-27 13:09] Devkutt commented on #1181
Maybe you can generate the columns in your render method and only add the column if the user is an admin.
[code]

[2019-11-27 15:29] virasatkhan commented on #1180
I think I cannot use the filterVal outside your component, the only way for me is to maintain the states of (filter, pagination, sort), still figuring out a way to maintain states. If you know an easy way, please propose.

[2019-11-27 15:33] virasatkhan commented on #1181
or maintain the state of a bool variable based on isAdmin and set it a true/false and use that in your table as hidden: {this.state.isAdmin}. Just a thought, never tried and I am just learning react.

[2019-11-28 03:04] rikinshah23 opened #1182 "Type.CHECKBOX not being clicked when using formatter"
I am using react-bootstrap-table2-editor in my next.js project.

I have this:
[code]

When I click on this checkbox fields it wont changes its value and behave like its readonly. saveChanges function is being called and api call works fine here just checkbox not changing values on checking / uncheckin.

Basically I want to make an api call to save as soon as I check / uncheck this checkbox.

[2019-11-28 03:07] rikinshah23 commented on #784
if you guys can please help with my question?
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1182

[2019-11-28 03:27] rikinshah23 commented on #1182
Actually I have been able to solve this using below :
[code]

[2019-11-28 03:33] rikinshah23 opened #1183 "Type.CHECKBOX always shows unchecked when click cell to edit value"
for example : my grid has 4 checkboxes, 2 of which are currently True.

![image](https://user-images.githubusercontent.com/26806597/69775043-cc41a280-1154-11ea-8491-b697d72bfc2f.png)

Now I am clicking on first cell to UnCheck the checkbox.

![image](https://user-images.githubusercontent.com/26806597/69775103-f85d2380-1154-11ea-969b-9e8b3c979d91.png)

Notice 2 things in above image -
1. I just cli

[2019-11-28 04:58] rikinshah23 commented on #945
@noeljoaquin30 @AllenFang could you please help me with sample mapping of options for dynamic options?

I dont have much idea on from where to bring options value and how to map here.
[code]

[2019-11-28 09:07] chazarabriseis commented on #1171
@AllenFang if deleting a filter it still remebers the old one. Seems that the filterVal is not changing if it is changed to "" empty?

https://codesandbox.io/s/table-remeber-filter-znohm

[2019-11-28 09:11] kimjavier43 commented on #1098
Tested working with the latest version.
[code]

[2019-11-28 09:20] jonrandahl commented on #1098
Thanks @kimjavier43 I'll check those versions on our instance!

[2019-11-28 11:06] bharatgupta99 opened #1184 "Select filter showing up again after resetting, with remote filter enabled."
**Describe the bug**
I am using select filter with filter remote enabled on two columns. Also, there is a reset button to reset filters. Applying filter on the first column and clicking the reset filter button. After that I apply filter on second column somehow filter on first column appears again.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply filter on the first column.
2. Click the

[2019-11-28 16:02] virasatkhan commented on #1180
My usage of BootstrapTable is like this and I have a different component to expandRow

       <BootstrapTable keyField={'id'} columns={columns} data={this.state.resultdata}
        striped={false} hover={true} tabIndexCell={true} condensed={true}
        bootstrap4={true} classes="react-bootstrap-table2" bordered={false}
        expandRow={ expandRow } options={options1}
        pagination={ pagin

[2019-11-28 16:29] virasatkhan commented on #1180
And I have a button against each row to populate that expandRow <division>, My problem is when i click on that button, my filter, pagination and sort is getting auto-resetted to none.

[2019-11-28 18:42] klapouchy commented on #1179
@jackgv24 as far as I know there is no way to set `colSpan` or `rowSpan` in RBT2.

[2019-11-30 10:21] nirkrumer commented on #1167
hey , any thoughts?
Thanks

[2019-12-02 01:05] VTrngNghia opened #1185 "Caption is rendered below table"
**Describe the bug**
A clear and concise description of what the bug is. In addition, please search issues before you open a report to make sure there's no any duplicated report

**To Reproduce**
From the story book, the attribute `caption=` is supposed to render a caption on top of the table
`<BootstrapTable keyField="id" data={ products } caption="Plain text header" columns={ columns } />`

When

[2019-12-02 11:50] #1168 closed

[2019-12-02 11:50] #1169 closed

[2019-12-02 11:56] AllenFang commented on #1168
fixed in `react-bootstrap-table-next@3.3.2`, [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/02/version-bump.html)

[2019-12-02 11:56] AllenFang commented on #1169
fixed in `react-bootstrap-table-next@3.3.2`, [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/02/version-bump.html)

[2019-12-02 11:57] AllenFang commented on #1173
fixed in `react-bootstrap-table-next@3.3.2`, [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/02/version-bump.html)

[2019-12-02 11:57] #1173 closed

[2019-12-02 11:59] AllenFang commented on #1174
@buacula hello, sorry for lately reply, so far I don't have too much time to implement. the workaround is you can custom a regex filter by yourself, you can learn how to custom a filter via [doc](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#custom-filter)

thanks!

[2019-12-02 12:01] AllenFang commented on #1176
You can't fix it. because no visible column for a table is meaningless, avoid to render table when there's no any column visible is best idea.

[2019-12-02 12:01] #1176 closed

[2019-12-02 12:02] AllenFang commented on #1177
@UbaidRajputt I don't see any content in the codesandbox, would you please check it again? thanks

[2019-12-02 12:06] UbaidRajputt commented on #1177
![Capture](https://user-images.githubusercontent.com/43198235/69958191-11cfe800-1526-11ea-9957-f5626ddd9519.PNG)

[2019-12-02 12:07] UbaidRajputt commented on #1177
See it is working, open the link and switch the button to the top right to current module view

[2019-12-02 12:07] AllenFang commented on #1178
@stcursi sorry for lately reply, I think I need to know some context so that I can help you, but it's better to have a minimal and simple example code on codesandbox that I can solve your problem efficiently

question:
1. did you use column formatter for some column?
2. if yes, did you enable `searchFormatted`?

thanks

[2019-12-02 12:08] AllenFang commented on #1179
@jackgv24 so far I don't have too much time to implement it. any PR is welcome, thanks. Close it due to duplicated issue opened.

[2019-12-02 12:08] #1179 closed

[2019-12-02 22:22] QuarterSprout opened #1187 "react-test-renderer errors on filters"
**Question**
I have successfully implemented react-bootstrap-table2 in my code and it works fine to use it. I am not able to write tests for any table that has react-bootstrap-table2-filters, though.

**codesandbox**
The stack trace is very long but the important part is that every filter gives me this error in their respective componentDidMount function:  Error: Uncaught [TypeError: Cannot read p

[2019-12-03 11:20] virasatkhan commented on #1180
I was able to prevent the pagination defaulting to page#1 with states and currentPage. Can someone help with the Filter and Sort that is getting reset to null when I click that button against each row to populate my expandRow?

All that I want to know, is there a way to perform some stateSet onFilter or something similar with Sort?

[2019-12-03 21:14] tommydev opened #1188 "How Do I include the Footer in the ExportCSVButton"
**Question**
I have added a footer to the columns of my table but its not showing in the CSV file when exporting.  I am using the ExportCSVButton.

There seems to be an option in the old version setting a property of footer=true, however, I don't see that option in react-bootstrap-table2

Please help!

Thanks

[2019-12-04 02:21] Ymbere commented on #1185
Hi @VTrngNghia, your code is right the issue appears to be with the bootstrap4 CSS.
If it helps, for now, you can change your bootstrap CSS to the version 3.x.x

### Here is a working example using bootstrap3
[![Edit bootstrap3-table-caption-test](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-new?fontsize=14&hidenavigation=1&theme=dark)

I will try to solv

[2019-12-04 16:48] luupqvinh opened #1191 "Export CSV not working with a different encoding than UTF-8"
Hello.

I want to export the content of the table in ANSI encoding. I must do that because Excel 2016 doesn't read utf-8 csv file correctly.

I pass the following options to ToolkitProvider
exportOptions = {
      fileName: 'export.csv',
      noAutoBOM: false, // true or false, both won't work
      separator: ';',
      blobType: 'text/csv;charset=ansi' // also tried "application/octet-stream",

[2019-12-05 01:33] Yuki-Zhao opened #1192 "react "unique key" error in console"
Use the react-bootstrap-table-next": "^3.3.2
There is an error in console. i
![image](https://user-images.githubusercontent.com/22816207/70195988-3b655b00-1742-11ea-8c67-b0842159e712.png)

[2019-12-05 04:55] ThangPk commented on #1171
I also have the same problem here. @AllenFang

[2019-12-05 12:34] AllenFang commented on #1192
@Yuki-Zhao it's not an issue, because we use `keyField` as key on each row, this error will be throw when you have same key in data.

[2019-12-05 12:34] #1192 closed

[2019-12-05 12:43] AllenFang commented on #1191
@luupqvinh we leverage `fileSaver` and in our source we did the same thing like eligrey/FileSaver.js#28. So I think so far I still also have no idea about this issue. maybe we can discover more detail from `fileSaver`, but need some time.

[2019-12-05 12:45] AllenFang commented on #1188
@tommydev so far we didn't allow to export the content of footer to csv, I will implement it ASAP, thanks

[2019-12-05 12:47] AllenFang commented on #1187
hello @QuarterSprout sorry for lately reply, I can't read your code, would you please refine it? thanks. btw, I usually don't have too much time on this project, if you can please give a minimal and simple example on codesandbox so that I can quickly figure out the root cause. thanks

I will reopen this issue until I have a codesandbox and a readable code.

[2019-12-05 12:47] #1187 closed

[2019-12-05 12:57] tommydev commented on #1188
Thank you.

Do you have an ETA.  Just asking because we are hoping to goto production on 12/16.

Thanks again.

Sent from my iPhone

[2019-12-05 13:14] AllenFang commented on #1177
Hello @UbaidRajputt please don't use `react-bootstrap-table2-overlay` which has some critical bug and can't be solve in near future. sorry about that, when you remove the `overlay` prop from `BootstrapTable`, everything will be fine.

[2019-12-05 13:14] #1177 closed

[2019-12-05 13:21] AllenFang commented on #1180
@virasatkhan sorry boss, I'm too late to reply your issue.

about sorting, so far we don't have a way to manage the sort, the only way is configure `defaultSort`: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-sort.html#default-sort

about filter, i think it's same situation, no directly solution, but the workaround is you can use `onFilter` to listen the filtering chang

[2019-12-05 13:23] AllenFang commented on #1181
I think above solution is all good. the other workaround is turn off the column toggle for regular user  or just exclude the admin columns when user is non-admin.

[2019-12-05 13:23] #1181 closed

[2019-12-05 13:27] AllenFang commented on #1182
column editor and column formatter is totally different thing. You can't except `react-bootstrap-table` to modify the data when you clicking on custom a checkbox via column formatter.

the second solution is correct to me.

[2019-12-05 13:27] #1182 closed

[2019-12-05 13:31] AllenFang commented on #1183
I can't reproduce this, would you please give me a simple and minimal example on codesandbox so that I can help you? thanks

BTW, because you didn't follow up the instruction to open an issue, please follow it. I will help you until I know how to reproduce this issue

[2019-12-05 13:32] AllenFang commented on #1188
@tommydev wow, seriously I'm busy on my job, I will try to find some time in this weekend. but I can't tell you the ETA, sorry about that.

[2019-12-05 15:07] kilofafeure opened #1193 "How to load an icon after editing another cell"
**Question**
I would like to know if it's possible to load an icon in a cell after edit another cell. I've been able to edit a cell but after that I can't load an icon on the next one

**Screenshots**
![image](https://user-images.githubusercontent.com/27411445/70247156-3079ed00-1779-11ea-9763-56805590b516.png)
![image](https://user-images.githubusercontent.com/27411445/70247186-3ec80900-1779-11ea-

[2019-12-05 15:48] tommydev commented on #1188
Im sorry Allen I didn't mean to be pushy i was just curious so I could plan ahead.  Thanks again

[2019-12-05 17:22] QuarterSprout commented on #1187
Here it is in a sandbox, though I am getting a different error there that seems specific to codesandbox.

https://codesandbox.io/s/boring-river-e3w7v

[2019-12-06 06:00] Yuki-Zhao commented on #1192
but the type of keyField is string. how to set different ?
![image](https://user-images.githubusercontent.com/22816207/70299725-ac833c00-1830-11ea-824b-eb0a48f99871.png)

[2019-12-06 06:02] Yuki-Zhao commented on #1192
![image](https://user-images.githubusercontent.com/22816207/70299875-113e9680-1831-11ea-8d1e-992f4763c4ec.png)

[2019-12-06 13:14] virasatkhan commented on #1180
yeah I used onFilter to get a workaround filters.
Regarding Filters, when i use onSort like below I don't see any change in the table content when I click the sort carets. I believe it's always defaulting to 'desc', is there a way to allow it to get changed as per what my users will click on the table header for sort?

        **onSort: (field,order) => {
          this.setState({
            sort

[2019-12-06 20:07] sushreedash opened #1194 "editing the entire row onclick edit button tied to each row"
is it possible to add edit button to each row and onclick row, cells of that row
![Screen Shot 2019-12-06 at 12 06 55 PM](https://user-images.githubusercontent.com/40245907/70352859-f3693580-1820-11ea-9370-c2a3d4180c43.png)
 will be editable and once user is done editing we can have a save button tied to each row which will save the row to database?

[2019-12-07 06:36] AllenFang commented on #1192
`keyField` is specified to a column which is unique, for ex: `id`

so in your data, `id` field should be unique:
[code]

If you don't have any column can be unique, you can just transform them to generate a sequence key before render table.

[2019-12-07 06:42] AllenFang commented on #1187
@QuarterSprout I guess this is not related to `react-bootstrap-table`, I can't pass the test even I gave a very simple table component or just a `<div>` based on your code. I think you have to figure out this issue by `react-test-renderer `, I'm not familiar to this testing library so sorry about I can't help u. thanks

[2019-12-07 06:46] AllenFang commented on #1180
@virasatkhan sorry like I mentioned above, we don't support the sorting management, But I can tr y to implement it asap.  thanks

[2019-12-07 09:23] #1188 closed

[2019-12-07 09:23] #1144 closed

[2019-12-07 09:23] #1180 closed

[2019-12-07 09:25] AllenFang commented on #1185
Fixed in `react-bootstrap-table-next@3.3.3`, https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/07/version-bump.html

[2019-12-07 09:25] #1185 closed

[2019-12-07 09:27] AllenFang commented on #1188
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/07/version-bump.html)

[code]

[2019-12-07 09:28] AllenFang commented on #1144
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/07/version-bump.html)

Now you can configure `sort` prop on `BootstrapTable`:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#one-time-sorting-configuration

[2019-12-07 09:29] AllenFang commented on #1180
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/12/07/version-bump.html)

[ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Sort%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[DOCS](https://react-bootstrap-table.githu

[2019-12-07 13:45] keybraker opened #1196 "Date filter crashes the site"
I use this for the table column

[code]

and for the table itself

[code]

But it crashes my website with error:

[code]

My dates are in the following form : ```1995-12-04```

[2019-12-07 17:38] nirkrumer opened #1197 "Clear search bar results and make table with no filter"
Hey,
I created custom search bar and custom clear button.
Till now my erase button erases the text from the search bar,
but the filter remains.
I tried with state manipulation (see in remark in the attached code)
How can I code it correctly? Thx

// let input_state : any;
        const MySearch = (props: any) => {

            const handleClick = () => {
                props.onSearch(input.value)

[2019-12-08 06:31] rikinshah23 commented on #1183
Hi @AllenFang  thanks for helping on this. I have modified my bug to follow the instructions this time.
Please look at my sandbox to reproduce this issue and my new bug description for more details about this bug.
https://bdnuf.sse.codesandbox.io/

[2019-12-09 06:12] Yuki-Zhao commented on #1192
I got it ! thanks

[2019-12-09 11:47] AllenFang commented on #1183
@rikinshah23 can you give me the source code which should be online on codesandbox lol

[2019-12-09 11:54] AllenFang commented on #1184
Hello, @bharatgupta99 sorry for lately reply, I can confirm this bug and i will fix it ASAP, thanks for the bug report.

[2019-12-09 12:10] AllenFang commented on #1184
@bharatgupta99 sorry it's a fake alarm, I think we have a better way to reset filter, I just change you code to fix this issue:

[code]

[Here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Clear%20All%20Filters&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an online example

[2019-12-09 12:10] #1184 closed

[2019-12-09 12:15] AllenFang commented on #1193
1. use [`cellEdit.afterSaveCell`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/cell-edit-props.html#celleditaftersavecell-function) listener to know when the cell being saved
2. in this listener, you can modify your data to generate a icon for a specified column
3. render component by setState or foreceupdate etc.

[2019-12-09 12:15] #1193 closed

[2019-12-09 12:17] AllenFang commented on #1194
so far we don't have way to edit row. I hope I can implement this feature ASAP, but I can't give you the ETA.

[2019-12-09 12:30] AllenFang commented on #1196
@keybraker you don't follow the instruction to open an issue. so please reopen again. thanks

[2019-12-09 12:30] #1196 closed

[2019-12-09 12:31] AllenFang commented on #1196
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/new?assignees=AllenFang&labels=&template=bug_report.md&title=

Please remember to give the codesandbox so that I can help you more efficiency

[2019-12-09 12:38] AllenFang commented on #1197
[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Clear%20Search%20Button&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an example to show you how to custom the search bar and clear button.

In you case, you choose to custom the searchbar and clear button. It's ok but one

[2019-12-09 12:38] #1197 closed

[2019-12-09 12:52] nirkrumer commented on #1197
Thanks Allen,
Is still get the following error
[image: image.png]

I wonder whether this clear issue needs to be on the onclick of the button
handler

[image: image.png]

What do you think?

Thanks,
Nir

On Mon, Dec 9, 2019 at 2:38 PM Allen <notifications@github.com> wrote:

--

Nir Krumer

Business Applications Manager

*E-Mail: *nir.krumer@naturalint.com <eddie.oz@naturalint.com>

*Mobile*: +972

[2019-12-09 15:12] rikinshah23 commented on #1183
@AllenFang lol cant believe I did that. here is the link for source code.
[](https://codesandbox.io/s/checkbox-bdnuf)

[2019-12-09 15:27] rohit8080 commented on #1106
I am getting error>> TypeError: Cannot read property 'label' of undefined

[2019-12-10 20:28] neosavvy commented on #459
Yeah same here - using

[code]

[2019-12-11 08:41] ThangPk opened #1198 "onFilter is not called when the text in the input is empty"

[2019-12-11 17:15] tommydev commented on #1188
Allen, Thanks for getting this out.  I am seeing an issue though when exporting the footer using footerFormatter the footer columns are rending [object.object]
![Screen Shot 2019-12-11 at 12 08 57 PM](https://user-images.githubusercontent.com/1158137/70643792-a534a780-1c0f-11ea-9663-0ef4449ec351.png)

[2019-12-11 18:24] josemsp commented on #1191
@AllenFang The problem is solved added "\uFEFF" before content.
_fileSaver2.default.saveAs(new Blob(["\uFEFF"+content], { type: blobType }), fileName, noAutoBOM);
In the file exporter.js

[2019-12-11 19:08] josemsp commented on #1191
The problem is solved added "\uFEFF" before content.
_fileSaver2.default.saveAs(new Blob(["\uFEFF"+content], { type: blobType }), fileName, noAutoBOM);
In the file exporter.js

[2019-12-11 23:43] josemsp commented on #1191
@AllenFang could you upload an update for issue of the accents.?
The problem is solved by adding  "\uFEFF" before content.
_fileSaver2.default.saveAs(new Blob(["\uFEFF"+content], { type: blobType }), fileName, noAutoBOM);
In the file exporter.js

[2019-12-12 01:56] deepakiam commented on #852
@AllenFang Is there an example where PaginationProvider and ToolkitProvider are used together so that both can be customized?

[2019-12-12 05:44] bkwilcox100 commented on #459
`"react-bootstrap-table-next": "^3.3.3",
    "react-bootstrap-table2-filter": "^1.3.0",
    "react-bootstrap-table2-toolkit": "^2.1.1",`

I am also having the same issue

[2019-12-12 17:56] MaheshYTech opened #1199 "row height"
please let me know how to set row height of rct-bs-tbl-next.
what i following
class Itable extends Component {
    rowStyle = (row, rowIndex) => {
        // row.index = rowIndex;
        // const style = {};
        // style.height = '15px';
        // return style;
        return {height: '10px'}
    }
  render(){
   return(
     <div>
                <BootstrapTable
                    keyField

[2019-12-13 16:51] Ymbere commented on #1199
Hi @MaheshYTech you can use `rowStyle={{ height: '100px'}}`.
### Here is a working example
[![Edit dreamy-pasteur-hce4v](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/dreamy-pasteur-hce4v?fontsize=14&hidenavigation=1&theme=dark)

[2019-12-15 10:55] keybraker opened #1200 "filter: dateFilter() not working with Date type"
I am fetching data from remote server as can be seen in codesandbox at line 11. But when I try to create a new date type that is what `filter: dateFilter()` takes as input, it crashes.

As sent the demo doesn't run as it has the problem reproduced. If you proceed to line 25 and rename the dataField with something different than "dat" the table is rendered correctly.

**So my problem is that I get

[2019-12-15 21:32] keybraker commented on #1200
Basically what could help me is if you could tell me how filter: dateFilter() does function. I  think it tries to render the table before the data is fetched from the server, in that case is there something you recommend doing ?

[2019-12-16 16:14] cssher opened #1201 "Select Filter template not working. TypeError: Cannot read property 'value' of undefined"
[code]

[2019-12-16 16:19] cssher opened #1202 "Select Filter template given in the website not working. TypeError: Cannot read property 'value' of undefined"
[code]

Please look into the matter.

[2019-12-17 02:40] duongynguyen opened #1203 "How to show all row index?"
**Question**
Hi everyone,
I have a question asking everyone to help.
With the current formatter supporting, I can only get and display rowIndex for each page, I expect that it will show up incrementally for other pages, instead of when I select page 2, it counts back from 0.
So, what do I do to solve this problem?

Thank you so much!

[2019-12-17 03:29] duongynguyen commented on #1203
I have a solution for this, so I closed question

[2019-12-17 03:29] #1203 closed

[2019-12-17 05:00] rchaser opened #1204 "Should isDummyField=true column be rerendered if `row` changed?"
In my real world application isDummyField has a button that should be enabled/disabled if another column changed, but it doesn't, with the same reason as in the example
[https://codesandbox.io/s/react-bootstrap-table-next-basic-example-mhkl8](https://codesandbox.io/s/react-bootstrap-table-next-basic-example-mhkl8)

Check out this gif, it seems like isDummyField doesn't work correctly

![Dummy](htt

[2019-12-17 22:40] dmuczynski-nexient commented on #652
Curious why this got closed.  It is a state thing.  I am using hooks and had to set the headers at the beginning.  I updated the headers (formatting with data coming in a load) and the sorting worked.

[2019-12-18 11:59] Plutone11011 commented on #338
Similar issue even though it's been closed already, with react-boostrap-table-next@3.3.3

When I edit the table with textarea, I can see the correct value being updated in afterSaveCell, in the right column and row.
However, in the frontend, unless it's the first row, the updated value is not shown and the table keeps showing the previous value.

[2019-12-19 11:00] osnofa opened #1206 "Selection radio with bootstrap4 not centered"
**Describe the bug**
A selectable table with the 'bootstrap4' will not have the radio buttons centered, they're aligned to the left side of the column.
To better understand, I think its easier to see the screenshots.

**To Reproduce**
Steps to reproduce the behavior:
. Add the property 'boostrap4' to a selectable table

**Screenshots**
Normal selectable table:
![Screenshot_2019-12-19 PMed - Atesta

[2019-12-19 16:17] dankoh opened #1207 "No row or rowIndex information with onKeyDown in rowEvents"
**Describe the bug**
I am using an onKeyDown event for tracking i.e. Tab key in the cell editField to jump into the next row. The key is recognized but not like in the onclick event the row and rowIndex can be accessed. Is this because it is a cell activity and not a row activity?

**To Reproduce**
Steps to reproduce the behavior:
1. Add rowEvent to rowEvents
`rowEvents : {
            onClick: (e

[2019-12-20 16:37] osnofa opened #1208 "The row with the filters doesn't inherit column/columnHeader classes"
**Describe the bug**
When adding the filterPosition="top" property to the table, not only does the row with the filters not inherit the classes defined in column.headerClasses, I also couldn't find any way to define its own classes in the documentation.

**To Reproduce**
1. Create filters for the columns
2. Also add classes to the columns and headers, for instance, the following bootstrap classes:

[2019-12-20 18:42] nirkrumer opened #1209 "Custom searchBar + eraseButton"
Hey,
I created custom search bar and custom clear button.
Till now I could make my erase button to erase the text from the search bar,
but the filter remains.
How can I code it correctly? Thx

**handler**
 const Clearbutton = (props: any) => {

            const clearhandleClick = () => {
                props.onSearch(inputs.value).onClear(); // (I tried also obviously props.onClear();)

[2019-12-26 20:15] mazzalab opened #1211 "[Again] Uncaught TypeError: onSort is not a function"
Hi all,
I know this is a duplicate of #652 but it seems that that issue was closed without providing a solution to the problem.

I am using "react-bootstrap-table-next": "^3.3.3" and my simple Component ha this constructor:

[code]
You can see that I save **data** and **columns** in the component state, which I finally update in

[code]

the "formatHeader" method simply formats the header of the t

[2019-12-27 10:34] truptiGaidhane22 opened #1212 "Cell Edit is not working properly in second row of table. After entering value in text box, click enter, then the value disappears from cell."
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2019-12-27 16:02] donkeyDau opened #1213 "Let user adjust column width manually"
Is it possible to make the column width not fixed but adjustable by user?

[2019-12-28 09:20] pravin-d opened #1214 "Support Bootstrap 4 for paginator"
**Question**
Paginator does not use Bootstrap4 classes even though it is enabled on Bootstrap table. How do I enable bootstrap 4 classes for the paginator ?

[2019-12-31 07:37] cindy-li-qa opened #1217 "How to get footer value in other fields"
**Question**
I want to have a table like below
![image](https://user-images.githubusercontent.com/44219522/71613657-b22b3200-2be2-11ea-8804-1a4bbbc000db.png)

I need to use the total_feature_tickets/total_ticket to get feature ticket percentage value, but have no idea on how to get them.

In bootstrap table, I can use **rows** to get values in other fields, but it doesn't work in react-bootstrap-t

[2020-01-02 02:21] uc2pac opened #1218 "Can't exit edit mode if table is in remote mode"
**Describe the bug**
When BootstrapTable is in remote mode and I click table cell to edit, I can not exit edit mode.

BootstrapTable configuration
[code]

I've noticed that `completeEditing` is not used in remote mode
`react-bootstrap-table2-editor.js`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use `BootstrapTable` configuration from above
2. Click on editing cell
4. Click outsid

[2020-01-02 08:23] nickdk commented on #207
Does anyone here have a better option in implementing this? Feels like a dealbreaker for me, we're trying to implement the workaround but seems like a lot of stuff changed in the mean time in editing-cell.js.

[2020-01-02 15:48] avichaigrunseid opened #1219 "Select rows - check box isn't working good"
hi,

I'm using:

const selectRow = {
                mode: 'checkbox',
                clickToSelect: true
              };

 <BootstrapTable  {...props.baseProps} keyField='id'    data={products} columns={columns}  selectRow={selectRow}    />    bootstrap table

the check box method isnt working good and isnt in the correct position in the table.
![image](https://user-images.githubusercontent.com

[2020-01-03 12:38] iamjayantchauhan opened #1220 "Maximum depth update issue while custom select filter"
The maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.

This issue I am getting when I apply same filter on a large dataset. If I use same code it works for a lower number of rows. When rows increase it stops working.

`index.js:1375 The abov

[2020-01-04 09:37] Popov85 commented on #1198
I confirm this issue. When I reset select filter, **onFilter** hook is not fired at all (react-bootstrap-table2-filter@1.3.0).

[2020-01-04 10:28] Popov85 opened #1221 "SelectFilter onFilter hook is not fired when filter value is reset"
onFilter hook perfectly works when a value in select filter is selected and returns proper value, but when I reset it manually - this event is not fired!

The reason why I need it to get fired is that I wanna implement a feature when one column filter **depends** on another in such the way when I select a filter value in one column, the list of values in the next column filter shortens.

Without b

[2020-01-05 18:50] agushurst opened #1222 "Is it possible to pass a class name to the parent cell (td)?"
I need to style the background of cells in a column contextually based on the status, e.g., red, green, yellow, etc. I can create a div within the cell that includes the appropriate background color, but then this interferes with filtering the column, e.g., values like "running", "completed", "failed" are not filtered properly (presumably due to the div content), I'd like to be able to pass a clas

[2020-01-06 07:08] alstn2468 opened #1223 "How to using dynamically formatter in BootstrapTable?"
**Question**
I want change my icon in BootstrapTable when change state.
I checked this state is changed in Redux Dev Tool and console.log.
Now I'm add formatter in render function.
Now I'm getting columns in config file and setState in componentWillMount.

statusLabel[0] => stopped
statusLabel[1] => running
statusLabel[2] => warning

And this formatter changed when i visited another tabs and came

[2020-01-06 07:41] thebradisrad commented on #1045
Hello, is there a way to get rowindex cross pagination yet? Need the row index to be correct to do an onChange on that row. When I do onChange on rows on page 2, the onChange would affect rows on page 1.

I have tried to use row.id, but that doesn't work because the id are not in order of row index.

[2020-01-06 07:43] thebradisrad opened #1224 "RowIndex Increase Across Pagination"
Hello, is there a way to get rowindex cross pagination yet? Need the row index to be correct to do an onChange on that row. When I do onChange on rows on page 2, the onChange would affect rows on page 1.

I'm using the basic pagination, if I could somehow get the current page, then I would be able to use that to increment the row index, but I don't know how.

[2020-01-06 08:12] thebradisrad commented on #1224
I was able to get the page number and set that to currentPage then use that in the column, but setting state inside onPageChange causes pagination to stop working. Clicking on the next page always return the first page.

const options = {
      onPageChange: (page, sizePerPage) => {
        this.setState({ currentPage: page });
        console.log(page);
      }
    };

///
        dataField: '#',

[2020-01-06 08:23] thebradisrad commented on #1224
Ok, I figured it out. I forgot to assigned page to the currentPage state.

    const options = {
      onPageChange: page => {
        this.setState({ currentPage: page });
      },
      page: this.state.currentPage
    };

// for the column
        dataField: '#',
        text: '#',
        formatter: (cell, row, rowIndex) => {
          let rowNumber = (this.state.currentPage - 1) * 10 + (rowIn

[2020-01-06 11:53] iamjayantchauhan commented on #1220
@AllenFang Any update for this issue? It works for low data When my data size increases it stops working. I have checked filters my code is everything as documented.

[2020-01-06 12:24] ymihir commented on #285
any update on this?

[2020-01-06 19:57] #1224 closed

[2020-01-07 09:55] BrentWillems commented on #1039
I'm facing the same problem, I'm using the onStartEdit to calculate the next cell for my custom tabbing behaviour (btw is there any update from this issue: [207](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/207) because if this would be fixed I would need to use the onStartEdit).
But is there a way to trigger the onStartEdit in a custom editorRenderer? (with the same para

[2020-01-07 10:59] #1217 closed

[2020-01-07 11:00] cindy-li-qa commented on #1217
Find other ways to get the value I want

[2020-01-07 21:37] dschoon commented on #1035
@stsiushkevich did you solve this? I'm having a similar issue

[2020-01-08 08:02] #1223 closed

[2020-01-08 19:21] iki202 commented on #865
@BharahthyKannan  could you kindly share your code here?

[2020-01-09 12:07] prakashsurya-840 opened #1225 "Expand row in right/left"
is it possible to expand the row the other directions like right left or top like which bootstrap provides on expands with parameters

[2020-01-09 21:03] nirkrumer commented on #1209
Hey,
Any thoughts?
thx

[2020-01-13 18:34] gsunsnackv commented on #1219
I got the same issue until I figured out that `keyField='id'` is important. Turns out my data does not have id but objectId, so I changed to `keyField='objectId'` and then it starts to work. The documentation here https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowmode-string should mention it

[2020-01-13 23:40] dashName opened #1226 "Sorting decimal number does not work."
**Describe the bug**
A clear and concise description of what the bug is. In addition, please search issues before you open a report to make sure there's no any duplicated report

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Plea

[2020-01-14 08:20] Stefan-Reimer opened #1227 "Function Request: Multiselect with checkboxes"
I would like to have a multiselect Filter where I can check a box to show, whether I want to show the specific entry or hide it. The same way you do it in excel filters.

Is it possible to implement that in the next month? Otherwise I would have to implement that myself because that is an important request for our webpage.

(There is already an Issue that asks if there is an excel like filter but

[2020-01-14 18:43] stevej2608 opened #1228 "Render pagination page-size dropdown above the table"
Hi, I'd like to be able to show the page-size dropdown, top-left, above
the table itself. I've looked at the documentation on customising the paginator and I can
see how to change its aperence but not how to relocate it.

I can see one possibe solution would be to use `hideSizePerPage` property to hide the default
page-size dropdown. I then re-render the table with a new page-size when my custom p

[2020-01-15 22:18] thebradisrad opened #1229 "Is there a grid view feature?"
Currently, table2 has table view where it's list the images according to rows. Does it have a grid view feature where the images can be shown next to each other like iphone photos? or will that feature be added in the future?

[2020-01-16 02:36] kennethliang opened #1230 "OnClick event row object not updating edit field in the table"
OnClick event row object not updating edit field in the table.

If a have a column of an edit field. Let's call it "enter_bid" field.
{
        dataField: "enter_bid",
        text: "Enter Bid",
        editable: true,

}

and then a have a button used for submitting the value to the server.
    {
        dataField: "bid_button",
        text: "Bid",
        editable: false,
        formatter:   (

[2020-01-16 14:09] flc opened #1231 "classes for thead, tbody?"
It would be great to have `theadClasses` and `tbodyClasses` among the table props.

For example I'd like to apply sticky thead to some tables with css like:
[code]

However, I think I can achieve what I want with the `wrapperClasses` prop.
Anyway, thanks for considering and also thank you for your work!

[2020-01-16 14:51] hassanamjad89 commented on #357
for me this worked.
// insert the new question in grid
(async () => { arr_helpers.insert(insert_index, question_new); })().then(() => {
    this.prop.ref_questions[insert_index].scrollIntoView();
});

[2020-01-16 21:55] thebradisrad commented on #1230
Maybe because the table hasn't had time to load your data that is fetched asynchronously. Try to store your selected value in a state.

this.state = {
enterBid: ''
}
this.onClickBid = this.onClickBid.bind(this);

onClickBid(enterBid)
{
this.setState({enterBid);
alert(this.state.enterBid);
}

{
dataField: "bid_button",
text: "Bid",
formatter: (cell, row) => {
return (<span><button onClick={()=>this

[2020-01-16 21:56] thebradisrad commented on #1231
is this what you're looking for?

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column.html

[2020-01-16 22:38] flc commented on #1231
No, I'd like to add some classes to the `<thead>` ( or `<tbody>`) elements of the table specifically.
According to these lines:
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/header.js#L83
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/body.js#L113
no classnames are app

[2020-01-16 23:04] thebradisrad commented on #1231
What's the problem with doing it in your original post, just remove .sticky and put it into a specific css, add that css to your page?

`.react-bootstrap-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1021;
}`

[2020-01-16 23:41] flc commented on #1231
I don't want to apply these css rules to all .react-bootstrap-table tables in my application, only to specific ones. But anyway, as I said above, this is where the `wrapperClasses` prop is useful. But there might be other uses cases, I'm not sure.

[2020-01-18 19:03] avichaigrunseid commented on #1219
Hi ,

ive changed my code to:

 <ToolkitProvider keyField='objectId'
        data={products}
        columns={columns}
        columnToggle
        cellEdit
        search >

        {
            (props: { csvProps: JSX.IntrinsicAttributes; searchProps: JSX.
IntrinsicAttributes; baseProps: JSX.IntrinsicAttributes; }) => (
                <div>

                            <hr />

[2020-01-19 16:36] self-coding-crab commented on #484
Is there any update on this ticket?

[2020-01-21 12:30] Mvijaysai commented on #1042
Hello,

I need to turn off the onClick for row selection on a single column of a row.

One of the columns in my table contain buttons for the user to interact with. I do not want the clicking of these buttons to trigger the select row, but clicking any other column should. (See   code below)@AllenFang

![Screen Shot 2020-01-21 at 5 47 31 PM](https://user-images.githubusercontent.com/54619232/72804

[2020-01-22 07:44] Johan-dutoit commented on #1220
I get the same error, however mine mentions this

[code]

[2020-01-22 10:16] MahiBaghel commented on #1042
i also having same issue @AllenFang  please help with example.

[2020-01-22 15:38] abehm22 commented on #1217
@cindy-li-qa What was your solution? I am also looking to do something similar.

I would like to take the total calculated from the footer and render it in a jsx object like you would in the footerFormatter. Is this possible @AllenFang ?

[code]

[2020-01-22 15:46] abehm22 commented on #1217
ahh nm.
I just combined the jsx in the footer and it did what I wanted.
`footer: columnData => {
                        const total = columnData.reduce((acc, item) => (Number(acc) + Number(item)).toFixed(2), 0);
                        return (<>
                            <div className='text-right' style={{ fontWeight: 'bold', fontSize: '0.9rem'}}>
                                Total Fees:

[2020-01-23 12:18] buacula commented on #1221
happens to me too! onFilter not fired when clearing the filter

[2020-01-23 18:30] psfir opened #1232 "Warning: Failed prop type: The prop `column.dataField` is marked as required in `HeaderCell`, but its value is `undefined`."
Is it normal to receive a Warning: Failed prop type when rendering data from an asynchronous call with either a native react fetch or an axios fetch.  As far as I can tell its normal? Is there anyway to avoid this?

[2020-01-25 01:55] amitsetty commented on #652
Having same issue - mine is being created only when part of columns comes from props - my current workaround (which is leading to tight coupling) is by hardcoding columns into the Table function

[2020-01-27 16:16] seare-kidane opened #1233 "Columns initially hidden when using ToolKitProvider and columns array changes"
Relates to #723

When using `ToolKitProvider` with `ColumnToggle`, if you first initialize the `keyField` & `columns` array to some value and later update it to a different `columns` array with it's respective `keyField`, the columns will be hidden.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a React component with `ToolkitProvider` that contains `ColumnToggle` and `BootstrapTabl

[2020-01-27 20:22] seare-kidane opened #1234 "Column sorting feature breaks if the initial columns array doesn't have sort field"
Relates to #1233

When using `BootstrapTable`, if you first initialize the `columns` array without `sort` property and later update it to a different `columns` array with `sort` property, sorting doesn't work.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a React component with `BootstrapTable`
2. Initialize the the properties as follows
[code]
3. And then update the properties: e.

[2020-01-28 21:04] Raphaww commented on #332
Im sorry but it seems this is not yet implemented, expandableRow should receive a function

`isExpandableRow(row) {
    if (row.id < 2) return true;
    else return false;
  }`

The closes thing we have now is the nonExpandable array

`nonExpandable: [1, 3]`

but its not the same. Am I missing something? I think its not so different from other attributes already implemented like: className or pare

[2020-01-28 21:47] dashName commented on #1123
Hey @Ymbere I know its been long since this discussion but just was curious if there is a way to sort the field.let say i incremented the quantity and sort one of the column so accordingly this quantity column should also be sorted accordingly right.

[2020-01-29 02:00] LamarrD commented on #819
@nathan-fortier Any update on this, if not I can take a shot at implementing this sometime soon

[2020-01-29 21:05] mfleonhardt opened #1235 "Page list requires two clicks to open"
**Question**
I created a wrapper for react-bootstrap-table2 for a common use case I have.  I can't explain why but in this implementation, the first click does not open the page list dropdown.  The drop down works as expected in other contexts such as the story book examples.

What happens is in the span element around the page list button.  On the first click, it only gets the "open" class.  Afte

[2020-01-30 17:25] kammasuresh opened #1236 "concurrent or paralle data processing for tables dynamically loading react bootstrap table2"
Hi Allen,

  This is  Suresh. I am using  your component  and managed  all the scenarios. One scenario, I got  stucked. I am explaining the issue. I have   huge amount  of  data array json  with contains  different users..while I was click on the  button , it was loadded no of tables based on the user name..   suppose  user 1 has  500 records, user2 has 300 records..at the moment I manged the code

[2020-01-30 18:03] bernarddoci opened #1237 "How to style selectRow checkbox?"
How can I style selectRow checkbox? I am trying to make checkbox 50 px wide and height with a green background color.

[2020-01-30 19:16] jonathanhamel4 commented on #1233
+1

[2020-01-31 05:34] seare-kidane commented on #1233
The temporary workaround it to ether re-render the entire `ToolKitProvider` using
either `ReactDom` or **IIFE**
[code]
or
[code]

[2020-01-31 21:40] nirkrumer commented on #1209
Hey guys ,
I really need your help on this
What do u think?

[2020-02-02 21:05] amitsetty commented on #1211
I was able to fix this issue by passing my data into columns by doing column = [...data]

[2020-02-03 16:19] reginafcompton opened #1238 "Accessibility issue: Users navigating with `tab` cannot trigger sort functionality"
**Description**
A user navigating the table with the keyboard (i.e., with the `tab` key + `enter` key) cannot trigger the sort functionality.

**To Reproduce**
You can see this behavior in the Storybook example.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Enable%20Sort&full=0&addons=1&stories=1&panelRight=0&addonPanel=

[2020-02-04 01:10] dashName opened #1239 "Can i add dynamic options coming from API to filter?"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2020-02-04 04:28] dotpegaso commented on #214
My `keyField` value is unique and I'm facing the same error... using version `3.3.3`, there's no solution for that yet?

[2020-02-04 06:08] Dev442 opened #1240 "Placing Pagination arrows to the sides of the table instead of page numbers."
I have to move my pagination left and right arrow option to both the sides of the bootstrap-table-next from the bottom. And I don't want the numbers, just the arrows. I am using React,React-Bootstrap-table-next for front end. I have simply render the pagination option in my table . I have searched a lot but couldn't find anything satisfying my query. Here is part of my code for pagination.

[code]

[2020-02-04 09:07] stilllife00 opened #1241 "Detachable custom filter, or programmatic custom filter"
**Is this feature requested before?**
Nope

**Is your feature request related to a problem? Please describe.**
Our business need, is to have all the filters in a separate lightbox and to be able to add multiple filters even on the same column. Right now it is possible to customize the filter component but it gets rendered anyways in the table header or row and this is not as flexible as we need.
I

[2020-02-04 13:22] EmmanuelDemey commented on #1213
You should have a look to this issue #1160

[2020-02-04 14:04] saif55582 commented on #426
Can you explain the solution a bit more? Thanks

[2020-02-04 17:02] jzhou2014 commented on #374
@AllenFang - Is there a way to apply the fixes to the legacy react-bootstrap-table? Thanks, Jin

[2020-02-04 19:38] donkeyDau commented on #1213
@EmmanuelDemey #1160 is from a perspective of a programmer. I'm asking regarding an end user controlling the width of a column.

[2020-02-04 20:15] mazzalab opened #1242 "Roll-back cell edit - is that possible?"
Hi,
is it possible to roll-back cell edit by storing the old value of an edited cell somewhere

[code]
and re-setting it upon triggering of an event?
Is the only viable way that of re-rendering the component?

I pass data to be rendered in the table as props:

[code]

Should I ask to the parent of this component to resend props to this child component containing the "BootstrapTable", even if **pro

[2020-02-04 21:28] jmmadsen commented on #873
@AllenFang @Jayboy75 I recently upgrade my `react-bootstrap-table2-paginator` module to 2.0.6, but I am still getting this accessibility warning - `IDs used in ARIA and labels must be unique`. Do you know if your PR addresses this? Perhaps I upgraded incorrectly.

[2020-02-04 21:29] jmmadsen commented on #873
I am getting this warning on the pagination size dropdown button, and I am just using the standard paginationFactory

[2020-02-05 13:22] Jayboy75 commented on #873
@jmmadsen My PR didn't alter the pagination buttons specifically - I just built out my own custom pagination buttons, which you can do using examples in the docs.

[2020-02-05 14:45] jmmadsen commented on #873
That makes sense, thank you.

[2020-02-06 10:43] g-akshay commented on #702
Try setting the blob type to `blobType: "data:text/csv;charset=utf-8,%EF%BB%BF"`

[2020-02-06 13:38] EmmanuelDemey commented on #1213
Oh I understand now. Sorry.
I do not think that's possible for the moment.

[2020-02-09 02:55] owen-stellar commented on #384
Thanks for all who put the types together for react-bootstrap-table-next.
Has anyone created a types file for the react-bootstrap-table2-toolkit by any chance?

[2020-02-09 04:56] AllenFang commented on #1242
yes, I think I will not implement this feature on `react-bootstrap-table2`, the only solution just like you said, keep the old value then restore it by rerender table component by triggering some actions.

Feel free to let me know if the problem still remain, thanks

[2020-02-09 04:56] #1242 closed

[2020-02-09 05:01] AllenFang commented on #1241
@stilllife00 sorry for lately reply, I still confuse about your requirement and solution, it's better to describe by some pseudo code.  :p

[2020-02-09 05:08] AllenFang commented on #1240
If you only need the left and right arrow button in a customization place, it's better to custom the pagination list completely by yourself

[code]

When user click on right and left button, `PaginationProvider` context provide you a way to change page, please read docs: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#42-customization-everything

BTW, plea

[2020-02-09 05:08] #1240 closed

[2020-02-09 05:28] AllenFang commented on #1239
So far we don't support this feature directly, but I think you can try.

[2020-02-09 05:28] #1239 closed

[2020-02-09 05:30] AllenFang commented on #1238
ok someone open the PR for this, I will review it ASAP, thanks!

[2020-02-09 05:34] AllenFang commented on #1237
please read docs and [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an online example

[2020-02-09 05:34] #1237 closed

[2020-02-09 05:39] AllenFang commented on #1236
I guess the better way to handle this is just render content only in viewport and lazy load/render when user scroll the view. I can be a feature for `react-bootstrap-table2` but I really need some time to handle this. So PR is welcome.

However, I have no idea why IE11 is so slow than chrome. maybe you can try to profiling the page to find the root cause. thanks

[2020-02-09 05:44] AllenFang commented on #1235
hi @mfleonhardt I really can't reproduce this issue lol. If ok, please create codesandbox example online so that I can help, thanks

[2020-02-09 05:44] #1235 closed

[2020-02-09 05:46] AllenFang commented on #1234
Thanks for bug report, @seare-kidane this issue will be better to handle on `UNSAFE_componentWillReceiveProps`. https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/contexts/index.js#L87-L102

anyway, I will fix it soon

[2020-02-09 05:48] AllenFang commented on #1233
sorry for lately reply, I will take a look on this, thanks for issue report.

[2020-02-09 05:50] AllenFang commented on #1231
@flc I add a wrapclass for `thead` and `tbody`, thanks

[2020-02-09 05:57] AllenFang commented on #1232
I think the message is clear enough, it's abnormal in my opinion, please the value of `column.dataField`. It's required value

[2020-02-09 05:57] #1232 closed

[2020-02-09 05:58] AllenFang commented on #1229
@thebradisrad I don't have plan to do the grid view in table component. Sorry about this. :P

[2020-02-09 05:58] #1229 closed

[2020-02-09 07:39] mazzalab commented on #1242
Hi Allen,
Actually, it seems it is possible to access props.data inside a cellCentext and modify it. I managed to do it after a triggering event:

`this.table.cellEditContext.props.data[rowIndex]['columns_name_here'] = 'a_value'`

I don't know if this is an unwanted feature or a bug, but cell content can be modified programmatically also in this way.

regards

[2020-02-09 08:09] #1231 closed

[2020-02-09 08:09] #1233 closed

[2020-02-09 08:18] AllenFang commented on #1231
@flc https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/09/version-bump.html

use [`headerWrapperClasses`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#headerwrapperclasses-string) to add class on `thead`

use [`bodyClasses`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#bodyclasses-string) to a

[2020-02-09 08:19] AllenFang commented on #1233
@seare-kidane fixed this in newest version: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/09/version-bump.html

[2020-02-09 08:19] AllenFang commented on #1234
@seare-kidane fixed this in newest version: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/09/version-bump.html

[2020-02-09 08:19] AllenFang commented on #1238
fixed this in newest version: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/09/version-bump.html

[2020-02-09 08:19] #1238 closed

[2020-02-09 08:21] AllenFang commented on #1230
@kennethliang your code seems unreadable. please update.

[2020-02-09 08:21] #1230 closed

[2020-02-09 08:22] AllenFang commented on #1228
@stevej2608  use standalone component https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#41-use-standalone-component

sample: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20SizePerPage%20Dropdown&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factio

[2020-02-09 08:22] #1228 closed

[2020-02-09 08:23] #1226 closed

[2020-02-09 08:24] AllenFang commented on #1222
docs: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnclasses-string-function

example: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Customize%20Column%20Style&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-02-09 08:24] #1222 closed

[2020-02-09 08:26] AllenFang commented on #1219
`keyfield` should be unique. close it due to can't reproduce. Please share a an example on codesandbox so that I can debug if the problem still remain

[2020-02-09 08:26] #1219 closed

[2020-02-09 08:29] AllenFang commented on #1211
@mazzalab upgrade to newest `react-bootstrap-table-next`, it is fixed!

[2020-02-09 08:29] #1211 closed

[2020-02-09 08:30] AllenFang commented on #1225
@prakashsurya-840 we don't have this feature so far and it's minor feature for me now. sorry. Any PR is welcome. thanks

[2020-02-09 08:30] #1225 closed

[2020-02-09 08:32] AllenFang commented on #1220
hi here, sorry for lately reply, @iamjayantchauhan would you please give me a simple and minimal code on codesandbox so that I can help you, thanks!

[2020-02-09 08:33] AllenFang commented on #1214
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/bootstrap4.html

it work great boss, https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Pagination%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-02-09 08:33] #1214 closed

[2020-02-09 11:42] psfir commented on #1232
Yes, I get that it's clear and the column.,datafield needs to be valued and
it is in actual fact. It's a timing thing where the table renders initially
displays the message because it hasn't received the data. I'm using an
async function to get a json object from a rest service and using await to
wait for the response before calling setState in my React object. Once the
response is received the ta

[2020-02-09 20:40] Michael-Hanley opened #1247 "Accessibility Issue: Sortable table headers not read by sceen reader"
**Describe the bug**
- Table headers, when sortable, are not described by screen readers as sortable.
- When sorted, are not described by screen readers as sorted with their direction.
- When sort is changed, screen readers do not describe new sort configuration

**To Reproduce**
- Requires a screen reader such as [NVDA](https://www.nvaccess.org/download/)

1. Go to a sortable example in the story

[2020-02-10 03:00] gsunsnackv commented on #1219
@AllenFang Can we update the doc to mention that "keyfield should be unique"?

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowmode-string

[2020-02-10 10:02] g-akshay commented on #1191
Any updates on this issue?

[2020-02-10 10:16] g-akshay opened #1249 "CSV export resulting in error for .xlsx"
Getting the following error when trying to use `.xlsx` extension.

I am using the following code: (commented ones are also being tried)
`exportCSV={{
                        fileName: 'filename.xlsx',
                        blobType: "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8"
                        //blobType: "data:text/csv;charset=utf-8"

[2020-02-10 10:33] nirkrumer opened #1250 "Custom searchbar & erase button"
Hey,
I created a custom search bar and custom clear button.
I succeed just to clear the search on the table.
How can i add more commands - for example to clear the text from the input.

Tried to pass two methods to the onclick - doesnt work
or another way create custom button with the relevant handlers- doesnt work
Do you recommend me to do?
![image](https://user-images.githubusercontent.com/38032

[2020-02-10 16:55] seare-kidane commented on #1233
@AllenFang Thanks for the quick fix, I verified columns aren't initialised hidden anymore!

[2020-02-10 17:44] jzelos opened #1251 "Date type support for column data"
**Describe the bug**
The Date type isn't supported for column data. Calling toDateString() on the dates and using as string is fine.

I've checked the latest version 3.3.4 and the problem persists. I've also tried setting the type column attribute to date without success.

The error is reported as:
Error
Objects are not valid as a React child (found: Thu Dec 12 2013 00:00:00 GMT+0000 (Greenwich Me

[2020-02-10 23:34] seare-kidane commented on #1234
@AllenFang Thanks for trying to fix this issue but I'm afraid the issue still exists. I was still able to reproduce using the same steps.

[2020-02-11 07:53] ux-powered commented on #1211
Hi, I upgraded the package version (3.3.4), but the error is still here 🤔. Any workarounds?

![image](https://user-images.githubusercontent.com/39078782/74219011-41a22580-4cf7-11ea-809f-c6557ae4c0b9.png)
![image](https://user-images.githubusercontent.com/39078782/74219028-52eb3200-4cf7-11ea-9462-0bd89640f431.png)

[2020-02-11 08:36] mazzalab commented on #1211
yes indeed, it is not fixed.
It seems that BootstrapTable does not work well with state variables. If possible, try passing props and not state variables to the table.

[code]
it should work.

read also: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/652#issuecomment-566781605

[2020-02-11 08:39] ux-powered commented on #1211
Thank you for the info, I will try it 🙂

[2020-02-11 08:57] thebradisrad opened #1252 "How can I use dot notation to search for nested json array?"
` {
        dataField: 'countries.name',
        text: 'Tags',
}`

The data is like this:
{
   country: [{ id:1, name:Africa },{ id:2, name:Australia}]
}

The country object is an array.

[2020-02-11 09:38] thebradisrad commented on #1252
Figured it out. Here's the solution if you want to search an object with a nested json array:

Add this along with your dataField, text, formatter, etc column.

`        filterValue: (cell, row) => {
         console.log(cell);
          if (cell.length > 0) {
            let string = '';
            cell.map((key, i) => {
              string = key.value + ',' + string;
            });

[2020-02-11 09:39] #1252 closed

[2020-02-11 12:58] ricardobarbosahe commented on #1211
@mazzalab None of the alternatives worked :/ I'm passing the columns through props (tried hardcoded as well), latest versions (react: ^16.12.0, react-bootstrap-table-next: ^3.3.4, react-bootstrap-table2-paginator: ^2.1.0, react-bootstrap-table2-toolkit: ^2.1.2)

The default sort arrow is not in the "active" state at the start, and when I go to another page (using pagination), this arrow appears ac

[2020-02-11 12:59] ricardobarbosahe commented on #652
@amitsetty not even hardcoding the columns work for me :(

[2020-02-11 13:21] AllenFang commented on #1234
@seare-kidane hmm... I can't reproduce it lol anyway,  will double confirm/ thanks

[2020-02-11 13:23] AllenFang commented on #1232
@psfir if the step is initial, you shouldn't render table component, right? If you didn't when `react-bootstrap-table2`, you will not get this issue anymore.

[2020-02-11 13:28] AllenFang commented on #1227
HI @Stefan-Reimer this is minor feature for me so far, because we support a way to let developer to customize the filter they want. So any PR is welcome 👍

[2020-02-11 13:29] AllenFang commented on #1247
@Michael-Hanley thanks your PR, great job for this issue. I will release by this weekend. :)

[2020-02-11 13:32] AllenFang commented on #1249
actually, I'm not sure about your question, we used `file-saver` to save file and they just provide a way to customize the blob type. I think you have to ask this question in their repository https://github.com/eligrey/FileSaver.js/ .

You can open another issue if they or you still think this issue is about `react-bootstrap-table2`

[2020-02-11 13:32] #1249 closed

[2020-02-11 13:40] AllenFang commented on #1250
Hi I found two issue here:
1. should be `props.searchProps.onClear()`
2. I found use custom the search bar(search input) by yourself, which mean you can to clear the test when user hit the clear button. in this case, `react-bootstrap-table2` can only help you to re-render table with correct data but we can not control your component.

Please open an issue if you still don't know how to do it. Than

[2020-02-11 13:40] #1250 closed

[2020-02-11 13:42] AllenFang commented on #1218
@uc2pac I believe something wrong in your code base. [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Cell%20Editing&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is work great!

[2020-02-11 13:42] #1218 closed

[2020-02-11 14:35] Grafomap commented on #652
Same problem here. :/

[2020-02-11 14:36] rudza commented on #652
Same problem here on version 3.3.4

[2020-02-11 14:37] Grafomap commented on #1211
It is not fixed on 3.3.4

[2020-02-11 16:15] Michael-Hanley commented on #1247
Awesome! Thank you!

[2020-02-11 17:56] anderson-custodio commented on #1234
Hi, I'm facing the same problem in version 3.3.4.

[2020-02-11 18:05] nirkrumer commented on #1250
hey
I get now an error on the client

[2020-02-11 18:08] nirkrumer opened #1253 "Erase button to my custom search bar"
Hey,
I created a custom search bar and custom clear button.
I succeed just to clear the search on the table.
How can i add more commands - for example to clear the text from the input.

Tried to pass two methods to the onclick - doesnt work
or another way create custom button with the relevant handlers- doesnt work

For second try i changed to props.searchProps.onClear()

![image](https://user-ima

[2020-02-11 20:38] robinofloxley commented on #1234
I am experiencing this issue also as of 3.3.4. After reverting back to 3.3.3 I am not able to reproduce.

[2020-02-11 21:02] jmmadsen commented on #1211
I'm getting this error as well. I need to use 3.3.4 for the new tab functionality that now works with sorting, but unfortunately this is broken.

[2020-02-12 00:28] jacebot opened #1254 "FilterFactory causing Error: Minified React error #185"
**Describe the bug**
 Error: Minified React error #185;

Based on the above error, I suspect the filter factory keeps calling the setState() function , within the filter object.

But no discernable error message either in console either:
[code]
**To Reproduce**
Steps to reproduce the behavior:

Create a base bootstrap table

Add the filter: object to the columns array (see below)

add the filter={

[2020-02-12 07:28] owen-stellar opened #1255 "Remote datatable with exportCSV"
Is there a way to get exportCSV (all and onlyExportFiltered) to work with remote datatables? It seems like the export call isn't making a call back to my API when pressed on a datatable that is setup as remote.

[2020-02-12 09:02] asaduryan commented on #652
I have same problem because i put my data in state when it comes from api, and give it to table from state, like this.state.data, when i change to this.props.data it works grate

[2020-02-12 09:20] Grafomap commented on #652
My data is also coming from props which passed from parent component, but it still doesnt work.
Can you share your code?

[2020-02-12 15:27] jmmadsen commented on #1238
Hello,

Do either of you know if the row select boxes are keyboard accessible? I can focus on them with the `tab` key, but i cannot select/unselect the row by pressing `enter`, it only registers a mouse click.

It seems like this would be a breaking bug for accessibility as well.

[2020-02-12 15:29] jmmadsen commented on #1238
@AllenFang
To reproduce, use this story example: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Text%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-02-12 15:37] jmmadsen opened #1256 "Row Selection Does Not Support Enter Key Event"
When a table has the row selection column, you are able to navigate using the `tab` key, which is great for keyboard accessibility. However, you are unable to trigger any selection events using the `enter` key, which means keyboard accessibility is only halfway working.

Essentially, `selectRow.onSelect` and `selectRow.onSelectAll` do **NOT** listen for the `enter` key, which breaks keyboard acces

[2020-02-12 16:13] asaduryan commented on #652
@Grafomap there are same in my cod i pass props but in parent component take it from state. Can you give your code and we can try to solve it together

[2020-02-12 16:16] asaduryan commented on #652
@fulin426 code example working only needed to change version ov module to latest

[2020-02-12 16:24] niallpatrickryan commented on #1220
Hi,

If it helps anyone else who has this issue. I had a similar issue with a basic text filter resulting in a max update depth issue. Mine was due to having a sort & a filter on the same column.

Removing the sort eliminated the problem. I didn't dig too deep into the issue but it looked like each filter call triggered the sort function as well.

[2020-02-12 23:44] seare-kidane commented on #1234
@AllenFang I think I understand how I was able to reproduce it consistently; I was updating the columns array property after getting some data via ajax call. I.e. the columns array gets updated asynchronously.

If you wrap your columns array state updater to be inside a `setTimeout()` and give it like 3 sec delay you should be able to see the error.

[2020-02-13 04:16] robinofloxley commented on #1234
To add to the report that @seare-kidane has provided - I too was updating state asychronously, in my case via an async/await fetch within an onClick event on the table rows. Also, the codebase I'm working on uses React classes, and not functional hooks.

[2020-02-13 06:34] daweifeng commented on #1234
@AllenFang  Hi Allen! I am experiencing a similar issue. After digging into the code, I believe there is a problem with [https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/src/contexts/index.js#L87-L93](url) It is the first `if` condition in `UNSAFE_componentWillReceiveProps`.

Let's say if the `nextProps.columns.filter(col => col.sort).leng

[2020-02-13 06:35] Mach-5 opened #1257 "Sort and select combination no longer working in 3.3.4"
Version 3.3.4 appears to have introduced a bug when using sorting and row selection functionality together. It bug seems to only occur when using custom [Selection Management](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Fac

[2020-02-13 15:55] jmmadsen commented on #1256
Just figured out you can use the space bar to select. Might want to add the feature in a future release to also use the enter key, but I will close this for now.

[2020-02-13 15:55] #1256 closed

[2020-02-13 16:59] asaduryan commented on #1211
Try to show table component when data is already loaded i think problem is in loading steps , if table renders but data is not loaded yet sort method doesn't work

try like this

[2020-02-13 17:00] mathiaswillburger commented on #1257
Same here. Since the latest version I am getting immediately the error `Uncaught TypeError: onSort is not a function` after the second sort action. Also the sorting chevrons do not update anymore, which might be related.

Reverting to version react-bootstrap-table-next 3.3.3 solves the issue for now.

[2020-02-13 21:14] hdehal commented on #587
@AllenFang Per https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/177#issuecomment-427662857

Your Storybook demo does not include the actual caret icons/glyphs:
[code]
So I went in and added them to my local test. And oddly enough, the "caret" _CSS_ seems to be missing when I add in the relevant `<span>...<span>` for the carets:
[code]
E.g. the CSS we want that is missing:
[co

[2020-02-14 09:09] g-akshay commented on #1211
Still facing this issue on version `3.3.4`

[2020-02-14 10:27] dmuczynski-nexient commented on #652
for mine to work, i updated the headers which caused my page to re-render.   the sorting worked after that.   i use hooks, so i just did setHeaders after my data loaded.

[2020-02-14 11:50] ricardobarbosahe commented on #1257
@mathiaswillburger did you revert the version of any other package like toolkit if you are using it? Reverting the version of react-bootstrap-table-next to 3.3.3 as you said didn't work for me.

[2020-02-14 11:52] ricardobarbosahe commented on #652
@dmuczynski-nexient can you share a snippet of that code with setHeaders? I don't know what you are talking about there xD

[2020-02-14 16:05] dmuczynski-nexient commented on #652
the hook:  const [headers, setHeaders] = useState([])
in the useEffect (where i download the data), after i set the data, i just do this:
setHeaders(updatedHeaders)
updated headers includes the sort function and is dependent on the data being loaded first.

[2020-02-14 23:55] mathiaswillburger commented on #1257
I am currently working with the following set of package versions where it still works for me for now:

[code]

[2020-02-16 07:16] AllenFang commented on #1257
I will take a look on this issue, thanks for bug report

[2020-02-16 07:32] AllenFang commented on #1234
@daweifeng is correct, it's my stupid mistake for rushing to fix this issue. Sorry about that, I will fix it ASAP.

[2020-02-16 07:51] AllenFang commented on #1251
hey @jzelos please use [column.formatter](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) to handle this. We don't support the native date rendering is because I don't what kind of format your want to be rendered. So you have to deal with it by yourself.

[2020-02-16 07:51] #1251 closed

[2020-02-16 08:02] AllenFang commented on #1253
Guys.... no bug here I think, if you discover hard for `props.searchProps` from `ToolkitProvider`, there's a prop called `searchText`.  So you can just do this

[code]

[2020-02-16 08:02] #1253 closed

[2020-02-16 08:10] AllenFang commented on #1254
@jacebot I can't imagine what case that we have to kill the filter object in state. I will not recommend this way. lol

[2020-02-16 08:10] #1254 closed

[2020-02-16 08:12] AllenFang commented on #1220
lol example please. all the online demos or my local example are work. Please fill another github issue with codesandbox or clear code.

[2020-02-16 08:12] #1220 closed

[2020-02-16 08:13] AllenFang commented on #1199
Thanks @Ymbere

[2020-02-16 08:13] #1199 closed

[2020-02-16 08:14] AllenFang commented on #1209
@nirkrumer sorry for lately reply, I just give answer [here](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1253). So close it.

[2020-02-16 08:14] #1209 closed

[2020-02-16 08:24] AllenFang commented on #1208
@osnofa sorry for lately reply, that is because the top filter is render by another `tbody`, and for example if you add `striped` that will cause this issue. So I think on my end I will not fix this issue but there's a workaround is you can disable bootstrap striped css on first `tbody` and `tr` when you use top filter.

[2020-02-16 08:24] #1208 closed

[2020-02-16 08:32] AllenFang commented on #1206
it work great in online demo https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Bootstrap%204&selectedStory=Row%20selection%20table%20with%20bootstrap%204&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

@osnofa if you feel something wrong, there's a workaround is tweak this rule `.react-bootstrap-table th > .selec

[2020-02-16 08:32] #1206 closed

[2020-02-16 08:36] AllenFang commented on #1255
@owen-stellar `exportCSV` only work in local. I mean it rely on `fileSaver` to download the file from browser. We offered some options to configure the content of CSV file, but so far we don't have feature to export from an API. Any thought on this? You can share what you expect, I can help if I have time lol

[2020-02-16 10:34] nirkrumer commented on #1253
Yes!!
It worked finally
Thanks!

On Sun, Feb 16, 2020 at 10:02 AM Allen <notifications@github.com> wrote:

--

Nir Krumer

Business Applications Manager

*E-Mail: *nir.krumer@naturalint.com <eddie.oz@naturalint.com>

*Mobile*: +972 (0)50-8248181

[2020-02-16 14:33] AllenFang commented on #1234
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/16/version-bump.html

try the newest version and let me know if the issue still remain, thanks!

[2020-02-16 14:33] #1234 closed

[2020-02-16 14:34] AllenFang commented on #1247
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/16/version-bump.html

upgrade to `react-bootstrap-table-next` to newest version

[2020-02-16 14:34] #1247 closed

[2020-02-16 14:35] AllenFang commented on #1257
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/02/16/version-bump.html

please upgrade to newest version, this bug is a side effect when we handled the sorting issue

[2020-02-16 14:35] #1257 closed

[2020-02-17 05:57] syedganisb commented on #1006
i resolved this issue i have added below logic it willl  working fine
 render() {
        parentThisObject = this;
        var icon = document.querySelectorAll('.expand-cell')
        for(var i=0;i<icon.length;i++){
            if(icon[i].textContent=="(+)"){
            icon[i].style.cursor='pointer'
        }
        }
}

[2020-02-17 13:18] Moki-19 opened #1260 "Update react-transition-group dependency"
`react-bootstrap-table-next` depends on a old version of `react-transition-group` (2.5.3) that triggers a react deprecation warning :

[code]

So a nice improvement would be to update `react-transition-group` to its last version in the next release.

Thanks

[2020-02-18 07:30] owen-stellar opened #1261 "SizePerPageDropdownStandalone Button is submitting form"
**Describe the bug**
I want to use the datatable inside of a form, however the pageDropDown button that is created for selecting how many items per page to view is submitting the form as a type isn't set for that button. Can you please set the type="button" on the button or allow us to pass this into the SizePerPageDropdownStandalone component as an option?

Also, I want to use the SizePerPageDrop

[2020-02-18 11:17] mendismenon commented on #984
Do you have a sample code? If yes, please share. I am struggling to find a fix for that.

[2020-02-18 15:46] flc opened #1262 "unexpected column toggle behavior"
**codesandbox**
https://codesandbox.io/s/blissful-voice-8c3xj

Instructions to reproduce problem:
1. Turn off K1 column by clicking the 'K1' button
2. Values belong to the K1 column now appear at the K2 column, K2 values are disappear.
3. Turn off the K2 column as well. Then turn on K2, than K1. The result is that both K1 and K2 columns show the values of K2.

If the column definitions that are co

[2020-02-18 16:36] owen-stellar commented on #1255
Understood. I think from an expectation perspective simply having a property where we can pass in a function that should be called to retrieve the data that returns the dataset to the datatable might be good enough. That would provide the flexibility to get all, or visible. Ideally it gets passed in any exportCSV configurations that have been set.

[2020-02-18 17:24] Nervanas opened #1263 "Changing attribute values afterwards"
Hello,

I created a table where I need to modify data (especially content and styling) of specific cells, _after_ creation (during runtime).

Are there any implementeds methods on doing so - currently im struggling?

Thanks for your help.

Edit: To be more specific: I have checkboxes as values and after pressing a button (like submit or something like that) I want to change the cells i.e. where th

[2020-02-18 17:45] fahmidamostafaml commented on #984
Simply like this:

[code]

[2020-02-18 18:25] CACDX opened #1264 "The formatter property don't work, only work if the columns are defined inside of the component."
I have the columns defined in a other file, i want to import the columns and use it. All the columns work, but the column that have a button is show nothing. Only work if  i put the columns inside of component that render the table. It's possible to make it from the outside and importing the columns?

Here is my code:

File columns.js
import { Type } from 'react-bootstrap-table2-editor';

export c

[2020-02-20 06:18] dackalacbayo commented on #868
@AllenFang any updates? 😄

[2020-02-20 14:20] stilllife00 commented on #1241
I was able to obtain this with a programmatic custom filter for every column.

https://codesandbox.io/embed/react-bootstrap-table2-clear-search-bar-and-filter-5kqtu?fontsize=14&hidenavigation=1&theme=dark

I just feel this is more laborious because it is not possible to use any of the filters provided by the library if we want to render them **outside** of the table. I think this is an important r

[2020-02-20 14:20] #1241 closed

[2020-02-20 14:24] stilllife00 opened #1265 "Filter by selected rows"
**Is this feature requested before?**
Nope

**Is your feature request related to a problem? Please describe.**
My requirement is to filter rows (display only rows) that are selected.

**Describe the solution you'd like**
Right now the filters can be attached to any custom column but not to the selection column.

**Describe alternatives you've considered**
Filter the dataset myself and feed to the

[2020-02-20 18:34] amaline opened #1266 "Column toggle state gets reset with selectRow"
**Question**
When I click on a row that has a selectRow function defined (which sets state on another component) the state of the column toggle gets reset to the original and the table gets reset to the original columns. Do I need to be doing something in my selectRow method to keep the column toggle state?

It seems like during rendering the packages/react-bootstrap-table2-toolkit/context.js UNSA

[2020-02-20 18:51] thebradisrad commented on #921
To solve this issue, go into the folder modules/bootstrap/bootstrap.scss and comment out "@import reboot". Or find the specific part inside that _reboot.scss file and comment it out. It is is a top level styling that overrides other styles.

[2020-02-20 20:44] remoroethlisberger commented on #1097
Hi @AllenFang,

I hope you are well. I am reaching out to you because the suggested solution is no longer working as I get an `Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.
sentryWrapped — index.js:3228
https://sentry.io/api/18567

[2020-02-20 23:41] remoroethlisberger commented on #1097
I actually found a work around. However, I am still curious why the above happens when following your guidelines... Did something change?

Also more general question: Is the onFilter function not called if I pick the "all value" / "placeholder" value? I think I need that in order to reset the options.

Or if anyone has a better idea, please let me know how I can achieve the dynamic options for sel