[2020-02-21 03:19] raj3292 commented on #519
Its working right now, seems its resolved in latest updates. thanks.

[2020-02-21 06:55] stilllife00 commented on #1265
Another alternative that I found:

add a dummy empty column just for this purpose. Attach a custom filter on that column and in the onFilter add the logic to return only the selected rows.

This works but I find it a bit hacky (I would always need an extra special column + custom filter)

[2020-02-21 21:21] seare-kidane commented on #1234
@AllenFang Sorry for the late response, I now got a chance to verify the fix and I'm able to confirm sorting works after columns array update!

And @daweifeng thank you for quickly fixing submitting a fix!

[2020-02-22 06:32] AllenFang commented on #1261
@owen-stellar will do, thanks!

[2020-02-22 06:49] AllenFang commented on #1255
@owen-stellar there's a workaround but not sure if you can accept it:

[code]

Please open another issue if you have any other question, thank!!

[2020-02-22 06:49] #1255 closed

[2020-02-22 06:58] AllenFang commented on #1262
@flc it's not a bug, you have to use `dot` to describe the nest data instead of `__`
`dataField: extra_data__k1` -> `dataField: extra_data.k1`.

[2020-02-22 06:58] #1262 closed

[2020-02-22 07:04] AllenFang commented on #1263
about cell content, we have [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function), you can use it to customze the cell content

about cell styling, classname etc, you can use [`column.style`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function) or `[column.cl

[2020-02-22 07:04] #1263 closed

[2020-02-22 07:11] AllenFang commented on #1264
@CACDX
1. I don't know what's mean for "don't work" here
2. Please follow the instruction to open an issue and create a simple and minimal example on codesandbox. That will be easy for contributors to identify and reproduce your issue.

[2020-02-22 07:20] AllenFang commented on #1265
hi @stilllife00 boss,

I think there're couple ways to achieve it
Your workaround is great. My opinion is maybe you can consider to custom the selection header

1. add a custom component in selection header
2. when user trigger filter action, don't use custom filter function, you can just filter selected row and render table again with new data by setState or other ways.

I will consider to put th

[2020-02-22 07:29] AllenFang commented on #1266
[code]

[2020-02-22 10:48] flc commented on #1262
What about the cases when in remote mode a different query parameter (and not `dataField`) has to be used for server side API calls?
For example `a__b` instead of `a.b`  Do you have a suggestion how to handle these cases?

[2020-02-22 14:30] CACDX commented on #1264
[![Edit dawn-forest-sdyrm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/dawn-forest-sdyrm?fontsize=14&hidenavigation=1&theme=dark)

In codesandbox look great, but in my project not. In my case the buttons don't appears, i don't know why.  In the  bootstrapTable column props, if i put a variable that reference to a constant imported it's work fine, the button in

[2020-02-22 20:37] owen-stellar commented on #1255
Thanks @AllenFang. We're moving forward with a custom component where file generation will be handled on the server. I appreciate the workaround though!

[2020-02-23 08:28] AllenFang commented on #1264
@CACDX lol yeah, the codesandbox look good for me... and your above code is unreadable. BTW, I saw you call `addbuttonMenu` twice for `ToolKitProvider` and `BootstrapTable`, I will suggest you call once like:

[code]

[2020-02-23 08:29] AllenFang commented on #1264
BTW, I still can not reproduce this issue. so please show me an online case, thanks!

[2020-02-23 09:25] AllenFang commented on #1201
Not enough information to reproduce it. So close it. Please open another issue and follow the instruction to create an clear issue description. thanks

[2020-02-23 09:25] #1201 closed

[2020-02-23 12:16] ImSolitude commented on #1036
@AllenFang I am getting the issue again, Not sure what's wrong this time even though I have it all updated, This is my [ToolkitProvider](https://codesandbox.io/s/html-css-3bfkj?fontsize=14&hidenavigation=1&module=%2Ftable.js&theme=dark)

[2020-02-24 06:54] Liteolika opened #1267 "Toggle filters"
Is there any way to toggle the filters for a table?
The only way i could think of to do this right now, is to show/hide a certain row in the table.

[2020-02-24 16:31] sudheer0725 opened #1268 "Adding filter, throwing "cannot read property 'header-text' of undefined"
@AllenFang thank you
I have data which i am getting from REST API and i am adding columns based on data keys as below,

Issues is if i remove filter, then data is loading perfectly. But with filter its throwing error.
Please help me on this, did i missed anything or is it an issue in package.

Version:
    "react-bootstrap-table-next": "^3.3.5",
    "react-bootstrap-table2-filter": "^1.3.0",
    "

[2020-02-24 17:49] amaline commented on #1266
I solved my issue by using a custom onColumnToggle method

[code]

[2020-02-25 05:26] buacula opened #1269 "Set id for filter explicitly instead of id={ `text-filter-column-${text}` }"
**Is your feature request related to a problem? Please describe.**
It's fine if only one table is rendered, but if you render several tables with the same column text of exp. 'User', then there would be a lot of non-unique id warnings.

**Describe the solution you'd like**
Also to pass id props to text, number, date, select, multiselect filter.

Thanks very much!

[2020-02-25 16:13] ottosson opened #1270 "Table does not render new cells when adding columns to table"
**Describe the bug**
When I add columns to my columns object the new cells won't render properly until I activate edit cell for every row.

**Screenshots**
![image](https://user-images.githubusercontent.com/3355320/75265628-77640580-57f1-11ea-91f2-11ce27d93215.png)

**codesandbox**
https://codesandbox.io/s/frosty-wind-94u38

[2020-02-25 16:44] kgonzale opened #1271 "Missing types..."
[code]

Has there been any updates on the types associated with the library? I keep having //@ts-ignore
anything related to the library because typescript screams at me.

I'm on typescript 3.7.3 if that helps any.

[2020-02-25 17:22] avichaigrunseid opened #1272 "when selecting time in the table the time isn't changing"
when selecting a time in the table the time isn't changing.
I'm using the date picker.
when I'm changing the time outside the table it is working.

herby by screenshots:

Not working:

![image](https://user-images.githubusercontent.com/53261178/75321326-2dbefd80-5879-11ea-9e96-297a611e7e7f.png)

working:

![image](https://user-images.githubusercontent.com/53261178/75270904-0548ec00-5804-11ea-96dd-

[2020-02-26 03:04] thebradisrad opened #1273 "Found 2 elements with non-unique id #search-bar-0"
When using with react bootstrap modal, if the page currently has a bootstrap table and opening a modal which also have a bootstrap table, the follow warning pops up:

[2020-02-26 03:16] thebradisrad commented on #1273
Solved:

Add the tableId prop to the <Searchbar> component and changed it to another number as the default is 0

[2020-02-26 03:16] #1273 closed

[2020-02-26 10:29] dstruyve commented on #617
Hi @AllenFang, Were you able to put this feature on the roadmap? The example image on the homepage looks promising, but I cannot find an implemented example of the multiple header rows.

[2020-02-26 12:06] CACDX commented on #1264
Sorry for the code, we are begginers in react. I looked the codesandbox, and I modified something and now it's don't look good, that look has my project.

 [![Edit silly-violet-61k8h](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/silly-violet-61k8h?fontsize=14&hidenavigation=1&theme=dark)

The idea is get the columns of a context, that it's be initialice with a

[2020-02-26 13:25] rudza commented on #1211
I fixed the issue by updating to v3.3.5

[2020-02-26 18:48] CACDX commented on #1001
Hi ! There are other way? Because I use functional component, and I make a request for each row for get data, I tried with hook and figure out in a loop infinite, never finish and throw a request limit.

[2020-02-27 08:12] lidaguang1989 commented on #956
I use expandRow.expandHeaderColumnRenderer redener a div element, then stop the propagation. It is works well.
The code as below:
<div onClick={(e) => { e.stopPropagation() }}></div>

[2020-02-27 09:15] amitsetty commented on #981
Would also love to see this in the future!

[2020-02-28 02:58] itgelo opened #1274 "Pagination Go to"
is there a feature to show "go to" text input in pagination?

[2020-02-28 17:33] MaheshYTech commented on #1199
Thanks Xavier

On Sun, Feb 16, 2020 at 1:43 PM Allen <notifications@github.com> wrote:

[2020-03-01 17:18] haqim007 commented on #888
@AllenFang Do you have example of using SizePerPageDropdownStandalone at the bottom align on the left and PaginationListStandalone align on the right?

[2020-03-01 17:43] haqim007 opened #1275 "SizePerPageDropdownStandalone custom style"
How to customize SizePerPageDropdownStandalone style? Thank you

[2020-03-02 10:06] gauravshankar commented on #887
@AllenFang : I am having issues in using Styled Component with react-bootstrap-table.
Please have a look at sandbox url : https://codesandbox.io/s/loving-hopper-bn74p

I am trying to set background but not able to do it. (Not able to style via style component.)

[2020-03-03 18:14] dacevedoatfluid commented on #384
@owen-stellar We use @cancerberoSgx 's base, developing the types as we need them. There are still lots of any which isn't ideal for publishing but it works.

https://gitlab.com/fluidattacks/integrates/-/blob/master/front/src/typings/react-bootstrap-table-2/index.d.ts#L267

hopefully on this thread people contributes towards the goal of publishing them on DefinitelyTyped

[2020-03-03 21:31] lham commented on #943
Hey @AllenFang I'm in the same situation as described in this issue. How would I go about to create a custom `<PageListRenderer { ....paginationProps } />` component you mentioned? How to I get it to receieve the `{pages, onPageChange}` props?

[2020-03-04 07:33] GamertagsRLame opened #1276 "Standalone Pagination components need to support 'bootstrap4' prop"
If the PaginationProvider component is used along with any of the standalone Pagination components (SizePerPageDropdownStandalone, PaginationTotalStandalone, PaginationListStandalone) and the PaginationProvider wraps the BootstrapTable component (as in the examples), it is not possible to 'configure' the standalone Pagination components with the 'bootstrap4' prop.  Specifying it on the BootstrapTa

[2020-03-04 14:33] gustavoergalves commented on #1191
I am having the same problem... Any solution?

[2020-03-05 10:16] donkeyDau commented on #243
Same here: I render inputs into cells and on re-rendering the focus is lost. Did anyone found a workaround on this?

[2020-03-06 07:41] shubham-prasad commented on #612
You can also add class **table-responsive** to _BootstrapTable_ element. This will result in the table becoming scrollable horizontally but there will be no overlap between the columns.

[2020-03-06 13:09] avichaigrunseid commented on #1272
Hi @AllenFang

Any update?

Thanks

[2020-03-07 05:30] AllenFang commented on #1276
@GamertagsRLame it's not an issue, standalone component support bootstrap4

Take below code to explain:

[code]

at above case, `paginationProps` contain `bootstrap4` prop and you have to pass them down to standalone component and all of the standalone component take `bootstrap4` prop to do the corresponding handling. I just prove bootstrap 4 is work well in my local by above example.

Please open

[2020-03-07 05:30] #1276 closed

[2020-03-07 05:33] AllenFang commented on #1275
You can use `className` prop to add custom class name on dropdown component. so far we don't support the `style`. BTW, there're few props you may be interesting: `btnContextual`, `variation`

docs: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#41-use-standalone-component

[2020-03-07 05:33] #1275 closed

[2020-03-07 05:34] AllenFang commented on #1274
@itgelo so far I don't have, any PR is welcome. I guess the workaround is you can custom the pagination list to put an input box. We support rich functions to allow developer to custom the pagination components.

Please open another issue ticket if you have any issue or questions, thanks

[2020-03-07 05:34] #1274 closed

[2020-03-07 05:36] AllenFang commented on #1272
hi @avichaigrunseid boss, your information is not enough foe me to debug or reproduce. Please follow the instruction to open a valid ticket to that I can help you effective.  (Give clear steps and a codesandbox example to reproduce your issue(Keep example minimal and simple))

[2020-03-07 05:36] #1272 closed

[2020-03-07 05:39] AllenFang commented on #1271
@kgonzale I don't support the TS officially. sorry about this.

you can make a type or reference https://gitlab.com/fluidattacks/integrates/-/tree/master/front/src/typings

[2020-03-07 05:39] #1271 closed

[2020-03-07 05:51] AllenFang commented on #1270
@ottosson it;'s not an issue, the problem is you can't mutate the any props data, particular in React world:

[code]

After you adopt above change, the table will render correctly.  in addition, you can't also mutate columns as well.

[2020-03-07 05:51] #1270 closed

[2020-03-07 06:07] AllenFang commented on #1269
@buacula I will handle this, thanks

[2020-03-07 06:52] AllenFang commented on #1268
@sudheer0725 I can't reproduce this issue. please open another issue and follow the instruction to open a valid issue, note: please give an online codesandbox example so that I can reproduce and debug your case.

Note, please remember: don't mutate the data and column, in the react world, the props should be immutable, so please follow the correct to update column and data. thanks

[2020-03-07 06:52] #1268 closed

[2020-03-07 06:56] AllenFang commented on #1267
hi @Liteolika boss, sorry that we don't have any mechanism to toggle the filters now. But you can still custom it by yourself, for example, when user click something, you remove the `filter` props from a specific column then rerender.

Please let me know if you have any other questions or issues. thanks

[2020-03-07 06:56] #1267 closed

[2020-03-07 06:57] AllenFang commented on #1266
💯

[2020-03-07 06:57] #1266 closed

[2020-03-07 07:40] #1260 closed

[2020-03-07 07:40] #1221 closed

[2020-03-07 07:40] #1269 closed

[2020-03-07 07:40] #1261 closed

[2020-03-07 07:45] AllenFang commented on #1261
@owen-stellar please update all the packaged listed in [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/07/version-bump.html)

for the id issue you mentioned above, please assign an unique `id` prop on each `BootstrapTable` component

[2020-03-07 07:46] AllenFang commented on #1221
@Popov85  please update all the packaged listed in [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/07/version-bump.html)

for the id issue you mentioned above, please assign an unique `id` prop on each `BootstrapTable` component

[2020-03-07 07:46] AllenFang commented on #1269
@buacula  please update all the packaged to newest
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/07/version-bump.html

[2020-03-07 07:46] AllenFang commented on #1260
@Moki-19  please update all the packaged to newest
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/07/version-bump.html

[2020-03-07 15:25] paroxyzm opened #1278 "How do I turn off tooltips on hovering over pagination items?"
Hello!

I'm struggling with disabling tooltips on hovering over pagination items.

This can be seen in examples for pagination:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20Pagination%20Total&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

When you hover over any item th

[2020-03-07 17:33] kevinashworth opened #1279 "Make hidePageListOnlyOnePage work on PaginationListStandalone"
**Is this feature requested before?**
I don't see this requested before.

**Is your feature request related to a problem? Please describe.**

https://codesandbox.io/s/vigilant-tdd-owuxk
Load the sandbox, then select any page size over 10, and you'll see a pagination list that says "1", even though `hidePageListOnlyOnePage: true`.

**More info on what I see in the code**
TLDR: The same classes and

[2020-03-08 06:10] GamertagsRLame opened #1280 "Standalone Pagination components do not honor 'bootstrap4' prop passed to PaginationProvider"
If the PaginationProvider component is used along with any of the standalone Pagination components (SizePerPageDropdownStandalone, PaginationTotalStandalone, PaginationListStandalone) and the PaginationProvider wraps the BootstrapTable component (as in the examples), specifying the 'bootstrap4' prop to the PaginationProvider does not propagate the prop to its child standalone Pagination component.

[2020-03-09 03:26] owen-stellar commented on #1261
Thanks Allen!

[2020-03-09 10:07] reposman33 opened #1281 "use rowClasses with modular css"
To get to use modular css in my React app I renamed the styles..scss to styles.module.scss and changed the import in index,js from
[code]
to
[code]
I have to apply the styles using the {} syntax:
[code]
This works fine - React creates a random attribute on the host element of the component and the attached css ruleset. The problem is with applying rowStyles in React Bootstrap Table2.
I want to sty

[2020-03-09 16:41] paulsjohnson91 opened #1282 "Column width reset when loading data from api source"
**Describe the bug**
I've set the column with for my ID column using
`headerStyle: (column, colIndex) => {
      return { width: '300px' };
    }`

However my row data comes from an api call so is updated after the table is rendered. When the table initially loads, with no data in it the width is correct at 300px however when the data is added the column reverts to small so that 3 words are split

[2020-03-09 19:05] sudir81 commented on #882
@noeljoaquin30 i have same issue, the drop down button it self navigating to "/step" page. Is this fixed in your case?

[2020-03-10 14:36] nirkrumer opened #1283 "Editing cells inside the table"
Hey,
I'm trying to configure several of the table columns as editable
The issue is that the new value isn't been saved in a stable way.
For now, just the first row of the table is been saved.
When I change the values in the second row, it's not being saved, and then it rewrites these values (of the second row change) to the first row.
![image](https://user-images.githubusercontent.com/38032506/763

[2020-03-10 16:17] BrettBBB opened #1284 "table overlay with filterFactory filterPosition="top""
I believe the original intent of the table overlay is to cover the data area that is in async. However, while using the filterFactory with filterPosition="top" that creates another row below the header. This new row now takes the position of the overlay instead of the data area of the table.

Is there an easy fix for this using overlayFactory styles or may you consider this a bug to change the def

[2020-03-10 19:20] josedager opened #1285 "Data as HTML"
Before i send the data content i do some text transformations and add HTML tags but when the table is rendered, the HTML weren't interpreted. Is there a way to make HTML tags renderable ?

[2020-03-11 01:56] LRode opened #1286 "Resetting all filters while using a customFilter()"
Hi there, I've been loving using this library, but I've just run into a snag.

It's just been requested that I add a 'Reset all filters' button to my tables, however I have quite a complex table setup using a lot of `customFilter()`s. I set it up following the example [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedSto

[2020-03-11 15:23] gosticks opened #1287 "Pagination Options changes not updating the table"
First of all thank you for the great work on the library!

**Question**
With a previous version of the lib changes to the pagination options would be reflected by the table by default. I have checked the pagination [state-context.js](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/02cdbb5338e438c4b748143a3a9494a34aa5b04d/packages/react-bootstrap-table2-paginator/src/state-cont

[2020-03-12 11:50] vtarelkin-comprehend opened #1288 "exclude cell from selectRow"
Good day. Thank you for your work!

I tried to implement onRowClick with the help of options but with no luck (maybe because I hover the table rows?) so I choose to use selectRow approach.

I've got a table with
`
                selectRow={{
                    onSelect: handleClickSelectRow,
                    hideSelectColumn: true,
                    clickToSelect: true,
`
params and I have

[2020-03-13 14:35] garridio85 commented on #338
I have the same issue as above.. Did this ever get fixed? I followed the guide from the storybook documentation

[2020-03-13 16:27] YassienW commented on #912
Hey folks, i know it's late but i just submitted PR #1289  that fixes the height problem @elmoro666 has, i'd appreciate testing it before/after release. The PR also adds a prop to opt out of animating the expansion.

[2020-03-14 09:06] AllenFang commented on #1278
@paroxyzm I will add a prop to allow developer to disable the title on the button, thanks!

[2020-03-14 09:26] AllenFang commented on #1264
@CACDX seems like react context can't not consume the value which contain a function. if you print the columns props before rendering, you will find the `formatter` method is disappear

[2020-03-14 09:26] #1264 closed

[2020-03-14 09:38] AllenFang commented on #1279
@kevinashworth I will fix it in next version, thanks

[2020-03-14 09:46] AllenFang commented on #1280
@GamertagsRLame got it, i will fix in next version, thanks!

[2020-03-14 22:31] vtarelkin-comprehend opened #1290 "Is it possible to do custom checkbox style?"
I spent many hours, but I couldn't find a way to customize the apperance of checkbox to be and behave like the checkbox on the pic.
Is it possible?
I've found https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1237
but I really can't get it. Could you please provide an example with changing bgColor?
And if it possible to remove annoying "-" in checkbox header?
![ch](https://use

[2020-03-15 07:27] AllenFang commented on #1281
@reposman33 would you please create an example on codesandbox so that i can reproduce your issue? thanks!

[2020-03-15 07:34] AllenFang commented on #1283
@nirkrumer I can run your code and it's hard to reproduce it. PLEASE CREATE A CODESANDBOX EXAMPLE SO THAT WE CAN HELP YOU EASILY. PLEASE KEEP IT SIMPLE AND MINIMAL.

BTW, PLEASE FOLLOW THE INSTRUCTION TO CREATE AN ISSUE. THANK. LET'S CLOSE THIS ISSUE AND PLEASE OPEN ANOTHER ISSUE WHEN U ARE READY.

[2020-03-15 07:34] #1283 closed

[2020-03-15 07:38] AllenFang commented on #1290
Custom checkbox on the header
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowselectionheaderrenderer-function

Custom cell style on the header
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowheadercolumnstyle-object-function

Custom cell style on the body
https://react-bootstrap-table.github.io/r

[2020-03-15 07:38] #1290 closed

[2020-03-15 07:43] nirkrumer commented on #1283
+Avichai Grunseid <avichai.grunseid@naturalint.com>
FYI

On Sun, Mar 15, 2020 at 9:35 AM Allen <notifications@github.com> wrote:

--

Nir Krumer

Business Applications Manager

*E-Mail: *nir.krumer@naturalint.com <eddie.oz@naturalint.com>

*Mobile*: +972 (0)50-8248181

[2020-03-15 07:57] AllenFang commented on #1286
@LRode add below code in your `DropdownFilter`:

[code]

Following is my example:

[code]

[2020-03-15 07:57] #1286 closed

[2020-03-15 08:02] AllenFang commented on #1288
You can consider to use `stopPropagation`, https://developer.mozilla.org/zh-TW/docs/Web/API/Event/stopPropagation

[2020-03-15 08:02] #1288 closed

[2020-03-15 08:05] AllenFang commented on #1285
@josedager can you give me more information, I'm not clear about your question.

[2020-03-15 08:27] #1278 closed

[2020-03-15 08:27] #1279 closed

[2020-03-15 08:27] #1280 closed

[2020-03-15 08:33] AllenFang commented on #1278
@paroxyzm [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/16/version-bump.html)

Please upgrade `react-bootstrap-table2-paginator` to `2.1.2` and add `disablePageTitle` as true in pagination config.

Thanks

[2020-03-15 08:33] AllenFang commented on #1279
@kevinashworth [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/16/version-bump.html)

Please upgrade `react-bootstrap-table2-paginator` to `2.1.2`

Thanks

[2020-03-15 08:33] AllenFang commented on #1280
@GamertagsRLame [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/03/16/version-bump.html)

Please upgrade `react-bootstrap-table2-paginator` to `2.1.2`

Thanks

[2020-03-15 08:48] paroxyzm commented on #1278
Thank you!

[2020-03-15 14:50] kevinashworth commented on #1279
Great!

[2020-03-15 15:09] vtarelkin-comprehend commented on #1290
Thank you, but I've read this. I need only checkboxes, there is no examples, but
[code]

Well, my code is
[code]
doesn't work for me - it doesn't even shows a checkbox. What am I doing wrong?

[2020-03-15 15:38] vtarelkin-comprehend commented on #1288
thank you!
cool, works like a charm ;-)

[2020-03-15 16:22] vtarelkin-comprehend opened #1292 "No width formatting via headeStyle for a column with 1 icon inside?"
Good day,
I've made a table with an icons I want to click in the end of the table.

[code]
I cannot make my column to meets that size. When I set !important it ruins the table

![image](https://user-images.githubusercontent.com/46703134/76705576-307f7680-66f2-11ea-82eb-6a422a07b9be.png)
This is the pic with width set to 1 px. I want those icons to be clickable and to be close to each other

[2020-03-15 18:09] tommiii opened #1293 "CSV Export with onlyExportSelection doesn't export first row (if it's the ol)"
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Export%20CSV&selectedStory=Only%20Export%20Selected%20Rows&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Select the first row, then export.
The CSV doesn't contain it.

[2020-03-16 14:38] alenstdev commented on #550
Yes, If you want to display absolutely nothing, you need to set `style` and `headerStyle` options from  `{'visibility': 'hidden'} to {'display': 'none'}`

[2020-03-16 15:25] johollmann opened #1294 "sizePerPageList custom text is replaced by value after selection"
**Question**
is it corect behaviour, that the custom label e.g. "All" is replaced with the value after selecting it?
yot can see it in the storybook [Custom Pagination](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

*

[2020-03-16 18:18] LRode commented on #1286
It works! Thank you so much @AllenFang!

[2020-03-17 10:29] hilo2120 commented on #609
I still have this issue with custom filter (react-datepicker2),
I'm using react-bootstrap-table2-filter version 1.3.1

[2020-03-19 11:10] MahiBaghel opened #1295 "Need to redirect to first page"
How can i redirect to first page whenever i change sizeperpage

[2020-03-19 11:31] mrclaudiotrocelo opened #1296 "selectionRenderer - dynamic selection render by data of row"
It's possibile to dynamic render the selectionRender by data of row? I don't see the row data in function selectionRenderer:
      selectionRenderer: ({ mode, checked, disabled }) => (

      ),

[2020-03-19 11:49] mrclaudiotrocelo opened #1297 "dynamic non selectable row by data of each row?"
It's possibile to dynamic say not selectable row by data of row?

[2020-03-19 13:20] nirkrumer opened #1298 "Editing cells inside the table"
Hey,
I'm trying to configure table columns as editable
The issue is that the new value isn't been saved in a stable way.
For now, just the first row of the table is been saved.
When I change the values in the second row, it's not being saved, and then it rewrites these values (of the second row change) to the first row.

As Allen requested:
@nirkrumer I can't run your code and it's hard to reprodu

[2020-03-19 13:53] boomdrak opened #1299 "Cant get selectRow to work"
**Work perfectly without selectRow**
Have tryd with and without bootstrap4 option and all removing other props.
Any hints or tips? :)

[code]

Error:

[2020-03-19 22:09] hunterxxx commented on #553
First,  add this to your component
`import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';`

then, add bootstrap4 in
[code]

[2020-03-19 22:43] jlcityofglass opened #1300 "Row selection checkbox not centered"
Seems like an issue in the `react-bootstrap-table2.min.css`
.react-bootstrap-table td>.selection-input-4,
.react-bootstrap-table th>.selection-input-4
**{margin:-4px}**

Changed margin to `4px` and the checkboxes are centered.

[2020-03-20 10:15] AliceChang-99 opened #1301 "text overlap after import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'"
**Question**
text overlap after
import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'

If remove this import, there will be no sort icon shown up.
How to correctly show icon and avoid text overlap at the same time?

**codesandbox**
https://codesandbox.io/s/react-bootstrap-table-2-ii9g8

[2020-03-20 12:49] vhbert commented on #943
I'm having the same issue here, @lham did you get this resolved ?

[2020-03-20 13:06] lham commented on #943
@vhbert I ended up with more of a workaround, creating my own component replacing the `<PageListRenderer>` following the code in the library. I'll just make a code dump and hopefully you can replicate it in a way you want :)

Here is the component
[code]

which I then use like this:
[code]

[2020-03-20 13:28] vhbert commented on #943
Thanks for the very quick answer, your solution works like a charm.
I'll just have to write some more typings for it since I am using TypeScript.

Thanks again for your help

[2020-03-21 00:12] avindra opened #1302 "Impossible to use data with dots in the keys"
If I push some data to the table that has dots in the response, for example

[code]

The table is unable to handle the data. I think there is a feature that uses dots somehow, but that should not prevent being able to pass in this kind of data.

Otherwise, people are having to write transformations, like removing the dots, which breaks integrity of data across your app, and causes the need for ina

[2020-03-21 00:22] avindra opened #1303 "ToolkitProvider implementation requires prop spreading"
The [Toolkit Provider](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/toolkits-getting-started.html#usage) demands that you must spread out props onto `BootstrapTable`.

[code]

As stated, one must `prop-spread` onto `BootstrapTable` to use the toolkit provider... and prop spreading is a known source of problems in react...

## Background on prop spreading

To use `TableProvid

[2020-03-21 13:37] AshwinTayson commented on #1176
This is not the right way to handle it. There should be default handler like No data found for columns as well.

[2020-03-23 11:37] PriyaSahi opened #1304 "please give me some reference for add new row functionality"
HI,

Please provide me some sample code to add new row functionality as am not getting anywhere by searching with react bootstrap table2. As am new to react js am not able to debug it properly. Please help me.

Thnk you in advance

[2020-03-23 17:37] avindra commented on #1304
@PriyaSahi maybe the editor sub-package can fulfill your use case: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html

[2020-03-23 23:40] juanruben opened #1305 "Date picker in filter not working in Safari Desktop"
Not showing date picker at all

![Screen Shot 2020-03-23 at 20 39 48](https://user-images.githubusercontent.com/7572389/77373228-72d63280-6d46-11ea-87f4-c2e59eeb73d3.png)

**Describe the bug**
A clear and concise description of what the bug is. In addition, please search issues before you open a report to make sure there's no any duplicated report

**To Reproduce**
Steps to reproduce the behavior:

[2020-03-24 04:37] xiaoleATRI opened #1306 "Is there a way to set up defaultValue in customFilter"
**Question**
Hi, there:
I was trying to create a custom filter by using react-select. The idea is that the defaultValue is set up in react-select once the component is mounted. In the meantime, the defaultValue will be passed to onFilter function so that the table contents will be changed accordingly.

The problem I'm having now is that there is no way for me to set up a defaultValue in the custom

[2020-03-24 06:20] vtarelkin-comprehend commented on #1290
@AllenFang ? please could you provide some code ?

[2020-03-24 06:43] Ymbere commented on #1301
Hi the `import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css'` it's not necessary, but the missing sort icons seem to be a bug, I didn't found the root cause yet, but you can use this workaround for now.
[code]

Here a example
[![Edit sortIconsWorkAround](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/fervent-darkness-6ztqn?fontsize=14&hidenavig

[2020-03-24 15:40] allez-allez-allez commented on #1302
I am having the same use case. For example with the following results returned from an elastic search query:

[code]

I was expecting to retrieve the `dataField` using the following column definition:

[code]

I believe this functionality exists from the traditional datatable plugin as referenced here: https://datatables.net/forums/discussion/29299/bug-error-while-loading-object-with-a-dot-in-the-

[2020-03-25 17:11] allez-allez-allez commented on #1285
@josedager are you referring to an html formatter for your cell? you can use something like this to format the content into html:

[code]

see example here: https://codesandbox.io/s/sleepy-shockley-ib81t

[2020-03-26 03:52] Ymbere commented on #1297
Yes, it is possible to create a helper function to filter the lines with the values ​​that you do not want to select.

You can see an example below and customize it according to your needs.

### Example

[code]

[2020-03-26 04:34] weezer924 commented on #1191
@AllenFang
I add '\uFEFF' at transform func() for this code.
[code]

[code]

the data is correct for excel. Please consider about this.

[2020-03-26 05:03] weezer924 commented on #1191
@AllenFang
I would like to create a PR for this isuue.

[2020-03-26 14:16] Pierre-Gilles commented on #172
There is still a problem with the current approach, as a cell key is = `${content}-${index}` :

**When using :**

- a formatter function
- a column selector

if two cells in the same row have the same values but are formatted differently (in my case, a count = 0 + a progress bar at 0%), when enabling a new column with the column selector (switching hidden = true to hidden = false), then the first

[2020-03-28 09:35] nirkrumer commented on #1298
Hey guys,
Any thoughts?
Thx

[2020-03-28 09:36] nirkrumer commented on #1298
@AllenFang :)

[2020-03-30 00:46] amitsetty opened #1307 "Select Table Row On Right Click"
I'm implementing a context menu over the table and want to select table rows on right click. Would appreciate a feature for this to be added - or if there's a workaround for this that would also be great

[2020-03-31 10:48] shp7724 commented on #1191
@AllenFang I'm having the same issue when exporting to CSV with Chinese characters. And the solution above `_fileSaver2.default.saveAs(new Blob(["\uFEFF"+content], { type: blobType }), fileName, noAutoBOM);` works really well. Probably noAutoBOM option does not work with FileSaver.js any longer?

[2020-03-31 15:35] marciovennan commented on #763
@hielfx, thanks!  This worked for me, but I had to add the "react-device-detect" component to detect the device and then add the style.

`import {isMobile} from 'react-device-detect';

if (isMobile) {
	require('../custom-styles/custom.css');
}`

Content file custom.css:

`.react-inicialização-table  mesa {
   table-layout : auto ;
}`

[2020-04-01 01:25] jonm01 opened #1308 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode"
**I keep getting the following error:**

index.js:1 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques

[2020-04-01 13:54] vhbert opened #1309 ""paginationTotalRenderer" falls back to showing "0" when no results found"
If there are no results found when using a custom paginationTotalRenderer combined with a search input in "Search" from "ToolkitProvider".
The paginationTotalRenderer does not show and a "0" get's shown instead.

---

With Results
![image](https://user-images.githubusercontent.com/43534078/78144546-089d4c00-7430-11ea-8f06-81108cbfeb4c.png)
in HTML
![image](https://user-images.githubusercontent.com

[2020-04-01 22:02] spiderchi opened #1310 "Possible to select cell on tab button press, the same way as Excel work?"
**Question**
Hi I am working with bootstrap-table2.
To edit cell, if i click or double click on it, its working really good.
but would like to select cell on tab button press, the same way as excel works. Is this possible in the current version?

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesan

[2020-04-02 08:40] adamcanray opened #1311 "Can we change the formatter to async function?"
**Question**
Can we change the formatter to async function?

**Description**
I have a REST API that returns an image when I request with the url + (plus) file name and I want to display it in the image column in a table.
[My Question on stackoverflow](https://stackoverflow.com/questions/60944886/how-do-i-display-base64-inside-map-loopassumption-in-reactjs/60986338?noredirect=1#comment107896675_609

[2020-04-02 13:57] dacevedo12 opened #1312 "onAuxClick event"
**Describe the solution you'd like**
Add support to onAuxClick as a rowEvent so that middle clicks can be handled

**Describe alternatives you've considered**
onClick doesn't trigger using the middle click so its not really an alternative since chrome 55

Edit: It triggers but the row object isn't passed as argument. It probably needs to be wrapped

[2020-04-02 15:23] adamcanray commented on #1311
I ask above because I have a case that asks I use await from the async function. I want to retrieve a **Base64** decoded string for me to display as an image with the ```<img src = {Base64String} />``` tag in a column in the table. <br>
I have tried to use the async function in the formatter and it cannot, it always get an error like this: <br>

but I still get **Base64 string** that I want in the

[2020-04-02 15:30] AshwinTayson commented on #1212
Any update on this?

[2020-04-02 19:14] reposman33 opened #1313 "css modules with BootstrapTable?"
**Question**
 I  use react-bootstrap-table-next": "^4.0.0. Have set up a BootstrapTable and use the classes prop to style it. That works fine *but* I want to use use css modules since it is super easy in React > 16.8:

When using create-react-app I have 2 options to reference styles in an external stylesheet:

**plain scsss:**
[code]
**CSS modules:**
[code]
The BootstrapTable docs have minimal inf

[2020-04-03 05:38] zhr1130 opened #1314 "Accessibility: Pagination list is not accessible by keyboard"
**Describe the bug**
Rows per page list is not accessible by using keyboard. The link somehow has tabindex = -1 .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to basic pagination table example in storybook
2. Click rows per page button.
3. List is not accessible by keyboard due to <a> has tabindex = -1.

[2020-04-03 11:51] archit1510130 opened #1315 "In onClick Row event . Can you please add a feature that change the color of the row when onclick is trigger."
I know there is already a workaround with that by USING SELECT ROW PROPS. but there is bug or restriction in that is when we select a row using selectrow prop then previous row color would not be automatically set to default .that means it makes user to feel that there are multiple rows are selected at one time .

So what I cconcisely want that if a USER click on a particular row then its backgrou

[2020-04-03 14:15] zoldbogar opened #1316 "Cancel EditCell on Pagination"
I have a problem with a table2: if I edit a cell on a page and then I change the page, then the same cell on the second page will be in edit mode. We are using an `editorRenderer`.

I found an event for paging: `onPageChange`, but have no idea on how to cancel the edit mode. Please help me out.

Thanks

[2020-04-03 15:14] madhanapk opened #1317 ""PaginationProvider will care the data size change." - PaginationProvider re-renders paginationstandalone on every state change while searching table"
**Describe the bug**
PaginationListStandalone re-renders on every state change.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination%20with%20Search&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to above link
2. Se

[2020-04-05 18:08] reposman33 opened #1318 "set column width"
I use BootstrapTable next and want to set the width of columns. How can I best do this?

[2020-04-06 12:45] bhupesh-sf opened #1319 "Same key warning when using pagination"
When I am using pagination its giving me following error

`Warning: Encountered two children with the same key, `[object Object]`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version.
    in ul (created by PaginatonList)
    in Paginaton

[2020-04-06 12:51] bhupesh-sf commented on #1319
And pagination is not working as well. Its showing me page numbers but nothing happens on click

[2020-04-06 20:13] joseph-vedadi opened #1320 "Column's font size is not adjusting to the width columns"
![image](https://user-images.githubusercontent.com/17168374/78600677-3572aa00-7808-11ea-910f-d18e7457d14b.png)

some of my tables have a lot of columns. and the result is as you see. :(

[2020-04-06 21:59] waynebrantley commented on #1315
Doesnt this already do it?
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Hide%20Selection%20Column&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-04-07 09:41] reposman33 commented on #1318
thanks, it works for me too.

[2020-04-07 09:42] #1318 closed

[2020-04-07 14:37] reposman33 opened #1321 "Default sorted column does not show caret hilites"
Hello,
as the subject says..... I have a table, I sort it by 1 of the columns through the table.defaultSorted prop:
[code]
The data is sorted by the column and I see the 2 up-down carets but I none of them is highlighted. I expected 1 of them to be highlighted so it reflects the sort column and sort direction.
Currently none of the sortable columns have their carets highlighted.

Do I need to add

[2020-04-07 18:13] alcazardaas opened #1322 "When click and expand row after getting an http request the colspan changes to one"
**Question**
When the table loads the data and I click over a row, it makes a request for the data. It shows well with two colspan, but just after the response arrives it change the colspan to one
How can I fix this?  There is any related data or issue?

**Edit**: If I close the expanded row and expand it once again it shows the two colspan (it doesn't make a new request if the data in memory)

**

[2020-04-08 01:12] honguyenbinh commented on #1317
same issue cause error with formatter column, see console log

[2020-04-08 01:13] vHades0199 commented on #1317
same issue cause error with formatter column, see console log

[2020-04-09 14:50] Wait4Code commented on #384
Hi @gosticks,
I've just installed your types definition, thanks for your work !
I was wondering if you have planned to support exportCSV options ? It seems that exportCSV prop hasn't been defined in TableToolkitProps interface...

Again, thanks for your contribution 🤩

[2020-04-09 20:02] gosticks commented on #384
Hey @Wait4Code,
it seemed I missed the CSV export somehow, I just added those definitions to my fork of DefinitelyTyped. I will also create a PR for the changes in the official repo but it will probably take 7 to 10 days before the PR is processed. So if you need the types sooner I would suggest just getting them from my fork:
https://github.com/gosticks/DefinitelyTyped/tree/feature/react-bootstra

[2020-04-10 18:53] Avasam commented on #1295
@MahiBaghel By using [pagination.onSizePerPageChange](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationonsizeperpagechange-function) and [pagination.page](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationpage-number)

[2020-04-11 02:03] jackiehamchen opened #1323 "How to get the filtered json data after filtering by react-bootstrap-table2-filter"
**Question**
I have 2 rows in json data
[{ "row1":"a"},{"row2":"b"}]

after filtering these rows by row number, the filtered json is now as below:
[{"row1":"a"}]

My question is that how to get the currently filtered json data. If get {data}, it will be the original json which is not filtered.

<ToolkitProvider
                                    keyField="_id"

[2020-04-11 08:04] AllenFang commented on #1323
How do you get data?

and how do you filter data?

Sorry, this question missing too many information. Please open another one and follow the instruction to create an issue so that I can help u efficiently
thanks

[2020-04-11 08:04] #1323 closed

[2020-04-11 08:07] AllenFang commented on #1322
@alcazardaas please follow the instruction to create an issue. "Give an exampl on code sandbox, so that I can help you and reproduce your issue efficiently" (Keep the code simple and minimal)

thanks. Just close it due to not enough information and let's wait your another issue.

[2020-04-11 08:07] #1322 closed

[2020-04-11 08:10] AllenFang commented on #1321
Maybe there're some styles got override
The online example for bootstrap3 and 4 are work well
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Default%20Sort%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook

[2020-04-11 08:10] #1321 closed

[2020-04-11 08:11] AllenFang commented on #1320
thanks @gosticks's answer

[2020-04-11 08:11] #1320 closed

[2020-04-11 08:34] AllenFang commented on #1317
this issue seems only happen when you load the same data size. I will figure out it. thanks

[2020-04-11 08:35] AllenFang commented on #1299
HI @boomdrak  Did u use `underscore` in your codebase?

[2020-04-11 08:36] AllenFang commented on #1304
@PriyaSahi we don't have add row feature. you have to add new data and render the table.

[2020-04-11 08:36] #1304 closed

[2020-04-11 08:39] AllenFang commented on #1311
HI @adamcanray I'm sorry I will not consider to implement this feature. For you case, you have to implement a custom component to display an image, like ImageURI component and render it when calling the `formatter`.  So in this custom component, you can do anything you like, for example: fetching the data and only render `<img />` element when data is availabe.

That's why I reject your requiremen

[2020-04-11 08:39] #1311 closed

[2020-04-11 08:41] AllenFang commented on #1319
Hi @bhupesh-sf you code is not enough for me to reproduce, please follow the instruction to create an issue and put a example on codesandbox so that I can help i efficiently.

thanks

[2020-04-11 08:41] #1319 closed

[2020-04-11 08:47] AllenFang commented on #1299
@boomdrak please open another issue to attach an example on codesandbox(Keep it simple and minimal) so that I can reproduce it. thanks. Let's close this

[2020-04-11 08:47] #1299 closed

[2020-04-11 08:49] AllenFang commented on #1314
@zhr1130 I will handle it. thanks!

[2020-04-11 08:51] AllenFang commented on #1310
@spiderchi so far is impossible. here you mean is when press tab button and become editable?

[2020-04-11 08:59] AllenFang commented on #1316
HI @zoldbogar I can't reproduce this. but I guess this issue shouldn't be happen
because no matter whether you configure `blurToSave` or not, the editor will be resume once the blur occur on the editor.

[code]

Above just my simple code. it work well no matter `blurToSave` is true or false. So let me guess if you probably forget to add the `onBlur` props on your custom component so that will caus

[2020-04-11 08:59] #1316 closed

[2020-04-11 09:03] AllenFang commented on #1307
I guessI will not implement this feature. but there's a workaround is

1. use `rowEvents` to custom your right click event and you can get which row get right click
2. when above event happen, change the state for `selectRow.selected`

For the second step you can learn more from https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selecte

[2020-04-11 09:03] #1307 closed

[2020-04-11 09:04] AllenFang commented on #1312
@dacevedo12 no problem

[2020-04-11 12:00] zoldbogar commented on #1316
hello Allen,

thanks for the suggestion, the `{ ...rest }` was missing from our editor component, but adding it did not solve the problem... I have a feeling that there is some other problem with the editor, so for now
i will copy its code here:
[code]
here is the relevant part of the column definition:
[code]

and here is the table declaration:
[code]

please let me know if you see any other prob

[2020-04-11 13:26] jackiehamchen opened #1324 "How to get the filtered json object after filtering by react-bootstrap-table2-filter"
**Question**
I am getting the JSON data from Springboot backend and display in react-bootstrap-table2.

When I filter JSON data using react-bootstrap-table2-filter e.g. filter: textFilter(), I would like to send the filtered JSON data to the backend to update another react component.

However, currently I cannot find a way to get filtered JSON data, but I only have the JSON data returned from the

[2020-04-11 15:14] spiderchi commented on #1310
@AllenFang Thank you for the reply.
I mean if I am on Row cell 1 and click tab it should select the next cell in the same Row and make that cell editable.
Is it possible?

[2020-04-11 16:29] zoldbogar commented on #1316
Hello Allen,

I am really beginner in React, but I created a small app in sandbox, where the behavior I described is reproducing consistently: https://codesandbox.io/s/adoring-almeida-egdqm?file=/src/App.js

Please open the link I sent you, edit the Quality on the third row (for example) and then change to the second page. You will see then the third row Quality is now in edit mode.

Let me know i

[2020-04-12 05:21] AllenFang commented on #1315
thanks @waynebrantley

[2020-04-12 05:21] #1315 closed

[2020-04-12 05:26] AllenFang commented on #1310
@spiderchi sorry we don't have this feature now. Actually, in the legacy version(`react-bootstrap-table`), we have keyboard navigation feature, just like excel and support the editing cell by press "ENTER"

you can check the legacy website
https://allenfang.github.io/react-bootstrap-table/example.html#keyboard-navigation
and there's a section for "Enter to Edit Cell on Navigating"

However, I didn

[2020-04-12 05:28] AllenFang commented on #1302
Thanks @allez-allez-allez  So far I didn't hear any bug about dot is not work. So @avindra please give me an online example on `codesandbox` so that I can help u. thanks!

[2020-04-12 05:28] #1302 closed

[2020-04-12 05:36] AllenFang commented on #1324
@jackiehamchen I think I can give u a `afterFilter` hook and this function will be called when filter done.

[2020-04-12 05:42] AllenFang commented on #1298
@nirkrumer sorry.. I'm busy recently. actually, you don't need the `afterSaveCell`. it's just kind of post function for developer can know which cell been updated and it's not used for u to update the raw data.

[2020-04-12 05:42] #1298 closed

[2020-04-12 05:44] AllenFang commented on #1295
@Avasam thanks. use `onSizePerPageChange` you can know the size per change is change and assign to first page by `page` props.

[2020-04-12 05:44] #1295 closed

[2020-04-12 06:08] jackiehamchen commented on #1324
Got it. Thank you very much for your help!

[2020-04-12 06:12] AllenFang commented on #1309
HI @vhbert that is wried, if the result is empty, default pagination total text will be "Showing rows 0 to 0 of 0" instead of zero and there's should be a div with class `react-bootstrap-table-pagination-total`. Will you please give me an online example code on codesandbox and keep it simple and minimal?  thanks

[2020-04-12 06:15] AllenFang commented on #1306
@xiaoleATRI so far in custom filter, you have to figure a way to pass the default value.  <<< I think it shouldn't be a big problem

then you can trigger `onFilter` by yourself in `componentDidMount` or something else.

[2020-04-12 06:15] #1306 closed

[2020-04-12 06:16] AllenFang commented on #1306
Please open another issue if you still have any issue or questions, thanks

[2020-04-12 06:19] AllenFang commented on #1324
BTW, @jackiehamchen when do you want to get the the filtered data? if should be performed automatically when filter trigger? or just press a button by user?

[2020-04-12 06:39] jackiehamchen commented on #1324
@AllenFang currently the use case is to get the filtered json as shown in the table automatically when filter is triggered. Thus, another react component can get updated automatically too e.g.
<ChildComponent filterData={this.state.data}/>

[2020-04-12 06:52] AllenFang commented on #1314
@zhr1130 I guess this requirement is little bit difficult to implement, because bootstrap dropdown will be collapse when you press any other key(Include tabs). if you have any other online case for this usage, please let me know. thanks

[2020-04-13 07:17] MahiBaghel commented on #1295
Thanks its working now

[2020-04-13 12:20] mferilight commented on #280
Hi @AllenFang

I am also in need of a option to insert rows with in table. I don't want to use the modal way of inserting rows. is this feature currently available in react-bootstrap-table2

[2020-04-13 13:38] sernovelli opened #1325 "This lib is bugged!"
**Describe the bug**
This lib is bugged! It's very simple to implement, but don't execute... the docs is very bad. What's error in my implementation, please?

**Screenshots**
![datatable1](https://user-images.githubusercontent.com/1108252/79124256-4f653d00-7d72-11ea-9ee8-5f79d6a3e6ff.png)
![datatable2](https://user-images.githubusercontent.com/1108252/79124258-50966a00-7d72-11ea-8096-be616c677ada.

[2020-04-13 19:12] proasian42 opened #1326 "Is there a way to use multiple filters on react-bootstrap-table2 table?"
It is my first time using a new version of the react-bootstrap-table. I am trying to use multiple filters on some header columns. For example, I want the user to select one or more fruits or to search for fruit on the same column. The react-bootstrap-table2 has both filters, multiSelectFilter, and textFilter.

I couldn't find a way to combine those filters together. It looks like filter function o

[2020-04-14 06:47] krishna724 opened #1327 "React16 version support"
**Question**
Currently I am using react-bootstrap-table": "^2.5.1",.  Which version of react-bootstrap-table supports react16. Thanks in advance.

[2020-04-14 11:17] kgrech commented on #969
@AllenFang  It would be very nice if we can have it fixed

[2020-04-14 15:32] maximomp commented on #1293
I have the same problem. have you found any solution?

[2020-04-14 16:38] maximomp commented on #1293
I have temporarily fixed the problem
Changing the id 0 to 1 in the array data of the table.

[2020-04-14 18:41] ahiltgen commented on #459
"react-bootstrap-table-next": "^3.3.1",
    "react-bootstrap-table2-editor": "^1.4.0",
    "react-bootstrap-table2-paginator": "^2.0.7",
    "react-bootstrap-table2-toolkit": "^2.1.2",

I am having the same issue.

[2020-04-14 18:47] ahiltgen opened #1328 "Cannot read property 'get' of null"
Reopening bug #459. Bug still exists:

Using the following versions:
    "react-bootstrap-table-next": "^3.3.1",
    "react-bootstrap-table2-editor": "^1.4.0",
    "react-bootstrap-table2-paginator": "^2.0.7",
    "react-bootstrap-table2-toolkit": "^2.1.2",

Code:
        <ToolkitProvider
          keyField="uuid"
          data={ this.state.students }
          columns={ Columns }
          expor

[2020-04-14 19:26] ahiltgen commented on #1328
Changing line 53 of +react-bootstrap-table2-toolkit\lib\src\csv\exporter.js from:
      var cellContent = _.get(row, m.field);
to
      var cellContent = row[m.field];

corrects issue.

[2020-04-14 21:13] spiderchi commented on #1310
@AllenFang Thanks for the information.
I checked legacy version and I am looking the same, but I am using react-bootstrap-table2 so I am not going to mix it up.
Are you going to implement this feature on react-bootstrap-table2 in near future?

[2020-04-15 08:14] vtarelkin-comprehend opened #1329 "react-bootstrap-table2 with pagination and axios could not partially fetch data"
good day.

I've asked this on SO, but there are no answers(

I really really got tired of trying to make things to work.

I have a component called Device and in useEffect i fetch the data for the first time for my component called DevicesTable where all the devices are.

The code below is in Device.js where I fetch data and send them to reducer. Data are parsed in reducer and are received by Devi

[2020-04-15 10:44] MathijsHaas commented on #280
Inserting and deleting rows would be really helpful :).

[2020-04-15 14:39] kevinvugts commented on #847
@AllenFang

Whenever a state change is triggered the react bootstrap table next throws the following error (only when pagination is enabled):

**It is thrown in the following function:**
[code]

Here is my code: https://pastebin.com/TLWEh1Ay

[2020-04-15 22:34] phitranpt opened #1330 "Array into formatExtraData"
**Question**
Hello. I'm trying to utilize the formatExtraData but I'm passing in an array so it would parse the data into each row. Would you happen to know if this is possible? My issue right now is it's appending the whole array for each column (currently have 4 rows). See screenshot below. Thanks!

**Screenshots**
![image](https://user-images.githubusercontent.com/40641348/79395327-feef0a80-7f3

[2020-04-16 06:40] prateek-sinha commented on #667
Hi @AllenFang

Could you please help me filter text in  a dummy column.
Also, is there a way to have the header of the table fixed/sticky so that it doesn't move on scrolling.

I am a big fan of react-bootstrap-table and really appreciate your promptness always.

Thanks in Advance.

[2020-04-16 09:57] vtarelkin-comprehend commented on #1325
obviously you have wrong data coming into continentes

[2020-04-16 11:28] jonrandahl commented on #1083
While this may not be the preferred answer, you can also sort your data before it's sent to the table component?
`data.sort((a, b) => (a.col1 > b.col1 ? 1 : a.col1 === b.col1 ? (a.col2 > b.col2 ? 1 : -1) : -1));`

If it helps anyone else...  :)

[2020-04-16 11:34] sernovelli commented on #1325
OK! But this code worked correctly with other components. Thank you!

[2020-04-16 11:34] #1325 closed

[2020-04-16 11:46] Menogus opened #1331 "disable filterPosition"
filterPosition has 2 options:
"top" and "bottom"
but how about 3 options: "default" or "inside" ?
because i use one Table component for several tables
and for one table i need filter position inside header.

[2020-04-16 15:06] AhmadYoussef opened #1332 "Get final result from filter table as an Object"
Hello,
I am calculating a  sum of a column, but I am facing a problem when I use the filter that I can't know what is the final result when the user used a filter to re-calculate the sum
I am using " ToolkitProvider   from   react-bootstrap-table2-toolkit".

I would like to know if there is a way to get the result of the filtering table as an Array

[2020-04-16 20:43] vtarelkin-comprehend opened #1333 "table.cleanSort() doesn't work"
I try to use a remote pagination and filter and sorting. I need to handle all of this on server and I need to disable sorting manually, but for the UI purpose I want to leave arrow that shows the direction of the sorting.

I have a ref in bootstrap table (I use useRef())

            <BootstrapTable
                ref = {tableRef}
  const onSortChange = (sortName, sortOrder) => {

       tableRef

[2020-04-16 20:44] vtarelkin-comprehend opened #1334 "Is it possible to make a ref on a column?"
good day.

I want to use a default filter by react-select on table - so I need a ref on the column. How can I make this? ref on column returns me null.
Maybe there is a better approach?

[2020-04-16 21:38] vtarelkin-comprehend opened #1335 "remote is set to true - still sorts incoming data"
I fetch the data from api. They are coming in array of objects. I can see it - it is ok. After inserting to table I see them in the same order and then they're sorted.

I made similar array by hand and hardcore it - it is ok, no sorting on it.

What is the difference? Why is that happening? I want to do sorting only by remote

[2020-04-16 22:00] vtarelkin-comprehend commented on #1329
used another approach

[2020-04-16 22:00] #1329 closed

[2020-04-17 04:59] zhr1130 commented on #1314
Hi Allen,

Thanks for the reply. I don't have other usage, we are using it for our product and it's a great library, however we have to meet accessibility bar which required all elements are accessible by keyboard. Do you have any suggestion that i can hack my own code to achieve that ?

[2020-04-17 11:49] aZolo77 opened #1336 "Get rid of animation time."
Can i somehow get rid of animating time when row expands?
It closes with freezes(

[2020-04-17 12:11] vtarelkin-comprehend commented on #1327
@krishna724 good day.
I use
    "react": "^16.13.0",
    "react-bootstrap-table-next": "^4.0.0", it works ok. I mean despite some annoying bugs it works ok)

[2020-04-17 12:20] aZolo77 opened #1337 "Get Expanded row data"
may be was requested before..

This lib doesn't have responsive mode, so I had to make it myself by adding some classes and styles.
With the help of mediaScreen requests i hide some columns and show hidden collumns info in expanded row, but there is one issue: I don't have access to this row, until it appears and even in method onExpand. It has display: table-cell and it automaticcaly gets colspan

[2020-04-17 16:47] npomfret opened #1338 "styling the row expander"
I'm trying to create a very compact table.  By setting the classes of each column to "p-0" or  `condensed: true`(or some small amount of padding) I get the effect I'm looking for.

However, adding an `expandRow` adds all the padding back again.  I can't figure out to control render of the expand cell.  Any ideas?

[EDIT] actually, adding condensed doesn't appear to have any effect

[2020-04-17 17:22] vtarelkin-comprehend commented on #1335
it seems my bad

[2020-04-17 17:22] #1335 closed

[2020-04-17 18:42] Akaren13 opened #1339 "User can change column width"
It would be usefull if user could adjust column width by himselves. Sometimes the data are too long and user could choose what he wants to see.

[2020-04-17 19:39] vtarelkin-comprehend opened #1340 "sortfunc isn't working"
It doesn't being called.

[code]

[2020-04-18 01:03] thedmeyer commented on #617
Any update?

[2020-04-18 04:56] AllenFang commented on #1314
@zhr1130 maybe you have to custom the size per page dropdown
please read the docs:

it's a advance customization
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#advance-customization

You can also custom dropdown literally by standalone feature:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#completely-customizati

[2020-04-18 04:56] #1314 closed

[2020-04-18 04:57] AllenFang commented on #1310
@spiderchi not sure. it depends on my time. sorry dude

[2020-04-18 05:20] #1312 closed

[2020-04-18 05:20] #1324 closed

[2020-04-18 05:33] AllenFang commented on #1312
Fixed. https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/04/18/version-bump.html

[2020-04-18 05:34] AllenFang commented on #1324
@jackiehamchen
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2020/04/18/version-bump.html

docs: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#afterfilter

online demo:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Filter%20Hooks&full=0&addons=1&stories=1&p

[2020-04-18 05:48] AllenFang commented on #1340
[online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Custom%20Sort%20Fuction&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is work

sortFunc is for custom the sorting logic. you information isn't helpful to me to reproduce your issue, please follow the instruction when u op

[2020-04-18 05:48] #1340 closed

[2020-04-18 05:49] AllenFang commented on #1339
@Akaren13 so far I don't have plan to implement this feature. sorry about this.

[2020-04-18 05:49] #1339 closed

[2020-04-18 05:53] AllenFang commented on #1338
@npomfret I can't reproduce your problem  I tried to add `condensed` on table and also enable the row expanding feature, but it look good to me...

please give me an online example and please follow the instruction when you open an issue here so that I can help u efficiently

thanks.  Let's close this issue because I can't reproduce this issue.

[2020-04-18 05:53] #1338 closed

[2020-04-18 05:57] AllenFang commented on #1337
I agree the responsive is an issue so far.  In term of your case, this case seems too complicated and I can't totally understand what you done so far. Would u please give me a small and simple code on codesandbox?, so that I can help u.

Anyway, your case sounds complicated, not sure if I can help u or not

[2020-04-18 06:03] AllenFang commented on #1336
I guess you can try add these code in your code

[code]

[2020-04-18 06:03] #1336 closed

[2020-04-18 06:05] AllenFang commented on #1331
i think this is not a big issue to me seriously... please describe this more detail when you really faced an issue or bug. Sorry..

[2020-04-18 06:05] #1331 closed

[2020-04-18 06:07] AllenFang commented on #1328
your example is broken. please create a simple and minimal example on codesandbox so that I can help u efficiently. thanks

[2020-04-18 06:07] #1328 closed

[2020-04-18 06:10] AllenFang commented on #1332
there're two way:

use `afterFitler` hook to know when a filter is done and you can collect the data that you want.
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#afterfilter

or use expose API:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html

The benefit is you can get the filtered data anytime when you want.

[2020-04-18 06:10] #1332 closed

[2020-04-18 06:12] AllenFang commented on #1326
@proasian42 I'm sorry we don't have this feature so far and maybe I won't implement this in near future. In term of you case, I will encourage u to custom the filter for your case. Sorry about that.

[2020-04-18 06:12] #1326 closed

[2020-04-19 07:33] krishna724 commented on #1327
Thanks @vtarelkin-comprehend. I have a implemented my app using react-bootstrap-table": "^2.5.1. Now I want to upgrade my react version to 16.0.0. So which version of "react-bootstrap-table"  do I need to upgrade so that the existing work won't break.

[2020-04-19 20:05] vtarelkin-comprehend commented on #1340
@AllenFang  I disagree. It probably work with classes, but not with functions.
Even
                    sortFunc: (column, order) => {if (order === 'asc') return alert("123")}
doesn't work

[2020-04-20 09:15] Akaren13 commented on #1339
Ok, but can you at least advice me if there is any way how to do it? Maybe setings column class or?

[2020-04-20 09:59] #1337 closed

[2020-04-20 12:03] aZolo77 opened #1342 "Change expandRow behaviour"
How can I make expandRow not to render expand-cell elements and when I need - change this (for example, when one of my props changes) ?

[2020-04-20 13:38] aZolo77 commented on #1342
when i try to dynamically change "showExpandColumn" from false to true - only "expand-cell-header" appears and all data from the first collumn shrinks in this narrow width.. and only if I click on  "expand-cell-header" "+" sign - all other "expand-cell" appear.. Also, when I change it back from true to false - "expand-cell-header"  "+" sign dessapears and  "expand-cell" stay..

[2020-04-20 13:41] amcm23 commented on #617
Ended using http://allenfang.github.io/react-bootstrap-table/example.html , that supports header groups

[2020-04-20 17:15] vtarelkin-comprehend opened #1343 "defaultSorted gives warning: Cannot update a component from inside the function body of a different component"
when using
`                defaultSorted={defaultSorted}
`and setting fields like

[code]

By the way: why do you close issues without waiting / reading feedbacks? Like [this](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1340)
Feel free to close that issue with note that all is working  without checking)

[2020-04-20 21:07] vtarelkin-comprehend commented on #1343
i'm using redux - it was because of the default values provided to redux. nevertheless, Allen replies very selectively)

[2020-04-20 21:07] #1343 closed

[2020-04-21 07:35] vtarelkin-comprehend commented on #373
If someone is here like me we can change the color WITHOUT hiding selection and without selection.
in Bootstrap table enable styles for rows
 rowStyle={ rowStyle }  and

    const rowStyle = (row, rowIndex) => {
        if (row === clickedRow) {
            return {color: '#FD0303' };
        }
    };

[2020-04-21 08:43] vtarelkin-comprehend opened #1344 "background color cannot be set with rowStyles"
I DON'T want to use selection logic to handle background color change - I have a checkbox logic selection separate from click. So I added

[code]

It works ok. I want to change backgroundColor, though.
It doesn't allow me, only color of the font is working. Is it possible?

I want this
[code]

[2020-04-21 11:00] npomfret commented on #1338
ok, thanks for checking.  Must be some other style interfering with it.

[2020-04-21 14:09] salimkanoun opened #1345 "Text Filter broken ?"
Hi there,

Thanks for this amazing library that I'm using for few months for the first time,

I upgraded to the last release and now my table which were working properly now have a bug when I inject data in it.
I have the following message

[code]

Is there  a breaking change in the last version of the filter ?
In this table I'm just using the default textFilter() of react-bootstrap-table2-filter

[2020-04-21 14:37] malsioufi commented on #512
Any updates on this?

[2020-04-22 16:36] sliptype opened #1346 "Title misspelled on landing page"
**Describe the bug**

The title on the landing page has a typo

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://react-bootstrap-table.github.io/react-bootstrap-table2/
2. See title

**Screenshots**

![image](https://user-images.githubusercontent.com/19916043/80008361-43bdf880-848d-11ea-89f4-40d275698892.png)

[2020-04-22 17:31] kammasuresh opened #1347 "bug fixed in react-bootstrap-table-toolkit for searchbar.js"
**Describe the bug**
A clear and concise description of what the bug is  I am trying to do search bar using reactjs-bootstrap-table-toolkit  using search bar  as
Steps to reproduce the behavior: typeerror:value is not reading property. I resolved that issue.. I dont know how it was worked in story book.. but.. I cant be reolsved  in my development.. finally digging into your code.. i too chnaged t

[2020-04-22 20:37] abehm22 opened #1348 "Can we change the noDataIndication content when a column is filtered?"
For instance, if I have:
const defaultEmptyDataMessage = (): ReactNode => { return 'There are no records to be processed.';}

<BootstrapTable noDataIndication={defaultEmptyDataMessage} {...otherTableProps} />

And then a user types in any column's text filter that returns 0 results, I would like that empty data message to show 'No results can be found for this search. Please try again with differe

[2020-04-22 20:49] brittlewis12 commented on #1345
Hey folks we're experiencing this as well it seems from 1.3.1 -> 1.3.2

[2020-04-23 04:16] oahccc commented on #1329
Hi @vtarelkin-comprehend,

Do you mind to share your approach? Really interested to know as I'm working on a similar partial-fetching function. Thank you in advance!

[2020-04-23 12:48] sakshivicesoftware opened #1349 "Can we add react-bootstrap button in the column's cell of react-bootstrap-table2?"
Can we add react-bootstrap button in the column's cell of react-bootstrap-table2?
I want my last column to have button for every row so how will we do it?
@AllenFang or anybody from your team if you can guys can help me with this as it is really important.
Thanks

[2020-04-23 13:51] malsioufi opened #1350 "Get global row index that is fixed regardless of filtering, pagination or sorting"
What I am trying to do is to copy the data from the table to another component (Form for example)
Is there any row related argument (similar to rowIndex) that I can use as an id for the row? This id does not change in case of filtering, pagination or whatever, it just acts like a global id. How can I get such behavior?

[2020-04-23 13:55] #1349 closed

[2020-04-23 13:55] sakshivicesoftware commented on #1349
I found the solution.

[2020-04-23 20:19] npomfret commented on #1118
Can't figure this out.  The row param is always undefined in my formatter function

[2020-04-24 06:23] lavania-aditya opened #1351 "Need to set focus on newly created row in react bootstrap table 2"
I need to set focus on the newly created table as the content data in the form of an array and below the table, I have the button of Add new row which inserts a new item in the array and render the table with a blank row.
The issue is I need to set focus on the first cell of the newly added row, I am using ref to set the focus as I can see the only way to set the ref to the table is ref={n=>this.n

[2020-04-24 06:27] lavania-aditya opened #1352 "Can we change the style of cells in table which we have edited ?"
Hello, @AllenFang I am using this library in my project, and I have some data which renders then if a user edits some cells using cellEditFactory then is there any ay I can show those cells in bold that user has edited, only these cells which have been edited.

meanwhile, I am using this little piece of code inside the cell edit factory, but this is not working for me.
 if (Number(oldValue) !== Nu

[2020-04-24 08:51] aZolo77 opened #1353 "Manage expanded row"
Can I somehow get access to expanded row "td"-element? I need to fix its auto colspan value.
There is function "onExpand", but I guess it is called before new row is rendered..

[2020-04-24 08:54] #1342 closed

[2020-04-24 11:26] hoser1989 opened #1354 "React Bootstrap Table 2 - vertical scroll/sticky header"
Hello,  In table I would like to have vertical scroll or sticky column headers.
When I scroll down to the bottom of table column headers are not visible, so actually I`m not sure on which column I`m looking at.
I`ll appreciate all solutions, suggestions or work around.

Please help.

[2020-04-24 16:35] nayanahurix commented on #1046
Can please tell me how you reload the table?

[2020-04-26 21:36] sidthekidder commented on #203
Hi, this doesn't seem to work now? I am trying to access data from 2 different columns in a single column, like seanpaulkelley was, but formatExtraData doesn't seem to pick up the dataField from other columns. It just passed the string directly. The 1st arg doesn't contain the other variables of the row, the 2nd arg is an index, the 3rd arg is an object with sortElement and filterElement keys(I am

[2020-04-27 05:43] lavania-aditya commented on #1352
@AllenFang needs your insight in this.

[2020-04-27 05:45] lavania-aditya commented on #1351
@AllenFang needs your insight in this.

[2020-04-27 11:07] kaleemullah-innovo opened #1355 "Row Select and Expand Row position issue"
I used position left both for rowSelect and rowExpand.
Is there any way to render rowSelect before rowExpand in columns.
rowExpand render first

[2020-04-27 18:37] vtarelkin-comprehend opened #1356 "pagination and selectAll trouble"
In remote mode, if we use selectAll button, it de-selects the old page when we are on another page and clicking on select mode to select and deselect

[2020-04-27 18:41] vtarelkin-comprehend commented on #706
@shubuu97 did you fix it?

[2020-04-27 20:55] vtarelkin-comprehend commented on #1356
it seems my func was wrong...

[2020-04-27 20:55] #1356 closed

[2020-04-28 07:42] sidthekidder opened #1357 "Issue with formatExtraData for multiple values in a single column"
Hi, I am trying to access data from 2 different columns in a single column, tried to use formatExtraData, but formatExtraData doesn't seem to pick up the dataField from other columns. It just passed the string directly. Of the 4 arguments passed into the formatter, the 1st arg doesn't contain the other variables of the row, the 2nd arg is an index, the 3rd arg is an object with sortElement and fil

[2020-04-28 17:50] middleBoss commented on #1345
Hey, salimkanoun have you found a way to solve this problem?

[2020-04-28 17:51] middleBoss commented on #1345
Hey, brittlewis12 have you found a way to solve this problem?

[2020-04-28 23:55] JeffreyCA commented on #601
A workaround is to declare one of the columns to be a dummy field and provide it a custom formatter:

[code]

[2020-04-29 08:18] lavakumart opened #1360 "First row adding as empty while updating the data dynamically"
**Description :**
Table contains two columns, Name & status.

1. First time while creating table I'll get names from API-1 so table will Crete with names and status column will be empty. In this case it's working fine(No empty record).
2. Then second level I'm submitting these names in to DB(Names list will be up to 1 to 500,1000 and above also). while submitting I'm fetching status from another A

[2020-04-29 09:25] salimkanoun commented on #1345
@middleBoss  Just downgrad the filter librairie to 1.3.1

[2020-04-29 15:27] tarim opened #1361 "headerClasses doesn't work"
**Describe the bug**
I am using react-bootstrap table2 with a paginator, toolkit, and editor. And, I am trying to use "headerClasses" with bootstrap CSS such as col-2 or col-md-1 etc. But, it doesn't work at all. when I add it, the first column takes almost more than 70% width. It looks like it has a bug.

here is my code
`const columns = [
    {
      dataField: "id",
      text: "ID",
      sort

[2020-04-30 13:22] cliff-bentley commented on #629
I had a problem like these and after hours of logging/trying other things, I added the hack described below. It works and may help someone else, but I **wonder if there is a cleaner way?**

Created a (react-bootstrap) Modal as a pick list where user includes 1 item from the child table to run an action on the parent entity:

1. Main (parent) table is react-bootstrap-table-next, BootstrapTable.
2.

[2020-04-30 15:20] waynebrantley commented on #629
I think codesandboxes of it not working would be helpful to get problems fixed or to see what you might be doing wrong.  In addition a 2nd codesandbox that contains your workarounds actually working would be much more useful...

[2020-04-30 19:38] cliff-bentley commented on #629
Thanks Wayne. I'll be looking for a non-hack solution. If I find one, I'll share it here.

[2020-04-30 22:39] SafiaNuzhath commented on #280
@AllenFang
Would definitely love a delete and add functionality

[2020-05-02 02:36] RaffySeva opened #1363 "Not firing onClick event"
**Question**
![image](https://user-images.githubusercontent.com/32181457/80852969-a8ccd780-8c5f-11ea-96e1-f4cba30101f6.png)

![image](https://user-images.githubusercontent.com/32181457/80853089-7c658b00-8c60-11ea-9051-471af1899479.png)

The images above show that I used custom formatter to achieve this.

So when I try to click the said button, it does not fire the onClick event
![image](https://us

[2020-05-02 02:43] RaffySeva commented on #1363
My bad. It was my mistake

[2020-05-02 02:43] #1363 closed

[2020-05-03 05:53] Vignesh-Ravi commented on #553
Guys, Here is the solution. I had the same issue I have resolved by adding,

import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';

and  added bootstrap4 props in ToolkitProvider instead of  BootstrapTable

<ToolkitProvider bootstrap4 keyField="id" data={items} columns={columns} size="sm" search
          exportCSV={{ onlyExportFiltered: true, exportAll: false }}>

<BootstrapTab

[2020-05-04 10:12] Nandiniyadavraj commented on #226
hello there,
I checked on all possible way to increase column width as mentioned above but none of it work for me.

              headerStyle: (colum, colIndex) => {
                    return { 'white-space': 'nowrap', width: '100px' };
                }
with the help of this code I'm able to manage table header column size but not table cells size.
Even I applied css also on table ...  help me o

[2020-05-04 10:35] AlexPuga commented on #226
Try it:
`formatter: (col, row) => {
                return <span style={{display: 'block', width: 10, overflow: 'hidden', whiteSpace: 'nowrap', textOverflow: 'ellipsis'}}>{col}</span>
            },`

[2020-05-04 10:48] Nandiniyadavraj commented on #226
It's really working. Thank you so much @AlexPuga

[2020-05-04 13:04] zoldbogar opened #1364 "Cancel EditCell on Pagination"
Hello Allen,

My previous report was closed and there was no new answer in the past 3+ weeks, so I thought I'd open a new question for https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1316

As I stated in my last response I created a sandbox project using your code, where the behavior I am talking about is consistently reproducing: https://codesandbox.io/s/adoring-almeida-egd

[2020-05-04 21:51] Mikeez opened #1365 "Return filtered and searched data only"
**Question**
I am using ToolkitProvider and BootstrapTable and I have column filtering and a global search. How can I get the filtered data after searching and filtering?

I want to set the filtered data to a new state to be able to export for PDF.

I tried:

Using the option in BootstrapTable and having a callback function, did not work.
I used the onFiltering and I tried to setState
Is there a m

[2020-05-05 15:44] DorienMay commented on #231
The same issue for me unfortunately :/

[2020-05-05 20:01] nairsandeep commented on #1320
Hi, I am new to this space. Apologies if it's trivial.

Which prop should I use to have my columns auto-adjust to the size of the data? I have pasted by code below.

<BootstrapTable
                                    {...props.baseProps}
                                    bordered={false}
                                    defaultSorted={defaultSorted}
                                    pagina

[2020-05-05 22:40] mattk90 commented on #544
Credits to @waynebrantley . I simplified it for others who need it in Javascript and more verbose example. The example assumes, that your objects have a property called `id` that identifies the object.

[code]

[2020-05-06 06:50] CYBAI commented on #1305
With checking MDN of [`input[type=date]`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date), looks like Safari doesn't support showing a native date picker for now.

So, I think this is not an issue for this library.

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/6782666/81145387-2753ad00-8fb1-11ea-9e86-5f356b70314c.png">

Besides, if you want to

[2020-05-06 07:06] lavania-aditya commented on #1351
Issue resolved we can do:
[code]

this will create the ref on the new created row and if you want to set focus you can do:  `this.newServiceLevelRow.current.focus();`

[2020-05-06 07:06] #1351 closed

[2020-05-06 07:07] lavania-aditya commented on #1351
Closed

[2020-05-06 07:09] lavania-aditya commented on #1352
Issue resolved we can use formatter and use div to set the custom style, also to see the values edited on not we can compare between oldValue and newValue, for more read: [](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html)

[2020-05-06 07:09] #1352 closed

[2020-05-06 19:56] navins94 opened #1367 "Shrink Row"
Hi
is it possible to close expanded row on custom button click.

Like suppose on save i need to shrink the expanded row

[2020-05-07 18:14] #1367 closed

[2020-05-08 16:25] tandat96 opened #1370 "Row is null"
**Describe the bug**
I want to get row. But I don't know why my row is null or undefined

**Screenshots**
![Capture](https://user-images.githubusercontent.com/23452285/81426194-0d69c400-9183-11ea-9c66-2dc3bb2cc94f.PNG)

![Capture2](https://user-images.githubusercontent.com/23452285/81426301-32f6cd80-9183-11ea-9f9b-fac2c35c17a0.PNG)

[2020-05-08 16:42] #1370 closed

[2020-05-08 20:21] waynebrantley commented on #688
@AllenFang Any consideration to implementing this feature?

[2020-05-11 03:38] paypay43 opened #1371 "Add headerAttr for selectionRow header renderer"
Hi, I have a need to add scope="col" to the selection header column...

headerAttrs = {
      scope: 'col',
    };

this works for a column header, but there's no way to do this for the checkbox column header <th>

thanks

[2020-05-11 06:49] lavakumart commented on #1360
Hi Allen any update on this.
Could you please respond back.

[2020-05-11 17:22] avindra commented on #1302
@AllenFang  here is a code sandbox replicating the issue and also includes a common workaround (that we are trying to avoid because it involves re-copying data across objects):

https://codesandbox.io/s/xenodochial-faraday-t7y2v?file=/src/App.js

Please re-open the issue.

[2020-05-11 17:39] avindra commented on #1302
@AllenFang I should also mention, this issue is not present in the deprecated version 1 library.

So I guess it was introduced some time after the release of version 2.

[2020-05-12 19:48] Mikeez commented on #1365
I read a lot of people were able to go around this, any suggestion?

[2020-05-13 04:08] iAnthonyCoder opened #1372 "data.filter is not a function"
**Describe the bug**
I din't know if this is a bug or not compatibility with the currect react create app but when i try to use the search feature included in the toolkit i always receive this error.

data.filter is not a function

i used a code that i made like 1 year ago and 1 year ago it worked but now te return that error

**To Reproduce**
Only enable search feature and error will appear

key:

[2020-05-13 08:39] sowmiyaseshadriii commented on #1329
Hi @vtarelkin-comprehend ,
May i know how you resolved, facing same kind of problem, really will be helpful,
thanks.

[2020-05-13 14:34] klapouchy commented on #1345
@salimkanoun I had the same issue - downgrade to 1.3.1 helped.

[2020-05-14 03:23] sowmiyaseshadriii opened #1373 "next page, previous page not working"
Thank you for the package.

I have implement the react-boostrap-table2-paginator, in my case when i click on pagenumbers, it will call api and return tabledata, I have used pageButtonRenderer, also everything working but  previous page not showing  , next page last page notworking.

can you please help

[code]

[2020-05-14 05:02] kislayaaakash opened #1374 "how to display array values inside an array"
dataField: 'categories[0].categoryName',
        text: 'associated categories',
        editable: false,
        headerFormatter: this.boldHeader,
        formatter: this.edit3,
        headerAlign: 'center',
        align: 'center',
        editor: {
          type: Type.TEXTAREA
        }

my aim is to show all the categoryName but I am unable to do so, I am only able to show the category name f

[2020-05-14 06:54] anjaligupta1404 opened #1375 "How does Remote concept work(pagination, sorting, filter) ?"
**Describe the bug**
A clear and concise description of what the bug is. In addition, please search issues before you open a report to make sure there's no any duplicated report

I have to integrate API in react and perform remote sorting, pagination, filter. But I am not getting any clarity in terms of execution. What steps should I do

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2020-05-14 06:58] anjaligupta1404 commented on #1375
I checked documentation but its not much helpful for me. So can you please help me

[2020-05-14 17:49] nishanthkothuru opened #1376 "Update a check box post load in a read only column"
Hi,
I am working on a project where I need to update a check box in the table depending on the events happening outside of the table. The table itself cannot be edited manually. Changing the value in the data set behind the table is not updating it.

Here is my code to format the field
format = (cell) => <input type="checkbox" checked={cell} readOnly/>

and the code to update the value
records.for

[2020-05-15 14:13] stilllife00 opened #1377 "Expand cell retains `expandable` state even if the `nonExpandable` array has changed"
**Describe the bug**
The expand cell retains the old `expandable` state even if the `nonExpandable` array has changed.

**To Reproduce**
Initialize a table with a `nonExpandable` empty array.
All the rows are expandable, and that is OK.
After the first render, update that `nonExpandable` array to include some row ids.
At this point, those rows should not be expandable, and they aren't, but the exp

[2020-05-17 05:15] AllenFang commented on #1376
@nishanthkothuru don't mutate the state or props, it's king rule in react. We will compare the current prop and next props to decide whether or not we should update the cell or row.

[2020-05-17 05:15] #1376 closed

[2020-05-17 05:20] AllenFang commented on #1375
@anjaligupta1404 remote mode means for pagination, filter or sorting means you have to do the paging, filter and sorting in outside(In your codebase). [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Sort&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an online example to

[2020-05-17 05:20] #1375 closed

[2020-05-17 05:21] AllenFang commented on #1374
use [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

[2020-05-17 05:21] #1374 closed

[2020-05-17 05:30] AllenFang commented on #1373
@sowmiyaseshadriii I don't know what's did u mean not working for prev/next button here is about the remote event handler not fire? or is look like inactive?

anyway, you code include too much useless code, please create an online example on codesandbox so that I can help u efficiently.

btw, I just feel your page button renderer seems wrong, it should be:

[code]

[2020-05-17 05:30] #1373 closed

[2020-05-17 05:32] AllenFang commented on #1372
I never see this bug, would you please reopen an issue but please attach an online example by codesandbox so that I can help u more efficient? thanks!

[2020-05-17 05:32] #1372 closed

[2020-05-17 05:36] AllenFang commented on #1371
@paypay43 we don't have this feature for developer to attach the custom attribute to the selection header, please use `selectionHeaderRenderer` to custom the selection header as a workaround. [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Custom%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=story

[2020-05-17 05:36] #1371 closed

[2020-05-17 05:44] AllenFang commented on #1365
@Mikeez for column filter, we got [`afterFilter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#afterfilter), [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Filter%20Hooks&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an online e

[2020-05-17 06:15] AllenFang commented on #1364
@zoldbogar add `autoFocus` on your input element.

[2020-05-17 06:15] #1364 closed

[2020-05-17 06:23] AllenFang commented on #1360
@lavakumart I can't reproduce this issue, would you please make a simple and minimal example on codesandbox so that I can help you more efficient? Thanks

[here](https://codesandbox.io/s/adoring-almeida-egdqm?file=/src/App.js:788-797) is an example from other issue reporter.

[2020-05-17 07:00] AllenFang commented on #1357
I think the snd argument is a row object which must contain any other properties. So it's enough for your use case, no need to leverage `formatExtra`

[2020-05-17 07:00] #1357 closed

[2020-05-17 07:02] AllenFang commented on #1355
@kaleemullah-innovo sorry we don't support this feature and it's minor feature for me, any PR is weclome. thanks!

[2020-05-17 07:03] AllenFang commented on #1353
@aZolo77 you can use react ref or just get element by id. In `react-bootstrap-table2`, we give developer to render the content of expand row, so I guess you can decide how to access the row by yourself.

[2020-05-17 07:03] #1353 closed

[2020-05-17 07:34] #1365 closed

[2020-05-17 07:34] #1377 closed

[2020-05-17 07:42] AllenFang commented on #1377
@stilllife00 fixed and please upgrade at least `react-bootstrap-table-next` to newest, thanks!

[2020-05-17 07:43] AllenFang commented on #1365
Please upgrade packages to newest and you will have `afterSearch`.

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/search-props.html#searchaftersearch-function

[2020-05-17 11:06] paypay43 commented on #1371
i need it on the <th> not on the element inside of it

On Sun, May 17, 2020 at 1:36 AM Allen <notifications@github.com> wrote:

[2020-05-17 15:20] zoldbogar commented on #1364
thank you very much,
although I have no idea how `autoFocus` affects pagination, how this solution works or how would I have identified this fix without your kind help: it really works as expected.
Thanks again!

[2020-05-19 07:21] hmrc87 opened #1379 "Sort/Search the Select-Column to find rows that are selected"
**Question**
Hi, I have a relativly large table where a user is able to select one or multiple rows from. Those come also preselected when the table is loading. Now I want tobe able to let the user sort/filter out those rows that are already selected or not selected.

I tried creating a dummy column and getting the information if the row is selected or not. Unfortunately the table does not react o

[2020-05-19 07:33] jsuryahyd commented on #1328
Hi,
Here is a codesandbox showing the issue with 2.1.3,
[https://codesandbox.io/s/agitated-shaw-5t0jj](https://codesandbox.io/s/agitated-shaw-5t0jj)
And the fix suggested by _ahiltgen_ works. I manually changed the code in `/node_modules/react-bootstrap-table2-toolkit/dist/react-bootstrap-table2-toolkit.js`, and `npm start`, then it works correctly on clicking the export csv button.

[2020-05-19 16:42] nishanthkothuru commented on #1376
Hi @AllenFang, Thanks for your response!

[2020-05-19 18:48] ahiltgen commented on #1328
Why is this issue closed? It has not been fixed.

[2020-05-19 18:50] ahiltgen commented on #1328
Thank you for posting the codesandbox example.

[2020-05-20 12:31] TempleClause commented on #231
@DorienMay

Do you have a working example? I still can't get this to work even on 4.0.1...

[2020-05-20 13:32] jvlinton commented on #231
I'll try to find an example of the code...  The secret to figuring out how is to console.log each of the things coming into the formatter, if I remember rightly, and keep adding params until you can add something new that the library isn't already sending in...  Or else I think you can hack/overwrite the row object and return extra param or something like that

[2020-05-21 06:25] anandadvisory commented on #1310
@AllenFang Have you got time to implement keyboard navigation for the next cell selection?
Is that implement in table2?

[2020-05-21 08:13] orenberkovich commented on #613
Hi,

When I use the table search with the multiselection and I select any rows, I lost the selection when I search.

this is happened to me you have any solution for this issue?

[2020-05-21 08:14] orenberkovich opened #1380 "search with the multiselection"
**Question**
Hi,

When I use the table search with the multiselection and I select any rows, I lost the selection when I search.

this is happened to me you have any solution for this issue?

[2020-05-21 09:02] zoldbogar commented on #857
Hello Allen, I have a similar problem and `defaultValue` only solves it partially: my problem now is that `defaultValue` will show even when I have to edit an existing value.

F.e. if I have no value then it is ok to default to `defaultValue`, but if there is a value on that cell (like '05/21/2019') then I would prefer to see that value in the editor.

Thanks

[2020-05-21 15:30] avindra opened #1381 "Table fails to render data containing dots in key names"
**Describe the bug**
The table fails to render data that has dots in the keys.

This was already reported on #1302 which was closed and never reopened so I am filing a new issue w/ the relevant code sandbox that @AllenFang  wanted.

**To Reproduce**
Pass `data` to the Table that contains dots inside of the object keys.

**Screenshots**
![image](https://user-images.githubusercontent.com/126848/8257

[2020-05-22 07:00] ThahaShahzad commented on #909
i am still getting this issue with keyField unique

![image](https://user-images.githubusercontent.com/61521512/82640347-09e92a80-9bd0-11ea-85f3-514e8784f446.png)

[2020-05-22 07:04] ThahaShahzad commented on #909
![image](https://user-images.githubusercontent.com/61521512/82640600-7ebc6480-9bd0-11ea-910c-03312b09b590.png)
![image](https://user-images.githubusercontent.com/61521512/82640654-94318e80-9bd0-11ea-8a49-02dba8ee09ec.png)

[2020-05-22 07:09] ThahaShahzad commented on #909
nvm sorry just read what keyField actually is its working

[2020-05-22 10:21] jankes44 commented on #1106
Anybody have fix for that? I'm getting the same error.

[2020-05-23 04:07] elNligma opened #1382 "Embed a link in Table Cell?"
hi,

I tried looking through the documentation and storybook but I am unable to find an example on how to change a table cell value to contain a URL link.

Does anyone have any experience with this? Help is much appreciated!

[2020-05-24 12:45] silizza commented on #981
Hello!

First of all, thank you for your job!

It would be great to see infinite scrolling!

[2020-05-24 13:44] amitsetty commented on #1382
Well this really depends what you're trying to achieve. You could either just write in the link and then use the onClick method for column to check what row you're on and open the link or you can put the data in an <a> tag instead of just giving a string to the table data object. Let me know if this doesn't make sense and I'll elaborate.

[2020-05-25 06:59] lavania-aditya commented on #794
This really helps, Thanks !!

[2020-05-26 06:03] amitsetty commented on #1348
I would make defaultEmptyDataMessage in this case a hook and just change its value when there is a text filter. I would then use the afterSearch method and change the message there

[2020-05-26 06:05] amitsetty commented on #1379
I would just store the selection as part of the object outside the table and would filter the values I'm passing into react bootstrap table - something like this

tableData={getFilteredData(tableData)}

function getFilteredData(tableData){
return tableData.filter(data=>data.selected)
}

[2020-05-26 08:05] krishnadev-tha commented on #381
is this updated in react-bootstrap-table2 ???????

[2020-05-26 11:16] boomdrak opened #1384 "Lodash for underscore - _utils2.default.contains is not a function"
**Error when using rowSelect with lodash 4.+**

When using current version of react-boostrap-table2 i get an error when using the rowSelect function. Loading the datatable crashes and the following error is prompted:

node_modules\react-bootstrap-table-next\lib\src\row-selection\row-consumer.js
line 31,32,33 : _utils2.default.contains is not a function

As this post states, .contain has been swapp

[2020-05-26 11:27] boomdrak commented on #1384
I see that alot of other files uses .contains function also..
So not sure if there is a better fix?

[2020-05-26 11:50] hoser1989 commented on #1354
Finally I was able to solve it. First you need to define css:
![image](https://user-images.githubusercontent.com/7368798/82897254-a3f5fd80-9f57-11ea-95c7-70390d678320.png)
Then  you need to setup headerStyle and classes. Thanks to classes you are able to set different widths depends on column type:
![image](https://user-images.githubusercontent.com/7368798/82897365-cee05180-9f57-11ea-9754-c235d1c1

[2020-05-26 11:50] #1354 closed

[2020-05-26 18:50] phitranpt commented on #230
@AllenFang is there any update on the fixed header in react-bootstrap-table-next? Thanks.

[2020-05-29 10:06] hauhuynh1208 commented on #1260
@AllenFang could you please upgrade react-transition-group to the newest (4.4.2 I think) because 4.2.0 still trigger a react deprecation warning

[2020-05-29 15:03] suaterken commented on #1308
Facing the same issue, any updates on progress?

[2020-05-30 01:44] eitens-mak opened #1385 "Pivot Table support"
With [column toggle](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Toggle&selectedStory=Basic%20Column%20Toggle&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel), it would be great to support behavior similar to http://davidguttman.github.io/react-pivot/

I would envision this by having a `reduce` attr

[2020-05-30 06:00] riteshbisht-noon commented on #230
Any updates on fixed header in react-bootstrap-table-next? Thanks

[2020-05-30 21:34] Avasam commented on #285
Use headerAttrs to add colspan and hidden.

[2020-05-31 06:21] AllenFang commented on #1385
@eitens-mak I think you probably know how to implement this, have you consider to open a PR for this feature?

[2020-05-31 06:43] AllenFang commented on #1384
@boomdrak it's an edge case for me actually, but I guess I have a simplest solution. Let me fix it and see if it is work or not.

[2020-05-31 06:45] AllenFang commented on #1380
it's not a bug, Please open another issue with the steps to reproduce, in addition, please give a simple and minimal sample on codesandbox so that I can help u

[2020-05-31 06:45] #1380 closed

[2020-05-31 06:57] AllenFang commented on #1379
@hmrc87 please give a simple and minimal code on codesandbox so that I can help u.
BTW, please remember that don't mutate the props data, we use `shouldcomponentupdate` to avoid unnecessary rendering, I guess you mutate the data so that cause the cell didn't get rerender.  Toooo many issues reported here is related to mutation issue. So please be caution to it.

Please open another issue if the is

[2020-05-31 06:57] #1379 closed

[2020-05-31 07:02] #1381 closed

[2020-05-31 07:10] #1384 closed

[2020-05-31 07:18] AllenFang commented on #1384
@boomdrak upgrade `react-bootstrap-table-next` to newest. Please open another issue if the issue still remain, thanks

[2020-05-31 07:18] AllenFang commented on #1381
@avindra please upgrade `react-bootstrap-table-next` to newest and open another issue if the issue still remain, thanks

[2020-05-31 08:24] boomdrak commented on #1384
Thank you so much, @AllenFang 👍
Works perfectly!

[2020-05-31 18:11] Avasam commented on #1285
@josedager  Either what @allez-allez-allez said.
If you meant that you're trying to render an html string in React, see https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml

[2020-05-31 19:03] avindra commented on #1381
Thanks @AllenFang . Nominally, the latest version seems to fix the issue:

https://codesandbox.io/s/inspiring-water-fw1pc?file=/src/index.js

[2020-06-01 08:52] malsioufi commented on #1249
@g-akshay I have the same issue. How did you solve it?

[2020-06-01 12:03] kgrech commented on #1265
@AllenFang
I think our project would also benefit from the similar feature (it might not be exactly the same, but it is related to both selection and filtering).
We are using the filter placement in the separate row and we are using the selection column as well. As a result, we end-up having an empty sell and it looks like there is no way to use it, while it looks like a great place to put some co

[2020-06-02 15:14] vasilismantz commented on #1308
I have the exact same issue. Any updates?

[2020-06-02 16:30] BartlomiejPawelec commented on #1308
Same here, help

[2020-06-02 23:54] earpians commented on #1328
Hi ahiltgen,

It resolve the issue but upon exporting hidden columns are included in exported csv file. Is there any posible way to handle also the hidden columns not to be included.

[2020-06-03 22:14] Ymbere commented on #1204
HI @rchaser, the `isDummyField` behavior seems to be correct the problem is that you are not updating the state of the app.
You should use the `beforeSaveCell` method present in the *Cell Editing* to handle that.

[2020-06-04 07:14] simcoles commented on #1345
I have downgraded to version 1.3.1 but still facing the same issue, any update on this please?
Issue resolved had a cached newer version.

[2020-06-04 12:01] ecadagiani opened #1387 "controlled input in cell and header - lose focus"
### TL;DR:
I wan't to create table with controlled input in cell and header. All row editable at the same time, so without editableRow. But if i use formatter, the cell re-mount at each modification, and input loose focus (I wan't to avoid dirty tricks).

### TL:
Hi everyone, first of all, and like the other issue, thanks for this nice component. I would like to congratulate simplicity of use, and

[2020-06-04 17:24] Moshiour027 opened #1388 "Is debounce or any dealy option avaiable for texit inline editing??"
**Question**
I would like to know if there is any denounce option available for text cell editing, for each editing, I have seen the use case is covered for filtering, but not for tex/textarea editing. As I am doing ajax request to update the table multiple requests are triggering when I start to edit the table. Any example or direction or way would be much appreciated.

Thanks.

[2020-06-04 23:25] thiagoconnectcom commented on #1345
o Problema esta na versão 1.3.1 > 1.3.2

Para resolver vá ao package.json e troque "react-bootstrap-table2-filter": "^1.3.1", para apenas "react-bootstrap-table2-filter": "1.3.1".

- rode npm i
- npm start.

[2020-06-05 13:26] ihegde opened #1389 "Is there a way to assign grandtotal of a column at the footer of a table?"
Hi,
I am able to get the total of a column using your example [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Footer&selectedStory=Function%20Footer&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

However, when I use pagination with footer, the total shows only pagetotal. I am unable to find a way to ge

[2020-06-05 16:35] GaneshSinghPapola commented on #1220
any solution to this?
I am getting maximum depth exceeded issue while searching on two text-filters together (on Header)
or sometime erasing one filter text..

[2020-06-07 23:27] tnatanael commented on #1308
+1 same issue!

[2020-06-08 02:36] penneelane commented on #1308
Same here. Love this table. Thank you.

[2020-06-08 10:07] NeolutionComparis opened #1391 "Toggle selectRow"
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html

I want to use the selectRow feature but I want to be able to toggle it. So I created a state variable that gets toggled on a button click. And on the BootstrapTable it self I only pass the selectRow config if this state variable is true.

CodeSandbox:
https://codesandbox.io/s/react-bootstrap-table-next-basic

[2020-06-09 07:34] totalcloud-tc opened #1392 "Selectiing All in size per page"
**Question**
I have a size per page Option 'All' whose value is equal to data size, I have some external filter which changes the data. So the case is, if I select All in sizePerPage Option then it will set it to the current dataSize (say 69). if I now change the external filter the dataSize will also change (say now the data size is 45). But currently, the size per page is 69 as we didn't update

[2020-06-09 10:01] NeolutionComparis commented on #1391
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowhideselectcolumn-bool

Found this and seems to be working.

[2020-06-09 10:01] #1391 closed, assigned to AllenFang

[2020-06-09 10:51] kgrech commented on #1345
I've also faced the same issue. In my case I was able to solve it by updating the react-bootstrap-table-next dependency to recently released v4.0.3:
[code]

[2020-06-10 02:18] davidlud opened #1393 "How to handle large datasets (currently takes just under minute to load large dataset)"
**Question**
I have a dataset of 30,000 rows with 10 columns. It takes about 50 seconds to load all the data. Is there any built in method or even suggestions on how to load large datasets? Maybe some sort of infinite scroll pagination? Or streaming for example? As rows are formatted then load them. Or perhaps some type of a way to cache what is needed for the table, first load takes time, but the

[2020-06-10 15:58] jamesdamild commented on #1308
hi having the same issue , any updates from this? thanks

[2020-06-10 20:01] GABuryan opened #1394 "selectRow.selectionRenderer and CustomInput (reactstrap)"
Hi.
I am using selectRow.selectionRenderer with CustomInput from reactstrap

`const selectRow = {
  mode: 'checkbox',
  selectionRenderer: ({ mode, checked, disabled }) => (
    <CustomInput mode={mode} checked={checked} disabled={disabled} />
  )
};`

This is work. But in console I see warning - id is required props (CustomInput)
If add "id" in CustomInput

`const selectRow = {
  mode: 'checkbox'

[2020-06-11 06:28] alienbuild opened #1395 "Programmatically select filter not working when replicating"
I'm trying to follow the example given at:

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

I've pretty much replicated it line for line, adding in 5 products as that data isn't given in the example.

[2020-06-11 07:04] #1395 closed, assigned to nobody

[2020-06-11 10:34] anicache08 commented on #983
Hi, any updates on this one?

[2020-06-11 15:45] somilkhandelwal commented on #983
@anicache08 , no updates on the same.

[2020-06-11 20:20] mayawen commented on #1055
I am having the same problem here, is there a way to bind the selected list back to the table?

[2020-06-12 03:11] CurlyJoe71 commented on #1105
I've found a quick work around for my table data. As the data object is being fetched, I run it through a function that will put each whichever field value I choose into its own div which will contain an "a" element linked to a url. This new element takes the place of the old string value for that field. React renders it in the table like it would any other JSX element. Neato Torpedo!

`const path

[2020-06-13 23:04] ccoffman-ebsco commented on #384
So I tried installing react-bootstrap-table-next but the import says the module cannot be found... Does anyone have a working example of this?
Heres the error I get on build.
Cannot find module: 'react-bootstrap-table-next'. Make sure this package is installed.

[2020-06-15 07:57] sunilsp77 commented on #291
What solution did you use?

[2020-06-15 20:28] adityaraj52 commented on #231
Try: static keyword
1. Bind the static method in constructor
MyClass.showModal = MyClass.showModal.bind(this);

2. Define the method
 static showModal() {
        this.setState({
            show: true
        })
    };

3. Call the static method from Formatter method

const cellFormatter = () => {
    return (
        <Button className={'btn btn-primary'} onClick={MyClass.showModal}>Attend</Butto

[2020-06-16 15:45] gosticks commented on #384
@ccoffman-ebsco do you have both packages installed `react-bootstrap-table-next` and `@types/react-bootstrap-table-next`?

[2020-06-16 19:58] rassin04 opened #1396 "ExpandRow : Warning: findDOMNode is deprecated in StrictMode"
**Describe the bug**
On expanding the row it shows the warning "Warning: findDOMNode is deprecated in StrictMode" (in development environment)
**To Reproduce**
Steps to reproduce the behavior:
1. Use the react-bootstrap-table-next with expandRow prop
2. On expanding it gives the following console warning(in development environment)
[code]
**Analysis**
This is caused by usage of `{ CSSTransition }

[2020-06-16 22:24] jbailey2954 commented on #1345
Seems like a patch release shouldn't introduce a breaking change. Is anyone working on a fix?

[2020-06-17 06:12] lavania-aditya commented on #1310
Hello, @AllenFang have you got time to implement this feature, I really need this in my project.

[2020-06-17 07:12] sowmiyaseshadriii opened #1397 "In pagination how to change pagenum based on prev/next button"
Hi,

Thanks for awesome package.
I have implemented table with pagination,
In my case, i want to show prevbutton, pagenum, nextbutton.
On each prev/next button click, will call the api and fetch records,
also pagenum should also change
i.e

If the pagenum is 1, on nextbutton click, it should show pagenum as 2
If the pagenum is 2, on prevbutton click, it should show pagenum as 1
If there is no data

[2020-06-17 07:52] pastinepolenta opened #1398 "Search bar clear error when changing number of results per page"
**Describe the bug**
An error happens when clearing the search bar after changing the number of results per page.

**To Reproduce**
Steps to reproduce the behavior:
1. Standard table with custom search component and pagination
2. Search something so that the search returns ZERO results
3. Change the number of results per page on the pagination
4. Clear the search with the "clear button" (which cal

[2020-06-17 11:38] tommipal opened #1399 "Is there a way of exporting all of the table data into CSV and keeping the sort by column order"
**Question**
Is there currently a way of exporting all of the table data into CSV and keeping the sort order?
For example If I sort a table by column and then export it, the data in the CSV will be in the initial order.
It was mentioned in  **#1108 Can you export the csv after sorting the table and have the csv display the sorted table?** that `exportAll: false` will make the data keep the sorting

[2020-06-17 20:56] ciacono commented on #1308
Same here!

[2020-06-17 21:12] SandeepKapalawai opened #1400 "Collapse all rows on the button click"
**Question**
I wanted to implement only the collapse all functionality for all the rows on clicking the button that is being displayed out side of the table. When we click on the button, all the  rows that are being expanded should collapse

I am working on the react hooks, so i have the functional component, i am using the custom expandRow  like below

`
const [expanded, setexpanded] = useState([

[2020-06-18 05:15] SandeepKapalawai commented on #1400
@Chun-MingChen

[2020-06-18 06:29] eitens-mak commented on #1385
I created a draft PR. I want to add more testing, but perhaps you could suggest improvements now

[2020-06-19 13:28] xtrapower commented on #912
[code]

In the meantime add this CSS to disable the animation

[2020-06-19 17:35] reposman33 opened #1402 "React Bootstrap Table 2 default sort ignored."
I have a table with several columns, I want the table to be sorted on te 1st column on initial display. While I follow the docs it seems that the default sort is ignored.

This is my column definition:

[code]

I want to sort on the 1st column:

[code]
This is how I configure the table component in the component

[code]
This is a screenshot of initial display

![image](https://user-images.githubus

[2020-06-19 20:21] Tzahi12345 commented on #567
I was wondering how I can have a custom header for the select column, without allowing selectAll.

Basically, I want to title the selectRow, and not have the click propagate through. Is this currently possible?

[2020-06-22 01:28] jonathanrodriguezs commented on #1313
Hi @reposman33, yes, you can use CSS modules because practically they are strings with the class name you declared in your stylesheet plus a hash as an identifier to avoid naming conflicts.

[2020-06-22 09:06] asaf-shochet commented on #1198
hi, any update on this issue?

[2020-06-22 17:35] bcobra commented on #582
Is this happening again? The message pops up very quickly then disappears,

[2020-06-22 23:29] jikkujj opened #1403 "How do you clear table when inside paginationprovider"
When the bootstraptable is by itself, you can use the ref tag to invoke reset but that doesnt work when the bootstraptable is inside paginationProvider.

This is why I need the ability to reset/clear the table. I bind 10 rows to the table. I expand the row with id =1. Then i do a fetch to get a new set of rows. The table still shows the row with id=1 in the new state of table as expanded but witho

[2020-06-23 08:30] aws-haoyuli commented on #695
@sgwcollins Hi sgwcollins, could you give some hints on how to filter by date range? Thanks in advance!

[2020-06-24 00:08] jikkujj opened #1404 "Broken onExpandAll property/event"
If you do an expandAll, it gives you a list of all the rows you expanding, but when you try to collapse all rows, it doesnt tell you what rows you are collapsing meaning the rows array is empty.

This becomes a problem when expandall on one page of your results and then you move to another page and try to do collapseall. You  wont know what rows to remove from the expanded set

[2020-06-24 01:45] sudravi opened #1405 "Drawing bug when setting column width using headerStyle"
**Describe the bug**
When I add headerStyle to a column, I see a drawing bug. There's a small blue rectangle below the selected column header.

**To Reproduce**
1. Go to CodeSandbox, link below
2. Click on any of the column headers, e.g. ProductID
3. See drawing bug in the cell below the selected column header

**Screenshots**
<img width="580" alt="Screen Shot 2020-06-23 at 5 56 15 PM" src="https:

[2020-06-24 09:20] pastinepolenta commented on #1398
@AllenFang any update or workaround on this ? If you need more clarifications I can investigate further

[2020-06-24 21:11] alperg opened #1406 "unselect row"
**Question**
In 'radio' mode, how do you unselect a row, if it's already selected?

this is my setup:

[code]

[2020-06-25 02:16] nishanthkothuru opened #1407 "How to scroll to a row programatically"
Based of the user input, one the table loads, I need to select a particular row. I am able to accomplish this using the following code

selectRow={{
                    mode: 'radio',
                    clickToSelect: true,
                    selected: [selectedRow]
                }}

But row is not in the user display due to the size of the panel where the table is loaded. Is there a way to sc

[2020-06-25 12:24] sethbaldwincolpal opened #1408 "Allow multiSelectFilter.options to be an array so that we can control the order of the options."
First of all, thank you for creating and maintaining this excellent repo!

I am working with a table where I want to allow filtering of categorical columns with the option of selecting multiple values at once. I have found that multiSelectFilter works well for my needs. However, I have been unable to find a way to control the ordering of the filter options when using multiSelectFilter. According t

[2020-06-25 14:27] BartlomiejPawelec commented on #1308
Please update this :(

[2020-06-25 20:01] #1406 closed, assigned to AllenFang

[2020-06-25 22:15] tonkabits commented on #823
Thanks @lovato

[2020-06-26 19:25] jamesdamild opened #1409 "table doesn't rerender on data changes"
**Question**
Hi there ,are you guys still maintaining this project ? i see that none of the issues have been resolved, I am still pending on some errors so I can finish my project. And also how do I rerender the table when the data is changed ? i have a custom filter developed by me so I can change the data. when I change the data, all the states are updated successfully but the table doesn't rere

[2020-06-26 19:37] jamesdamild commented on #847
hi @hasangursoy ,
were you able to resolve this issue ? I am having the problem , whenever I change the state of data, the table is not rendered, always shows same data at initial :/

[2020-06-29 06:15] lavania-aditya commented on #357
Hello @AllenFang can anyone please suggest me how to scroll programmatically in table 2

[2020-06-29 13:29] Druwww opened #1410 "Does a onSearch methode exist ? (like onFilter or onSort but for search)"
**Question**
I'm creating a single web app page witch use your lib to show a missions list. In the table, I have a button to zoom on a particular mission in a particular row. So the table component is erased each time I zoom on a mission. But, when I come back on the list (and the table), i would like to keep my previous searching parameters save.

For filter and sort, i used onFilter and onSort w

[2020-06-30 00:27] basky5 commented on #360
Is there any solution to this? I am also having the same issue

[2020-06-30 03:02] khoand10 commented on #1345
work for me!

[2020-06-30 16:35] jabberwo commented on #700
How did you override it?  I'm not having any luck using the "classes" option to the BootstrapTable object.

[2020-06-30 17:42] jspin77 opened #1411 "How do I pass multiple state variables to the formatExtraData?"
Trying to use a <Link> within in the table.  The issue is that I am trying to pass some state variables through that link....
          formatter: (cell, row) => {
                    return <Link
                              to={{
                                pathtext: `search/${row.id}`,
                                dataSetIds: this.state.dataSetIds,
                                search

[2020-06-30 20:05] msueping opened #1412 "Filter on more than one value using a select dropdown"
**Question**
Using the example at the link below, is it possible to have both the "good" and the "unknown" rows included if "good" is selected in the drop down filter list. Same for if "bad" was selected; both "bad" and "unknown" would be included (but not "good").

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Progra

[2020-06-30 20:23] chilobe commented on #1411
formatExtraData can be an object, with as many values as you want, e.g.

formatExtraData: {value1: someValue, value2:anotherValue}

e.t.c

then just access them in formatter via

formatter: (cell, row, index, extraData) = >
{
extraData.value1
}

e.t.c

[2020-07-02 10:48] sushmitg opened #1413 "Is it possible to have two footer rows?"
Is it possible to have 2 rows of footer something like this:

![image](https://user-images.githubusercontent.com/22211683/86349860-6b94be00-bc7f-11ea-9134-daef4d252ab0.png)

Here 1 row is for the total count and under it 2nd row for %.

[2020-07-02 19:08] AdamJakiela opened #1414 "Search Formatter for Specific Cell (Phone Number)"
**Question**
Hello,
I have a table with a column that contains a phone number. Since the data is stored unformatted, column uses a formatter to properly format the phone number. So for example 14632222408 -> 1 (463) 222-1408.

For this table, `searchFormatted` is set to `true` to search over the formatted data. However, I have noticed that users search for phone numbers in many ways:

14632222408

[2020-07-03 17:19] simcoles opened #1415 "Filtering clears on table rerender"
I was wondering if there was a way to persist filtering when the table re-renders?  I need to disable some table content based on the filtered data i.e when the filtered data set is empty.  My first attempt was to use the onDataSizeChange hook, listen for when the filtered data count is 0 and pass a boolean prop based on this condition.

[code]

However when the disabled prop changes the table re-

[2020-07-04 10:25] Pragatigg commented on #437
@F-Adam-B I am also facing same problem, around 40 columns and 100 rows  leads to page slows down. Pagination takes time to respond. Any help?

[2020-07-04 14:13] vishwa3 commented on #338
@AllenFang : Same issue , on front-end only first row is being updated , all other rows revert to the previous value after updating the cell . @abrousseau001 , did you manage to resolve the issue

[2020-07-05 02:12] shirishwagh83 opened #1416 "Edit mode on focus"
Is it possible to turn on the edit mode when cell gets focus? Currently edit mode gets triggered only when I click on a cell or with keyboard navigation press enter key.

[2020-07-06 09:44] jonrandahl commented on #1400
@sonusandeep wouldn't your button be as simple as clearing all from the expanded?

`const handleBtnClick = () => setexpanded(expanded => []);`

Apologies if I've misunderstood!

[2020-07-08 14:25] CoryCovino opened #1417 "Cannot read property 'get' of null"
Relates to [#459](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/459) and [#1328](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1328).

Attempting to export a table to a CSV and I get the aforementioned error.  Here's an example provided by jsuryahd on 2020-05-19 in #1328, with react-bootstrap-table2-toolkit-2.1.3
https://codesandbox.io/s/agitated-s

[2020-07-09 06:05] Ksenia0479 commented on #617
Hi team

Any update on this?

[2020-07-09 08:44] unllamas commented on #1405
Apply in your style.css
`*{ outline: none! !important }`
It happens that the arrows take them as buttons and add an outline

[2020-07-09 09:23] unllamas commented on #1292
`
{
        dataField: 'id',
        text: '',
        style: { width: '1%' }
}
`

[2020-07-09 16:34] sudravi commented on #1405
@jonallamas thanks, that works! There was an extra exclamation after none, but otherwise worked great.

[2020-07-09 16:34] #1405 closed, assigned to AllenFang

[2020-07-09 16:43] cancerberoSgx commented on #384
Hello people, I won't we working on typings for this (sorry) so (@MacroPower ) feel free to use my code as you wish, thanks.

[2020-07-10 07:29] turbod opened #1419 "How to add search column name to remote filter?"
Hi, I have a datatable with remote data, and remote filter. Can I configure somehow the columns, to the filter send an extra data with the name of the database column name to the backend, not only the dataField? Because the dataField is different than the database column name.

Now I have a tags column where the dataField is tags, but I would like to send with the filter this "tags.name".

Can I d

[2020-07-10 20:04] SandeepKapalawai commented on #1400
Thank you so much this works for me

[2020-07-10 20:04] #1400 closed, assigned to AllenFang

[2020-07-10 20:23] SandeepKapalawai opened #1420 "Expand should work only when we click on the expand indicator"
**Describe the bug**
Hi I am using the custom expand indicator to implement the collapse only functionality  in the  expandHeaderColumnRenderer

as per the storybook example i have implemented the custom indictors to show the collapse all (...) when i click on that and i gave the other condition as null  (not to perform expand)

`  expandHeaderColumnRenderer: ({ isAnyExpands }) => {
      if (isAn

[2020-07-11 11:25] AdamVanBuskirk opened #1421 "When Clicking pagination, instead of loading next page, it adds rows to current page rows"
![popup2](https://user-images.githubusercontent.com/65690560/87223031-6dc5df00-c347-11ea-828c-404528fdcd7a.PNG)
![popup1](https://user-images.githubusercontent.com/65690560/87223032-6dc5df00-c347-11ea-8174-4bfb2b3cb920.PNG)

**Describe the bug**
I have 3 pages of rows with pagination at the bottom. When I click the 2 for the second page, instead of loading the next 5 rows, it adds those 5 to the f

[2020-07-11 11:54] AdamVanBuskirk commented on #1421
I apologize, bad code on my part. I had duplicate keys on table in react so it was mistaking the second table for the main table, which loads 10 at a time, not 5.

[2020-07-11 11:54] #1421 closed, assigned to AllenFang

[2020-07-12 05:37] AllenFang commented on #1420
@sonusandeep if you want to expand the row by clicking expand indicator, you should enable [`expandByColumnOnly `](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandbycolumnonly-bool)

Please open another issue if the problem still remain, thanks

[2020-07-12 05:37] #1420 closed, assigned to AllenFang

[2020-07-12 06:09] AllenFang commented on #1417
@CoryCovino the problem is the example code seems wrong:

it should be something like:
[code]

instead of :

[code]

I finally can reproduce this issue by above case, please correct it by my first code.

thanks

[2020-07-12 06:10] #1417 closed, assigned to AllenFang

[2020-07-12 06:10] AllenFang commented on #459
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1417#issuecomment-657180179

[2020-07-12 06:10] AllenFang commented on #1328
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1417#issuecomment-657180179

[2020-07-12 06:16] AllenFang commented on #1414
hi @AdamJakiela boss, try this: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Custom%20match%20function&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

I just found the custom search didn't documented. will patch it... sorry

[2020-07-12 06:16] #1414 closed, assigned to AllenFang

[2020-07-12 06:39] AllenFang commented on #1413
@sushmitg sorry we don't have this feature so far, but PR is welcome

[2020-07-12 07:08] SandeepKapalawai opened #1422 "Expand all is happening even if i click in the empty are/ when i dont display any indicator"
**Describe the bug**
Hi I am using the custom expand indicator to implement the collapse only functionality( i dont need to have expand all )  in the expandHeaderColumnRenderer

as per the storybook example, i have implemented the custom indictors to show the collapse all (...) when i click on that and i gave the other condition as null  , so as(not to perform expand)

Here is my code :  as sugges

[2020-07-12 07:12] SandeepKapalawai commented on #1420
Thank you so much @AllenFang , for the reply, i dont need the expand to be performed in table header, all i need is only the collapse should be performed, for that i have the indicator for only the collapse case and the other case i  gave it as null. But when in case an empty indicator if I click on the expand column, the rows are expanding, in my case i don't need to perform  the expand, is there

[2020-07-12 07:33] AllenFang commented on #1411
@chilobe's answer is correct, the `formatExtraData` can be anything

[2020-07-12 07:33] #1411 closed, assigned to AllenFang

[2020-07-12 07:56] AllenFang commented on #1422
HI @sonusandeep  boss, so far we can't do this((for your requirement, but I got an idea.. ugly idea.. lol

Make the empty element to full cover the `th` element:
First, make it cover the `th` element:
[code]

Second: change it's parent(`th`) as position relative:

[code]

I tested it and work perfect. Let me know if above isn't work.

[2020-07-12 07:56] #1422 closed, assigned to AllenFang

[2020-07-12 07:58] AllenFang commented on #1422
it's my link:
https://codesandbox.io/s/react-bootstrap-table-next-basic-example-z3qde?file=/src/index.js

[2020-07-12 08:30] AllenFang commented on #1410
So far we don't have `onSearch`, but have [`afterSearch`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/search-props.html#searchaftersearch-function). Because I'm busy recently so I can promise when I can implement this feature, so PR is welcome, thanks

[2020-07-12 08:30] #1410 closed, assigned to AllenFang

[2020-07-12 08:52] AllenFang commented on #1412
@msueping you can filter one more value via a single selection, but you can adopt [multi select filter](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#multiselect-filter)

[2020-07-12 08:52] #1412 closed, assigned to AllenFang

[2020-07-12 08:53] AllenFang commented on #1409
@jamesdamild sorry for lately reply, would you please give a simple and minimal example on codesandbox so that I can help you? thanks

[2020-07-12 08:54] AllenFang commented on #1398
hi @stilllife00  boss, sorry I'm busy recently, I will look this issue, thanks

[2020-07-13 11:19] vinodbhavnani opened #1423 "The table seems to display some sort of cached data from the previous render when using completely custom pagination"
**Describe the bug**
I am using completely custom pagination (Nothing to do with pagination factory).
**"react-bootstrap-table-next": "^4.0.1",
"react": "16.13.1"**

I have my custom pagination buttons that dispatch actions, fetch data and modify the data prop of the table. So the only thing the table has to worry is showing the new data on data change.

In my case I have next and prev buttons. Wh

[2020-07-13 14:42] marcRobertHabib opened #1424 "Activate an event when SELECT selected item is changed, before leaving cell"
Thanks for your valuable work.

Having a table with a SELECT type column, is there a way to activate an event when the selected item of a cell is modified (before leaving the cell)?

[2020-07-14 09:39] lavania-aditya commented on #207
is this feature is implemented in table or it's currently under development. I need this feature in my project @AllenFang

[2020-07-15 09:43] brandoncoetzee commented on #756
@AllenFang is there any functionality to export data into different sheets? Or does CSV not allow for that? I want to have half of the data in one sheet in excel and half in another sheet in excel?

[2020-07-15 16:07] Tzahi12345 commented on #1176
Can someone expand on what this error means? Does it mean that no data was put into the table, or that no columns were defined (or both)?

Thanks!

EDIT: I got it! It means no columns were defined :)

[2020-07-15 18:46] SandeepKapalawai commented on #1422
Awesome boss @AllenFang , working perfect :)

[2020-07-16 13:08] marcRobertHabib opened #1425 "Column classes callback function columnIndex ignore hidden columns"
I don't know if it is a bug or not, but from my experience when there are columns like this:
  column0 -> hidden = true
  column1  -> classes = callback(cell, row, rowIndex, colIndex)

colIndex value in callback is 0.
If  column0 is not hidden, colIndex is 1.

[2020-07-16 15:23] mathewf2 commented on #1097
I am effectively trying to accomplish the same thing as @remoroethlisberger

I got to the point of getting the `Maximum update depth exceeded` error as well from updating a component state from within the onFilter function. @remoroethlisberger how did you end up bypassing this error?

Or is there a better solution to creating a dynamic filtering option? I followed the above guidelines; saved the '

[2020-07-16 16:12] elocin11 commented on #1423
Probably a duplicate key from the data you are fetching. Could be related to this https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1421

[2020-07-16 16:38] manojsharma20 opened #1426 "How to draw table with complex data where each object from array contain another level of array of objects."
I have a simple requirement where I have to draw a table with complex data where each object from array contain another level of array of objects. Something like below structure:

 "data": [
            {
                "uuid": "616509f786a",
                "emailId": "test@test.com",
                "password": "cvdfgfgdfvsdjgsdhgjkdsbgdjkbgvd",
                "firstName": "TEST",

[2020-07-16 20:01] nextglabs commented on #1345
Works for me too 👍

[2020-07-17 07:05] wink94 commented on #373
I  get this error  for these props

[code]

`Type '{ mode: string; clickToSelect: boolean; bgColor: string; }' is not assignable to type 'SelectRowProps<any>'.`

[2020-07-18 09:13] kozlikov commented on #601
what if if we add sorting and add attribute remote = true in table ?

[code]

then the request will go with sortField=dummy_id, what NOT sortField=id!
How to be in this case?

@AllenFang , mmm?

[2020-07-18 14:24] lavania-aditya commented on #1409
@jamesdamild don't directly mutate the state, please use immutability in world of react to update the state. https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns

[2020-07-18 14:29] lavania-aditya commented on #1407
@nishanthkothuru use  ```attrs: (cell, row, rowIndex, colIndex) => ({ id: `${rowIndex}${colIndex}` })``` to prove id to the specefir column, and you can find the element by const elem=get element by id (id name), and use any third party library to scroll by id: https://www.npmjs.com/package/react-scroll

an alternative way of dining this is if you know the instance of your row you can use ref to c

[2020-07-18 14:39] lavania-aditya commented on #1361
@tarim header classes are not defined in the column, if you need to use a single class for header user  headerClasses="header-class" in table definition column reference: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Header%20Columns&selectedStory=Header%20Class&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Fac

[2020-07-18 14:43] lavania-aditya commented on #1334
@vtarelkin use column formatter to define column and use ref inside it, this case will not return you null in ref.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Header%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-07-18 15:44] jackiehamchen opened #1429 "Rendoring big JSON object with server side pagination"
Hello
Thank you so much for the supports so far.

This time, I'm having an issue with rendoring big JSON object from mongo DB and it takes 24 secs to search all the rows (300 rows). I'm thinking that server side pagination would help.

My question is
(1) how to call server API when click each page number.

E.g. click page 2 send API /searchBooks/page2
Click page 3 /searchBooks/page3

So that I can

[2020-07-19 05:30] AllenFang commented on #1426
@manojsharma20  use [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function).

[some example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-

[2020-07-19 05:30] #1426 closed, assigned to nobody

[2020-07-19 05:32] AllenFang commented on #1423
@vinodbhavnani would you please make a small and minimal example on codesandbox so that we can help you more efficient, many thanks

[2020-07-19 05:38] AllenFang commented on #1425
@marcRobertHabib actually the hidden column didn't render on HTML so it's expected behavior in my opinion. Please open another issue if you have another use case, I will consider to enhance it.

thanks

[2020-07-19 05:38] #1425 closed, assigned to AllenFang

[2020-07-19 09:57] phamkimtho commented on #285
We can use headerAttrs (use for header) to add colspan. But for the others, we can use attrs. Note, we have to use it in conjunction with hidden to hide the redundant cells.

[code]

![image](https://user-images.githubusercontent.com/38523981/87872196-b84af980-c9e0-11ea-9ff5-2c192a4eccef.png)

[2020-07-20 08:33] kelvi6767 opened #1430 "Trigger onTableChange using customFilter"
how to trigger onTableChange when using remote customFilter? i want to do it remotely to filter my data in backend

[2020-07-20 19:33] marcRobertHabib opened #1431 "startEditing row index is relative to page first row"
It seems that in this.node.cellEditContext.startEditing(0, 1)
row index is relative to first row in current page.

[2020-07-21 03:37] kelvi6767 commented on #360
i've gotten the same issue when i'm type the text on textFilter, its remove the text after filter. but this time i've already remove the overlay. but it seems occur.
this is my sample of code. i've remove an overlay. but still the same problem.

`import React, { Component } from 'react';
import { Button, Form, FormGroup, Col, Row, ControlLabel } from 'react-bootstrap';
import '../css/table.css';
i

[2020-07-21 06:38] saule1508 commented on #1402
Hello

I think the defaultSorted property does not do what you expected. The property does not tell the component to do the sorting, it says to the component on which field the data is (already) sorted, so that the component can put the small visual indicator in the column header (i.e. the arrow). But  the data provided must be sorted on this key.

Pierre

[2020-07-22 11:07] HUANGXUANKUN commented on #825
@matteusbarbosa Oh man.. Should have raised this post up.  It is so helpful for implementing an add, edit or delete button with form like this:
<img width="1415" alt="Screenshot 2020-07-22 at 7 05 06 PM" src="https://user-images.githubusercontent.com/39436447/88169445-88089280-cc4e-11ea-820b-c73addbb6a64.png">

[2020-07-23 03:25] sowmiyaseshadriii opened #1432 "How to have group header column in table"
thanks for awesome package,

I would like to know how to have group header column in table,
Please provide any sample. thanks

[2020-07-23 10:07] nontachaiwebdev commented on #589
Hi guys. Is any update on this issue ? Has anyone fixed it ?

[2020-07-24 02:22] aws-haoyuli commented on #1097
@remoroethlisberger
Hi Remo, I'm also curious how you solve this problem finally. Could you share some hints with us?

Thanks.

[2020-07-24 11:05] AdamRogersDev commented on #279
@AllenFang Where would be the best place to call this.node.selectionContext.selected to allow passing up the prop with the most up to date selection. I've tried in selectRow, rowEvents but they all return with the array before updating with the latest selection.

Are there any actions that run after the selection has took place?

[2020-07-24 22:33] JingleH opened #1433 "Pagination's onSizePerPageChange callback arguments order"
App crashes when I change sizePerPage with no data. Showing "Cannot read property 'id' of undefined.

https://codesandbox.io/s/reactbootstraptable-issue-selq9?file=/src/index.js
Steps to reproduce the behavior:
1. Select Status Filter to be '2'
2. Change Size per page to be anything, like 10
3. Select Status Filter to be anything, like 0
4. See error

<img width="622" alt="onSizePerPageChange" src

[2020-07-26 03:24] NguyenTrungMax commented on #373
hello @AllenFang  Can I change bgColor of selected row only ? The example display all selected row, I want display only row when I click,

[2020-07-27 09:58] bymoe opened #1434 "onPageChange is firing twice"
I am handling the current page with backend pagination, but the `onPageChange` is firing twice; the state is changing two time and it's breaking everything.
[code]
Note that `onSizePerPageChange` is firing once and everything's working just fine.

react-bootstrap-table2-paginator version: `2.1.0`
react-bootstrap-table-next: `3.3.5`

[2020-07-27 13:04] bymoe commented on #1434
@AllenFang I appreciate your time If you can help me with this.

[2020-07-28 16:24] Tzvetelin88 commented on #1042
As this event is for the hole ROW, we need to exclude last one, as we have different events there. You can exclude no matter which one, even pass it as parameter (index in this case)

[code]

Basically this: (getCurrentCellIndex !== getLastCellIndex ) is controlling the current ROW event, but when click on the action button inside the Cell, you do not have cellIndex, so (getCurrentCellIndex !== un

[2020-07-28 21:57] paolocattani commented on #1308
Same here!

[2020-07-28 23:38] jamesdamild commented on #1308
@AllenFang have you seen the messages ?

[2020-07-29 06:30] akon01 commented on #1308
same here

[2020-07-29 15:28] hienx commented on #1308
same :(

[2020-07-30 14:34] vodnokoki commented on #1345
Faced with same issue, updating react-bootstrap-table-next dependency to recently released v4.0.3 fixed issue for me.

Thanks.

[2020-07-31 17:08] Gianca23 opened #1436 "react-bootstrap-table2 error"
**Question**
Hi everyone,
I'm trying to change the value inside my variable when the following error is returned to me:
TypeError: Cannot add property Selected, object is not extensible

Thank you all

[code]

[2020-08-04 03:12] bggolding opened #1437 "Documentation for noDataIndicator isn’t correct"
The documentation for noDataIndication says that it takes a function however it also accepts a string (or a JSX element) to render. I wanted to update the docs and issue a PR to fix this but the docs included in the project don’t seem to match the active docs on the [GitHub page](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#nodataindication-function).

I cam

[2020-08-04 13:50] jofelipe commented on #887
did you find any solution? having the same here :(

[2020-08-04 14:10] jofelipe commented on #887
Well, I may have a solution for who want to customize BootstrapTable with Styled Components:

I created a wrapper component, and wrapped BootstrapTable component (obviously xD). Sandbox is here: https://codesandbox.io/s/bootstraptable-with-styled-components-pfpw1

[2020-08-04 14:15] CoryCovino opened #1438 "Unselect / Select Table Checkbox in Code"
Hello.  Is there any way to unselect a checkbox in react-bootstrap-table-next programmatically?  Like in this [link](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)?

I've copied and pasted the code exactly and

[2020-08-04 16:04] #1438 closed, assigned to AllenFang

[2020-08-04 17:02] purnima995 commented on #207
@AllenFang any update on this. any near future ETA? I need this in my project.

[2020-08-04 19:18] lewismacdonald commented on #1345
this fixed prob for me too!

[2020-08-05 20:35] rubiadias commented on #1308
Same here

[2020-08-06 16:57] sparkle225 opened #1439 "Possible to programatically determine that a row is finished rendering?"
Is there any way currently to determine that the table is finished rendering a row programmatically?I am trying to add the ability to edit within the table row but, I need to be able to pass back some information once the row is completely rendered within the table for reference. As the table current renders each cell independently I don't see an obvious way to capture this event. Appreciate any s

[2020-08-06 20:33] reginafcompton commented on #1178
Hi @AllenFang - I am seeing this same behavior, particularly when I use the formatter function to return a link. I am providing snippets from my code.

Note! I added a console.log to the `filterValue` function, and it does NOT execute when I type in to my search bar. However, if I remove the `formatter`, then `filterValue` executes as expected.

[code]

[code]

[2020-08-06 20:37] reginafcompton commented on #1178
I implemented a workaround by including a "hidden" field that filters my name column:

[code]

[2020-08-07 13:57] DylanBowden commented on #1202
Same issue, been searching for hours. As soon as I put any filter on a column, I get the error (where 'value' = name of column)

[2020-08-07 14:44] DylanBowden commented on #1202
Figured it out with the help of the examples https://github.com/react-bootstrap-table/react-bootstrap-table2/tree/master/packages/react-bootstrap-table2-example/examples/column-filter and another issue https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1345

I was also using `ToolkitProvider` with the same columns property which was the one actually getting confused by the filt

[2020-08-07 16:27] ubheamar commented on #1308
Hello Any Update on this?

[2020-08-08 04:50] kylegoetz opened #1440 "Cannot have Redux hooks in functional component that is expandColumnRenderer"
If I define my `expandColumnRenderer` (for row expansion) to be:

[code]

this crashes my application with

[code]

The line highlighted in the code indicating where the error occurred is the `const isEditing = useSelector` line. If I comment it out and replace with `const isEditing = true` then the app does not crash and the application the cell as expected.

I've seen other people in the past ha

[2020-08-08 05:31] kylegoetz commented on #1440
Provisional solution: rewrite functional component that uses redux hooks like `useSelector` and `useDispatch` as class components instead and use the redux `connect` to avoid having to use any redux hooks directly.

[2020-08-08 06:52] kylegoetz commented on #1440
Operating theory: react version used by this library predates the introduction of hooks. Looks like it's v16.4 to me, and hooks came in 16.8.

[2020-08-08 11:35] hkabir opened #1441 "How to change options of select filter dynamically based of changing of option of another column?"
I have two columns with two select filters of a react bootstrap table. I would like to change the options of the second filter based on the selection of first filter. How can I do this?

[2020-08-08 19:37] bymoe opened #1442 "Search doesn't work when remote pagination is turned on"
As simple as I want to have remote pagination but not remote search,
with `remote={{ search: false, pagination: true }}` the search just doesn't work,
But when I add `remote={{ search: false, pagination: false }}` it works.

I am not sure what's going on here!

[2020-08-09 07:10] khanh-nguyen commented on #214
Make sure **keyField** is one of your columns' dataField and it is unique. Otherwise, you get the warning message.

Would be nice to have unique ids generated if `keyField` is not provided in case the table has no unique data, @AllenFang ?

[2020-08-09 15:42] hunterxxx commented on #203
@sidthekidder use formatter

[code]

[2020-08-09 22:46] mcverticchio opened #1443 "Total column with cell display value, not datafield value"
I am displaying a number in a column cell based on whether the dataField for that cell is true or false.

Is there a way to calculate the total using that formatter value?  I am only able to access the dataField value (in this case 1 or 0), not what is actually displaying in the cell (a different number determined using the formatter).

[2020-08-09 22:54] #1443 closed, assigned to AllenFang

[2020-08-10 08:47] khanh-nguyen commented on #688
Another vote for this issue.
I'd love to have `keyField` being optional. I want to use **react-bootstrap-table** to render my data, so I don't want to alter my data by adding a unique key to it. There are many cases where uniqueness is not required in data.

Thanks,

[2020-08-10 15:09] aguprado commented on #1434
you have to add the options
                  _remote
                  onTableChange={() => {}}_
to the table properties.

[2020-08-11 14:35] yasirabbasi81 commented on #919
Is this feature implemented yet?

[2020-08-11 17:55] amitsetty opened #1444 "Redirect to First Page on resort of table"
Can't redirect to first page when table is sorted again. I tried to this by creating a state variable and changing it to 1 within sortFunc and then setting that state variable as page in options of paginationFactory but this isn't working.

paginationFactory({page:pageRedirect}||1)

[2020-08-11 20:37] Mikeez opened #1445 "Colspan & Rowspan"
![image](https://user-images.githubusercontent.com/26636051/89948760-a8e05a00-dbf4-11ea-92bb-6c95b4ee6181.png)

**Is this feature requested before?**
This feature was requested before a year a go. I am unsure if someone found an alternative solution as everyone went off track.

**Is your feature request related to a problem? Please describe.**
In the header of the table, you want to have a parent

[2020-08-12 15:08] yasirabbasi81 commented on #546
Is it possible to show all row as expanded by default instead mentioning all ids in expanded array

[2020-08-14 12:16] MiracelVip opened #1447 "Filter by other Component"
**Question**
I would like to filter the table by another Component.
For transfer the data I want to use reactn (global state management)

I don't know how to controll the getFilter() from "outside".
**Screenshots**
![image](https://user-images.githubusercontent.com/28352461/90248143-64dd9700-de38-11ea-8257-d2adfd58d259.png)

Thank you very much in advance!

[2020-08-14 13:05] EinarJohansson commented on #943
Cant get this to work either :(

[2020-08-14 13:43] lacek commented on #1350
I ran into a similar situation. But I maintain a list of all the rows, so I can find the global index by `allRows.indexOf(row)`.

[2020-08-15 16:37] bymoe opened #1448 "How to add a custom tfoot to the table?"
As simple as that,
Just wanted to add a custom `tfoot` not a custom footer for each column!

[2020-08-16 12:34] Anjali985 opened #1449 "please solve it asap select rows issue"
https://stackoverflow.com/questions/63402469/getting-error-underlined-in-selectrow-in-react-bootstrap-table

[2020-08-17 16:00] CYBAI commented on #1449
With reading your SO question, I guess you're using TypeScript and the type error is caused by incompatible types.

First of all, if you're using `react-bootstrap-table` and install its TS types, I assume you're using [`@types/react-bootstrap-table`](https://www.npmjs.com/package/@types/react-bootstrap-table). If so, it is actually [maintained by the DefinitelyTyped community](https://github.com/D

[2020-08-17 17:17] virasatkhan opened #1450 "Question on Filters - Need a Feature"
**Question**
My Question is with Filters. I have implemented filters on my columns. However when I use them with pagination, the filters get resetted to 'undefined'. This is kind of crazy as I researched a lot on this and tried to use the 'onFilter' function to crack it and set it as a state and using the 'defaultValue' of that filter to this text. Which is good and it works. However, as I am sett

[2020-08-18 14:02] MetalWing opened #1451 "Ability to use custom data-* attributes"
Expected behavior
Ability to pass in or auto generate data-testids for the table pagination elements, filter inputs, etc so it's easier to do E2E testing.

Actual behavior
Not able to pass in custom data attributes to each element.

Example:
[code]
This shows up as
`<table id="result-table" class="table table-striped table-hover table-bordered">`
Expected:
`<table id="result-table" data-automation

[2020-08-18 14:49] maulikpatel-in opened #1452 "update component base on new react release."
in my console I got log like this:

`Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to s

[2020-08-19 17:07] kylegoetz opened #1453 "Selection (Self-)Management + Pagination"
Summary:

**I am manage my own selections with `selectRow` but also use pagination. `selectAll` should select just what's in the current page but there is no way to do this as far as I can tell.**

Lengthy explanation:

I have to manage my own selections because other parts of the UI depend on selection state (if some rows are selected, special UI appears to delete/edit/save/etc. the selected data

[2020-08-19 17:15] kylegoetz commented on #1453
I don't see a way to delete this issue. So I'm closing it. The answer is on the `onSelectAll` callback, a second parameter, `rows`, is an array of only the rows displayed on the current page.

[2020-08-19 17:15] #1453 closed, assigned to AllenFang

[2020-08-20 16:32] TCurran96 opened #1454 "How to use pagination sizePerPage in localStorage to persist users sizePerPage choice?"
**Question**
I am using react-bootstrap-table2 and have recently implemented the pagination feature so that users can choose how many rows appear per page. I have used the react hook `useLocalStorage('pagination')` from https://github.com/rehooks/local-storage to add the sizePerPage value to my local storage. This works successfully and i can see the value change in my local storage from '10' to '

[2020-08-21 06:06] Mikeez commented on #1445
Is there a way for me to help :)?

[2020-08-21 15:32] charliemoriarty commented on #1118
@AllenFang Thanks for all the work you do on this project!

We've been having some trouble with this crash as well, which happens when we use both a `ToolkitProvider` and `PaginationProvider` and try searching for items when on the the second+ page of results. It also occurs if we update the `data` value to a new array size that's smaller than the previous array, whilst we're on a page of results

[2020-08-21 20:14] IPetrik commented on #688
+1 vote in favor!

[2020-08-24 11:08] LadIQe opened #1455 "Multiple sort"
**Is this feature requested before?**
No, I didnt find it.

**Is your feature request related to a problem? Please describe.**
No, but it would be nice feature.

**Describe the solution you'd like**
Hello, we are creating datatable for our client. We chose yours, becuase looks nice and its relatively easy to use. We use remote feature. But our client wants to have multiple sort solution and becaus

[2020-08-25 03:13] Avasam opened #1456 "TypeError crash when using the search component"
**Describe the bug**
I am using out of the box search component. I only customized the header, columns, row styles, but not the rows themselves. I get a TypeError with undefined columns when searching. But only when doing so from other pages than the first.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a page other than 1st
2. Start typing a name (I went with Avasam)
3. Crash

[2020-08-25 14:36] jspin77 opened #1458 "How to Put Show/Hide Columns in Modal"
I have too many columns to show the toggle above the table. I wanted to put them in a modal window instead. The modal appears and the show/hide columns works while the modal is open. As soon as I close the modal, the columns reappear. Here are some snippets from the file:

    const CustomToggleList = ({ columns, onColumnToggle, toggles }) => (
      <Modal show={this.state.columnModal} onHide={th

[2020-08-25 15:16] tnte opened #1459 "Row selection - Add column index of where the row-selection occured as onSelect-Parameter"
**Is this feature requested before?**
Did not find anything.

**Is your feature request related to a problem? Please describe.**
I'm working on a table that has an action column - when i click on an action of the action column, the corresponding row will be selected.

**Describe the solution you'd like**
I would be happy of having the column index of clicked row during onSelect-callback.

**Descri

[2020-08-25 22:46] dsudasinghe-virtusa commented on #1232
This is because one of the column's dataField is undefined or null. Make sure to assign a unique dataField value in your formatter. Check all formatters

[2020-08-26 10:24] kraleva opened #1460 "Remote pagination and remembering column visibility settings."
**Is this feature requested before?**
I searched, in this context the problem was not referenced before.

**Is your feature request related to a problem? Please describe.**
Well it is maybe a feature request. I was trying to make a custom toggle column list, which allows me to choose dynamically the visability of columns, In my table i am also using remote pagination. The problem is, that when a u

[2020-08-26 10:31] kraleva commented on #1460
Another option for solution would be how to trigger formatter without using the formatExtraData setting

[2020-08-26 15:08] kudenv opened #1462 "Type '{afterSearch: (data: any) => any .... is not assignable to type 'boolean | TableSearchProps<any> | undefined>"
**Describe the bug**
During performing Search Hooks examples, getting issue with afterSearch hook.  Type Script is complaint during compilation what search = {{afterSearch}}  can take afterSearch as is not a parts of data type he presenting TableSearchProps<any>

**To Reproduce**
Run project with TypeScript 3.8.3
@types/react-boostrap-table2-toolkit: 2.1.2
@types/react-boostrap-table2-next: 4.0.6

[2020-08-26 15:38] BenBirldland commented on #1345
Worked for me as well!

[2020-08-26 15:46] salimkanoun commented on #1345
Thanks for feedback I close that issue since we all see that is has been fixed

[2020-08-26 15:46] #1345 closed

[2020-08-26 16:41] sammccants commented on #624
@AllenFang I'm having a similar issue to @stilllife00. I'm actually able to supply JSX to these fields, but when actually using the buttons, they duplicate in the list and throw the error:
[code]
Is there a chance JSX will be supported in these fields in the future, or am I just using it wrong? Is there perhaps another way to achieve this functionality?

[2020-08-27 18:28] cb29960 opened #1463 "Search is not working"
I started working with react-bootstrap-table-next this morning and everything went really well until i got to the search.
The search box appears but does not filter any records.
This is what i have installed:
react-bootstrap-table-next 4.0.3",
react-bootstrap-table2-paginator 2.1.2",
react-bootstrap-table2-toolkit 2.1.3",

Here's my code:
[code]

Any idea why the search is not executing?

[2020-08-27 21:17] savan-thakkar commented on #620
@AllenFang
Getting this error while clicking export csv button.

button.js:33 Uncaught TypeError: onExport is not a function
    at onClick (button.js:33)

Can you please suggest the solution for the same ? Thanks in advance.

[2020-08-28 07:54] junreyd commented on #1260
@AllenFang I have the same issue, any updates on this?

[2020-08-30 12:02] mrArray opened #1464 "Remote pagination From REST API using React hooks"
please i'm looking for a way to add remote pagination using react hook, i already have my data from API  and i can use it with
react-bootstrap-table2-paginator,
my issue is that if i want to use remote pagination within react hooks with existing Endpoint ,how can i ?

[2020-08-31 16:21] Mikeez commented on #1445
@AllenFang :P You had promised it

[2020-08-31 17:35] singleseeker commented on #436
any update?

[2020-09-01 00:42] cwilso03 commented on #1463
@cb29960 I believe you need to change your properties assignment on your `<BootstrapTable>` component to be something like this:
`<BootstrapTable bootstrap4 pagination={paginationFactory()} striped condensed {...props.baseProps} />`

Essentially, you want the `ToolkitProvider` to be providing the `data`, `columns`, and `keyField` properties.  As written in your original post, you're setting those

[2020-09-01 06:29] kyou-ennbunn commented on #1199
rowStyle={{ height: '100px'}}. I tried this,but it didnt work

[2020-09-01 15:52] Mikeez commented on #617
I also would like to know 👍

[2020-09-03 14:25] wrobpierre opened #1465 "Export CSV other data than bootStrapTable"
Hello,
I have a BootstrapTable which have a CSV export, in my table my cells have this format : data1 / nbOfData1
I don't want to display the nbOfData1 in my CSV file. Is there a way to do that ? Or to pass an other data to the CSV export than the BootstrapTable data's ?

I temporarily created two BootstrapTable, one with the CSV data's (wich is hidden and just show the CSV download Button) and an

[2020-09-04 15:19] jamesdamild opened #1467 "How to add aria-sort="ascending" or desdending property on <th> column header"
**Question**
I am building an app for a company that I work for and I am using this component. The client is very picky about accessibility.
Following https://www.w3.org/WAI/PF/aria/states_and_properties#aria-sort that should be added to the <th>  on the column header, so my question is how could I accomplish that?
thanks

[2020-09-05 02:43] wiwsem commented on #231
First set a key on the bootstrap table.  When you update the data which you're not seeing reformatted, also change the key name of the bootstrap table.  That will force React to re-rendered the table and your formatter method will, just like magic, do its thing.

[2020-09-05 12:03] ChaitraK2000 commented on #226
Hi I am trying React-bootstrap-table. But i wanted to increase the width of header row. How can i do that?

[2020-09-05 13:16] stuartabrown commented on #1116
Just wanted to also say thanks for this solution @Ymbere - it really helped me out!

[2020-09-06 01:20] Graig123git commented on #1161
@niyaza3 did you resolve this ? i am facing the same issue

[2020-09-06 17:28] #1464 closed, assigned to AllenFang

[2020-09-06 17:28] mrArray commented on #1464
Resolved

[2020-09-07 08:48] jbrazilek-wowcorp opened #1469 "Within formatter rowIndex and row are swapped"
Within columns editor rowIndex is the number of the row and row means all the row data. Within columns formatter the meanings are swapped.

[2020-09-07 08:57] #1469 closed, assigned to nobody

[2020-09-07 16:06] kyou-ennbunn commented on #1042
how to use e.stopPropagation() in react bootstraap table column?

[2020-09-07 16:07] kyou-ennbunn opened #1470 "how to use e.stopPropagation() in react bootstraap table column?"
👍

_Originally posted by @AllenFang in https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1042#issuecomment-518294262_

[2020-09-07 22:29] Graig123git commented on #1134
@AllenFang how would you suggest we go about implementing adding and removing row from the table any code example ?

[2020-09-08 14:24] Kartstig commented on #601
:+1: on a custom key prefix or key setter callback

I tried the workaround but am not able to get rid of the warning. This is splitting up Google Addresses into multiple City / State columns:
![image](https://user-images.githubusercontent.com/2031422/92485760-58d7c180-f1b9-11ea-8546-72f288dd99e3.png)

Instead I just had to map across the data and split the columns before handing them to the table

[2020-09-09 04:47] lavania-aditya commented on #207
@AllenFang when this feature will be updated, I need it in my current project.

[2020-09-09 07:40] junreyd commented on #1134
@AllenFang the documentation would be better if it's include the **CRUD** operations in the table

[2020-09-09 21:56] micahricks26 opened #1472 "Pagination page dropdown does not hide again when clicking away from dropdown menu"
On Firefox v80.0.1 clicking outside of the pagination size-per-page dropdown menu AFTER is it has been opened does not hide the size-per-page dropdown menu again. Works in Chrome v85.0.4183.83. The `show` and `open` classes are not being removed.

**To Reproduce**
1. Click on size-per-page dropdown list.
2. Do not make a selection.
3. Click anywhere else but inside of the dropdown list.

[2020-09-10 09:27] chazarabriseis commented on #935
@AllenFang I cannot find the duplicate? Has someone worked on this issue or is it still open and if yes which one is it? Cheers,
Julia

[2020-09-11 08:03] KM5538 commented on #587
@hdehal

OMG....yours is the ONLY solution in the WHOLE internet that worked for me for sort caret!!! (after 2 days of trying everything else I finally found this post)

You saved me!

May your code always work in 1st go your entire life!

[2020-09-11 12:44] amitsetty commented on #1266
Can this be reopened? There is a big issue with this that now every time a column is toggled the entire table is rerendered. This is bad for performance reasons when the table has a lot of data.

[2020-09-11 13:14] nisa99 opened #1473 "How to make Column vertical"
**Question**
I am able to create general table with react-bootstrap-table-next, but I need to create table where the column is Vertical . The red color is my datafield, the black color is the text

**Screenshots**
![Ques](https://user-images.githubusercontent.com/28647836/92929620-6c15b600-f473-11ea-8909-31d7ebc57235.png)

[2020-09-11 18:39] amitsetty commented on #1134
It would be really useful if this could be implemented so that the whole table doesn't have to be rerendered in order to add/delete a row

[2020-09-12 00:00] richardcao27 opened #1474 "How to customize Date Editor to have date and time"
**Question**
I have tried using this dependency [https://www.npmjs.com/package/react-datetime-picker] to allow each row to be selectable. However when editable = true, I cannot use the dependency because it will edit the text. If editable = false, I can use the dependency but the value won't change. Here's my code

` const columns = [
    {
      dataField: "publishedAt",
      text: "Published",

[2020-09-12 11:27] arwanfiles commented on #1308
same here.. :(

[2020-09-14 08:16] SarahBeee commented on #1238
@jmmadsen Maybe a bit late but to answer your question: to select/unselect a box in the focussed row with keyboard use space

[2020-09-14 14:34] roee69 commented on #956
Hi another option that worked for me (@lidaguang1989's suggestion didn't work for me) is to set showExpandColumn as false (or remove it) which will remove the entire functionality of the collapse all and add the indication arrows with CSS.

[2020-09-14 14:42] roee69 commented on #983
Hi another around that works is to set showExpandColumn as false (or remove it) which will remove the collapse column and the functionality of the "collapse all" with it and then add the indication arrows with CSS.

[2020-09-15 05:24] yeetyeetROG commented on #888
@vealJoshua You can set in `style.css` something like this and it will float right
`.pagination .react-bootstrap-table-page-btns-ul {
    float: right!important
}`

[2020-09-15 13:51] cb29960 commented on #1463
Yes, this worked!  Thank you very much!

[2020-09-16 11:13] mickeypuri opened #1475 "Editing in a table with hidden rows fails as it edits the wrong row"
We have a table showing 10 rows. The user selects one row e.g. row index 7, by clicking on any editable cell in that row.

We detect that they are editing a cell, and using the row index, we hide all the other rows by setting the hiddenRows property for the table.

Now the user is only seeing a single row, which was earlier at the row index 7 in the data.

The user now clicks into an editable cell

[2020-09-16 11:41] marcRobertHabib commented on #1039
This is also an issue for me.

Because I  build a component around react-bootstrap-table2,  which save the current row when moving to another one.  I check that was moved to another row in onStartEdit.  When using a custom editor onStartEdit is not activated.

This is this part of the code:
    function onStartEdit(rec: TRec, col: BsColumn<TRec>, rowI: number, colI: number) {
        // Save previ

[2020-09-16 14:07] stsiushkevich opened #1476 "Programmicaly row selection"
Hello!

The library doesn't have the ability to select rows programmatically.

There is a screen with such case:

![image](https://user-images.githubusercontent.com/12151060/93348645-283dfa80-f83f-11ea-8390-581eac3038ce.png)

Here I need to choose some rows and then click to "Hide" button. After that all selected rows should be unselected.

I didn't find any way to do it. An approach ```$('tr').tr

[2020-09-16 15:43] mickeypuri commented on #1475
On further analysis and testing, we found an unexpected side effect in our code, that was responsible for causing the behaviour. Therefore this is not a bug.

Closing the issue as it is not a bug.

[2020-09-16 15:43] #1475 closed, assigned to AllenFang

[2020-09-16 16:57] micahricks26 commented on #1472
Also happens in the demo https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Basic%20Pagination%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-09-17 12:38] sunilbittu commented on #1474
@richardcao27 are u able to achieve desired functionality with above change?

[2020-09-17 13:00] wjazzar commented on #1118
Hello,

I actually resolved this issue by checking if the row is undefined , if it's true , i return empty String depending on type.
But What really happen , it get's reupdated again  and React  update the view with the row containing the data, you won't even notice the difference at all.

I suggest you to check for Row variable as well as other variable if you need them , and return empty data ,

[2020-09-18 20:47] mchuttani18 commented on #1371
Hi, were you able to find a way to add scope="col" on the <th> element using selectionHeaderRenderer?

[2020-09-19 02:34] paypay43 commented on #1371
no but i found a work a round if u want help and i can

On Fri, Sep 18, 2020 at 4:47 PM Milan Chuttani <notifications@github.com>
wrote:

[2020-09-19 05:20] anshuman2051 opened #1477 "onlyExportFiltered option is throwing error"
Hi,
  I am getting an error "cannot read property 'length' of undefined " when using onlyExportFiltered , bellow is the code and also the screenshot of the error message.

Below is the toolkit provider props i am using.
[code]

[2020-09-21 00:46] ennerlopez commented on #1308
nothing yet?

[2020-09-21 12:31] MugssyBoy commented on #839
I solved mine by passing pagination in the BoostrapTable component.
[code]

[2020-09-21 19:02] slayfer-dev commented on #1398
Hi @AllenFang,

I found this bug too and I find that this bug appears since version 2.0.4 of `react-bootstrap-table2-paginator` if you change the version to 2.0.3 you can see that works, this is a bug related to the new versions of the paginator.

[2020-09-22 13:50] EduardoSantos7 opened #1478 "Automatic toggle of the row state and Expanded property is not working as expected"
**Describe the bug**
I use click on cells to add different components in the expanded area, but each click toggle the state of the expanded area, and then instead of display a new element both are hidden. So, my question is how to disable the automatic toggle of the row state and how can the expanded area could be handled then. I tried `e.stopPropagation` but looks like it doesn't call render so t

[2020-09-23 06:04] parsley72 opened #1479 "Table isn't redrawn when new data is added"
**Describe the bug**
Table isn't redrawn when new data is added.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the table.
2. Have an API that is called to fill in some parts of the table.
3. API returns.
4. Table does not redraw with new data.
5. Clicking on a column to sort the table will redraw with the new data.

**codesandbox**
https://codesandbox.io/s/react-bootstrap-table-next

[2020-09-23 08:38] jerryjayce commented on #214
Also make sure that the function is not anonymous, that is do not save the function to a variable. Put the function outside your render method. then hook it to the formatter using "this.yourFunctionName".

[2020-09-23 19:30] luizhenriquerosa commented on #1191
any fix?

[2020-09-24 04:41] ArjunBollam opened #1480 "Maintain Table scroll position when the table re-renders due to change in the data or parent component state"
**Describe the bug**
The table tbody's scroll position is not maintained whenever the table re-renders and the scrollbar always resets to the top.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll the table to the bottom of list
2. When the table re-renders due to a state change
3. The scroll bar scrolls to the top of the table again

[2020-09-25 14:11] KBL9698 opened #1481 "filterFactory is not accessible outside of react."
Hi -

I have been using your table with react and love it.  I am working a new project now that is just a node js service without react.  I have been able to incorporate it using the packages available at unpkg.com.

I am now trying to add a column filter and do not know how to access the filterFactory.  I do not see it available when inspecting ReactBootstrapTable2Filter:
![image](https://user-im

[2020-09-25 14:45] shelooks16 commented on #291
Hey, check snippet below. It works like responsive table from bootstrap.

[code]

[2020-09-25 15:02] AntoineCAMILLE opened #1482 "Column with hidden prop still visible"
Hello, i've made a wrapper around your component to add a selector to select which columns are visible and which are not
but i'm facing a problem
i've made 2 components using my wrapper
Both have the same logic but different columns and data
On one it works the columns are hidden but on the other one it's not working
I really don't understand why, when i'm checking in the react debugger the column

[2020-09-27 20:17] ramyatrouny commented on #1308
Well it's a well-known issue, its either get fixed or the library goes to deprecation

[2020-09-28 08:49] sujanvaland opened #1483 "Exclude column from Expand"
I have set expandByColumnOnly = false , so now if i click on any of the column row expands correctly, but i have some action button in my last column, I want to exclude last column from when click expands the row.

how do i achieve this please help.

[2020-09-28 15:13] ogaston commented on #1482
Can you reproduce this behavior in a new project isolated? If so, share with us to see what's happening.

[2020-09-29 07:36] kunaltyagi9 commented on #291
I am using React Bootstrap Table and I want to add Horizontal Scrollbar only to the last two columns. Last two columns should be wrapped in a scrollable container. How can we implement this?

[2020-09-29 08:44] kunaltyagi9 opened #1484 "How to add Horizontal Scrollbar in a React Bootstrap Table?"
I am using React Bootstrap Table and I want to add Horizontal Scrollbar only to the last two columns. Last two columns should be wrapped in a scrollable container. How can we implement this?

[code]

[2020-09-29 09:02] #1482 closed, assigned to nobody

[2020-09-30 04:21] xuanZo commented on #291
I have same issue

[2020-10-01 04:28] kunaltyagi9 commented on #291
Please share the solution, if you find one

[2020-10-02 17:57] jabberwo commented on #74
Still not implemented?

[2020-10-05 18:47] abrousseau001 commented on #338
@vishwa3 Sorry this was a while back. I remember I had some custom logic, had to change the code on this library, to handle it but I can't seem to find the change I made back then. Also the version was from so long ago I wouldn't think it would be all that useful.

[2020-10-06 09:58] #1402 closed, assigned to AllenFang

[2020-10-06 11:57] ghost opened #1488 "get original rowIndexn while searching"
Hi, I implemented the search bar in the bootstrap table component.
Now when I use the search, and the table gets less values.
In this situation, if I get the rowIndex of the first row(which **had** different rowIndex) now it gets 0 (like it is the first row of the original table). - which breaks my logic of the UI I built.

Can I get for each row the original rowIndex each row had in the first pla

[2020-10-06 12:42] ghost opened #1489 "column's formatter function doesn't happen when searching/using pagination"
Hi, when using search or pagination
while performing the render function the the column's formatter functions isn't being called.
In regular rendering (without search/pagination), this formatter function works. Do you know why? How can we handle that?

![image](https://user-images.githubusercontent.com/38032506/95202787-75800d00-07ea-11eb-8a78-d48d7e1c55e0.png)

That breaks my logic.
Thanks,
Nir

[2020-10-09 09:24] pastinepolenta commented on #1377
@AllenFang I think I can still reproduce the same issue in case of **data change** rather than `nonExpandable` change.

This is happening to me when i build up table data from different API feeds, and the API responses come in at different times.
So the table is re-rendered with the new data, but the `expandable` prop of the `expandColumnRenderer` function is kept as it was at first render.

I am

[2020-10-11 10:27] avichaigrunseid commented on #338
HI @AllenFang
ive also have this issue .
cant update Cell :
 only the first row in the table is updated.
can you please assist ASAP :)

Also in this link cant update the second row:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Cell%20Editing&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Facti

[2020-10-11 18:13] jabberwo commented on #207
Really wish we had this feature Allen.

[2020-10-12 07:43] rahulsemwal commented on #1106
@AllenFang, Thanks it's working for me.

[2020-10-12 07:43] rahulsemwal commented on #1106
@AllenFang , Thanks it's working for me.

[2020-10-12 09:51] balpaula commented on #847
Hi @jamesdamild,

Were you able to resolve it? I am facing the exact same problem... I make changes to the table data, I change the state of the data and the table shows again the initial data (although having done and saved some changes with cellEdit). I am trying to update the state of the data inside afterSaveCell(), but still the same occurs :(

thanks!

[2020-10-13 05:37] SwarnaNistala opened #1492 "Row selection does not work properly after Column Sort"
I apply sort on columns which returns a-b or b-a for asc or desc respectively. When i select any one row or do the header selection to select all, few columns vanish and few duplicate columns get populated automatically. i tried to log what was happening and see that after sort (logged data before return) the data is fine but when i do any selection, first line itself in select method logs wrong d

[2020-10-13 13:22] Bopzor commented on #700
@jabberwo, you can override the `table-layout` of `react-bootstrap-table` css using this selector:
`.react-bootstrap-table table`

[2020-10-13 21:53] ameyajoshi88 opened #1493 "Column formatter crashes when using a custom pagination component"
**Describe the bug**
I am using custom pagination component to match the look and feel of the existing tables in the application.
I have a column that contains checkboxes for each row. Clicking the checkbox updates the 'boolean selected' flag on the row.

**Note**: I cannot use the 'selectRow' mechanism because in the actual application, I need 2 such checkbox columns that allow the user to select

[2020-10-15 01:17] erick-umc commented on #255
Hello any updates on this?

[2020-10-15 13:05] Boopalan-M opened #1494 "In Bootstrap table i want to use fontawesome icon. In that when i click that icon it goes to another component. how can i implement that??"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2020-10-15 16:36] Priyankakas opened #1495 "Expand collapse issue"
How to collapse already expanded row when clicked on button for making api call ?

[2020-10-16 00:32] IPetrik commented on #859
I seem to still be having this issue in ^4.0.6 with my use case. I am passing in a `Map`, and every time the data updates, I create a new `Map` and pass that to `formatExtraData`. However, it does not rerender when I pass a new `Map` to `formatExtraData`.

I update the state of the `Map` like this:

[code]

Then I pass `state.mapping` to `formatExtraData`. But it does not update.

[2020-10-16 01:35] IPetrik commented on #859
The library ([underscore](https://github.com/jashkenas/underscore)) that you are using to compare equality for `formatExtraData` does not seem to work right for `Map` objects:

[code]

This shows:

native: false
underscore: true
lodash: false

(https://codesandbox.io/s/romantic-easley-dbqt7)

[2020-10-16 01:41] IPetrik commented on #859
See also:

https://github.com/jashkenas/underscore/issues/2147
https://github.com/jashkenas/underscore/pull/2808
https://github.com/jashkenas/underscore/issues/2451

[2020-10-16 13:17] iamsajithsasi opened #1496 "ToolkitProvider search is not working on formatted cells"
function docFormatter(cell, row, rowIndex) {
    return (
        <a href={`${row.doc.doclink}`}>
          {row.doc.docname}
        </a>
    );
  }

const columns = [
    { dataField: "sno", text: "S.No" },
    {
      dataField: "doc",
      text: "Document Name",
      formatter: docFormatter,
      filterValue: docFormatter,
    },
  ];

I have a customer formatter and that returns a anchor t

[2020-10-20 20:31] nati08 commented on #507
Hi @AllenFang, still not working

[2020-10-20 20:44] nati08 commented on #507
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Row%20Select%20and%20Expand&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2020-10-21 01:24] heroboy opened #1497 "In remote cell editor , errorMessage not show for the second time."
**Describe the bug**
When `cellEdit.errorMessage` is always the same string. The error message only shows for the first time.

**To Reproduce**
[code]
Use `onTableChange2`, `onTableChange3` , when editing the cell, 'error' only shows for the first time.
But if you change it to `setErrorMessage('error' + Math.random())`. It will work.

**Screenshots**
no screenshot

**codesandbox**
https://codesand

[2020-10-23 10:16] sbaruti99 commented on #826
Hi @AllenFang, So I am having the same issue now, these are the versions of the packages I use, which I think to be the latest ones. Please can you look at this and maybe let me know a workaround or if you could probably find a solution. Thanks in advance!
[code]

[2020-10-26 15:40] OlegGedzjuns commented on #436
Any updates?

[2020-10-26 19:42] joshuahlee commented on #1458
I also have this question. Please advise!

[2020-10-27 14:29] iamsajithsasi commented on #1496
function docFormatter(cell, row, rowIndex) {
      return (
        <a href={${row.doc.doclink}}>
           {row.doc.docname}

        );
      }

    function docFormatterFilter(cell, row) {
      return cell.docname;
    }

    const columns = [
      { dataField: "sno", text: "S.No" },
      {
        dataField: "doc",
        text: "Document Name",
        formatter: docFormatter,
        fil

[2020-10-27 14:29] #1496 closed, assigned to AllenFang

[2020-10-28 15:13] DavidRomao commented on #1495
I have the same question.  I don't see how to to it with the provided api for the expand column.

What I ended up doing was using the `expanded` prop of the expandedRow parameter to manipulate which rows were expanded or not.  This required adding the array of expanded rows to my component state but it worked.

[2020-10-28 20:30] ayamundhenk opened #1498 "Custom Filter using MULTISELECT should allow filterValue as a parameter"
Thank you for your project! I really love using react-bootstrap-table2 in my applications.

I would like to filter by the value in the column using MULTISELECT and a custom filter.

Do you mind changing this in your react-bootstrap-table2-filter package?
In this file [react-bootstrap-table2/packages/react-bootstrap-table2-filter/src/filter.js](https://github.com/react-bootstrap-table/react-bootstr

[2020-10-28 20:40] AlbertoJALJ commented on #1308
Same here, expecting to hear about it

[2020-10-29 01:42] bggolding commented on #1437
I fixed this in DefinitelyTyped.

[2020-10-29 01:42] #1437 closed, assigned to AllenFang

[2020-10-29 13:02] sovanjana commented on #609
I am using customFilter with react-datepicker, and I am facing the same issue.

function DateTimeFilter(props) {
    const { onFilter, column } = props;

    const [startDate, setStartDate] = useState();

    const handleChange = (date, event) => {
        event.stopPropagation();
        setStartDate(date);
        onFilter(date);
    }

    return (
        <DatePicker
            dateFormat='dd

[2020-10-29 14:00] surajc07 commented on #609
I am having a similar issue too for any customFilter and I am using React-select for it.
[code]

@AllenFang

[2020-10-29 20:22] sovanjana opened #1499 "Custom Filter + Sort in same column causing issue for filtering"
When I define a column with cell filtering (customFilter) and sorting enabled, clicking the filter input triggers the sorting.

I can't find such an example in the Storybook. Sorting and Filtering are occouring independantly only.
I am using react-datepicker library to make a custom date filter

    export default function DateTimeFilter(props) {

    const { onFilter, column } = props;
    const

[2020-10-30 14:01] Jeadonara commented on #553
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1301#issuecomment-603049898

[2020-10-30 14:02] Jeadonara commented on #577
I think there is a problem with webpack, the workaround fix is like here: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1301#issuecomment-603049898

[2020-10-31 10:05] Sharpek commented on #772
@kaustyy could you post your solution please?

[2020-11-02 04:55] vini-guerrero commented on #1308
Also facing the same issue here... Seems like deprecated v1 is more production trustable at this point...

[2020-11-02 12:13] sovanjana opened #1500 "dateFilter minDate and maxDate"
**Question**
How to implement dateFilter minDate and maxDate ?

I have not found any props available for specifying minDate or maxDate so that we can block selecting other dates.

Is there any possible way to do that ?

@AllenFang

[2020-11-03 11:42] andlon10 commented on #1212
I am facing the same issue, I believe it's something to do with the keyField value, i think the table cannot match the new value to a particular row as it doesn't know which column is the key, but atm I haven't been able to find the reason.

I have set the keyField to be one of the columns, entryId (it's part of the response), but I'm still getting this issue.

[2020-11-03 14:17] andlon10 opened #1501 "Cell editing not working, value disappearing from table, but keyField works for expandRow"
I have an array of objects returned via an API call that contains the entries to be displayed on the table. The entries are correctly loaded into the table and i also set the keyField to the "entryId" field.
Each row contains seven fields, one of which is editable. When I edit this field however, the value disappears and the cell returns to the original value: `''`. I thought it could be an issue

[2020-11-03 16:18] tomekstankowski opened #1502 "expandRow.className disappears on row collapse"
`className` attribute of `expandRow` prop is no longer applied to expanded row on collapse row click (for a short period of time when row is collapsing). My class `MonthlySummaryTable_dailySummaryCardRow__2Gxsa` (see screenshot) is removed from `<td>` when row is collapsing. You can inspect this by forcing execution break on element's attributes modification (Chrom dev tools: Break on -> attribute

[2020-11-04 16:20] Ashwin-smartaudit commented on #688
+1

[2020-11-05 14:14] Susan123456789 opened #1503 "Support for react version 17.0.1"
**Describe the bug**
Unable to install react-bootstrap-table-next on the latest create-react-app which uses react 17.0.1:

**To Reproduce**
Steps to reproduce the behavior:
1. npx create-react-app example
2. cd example
3. npm install react-bootstrap-table-next --save
3. See error:

[code]

[2020-11-06 07:42] heroboy opened #1504 "It seem in `dummyField`, the `formatter` is not called in every render."
**Describe the bug**
It seem in `dummyField`, the `formatter` is not called in every render if the bind `field` is not changed. Consider this code:
[code]

**To Reproduce**
see this: https://codesandbox.io/s/epic-meitner-bqmd1?file=/src/App.tsx
1. Click the "+1" button, the `testCount` will +1.
2. But the button lable doesn't changed. and click button, always print the same value.
3. Click the "mo

[2020-11-06 07:47] heroboy commented on #1504
I see the document says:

Is it suitable, if the dummy column content is rely on the parent states or props, not just the whole row?

Even for normal column, if there is a `formatter` , what if it renders rely on a theme context?

[2020-11-06 07:49] heroboy commented on #1504
okok, I see this:

If you think this is not a issue, you can close this.

[2020-11-08 03:38] ckhpharm opened #1505 "Head Cell style question"
in process making table, my header cell is to many.

so i need to minimize text size of header cell.

so i tried these code. but it doesn't work

    { dataField:'name',text:'text',headerStyle: {
        fontSize: '10px'
      }]

[2020-11-10 15:01] surajc07 commented on #1499
@sovanjana Figured it out. You just need to add <span onClick={(e) => e.stopPropagation()}> around your DatePicker

[2020-11-10 15:02] surajc07 commented on #609
@AllenFang
I figured it out. I added <span onClick={(e) => e.stopPropagation()}> around my <Select> component.

[2020-11-10 21:59] SiddiquiMonis401 commented on #1494
@Boopalan-M this is not the issue in api section you can find the formatter function from which you can achieve what you are talking about..
Like columns=[{...,formatter:(1st,2nd,3rd,4th)=> any string or react element}]
for further clearifications visit the url below, you will find some awesome functions there.
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html

[2020-11-11 04:41] heroboy commented on #1504
But I am wondering why you can update the `formatextra`, but can't update the `formatter`.

[2020-11-11 07:24] thebradisrad opened #1507 "Custom Expand Indicator not hidden when expanded row doesn't have content."
Hey,

I'm currently using:
`expandColumnRenderer: ({expanded}) => {
        if (expanded) {
          return <b>-</b>;
        }
        return <b>...</b>;
      },`

When using custom expand indicator, all the indicator shows up on the left side even when there's no expandable content to show. How can I only show custom indicator only for rows with content available and hide the indicator for row

[2020-11-11 08:08] thebradisrad commented on #1507
Nevermind, I got it:

Since rowKey is one of the object returned and I have an array of nonExpandableRows which contains the id of those rows, here's how I did it.

`expandColumnRenderer: ({ expanded, rowKey }) => {
        if (nonExpandableRows.includes(rowKey)) {
          return '';
        } else {
          console.log('nonExpandable', nonExpandableRows);
          if (expanded) {

[2020-11-11 10:15] L200150057 opened #1508 "How get input search value from handletablechange?"
**Question**
How get input search value from handletablechange? btw i use remote and use lumen as back end.

**Screenshots**
![carbon (2)](https://user-images.githubusercontent.com/19193890/98799154-54da5100-2441-11eb-806c-f4d2bf14673f.png)
![carbon (1)](https://user-images.githubusercontent.com/19193890/98799161-56a41480-2441-11eb-8f89-d0858f11215d.png)

**codesandbox**
Sory i dont know to use co

[2020-11-11 14:49] pebriancharliady commented on #1308
Same heeerreeee

[2020-11-11 16:59] #1507 closed, assigned to AllenFang

[2020-11-12 14:45] akshayDatacode commented on #587
Thanks for Solution

[2020-11-12 21:06] SandeepKapalawai opened #1509 "Is there any way i can add a button in a table and behave it like size per page drop down"
**Question**
I have a table to be displayed with total column, where after first set of 10 records i need to show a button called 'show more' before the table footer , when i click on that it should load the other 10 more records, ideally it should work like 'size per page drop down selection'

**Screenshots**
Below is my output should like the below:
![image](https://user-images.githubusercontent

[2020-11-13 13:46] bytehala commented on #561
Hi,

Is there a detailed example to do this? I've looked through the repo and cannot find any example. Thank you.

Edit: I was able to achieve this by adding this to my css file (the class is built into react-bootstrap-table2):
[code]

[2020-11-16 10:59] fasenderos commented on #416
Hi, @AllenFang any news on this? Is the workaround the only solution?

[2020-11-17 16:25] yousefshakoury commented on #226
Thanks

[2020-11-18 09:28] Akaren13 opened #1510 "Is there a way to set cell with column toggle?"
I am using ToolkitProvider for column toggle. And I couldn't find a way how to adjust cell (not columns) itself.

I meang formatter in column:

[code]

I set some column to editable and some not and set also change icon. BUt new column that is inserted with column toggle, is always editable and without my icon.

[2020-11-18 11:43] #1510 closed, assigned to AllenFang

[2020-11-18 13:49] cleve commented on #1308
+1

[2020-11-18 20:59] jcriddle-nci opened #1511 "Table's cells are refreshing only after I go back into cell editing"
Hey all,

So I have code similar to what is shown in the code sandbox link below.
https://codesandbox.io/s/floral-cloud-3n7t2?file=/src/App.js

Goal: When I go to update a cell's cost, I want to update another cell in the Rollup row after the value has been changed to the original cell.

Expectation: I would expect to see both the original cell change as well as the rollup value, but this is not t

[2020-11-19 15:41] prsdcse opened #1512 "Custom Pagination with search errors out"
**Custom Pagination with search errors out**
When have a custom pagination with search. Goto the 2 or higher number page in the pagination and copy a column data and paste it in the search bar it errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20P