[2020-11-19 15:43] prsdcse commented on #1512
Any quick workaround will be greatly appreciated.

[2020-11-19 16:03] donnrri commented on #1068
I solved this using
[code]

On each column I wanted to NOT expand the row when clicked on , leaving the one I DID want the click to expand the row without that code.

[2020-11-22 14:39] 81mark commented on #1308
+1

[2020-11-23 11:47] anuragrai2210 opened #1513 "Custom select filter + sorting causes error"
As I added custom select filter on column and custom sort filter on another column, it is causing errors and showing that qualityFilter is not a function. They are working fine individually and when I click on select filter and then sort it  but as soon as I first select the sorting order and thenI select from dropdown, it throws error and says quality filter is not a function.Here is my POC..

`c

[2020-11-25 08:16] anchal-chouvhan-altius opened #1514 "How to add header title for selectRow"
Hi,

I want to add the title to the select row header. By default the header cell is blank. Which property should I use to achieve this?

[2020-11-25 08:19] anchal-chouvhan-altius commented on #1514
![Table](https://user-images.githubusercontent.com/55992628/100200700-fcb54b80-2f24-11eb-92aa-afe8cebc4343.png)

[2020-11-26 22:19] paudeca commented on #1140
Hello,

I got the same issue when I tried to use filter() and ToolkitProvider.

When I type a text on flter, I got an exception.
_Cannot read property 'afterFilter' of undefined_

[code]
Please find a codesandbox with a textFilter on a column.
https://codesandbox.io/s/react-bootstrap-toolkitprovider-filter-ecrzd?file=/src/App.tsx

version used
[code]

[2020-11-27 16:28] Wait4Code commented on #1191
Any update ? Does PR #1128 can fix this annoying bug ?

[2020-11-28 08:11] tjnakka opened #1515 "Virtualized Row Rendering For Large Datasets"
We Want to use a data table with our project but it takes an awful lot of time to render datasets with 1,00,000 - 1,50,000 rows.
Can we use virtualize row rendering?

[2020-11-28 08:15] #1515 closed, assigned to AllenFang

[2020-12-01 18:18] bmmpt opened #1516 "How can we run the column formatter for only 1 cell (without changing the value in the data object for that cell)?"
know I can cause a cell to rerender by changing the formatExtraData being passed to the formatter, but that causes all the cells in that particular column to rerender. That is inefficient when all we want is to "modify" one cell (or even a subset) in that column.

https://codesandbox.io/s/pensive-dust-0svv8

This example shows a toned down version of what my application is doing. I have an Editabl

[2020-12-01 21:59] paypay43 opened #1517 "search not working with selection"
anyone having issues with selection (selectRow prop) with search toolkitprovider?

seems as soon as you select it rerenders and clears the query from the search. any solutions?

[2020-12-02 11:00] ErvinRrahmani opened #1518 "Update and Re-render individual cell in data table and about columns and formatters"
**_Update Re-render individual cell in data-table_**

I have a table with data, and I implemented into each cell, a formatter with a button. When I click the button I send a request to the REST API and I get a status with some specific status name (Passive / Active ), which then I add it to the button as a status / text. I need to re-render all the table to get that text / status updated which is

[2020-12-02 14:09] kaleem-elahi commented on #36
waiting for this feature..

[2020-12-02 14:38] kaleem-elahi commented on #696
Need sticky column, is there any workaround or this feature implemented ?

[2020-12-02 19:50] jknapp25 commented on #1508
I think a better place to access the current search value would be as an additional parameter passed to [`afterSearch`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/search-props.html#searchaftersearch-function). [`afterFilter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#afterfilter) is doing something like this currently, where it p

[2020-12-03 23:57] bmmpt commented on #895
@AllenFang, using formatExtraData your selected row will re-render, but all the none selected rows receive the same extra data and re-render (unnecessarily)?

[2020-12-07 13:28] reppard commented on #1496
@iamsajithsasi did this actually work for you?  If I return any kind of template for my for my formatter, filterValue doesn't work.  I have something very similar to this and I can't seem to get it to function properly.

[2020-12-08 11:04] iamsajithsasi commented on #1496
Yup It actually worked for me. the docformatter should show some text/some value,  so that the table could filter it.

[2020-12-08 12:24] halvardssm opened #1519 "Bootstrap v5 support"
**Question**
Hi! I am a user of react-bootstrap-table2, and I was wondering if we can expect Bootstrap v5 support for any upcoming release?

[2020-12-08 13:49] reppard commented on #1496
Thanks for the reply @iamsajithsasi.  I have something like the following and a table search just doesn't work.  Am I missing something?
[code]

[2020-12-08 14:58] epicsoftwaredev-anton-petrov commented on #1260
@AllenFang please update `react-transition-group` package

[2020-12-08 14:59] itsmepetrov commented on #1260
@AllenFang please update react-transition-group package

[2020-12-08 15:02] smparadeza commented on #1308
Same issue

[2020-12-08 17:50] josearaujo commented on #617
Any update?

[2020-12-09 04:41] Matheus-Wendel commented on #1512
Hello, I think i found a workaround for this bug,  as you pointed out, the bug occurs when you filter the table while you're on a page that wont exist after the filter,  so , if you jump to page 1 before filtering the table, i think the page wont crash.

assuming your table is rendered in the same way as the link you posted i think this should fix it

on the body of the class:
[code]
and on the Bo

[2020-12-09 05:12] iamsajithsasi commented on #1496
In the trackingFormatterFilter it should be cell.tracking. You can console log both row and cell and choose your requirement. Console a small table data or might end up in crash of browser. lol..

function trackingFormatterFilter(cell, row) {
    console.log(cell, row)
    return cell.tracking
}

[2020-12-09 05:13] enosisbd-anonta opened #1520 "react-bootstrap-table2-toolkit Import Error in Webpack 5"
**Describe the Bug**
`react-bootstrap-table2-toolkit` package causes error when bundled using webpack 5 (`5.3.2` to be exact). Simply adding `import { Search } from 'react-bootstrap-table2-toolkit';` to any js file produces the following error.

[code]

The package works fine when bundled using webpack 4.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this [sample repository](https://

[2020-12-09 22:44] congr commented on #750
is it still open? or already implemented?

[2020-12-10 17:42] ayamundhenk commented on #981
I would love to have infinite scrolling too.  Thank you @AllenFang.

[2020-12-11 04:11] bmmpt commented on #1290
@vtarelkin selectionRenderer and selectionHeaderRenderer must return JSX:

[code]

[2020-12-13 11:45] karanbajaj2209 commented on #1520
+1

[2020-12-14 03:08] #115 closed

[2020-12-14 05:43] qqqzhi opened #1522 "How to add a border at a cell when click on it?"
When we clicked on a cell of a table, is there a way to add a border to the cell? like the following:
![image](https://user-images.githubusercontent.com/3632004/102044801-773af380-3d8c-11eb-8051-687d8eb340ec.png)

I know the editCellStyle have a similar effect, but I don't want to editing the cell, just want to change cellStyle by adding a boarder.

Thanks a lot!

[2020-12-14 19:42] DanPresa opened #1523 "SearchBar has an issue when change page and then I want to search data"
Hello there.
Firstly, I'm in love with react-bootstrap-table is a great tool.

But, it has an issue if I want to use the search input on the first page of my table works really well, the issue appears when I change of page and then I want to search data and the console throw this message **Uncaught TypeError: Cannot read property 'value' of null**

Here is a picture where I'm on the first page of

[2020-12-16 05:00] thebradisrad opened #1524 "Does table2 have row grouping feature? I can't find it."
In the following link Allen Fang said this feature will be implement in this development. So I'm just trying to see if anyone knows if it has been implemented. Expanding row is not what I'm looking for. Need row grouping like the link below to group rows by category.

[https://github.com/AllenFang/react-bootstrap-table/issues/1592](url)

[2020-12-17 11:26] paolocattani commented on #1451
+1

[2020-12-21 11:53] AhsanNissar commented on #1290
Is it possible to empty the checkboxes? I am trying to empty the checkboxes in a modal close function. I am using functional component and on accessing the useRef that is defined in table header I only am able to get the ref name and nothing else. How can I clear the selected checkboxes then?

[2020-12-21 15:16] moniqueboea commented on #865
@BharahthyKannan Can you share what you did? Thanks

[2020-12-22 02:00] harmansinghvirk opened #1525 "After react-bootstrap-table-next@2.2.0, search bar loses focus with custom toggle columns"
@AllenFang
I used "Column toggle state gets reset with selectRow #1266" issue solution to not reset the column toggle preferences on row click or any other change in the table, also I have customized search bar, I updated my table and toolkit all upto the latest version released on 31-5-2020, the column toggle works fine but the search bar loses focus as soon as I type in the search bar.
Can you p

[2020-12-22 02:03] harmansinghvirk opened #1526 "Custom Search Bar loses focus with custom column toggle after react-bootstrap-table-next@2.2.0"
@AllenFang
I used "Column toggle state gets reset with selectRow #1266" issue solution to not reset the column toggle preferences on row click or any other change in the table, also I have customized search bar, I updated my table and toolkit all upto the latest version released on 31-5-2020, the column toggle works fine but the search bar loses focus as soon as I type in the search bar.
Can you p

[2020-12-22 15:02] Akaren13 opened #1527 "Sort only by clicking on icon"
Hi, I have add my code to column header so I would like to do sort only by click the sort icon that you made. Not by clicking anywhere in header. How can I do it? My code is child of <th>column tag so by clicking on it, it always trigger sorting.
Thanks for help

[2020-12-24 10:04] tongbantin commented on #1308
same issue here

[2020-12-29 16:08] chassteel commented on #1483
Here's the answer that worked for me.  Thanks @donnrri

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1068#issuecomment-730473523

[2020-12-29 17:03] anandparmar7 opened #1528 "react-bootstrap table 2 - padding/margin as 0"
I have been trying hard to remove the padding or margin from the table but nothing worked from me.

I want absolutely no padding or margin in the table. I <td> to occupy on the space that will be used by characters in the table.

[2020-12-30 10:04] sunjeen opened #1529 "How to mix different types of Editor's type in same column"
Hi All,

I have no luck to search related question was been asked previously, may I ask how do we mix different type of Editor in same Column?

Something like this
![image](https://user-images.githubusercontent.com/30374510/103344394-7367da80-4ac9-11eb-9518-80483f192c16.png)

For example Row1 is checkbox and Row2 are dropdown

Thanks!

[2020-12-30 22:48] rlutsky042919 opened #1530 "Warning: Using UNSAFE_componentWillReceiveProps"
**Describe the bug**
got this error in console:
Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques

[2020-12-31 15:42] rlutsky042919 opened #1531 "how to select and save entire row of data?"
**Question**
I am following the example in Storybook > Row Selection> Click to Select and Edit Cell.  I have 2 questions:

1. whenever I click in any cell, ALL of the checkboxes toggle on or off.  How do I get just that row to toggle?
2. It seems that only the 1st column is tied to the checkbox and therefore the only part of the row that is saved in state.  How can I save the entire row of data as

[2021-01-01 11:58] jatinrathod17 commented on #1227
@Stefan-Reimer You can achieve this functionality using **'multiselect-react-dropdown'** Package with custom filter, I do have same requirement and i have achieved it using this combination.

[2021-01-04 04:39] Xuan-Law commented on #1458
I also have same problem. Please advise!

[2021-01-04 06:22] akj15 commented on #695
Hi @sgwcollins, please give some hints to implement filter by date range.

[2021-01-06 05:52] DanPresa commented on #1512
Hello I noticed the same issue a month ago but nobody has answering me

[2021-01-06 10:06] mdombek100 opened #1532 "Fix included: Export to CSV shows gibberish even when using UTF-8 encoding"
I'm trying to export the table data to csv, but some characters appear as gibberish (instead of Hebrew, same thing though right?)
I'm using `noAutoBom: false, blobType: "text/plain;charset=utf-8" ` and I noticed that when I edit line 41 in exporter.js to `var content = '\uFEFF';` the CSV is built correctly with no gibberish at all.
I also noticed react-bootstrap-table-next uses FileSaver.js and as

[2021-01-07 05:52] bhavanasachi commented on #203
Hi, I want to merge values of two columns in to one.
Eg: {
         'firstName': 'name',
         'lastName': 'lastname'
    }

I want name = firstName + lastName
columns = [{
    dataField: 'firstName + lastName',
    text: "name",
    sort: true,
}];

[2021-01-07 12:14] rakhis08 opened #1533 "Bootstrap table UI code testing using JavaScript test libraries"
**Question**
Hi Team,

I am looking/searching for Bootstrap table UI code testing using JavaScript test libraries.
We used PaginationProvider and ToolkitProvider with Bootstrap table in reactJs Project.
Could you please provide me some Bootstrap code test sample using JavaScript test libraries.

Thanks,
Rakhi.

[2021-01-07 12:31] diogoaltoe commented on #535
I have the same difficulty as Denis-String.

I'm using the custom editor, but after clicking on enter or clicking on another field, there is always an open input for editing. It does not block editing.
How to solve this?

Thanks!

[2021-01-08 15:46] sammartfrank commented on #568
@AllenFang  how are you Allen? I am currently experiencing an issue where every time im in the firstPage the previous button is enabled and if clicked, crashes de the app. I am currently working on a NO remote table.
![image](https://user-images.githubusercontent.com/31329000/104034356-8bb5b480-51af-11eb-90b5-e20ae1967902.png)

Hope you are all well and sound, thanks in advance!

[2021-01-08 17:05] dusnoki commented on #1520
+1

[2021-01-09 17:07] WilliamJackey opened #1534 "selectRow.selectionRenderer miss row id"
**Describe the bug**
When using selectRow and specifying a selectionRenderer, I need to generate a unique key for the component I am rendering that doesn't depend on the rowIndex, because if the data changes the indexes may no longer match the same rows. It would be nice if selectionRenderer was passed the row id as an additional parameter, so that I can use it in my custom component's key attribu

[2021-01-10 01:07] avindra commented on #1303
Pruning my open issue list, GL;HF. Someone can re-open or make a PR if RBST intends to release v3 and later.

[2021-01-10 01:07] #1303 closed

[2021-01-11 19:42] snwijesuriya opened #1535 "How to hidden Colum"
const columns = [
        {
            dataField: 'id',
            text: 'id'

        },
        {
            dataField: 'name',
            text: 'Product Name'
        },
        {
            dataField: 'price',
            text: 'Product Price'
        },
        {
            dataField: 'Category',
            text: 'Product Category'
        },
    ];

 <BootstrapTable

[2021-01-11 19:43] snwijesuriya opened #1536 "How to hidden Colum (I need to hidden Id Colum from the view)"
const columns = [
        {
            dataField: 'id',
            text: 'id'

        },
        {
            dataField: 'name',
            text: 'Product Name'
        },
        {
            dataField: 'price',
            text: 'Product Price'
        },
        {
            dataField: 'Category',
            text: 'Product Category'
        },
    ];

 <BootstrapTable

[2021-01-12 12:35] ahmadfadlydziljalal opened #1537 "Remote Table - Rewrite href in button pagination."
My screenshoot app:
![image](https://user-images.githubusercontent.com/6583254/104315198-28a88280-550d-11eb-9787-219a9afa9112.png)

Thanks for your great effort ini this package,
My question is, can we override href in pagination button for better SEO ?

We need route like this:
``` note?page=1&per-page=5 ```

I use react-router-dom.

[code]

Here is the react-bootstrap table code:
[code]
Thumbs f

[2021-01-12 12:36] ahmadfadlydziljalal commented on #1537
So far, the default href="#"

[2021-01-12 14:15] tteris commented on #207
hi all and especially @AllenFang .
Allen thank you  very much for the amount of work you  had give in this project so  we can us it.
So i used some the code of @teresa-recursion which  left on this feed and some of my own implementations so i can use this functionallity of "tab" button to navigate on the table .
Although the solusion is not perfect due the lack of my undestaing of your code or the

[2021-01-13 18:45] bmmpt opened #1538 "afterFilter is called when the filter is not changing"
afterFilter is being called unnecessarily when filteer haven't changed, but the component is re-rendered for some other reason.

The issue seems to be on this file: https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-filter/src/context.js

Wondering if on line 100 `if (filter.afterFilter) {` we should be comparing the result to this.data and

[2021-01-13 23:05] jeancochrane commented on #1533
I'm curious about this too! In particular I'd like to test a simple filtering operation using the `Search` component. I tried to test it with Jest and Enzyme utilities but the following test fails:

[code]

It seems like I probably need to hook into the context provided by `ToolkitProvider` but there's no clear way to do that and no tests in this repo that I can learn from as far as I can tell.

[2021-01-14 09:28] protektik commented on #1308
Looks like this is not supported any more.

[2021-01-15 05:14] Payel-Dutta28 opened #1539 "selectRow is selecting all the rows in the table"
This is my code, when I use this all the rows get selected. I want just one row to get selected.WHat should I do?

[code]

[2021-01-15 09:56] Okanclskn opened #1540 "Custom pagination"
I created custom pagination for datatable. I have given some options to the Datatable pagination property. I manage the Page information and the Size information with useState. I'm starting Pagination from index 1. I can switch pages 2 and 3, but I cannot return to page 1 again. And when I give the page information to the pagination property in the form of page: pagination.page, the application cr

[2021-01-15 14:10] Payel-Dutta28 commented on #373
Hi Allen,

On using select Row all the rows are getting selected do you have any solution for this?

[2021-01-15 14:10] Payel-Dutta28 commented on #373
Did you find any solution for this?

[2021-01-15 15:35] bonnegnu opened #1541 "Error displaying dates from database"
**Describe the bug**
When I select and save the dates using `react-date-picker`, saved well in the database. But when I show them with `react-bootstrap-table-next`, don't show correctly.

**To Reproduce**
Use:

[code]

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Captura de Pantalla 2021-01-15 a la(s) 12 14 01](https://user-images.githubusercontent.com/297

[2021-01-15 16:34] inDrimm commented on #1512
hello, have you tried to downgrade react-bootstrap-table-next to 3.0.1

[2021-01-15 17:11] inDrimm commented on #1512
hello, have you tried to downgrade react-bootstrap-table-next to 3.0.1

[2021-01-15 17:22] ghost opened #1543 "reactjs summing up number while clicking on bootstrap row checkbox not working"
i have bootstrap column definition

 const columns = [{
    dataField: 'amount_of_sale',
    text: 'Sale Amount',
    sort: true,
  },{
    dataField: 'is_paid',
    text: 'is Bill Paid',
    formatter: (cellContent, row) => (
      <div className="checkbox">
        <label>
          <input type="checkbox" name="is_paid" id="is_paid" defaultChecked={row.is_paid} onChange={() =>

[2021-01-15 18:25] NguyenTrungMax commented on #373
oh yes, I set class "active-row" for selected row, first, I remove class then add it only selected row

[2021-01-18 10:16] HZSamir commented on #280
Any news on this feature?

[2021-01-18 10:29] Akaren13 commented on #1527
Any idea how to solve this?

[2021-01-18 11:05] Razi321 opened #1545 "how to use the package with graphql"
hello

i'm using graphql to get my data and currently i'm displaying it in a table . i found this package and i wanted to switch to it because of the pagination and search feature but i found a problem because of the **data = {..}** .
i don't know how to use it with graphql
so i want to ask how to use it with graphql , is there a guide or something ? it will be helpfull if there is a simple code p

[2021-01-19 11:00] HZSamir opened #1546 "Custom sticky row, unaffected by sort"
Hello,
I would like to have a specific row of my data always be at the top of the table, no matter what the table is sorted on.
Something like a sticky header, except this is a sticky row.
I don't think this feature exists and I've been at this for hours but I can't think of a way to implement this cleanly, without having to add a custom sort to all my columns.

Any suggestions would be most helpf

[2021-01-19 15:30] HZSamir opened #1547 "nonSelectable not disabling selection"
Hello,
Setting `nonSelectable` does not disable the selection of the rows specified. You can still check each checkbox.
I have reproduced a minimal example from the [docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Not%20Selectabled%20Rows%20Class&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Faction

[2021-01-20 04:22] harshalpandey opened #1548 "Issues in Dropdown Editor with Dynamic Options"
Hello Team,

When I am using Dropdown Editor with Dynamic Options, I am facing some issues. In fact, the same issue is also there in the storybook example.
So in the below images you can clearly see that in the second row I have selected **Job Type1** as **'A'** and **Job Type2** as **C**, But when I am clicking on the Job Type2 cell, in the dropdown it is showing me **A** as selected (which is th

[2021-01-20 05:44] Chrisdo82 commented on #968
any news here?

[2021-01-20 07:48] chain06901 opened #1549 "custom search bug on change page"
i use react-bootstrap-table2-toolkit custom search
if on first page it working
if on other page search not working
i view console.log it show Cannot read property 'id' of undefined

help me please

[2021-01-20 07:52] chain06901 commented on #1523
i same this problem

[2021-01-20 11:08] PixelZombie commented on #1536
See the Documentation:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnhidden-bool
[code]

[2021-01-20 12:01] #1536 closed, assigned to AllenFang

[2021-01-20 12:02] snwijesuriya commented on #1536
Thank u, Issue resolved

[2021-01-21 05:15] ayushbafnajalhar opened #1550 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details."
**Describe the bug**
index.js:1 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to s

[2021-01-21 08:36] bretuobay commented on #1539
You have to pass a unique id, (i.e the value passed to `keyfield`) from your `historyData`  must be unique else it will select all rows

[2021-01-21 10:49] Exzavierz opened #1551 "Show input/checkbox in Table without clicking to edit"
I want to make my column of checkbox to be shown in table, there is example in the docs/demo but checkboxes are not shown by default, It will be needing to click the column/data to show the checkbox and update the value.

Is there a way to just make the checkboxes to be shown? not the text value but the actual input which is checkbox.

Here is the link of react-bootstrap-table-next demo regarding

[2021-01-22 11:58] ahmadfadlydziljalal opened #1552 "Remote props, Usign useEffect to hit API, but onTableChange is following hit Backend API also in opening page."
I am using remote option.
The case is: => When page is initialized A.K.A opened, it hit API twice,

I guess it comes from:
1. useEffect to hit API
2. onTableChange => put history using react-router-dom

Please Advice

Herei is my react-router-dom:
[code]
And this is the Table2

[code]

[2021-01-22 16:48] adamistheanswer commented on #547
This bug is still present in

    "react-bootstrap-table-next": "4.0.3",
    "react-bootstrap-table2-editor": "1.4.0",
    "react-bootstrap-table2-filter": "1.3.3",
    "react-bootstrap-table2-overlay": "2.0.0",
    "react-bootstrap-table2-paginator": "2.1.2",
    "react-bootstrap-table2-toolkit": "2.1.3"

  The index array which is passed to nonExpandable seems to have no effect on which rows can

[2021-01-27 06:34] izrahalim opened #1553 ""table-responsive" class become obsolete when adding bootstrap table's .css file"
I was trying to make my table responsive and sortable, but when I add the bootstrap table's css `import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';` before my table.css, the table becomes sortable but I lost the responsiveness (all column width is the same + `white-space: 'nowrap'` overflow to the other columns, instead of the width being automatically adjusted).

Here's my t

[2021-01-27 06:43] izrahalim commented on #1553
My bad, it seems I should place my table.css **directly** below the bootstrap's css. Sorry

[2021-01-27 06:43] #1553 closed, assigned to nobody

[2021-01-30 17:24] MahmudulHassan5809 commented on #601
I also face the same problem is there any solution ??

[2021-01-31 21:29] Mireckk commented on #1308
+1

[2021-02-01 04:19] SmashPlusUltra opened #1556 "How to implement variant="dark""
**Question**
I would like to use de property variant="dark" in a table. Is there a way to do it?

**Screenshots**

![image](https://user-images.githubusercontent.com/53838441/106414506-7ee15500-642b-11eb-92c1-658158a4a008.png)

**codesandbox**
https://react-bootstrap.github.io/components/table/?#table-inverted

[2021-02-01 21:57] crimson11 commented on #1551
Hi Xavier,

I think you should in your case use a combination of **formatter** and **editorRenderer**.
I.e. with column.formatter you control how the checkbox values (true/false) are rendered for values not in edit mode.
With editorRenderer you control the UI item to be used, when you click an element to edit.
So this gives you ALL the flexibility, but you have to write a bit of code.

the formatt

[2021-02-02 04:23] Komal-s-28 commented on #614
Hi @AllenFang ,

Is the issue of screen resetting to page 1 always after selecting row on second page resolved?

I am also working on the very same functionality, and facing the same issue. Could you please provide the solution, if this issue was resolved?

[2021-02-02 10:19] kaleem-elahi commented on #981
really excited to get this fature, is it done ?

[2021-02-02 12:50] #1540 closed, assigned to AllenFang

[2021-02-03 02:23] daniellefrappier18 opened #1557 "Unselect selected outside on onSelect"
Hi there,

I'm looking to have buttons below the table with the selected rows. I have that part working, but I would like to add a function that when a user click on the button it will unselect that row in the table. Here is what I have so far. I would really appreciate any help you can give.

`const AddFundTable = (props) => {

    const data = fundsData;
    const [rowData, setrowData] = useStat

[2021-02-03 09:45] tinhlv opened #1558 "I cannot call the function from the Event header when the data is retrieved from reduxs store"
const columns = [{
  dataField: 'id',
  text: 'Product ID',
  events: {
    onClick: (e, column, columnIndex, row, rowIndex) => {
      console.log(e);
      console.log(column);
      console.log(columnIndex);
      console.log(row);
      console.log(rowIndex);
      alert('Click on Product ID field');
    },
    onMouseEnter: (e, column, columnIndex, row, rowIndex) => {
      console.log(e);

[2021-02-03 12:15] Huzaifaahmed20 commented on #1042
in your column in which you don't want event trigger , do this in that column

[code]

[2021-02-04 14:42] Exzavierz commented on #1551
@crimson11 thanks for the help bro! marking this closed :)

[2021-02-04 14:42] #1551 closed, assigned to AllenFang

[2021-02-06 00:27] bradherman opened #1559 "Can't get Mobx observable object updates to update table rows"
**Question**
Hey there, I'm using mobx through my admin implementation and am passing arrays of mobx observable objects into my table.  I'll attach my table class in a gist, but I also replicated this behavior in jsfiddle with a much simpler implementation.

https://gist.github.com/bradherman/dfd7495a5e020eaeabf4310daf064f36

In this example, I create an array of `Earning` objects, which get passe

[2021-02-07 23:19] SmashPlusUltra opened #1560 "Using "useContext" doesnt' re-render"
I have a simple case like the following.. state.instrumentData is updated behind the scene using websockets, I have the same case develop using Table from 'react-bootstrap' and works like a charm.

[code]

[2021-02-08 01:26] LoveWaguan opened #1561 "is it support resize or drag column for change width?"

[2021-02-08 10:38] sudhacholla18 commented on #381
<TableHeaderColumn dataField='xyz' dataAlign="center"
                  tdStyle={{ whiteSpace: 'normal', backgroundColor: '#ccc', position: 'sticky', left: 0, zIindex: 1 }}
                  thStyle={{ whiteSpace: 'normal', backgroundColor: '#ccc', position: 'sticky', left: 0, zIindex: 1 }}

This can be used to make the column fixed.

[2021-02-08 21:34] yenicelik commented on #1194
any update on this?

[2021-02-09 00:01] F-Adam-B opened #1562 "onFilter filters an array of values"
This may already be implemented, but I can't figure out a solution. I have created a custom filter that renders an overlay of checkboxes where a user can select/deselect any of the unique values from that column.

<img width="223" alt="Screen Shot 2021-02-08 at 4 56 26 PM" src="https://user-images.githubusercontent.com/24982223/107296471-adb08a00-6a2e-11eb-8817-58d3f4078363.png">

Here is my colum

[2021-02-09 19:55] SmashPlusUltra opened #1563 "Is there a way to "add custom class to a td tag""
I would like to style a particularly cell. I'm now using "formatter" and I get something like
![image](https://user-images.githubusercontent.com/53838441/107420154-59bda800-6af7-11eb-871a-557f9a407c69.png)
But these apply to an inner tag not to the td itself, so the result is different than expected, I would like to fill with green all the cell not just the price.

[2021-02-09 21:24] gmarshall56 commented on #1183
Hello and happy new year.
I am experiencing the same issue.  Implemented the same code as rikinshah23 except all my checkboxes in my table are unchecked.
 The first click of a checkbox does nothing.  The second click turns on the "blue" checkbox.  I also see this in the console:

 utils.js:52 Uncaught Error: [object Object].isActive is undefined

..and this messages keeps adding up in the console

[2021-02-10 12:33] tongbantin commented on #1308
My Solution : let's try remove **<React.StrictMode>** from index.js

[2021-02-11 00:33] superphil0 commented on #847
still persists

[2021-02-11 13:42] matsamuel2018 opened #1564 "Header Column Style of an expandRow"
One can change the header style of a selectRow with the headerColumnStyle property. Is there a similar property where one can specify the header column style of an expandRow?

[2021-02-11 14:30] ghost commented on #764
@anuragb26 Can you please recall and let us know how did you fixed it.

[2021-02-12 17:42] ghettosunrise commented on #411
@AllenFang the same with me. If i use setState inside onSelect function - it breaks custom style of selected row and checkboxes

[2021-02-12 18:28] juanlet opened #1565 "Can I initiate the filter onButtonPress instead of using delay on textFilter??"
I need to be able to search for null and empty string, that's why I need to use an onPress method where I start the search when I press enter instead of the autofiring with the delay param in case I want to search for the empty string.  I need to be able to clear a specific field pressing an X or something once I got the results searching for an empty string. Is here a way of doing that as well? B

[2021-02-13 10:15] vi-cky commented on #981
feature react infinity scroll useing react-bootstrap-table-2

import axios from "axios";
import React, { useEffect, useState } from "react";
import BootstrapTable from "react-bootstrap-table-next";
import * as ReactBootStrap from "react-bootstrap";
import "../Css/UserManagement.css";
function UserManagement() {
  const [userData, setUserData] = useState([]);
  const [loading, setLoading] = useStat

[2021-02-13 14:07] stuartabrown opened #1566 "selectFilter is not filtering the table"
**Question**
First of all many thanks for this project, it's great and provides so much functionality.

I have been trying to implement [selectFilter](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Select%20Filter%20with%20Default%20Value&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-p

[2021-02-13 15:14] stuartabrown commented on #1566
OK, I have found [this](https://codesandbox.io/s/gameofthronescharacters-xmeer?file=/src/columns.js) example which demonstrates that key and value need to be the same in the object.  I'll modify my `selectOptions ` array to match this requirement

[2021-02-13 15:14] #1566 closed, assigned to AllenFang

[2021-02-16 06:06] inDrimm opened #1567 "Custom Pagination With Search Error data.filter"
I'm using react-bootstrap-table-next, when using search with hard coded data it works fine. But when I use the API it returns a `data.filter` error

        {({ paginationProps, paginationTableProps }) => (
          <div>
            <ToolkitProvider keyField="id" columns={columns} data={data} search>
              {(toolkitprops) => (
                <div>
                  <div className="">

[2021-02-16 08:09] mJarsater opened #1568 "Add cumstom data to footer"
Is there any way of adding customdata to the footer?

<BoostrapTable
          keyField="dateCreated"
          data={paidPayments}
          footerData={exampleValue}
....
/>

eg.
  {
    dataField: 'mave',
    text: 'MAVE',
    footer: '',
  },
  {
    dataField: 'unit',
    text: 'Enhet',
    footer: exampleValue,
  },

[2021-02-16 12:56] appasaheb4 commented on #338
if dataField value empty after afterSaveCell not working

[2021-02-16 12:57] appasaheb4 opened #1569 "afterSaveCell not working"
if before datafailed value empty then afterSaveCell  not working

[2021-02-17 16:05] OvidiuCalburean commented on #207
Any news on this feature being implemented?

[2021-02-18 13:44] rgonca commented on #612
@shubham-prasad Thank you, that is exactly what I was looking for

[2021-02-18 14:51] iurylippo opened #1571 "Project abandoned"
guys, this project was abandoned ?

[2021-02-22 14:16] karunakaranselvam commented on #1531
Bro  keyField="id" u give wrongly so you give correct key field id name

[2021-02-22 18:47] HiddeRpl commented on #1520
There is already pull request for that
https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1506

[2021-02-22 19:49] danvc commented on #1571
It seems that it's.

[2021-02-23 04:45] PalakRajput commented on #942
Hi,

Is there any way for expanding the rows based on particular condition. Also the nonExpandable prop is not working like after giving an array of row index in nonExpandable I am still able to expand those rows.

 const expandRow = {

                renderer: (row) => (

                    <div>
                        <p>{`This row belongs to ${row.name}`}</p>
                    </div>

[2021-02-23 06:48] PalakRajput opened #1572 "nonExpandable not working"
Hi,

I want to expand the rows based on particular condition. Also the nonExpandable prop is not working like after giving an array of row index in nonExpandable I am still able to expand those rows.

const expandRow = {

            renderer: (row) => (

                <div>
                    <p>{`This row belongs to ${row.name}`}</p>
                </div>
            ),
            nonExpand

[2021-02-23 16:09] trig79 opened #1573 "unable to resolve dependency tree"
Hi
I receive the following error when trying to install your package to my project, No idea what this is telling me or how to begin to resolve it, appreciate any guidance.

`
$ npm install react-bootstrap-table-next --save
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: frontend@0.1.0
npm ERR! node_modules/react
npm ERR!   react@"^17.0.

[2021-02-23 17:00] trig79 commented on #1573
Closing: As info this is an NPM v7+ issue, which can be resolved by running
`npm install react-bootstrap-table-next --save --legacy-peer-deps`

[2021-02-23 17:00] #1573 closed, assigned to AllenFang

[2021-02-24 01:29] LoveWaguan commented on #1561
i use my way to resolve this problem, using mousedown,mouseup,mousemove functions ,it work very perfect .

[2021-02-24 17:14] trig79 opened #1574 "Font-Awesome Icon Not Rendering"
**Question**
Font Awesome Icons are not rendering in Table, am I doing something wrong?
I have checked outside the table and they render fine.
I am using formatExtraData and have tested rendering RAW text and that works fine, so the issue is just with the Icons themselves, are they supported?

**Code**
`
dataField: 'isAdmin',
text: 'Adm',
formatter: (cell, row, rowIndex, formatExtraData) => {

[2021-02-25 11:48] dem0On opened #1575 "Override render of a cell"
Hi,

**Question**
Can we override cell rendering ? I want to give an array of string and table iterate over it for display string under string.

Regards,

[2021-02-25 12:33] luizabentivoglio commented on #280
any news @AllenFang about this part? Can I ask you, is not a problem if I install the previous version of react-bootstrap-table for doing this feature? Thank you

[2021-02-25 12:50] luizabentivoglio commented on #1134
If we install this package, we will can use add/delete?

[2021-02-25 15:03] trig79 commented on #1571
hope not, just integrated in to my project  ;-)

[2021-02-25 15:16] loriecastillano opened #1576 "RE: Customize Search Component instead of SearchBar"
Hello,

I am new to react. And I am making Customize Search component instead of Using the "SearchBar". Because I want to include the search text on my "noDataIndication".

My challenge is whenever, the "props.onSearch" is called. the value of the input text will be cleared out and I am using "onKeyUp".

My question is, how can I disable "clearing of input in the input text" after "props.onSearch"

[2021-02-26 04:00] lavania-aditya commented on #207
I have recently faced this position and as I am using react-bootstrap for my project, so I use input cell as the column formatter and that can leads me to my own custom onChange onBlur and every function, which helps a lot and also tabbing for editing cells work in it.
For updating the table data, use the onChange method and Please follow the way of immutable to update data in the world of react.

[2021-02-26 04:32] SonicMagna opened #1577 "react-bootstrap-table2-editor className Typo in Module"
react-bootstrap-table2-editor@1.4.0
node_modules/react-bootstrap-table2-editor/dist/react-bootstrap-table2-editor.js
node_modules/react-bootstrap-table2-editor/lib/src/checkbox-editor.js

`
var editorClass = (0, _classnames2.default)('editor edit-chseckbox checkbox', className);
`

**chseckbox**

Found it while trying to find the cause of my checkbox inputs not being centered.

For the centering i

[2021-02-26 16:03] SonicMagna opened #1578 "Changing the data source of the table does not reset the selected array."
"react-bootstrap-table-next": "^4.0.3",
"react-bootstrap-table2-toolkit": "^2.1.3"

The unexpected behavior is changing the data source of the table does not 'reset' the selected Array.

I encountered this while attempting to find a work-around to delete selected rows, since that is not possible yet:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/migration.html#row-insert-dele

[2021-02-26 18:50] hauhuynh1208 commented on #1118
@eyle I am facing the same issue. Could you please post a gist of your solution?

[2021-02-26 20:49] db306 commented on #384
Seems to me this issue can be closed
https://www.npmjs.com/package/@types/react-bootstrap-table-next

[2021-02-26 21:18] dhussong opened #1579 "Using PaginationListStandalone"
I have everything working nice using PaginationListStandalone except the selected page is not active so it always looks like page 1 is selected. How do I get the correct page button to be active?
Here is my code:
[code]
The handlePageChange function just gets the new records to display from the database.

[2021-03-01 07:59] #1575 closed, assigned to AllenFang

[2021-03-01 12:43] sashasemeniuk commented on #617
Any update?

[2021-03-01 13:44] salimkanoun commented on #1571
just to know what would be your replacing library ?
The most popular seems to be react-table but seems much harder to use.

Any opinion on what you would use in replacement of React-Boostrap-Table2 ?

[2021-03-01 13:47] trig79 commented on #1571
i have gone with this instead https://www.npmjs.com/package/react-data-table-component, its suits my needs as I don't need anything with lots of functionality.

[2021-03-02 08:35] mehdisolhan opened #1580 "TypeScript expandColumnPosition type error"
Hello, i am using this wonderful package in react-typescript. First of all, thank you for that.

I faced an error in **expandColumnPosition**.
This is my expandRow function;
[code]
It is throwing an error;
![error](https://user-images.githubusercontent.com/40266538/109618946-39f33000-7b49-11eb-990f-342d2689ce1e.PNG)

I solved this by changing the **expandColumnPosition** type `'right' | 'left'` to

[2021-03-03 21:51] frederiksf opened #1581 "useState remove row in datasource strange behaviour"
My issue is that when i try to remove to remove objects in my datasource something goes terribly wrong where deleted items appears again...

1. I defined with the spread operator the following state object including 3 objects

[code]

2. Then i created a delete handler

[code]

3. Within the column configuration i used the formatter to add an action column with a button with a onclick ref to above

[2021-03-04 17:46] jabberwo commented on #839
Fails with the same error as OP's sandbox.

[2021-03-04 18:05] matsteele opened #1582 "how do I get afterSearch to work when using a custom search bar?"
**Question**
how do I get afterSearch to work when using a custom search bar?
I want to confirm that the expectation is that onColumnMatch and afterSearch work with custom components. If not, is the expectation that these functions be custom built if a custom component is used?

[2021-03-05 08:54] yousefshakoury commented on #702
Thanks for you, so where I do it?

[2021-03-05 19:42] dnorrstrand opened #1583 "Dynamically resize column widths to fit all content"
Hello,

Is there any way to re-size table columns automatically based on their content's size? My table is currently formatted with all columns having equal widths while their contents differ in size.  The result looks ugly because some content does not fit the column space completely and in other columns there is a lot of blank space:

![Screenshot](https://user-images.githubusercontent.com/73636

[2021-03-06 16:05] mc-perst commented on #1572
Think it should be the row id. Not the index.

[2021-03-07 09:13] PavelZubkov commented on #981
just used prettier with the previous example
[code]

[2021-03-07 20:23] #1581 closed, assigned to AllenFang

[2021-03-08 03:18] anushmadubey commented on #1562
Hey @F-Adam-B , I'm trying to do the same thing. Did you happen to find a solution for this?

[2021-03-08 04:41] ranaraya commented on #981
How do you call LoadMoreHandle method, is it by adding onScroll property in Bootstraptable Component. In my case, i include bootstraptable  side toolkitprovider. Will the implementation differ?

[2021-03-08 12:25] vikramabhisheksah commented on #291
You can use the react-bootstrap-table.css instead of react-bootstrap-table.min.css and then set table layout as "auto" as mentioned by @ErkinKurt

[2021-03-08 13:32] lockhaicttv opened #1584 "Update image??"
How can I update image with react table 2. I have a component get base64 from image and I want to show it to update image but react-table-next-editor don't have Type.IMAGE. Can someone help me solve this problem.
Thank you everyone so much!! ♥

[2021-03-08 21:35] ranaraya commented on #981
I have <ToolkitProvider ...> { props => { <Bootstartable id='bsTbl' ...>. Question is: How do I implement infinite scroll?

[2021-03-09 05:06] grantspilsbury opened #1585 "How to get the filter inputs showing when using Bootstrap v4"
Our project uses Bootstrap v4, we are also using react-bootstrap-table-next.

Is the filter column component compatible with Bootstrap v4?

I've added the standard filter code but the input boxes are not visible.

[code]

[2021-03-09 05:16] grantspilsbury opened #1586 "Resizing columns"
Hi, is it possible to resize columns?

[2021-03-09 07:24] mehdisolhan commented on #1580
Solved.

`expandColumnPosition: 'right'`

'right' widened itself to type **string**. However, expandColumnPosition need **literal types**. To fix it, there is const assertion coming with **TypeScript 3.4**. I added `as const` to my code.

`expandColumnPosition: 'right' as const`

Then `'right'` will not turn itself into string.

[2021-03-09 07:24] #1580 closed, assigned to AllenFang

[2021-03-09 07:27] #1585 closed, assigned to AllenFang

[2021-03-09 12:02] vikramabhisheksah opened #1588 "I want to implement a Multi-Text filter instead of a Multi select filter in react-bootstrap-table2."
Hi,

I have a table with a column "Sales Order" [Not a primary Key]. While using this table in the bootstrap table I want the users to be able to filter with multiple sales order values.
The Multi-Select filter requires me to maintain a dictionary of selectable values from a drop down whereas my requirement is that the user must be able to type multiple values in the filter textbox at runtime.

Fo

[2021-03-10 14:55] bmmpt commented on #1534
@AllenFang This seems to be a very simple change. Do you have any plans on working on this?

[2021-03-10 19:40] skodie0 commented on #1579
There's a prop called "page." Use that.
A practical example is to have an element in your state, say "page" which you set to the page prop of the "paginationFactory." Upon every page change, you change the state of "page" to the number passed as an argument in the "onPageChange" prop.

` const paginationOptions = {page: state.page}`
  `const onPageChange =page=>{setState((state)=>{return{...state,

[2021-03-11 14:18] vladAvanite commented on #1561
hey, can you pls show your code?

[2021-03-11 16:13] appasaheb4 opened #1589 "col not resize working"
**Is this feature requested before?**
Please search issues to make sure to create feature which is never report yet.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2021-03-12 02:17] arkzky commented on #347
Do we have any update on this?
Would be cool if we could preserve the selected rows in multiple pages on remote mode!

[2021-03-12 22:59] PavelZubkov commented on #981
@ranaraya
I cheated. At the bottom of the table I placed a component that calls a callback when it comes into view.
Something like this https://www.npmjs.com/package/react-visibility-sensor
Inside the callback, after some conditions, LoadMore is called

This is enough for my task

[2021-03-13 15:16] ranaraya commented on #981
Thanks for the reply. Could you comment on my question related to using "ToolkitProvider" --> Bootstraptable use in my APP. Would it be possible to implement infinite scrolling here, if Yes, InfiniteScroll Component be the parent of both the component as per above or only for Bootstraptable?

Currently, in our APP, we do have column level sorting/filtering as well as CSV download functionalities p

[2021-03-13 17:23] #1567 closed, assigned to AllenFang

[2021-03-14 15:28] janspoerer commented on #1550
Is there any news on this? I'm also receiving this warning.

[2021-03-15 15:36] pacproduct opened #1590 "A visible column doesn't hide when toggling its 'hidden' property to 'true'"
**Describe the bug**
When switching from one set of columns with all visible columns to another set where one of them is flagged as `hidden`, the hidden column still shows up.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare 2 sets of columns, the second one having a hidden column. For instance:
[code]
2. Create a simple react component with a button for switching from one columns set

[2021-03-16 05:05] vaidehi2000 commented on #1423
@vinodbhavnani is this issue resolved?

[2021-03-16 07:03] vinodbhavnani commented on #1423
@vaidehi2000 it was as @elocin11 mentioned. The key had duplicates. I had a huge dataset so it was hard to realise. Closing this now.

[2021-03-16 07:03] #1423 closed, assigned to AllenFang

[2021-03-16 07:23] vaidehi2000 commented on #1423
Okay. Thank you

[2021-03-16 20:10] avindra commented on #1571
I strongly recommend all to consider asking what problem you're trying to solve with RBST, `react-table` and similar libraries.

Idiomatic React and JS is straightforward and easy to debug:

[code]

I've seen these libraries stretched beyond their limits, and there are difficulties in particular about remoting data and paginating it correctly. Implementing it using RBST for example, requires caref

[2021-03-18 09:15] MudulOzan opened #1591 "Searching in object array"
**Question**
Hi, I have an object array like this
` [{name:"name1, id:0},{name:"name2",id:1}]
`
My data is like
[code]
And I use a formatter
[code]
And my formatter
[code]
When I try to search I am unable to get result depending on this field
I used searchFormatted but it didn't work
I looked at other commits but couldn't find one fitting my issue, how to achieve this? (sorry currently on phone ri

[2021-03-19 10:34] chriSilv88 opened #1592 "Searchbar with changable state"
Hello. I'm making a custom search. When page is load table should be hidden and when I searching for something it should change my state and display result with table. Somebody knows why it doesn't change the state?

[code]

[2021-03-22 21:42] smpengdev commented on #601
Has a solution been found yet? Unfortunately, marking isDummyField true does not resolve the issue. Thank you for all of your help!

[2021-03-23 09:56] Sharmistha24 commented on #226
Try this.
                {
			dataField: 'about',
			text: 'About',
			headerStyle: () => {
				return { minWidth: '200px' };
			  }
		}

[2021-03-25 17:31] lirond12 opened #1593 "Can noDataIndication be invoked when the table data only has hiddenRows?"
Hi,

I noticed that noDataIndication is invoked when data.length === 0. Is there a way to get that indication to render when the data only has hidden rows in it? (data.length - hiddenRows.length === 0)

Thank you in advance!
Liron

[2021-03-26 00:55] AshwinTayson commented on #59
@AllenFang Is this implemented? Like if I supply a custom date range filter, it comes the cell value between the start and end date?

[2021-03-26 10:52] YevheniiHorokhov opened #1594 "Expand column - style oversize column"
**Describe the bug**

Column is out of bounds

**Screenshots**
![image](https://user-images.githubusercontent.com/23155948/112620838-b2d86580-8e31-11eb-8147-4c1cdd835ba8.png)

[2021-03-26 15:44] AshwinTayson opened #1595 "Date ranger filter"
**Is this feature requested before?**
Yes

**Is your feature request related to a problem? Please describe.**
Custom Filters need to take a comparator function also so that custom logic can be implemented easily. Example: Implementing a date range filter with From and to date filter. It needs a between comparator.

**Describe the solution you'd like**
Comparator can take in function as an input an

[2021-03-27 02:30] Aranguez commented on #1176
Just pass [ { dataField: "", text: "" } ] to the columns prop and should be no problem

[2021-03-29 09:40] vzherebetskyi commented on #960
Another possible approach is to change the relevant keyfield of the `BootstrapTable`.
At our project every row has unique id which is passed to the BootstrapTable keyfield. Every row is editable, when the Edit button is clicked and we need to re-render the whole row to change cells to inputs the row's id is changed. This informs the bootstrap table the the row shall be rerendered

[2021-03-30 02:38] sachitha-94 commented on #888
import following CSS
`import 'react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';`

[2021-03-30 03:47] duende84 commented on #1308
@AllenFang any update here? ty

[2021-03-30 13:01] aaron-humerickhouse opened #1596 "Condensed property not making a table smaller"
**Describe the bug**
When adding the condensed property to a table, the table is not smaller. It applies `table-condensed` as a class to the table element, however it does nothing. When I change `table-condensed` to `table-sm` my table gets smaller.

Using 4.0.3

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#condensed-bool

**To Reproduce**
Steps to reproduce

[2021-03-31 12:27] sandrinn opened #1598 "Responsive columns"
How would be best to go about making a table with responsive columns?

[2021-04-01 08:30] kunaltyagi9 opened #1599 "How to close expandable row on scroll"
I am Using Expandable Row Functionality to expand/collapse the Row.
Is there a way to collapse the Row on Scroll as well

[2021-04-01 11:45] MLazarevic36 commented on #1503
Hello, has anyone found solution for this? I mean, is it safe to install with --legacy-peer-deps?

[2021-04-01 15:22] kranthik2330 opened #1600 "Unable to format CSV Header font"
Hello Guys,

I have a question regarding export to csv feature.
My requirement is to make csv header to bold. Is there a way that i can set Style to CSVHeader text?
Please let me know if you need any additional information

[2021-04-02 18:08] arunmmanoharan commented on #1599
You want to close once the element is not in the viewport?

[2021-04-05 02:10] kunaltyagi9 commented on #1599
I want to close it, as soon as user starts scrolling

[2021-04-05 02:33] arunmmanoharan commented on #1599
Can you post your code? I can add the necessary code to the top of it

[2021-04-05 09:30] Dipen-Dedania opened #1601 "Ctrl+click to select one row or use Shift+click to select a range of rows"
**Is this feature requested before?**
Use the ctrl+click to select one row or use shift+click to select a range of rows

**Is your feature request related to a problem? Please describe.**
In https://examples.bootstrap-table.com/index.html#options/multiple-select-row.html, bootstrap proide _multipleSelectRow_ option for the multiple selection row. Can use the **ctrl+click** to select one row or use

[2021-04-06 22:31] shashankbhat10 commented on #1308
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1056 - I found this PR which was raised but I think the issue still persists. I too am facing the same issue

[2021-04-07 05:38] hkar19 commented on #934
you guys can check his solution about this [here](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1106#issuecomment-536256768).

the idea is you pass a formatter to the the column object's `formatter`, then find picked option and get the label.

[2021-04-07 10:59] jimjaeger commented on #1308
I use "react-bootstrap-table-next": "^4.0.3" the issue still exists. @AllenFang Is there any plan to fix?

Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever pro

[2021-04-08 08:22] hkar19 commented on #601
in my use case, instead of relying on `datafield`, i just use the `row` value instead.

so on colum descriptions instead of:
[code]

i do:
[code]

in the formatter, the `cell` will be undefined, but you can retrieve the data by using `row`
such as:
[code]

[2021-04-11 13:15] wbchamekh opened #1602 "useState Hook trigger selected rows to disappear"
I'm trying to use react-bootstrap-table next for my current project. In my App component, I have 2 child component a table a group of Buttons in a Form. The group of button is hidden per default, they only show if row/s are selected in the table. I'm using useState hook to control the visibility of the buttons.

The issue that I now have, that the row selection does not show when i select all/or o

[2021-04-11 18:12] jeffdc commented on #995
It also does not work on Firefox or Safari on Mac OS.

[2021-04-11 18:28] DracoRunner commented on #1512
Facing the same problem , also tried  the given solution nothing happen

Please solve this asap

[2021-04-11 18:29] DracoRunner commented on #1512
Tried not working

[2021-04-12 02:39] varg90 opened #1603 "Switch page to active row page"
**Question**

Hello
[code]
I have a table with **pagination**, and `rowEvents` set current (clicked) row to be active and shows the modal with this row data via `onClick` callback (using Redux store).

Active row data is shown in the modal that has **←prev** / **next→** navigation that switches active row (active row is highlighted in the table using `rowClass` callback that checks Redux store val

[2021-04-12 12:50] jdhankins commented on #1083
I have had success by concatenating object key values together into a single hidden field, then using that field as the defaultSorted object.  It's kind of a hack, but works in some instances.

[2021-04-13 23:15] superphil0 commented on #847
If anybody still cares I figured out the solution.

It is most likely due to wrong useage of the Pagination combined with the filter.

Here is an example of how to use pagination properly:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination%20with%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=sto

[2021-04-16 13:53] nvasilev98 opened #1605 "Underscore version"
Hello,

We are facing vulnerabilities with underscore library version, our security scan says that its version is outdated and suggests us to update it. Since we are not using underscore directly and it comes as a dependency from react-bootstrap-table-next we can't change it. We have been wondering if you still maintain react-bootstrap-table-next, because the last release is from almost a year ago

[2021-04-16 20:17] jklingen92 commented on #1596
@aaron-humerickhouse You need to set the `bootstrap4` prop:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#bootstrap4-bool

[2021-04-16 20:30] jklingen92 commented on #1574
@trig79 Your code results in this:
[code]
You have too many quotation marks and also your setting `style=...` as a class, not an attribute. Instead of using formatExtraData, why don't you just say
[code]

[2021-04-16 20:31] jklingen92 commented on #1594
@YevheniiHorokhov You need to include your code, otherwise you're just wasting everyone's time.

[2021-04-16 20:34] jklingen92 commented on #1592
@Russlan88 This is not an issue with React Bootstrap Table. You need to learn how React works.

You're biggest problem is probably that your setting visible to an object: `onChange={() => setVisible({ visible: true })}`

Try this: `onChange={() => setVisible(true)}`

[2021-04-16 20:36] jklingen92 commented on #1593
@lirond12 This is a good feature request. In the meantime, instead of hiding the rows, filter them out of your data array before passing them into the table.

[2021-04-16 20:40] jklingen92 commented on #1591
@MudulOzan

Your data looks like garbage. You have unclosed curly brace. Either you copied it badly or it shouldn't even run.

As for your formatter,

This line:
```return row["User"] && row.User.map((item, index) => {```
is returning a true or false. The `&&` operator will evaluate true or false. You need to debug your code.

[2021-04-16 20:42] jklingen92 commented on #1584
@lockhaicttv You'd be better off creating a custom edit component and writing a custom wrapper:
[code]

[2021-04-16 20:47] jklingen92 commented on #1583
@dnorrstrand I haven't had any trouble with my tables. Make sure you're including the styling in your file:
[code]
Also, get rid of any custom styling relating to column width that you put on. It may be interfering.

Also, Check our bootstraps [responsive tables](https://getbootstrap.com/docs/5.0/content/tables/#responsive-tables).

[2021-04-16 20:55] jklingen92 commented on #1578
@SonicMagna I also ran into some problems with selected ids persisting. I was able to fix it by storing selectedIds in my own component and resetting them when I wanted that behavior:
[code]

I think the desired behavior of hidden rows is that selection remains. If you wanted them to leave the table and not be selected, you should just filter them out of the data entirely.

[2021-04-16 21:02] lockhaicttv commented on #1584
Tks so much

[2021-04-16 23:31] MudulOzan commented on #1591
sorry, I was on phone back then, never thought I'll get a response, I applied a workaround for that. thanks for your time though

[2021-04-16 23:31] #1591 closed, assigned to AllenFang

[2021-04-19 11:20] pieceofsoft commented on #1605
I face the same problem. I saw that the underscore dependency is explicitly set to version 1.9.1 so it is not possible to use a newer version (even if I install it as dependency of my package).
Underscore has a newer version (1.12.1) which does not have the vulnerability. Do you plan to update it?
By the way, I'm using react-bootstrap-table-next's version 3, I'd be very happy if you can bump under

[2021-04-20 17:51] rpomykala commented on #1140
Since this page is the top result on google, upgrading this dependency fixed it for me:

` yarn add react-bootstrap-table-next@4.0.3`

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1345

[2021-04-21 16:03] alongolo opened #1607 "Page-Navigation Buttons not visible"
Hello,

I have created a table which supposed to display some entries which it gets from a server.
The entries are showing just fine, as well the sizePerPage dropdown, but for some reason the page navigation buttons are not showing properly.

![image](https://user-images.githubusercontent.com/62423144/115583866-f3ad8800-a2d2-11eb-9f5f-13f80cc8f2cf.png)

I have tried to change alter with the pagina

[2021-04-24 06:05] ghost commented on #1308
Same problem here as well. Any updates?

[2021-04-24 16:51] soumyashisPR commented on #684
Hi @AllenFang is this issue still open?
I would like to work on this issue if anyone hasn't picked this up yet. Thanks!

[2021-04-24 16:54] soumyashisPR commented on #580
@AllenFang I would like to work on this issue if not picked up yet, thanks. Is this still open?

[2021-04-24 16:59] soumyashisPR commented on #52
Hi @AllenFang is this issue still open?
I would like to work on this issue if anyone hasn't picked this up yet. Thanks!

[2021-04-24 19:19] yenicelik commented on #280
same need here

[2021-04-26 18:06] saigiridhar21 opened #1608 "How to reset pagination to the first page when the table data changes?"
**Question**
How to reset pagination to the first page when the data changes?

Steps to reproduce:
* Add a button called "Change table data" which changes the table data.
* Change the pagination to some other page like 2.
* Then, click on "Change table data" which changes the table data but, still the new table data will be rendered as per the second page only. Pagination will not reset to the fir

[2021-04-28 13:53] chriSilv88 commented on #1592
Thank you a lot))

[2021-04-29 16:18] ranaraya opened #1609 "React Bootstrap Table - Column Sort followed by a click on column link"
I show data using "React Bootstrap" table. In this scenario, I sort on a Column, followed by clicking on a link (which is one of the columns of the row). The APP shows a modal popup upon click. Both, Bootstrap table and Modal popup are part of the same functional component.

The issue here is, Upon Clicking the column, the component re-renders itself, this restores contents of the table to its ini

[2021-04-30 12:00] yenicelik commented on #1308
Same issue. Any updates or workaround? Also @AllenFang, ever came accross this?

[2021-05-02 15:28] lockhaicttv opened #1610 "Boostrap look like fail although it is added"
![image](https://user-images.githubusercontent.com/32085956/116818494-7ed31d00-ab20-11eb-948e-3947c1701ec1.png)

Can anyone help me, my expand columns is not responsive although I added bootstrap 4. And how I can custom columns with bootstrap via className ??
Love all-volunteer and supporter ♥

[2021-05-02 15:45] huy1912 opened #1611 "defaultValue using for customFilter"
The library has provided the customized filter with `customFilter`.

Currently, I don't know how to apply the defaultValue from the `customFilter` like other filters (e.g.: `dateFilter`) when the table/grid is loaded for the first time

[code]

I've tried to call the `onFilter` in the `componentDidMount` in the `CustomFilter` by following the [`DateFilter`,](https://github.com/react-bootstrap-tabl

[2021-05-02 16:06] huy1912 commented on #1611
It's not an issue with defaultValue, so closed the question.

[2021-05-03 17:58] #1501 closed, assigned to AllenFang

[2021-05-03 20:50] hunterlong commented on #1308
+1 same issue

[2021-05-03 23:05] ranaraya commented on #444
I'm using react-bootstrap-table-next version 4.0.3. It is still an issue. Does it mean, I have to go back to earlier version?

[2021-05-04 20:37] fffaria commented on #1001
Did you manage to solve this problem?

[2021-05-05 04:19] shirleykabir commented on #974
Hi! How do I sort by a certain sort order?

[2021-05-05 14:47] zimm1 commented on #207
Allen ma boy, cmon

[2021-05-05 15:19] AtomicNoggin commented on #1432
I assume you want to have a column be designated as a "Row Header" and rendered as a TH in the code?
If so this PR may solve the problem

https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1604

[2021-05-05 15:34] AtomicNoggin commented on #696
this PR may solve the issue. I submitted it to solve the issue for us:
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1432

[2021-05-05 16:00] parag-coditation commented on #1438
Hi, I'm also going through same issues if possible can you please share what did you tried to solve this issue and what made it work. Help appreciated.

[2021-05-05 23:10] bmmpt commented on #1605
I'm using Parcel 2 to build my React app and the current underscore 1.9.1 is breaking at runtime, because of Parcel's scope hoisting feature. I've checked that underscore 1.13.1 works fine with Parcel's scope hoisting functionality, so I'm really interested in this change.

[2021-05-06 19:40] sricks commented on #1605
There was an arbitrary code execution notice posted for this Underscore version today: https://www.npmjs.com/advisories/1674

Any chance of updates?

[2021-05-06 22:27] bmmpt commented on #1605
@AllenFang I'm trying to create a PR for this, but getting:
![image](https://user-images.githubusercontent.com/14299284/117373158-b2070a80-ae98-11eb-82d7-9782718805a2.png)

[2021-05-07 08:35] pieceofsoft commented on #1605
Noticed that dependabot created a PR (#1612), bumped the version from 1.9.1 to 1.12.1

[2021-05-07 21:58] ahmetemrebasakcioglu commented on #1605
Same problem here, when will it be fixed? thanx

[2021-05-09 14:38] natan7366 commented on #1374
What should be inside the for loop if I want to display the array items line by line ?

[2021-05-09 15:55] KirillRas commented on #1605
Same problem here.

[2021-05-10 01:07] bigfuture-test commented on #1605
@AllenFang please merge the dependabot alert. Is this project on active development?

[2021-05-10 10:01] ahmetemrebasakcioglu commented on #1605
@AllenFang any luck? Still Waiting 4 this merge

[2021-05-10 21:52] bmmpt commented on #1605
This is a great project and is on active development, but it is super slow moving at times...

[2021-05-11 22:01] fffaria commented on #956
How did you add the indication arrows with CSS?

[2021-05-12 06:16] pawan-khade opened #1619 "How to clear selected rows automatically using react-bootstrap-table2."
In my react application I want to automatically clear selected row of react-bootstrap-table2 upon api response.

Can someone help me in solving this issue?

[2021-05-12 06:21] pawan-khade commented on #1619
I am using React hook

[2021-05-12 09:14] bitgenerator opened #1620 "Warning: Each cild in a list should have a unique "key" prop."
Hi all,
I'm using the pagination feature and during tests I got the warning mentioned in the subject. The pagintation feature is the only list on my page. How can I get rid of this warning?
Thanks a lot!
Best Mario

[2021-05-12 09:29] bitgenerator commented on #1620
I missed the keyField property ;-)

[2021-05-12 09:29] #1620 closed, assigned to AllenFang

[2021-05-12 14:01] bmmpt commented on #1605
@chunming-c, do you have permission to merge this? Looks nothing has been merged in since Aug 2020 :(

[2021-05-12 17:37] alongolo commented on #1607
Any advices?

[2021-05-14 07:10] hellogbg opened #1621 "Pagination info translation"
Is there a way to translate pagination info at the bottom, i.e:  Showing rows 1 to 10 of 81

[2021-05-14 11:59] vineet-agrawal96 opened #1622 "editorProps.onUpdate is not working"
Hi Allen,
I am trying to implement  Cell Edit with a customized cell editRenderer.

My Problem is that I'm showing a dropdown on cell Edit. When I changed value from dropdown then cell never comes from exit mode even I'm using editorProps.onUpdate method which is also not working.

[2021-05-14 12:38] vineet-agrawal96 commented on #1622
` import React from 'react';
import { useAlert } from 'react-alert';
import { MUTATION_SET_PRIORITY } from 'pages/BusinessAdmin/Dashboard/AdminDashboardGraphQL';
import { useMutation } from '@apollo/client';
import { Input } from 'reactstrap';

const RenderSetPriorityDropDown = ({
  caseId,
  fileId,
  priority,
  refetch,
  editorProps,
  isCase,
}) => {
  const alert = useAlert();
  const { onUp

[2021-05-16 12:05] josephkannatraj commented on #1345
Hi there,
I am facing an issue on 'react-bootstrap-table-next'

I'm using recent versions

TypeError: can't access property "filter", props.columns is undefined
BootstrapTableContainer
              .../node_modules/react-bootstrap-table-next/lib/src/contexts/index.js:96

            93 |   props.registerExposedAPI(exposedAPIEmitter);
            94 | }
            95 |

               | ^  97 |

[2021-05-16 12:10] josephkannatraj opened #1623 "Error in react-bootstrap-table-next"
Hi there,
I am facing an issue on 'react-bootstrap-table-next'

I'm using recent versions
"react-bootstrap-table-next": "^4.0.3"

TypeError: can't access property "filter", props.columns is undefined
BootstrapTableContainer
.../node_modules/react-bootstrap-table-next/lib/src/contexts/index.js:96

        93 |   props.registerExposedAPI(exposedAPIEmitter);
        94 | }
        95 |

           |

[2021-05-16 14:43] sivabankapalli commented on #956
Can someone please help on how to disable the ExpandAll indicator in the functional component?

[2021-05-16 15:03] sivabankapalli commented on #956
I tried with the below code and able to make it work:

expandHeaderColumnRenderer: (isAnyExpands) => (null )

Update the CSS:

.expand-cell-header  {
  pointer-events: none;
}

[2021-05-16 15:04] sivabankapalli commented on #983
I tried with the below code and able to make it work:

expandHeaderColumnRenderer: (isAnyExpands) => (null )

Update the CSS:

.expand-cell-header {
pointer-events: none;
}

[2021-05-17 15:37] daverag opened #1624 "Bootstrap 5.0.1 fail"
I'm trying to use react-bootstrap-table-next on a site with this theme https://demo.themesberg.com/volt-react-dashboard/

I never had problems with Bootstrap 4, but this theme uses Bootstrap 5.0.1 and gives me this error:

Uncaught TypeError: _events2.default is not a constructor
    at BootstrapTableContainer.RemoteResolver (remote-resolver.js:132)
    at new BootstrapTableContainer (index.js:72)

[2021-05-17 20:05] ahmetemrebasakcioglu commented on #1605
i think we must give up using this package 👎

[2021-05-18 04:13] Devmobilesutra commented on #1463
above answer is absolutely fine for asked question but in my case search is only worked when I typed something in input field before that the does not shows any data. I want entire data to display without any search also. I have implemented same code as @cb29960. any help will be appreciated. Thank you...

[2021-05-18 08:45] thaotlh94 commented on #1590
Hi bro. About this case. I have already fix it by cloning one version.
 You can go to file: src/contexts/index.js

`
      if (        props.columnToggle ||        props.columns.filter(col =&gt; col.hidden).length &gt; 0      ) {        this.ColumnManagementContext = createColumnMgtContext();      }
`

`
      if (        props.columnToggle ||        props.columns.filter(col =&gt; **!col.hidden**)

[2021-05-18 11:30] cwilso03 commented on #1463
I'm not sure I follow... Regardless, probably best to open a new issue, since it sounds like you are experiencing a different problem.

[2021-05-18 11:45] timreuten commented on #1308
+1 same issue.

[2021-05-19 14:30] Togre34 opened #1625 "Select filter"
When you use a simple select filter
`filter: selectFilter({
                options: this.state.options.selectTabOption2
            }),`
With this architecture of options :
`{
    "0": "Value0",
    "1": "Value1",
    "2": "Value2",
    "3": "Value3",
    "4": "Value4",
    "5": "Value5",
    "6": "Value6",
    "7": "Value7",
    "8": "Value8",
    "9": "Value9",
    "10": "Value10",
    "11": "V

[2021-05-19 14:33] Togre34 commented on #1625
I think is easy to reproduce, but if you need a example, just say it I will do it.

[2021-05-19 16:38] AndrewOttavianoAbb opened #1626 "Question About Sorting/Column Filtering"
**Question**
Hello! I just started using table2 and it is pretty cool, so thank you! My question is about the search/column filtering (I'm seeing the same behavior on both).

*Context:* I have a 3 column table and two of the columns are composite of two fields in the row. So to make them display, I am giving the column object one of the field names to match the row and then using a formatter to co

[2021-05-19 16:45] AndrewOttavianoAbb commented on #1626
Is it possible to pass my own search function to the component?

[2021-05-19 16:51] AndrewOttavianoAbb commented on #1626
I tried changing the `search` prop to
[code]
and that did not help. Instead it doesn't return anything at all anymore (i.e. when I type `1006`, I don't get any rows back even though there should be several rows matched).

[2021-05-19 16:55] AndrewOttavianoAbb commented on #1626
After playing around some more, I discovered that it seems to search by cell. So I think I know what the problem is. Since I am combining two fields into one column, it wasn't matching the search results because the value of `cell='1006` and the value of `row={ num1: '1006', num2: '33', id: 1 }`.

So my question is, is there a way I can combine two fields into one cell without breaking search?

[2021-05-19 17:16] AndrewOttavianoAbb commented on #1626
Ok. Sorry to keep spamming this, but I found a way after reading more of the docs. I was able to add a `filterValue` to my column to make it filter as expected
[code]

Question now is, can I do the same with search? I would prefer to have one search box rather than a filter field in the header of every column if possible.

[2021-05-20 13:18] AndrewOttavianoAbb commented on #1626
We found a work around for anyone interested. It feels a little hacky, but it works for now. We only want to search by one component of the composite field, so we put that field in its own column and set `hidden: true` in the column object. Then we set `searchable: false` in the column object of the composite field.

[2021-05-20 21:08] illia-sh commented on #1191
+1 the same issue.

[2021-05-20 23:34] sushreewb opened #1628 "Is there a way to clone an existing row?"
**Question**
Can we add some type of make duplicate / clone button in a row and the exact same row with same data will be created.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2021-05-21 12:19] ultimateakash opened #1629 "How to Show No Data Text when no data available on table."
Hello, I have integrated react-bootstrap-table-next table in my project. everything works fine. but its not showing any message when no data passed to table or when we search on table if there is no matched record.

Could you please help me.

import BootstrapTable from "react-bootstrap-table-next"
import paginationFactory, { PaginationListStandalone, PaginationProvider } from "react-bootstrap-tabl

[2021-05-21 14:13] pshrimal000 opened #1630 "Custom Filter Issue"
[I am trying this example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Filter%20Hooks&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) for custom filtering.
and what I am trying to achieve is calling an API with input and column name.
[code]
Above code works as expected but when

[2021-05-22 04:29] csavella commented on #1308
+1 same issue

[2021-05-22 12:07] naresh-FD opened #1631 "How to create these kind of table with nested thead???"
![image](https://user-images.githubusercontent.com/50324374/119225988-994b5580-bb24-11eb-88e4-8f6f1f963d1a.png)

**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simpl

[2021-05-23 07:53] tbjerknes commented on #1626
The search in your sandbox works if you don't wrap it in a div, eg just return `${num1}-${num2}`. It doesn't seem to like the additional html wrapped around it. There are other ways of styling the cell that you can use.

If you want to add your own matching function, have a look at the [storybook](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/?selectedKind=Table%20Search

[2021-05-24 00:09] mihael-stormrage commented on #662
Have this or kinda alike issue on Export CSV btn:

![image](https://user-images.githubusercontent.com/54357100/119281046-470e4f80-bc5e-11eb-93e2-5168c65b4f90.png)
[code]
 **UPD:** Probably not a bug, fixed by adding `className="btn-success"`

[2021-05-24 05:23] manisha-seclogic commented on #1108
exportAll: false-- I have used  this but still not getting sorted CSV  is there any way?

[2021-05-24 13:37] AndrewOttavianoAbb commented on #1626
Thanks @elmoro666! This is quite helpful. Guess I didn't look through the storybook closely enough. Is there documentation about this on the website? I didn't see anything mentioning the custom matcher (again, I have have very well just missed it).

Edit: After going back through the docs a bit, I see this section for [search formatted data](https://react-bootstrap-table.github.io/react-bootstrap-

[2021-05-24 14:37] nbp-tbb commented on #1626
Hi. Good point, I can't find it either. I generally find it easier to look at the storybook first, and the check doc/api if I have to.

[2021-05-24 15:58] amoledo commented on #1621
Yes, with **paginationTotalRenderer** function.
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationpaginationtotalrenderer-function

[2021-05-24 15:59] amoledo commented on #1621
Yes, with **paginationTotalRenderer**.
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationpaginationtotalrenderer-function

[2021-05-24 18:07] spigelli opened #1632 "Best way to auto convert to next format from old bootstrap-react-table?"
I have 180 table declarations that need to be converted to the new format in bootstrap-react-table-next, I'm about  5 hours into writing a recursive vim macro to do the bulk of the work and figuring there has to be a better way.

[2021-05-24 20:57] AndrewOttavianoAbb opened #1633 "Search Blows Up the UI when after Paginating"
**Describe the bug**
We noticed that when we paginate our react bootstrap table2 table after the first page and search for a value on the first page, the code errors out and we get a blank screen with this error:

    at Function.get (preview.7a078d9cb0b542267fb2.bundle.js:1)
    at preview.7a078d9cb0b542267fb2.bundle.js:1
    at Array.map (<anonymous>)
    at Body.render (preview.7a078d9cb0b54226

[2021-05-25 06:01] varg90 commented on #864
Same here. I wrap cell with react-bootstrap OverlayTrigger to show popovers instead of default html5 titles on column hover. And it breaks the search.
Filters work for me, but I need a single search bar above instead of filter for each column. Is there a way to use global filter for all columns (which search should do) or to make search work with complex formatted columns?
Like `searchValue: (cell

[2021-05-25 08:16] #1629 closed, assigned to AllenFang

[2021-05-25 08:48] boilerdev opened #1634 "Jump to Page 1 if not enough data is there after filter remotely"
Hi all,
I've implemented a fully remote table using the latest and greatest hooks appoach with pagination and a search/filter box generating the filter requests on all rows. Here comes the issue:
Let's say I've 10 pages and I'm going to page 5, then I search for a term which has exactly one result, I will get an empty table and pagination will show page 1 not selected, it looks like I'm still on p

[2021-05-26 10:54] shaunlabang commented on #1458
same issue here. any solution?

[2021-05-26 10:54] shaunlabang commented on #1458
@AllenFang :(

[2021-05-26 15:40] shaunlabang commented on #1266
is it possible to share "setTableColumns(newTableColumns);"?

[2021-05-26 16:22] Soulcito commented on #1602
Hello, maybe you can try with this...

[code]

[2021-05-27 00:02] mihael-stormrage commented on #1600
Hello. CSV does not support text formatting.

[2021-05-27 01:10] kranthik2330 commented on #1600
Can we add an Enhancement?

On Wed, May 26, 2021, 8:02 PM mihael-stormrage ***@***.***>
wrote:

[2021-05-28 14:32] lorenzolrom opened #1636 "Escaping period in dataField value"
**Question**
I'm consuming a restful service that occasionally has attribute names that contain periods (e.g. "Invoices___Ship_Inv__id___Shipment__id.s::Location").  When I define the dataField, I also need to specify that this index is within another object called "fieldData", so my column definition looks like this:

`{
        dataField: 'fieldData.Invoices___Ship_Inv__id___Shipment__id.s::Loca

[2021-05-29 18:05] vijaychouhan-rails commented on #577
import following at the top

[code]

[2021-05-30 04:04] reite commented on #1532
AutoBom is supposed to take care of that, but there seems to have been a regression in FileSaver that caused AutoBom to no longer work. There is a issue and a PR here:

https://github.com/eligrey/FileSaver.js/issues/596

However the PR has been open since 2019 so it seems like FileSaver is not really being maintained and that the pull request is not going to be merged.

This could be fixed in this

[2021-05-30 08:16] mihael-stormrage commented on #1600
Not this component feature (CSV Export), CSV format itself doesn't support it.
It's, basically, plain text separated by commas.

If you need text formatting, you can either use other data format, like MS Excel (*.xlsx), or some specific CSV parser, which representing it in markdown, so you can **bold** (`**bold**`) headers.
Not sure if the latter presents.

[2021-05-30 14:56] saigiridhar21 commented on #1608
Below is one workaround to handle this scernaio,

First, add a ref to the table like below.
[code]
Then, add the below line in the onClick method of "Change table data".
[code]

[2021-05-30 16:23] hevoc123 commented on #1608
Not working for me. ((

[2021-05-30 23:41] zhr1130 opened #1637 "Accessibility: JAWS doesn't announce sorting information"
**Describe the bug**
JAWS doesn't announce sorting information at react-bootstrap-table.. It only announces enter while user select sort icon. Narrator announces sorting information.

**To Reproduce**
Steps to reproduce the behavior:
Go to storybook and search for "sort", any example can repro this issue.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedK

[2021-05-31 04:04] limittox commented on #1502
Happens to me too. Any resolution yet?

[2021-06-02 04:26] madhurinamagiri opened #1639 "High security vulnerability with dependent library - underscore < 1.12.1"
Hi Team,

An older version of the dependent library is being used. Which has the "Arbitrary Code Execution" vulnerability.

upgrading the library will do the fix. Here is the report of the npm audit.

  High            Arbitrary Code Execution

  Package         underscore

  Patched in      >=1.12.1

  Dependency of   react-bootstrap-table-next

  Path            react-bootstrap-table-next > unde

[2021-06-02 05:48] hellogbg commented on #1621
Great help. Thank you!!

[2021-06-02 05:48] #1621 closed, assigned to AllenFang

[2021-06-02 06:51] saigiridhar21 commented on #1608
@hevoc123 Here is the sandbox URL which has the implementation. https://codesandbox.io/s/pagination-b7m0y?file=/src/index.js

[2021-06-02 10:42] boilerdev commented on #1634
I will close this issue, it is possible by using the page property in pagination options and implementing onPageChange to set the page accordingly. In code the page can be set by using the same property.

[2021-06-02 10:42] #1634 closed, assigned to AllenFang

[2021-06-02 13:30] david95s commented on #1308
+1 same issue

[2021-06-02 16:30] Bhaskar-Newase-Ext commented on #1227
Can you please share the onSelect & onRemove functions

[2021-06-03 08:57] brownmessiah commented on #1633
Hey Allen,

I tested this and found that this can be fixed by this one line change:

[code]
This is under src/body.js of react-bootstrap-table-next

[2021-06-03 09:45] opera-robertz commented on #1639
PR https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1612 by dependabot is doing just that, but project is very large and maintainer is probably very busy and I cannot fault him.

Also if you want to read more https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1605

[2021-06-03 14:59] bmmpt commented on #1639
Seems like the maintainer needs to give a couple developers with vested interest in this library the permission to merge pull requests.

[2021-06-03 20:27] risingsunomi commented on #1503
I have just tried it and it seems to give me some security issues but seems to install.

npm WARN using --force Recommended protections disabled.
npm WARN ERESOLVE overriding peer dependency
npm WARN Found: react@17.0.2
npm WARN node_modules/react
npm WARN   peer react@">=0.14.0" from @hypnosphi/create-react-context@0.3.1
npm WARN   node_modules/@hypnosphi/create-react-context
npm WARN     @hypnos

[2021-06-04 00:35] nitshx opened #1640 "Main container starts scrolling when table responsive"
Whenever I exceed a certain number of columns, the mainscreen starts horizontal scrolling too! It isn't an issue with around 4-5 columns but when I am around 15-20 columns, the entire mainscreen container starts horizontal scrolling. Is there any way around this?

[2021-06-05 12:13] lehelikes commented on #956
@my-work-sivabankapalli
Update your code as @daniellidg commented:
[code]

[2021-06-05 15:29] lehelikes commented on #1308
+1

[2021-06-06 15:38] yenicelik commented on #704
@technomanuj any updates on how you solved this?

[2021-06-08 01:36] madhurinamagiri commented on #1639
Pull requests from 2019 are still not merged. Can not expect it to be merged anytime now. Simply moving out of this library.

[2021-06-08 05:24] Avhishek05 commented on #1055
Same issue here

[2021-06-08 14:21] mathiaswillburger opened #1641 "Is this project still maintained?"
@AllenFang I was wondering if this project is still maintained. No release since Jan 2018 :-(

[2021-06-08 21:23] tushar681 commented on #226
Hi there,
I am facing issue because I am using a table without header, it is hidden as below:
 headerAttrs: {
                hidden: true
            }
As it is hidden, so my headerStyle is not working on it.
Is there any way, I can set width of table column without headerStyle and only using style :{} attribute or any other way.

Thanks in advance

[2021-06-08 23:11] Avasam opened #1642 "Extra non-breaking space before paginator text "Showing results from to""
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-bootstrap-table2-paginator@2.1.2` for the project I'm working on.

The default "Showing results from to" text is fine, but it has an extra space which is really annoying. I simply don't see why that non-breaking space exists. If it's for extra padding, then

[2021-06-09 13:55] asehbai commented on #1308
+1

[2021-06-12 07:00] Nhiphat commented on #1228
@AllenFang Can we resolve stevej2608's issue without using PaginationProvider?

[2021-06-12 21:27] Raj-kishore opened #1643 "Row selection is not working with ToolkitProvider"
**About the bug**
I am using search box with react-bootstrap-table2. For that, I wrapped the table with ToolkitProvider. Also I want to use checkbox to select multiple rows.  Now the checkboxes are not visible.

**Screenshots**
![bug](https://user-images.githubusercontent.com/28804988/121789348-df12af80-cbf2-11eb-817c-22b779d0ecf6.png)

**codesandbox**

[code]

[2021-06-13 02:13] ranaraya commented on #444
It would be of help, if someone comment on my question dated May 3rd (above).

[2021-06-14 08:08] navot-eloomina commented on #1605
anything new?

[2021-06-14 08:11] navot-eloomina commented on #1308
+1

[2021-06-14 12:33] ghost opened #1644 "I am unable to edit a dropdown using cellEditFactory"
I am trying to edit a dropdown (select) its work fine for row on which corresponding json has data/ column field but gives error while trying to edit for row which doesnt have that field/data in json. It throws an error of "Uncaught Error: [object Object].resultsEnabled is undefined" editing-cell.

Is there any way to edit a field in specific row which does not have value in json?
eg: [
{ _id: "1"

[2021-06-15 05:05] jaballogian opened #1645 "Get location path from use Location hook inside a column renderer from react-bootstrap-table2"
Hello, I've created the issue on stackoverflow.com

Sorry, I can't write it twice so I will put the link to the question on stackoverflow.com here https://stackoverflow.com/questions/67980274/get-location-path-from-use-location-hook-inside-a-column-renderer-from-react-boo because it's a long question

Thank you for your understanding

[2021-06-15 07:07] jaballogian commented on #1645
I'm closing this issue as someone has already answered it in stackoverflow.com.
Thank you, guys. 😁

[2021-06-15 07:07] #1645 closed, assigned to AllenFang

[2021-06-15 09:29] 73NN0 commented on #1624
I have it too but I don't find any solution now

[2021-06-16 12:55] NehaYalala02 opened #1646 "Formatter can be used for filtering and adding a href to a column at a time"
Formatter can be used for filtering and adding a href to a column at a time?
I am trying to add a anchor tag to rows in a column and also want to filter the data in the column.How can I do it?

 {
  dataField: 'name',
  text: 'Project Name',
  //formatter: (cell, row) => <a href={`/${cell}`}> {cell} </a>,
  formatter: (cell, row) => <a href="/execution"> {cell} </a>,
  //formatter: cell => selecto

[2021-06-16 17:26] avindra commented on #1641
1. This issue is a duplicate of #1571
2. The last release was in May 2020 (~ 1 year ago).

https://github.com/react-bootstrap-table/react-bootstrap-table2/releases/tag/react-bootstrap-table-next%404.0.3

The designation for the "latest release" has not been updated, which is why the release from 2018 is showing up on the front page of the repo. I still agree, 1 year without a release is a long tim

[2021-06-16 17:34] mathiaswillburger commented on #1641
Thx! I didn't see [#1571](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1571).
Although the library is working quite stable for me, I'd like to see some maintenance and updates. Hopefully there will be updates soon or at least information if the development should better be passed on to another developer if @AllenFang is not available anymore.

[2021-06-19 13:15] kevindekemele commented on #1024
@emresimsk  this doesn't work. I've even added it to index.css in a create-react-app.
I would also like to increase the width

[2021-06-22 13:55] iamnamananand996 commented on #702
not worked for me.

[2021-06-23 19:38] Avasam commented on #1639
This library works so well and flexible for my needs. I'd hate to have to recode everything. For now I'm using patch-package for the small updates I'd need (performance-wise). But security issue like this is starting to be an issue.

Well, react-scripts has like 30+ atm anyway, I guess it's not as much of a priority for me until these also get fixed.

[2021-06-23 20:02] Avasam commented on #1503
It works for me (you can take a look at [my package.json](https://github.com/Avasam/speedrun.com_global_scoreboard_webapp/blob/develop/global-scoreboard/package.json). However it does throw a lot of missing peer dependencies warnings:
[code]

[2021-06-23 21:18] jeancochrane commented on #1639
According to https://www.npmjs.com/advisories/1674 it sounds like the arbitrary code execution vulnerability is restricted to the `underscore.template` function., which wasn't doing input sanitization properly before 1.12.1. As far as I can tell, [`src/utils.js` ](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/ef22dc47ebeb985b28980001f806eeb01a687973/packages/react-bootstrap-

[2021-06-23 21:49] jeancochrane commented on #1520
Since webpack <5 is subject to [a ReDoS security vulnerability in its dependency `glob-parent`](https://npmjs.com/advisories/1751), the lack of support for webpack 5 in `react-bootstrap-table2` is preventing us from updating to address this vulnerability:

[code]

[2021-06-24 14:07] Reksraj commented on #603
Hi Allen,

Firstly thank you so much for the fantastic react data table, it works like a magic.

Is there anyway we can do the filtering outside the column. I am looking for something like global filters with dropdowns?

rek

[2021-06-26 12:50] risingsunomi commented on #1503
Yes, seen the same but the package is working after forcing the install. Doesn't seem to break with new react. If, in the future, this project won't be updated to new react, the community might need to fork it and keep it up to date

[2021-06-26 13:12] angelzbg opened #1648 "react-bootstrap-table2 SearchBar and onClear not working properly"
Currently the react-bootstrap-table2's SearchBar is not handling the searchText prop properly and onClear doesn't clear the text.

**To Reproduce**
1. Give the SearchBar prop searchText: searchTable
2. Type anything to filter the table
3. Go to another page so the component with the table can unmount
4. Come back to the page with the table
5. The searchTable string is present in the input but the

[2021-06-26 15:31] angelzbg commented on #1648
A potential solution:
[code]

[2021-06-26 16:03] angelzbg opened #1649 "react-bootstrap-table2 context is not updating formatted columns"
I am using i18n for translations and when changing the languages everything in the page is translating except the formatted columns. I am giving the props like so:
`<ToolkitProvider keyField="uuid" bootstrap4 data={data} columns={getColumns(t)} search>`
The function getColumns is:
[code]

Non formatted columns are being updated with the currect language, but the formatted seems to work only when t

[2021-06-26 16:45] Avasam commented on #1639
@jeancochrane I'm no security expert, but after looking into it myself, my conclusion is the same.
It does expose the entirety of the underscore library, but as long as you don't use it yourself I believe it should be fine.

[2021-06-28 08:14] bggolding commented on #712
On an initial render of a table I am setting up a selectFilter with an empty set of options. Later, an updated set of options arrives from the server triggering a re-render of the table but the options aren't updated. When the whole page is redrawn the updated list is shown in the filter. I can't work out how to get around this.

[2021-06-28 14:58] JeevaRamachandran commented on #536
can you please explain how you have implemented.

[2021-06-29 14:02] ydriss-baqui opened #1650 "Is there a way to use bootstrap 5 in this module ?"
Hello,

I wanted to ask if there's a way to use bootstrap 5 classes to style the table in your react component ?
I looked quite a lot in google if I can find a way to style the table with bootstrap5 but most of the result was concerning bootstrap 4 or other thing. Probably I can't find anything because bootstrap 5 is pretty new.

Ydriss Baqui
Thanks in advance for your answer.

[2021-06-30 13:34] Avasam commented on #1650
I haven't done anything special to use bootstrap 5 as-is. It *mostly* uses the same classes and just works.

[2021-06-30 17:06] abhimishra01 opened #1651 "Installation Error in my CRA app"
Every time I am trying to install "npm install react-bootstrap-table-next or react-bootstrap-table or paginator" I am getting error

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: spacex-dashboard@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not

[2021-06-30 21:16] lilfrootyloops commented on #435
Is it possible to render icons inside column cells without having any other corresponding text that's coming from the data source? I'm just trying to make a column of right-facing arrows at the end of each row.

[2021-06-30 21:18] lilfrootyloops opened #1652 "Can table cells just contain an icon?"
Is it possible to render icons inside column cells without having any other corresponding data that's coming from the source the table's pulling from for the other table values? I'm just trying to make a column of right-facing arrows at the end of each row. FWIW, this additional column is supposed to have a blank header.

[2021-06-30 22:49] lilfrootyloops commented on #1652
Whoops, just realized I was in the wrong repository. Sorry!

[2021-06-30 22:49] #1652 closed, assigned to AllenFang

[2021-07-05 16:56] TruongTuyen7599 opened #1654 "formatter not return row"
The thing is that I use react-bootstrap-table-next. I usually do it normally, but today when my removePlayer function is clicked, the row doesn't show up on console.log.
By the way, how to fix BootrapTable.IsEmpty() when i click/call function removePlayer.
Hope someone can help, it took me a week.
Thank you.

![image](https://user-images.githubusercontent.com/59677281/124501848-7f23b900-ddec-11eb-

[2021-07-07 04:23] abilpraju-aot commented on #553
Thanks to your support

[2021-07-07 09:14] iotheo commented on #1451
This is a great idea. Leveraging data-* attributes in rows as well is going to be beneficial.

[2021-07-07 16:23] Pratiktarade commented on #310
error - ./node_modules/react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

[2021-07-08 06:37] istiak227 commented on #226
if nothing works, try this one. Worked for me. Cheers!

[2021-07-09 08:55] Pranav-Naik commented on #1308
+1

[2021-07-10 05:32] smk2018 commented on #1623
Hello,
I am facing the same issue. Do you konw how to fix it?

[2021-07-16 19:46] acrainier1 opened #1657 "How to access paginationProps outside of <PaginationProvider />?"
How can I access 'paginationProps' outside of the PaginationProvider component?

I specifically need the dataSize, sizePerPage props to call inside a useEffect to for the CustomPaginationList to render properly.

import BootstrapTable from 'react-bootstrap-table-next';
import paginationFactory, { PaginationProvider } from 'react-bootstrap-table2-paginator';

     function MyReactComponent(props) {

[2021-07-19 13:48] tejassrivastava commented on #1640
I am facing the same issue where the number of columns are large, and when I am editing data of a cell, the table scrolls to the initial position i.e first column.

[2021-07-22 11:00] aucuparia commented on #1441
Same issue as https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1097

[2021-07-26 07:44] harsh9215 opened #1658 "react-bootstrap-table2 with remote option"
**Question**
Am using this library with remote option. In that wanted to add action buttons to each row. I have added too but on the action button click event am getting undefined for all the variables that am using in the action methods.

**Screenshots**
`
action methods in schema
{
    dataField: 'actions',
    text: 'Actions',
    formatter: getActionButtons
  }
Below is the method that am appe

[2021-07-28 07:06] 0xadeeb commented on #1308
+1

[2021-07-29 07:51] dee-u1 commented on #1308
It has been more than a year already, any update on this?

[2021-07-30 20:50] olivermanumbas commented on #1633
Also still experiencing this. Are there any fixes for this problem?

[2021-07-31 09:34] FADIcheikh opened #1659 "TypeError: dataOperator.typeConvert is not a function"
When i'm trying to edit cells i'm getting the following error 'TypeError: dataOperator.typeConvert is not a function'
I went throught a basic installation (npm install react-bootstrap-table2-editor --save) and it downloaded 1.4.0 version
I tried to debug and i found out that in context.js dataOperator does not have typeConvert method and if i comment this line

`line 81: var newValueWithType = dat

[2021-08-03 18:12] guizombas opened #1660 "Reading from no data error"
Critical Error: When you are in the last page of the table with only one data and delete it using an API Request, the body wont find any data, but will try to read it anyways, throwing a error that isnt treated. When it happens, everything in the screen disapper. This error occurs in some other isolated cases too.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the toolkit provider and

[2021-08-03 18:17] guizombas commented on #1660
I simplely put a try catch where the error treemap pointed and it worked, will make a pull request soon

[2021-08-04 12:13] guizombas commented on #1660
Pull request made #1662

[2021-08-04 13:07] batcer commented on #1187
I have exactly the same problem, and my test runs smoothly with empty `<div/>`, but throws this exception when TestRenderer is given a component containing react-bootstrap-table-next with a filter.

It seems that @AllenFang hadn't understood the problem: it's not that the test isn't passing, it's that it raises an exception while running, so it can't neither pass nor fail, it just doesn't work wit

[2021-08-04 21:30] ranaraya opened #1663 "I'm using Bootstraptable4. I do see sort icons (up and down) arrows against column that are sortable. But, I do want to show sort icon only for the column that is currently sorted. How do i do it?"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2021-08-08 02:46] thenoctus opened #1664 "Select Dropdown width"
I've been unable to figure out how to modify the select's width in the table.  I have tried many things.

![image](https://user-images.githubusercontent.com/29714922/128619035-0a12d776-0db8-4803-9fd6-b0b0f71cd1f8.png)

![image](https://user-images.githubusercontent.com/29714922/128619044-ed2a1a1d-0166-46bb-ba36-a8fbdede7ce6.png)

![image](https://user-images.githubusercontent.com/29714922/12861905

[2021-08-09 08:23] jaballogian opened #1665 "Warning: Each child in a list should have a unique "key" prop from PaginatonList"
**Question**
There is a warning ```Warning: Each child in a list should have a unique "key" prop``` for using custom ```PaginationListStandalone```.

I know that it's only a warning but my team leader asks me to remove it. I don't find any ```map()``` function in my code. So I wonder, what's wrong with my code so the error appears?

**Screenshots**

Here is the screenshot of browser console:
![ima

[2021-08-09 11:05] Gutalala commented on #1551
I still don't get this. Combining the editorRenderer and Formatter will force the user to click twice on a checkbox...

[2021-08-09 11:05] Gutalala commented on #1551
I still don't get this. Combining the editorRenderer and Formatter will force the user to click twice on a checkbox...

[2021-08-10 17:47] fjperini commented on #1600
I have applied some changes in react-bootstrap-table2-toolkit to export in xlsx, it works perfectly. I hope it will be of help to those who need to use the format #1666

[2021-08-10 17:48] fjperini commented on #1249
@g-akshay @malsioufi I have applied some changes in react-bootstrap-table2-toolkit to export in xlsx, it works perfectly. I hope it will be of help to those who need to use the format #1666

[2021-08-11 08:23] kevinvugts commented on #1549
bump, this is happening to me as well!

@AllenFang did you managed to look into this? It has been 6 months ago that this ticket was opened.

[2021-08-11 11:39] smchauhan opened #1669 "Cannot read property 'id' of undefined + The above error occurred in the <SelectionProvider> component:"
Hi Allen,

**The bug**
I want all these functionalities in single table searching in all fields + paging, it works fine for the first time, but after navigating to another page and searching for something generates error. for your reference have added code snippet and error,

**Code Snippet**

[code]

**To Reproduce**
Steps that generate errors:
1. Enter value in Search bar  ( It works fine )
2. N

[2021-08-12 16:34] RomikimoR opened #1670 "react-bootstrap-table2 - Pass row data to a child component created into a format function"
I have a bootstrap table with column defined like this:

      const columns = [
        ...
        {
          dataField: "d",
          text: "Actions",
          formatter: actionFormatter,
          headerAlign: "center",
        },
      ];

The formatter function looks like this:

      const actionFormatter = (cell, row) => {
        return (
          <div className="action-cell text-cent

[2021-08-17 07:44] BakanovKirill commented on #1442
Same here, it is just always hitting `handleTableChange`. If only we could call the default behavior of sort/filter there when this remote option is off for these actions. E.g. make a remote pagination, but do local sort and filtering on the current state data.

[2021-08-18 15:27] ilkou opened #1671 "react-bootstrap-table2-paginator without BootstrapTable"
**Question**
I'm wondering if I can use the PaginationProvider without a BootstrapTable component as a child, because I'm rendering a list instead of a table, and I want to still use the same customized pagination component for lists as well.

**Example**
basically I want to do something like this:

[code]
instead of this
[code]

[2021-08-18 16:01] #1671 closed, assigned to AllenFang

[2021-08-18 22:30] eshk12 opened #1672 "sizePerPage is not working properly."
Hello,
I'm using your module at react and I have occurs with a problem that I have specify the amount of results I want to be shown at each page and its show all of the result is the first page.
The list is size of 10, and I want to show only 3 in each page which mean there is should be 4 pages and it's is but the results shows all the objects:

![image](https://user-images.githubusercontent.com/2

[2021-08-20 08:01] akaushik38 commented on #1308
+1 Same here

[2021-08-27 18:58] silpheel commented on #1651
Duplicate of #1503

[2021-08-28 14:47] gsoulat opened #1673 "How to add on each row a button to go on page to page (with id) and button to delete"
Hi I'am beginner in react, I would like to put 2 buttons, 1 for edit and other for delete
thanks for help

[2021-08-29 02:47] Abdul-Qoyyum commented on #1308
Same here, any Update?

[2021-09-01 03:20] Willywes commented on #291
this works for me!

[code]

[2021-09-01 23:41] bfricka commented on #1669
Same issue here. I've tried specifically defining the `selected` keys on `selectRow`, but it doesn't fix it. Basically this issue occurs when navigating to a new page and then changing the `data`. Quite a substantial oversight, as it doesn't allow the case of selecting and filtering to work with pagination.

I'm now going to try to find a workaround, and I'd consider making a PR fix, but this repo

[2021-09-02 03:32] smchauhan commented on #1669
@bfricka Thanks a lot, I am also trying to fix it, I will post here if I can fix it, between if you find any solution,  plz post the solution here. Thanks again :)

[2021-09-02 11:21] jrozbicki opened #1674 "[Docs] Add rowKey in row-selection.md docs"
**Describe the bug**

[Documentation](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/docs/row-selection.md#selectrowselectionrenderer---function) is missing `rowKey` prop that was added  with [this merge request](https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/1358)

[2021-09-02 18:26] VladimirBessonov commented on #639
having the same issue. it is something related to rendering.
I get an error in place there table state is updated for some reason, but table even not rendered

if I remove cellEdit, table is rendered fine.

[2021-09-02 19:13] VladimirBessonov opened #1676 "<BootstrapTable/> renders when trying to add data into into the table. How to manage it?"
I am new to React and cannot figure out how manager unwanted rerendering.
First I dont render table if state.table [] is empty, after I parse input data I want to insert data into table.
It worlks file till I add cellEdit into <BootstrapTable/>.

any code exable how to work with it?
remote for cellEdit did not help.
`
import React, {useMemo, useContext, useState, useEffect} from 'react';
import {T

[2021-09-02 21:05] SharePoint24x7 opened #1677 "Can we export data table to Excel instead of CSV?"
Hello,

I have a requirement to export data into excel instead of CSV. Is there any possible way we can achieve this feature using react bootstrap table2.

[2021-09-02 21:46] VladimirBessonov commented on #374
Rrrrr where are working code samples for functional components?
was issue resolved? or what?

[2021-09-03 00:05] VladimirBessonov commented on #639
before I add cellEdit - everything works fine

`import React, {useMemo, useContext, useState, useEffect} from 'react';
import {Table, Table1, CasesTableHeaders} from "../Table";
import BootstrapTable from 'react-bootstrap-table-next';
import cellEditFactory from 'react-bootstrap-table2-editor';

import {AppContext} from '../../App'
import {CLEAR_TABLE, FILL_TABLE, ADD_TABLE, UPDATE_TABLE} from '..

[2021-09-03 00:53] VladimirBessonov opened #1678 "Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports. Check the render method of `Context.Consumer`."
When I add cellEdit , I cannot render table anymore, I get the following error.

`
Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of `Context.Consumer`

[2021-09-07 15:40] swchen1217 commented on #1308
+1

[2021-09-08 13:38] samuel-anderson commented on #1452
Any update on this issue? I’m getting a similar error:

react-dom.development.js?61bb:67 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refacto

[2021-09-13 01:29] zacharymostowsky commented on #1308
+1

[2021-09-13 15:31] dennysemko commented on #617
Any news on this? This seems like a really important function and I'm surprised it's not included yet.

[2021-09-15 12:56] dextel2 opened #1679 "Select Row remains selected/checked even after external action/function applied"
I have a `selectRow` which is as following.

[code]

Even after the function `bulkUpdate` is performed the row remains selected in the design but throws (custom) error of row is not selected.

[2021-09-16 02:45] jnemo44 commented on #291
I am using the wrapper classes but my table is not responsive...any ideas?
<BootStrapTable
        keyField="name"
        data={ data }
        wrapperClasses="table-responsive"
        rowClasses="text-nowrap"
.....

[2021-09-16 16:33] bmmpt opened #1680 "Is anyone considering forking this repo and maintaining it?"
This is undoubtedly the best table generator component for React and it's a shame that the owner of this repo seems to have just abandoned it... It's been well over 1 year since the last time he merged a PR or commented on any issue.

I just moved to a different company and they don't use this component, so I no longer need it, but if it became alive again, I would definitely pitch it to the front

[2021-09-20 14:45] Vitagliano commented on #1349
Can you provide the solution? @sakshivicesoftware

[2021-09-20 15:16] dennysemko commented on #1194
Any update on this? Seems like a fairly important feature for any table-rendering library?

[2021-09-20 19:56] Vitagliano commented on #1673
@GSoulat did you manage to solve this?

[2021-09-21 08:08] #1568 closed, assigned to AllenFang

[2021-09-22 14:38] Vitagliano commented on #1673
My solution to this issue:

I created a const called **actions** and return the button div
`
const actions = (cell, row) => {
      return (
     <>
        <div className="btn btn-danger" id={row.id} >Delete</div>
        <div className="btn btn-primary" id={row.id} >Edit</div>
     </>
      )
    };
`

And in columns I put the actions inside it
`
const columns = [{
      dataField: 'name',

[2021-09-23 07:40] geekyogurt opened #1682 "Filter Styling"
"sr-only" tag  in numberFilter is not working in chrome browser. Please add "aria-label" or "visually-hidden" tags instead

<img width="1432" alt="Screenshot 2021-09-23 at 12 38 48 AM" src="https://user-images.githubusercontent.com/44562911/134470680-a4721dca-0438-49ba-a2c4-8ffe7eebcd8f.png">

[2021-09-23 13:12] sohamnandi77 commented on #1633
I'm also still having this problem. Is there a solution to this problem?

[2021-09-23 16:55] AndrewOttavianoAbb commented on #1633
@AllenFang Are you still the maintainer for this project? It doesn't seem PRs have been merged or issues addressed (as there is quite the backlog).

[2021-09-23 21:32] celciusjj commented on #1460
the same case, any viability solution

[2021-09-26 18:22] mohamedsaady99 opened #1683 "TypeError: Cannot read properties of undefined (reading 'filter')"
I have this error when i use remote filter function
×

TypeError: Cannot read properties of undefined (reading 'filter')
(anonymous function)
D:/Web/ID Academy/src/Dashboard/components/AllCourses/AllCourses.js:325
  322 |            let result = this.state.courses;
  323 |
  324 |            // Handle column filters

      | ^  326 |                let valid = true;
  327 |                for (con

[2021-09-27 14:03] DChan0823 opened #1684 "WCAG Accessibility Issues Flagged"
Sortable headers are not structured appropriately.
1. Role for the trigger to sort the column is missing
2. Accessible text provided using aria-label is not meaningful. Screen reader users will not be able to understand the meaning of asc/desc
3. aria-sort is not provided on <th> element.

Please update table to satisfy these WCAG Accessibility Issues

[2021-09-29 03:11] celciusjj opened #1685 "hidden header that appear with the filters"
Hi, i need remove this header that appear with the filters. But i have not found a solution for this.
The header that put the filter is this.

![image](https://user-images.githubusercontent.com/37490999/135196675-b0041458-af8f-4a97-a5b0-341847804530.png)

thank you.

[2021-09-30 08:53] njayanthi opened #1686 "exportCSV option in react bootstrap"
I have data in react table. My requirement is to use both onlyExportFiltered and onlyExportSelection.. Now in exportCSV {} if I put true for both its not working correctly. I am trying to filter out the data first and then on the filtered result set, I am applying select option. Can anyone help how to fix this issue?

Thanks

[2021-10-03 09:09] warinza commented on #291
New solution : not edit react-bootstrap-table2.css

in new css
[code]

Div Wrap  BootStrapTable

[code]

[2021-10-04 19:09] arkzky commented on #1670
Hi @RomikimoR

I dont think this is a React-Bootstrap-Table-2 (RBT2) issue, this seems more like a design problem while using React. I recommend you to take a look to a powerful React tool and concept called `context`, it's a wrapper that allows you to share states and functions across components, especially in cases where child components need to update parent components.

Take a look at this exa

[2021-10-04 19:35] GodAlmighty990 commented on #1672
did you solve this?

[2021-10-04 19:36] eshk12 commented on #1672
@GodAlmighty990, No I haven't fixed it -_-

[2021-10-04 19:40] GodAlmighty990 commented on #1680
Agreed, I may fork this project myself and fix some of the issues

[2021-10-06 14:30] vitvitskyi commented on #214
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#keyfield-required-string

[2021-10-07 09:31] motherchucker commented on #763
Hi,
I'm having problem with horizontal scroll , I tried to follow @hielfx instructions, but when I add

`{ table-layout : auto ;}`

Scrollbar is missing, and the rest of the table just disappears, and without that I can see the scrollbar but my table gets squished anyway, even tried to put max-width, doesn't work.

Any idea of what the solution might be?

[2021-10-07 09:46] motherchucker commented on #291
@warizna
I'm having a problem,

When I use table-layout scrollbar doesn't appear, the table just goes off screen. And when I don't use it, scrollbar appears but the table, and the whole div gets squished .

Do you have any idea of the solution?

[2021-10-08 21:37] mikesosa commented on #1308
+1

[2021-10-12 02:20] sridhar-fx opened #1687 "Subrows inside a row with same alignment as parent"
**Question**
I have table data that has expenses, with certain columns. Each row can have sub rows , which will have the same columns.
I want to show these sub rows,  using the same column alignment as the parent.

I saw the expanded functionality, but it currently doesn't satisfy my requirement.

**codesandbox**
https://codesandbox.io/s/muddy-river-jifig?file=/src/App.js

[2021-10-13 12:50] dextel2 commented on #1224
hello @thebradisrad, can you please share your solution on codesandbox?

[2021-10-13 15:01] motherchucker commented on #291
Ok, I have found an issue that was causing table to not be responsive.

The problem was in some of the parent divs having a property:
`display: flex`

I fixed it by adding a class:
`<div className: "container-fluid">`

Maybe that helps someone.

Also, this solution mentioned above by @shelooks16 worked for me.

[2021-10-15 14:24] Smytt commented on #1308
I might as well -
[+1](https://ahseeit.com//king-include/uploads/2021/01/thumb_126063081_130453362202930_2354736856227554389_n-2469738034.jpg)

[2021-10-18 12:45] Jdave860 opened #1688 "Use Double Click to edit with filters"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.
I want to use Double click Cell Editor which is not working correctly with filter options.
If I remove filters option from my table than the editor is working correctly but with filter option the edited cell results into blank.

[2021-10-21 03:43] lancepng0397 commented on #1297
@Ymbere may I know how do you get the key for your function? The payload should be whatever I put as my BootstrapTable's data and the value to check should be whatever value I put it as, but how do I get the key?

[2021-10-21 04:12] Ymbere commented on #1297
@lancepng0397 The key is the key for the value that you want to check on your payload, lets say that your payload is an array of objects like this.
[code]
If you want to validate by name your key should be `name`.
You can check this example

[![Edit unruffled-sara-0f2su-1206](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/unruffled-sara-0f2su-1206-0f2su?fontsize=

[2021-10-21 06:14] lancepng0397 commented on #1297
@Ymbere Now I finally understand it, thanks a lot! You've saved me a lot of time with your help.

[2021-10-22 23:25] josedefreitas91 opened #1689 "Add style property in BootstrapTable?"
**Question**

I added it in the component props and it doesn't work.

I want to add styles that will update dynamically.

[2021-10-25 10:48] Yusuf023 commented on #59
Hi, I am also looking for this implementation. @AshwinTayson, did you find a way to achieve that?

[2021-10-25 10:52] AshwinTayson commented on #59
Yes we went ahead with a custom date range filter using filterRenderer

[2021-10-26 13:01] Aditya20kul opened #1690 "Clear Button besides Column filter Search Bar"
Hi All, I wanted to display the filter (search box) above each column with a "cross" icon or Button, which when clicked would clear that applied filter. How do I implement such a custom search bar that would have a button/icon along side with it ?
Take a look at the screenshot attached.

![image](https://user-images.githubusercontent.com/37963587/138884020-9e5fec00-1504-48ac-9c98-76a9e746709d.png)

[2021-10-26 18:23] thuythao1912 opened #1691 "Header border is bold"
**Question**
I'm want to make the bottom border of header thinner (image 2). The current status is image 1. Could you help me?

**(image 1)**
![image](https://user-images.githubusercontent.com/39434133/138938254-b1225edc-ac93-4c8e-8900-24f140fab220.png)

**image 2**
![image](https://user-images.githubusercontent.com/39434133/138937759-3466e943-e2bd-4d19-8837-c84b6edb8cdd.png)

**my code**
![image]

[2021-10-27 15:43] huy1912 opened #1692 "Clear search"
I follow the [clear search example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Clear%20All%20Filters&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) to clear the filters for the remote filter.

Let's say there are 3 search fields for 3 columns (e.g.: Name, Age, Salary). With t

[2021-10-28 12:34] haseebsaif commented on #280
Any update on this?

[2021-10-30 02:41] dev-asit96 commented on #763
Thanks it worked for me

[2021-11-05 14:01] fredericdasilva commented on #1194
Hello, we need the same feature. Do you know when it will be implemented ? Thanks

[2021-11-05 18:50] josedefreitas91 opened #1693 "Export csv button to parent component"
**Question**
Is there a way to add the csv export button to the parent component?

Currently I have the table and the button in a child component, but want to move the button to the parent component and I can't get how to pass the props, any suggestions?

[code]

[2021-11-07 15:09] jaintarun268 commented on #1677
@SharePoint24x7 I think there is no one to handle this repo.
I also facing this issue

[2021-11-08 16:54] dev-asit96 commented on #587
Thank you it worked for me. @hdehal

[2021-11-09 13:13] MauricioFesta opened #1694 "keyBoardNav"
**Question**
Do you have  implemented keyBoardNav in react-bootstrap-table-2 ?

[2021-11-13 07:49] jonrandahl commented on #1687
@sridhar-fx your sandbox is rendering a new TR in the expand row, remember you're rendering inside a TD when expanded; so wrap your render row TR with a <table></table>  and copy the classes/styles from the bootstrap table.

[2021-11-15 10:45] techniboy commented on #1624
Facing the same issue, is there a fix?

[2021-11-18 08:04] appasaheb4 commented on #377
pagination time Cannot read properties of undefined (reading 'rowId') error showing

[2021-11-18 08:06] appasaheb4 commented on #377
<img width="756" alt="Screenshot 2021-11-18 at 1 36 26 PM" src="https://user-images.githubusercontent.com/24726539/142376292-fa247a80-db92-4c30-a06c-97e1651ece23.png">
fixed. use like this

[2021-11-18 10:47] tomimarkus991 commented on #912
hi, any updates?

[2021-11-19 03:46] owaispkr commented on #1308
+1

[2021-11-19 17:22] tomimarkus991 commented on #1308
+1

[2021-11-22 09:54] jslmariano commented on #1308
+1

[2021-11-22 12:23] jslmariano commented on #1550
+1

[2021-11-22 12:23] jslmariano commented on #1530
+1

[2021-11-22 12:24] jslmariano commented on #1452
+1

[2021-11-23 18:20] vincepunkrock commented on #411
@AllenFang It seems the problem with setState still persists in version 4.0.3. I had to use the workaround mentioned in [#297](https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/297) to make it work. Possible regression since [react-bootstrap-table-next@1.4.0](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html) ?

[2021-11-24 02:04] peterkronenberg commented on #544
I'm just getting started with using this package.  Adding and deleting rows is definitely something I need.  Has this been officially implemented?

[2021-11-27 20:08] peterkronenberg opened #1695 "How to identify changed rows"
I have a table which allows editing. How do I identify the changed rows so that when the user hits submit I know which errors to send to the server?

[2021-11-28 21:55] pyronlaboratory commented on #1453
@kylegoetz do you mind sharing a small snippet of your solution?

[2021-11-29 00:42] mlee0210 opened #1696 "Add Row Number that is independent from the data"
Hi, I am trying to add a row number column to my table. I want the column to display 1,2,3, .... n, no matter how I sort the data inside the table.

Currently, I am adding an 'indexCnt' column to the data, which causes the row column number to get mixed up whenever I sort the data.
`for(let i = 0; i < players.length; i++) {
      players[i].indexCnt = i + 1;
    }`

The first picture is when the d

[2021-11-30 13:10] emendophir commented on #1308
+1

[2021-12-01 20:49] maazakn commented on #1663
create a function like,

` const sortOption = {
    sortCaret: (order, column) => {
      const sortIcon = !order
        ? icon1
        : order === "asc"
        ? icon1
        : order === "desc"
        ? icon2
        : null;
      if (sortIcon !== null) {
        return (
          <span >
            <img src={sortIcon} alt="sortIcon" />
          </span>
        );
      }
      return nul

[2021-12-02 15:18] jchirschy commented on #1340
I confirm in `react-bootstrap-table-next@4.0.3`, `onSort` and `sortFunc` aren't working.
For example, in columns definition, something like that does not logged anything to console :
[code]
It used to work in `react-bootstrap-table-next@3.3.3.`.

Did I miss something ?

Thanks for you help.

[2021-12-02 15:21] jchirschy opened #1697 "sortFunc is not called"
I confirm in `react-bootstrap-table-next@4.0.3`, `onSort` and `sortFunc` aren't working.
For example, in columns definition, something like that does not logged anything to console :
[code]
It used to work in `react-bootstrap-table-next@3.3.3.`
Issue related : #1340

Did I miss something ?

Thanks for you help.

[2021-12-02 20:09] varun700 commented on #193
any examples?

[2021-12-06 08:57] appasaheb4 commented on #1286
same issue facing you got solution?

[2021-12-06 13:04] subhampanja opened #1698 "Dynamic Table"
**Question**
I want to create a dynamic table.
For example : 1-10 , 11-20 , 21-30 .....

What I have,
I have a good API for that like I can call pageNumber , PageSize and then get the data.
I want to implement dynamic table data with react-bootstrap-table2.

I have done nearly all possible way. Its showing me an error undefined "id",

Here is my options
    const options = {
        page: pageN, /

[2021-12-07 19:15] rehangit commented on #1556
I found the solution: `classes='table-dark'`

[2021-12-09 05:48] LoveWaguan commented on #1561
yeah,I'm very please share with you; when the table be inited, revoke this function like this,you can adjust code for your  project。

/**
 *  resize table columns
 */
function colResizable(){
  var tTD;
  var tables = $("#list table");
  var table0 = tables[0];
  var table1 = tables[1];
  for (var i =0; i< table0.rows[0].cells.length;i++){
      table0.rows[0].cells[i].onmousedown  = function (){

[2021-12-12 21:24] myapos commented on #1669
Hello, I had a similar issue and did a short investigation on it. I found the following

In the ```node_modules/react-bootstrap-table-next/lib/src/utils.js``` there is get function that accepts two parameters (target, field) as it is shown below

[code]

The problem is that in some cases the **target** parameter is **undefined** and that throws that error.

So I wrapped the entire body function in

[2021-12-13 03:27] sandipthemes commented on #1669
Thanks @myapos will check with that solution, between for the current project I have implemented https://react-table.tanstack.com/ package.

[2021-12-14 15:23] guizombas commented on #1669
Had the same error related in the issue #1660. My solution was the same as @myapos, also made the pull request (#1662), but had no response and it hasn't been merged.

[2021-12-14 15:31] myapos commented on #1669
I made a PR too. I hope the developers will merge at least one of them. It is a simple fix.

[2021-12-15 06:44] tickoosunny opened #1700 "Is there any option to pin columns, so that only rows will have scrolling ?"
Is there any option to pin columns, so that only rows will have scrolling ?
As i have a use case in my project and I want to use this library , but I was not able to find anything around the colum pinning.
I want to pin colums , so that they are always visible and rows can scroll , is there anything availabe as of now ?

Thansk & regards,
Susheel Tickoo

[2021-12-16 08:08] Akshaypal8 commented on #1605
I am also facing the same issue, is any update regarding the same?

[2021-12-16 08:12] KirillRas commented on #1605
@Akshaypal8 Unfortunately no, we have given up on this library in favor of `'react-table'`

[2021-12-16 16:57] dela1000 commented on #1308
+1

[2021-12-22 10:41] adas1a commented on #787
Having the same issue, is it going to be fixed? Does anyone managed to fix solution for that, or should I implement my own solution for that issue?

[2021-12-22 10:42] adas1a commented on #787
Having the same issue, is it going to be fixed? Does anyone managed to find solution for that, or should I implement my own solution for that issue?

[2021-12-22 20:24] sumanthExp commented on #1227
Here is an example if it helps:

[code]

[2021-12-24 10:11] GauthierSgds opened #1702 "Select filter options from api call"
**Question**
Hi, I've a table with select filter. Table data and filter options are retrieved by an API. But, filter is rendered before options, so filter option is empty. Can i handle/bypass this issue?

Thanks in advance,
Regards

[2021-12-24 12:47] mohsinsheikhani commented on #1310
@AllenFang Any update on this feature so far?

[2021-12-27 10:42] dinakotliar commented on #1194
I need the same feature too.

[2021-12-27 15:12] DinaKotliar commented on #1218
I have the same problem as @uc2pac. The example doesn't work at all. The values do not change according to handleTableChange method.

I want to use remote method for change values, but I can not exit edit mode after changing.

[2021-12-28 04:09] dinakotliar commented on #1218
I have the same problem as @uc2pac.
The point is that I add a cancel button if the user does not want to save changes. In this case, I do not want to update the table, but I just want to remove the editable field. Now I have to find the old value and still update it to remove edit field.
How can I just remove editing without saving?

[2021-12-28 08:03] GodAlmighty990 commented on #1700
I'd like this feature implemented aswell. Please update if you find a solution

[2021-12-28 23:34] ranaraya commented on #1663
Thanks maazakn. Will try. I assume that it works for BSTable4 as well. Based on the code, my understanding is that the sort icon (asc/desc/None) will appear next to one of the columns only.

[2021-12-29 23:00] ranaraya opened #1703 "Bootstrap table filter by Date"
I tried to apply a date filter for condition "> 21-jul-2021", but i still see the result section with date value = "21-jul-2021". Not sure, on what should i do from my end to prevent rows with 21-jul-2021.

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Date%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=st

[2021-12-29 23:02] ranaraya commented on #1703
Additionally, "Date input field - how to setup width for date field, so that the selection is visible". In this case, i see only the first 3 characters like "07/2 followed by calendar icon/image".

[2021-12-30 18:40] maazakn commented on #1663
you can configure sort in the table configuration, just define `sort: true or false ` in column options

[2021-12-31 03:19] ranaraya commented on #1663
Thanks for the quick response. Based on your suggestion, the UI will show sort icons (up/down arrow) for all columns with Sort: True. But, i want to show the sort image only for the column that is currently sorted on.

For example, if i have two columns, Col1 and Col2, when i perform sort on Col1, i expect to see up/down arrow to show next to column heading for Col1. For Col2 there should be no so

[2021-12-31 11:22] Oggy1986 commented on #1308
+1

[2022-01-01 13:00] 5hk commented on #1308
+1 same issue

[2022-01-01 14:57] nhutthanh340 commented on #1702
I have the same broblem
You can use options as a function which return an array.
`filter: selectFilter({
    options: () => selectOptionsArr
})`
but I received error: Failed prop type: Invalid prop `options` supplied to `SelectFilter`. Can anyone help me? thanks

[2022-01-03 21:36] Davnc988 opened #1704 "TypeError: Cannot read properties of undefined (reading 'afterFilter')"
Hi !

I had a little problem when i tried to use a selectFilter with react bootstrap table 2.  I've just copied the following code from the documentation but when i wanted to select an option that gave me this error

Code:

`const products = [
        {
            id: '1',
            name: 'gxg',
            price: 'good'
        },
        {
            id: '2',
            name: 'rrrr',

[2022-01-04 15:24] mccuervod commented on #1308
+1

[2022-01-07 18:51] Ymbere commented on #1349
@Vitagliano you can use a formatter to achieve that result, I have an example here that uses it.

[![Edit Button Counter](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/button-counter-5y6w6?fontsize=14&hidenavigation=1&theme=dark)

[2022-01-08 10:52] jaridgeway opened #1705 "Custom Filter Issue: Uncaught TypeError: Cannot read properties of undefined (reading 'afterFilter')"
**Question**
I am getting an error when trying to use a custom data filter. The filter looks like it is working based on the console.logs, but the table is not actually filtering anything.

Error:
context.js:140 Uncaught TypeError: Cannot read properties of undefined (reading 'afterFilter')
    at FilterProvider.doFilter (context.js:140)
    at context.js:103
    at Object.onFilter (context.js:112

[2022-01-09 00:41] Avasam commented on #1520
With `patch-package`, this should do the same as the above-mentionned PR:
(oh and remember to bust webpack's cache!)
`patches/react-bootstrap-table2-toolkit+2.1.3.patch`
[code]

[2022-01-09 09:36] jaridgeway commented on #1705
I swapped out the data that I am using in my actual code for the same data in the codesandbox. I ended up with the same error, so something else must be going wrong

[2022-01-10 22:24] Ymbere commented on #1697
Hi @jchirschy, the sort functions seem to be working properly, I have created an example so you can test it.
Check the console and you can notice the functions are been called.

Here is the version that I'm using.

`react-bootstrap-table-next`: 4.0.3
`react-bootstrap-table2-filter`: 1.3.3
`react`: 17.0.2
`react-dom`: 17.0.2
`react-scripts`: 4.0.0

Hope it helps.

[![Edit cocky-hooks-pcoqe](https:/

[2022-01-11 02:24] Ymbere commented on #1691
Hi, @thuythao1912 I think that you are having some issues with your CSS, you can look at the example below, I think that's the way you want the header of your table.

[![Edit cocky-hooks-pcoqe](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/cocky-hooks-pcoqe?fontsize=14&hidenavigation=1&theme=dark)

[2022-01-11 03:00] Ymbere commented on #1547
Hey @Unforgiven-wanda, thank you very much for providing the example!
It makes it a lot easier to analyze the problem, your code is pretty much right, there is just this one thing that you forgot.

The `nonSelectable` rows property takes an array of the key values that you want to be disabled.

Here is the object that you provided has data for the table.

[code]
Since you specified in the table th

[2022-01-11 07:37] HZSamir commented on #1547
Thank you for your time and the thorough explanation.

[2022-01-11 07:37] #1547 closed, assigned to AllenFang

[2022-01-11 15:58] mathiaswillburger commented on #1520
@Avasam thx, confirmed! Just applied it and works like a charm.

[2022-01-11 21:13] isherwood commented on #1650
It's not exactly clear what styling you've found lacking, but here's some CSS which adds the sort carets. They're missing because Bootstrap 5 uses  different dropdown/dropup classes than Bootstrap 4. I'm not using the `bootstrap4` attribute on my tables. That results in different markup and this won't work.

Otherwise, things work generally the same.

[code]

[2022-01-11 21:31] isherwood commented on #1550
Duplicates #1308.

[2022-01-11 21:32] isherwood commented on #1530
Duplicates #1308.

[2022-01-12 01:17] wagnerfillio opened #1706 "Error using bootstrap 5"
I always get error when using with bootstrap 5

Uncaught TypeError: _events2.default is not a constructor
at BootstrapTableContainer.RemoteResolver (remote-resolver.js:132)
at new BootstrapTableContainer (index.js:72)
at constructClassInstance (react-dom.development.js:12716)
at updateClassComponent (react-dom.development.js:17425)
at beginWork (react-dom.development.js:19073)
at HTMLUnknownElemen

[2022-01-12 01:20] wagnerfillio commented on #1650
Hello, Can you make an example of use with react-bootstrap, which uses bootstrap 5 ?

Received this error #1706

[2022-01-13 09:54] malav4all opened #1707 "export csv from the table data including the expanded"
Need help to export csv from the table data including the expanded row data.
How to achieve this?

[2022-01-13 17:42] BrunoMPedraza commented on #1550
+1

[2022-01-15 20:27] Fashad-Ahmed commented on #544
@peterkronenberg you can refer @mathiasklenk  for deleting rows.

[2022-01-17 10:02] mators92 opened #1708 "Default expanded"
It wants all row to be expanded by default.  It also wants the user not to be able to collapse them.

[2022-01-17 10:54] Fashad-Ahmed commented on #1308
same issue facing

[2022-01-17 15:50] duhmojo opened #1709 "How to filter out/ignore search text with accents"
Hi. I'm trying to customize the toolkit search to ignore accent characters. e.g. I want to consider é in mémo as both é and e.

I can't tell from the Search props if I can access or modify the search function. I could try to support this by having a hidden column with an alternative field with the accents removed.

[code]

Any advice is greatly appreciated.

[2022-01-17 18:51] valentinaOppen opened #1710 "Cant reset selected rows after delete"
I cant find a way to reset the internal selected row of the table after delete the selected items.
When I insert the same items it remains selected.

[2022-01-17 21:21] duhmojo commented on #1709
Got it. In the column definition just define the filterValue to include the original plus accent characters removed.

[code]

[2022-01-17 21:21] #1709 closed, assigned to AllenFang

[2022-01-18 14:52] adil143420github opened #1711 "How to Export CSV along with nested Data"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2022-01-18 16:49] isherwood commented on #1708
So don't use expandable rows. What's the question?

[2022-01-18 16:53] isherwood commented on #1703
Did you use a raw date object per [the docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-filter.html#date-filter)?  You can't just filter on formatted strings.

[2022-01-18 16:54] mators92 commented on #1708
I want to make a footer under all the rows

[2022-01-19 11:10] ranaraya commented on #1703
When you say raw date object - are you referring to data type of the date column in question. Yes, the API returns date value as String and i'm not doing any conversion @UI. I do specify column type as "date".

[2022-01-23 19:23] danghyan commented on #919
Hi. Any updates?

[2022-01-24 06:58] ardynugraha commented on #1669
@smchauhan @sandipthemes

[2022-01-24 08:09] riandev commented on #1194
Hello Is this feature add? i need this

[2022-01-24 08:15] riandev opened #1712 "Edit Entire Row By Clicking Edit Button"
**Is this feature requested before?**
Please search issues to make sure to create feature which is never report yet.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2022-01-25 07:39] jaintarun268 opened #1713 "How to Addition two datafield"
Hello, I am new to React and cannot figure out how to addition multiple datafield value in this table.

I am trying to implement a datafield salary + additional_amount - deduction amount to pass in total amount column.
const columns = [
        {
            dataField: "s_no", text: "S.No", headerClasses: "data-sno", editable: false,
            formatter: (index, value, rowCount) => {

[2022-01-25 07:51] poojasingh-code opened #1714 "If I want to have edit button per row and onclick of that button I want to open a form where user can edit the data? So how can we wrap a button in each row?"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2022-01-26 03:35] dharinishah1493 commented on #1308
same issue

[2022-01-26 06:51] ardynugraha opened #1715 "Error when search on page 2/3/4 etc"
Search on page 1 is working fine but error when search on page 2/3/4/5

Code:
[code]

"react-bootstrap-table-next": "^4.0.3",
"react-bootstrap-table2-editor": "^1.4.0",
"react-bootstrap-table2-paginator": "^2.1.2",
"react-bootstrap-table2-toolkit": "^2.1.3",

Error message:

[code]

[2022-02-02 02:47] subhodeepg commented on #1605
Any updates on this merge ?

[2022-02-04 11:51] pavanshinde81 commented on #1503
@AllenFang can you please update the react version?

[2022-02-07 00:14] ranaraya opened #1716 "I'm using Toolkitprovider and Bootstraptable4 in React. Have also included required Css imports. For example, https://codesandbox.io/s/musing-feather-4wy9vlo0x4?file=/src/index.js. How do I get CSS like background, text color, font-family for the header columns. Do i have to specify css @Column level? What would be the default CSS class applied to header columns. Additionally, does the order of css imports important? Here, i notice bootstrap.css is the last css file."
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2022-02-07 08:19] muhammad-ihsan opened #1717 "Togggle List not Work on Custom Dropdown"
**Question**
Hello guys, please help i already following [this instruction](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Toggle&selectedStory=Custom%20Column%20Toggle&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel), but mine is not working well. Maybe something I left behind my works.

**codesandbox

[2022-02-07 21:32] papito1992 commented on #1308
joining the sad train, +1, lib was by far the best, may still be, seems like its not supported anymore, last update 2 years ago.

[2022-02-07 23:43] Ymbere commented on #1717
Could you provide a code sandbox with your implementation?

[2022-02-08 05:01] Abenezer01 opened #1718 "using bootstrap table overlay feature disables onClick event from array of rowEvents"
<BootstrapTable
                                    keyField={"id"}
                                    classes={"table align-middle table-nowrap"}
                                    headerWrapperClasses={"thead-light"}
                                    noDataIndication={() => (
                                      <div>No data available</div>
                                    )}

[2022-02-08 05:40] muhammad-ihsan commented on #1717
@Ymbere  already attached on this issue

[2022-02-08 23:34] eashaankumar commented on #193
https://react-table.tanstack.com/docs/examples/row-dnd

[2022-02-09 04:50] Ymbere commented on #1717
@muhammad-ihsan I could not see any problems in your code, this seems to be an issue with the toolkit provider.

When you toggle the dropdown the component re-renders, causing the reset of the internal state.

I think that for a workaround maybe you could manage the selected columns in your state instead.

I've created this example showing how you can implement it, It's made using functional compo

[2022-02-09 22:04] lockhaicttv opened #1719 "Pagger wrong update after callAPI by onSizePerPageChange or onPageChange"
I have an issue when I use PaginationProvider, follow steps below:
1. I use total record  for totalSize properties and it work at the initial time
![image](https://user-images.githubusercontent.com/32085956/153297391-fde277d8-3414-48ae-a2cc-ddc7e31eeeea.png)
![image](https://user-images.githubusercontent.com/32085956/153297435-86b2a1c4-0257-4802-b879-e8ffc69d2848.png)

2. But when I move to next p

[2022-02-11 16:46] ignaraph opened #1721 "How to add hook functionality in a custom cell button"
**Question**
Hello, i have recently created a table that has a custom cell in the last column, the cell contains a button. This button should trigger the opening of a Modal so that the user can decide to delete that row. I want to use React-Bootstrap Modal component but it uses state to handle the opening or closing of the Modal. The problem is that when I tried to use a hook like useState in the

[2022-02-12 02:28] 26z1a commented on #1721
for create a button in custom columns that open a modal, u can have a look at this [codesandbox](https://codesandbox.io/embed/sweet-parm-v22s4?fontsize=14&hidenavigation=1&theme=dark)

and as im still learning react|react-bootstrap-table2, maybe i couldn't resolve all ur problems but im still try my best

[2022-02-12 15:23] ignaraph commented on #1721
Thank you very much for your help, I will try this approach :)

[2022-02-15 10:29] gyerzh opened #1722 "is it possible to listen to sort changes in the tables ?"
I want to remember last field and its order that was sorted by users, so when users close the page and return back then they can see the last sort state. onTableChange callback works only with remote option set to true, but I need internal react-bootstrap-table sorting. Is it possible to implement with react-bootstrap-table2?

[2022-02-15 10:35] gyerzh commented on #230
really need fixed header, because with a lot of data user gets confused what column data he looks at.

[2022-02-17 21:03] sumanthExp commented on #1445
I found a way around to add rowSpan.

example:

[code]

[2022-02-21 14:55] polixisNG commented on #1463
import ToolkitProvider, { Search } from 'react-bootstrap-table2-toolkit/dist/react-bootstrap-table2-toolkit';

[2022-02-22 02:19] aieshgit commented on #1402
Hi [reposman33]. Were you able to resolve this ?
I am in a similar situation.
If you were able to resolve this, can you please guide me in the correct direction ?

[2022-02-22 08:39] polixisNG commented on #215
try this
import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';

[2022-02-22 10:40] skg-thienpg commented on #617
hi, any update?

[2022-02-22 23:22] duhmojo commented on #617
At least give us a way of hooking into the header so we can implement ourselves. There's no work around to this and something completely normal for HTML tables. It's been 4 years.

[2022-02-24 18:07] shailesh-patole commented on #1605
Hi, any update on the merge?

[2022-02-25 16:12] Ryota201 opened #1725 "Warning: Failed prop type: The prop `data` is marked as required in `DataProvider`, but its value is `undefined`."
Hello, I am trying to pass the data inside the BootstrapTable with my {state.entregasIdUsuario} , but the data does not arrive as it should and I receive the following errors in the console, does anyone know why this happens?

I attach the photos with the errors in the console and also with the parts of the code:
![error 1](https://user-images.githubusercontent.com/90270153/155748360-81edb126-7381

[2022-02-27 23:50] aieshgit opened #1726 "Custom sorting function for default sort"
Hi,

I would like to know how does one invoke custom sort function for default sort.
My column has alphanumeric values so the the inbuilt sorting does not work.
I have made a custom sort function which works when fine passed via the "sortFunc" parameter with the dataField.

However how does one invoke any custom sorting function on the default sort when the table loads for the first time.

As per

[2022-02-28 10:33] fareed010 commented on #553
How can I move the up and down arrow to the right side?

[2022-02-28 14:17] aidand94 commented on #1685
Ran into the same issue - not sure if it's a problem with the package and using Bootstrap5, as I don't experience it in other repos that use Bootstrap4.

Looks like the span that displays this is using the `sr-only` tag for screen readers, this appears to be rendering though even though it should be hidden. Not sure should this be changed to an Aria Label.
See: https://github.com/react-bootstrap-t

[2022-03-01 06:06] beau-mind commented on #255
The storybook [demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Basic%20Row%20Expand&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) says "You can render anything here... ." Accordingly, I downloaded the code as described in the documentation, tried placing another `<BootstrapTab

[2022-03-03 18:49] thebrandonlucas commented on #1503
Like @risingsunomi I also forced the install with `npm install react-bootstrap-table-next --legacy-peer-deps` and the component seems to be working fine for me as well, so I think once @[camarneiro](https://github.com/bcamarneiro)'s pull request gets merged in a normal install will work.

[2022-03-04 07:58] vaibhav135 opened #1727 "using react-bootstrap-table2 with react-beautiful-dnd"
**Question**

Hi,
I am new to react-bootstrap-table2 and want to use [react-beautiful-dnd](https://github.com/atlassian/react-beautiful-dnd) with react-bootstrap-table2. I would like to know:
-  If it is even possible?
-  If it is, can you give me some sense of direction as to how I can do it?

**Things I am not sure about**
I am not sure how I can wrap the row-list with Droppable and Draggable as

[2022-03-04 13:36] donkeyDau commented on #1726
Have a look at https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Custom%20Sort%20Fuction&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel it shows a sort function

[code]

[2022-03-04 13:39] donkeyDau commented on #1722
Have a look at https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Sort%20Events&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

There is a code shown that might match your needs:

[code]

[2022-03-07 09:49] PriyankaKasture opened #1728 "Column Formatter with two datafields"
Hello I need some help
React boostrap table I need column formatter with two dataFields
as in how can I pass array of fieldname to datafield prop.
My one column is dependent on two fields

[2022-03-07 13:30] Ryota201 commented on #983
hello, how can you add the arrows with css in this library to disable the showExpandColumn or just by chance is there any solution currently to remove the expansion of all header functions?

[2022-03-07 14:10] Ryota201 commented on #956
Hello, the same thing I ask, how can you add the arrows from the css?

[2022-03-07 14:37] Ryota201 opened #1729 "Hide and disable expanding all columns and making rows expandable individually"
Hi, any solution where I can set howExpandColumn to false which will remove the collapse column and the "collapse all" functionality with it and then add the indicating arrows with CSS and have it work?

**Screenshots**
Tried doing this in some of the comments on other questions, it worked, but only it visually hides the column headers but if you click on it it still toggles the 2 rows.
![image](h

[2022-03-10 15:05] danielablancom opened #1730 "Text by default "Filter By""
Hello, i need to edit this text that is inside of the column but i can`t find anything in the doc to fix this issue. Someone knows how can i fix this? I need to change that text for spanish. Instead of "Filter by" i need to change it for "Filtro por".

![Captura web_10-3-2022_12141_localhost](https://user-images.githubusercontent.com/66398209/157690111-7211a358-36db-4ee5-98d0-325bda3b108d.jpeg)

[2022-03-11 11:16] shivu1137 commented on #1069
hgj

[2022-03-11 14:33] evanz1996 opened #1731 "textFilter"
**Question**
Is there a possible way to pass a value in textfilter without inputing a value  to the input [field?](url)

**Screenshots**
<img width="755" alt="image" src="https://user-images.githubusercontent.com/23338204/157887477-c4136da4-d109-4649-8231-bb521c78a1d3.png">

[2022-03-11 14:42] evanz1996 commented on #1731
Attached is the image, where I need to pass the value  of the selected dropdown to the filter inputField and use it for filter.. Is that possible?

[2022-03-13 05:23] evanz1996 commented on #755
`export const items = [
  {
    uid: '934539c0badfa8fa474e20c524aa0ffe',
    name: 'Burger',
    slug: 'burger',
    description: null,
    availability: null,
    menu: [
      {
        uid: '07a8b791a49c90839ca10a5c606ec0e5',
        name: 'Chicken Burger',
        slug: 'chicken-burger',
        description: null,
        availability: null,
        menu: [
          {
            uid: 'd0ce02

[2022-03-14 15:27] Ryota201 opened #1732 "Warning: Each child in a list should have a unique "key" prop."
Hello good, I have this error saying that my key must be unique in its list and this happens to me in the second table when I do an expand, the strange thing is that its id is unique and is not repeated, so I do not understand why this error occurs, it will be Is there a problem with the library? Is there a solution for this? Everything works fine, but the error is very annoying, I hope you can he

[2022-03-21 04:33] spookier commented on #1308
+1 best lib

[2022-03-23 10:35] jonaspraem commented on #1684
Just give an option to set the aria-tags.. there should be a {...props} spread on the input field

[2022-03-23 17:46] Menogus commented on #1680
up!

[2022-03-24 13:27] iGaurav4 commented on #919
Any updates?? asking for update in March 2022

[2022-03-24 14:47] mmelilli commented on #1503
any news about the update of react version?

[2022-03-28 01:19] aieshgit commented on #1726
Thanks very much. I actually already tried this one and this one only works when you click on the column header.
This does not automatically invoke when the table loads for the first time.

I want my records to be default sorted by a particular column when the table loads for the first time.
Right now records appear unordered and with the above code in place, it only sorts when I manually click on

[2022-03-28 06:30] donkeyDau commented on #1726
Sorry for not ready your question carefully enough. Could you provide a working minimal example on JsFiddle (or somewhere else)?

[2022-03-29 00:21] BigSamu opened #1733 "Sort using Dummy Field"
Hi All,

I have a really fast and short question. Is it possible to sort the rows of a table based on a column whose content is a Dummy Field? The Dummy Field in this column just has two values: "Access OK" and "Access Denied".

Regards,

Samuel

[2022-03-30 06:39] yashaRO commented on #1451
+1; has this been implemented already?

[2022-03-30 15:45] HZSamir commented on #1340
Having the same issue. Sortfunc seems to trigger on some datafields, but not others. I have no clue why.

[2022-03-30 16:43] rajkishore28 opened #1734 "How to change specific rows background color using rowClasses?"
**Question**
A clear and concise description of you question. In addition, please search issues before you open a question to make sure there's no any duplicated questions.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**codesandbox**
Please give a simple and minimal example on https://codesandbox.io so that we can reproduce it easily.

[2022-03-30 17:01] rajkishore28 commented on #1734
How to use rowClasses = (row, rowIndex) @AllenFang ?Please explain row, rowIndex in rowclasses .Thanks in advance

[2022-04-06 19:41] chandansingh01 commented on #1526
I was able to resolve this using ```autoFocus``` in the input tag.Below is the snippet.
`<input
    autoFocus
   ref={ref => inputRef = ref}
   onChange={onSearch}
   id="search-bar-0"
   type="text"
   aria-labelledby="search-bar-0-label"
   className="form-control "
   placeholder="Search"
   value={searchText} />`

   Hope this helps someone.

[2022-04-06 19:42] chandansingh01 commented on #1525
I was able to resolve this using ```autoFocus``` in the input tag.Below is the snippet.
`<input
    autoFocus
   ref={ref => inputRef = ref}
   onChange={onSearch}
   id="search-bar-0"
   type="text"
   aria-labelledby="search-bar-0-label"
   className="form-control "
   placeholder="Search"
   value={searchText} />`

   Hope this helps someone.

[2022-04-13 08:54] tranislms opened #1736 "Unable to install react-bootstrap-table2-editor & react-bootstrap-table2-filter"
see the attached error showing when I'm trying to install , I install table2-editor and table2-filter, but not working

![image](https://user-images.githubusercontent.com/60132939/163138351-28be6ee8-4960-4999-8ed7-ab87799ed061.png)

![image](https://user-images.githubusercontent.com/60132939/163138981-b576df22-d569-4e3b-84ac-6a890f8394dd.png)

[2022-04-15 02:51] jkoren opened #1737 "Is it possible to put a react component in the cell of a table?"
I am experimenting with react-bootstrap-table2 for an open source application.

**Question**
Is it possible to put a react component in the cell of a table?  I have a table that looks like the attached screenshot, and am thinking about incorporating react-bootstrap-table2 to allow sorting of columns.

![image](https://user-images.githubusercontent.com/67333843/163509458-5b586e74-9098-4915-ae77-6d6

[2022-04-15 05:51] Ymbere commented on #1737
Yes, I think that what you are looking for is [Row formatter](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function).

This is a minimum example using it

[![Edit column-sort-test](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/column-sort-test-iiiu4?fontsize=14&hidenavigation=1&theme=dark)

[2022-04-15 10:34] basith-rahman opened #1738 "Using rowSpan in table rows (rows span based data)"
**Is your feature request related to a problem? Please describe.**

Yes, For many hours, I have been searching for a solution to add rowSpan for my data-table. I found some answers, but all of these are related to Table headers. But my I want to implement the rowSpan in my Table rows not on the Table headers. My Data is something like that:-
[code]

**Describe the solution you'd like**
First of al

[2022-04-15 10:50] anvark7 commented on #1738
@basith-rahman
its worked.
Thanks bro ,You Saved my Day.

[2022-04-15 16:48] medaramesh opened #1739 "Save Button to save modified rows\data"
Hi
I am getting data from backend api to display in the table. After editing few rows, I would like to save data. So I have added Save button and on clicking save button, I am trying to save only modified rows ( for example if I display 100 rows and modify only 5 rows - I would like to send the only 5 rows data to back end). Is there way to get only modified data from bootstrap table or only modif

[2022-04-16 03:18] JunYu-NIH opened #1740 "Programmatically set the current page doesn't work"
We want to jump to a row. it looks row selected function works well and Page didn't change. we tried to change Page number through state and  page still didn't change.
Please let us know how we can change current Page programmatically. We need to this feature for our project.

[2022-04-18 14:21] gyerzh commented on #1040
@AllenFang , the question was is it possible to use default react-bootstrap-table2 sorting within one page if the option remote = { pagination: true }
So far I see that sorting stops working when at least one option in remote property pagination is true. Looks like a bug.

[2022-04-19 14:47] martin-dominguez commented on #1308
same here!

[2022-04-25 09:20] patrycja-io commented on #1680
up

[2022-04-26 11:33] Pikupman64 opened #1741 "Module not found: Error: Can't resolve 'react-bootstrap-table-next'"
Hi all,

I'm trying to use react-bootstrap-table-next' but I got this error : Module not found: Error: Can't resolve 'react-bootstrap-table-next'.
Here is my code (the most basic table)

import BootstrapTable from 'react-bootstrap-table-next';

 const products = [
    { id: 1, name: "Item 1", price: 100 },
    { id: 2, name: "Item 2", price: 102 }
  ];
    const columns = [
      {  dataField: "id

[2022-04-28 13:47] v-ashrirao commented on #1605
Hi Team, do we have update for this issue?

[2022-05-04 01:01] AshtonScalise opened #1742 "Get all rows?"
Is there a way to get all rows on a rowSelect event?

Currently, the source code I only see (row, isSelected, rowIndex, e)

I am trying to add support for shift-clicking selection in my project.  Everything works fine until sorting happens, this is because I can't keep track of the rows orders after sorting?

Any suggestions?

[2022-05-05 15:51] ricardolimaui commented on #1472
This still happens isn't true?

[2022-05-07 06:49] ahmedalatawi commented on #1669
Faced same issue and implemented my own [pagination component](https://github.com/AhmedAlatawi/react-event-scheduler/blob/main/src/components/Pagination/Pagination.tsx)

and [here](https://github.com/ahmedalatawi/react-event-scheduler/blob/main/src/pages/user/MyAccount/MyEvents/MyEvents.tsx) how I'm using it.

[2022-05-07 10:57] chsunilkumar33 opened #1743 "How to select more than one row but not all rows using id and based on id I want to delete the records, how can I achieve that?"
**Question**
How to select more than one row but not all rows using id and based on id I want to delete the records, how can I achieve that?
I am not able to pass the Id in Api..

Here Is how I am trying
 function onRowSelect(row, isSelect, e) {
    Setleaddata((rows) => {
      return leaddata.map((sd) => {
       if (sd._id === rows._id) {
       sd.select = isSelect;
       }
        return sd;

[2022-05-07 11:32] hanamurayuki commented on #291
Above solutions don't work in my environment.
Now, it works by adding below values.

[code]

If you want to fix specific column width, you can add below values.
[code]

[2022-05-08 16:46] aryef commented on #1308
same here!

[2022-05-09 16:00] Ryota201 commented on #1732
Any answer please!

[2022-05-09 18:50] Ryota201 commented on #1732
@AllenFang ?

[2022-05-10 09:02] praty22 commented on #1677
Facing the same issue.

[2022-05-10 14:08] Ryota201 commented on #1157
@AllenFang  We are in version 4.0.3 and the problem continues

[2022-05-10 19:56] Ryota201 commented on #688
Could you show an example of that code please?

[2022-05-14 15:20] Tana00 commented on #1013
@Extazx2 I have this same issue. Please how did you resolve it?

[2022-05-17 19:40] nNabakhteveli commented on #763
I know it's an old issue, but if other people are searching for an answer: I fixed it by wrapping a table in a div and adding `overflow: scroll` to it.

[2022-05-18 11:29] HarshitaVishwakarma opened #1745 "Add `Promise<void>` as a type for onSelect and onSelectAll functions to be able to use async-await."
I am using bootstrap-table-next made for typescript, and trying to implement the checkbox mode for the table rows as follows
[code]
Currently async-await does not work for onSelect and onSelectAll and give the following errors if I add async before the function call as I have done in the above example:
1. Type `Promise<void>` is not assignable to type `boolean | void` (onSelect)
2. Type `Promise<v

[2022-05-18 16:48] Ryota201 commented on #1192
Hello @AllenFang  how can I generate a sequence key before the processing table if I don't have a unique column? Could you show me an example please!

[2022-05-19 13:49] Jocatins commented on #427
@chaserda did you later figure this out

[2022-05-20 06:00] DeepakGathwal commented on #315
I don't get it... where we have to declare img link..
on my table only link shown as text field

[2022-05-20 13:03] haseeb-lab commented on #381
its working if only first column needs to be sticky

[2022-05-20 21:58] veselin1985 commented on #1715
I have the same issue. Any update on this ?

[2022-05-21 15:31] BigSamu commented on #1308
+1 here

[2022-05-24 10:49] Oakyden commented on #1308
+1

[2022-05-24 11:47] viomjeet commented on #1042
const selectRow = {
            mode: 'checkbox',
            // clickToSelect: true,

[2022-05-27 10:55] mattstrain commented on #338
If you don't have a valid keyField property on your table which defaults to "id" and don't have an "id" property on your row object you will get this issue.
Set a valid keyField to a property which uniquely identifies the row and the correct row will be updated.

[2022-05-27 12:01] yumyo commented on #1464
It would be useful to know how did you solve this.

[2022-05-27 19:00] radubartan commented on #1301
[This](https://github.com/AllenFang/react-bootstrap-table/issues/1433#issuecomment-312177114) is what worked for me.

[2022-05-31 06:15] chsunilkumar33 commented on #1669
I am facing the same issue what is the solution

[2022-05-31 07:28] sirimainsorn opened #1746 "Header rowspan and colspan support?"
I need to make header group but I can't do it.
Can you help me?

[2022-06-01 09:55] Takueg commented on #1624
Any update on this issue?

[2022-06-01 16:37] ignacio-palazzi commented on #1308
+1

[2022-06-01 19:01] omalave commented on #1680
up!

[2022-06-02 07:17] labhane commented on #1685
Thanks a lot @aidand94 ! it solved my issue.

[2022-06-02 14:54] 201flaviosilva commented on #1503
Work for me, but I think, it’s good to fix that in a better way :)

[2022-06-03 10:27] 201flaviosilva commented on #1679
Any update from this issue? I have more or less the same error 😅

[2022-06-03 10:29] 201flaviosilva commented on #1619
@pawan-khade did you solve it? I'm kinda stuck in this too 😅

[2022-06-03 10:35] 201flaviosilva opened #1747 "How to get the selected rows?"
**Question**
I want to get the selected rows. Based in the [official example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Click%20to%20Select&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel), how do I get the row that are selected?

**codesandbox**
Official example: https://reac

[2022-06-04 09:38] LegitOverAll commented on #794
In June 2022 I have the same issue, it works now. You saved my day, thank you !

[2022-06-09 21:47] EddyIonescu commented on #1321
In case anyone else runs into this, adding `bootstrap4` (as in the second link) resolved this for me.

[2022-06-10 06:31] GokulSuresh27 commented on #1372
@AllenFang Did you find any solution for this ?

[2022-06-13 08:01] pratik-zingworks commented on #1715
I'm also facing same issue.

[2022-06-13 09:34] Rawnak-Siddique commented on #486
index.js:1453 ./node_modules/react-bootstrap-table-next/lib/src/utils.js
Module not found: Can't resolve 'underscore' in 'D:\WebsiteCode\car-dealership-dashboard\node_modules\react-bootstrap-table-next\lib\src'
I am having this problem continuously and my app keeps crashing

[2022-06-13 22:33] anmohanty123 opened #1748 "Incorrect role is defined as a link for multiple controls i.e., back, 0, 1, 2, 3, next and last button"
**Describe the bug**
 Incorrect role is defined as a link for multiple controls i.e., back, 0, 1, 2, 3, next and last button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Basic%20Pagination%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Facti

[2022-06-14 19:39] randerson57261 opened #1749 "Sort arrows not appearing"
**Question**
Why are the sort arrows not appearing?
[code]
In my App.js
[code]
I have tried bootstrap 4 and 5.

It functions as expected, I can click on the header and it will sort.

**Screenshots**
![image](https://user-images.githubusercontent.com/74583143/173674334-67aa9feb-e12e-4e74-aa56-7580055a1ea3.png)

[2022-06-15 05:06] zeelmodi-simform commented on #1182
@rikinshah23  It would be really helpful if you could provide a codesandbox link for the given solution. I tried implementing it but `afterSaveCell` is not getting triggered.

[2022-06-15 12:21] gioviopantat commented on #1562
any update on this issue?

[2022-06-15 13:53] randerson57261 commented on #1749
I needed to add "bootstrap4" to BootstrapTable
[code]
and add:
[code]

[2022-06-15 13:53] #1749 closed, assigned to AllenFang

[2022-06-17 05:57] bricevrs commented on #1730
Hello ! Did you find how to fix that ?

[2022-06-20 03:54] oneandonlyonebutyou opened #1750 "Anyone still maintaining this ? Will you support React18?"

[2022-06-20 18:32] adityabaradwaj commented on #360
@AllenFang Is this issue going to be fixed? One of the main value adds of react-bootstrap-table2 over react-bootstrap table is the better support for remote table management, but the fact that you can't use overlays with filtering/selection greatly diminishes the usefulness of the remote feature.

[2022-06-20 19:51] ilkou opened #1751 "Custom Pagination with Search Bug"
**Describe the bug**
There's a bug when trying to search for an item while there's a custom pagination in place

**To Reproduce**
Steps to reproduce the behavior:
1. Storybook: Go to ([Custom Pagination with Search](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Custom%20Pagination%20with%20Search&full=0&addons=1&stories=1&

[2022-06-21 18:38] Menogus commented on #1750
as i know, AllenFang is gone ... ((
and yes, with new webpack and react this amazing project very need to be forked...
so far, no one has dared to take on this (((

[2022-06-22 06:18] davidaik opened #1752 "Incorrect values are passed to `paginationTotalRenderer` at random times after searching"
Hello. I'm facing an issue where, sometimes, after performing a search, the total and the page buttons are showing incorrect values. I'm passing the following function to `paginationTotalRenderer` and I see that the console log prints values which are different from the actual search results. For example, I get `Total 1 15 624` in the console when the search results found only 2 rows.

    functio

[2022-06-23 16:46] isherwood commented on #1452
Duplicates #1308.

[2022-06-25 10:16] MohammedTanveerShenll commented on #847
@AllenFang ToolkitProvider(default search& filter ) and Pagination not working together when I add remote for pagination.

[2022-06-25 10:26] joseciusshenll commented on #847
I am also facing the same issue currently. If anybody knows please update here

[2022-06-28 12:46] ezerobledo91 commented on #1308
+1

[2022-06-29 19:00] BowenMichael commented on #1659
I'm having the same issue. did you have any luck?

[2022-07-01 15:06] isherwood commented on #1750
I'm successfully using this library with React 18. The warnings raised in #1308 still occur, but they aren't an end user problem.

[2022-07-05 18:36] taylor-lindores-reeves opened #1754 "Is it possible to change the current page programmatically?"
Currently, I have tried the following:

`paginationFactory({ page: 4 });`
`paginationContext.currPage  = 4;`

Very frustrating as seems that all the examples work with either of these, but in my unfortunate case it doesn't work. What does happen is the `currPage` is set to 4 but the actual pagination on the interface isn't!

[2022-07-05 19:03] leafyshark commented on #1754
This could be a simple thing, why isn't it? Becoming increasingly frustrated by how challenging it is to simple update the page number on render of a component. Wow.

[2022-07-09 02:18] risingsunomi commented on #1750
Has anyone forked it yet? I am interested in looking at updating the code as needed for some apps I have using this library. Will try forking and looking through it this weekend possibly

[2022-07-11 11:40] pLavrenov opened #1756 "rowEvents.onClick"
**Describe the bug**
If there is a select in the row then rowEvents.onClick is raised by clicking on the select and row

**To Reproduce**
Add rowEvents.onClick to table
Add "select" or another button to column
Click to select
rowEvents.onClick pushed

Video:  https://youtu.be/pA_z6YM9O68

[2022-07-11 20:50] dmmair opened #1757 "Pagination details being reset / lost when hyperlinks clicked..."
In the example below, when I select a row quantity for pagination and then click on a hyperlink in a row (e.g. "Edit" or "Delete"), then the table resets (including losing current page and row quantity).
![image](https://user-images.githubusercontent.com/109110089/178355633-637f3b85-9dae-4020-a97f-a1a957a99ddf.png)

[2022-07-16 19:32] davidaik commented on #1752
Now I'm able to reproduce it 100% of the time. What I do is, I open the page containing this table, then make a search. All's good. Next, I switch to another route and then back to the page containing the table. Then make a search. I can see the bug, every single time.

[2022-07-17 03:18] Fabian-Ojeda commented on #1160
Hey bro, I really love you :) Thanks

[2022-07-17 04:11] Fabian-Ojeda commented on #1583
In this link You can find help
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1160

[2022-07-17 21:52] ccemeraldeyes commented on #1590
This is still a bug more than a year later with no comments.

[2022-07-22 05:26] maurojeandet commented on #1605
Hi Team, do we have any updates for this issue? Still getting the vulnerability issue

[2022-07-27 10:44] bartektartanus commented on #1503
Looks like `musicstory` fork of this package is updated to react v17.
https://www.npmjs.com/~musicstory

[code]

[2022-07-31 16:30] SergioCym commented on #1590
This is still a bug more than a year later with no comments.

[2022-08-03 06:57] ansulagrawal opened #1758 "How can I add column header for the row selection?"
**Question**

How can I add column header for the row selection?

**Screenshots**
Design Image
![image](https://user-images.githubusercontent.com/55939700/182543737-09974ec5-815e-4b72-a264-805b3403520e.png)

Currently code Image
![image](https://user-images.githubusercontent.com/55939700/182544454-8a34d80c-8681-47ec-9897-703d032514d1.png)

Here is the Image for the table I just need to know that h

[2022-08-04 13:47] aashiqahmed98 opened #1759 "sort caret icon not showing with columns having headerformatter"
**Question**
Hey @AllenFang , big fan of your library ,I have a doubt here,  Below is the table columns definition ,

[code]
, In second column we have used `headerformatter` to accompany our use case to render a component, which  displays text with a icon , and on hovering , it will show a tooltip(refer screenshot), My issue comes here, we want to  use sort  and enabled using `sort: true` but the

[2022-08-06 02:57] dieennn commented on #1308
+1 still here

[2022-08-07 02:44] ahujahbti commented on #1176
Thanks this worked for me.

[2022-08-07 11:17] aleporyadin opened #1760 "How we can extend a row by right-clicking"
**Question**
How we can extend a row by right-clicking ?

The table needs to colour when you click on a row and expand when you right-click(context menu), is there any way to do this?

[2022-08-09 13:03] voragantivenugopal opened #1761 "Exporting chinese characters to CSV"
I'm trying to export chinese (like 网址) characters using exportCSV option. But I'm getting it as .ç½‘å€. Do we have any option to overcome this issue please?

[2022-08-11 04:09] aashiqahmed98 commented on #981
Can't we do it using `IntersectionObserver`?

[2022-08-11 04:21] ekiriano commented on #1448
hey did you end up finding a solution to this problem ?

[2022-08-13 15:34] RodrigoIbarraSanchez commented on #1624
Seems to be a library issue then? :(
Did anyone find a solution for this?

[2022-08-15 15:12] ethanbonin commented on #1605
For those using yarn & dealing with this vulnerability, you can use [resolutions](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/) in your package.json.

[code]

then run `yarn install` to fix the dependencies.

[2022-08-16 12:02] voragantivenugopal commented on #1761
@AllenFang ...can you please let me know whether do we have any fix for this issue?

[2022-08-18 07:51] tiarahardiy commented on #215
hai I already import it, but still can not showing

[2022-08-18 08:15] ahsan-alii commented on #847
still facing the same issue with these packages

`import BootstrapTable from 'react-bootstrap-table-next';`
`import ToolkitProvider from 'react-bootstrap-table2-toolkit';`
`import paginationFactory from "react-bootstrap-table2-paginator";`

I don't know why is this issue closed, even though it exists

[2022-08-19 13:18] damdka commented on #1677
same issue here please help

[2022-08-19 14:16] damdka commented on #1191
+1

[2022-08-22 19:39] Vincentqchen commented on #1389
Did you ever find a way to get the grandtotal?

[2022-08-23 14:42] nswagg commented on #1308
As of React 16.8, it is recommended to change from a class structure to a [hook structure](https://reactjs.org/docs/hooks-faq.html#gatsby-focus-wrapper). Yes, the current package.json for this project uses React 16.4.0, (Should be changed to React ^16.4.0 IMO), but should work with the new hook structure in theory, as 16.8.0 is not a breaking change.
ComponentWillUpdateProps has been deprecated. P

[2022-08-24 22:57] valcantaraInforma opened #1762 "How to remove filter label and add arrow for the dropdown?"
![tablequestion](https://user-images.githubusercontent.com/106194738/186537500-e645f163-e8c8-4999-b75c-4914bf532881.png)

Hi

I am new to React and have started using bootstrap table 2. I have two questions:
1. How can I remove the filter label?
2. Why is the dropdown arrow not showing?

Thank you.

[2022-08-29 13:20] alex-shepel commented on #943
Hello! Could you share your typed version of the pagination list component?

[2022-09-01 03:39] BalaRajendran opened #1763 "Table Action button onClick didn't print updated state"
**Question**
 I'm using the Functional component, I had added a button in my table. With a click of the action button, I have to print the updated value from the state. I tried this use case with both Functional and Class Component, it was working fine with Class Component, not working with Functional Component, **state is printing old values**

**codesandbox**
Attaching both functional and Class

[2022-09-01 17:12] goodloveone1 commented on #1191
+1

[2022-09-03 16:08] chewhg78 commented on #1160
May i know what is the complete code for this? is it something as follows?

<TableHeaderColumn
        headerStyle= {(column, colIndex) => {return { width: '250px' }; } }
	dataField={obj.name}>{obj.displayName}<\TableHeaderColumn>

[2022-09-06 13:42] hballesteros commented on #764
@anuragb26 Were you able to solve this problem? I have similar problem using redux-toolkit; this happens when use dispatch inside handleTableChange; sortOrder doesn't change; but if I remove dispatch, sortOrder change.

[2022-09-06 13:46] hballesteros opened #1764 "Remote sorting using Redux-toolkit always provides sort order 'desc' and don't change"
I have problem using redux-toolkit using remote sort.
Remote sorting always provides sort order "desc" and don't change
This happens when I made a dispatch() inside "handleTableChange"; sortOrder doesn't change; but if I remove dispatch, sortOrder change.

[2022-09-07 05:41] dppatel03 commented on #762
I am also having the same problem. do any can guide me

[2022-09-08 06:40] #1561 closed, assigned to nobody

[2022-09-13 09:47] nguyentanvinh7a commented on #1634
Hi, " In code the page can be set by using the same property." - Can you tell me more about this approach?

[2022-09-16 10:35] NaqibAli opened #1765 "React 18 not supported"
when i try to install this package in react 18 project
it always returns error and i cant install it
`peer react@"^16.3.0" from react-bootstrap-table-next@4.0.3`

[2022-09-17 17:58] rudymiked commented on #1765
I had the same issues, followed these steps: http://blog.timwheeler.io/webpack-and/

[2022-09-20 18:50] ghost commented on #1108
Hi @rhmmuh005,

I found a workaround which is pretty much straightforward.

Add this under <ToolkitProvider /> like this:
[code]

And MyExportCSV function looks like this :
[code]

Here, I have invoked onExport which with arguments takes that data for csv export. So, if statement will check between if it is sorted or not using table ref.

Let me know if it works for you! Peace out.

[2022-09-20 18:52] ghost commented on #1399
Hi @tommipal ,

I have a workaround which you can find using this link.

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/1108#issuecomment-1252774263

[2022-09-26 06:57] arjunsoota commented on #617
Any update on this ? @AllenFang

[2022-09-26 09:57] HarlesPilter commented on #1590
There is a workaround. Add one "fixed hidden" column to the first column object. If one of the columns is always hidden and rendered, then the toggle works.

[2022-09-26 15:24] duhmojo commented on #617
Last release was 2018. Not a single one of the 38+ contributors has commented in years.

[2022-09-27 11:46] pLavrenov commented on #363
actual 4.0.3

[2022-10-02 17:49] boldham31 commented on #280
Any updates?

[2022-10-05 07:30] HZSamir commented on #617
I know a doomed requested feature when I see one, but bump anyway.

[2022-10-06 14:31] obaid-the-dev opened #1767 "Cell edit onaftersave click is not working"
I am trying to edit the cell of record but I am getting the error of can't assign value to read only property. I am getting the data from api and then using the redux to share the data to table .

[2022-10-06 14:51] obaid-the-dev commented on #386
sir still not working for me

[2022-10-06 14:56] obaid-the-dev commented on #386
i am fetching the data from api then i am using redux slice to store the data and the pasing the data to the table through props i am passig the data to table

[2022-10-10 19:08] suhailtajshaik opened #1768 "underscore version needs update"
**Describe the bug**
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install`, installs "underscore": "1.9.1". Please help in updating the versio

[2022-10-10 19:08] suhailtajshaik opened #1769 "underscore version needs update"
**Describe the bug**
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install`, installs "underscore": "1.9.1". Please help in updating the versio

[2022-10-10 19:08] suhailtajshaik opened #1770 "underscore version needs update"
**Describe the bug**
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install`, installs "underscore": "1.9.1". Please help in updating the versio

[2022-10-10 19:08] suhailtajshaik opened #1771 "underscore version needs update"
**Describe the bug**
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install`, installs "underscore": "1.9.1". Please help in updating the versio

[2022-10-13 06:58] kartikgandhii commented on #283
It worked, thanks

[2022-10-13 06:59] kartikgandhii commented on #283
You will find the key attribute in the BootstrapTable Tag.

[2022-10-14 16:21] eklavya-raj commented on #437
its still very slow when rendering 10000 items

[2022-10-14 23:39] rudra-sena commented on #445
Hi @AllenFang @narayanchoudhary
I am a beginner and I am not able to figure how to define a custom filter function for my column?? (how to use onFilter() )
Also, @narayanchoudhary if you have implemented fuzzysort as a filter function can you please share how to do that?

[2022-10-18 07:23] amerlin commented on #1765
Hi, I'm trying with react 18 (I forced the npm installation), but I have problems with searchbar.
There is an error about the searchbar props that are undefined. Have some tricks? Thanks

[2022-10-21 22:46] harshadaram opened #1773 "Multi select column filter issue"
Hi,

I am using multi select column filter in my application. I am able to select multiple options using this feature. But, I am only able to select multiple options by clicking on SHIFT+ Up arrow or SHIFT+down arrow or SHIFT clicking multiple options or by LEFT CLICK+dragging on the options. If I dont do this, my previous selections are getting cleared and I can only select single option. Is ther

[2022-10-21 22:50] harshadaram commented on #1773
hi

[2022-10-23 06:04] GodAlmighty990 commented on #1771
This project is dead. You will need to use react-table and customize everything yourself. Sorry. I was using this table about a year ago and built a project with it only to have serious bugs and needed to scrap it all and rebuild all my tables with react-table.

[2022-10-23 06:05] GodAlmighty990 opened #1774 "Dont use this Library. Its Dead"
This library is of no use anymore. project has been abandoned.

[2022-10-23 06:06] GodAlmighty990 commented on #1761
He doesnt have time for this anymore. Its a dead project.

[2022-10-23 06:07] GodAlmighty990 commented on #1765
The project is dead. You need to scrap it and use plain react-table unfortunately

[2022-10-23 06:07] GodAlmighty990 commented on #1752
Project is dead

[2022-10-23 13:03] ayush-lal commented on #1774
Are there any decent alternatives?

[2022-10-23 20:48] GodAlmighty990 commented on #1774
Yes, use react-table.  You would be surprised at how similar it is to this project. There is also a great youtube series from a channel called “codevolution” where he details step by step how to use react-table. I scrapped react-bootstrap-table-next and switched to react-table and built an amazing table for my app. Just go to youtube and type in codevolution react table

[2022-10-24 10:44] fahad39 commented on #1665
Did you find the solution?

[2022-10-24 10:59] fahad39 commented on #1665
Ok so i removed the warning. You have to pass a key prop to the li tag in the page button render method. There is one more prop of "title" pass to the page button render method you can set key to title

[2022-10-26 08:09] protonema2 opened #1775 "Customize the show total record and next page button"
hi Fang,

just wantetd to know, can we do some customization on the position of show total record and also the pagination
![image](https://user-images.githubusercontent.com/72397921/197970734-faceb69d-9d6f-4033-8b47-9523679592bd.png)

[2022-10-28 06:24] geekiran1 commented on #1762
I am facing the same issue. Tried multiple work-arounds such as removing the label text from core libraries of react-bootstrap-table2. However it doesn't work :-(

[2022-10-29 23:56] saveondev01 commented on #787
Can someone give me an example of adding a mask to searchbar, please? I am having the same problem now. but looks like  we did not have a solution so far

[2022-10-29 23:57] saveondev01 commented on #787
@AllenFang do you have any plans for this?

[2022-10-29 23:58] saveondev01 commented on #787
@enderjbr did you manage the problem?

[2022-11-18 12:01] rahulgupta020 commented on #397
How to link with css???

[2022-11-24 15:58] sharvesh opened #1778 "Error thrown when clear all filter triggered with column toggles"
Hi there,

I have recently been assigned to maintain on an application that is using this library and I'm trying to find a working solution for a error that has been there a while in the app

Conditions to reproduce this, have the following enabled in the page :
1. Filters - Enable multiple types (text, select & multiselect)
2. Clear all filter button / function call
3. Column toggle

Steps :
1. l

[2022-11-25 04:15] gyerzh commented on #1722
Thanks, @donkeyDau!
I remember that I found some solution(was long time ago, don't remember exactly). Probably the same as you mentioned in the comment. I'm closing the question.

[2022-11-25 04:15] #1722 closed, assigned to AllenFang

[2022-11-25 12:45] tauqeer-trailfive commented on #1693
`<TookitProvider
          keyField={Math.floor(Math.random() * 101)}
          data={
            this.props.time_spent_in_app ? this.props.time_spent_in_app : []
          }
          columns={this.state.columns}
          bootstrap4={true}
          pagination={paginationFactory({
            sizePerPage: 10,
            onPageChange: (page, sizePerPage) => {
              console.log(sizePerPa

[2022-11-25 12:46] tauqeer-trailfive commented on #1693
Try this way
`
<TookitProvider
          keyField={Math.floor(Math.random() * 101)}
          data={
            this.props.time_spent_in_app ? this.props.time_spent_in_app : []
          }
          columns={this.state.columns}
          bootstrap4={true}
          pagination={paginationFactory({
            sizePerPage: 10,
            onPageChange: (page, sizePerPage) => {
              console

[2022-11-29 14:25] YashLad05 commented on #762
@AllenFang I am facing same issue.
Listing my package versions here
`react-bootstrap-table-next@1.4.4` and `react-bootstrap-table2-paginator@2.1.2`
While uninstalling `react-bootstrap-table2-paginator` , I am getting the following error

![image](https://user-images.githubusercontent.com/84368030/204554982-fe022fef-b114-4da7-a295-4195dc1fd4f2.png)

[2022-11-30 20:52] JChampigny opened #1780 "Vote An Official Fork"
Seeing that @AllenFang has not posted to Github in 6+ months, I wish him to be healthy, however we should as a community decide to pick an official Fork for this project.
I propose for enthusiasts and former contributors to drop a comment down below, supporters should then up that comment to decide on the best alternative/strongest suitors.