[2018-11-03 07:32] AllenFang commented on #639
btw... why your `data` prop is look like a `column` prop definition lol

[2018-11-03 07:36] AllenFang commented on #640
@mwesthelle sorry, we didn't implement this feature yet, it's lower priority currently, I will spend some time to implement, thanks

[2018-11-03 07:36] AllenFang commented on #640
PR is welcome also

[2018-11-03 10:12] AllenFang commented on #627
In next version, I will fix this issue. You guys can free to call `setState` in `selectRow.onSelect`. thanks

[2018-11-03 14:52] AllenFang commented on #641
@jehartzog ok, I will use `forEach` to render the options, this is good point for me, thanks!

[2018-11-03 15:02] jehartzog commented on #641
@AllenFang the way I coded it was a breaking change since it's not backward compatible with the current API.

You'd need a small amount of additional code to be able to change this behavior without breaking existing versions (assuming you aren't doing a major version update). I'd be happy to send a PR, just confirm that this is change you want to make and I'll put it together.

[2018-11-03 15:03] AllenFang commented on #641
oh, yeah, let me think more about this, I forget the `options` is an object....

[2018-11-03 15:04] AllenFang commented on #641
The proper way maybe we make the `options` accept an object or an array. If array give, we can promise the order will be the preserve.

[2018-11-04 16:04] #297 closed

[2018-11-04 16:04] #641 closed

[2018-11-04 16:28] AllenFang commented on #297
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [her

[2018-11-04 16:29] AllenFang commented on #524
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [her

[2018-11-04 16:29] AllenFang commented on #411
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [her

[2018-11-04 16:29] AllenFang commented on #378
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [her

[2018-11-04 16:29] AllenFang commented on #393
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [her

[2018-11-04 16:30] AllenFang commented on #627
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect` and we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [here](https://react-bootstrap-t

[2018-11-04 16:31] AllenFang commented on #627
Please tag me if this issue still remain, thanks

[2018-11-04 16:31] #627 closed

[2018-11-04 16:31] AllenFang commented on #626
Sorry for lately fixed.....
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/04/version.bump.html)

now you can call `setState` in `selectRow.onSelect`. BTW,  we support a feature that you can reject the selection, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) and [

[2018-11-04 16:31] #626 closed

[2018-11-04 19:44] CaitlinSweeney commented on #627
Hello! Sorry for the delayed response.  @AllenFang, thanks so much for the quick release! I'll work on it shortly.
Thank-you @antonvstepanov  for your help and code examples as well. Your English is 👍 , don't ever apologize for that. I'm going to pick it apart today as well.

[2018-11-04 20:28] antonvstepanov commented on #627
@CaitlinSweeney, we don't need any workarounds for now, since @AllenFang released 1.4.0, It works just out of the box!

[2018-11-04 21:41] zaweb opened #648 "createContext error with pagination"
Hello. I am trying to add Pagination to my table, but I am getting this error:

Here's my render:

[code]

It doesn't seem to matter what options I provide, I always get the error. I tried using it outside fo the ToolkitProvider too. Same error.

I am using react 16.6.0
react-bootstrap-table-next 1.4.0
react-bootstrap-table2-paginator 1.0.3
react-bootstrap-table2-toolkit 1.1.1

Thanks!

[2018-11-05 17:20] jbp17 commented on #614
Thanks!

[2018-11-05 18:32] jbp17 opened #650 "Most recent release broke single selection"
I just upgraded to the newest releases without any other code change:
react-bootstrap-table2-filter@1.0.2
react-bootstrap-table-next@1.4.0

The single selection no long work.  When I chose one option, the other option that already selected did not get unselected.

[2018-11-05 18:34] VitalieStirbu commented on #639
Getting the same error, no idea why.
`import BootstrapTable from 'react-bootstrap-table-next';
import cellEditFactory, { Type } from 'react-bootstrap-table2-editor';

function getColumns() {
    return [
        {
            dataField: 'id',
            text: 'ID',
            headerStyle: { width: '10%' }
        }, {
            dataField: 'plant',
            text: 'Plant',
            headerS

[2018-11-05 19:43] VitalieStirbu commented on #639
Looks like you guys fixed it. I just updated the version of react-bootstrap-table2 to 1.4 and it works

[2018-11-06 11:37] unski11ed opened #651 "Custom Pagination"
Is there currently a way to make a Custom Paginator in the same matter as you can do Custom Filters, Custom Searches etc.? I need to place it outside of the Table Component.

I have seen some issues about this saying that it is a WIP, is it in development? maybe you need some help? Or am I just missing something? :)

[2018-11-06 15:47] AllenFang commented on #627
👍   Anyway, sorry for lately fixed...

[2018-11-06 15:49] AllenFang commented on #551
@Thebarda sorry I didn't see your message, will check again, thanks

[2018-11-07 12:36] PaulHindenberg commented on #80
Hi @AllenFang
How would you implement editing the entire row at once? E.g. by a button click in an 'Action Column'. To end the editing and save/revert I would use another button in the 'Action Column'.
thanks

[2018-11-07 13:12] AllenFang commented on #642
yeah... currently we just support the text search. for the array search, I will consider to implement, but not now. Thanks

[2018-11-07 13:14] AllenFang commented on #648
I think you did wrong on `pagination` prop, please check following:

[code]

[2018-11-07 13:14] #648 closed

[2018-11-07 13:33] AllenFang commented on #650
@jbp17 I will check this out, thanks

[2018-11-07 13:36] AllenFang commented on #650
@jbp17 [ONLINE DEMO](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Single%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is work.

Anyway, the newest version did some changes on row selection, you can check the release note:
https://react-bootstrap-table.github.io/re

[2018-11-07 15:20] mkwenzel commented on #639
Sorry @AllenFang! I've been sick and my brain has been too slow to code. I realized that I goofed up my code example in my original post--I was trying to remove some sensitive information from my example and I wound up swapping some variable names. Will post a correct code example in a few minutes.

My dates are being stored/passed in in the format: "2018-10-19T09:29:06-05:00" (I use moment.js "mo

[2018-11-07 16:35] rikardocorp opened #652 "Uncaught TypeError: onSort is not a function"
react-bootstrap-table-next= ^1.4.0

Example:
columns: [
            {
                dataField: 'user.first_name',
                text: 'FirstName',
                sort: true
            }
]

Error: Uncaught TypeError: onSort is not a function

[2018-11-08 04:34] dilushi opened #654 "Issue in pagination 'showTotal' - react-bootstrap-table2"
@AllenFang: I have used react-bootstrap-table2 in my data grids & there is an issue in pagination 'showTotal' with 'from, 'to' & 'size' values. It seems only '**to**' value is incorrectly showed in the pagination.
ex: when page size is 10 & total records are 15, it shows as below.
Showing rows 1 to **11** of 15
Showing rows 11 to **16** of 15

And also when no data, it shows as:
Showing rows 0 to

[2018-11-08 17:01] JaviVargas commented on #654
Same issue here!

[2018-11-08 19:47] kauly opened #655 "Typo on docs"
In the 'Row Expand' section, 'Expand Indicator' and 'Only Expand by Indicator' have the same code. It's missing the expandByColumnOnly property on the last.

[2018-11-09 00:29] jcrew opened #656 "setState does not re-render cell from 1.3.0"
https://codesandbox.io/s/8y95z4wx32

This sample works up to 1.2.1, but regressed after 1.3.0.

Plz take a look. Thanks in advance!

[2018-11-09 02:50] jcrew opened #657 "TypeError: _this3.props.onFilter is not a function"
Combining column filters and table search breaks column search. If I use one or the other, it works though.

--
import filterFactory, { numberFilter, textFilter, Comparator } from 'react-bootstrap-table2-filter';
import ToolkitProvider, { Search } from 'react-bootstrap-table2-toolkit';
--

<ToolkitProvider
                                    bootstrap4
                                    keyField=

[2018-11-09 15:32] jbp17 commented on #650
Yes.  You can see the problem from the code here:
https://codesandbox.io/s/98rp872ovr

Thanks,

[2018-11-09 15:34] waynebrantley commented on #656
@jcrew I agree with you.  If you use 1.4.0, nothing updates...not even the main data column.

However I cannot even get 1.2.1 to work right either
For example, note the menu
https://codesandbox.io/s/5zz8mw6qqk

@AllenFang these grid rendering optimizations are really a bear to get right!

[2018-11-09 15:43] jpramos123 opened #659 "When I click on a editable cell in a row that is already selected, the row is deselected."
Hi, thank you for the help with this project.

Well as the title say, when I have a selected row, and I click on an editable cell of the same row, the row is deselected. This is not a expected behavior, since I click in something which is editable, it's means that it need to be selected.

This [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKin

[2018-11-10 05:38] AllenFang commented on #639
@mkwenzel sorry I still can not reproduce your issue, how about you upgrade all the `react-bootstrap-table2` package to newest then see if this problem still remain?!  thanks!

[2018-11-10 05:44] AllenFang commented on #651
@unski11ed sorry for lately reply, custom pagination will coming soon.

[2018-11-10 05:49] #460 closed

[2018-11-10 05:51] AllenFang commented on #652
Please give me a example to reproduce, thanks

[2018-11-10 05:53] AllenFang commented on #654
@dilushi  and @JaviVargas  what version u used? and did you enable the `remote` mode?  thanks

[2018-11-10 05:55] AllenFang commented on #655
cool, thanks

[2018-11-10 06:12] AllenFang commented on #656
I'm sorry about that, will look into on it.

[2018-11-10 06:19] AllenFang commented on #656
[ONLINE DEMO is work](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Dummy%20Column&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-11-10 06:39] AllenFang commented on #659
@jpramos123 that is not default behavior, the behavior you faced is we enable the `selectRow. clickToEdit`.  So actually, it's expected behavior.

[2018-11-10 06:39] #659 closed

[2018-11-10 08:58] #535 closed

[2018-11-10 09:18] #582 closed

[2018-11-10 09:18] #654 closed

[2018-11-10 09:18] #655 closed

[2018-11-10 21:40] zaweb opened #662 "CSS styling does not work with ToolkitProvider"
When I use ToolkitProvider, table styling does not work at all.  I specified "striped" and "bordered", but it doesn't work. I tried applying my own custom rowStyle as well, but it doesn't work. It's as if the CSS doesn't exist. Search bar styling does not work either. Here is my code:

[code]
I'm running versions:
react-bootstrap-table-next: 1.4.1
react-bootstrap-table2-paginator: 1.0.4
react-boot

[2018-11-11 00:12] YassienW commented on #600
@AllenFang @sedrubal

Implemented for bootstrap 3 and 4, will be included in the next PR :)

[2018-11-11 04:59] AllenFang commented on #600
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/11/10/version-bump.html

Fixed it on newest version.  Thanks @YassienW

[2018-11-11 04:59] #600 closed

[2018-11-11 08:37] YassienW commented on #600
@AllenFang Yes, the condensed property was fixed, but didn't add .form-control-sm on condensed table  forms which was the second suggestion:

[2018-11-11 08:41] YassienW commented on #601
@AllenFang Maybe we could add a unique id to the `dataField` key or remove it and use a unique id like https://www.npmjs.com/package/shortid

[2018-11-11 09:56] sedrubal commented on #600
Nice, thanks. Sorry for not crating a pull request.
Unfortunately we switched back to bs 3 with our project...

[2018-11-11 15:37] seyah commented on #236
+1, I've just come across this issue, is there any update on a correction for this?

[2018-11-11 18:41] waynebrantley commented on #656
@AllenFang I see your online demo, but unsure what version that is built against.

Here is my example from above forked to use version 1.4.0 and you can see the state does change and the grid will not update at all.  Version 1.2.1 will update the data column but not the calculated one...1.4.0 not at all.

https://codesandbox.io/s/nvv87rx5l

If there is something wrong with the code or column defin

[2018-11-11 22:34] QuattroEngenharia opened #663 "Style is not working"
Hi,

    My table doesn't get any style.

import BootstrapTable from 'react-bootstrap-table-next';
import ToolkitProvider, { Search } from 'react-bootstrap-table2-toolkit';
import paginationFactory from 'react-bootstrap-table2-paginator';

const { SearchBar } = Search;

<ToolkitProvider
  keyField="txNref"
  data={ products }
  columns={ columns }
  search
  bootstrap4
  striped
  hover
  condense

[2018-11-12 09:59] Airboy commented on #384
Any news about the support for TypeScript of this very nice lib?

[2018-11-12 21:49] QuattroEngenharia commented on #663
I solve this issue importing bootstrap on index.html file

link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

[2018-11-13 02:31] zaweb commented on #663
Thank you! That worked.

On Mon, Nov 12, 2018 at 4:49 PM QuattroEngenharia <notifications@github.com>
wrote:

[2018-11-13 16:51] deathbird opened #664 "cellEditFactory, beforeSaveCell hook async, show error message inside cell on done(false)"
Hello, thanks for this excellent component!

I'm using
    "react-bootstrap-table-next": "^1.3.1",
    "react-bootstrap-table2-editor": "^1.2.1",

to display a datatable of Gettext translations with 2 columns msgid (translation key), msgstr (tranlsation text).

I use the cellEditFactory beforeSaveCell option to trigger an async request (as in this example https://react-bootstrap-table.github.io/re

[2018-11-13 20:37] rohankk2 opened #665 "Swap columns"
is there any way to change column order by dragging ?

[2018-11-13 21:38] YassienW commented on #662
The reason striped and bordered are not working is because you have to pass them to the `<BootstrapTable/>` component not the `<ToolkitProvider/>` like so:

`<BootstrapTable striped bordered { ...props.baseProps }/>`

As per [the documentation](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/toolkits-getting-started.html) you only need to move keyField, data, columns and bootst

[2018-11-13 21:41] zaweb commented on #662
I tried it that way but it didn't work.
What I ended up doing is adding "import 'bootstrap/dist/css/bootstrap.css'"
before the table2 CSS. Now it appears to work.
Thanks!

On Tue, Nov 13, 2018 at 4:38 PM Yassien <notifications@github.com> wrote:

[2018-11-13 21:57] YassienW commented on #662
Good to know you got it sorted. Out of curiosity, are striped and bordered working on `<ToolkitProvider/>` or did you have to move them to `<BootstrapTable/>` :stuck_out_tongue:

[2018-11-13 22:15] zaweb commented on #662
Seems to work fine in <ToolkitProvider />
Now that I have this working, I must say you've done a great job with
react-bootstrap-table2. It has saved me a lot of time; I love it!

On Tue, Nov 13, 2018 at 4:57 PM Yassien <notifications@github.com> wrote:

[2018-11-13 22:48] YassienW commented on #662
@AllenFang is the creator of react-bootstrap-table2 not me. I'm just helping around :)

[2018-11-13 23:16] zaweb commented on #662
Oops! But thank you too for your help. :-)

On Tue, Nov 13, 2018 at 5:48 PM Yassien <notifications@github.com> wrote:

[2018-11-14 11:33] jonrandahl opened #667 "Warning: Failed prop type: The prop `onFilter` is marked as required in `SelectFilter`, but its value is `undefined`."
I'm working on a set of component filters based on the filter examples in the docs and the storybook, namely the select filter examples found here: [Programmatically Select Filter](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybo

[2018-11-14 12:04] jonrandahl commented on #667
I'm working on a set of component filters based on the filter examples in the docs and the storybook, namely the select filter examples found here: [Programmatically Select Filter](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybo

[2018-11-15 07:33] yipivan commented on #601
faced the same problem here +1

[2018-11-15 15:29] AllenFang commented on #601
I will consider to fix this issue. Don't worry guys.. Currently, the workaround is you just map your data to different `dataField` name.

[2018-11-15 21:52] BlaineBradbury commented on #378
I don't think this is a duplicate issue to #297.  Your new example works, and does update the selected array onSelect, but both bgColor and style do not render if you setState in onSelect.  Can you add logic to your example to show bgcolor or style with backgroundColor if you indeed have it working.  thx

[2018-11-15 22:22] rohankk2 opened #668 "Is there any way to possible save text in a cell in a different format?"
Essentially i want to save tags for my rows. I have a column called tags and want to save save text in that column in this format:
<img width="139" alt="screen shot 2018-11-15 at 2 21 53 pm" src="https://user-images.githubusercontent.com/29401337/48585559-d7c38200-e8e1-11e8-9d87-f846ac144378.png">

[2018-11-16 13:58] victorkpublic opened #669 "onExpand called twice on click by expand column"
onExpand called twice on click by expand column - once on cell click and another one for row expand.

[2018-11-17 03:45] do-diegoortiz commented on #214
I have version 1.3.1 and it's still happening to me, but only when my BootstrapTable is inside a ToolkitProvider :sweat:

[2018-11-17 11:43] Anjlit commented on #381
Use the following CSS to Freeze the column

`.react-bootstrap-table table > tbody > tr > td:nth-child(1),
.react-bootstrap-table table > thead > tr:nth-child(1) > th:nth-child(1) {
background-color: #ccc;
position: sticky;
position: -webkit-sticky;
left:0;
z-index:1;
}`

[2018-11-18 05:13] AllenFang commented on #664
Sorry for lately reply, @deathbird you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Async%20Validation&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel).

[RELEASE NOTE)(https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/10/29/version-bump.htm

[2018-11-18 05:13] #664 closed

[2018-11-18 05:14] AllenFang commented on #665
@rohankk2 Sorry, I didn't consider this feature,  however, PR is welcome :)

[2018-11-18 05:19] AllenFang commented on #667
@do-diegoortiz thanks your answer.

Check [column.isDummyField](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnisdummyfield-bool)

[2018-11-18 08:04] jonrandahl commented on #667
Thanks for the feedback @do-diegoortiz and @AllenFang, I really appreciate your time to respond!

I've now tried both of your responses by
1. modifying the key in the json response to not have spaces:
[code]
and using the "new" key in the dataField:
[code]

which still throws both the load and event errors as noted in the OP so I'm not sure this is not still a bug?

2. Added the `isDUmmyField` pro

[2018-11-18 08:12] AllenFang commented on #624
@amsterdamharu  you can custom the these buttons via `firstPageText`, `prePageText`, `nextPageText` and `lastPageText`.

Check [doc](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html)

[2018-11-18 08:12] #624 closed

[2018-11-18 08:13] AllenFang commented on #624
Please tag me if you still dont know how to customize it, thanks

[2018-11-19 12:58] Mujaddadi opened #671 "Custom selection column"
Hi,
    Is there anyway to create custom selection column or is there any way to manipulate selection in column formatter. The problem is, I have two columns with JSON data and three columns with custom data created by using column's formatter property. When user click something in one custom column, I need to make the checkbox selected.

I tried using `selected: [0]` in selectRow by using selecte

[2018-11-20 15:12] anttiviljami opened #672 "Controlled <input> components lose focus on re-render inside expanded rows"
When you add a controlled input field component inside an expanded row, this happens:

![react-bootstrap-table-expand-input-bug](https://user-images.githubusercontent.com/6105650/48782307-974f7400-ece6-11e8-9d08-5dac7e6b2f6c.gif)

Looks like the entire &lt;tbody&gt;  DOM node gets re-created by React on every render of the BootstrapTable component.

Tried to look into it and my best guess is it ha

[2018-11-21 11:17] martinstarman commented on #629
I have the same problem. How to deal with this formatter, where cell is `type_id`
[code]
and types are fetched from API
[code]

[2018-11-21 13:38] xero88 opened #674 "date filter without comparators"
Is there a way to hide the comparator list with a date filter ?
I tried this, but it's not hidden :

`import {dateFilter, textFilter} from 'react-bootstrap-table2-filter';`

[code]

[2018-11-21 16:48] Gi972 opened #675 "I can't use event properties on onSelect's method"
Hello,

When I select a row , I try to have the event.currentTarget, but I can't because I have the following message:

Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `currentTarget` on a released/nullified synthetic event. This is a no-op function. If you must keep the original synthetic event around, use event.persist(). See ht

[2018-11-21 16:52] jkrawczyk commented on #629
Hi @AllenFang , here's an example of what I was trying to do - highlight alerted row using rowClasses and add alert icon using formatter: https://codesandbox.io/s/0xvw06wxpv. Unfortunately just like @Genarito I'm not able to dynamically change column formatting using row's data. I have a workaround using css but I'm not happy with that.

Does the usage of row's data counts as violation of

or this

[2018-11-22 02:35] AllenFang commented on #667
@jonrandahl would you please create an online example on https://codesandbox.io ?

here is an example: https://codesandbox.io/s/nvv87rx5l

[2018-11-22 04:00] do-diegoortiz commented on #667
That link solved my problem. :+1:
@jonrandahl problem seems to be different, so go ahead and config a codesanbox to show your code in "real life" and find the solution you're looking for.

[2018-11-22 07:02] depl0y commented on #656
I am having the exact same issue. Reverted back to 1.2.1 and the table began updating again.

[2018-11-22 10:44] jonrandahl commented on #667
@AllenFang thanks for reopening the issue! Here's a codesandbox as requested with the error I'm experiencing!

https://codesandbox.io/s/0qojzjl2qv

Let me know how I can help further and thanks once again for everything!

[2018-11-22 11:01] Moki76 opened #676 "Checkbox editor doesn't work on Safari"
Hi,

[Storybok checkbox example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Checkbox%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) doesn' not work on Safari (9.1 and newer). It is impossible to change the state of the checkbox.

Maybe the same issue as reported [here

[2018-11-22 11:30] Manishku99251 commented on #387
@Genarito updating dependencies worked like a charm  Thanks for the fix appreciate it.

[2018-11-23 06:05] ashishsable27 opened #677 "Is there any way to toggle(show/hide) columns dynamically?"
Hello Team,
I am looking for dynamically hiding/showing column which should  allow  user to select which columns they want to be visible.

[2018-11-23 06:35] ashishsable27 opened #678 "Export only Filtered rows without selection?"
Is there any way to export all the filtered rows without select box?

Example:
Total rows in table 10.
I am applying search filter on Name Column.
After applying search filter table shows 2 rows but when I click on export CSV contains all 10 rows.
Is there any way to export only those 2 rows without selection?

[2018-11-23 14:09] Gi972 opened #679 "expandColumnRenderer add parameter row"
Hello,

Sometimes, fews rows must don't to be expand.
It's possible to pass a row like parameter or un prop for determinate if is expandable or not?

On the version 1 the propertie isExpandableRow was used for that.

Thanks

[2018-11-24 08:33] AllenFang commented on #667
@do-diegoortiz  about your question, the sendbox is not create by myself, it's just a developer show me some issue via https://codesandbox.io . However, it's welcome to show your question via https://codesandbox.io.  Sometime, I just feel like it's much easy to understand everyone's question. Thanks

[2018-11-24 08:51] AllenFang commented on #667
@jonrandahl I think the issue you face is you have a type:

[code]

It should be `filter` instead of `filters`

[2018-11-24 09:14] AllenFang commented on #668
@rohankk2 sure, please check [column.formatter](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

[2018-11-24 09:14] #668 closed

[2018-11-24 09:56] jonrandahl commented on #667
@AllenFang, I can't believe I missed that! 🤔

It's working perfectly, thank you so much! 👍

On my dev instance, the external filter checkboxes are working as expected too! 🥇

If there's any way I can repay you for your time please do not hesitate to ask! 🙏

[2018-11-24 09:56] #667 closed

[2018-11-24 12:10] AllenFang commented on #669
thanks @victorkpublic , I will fix it.

[2018-11-24 12:15] AllenFang commented on #671
I think there's only one way is `selectRow.selected`.  This accept an "rowkey" array.

for example: following is my row data:

[code]

if you wanna make row 'A' and 'C' be selected,  you can do it like that:

[code]

[here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&

[2018-11-24 12:15] #671 closed

[2018-11-24 12:16] AllenFang commented on #671
Tag me if you still can not solve this issue.

[2018-11-24 12:19] AllenFang commented on #672
I will look into on it. Anyway, thanks!

[2018-11-24 12:29] AllenFang commented on #675
@Gi972  I will fix the issue about synthetic event problem.

I think it's impossible in current design.

[2018-11-24 12:31] AllenFang commented on #676
ok, currently the workaround is press space will allow u to check/uncheck the checkbox. I will take a look on this. thanks

[2018-11-24 12:32] AllenFang commented on #677
currently, we dont support this issue and it's a duplicated issue, I will consider to implement it in the future. thanks @ashishsable27

[2018-11-24 12:32] #677 closed

[2018-11-24 12:33] AllenFang commented on #667
Thanks @jonrandahl   a star for this repo is the best reward for me :)

[2018-11-24 12:35] AllenFang commented on #656
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/629

[2018-11-24 12:38] AllenFang commented on #629
@jkrawczyk  currently, performance is biggest concerns for me. So in current design, please don't use any external data or state.  if you have, please pass them via `formatExtraData`

[2018-11-24 12:40] AllenFang commented on #629
@jkrawczyk btw, current there's a bug probably about this. I will check this out and get back to you here. thanks

[2018-11-24 12:43] jonrandahl commented on #667
@AllenFang I've already starred the repo, let me know if I can help otherwise! I'm still embarrassed that I missed the extra 's' on the filter prop! #lookingatthecodetoolong

[2018-11-24 17:42] waynebrantley opened #680 "incorrect story"
The data does not have an ``onSale`` property in order to show the styling changes the demo is meant to show.

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-11-25 07:29] narayanchoudhary opened #682 "onFilter(filteredData)"
I have a table, in this table, there are two columns which display the class and height of the students, Now I want to display the sum of the heights of the students. When I filter the class column the table shows the data of students of the filtered class. Now I also want to show the sum of the height of the filtered students.

Basically, I want a callback function which takes the filtered data.

[2018-11-26 07:58] Mujaddadi commented on #671
@AllenFang I don't have `id` field in data, the id is called `serviceId`, which I tried selecting but didn't work. It will be good if we pass the selection handler into any of the call back functions of columns.

[2018-11-26 08:18] stsiushkevich opened #683 "[Customize pagination] Ability of setting an icon for Prev/Next buttons"
Hello! At this moment there is no ability to set an icon to Prev Next page buttons.

![image](https://user-images.githubusercontent.com/12151060/49001016-723a8580-f16c-11e8-8f43-112b5380c772.png)

We can change only a text, but if there is a custom design such ability is useless. Please, could you add an ability to set custom icons into this buttons? Like this:

![image](https://user-images.github

[2018-11-26 12:17] robowen5mac opened #684 "Add callback when editing on cell canceled"
In version 1.2.2 of react-bootstrap-table2-editor, it is possible to be notified when a cell enters the editing state using onStartEdit. However, if blurToSave is set to false, there is no way to determine that editing was cancelled when the user clicks away from the editing cell and the cell transitions back to a non-editing state. It would be very useful to have a onEditCancel (or some other app

[2018-11-26 12:18] buianhthang commented on #612
@mkwenzel this one work for me
[code]

[2018-11-27 08:53] dilushi opened #685 "expandRow - Load data in specific columns instead of entire row"
Hi @AllenFang,
This is regarding expand row feature of react-bootstrap-table2.
When expanded a row, currently it shows the data in entire row.
Is it possible to display data in specific columns when expanding the row?

In runtime, expanded row is like this.
<tr class="expanding-row"><td colspan="8">

Is it possible to override this colspan or load data in specific columns?
Appreciate any support o

[2018-11-27 09:12] Moki76 commented on #676
Ok, thanks for the tip.

[2018-11-27 12:27] dilushi opened #686 "formatter - Load nested json objects using 'formatter' column property"
Hi @AllenFang,
I have an issue in loading nested json objects in react-bootstrap-table2. So I tried to load nested data using 'formatter' property as below. But unable to load data. I'm getting an error.

Json:
"network": {
            "hostname": "AJDNKJSN",
            "ipv4Addresses": [
                "10.198.111.10"
            ],
            "ipv6Addresses": []
        }

formatter:
myFormat

[2018-11-27 14:52] AllenFang commented on #678
@ashishsable27   check [exportCSV.exportAll](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/export-csv-props.html#exportcsvexportall-bool).

Please tag me if this issue still remain, thanks

[2018-11-27 14:52] #678 closed

[2018-11-27 14:53] AllenFang commented on #680
thanks @waynebrantley I will fix it :)

[2018-11-27 15:13] AllenFang commented on #679
@Gi972 sorry for lately reply, I think you can try [expandRow.nonExpandable](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrownonexpandable-array).

Please tag me if above solution can not solve your question, thanks!

[2018-11-27 15:13] #679 closed

[2018-11-27 15:14] AllenFang commented on #683
@stsiushkevich I'm working on improving the ability for customization on pagination. it's coming soon :)

[2018-11-27 20:19] waynebrantley opened #687 "Key"

[2018-11-27 20:23] waynebrantley commented on #441
@AllenFang It seems you now offer this functionality out of the box - issue should be closed.

@michaelwschultz You can just make it a [dummyField](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnisdummyfield-bool) and supply any ``dataField`` name you want an a column formatter to show whatever you need.

[2018-11-27 20:59] waynebrantley opened #688 "KeyField enhancement suggestion"
- Sometimes the data that comes back from the server has no suitable key.  https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/166 (Like data from several different sources in one result, etc).   the table requires a keyField.  So, what happens is I create an extra field in my object, do a map operation on it to set the keyFields to a simple rowIndex number:
[code]
- Sometimes t

[2018-11-28 05:23] #686 closed, assigned to nobody

[2018-11-28 12:49] JediYozh commented on #214
I have the same problem...

[2018-11-28 13:04] stsiushkevich commented on #683
I'm looking forward to it!)

[2018-11-28 15:22] depl0y commented on #656
@AllenFang As I am seeing it, these are two different problems. This one is about the whole table not rerendering when the data is being updated. I use no state data in my column formatters, but use the state as a datasource for the table itself.

[2018-11-29 11:15] mak28031991 commented on #477
This is my code and I am still getting the same warning. tableData length is always more than zero.

var tableData =[]
          if(this.props.data!=null){
            tableData = this.props.data
          }
sizePerPageList: [{
              text: '5', value: 5
            }, {
              text: '10', value: 10
            },
            {
              text: 'All', value: tableData.length

[2018-11-29 21:51] mkwenzel commented on #550
Hi @paulalcabasa were you able to figure out how to make this work? I'd like to do the same thing in my code!

[2018-11-29 22:20] mkwenzel commented on #550
Update for anyone else who might be looking how to do this:

1. Set CSS property "visibility" to "hidden" on the following 3 styles: column, column header, filter.
2. Set style height for filter to 0px
3. Set style width for column to 0

Works like a charm! See code below for example (places to set CSS are marked with double *).

[Link for more info about CSS visibility](https://allyjs.io/tutorial

[2018-11-30 02:44] vwen01 opened #689 "Styling filters"
![image](https://user-images.githubusercontent.com/19830762/49265354-9ffa3400-f4b6-11e8-8484-97d70ed8e428.png)

Hey, I've been trying to make the numberfilter appear inline but cant seem to figure out how its done. In the example above I want the >= and 0 boxes to appear on the same line. How would this be possible?

[2018-11-30 03:51] vwen01 opened #690 "comparator.ne in selectFilter"
![image](https://user-images.githubusercontent.com/19830762/49267579-18192780-f4c0-11e8-869d-bcda3c5ef631.png)

it seems like the Comparator.ne is not working in the above case, it keeps defaulting back to Comparator.EQ in my case?

[2018-11-30 20:04] jbp17 opened #692 "Turn on and off the editor dynamically"
I have two access groups, one can view only and the other has full access to edit the table.  Is it possible to use the same table, turn on and off the editor feature based on the access group?  If so, how?

Thanks,

[2018-12-01 05:08] rohankk2 opened #693 "Is it possible to edit multiple rows together ?"
Suppose I select 10 rows is It possible to edit one one column of all those rows together ?

[2018-12-01 05:30] AllenFang commented on #682
@narayanchoudhary currently, we dont support the table sum feature, so you have to do it by yourself.  in the `onFilter` listener, you can get the filtered data so that i think you are able to do more advance calculation, like sum etc.

Please tag me if my answer is not helpful to you, thanks

[2018-12-01 05:30] #682 closed

[2018-12-01 05:34] AllenFang commented on #684
@robowen5mac I see, I will consider to add a new listener for this case: `onEscapeEdit` ASAP, thanks

[2018-12-01 05:37] AllenFang commented on #685
@dilushi currently, we don't support this feature, so PR is welcome, thanks

[2018-12-01 05:37] #685 closed

[2018-12-01 05:38] #687 closed

[2018-12-01 05:54] AllenFang commented on #688
@waynebrantley thanks for your proposal, yeah, currently, I am also want to enhance the key mechanism in table. I think generate automatic increase number is much easier solution so far.

however, i have a question about:

Can you explain it more?  You mean if this table have three columns, and I call all of the `column.formatter` then combine the result of them as the row key?

[2018-12-01 06:01] AllenFang commented on #689
@vwen01 i think it should be inline, you can check the [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Number%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

Currently, we only allow you to custom the filter but not for re-arrange the position of filter's co

[2018-12-01 06:01] #689 closed

[2018-12-01 06:04] AllenFang commented on #690
@vwen01 yes, currently we only support EQ and LIKE, I will add NE ASAP, thanks 👍

[2018-12-01 06:08] AllenFang commented on #692
@jbp17 we support different editable level, you can check it more in [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#editable-cell)

Following is some examples:

[Row level editable](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Row%20Level%20Editable&full=0&addons=1&stori

[2018-12-01 06:08] #692 closed

[2018-12-01 06:10] AllenFang commented on #693
@rohankk2 sorry, we didn't have this feature currently, this will involve complicated state management when implement, so we didn't consider to implement this feature so far. However, any PR is welcome, thanks 👍

[2018-12-01 06:10] #693 closed

[2018-12-01 16:04] waynebrantley commented on #688
@AllenFang What I am saying is there will only be one column defined with ``isKeyField=true``.  So, you locate a column with that setting and that will be the column you call the column formatter to get the key.  You will call the same code you normally do - for example, the column may not have a formatter and will just have a ``dataField`` - so you would use that....same logic you use when gettin

[2018-12-01 16:07] waynebrantley commented on #544
@jbp17 We implemented them ourselves in the grid, using column formatter to conditionally display an edit field, etc.  Works nicely.

[2018-12-01 16:08] waynebrantley commented on #656
@AllenFang Any update on this issue?  Were you able to reproduce it (as your demo works, but the sandbox I attached does not)?

[2018-12-02 07:03] arielshad opened #694 "Custom Editor not triggering blur"
Clicking outside the table / on another custom editor dosen't trigger the on blur event
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

![Image from storybook](https://i.imgur.com/4YshcT5.png)

[2018-12-02 07:13] AllenFang commented on #656
@waynebrantley sorry i am too busy recently, I will work on this issue today, hope I can fix it ASAP.  Thanks :)

[2018-12-02 07:30] AllenFang commented on #656
@waynebrantley just a solution if you replace `toggleInStock` function as below

[code]

set a new `gridData` reference will solve this issue.

[2018-12-02 07:38] AllenFang commented on #656
Don't try to modify the origin row data, actually, your data will also become a state in table, if you modify the data correctly, will cause we have an incorrect comparison on row data.  Every time, your row data change, please reassign a new array.

https://redux.js.org/recipes/structuringreducers/immutableupdatepatterns#updating-an-item-in-an-array

[2018-12-02 07:38] #656 closed

[2018-12-02 07:40] AllenFang commented on #656
After `1.3.0`, I had some changes on how compare the row object, so I believe if you follow redux's Immutable Update Patterns, you won't have this issue again.

Please tag me if you still feel this is an issue from `react-bootstrap-table-next`.

[2018-12-02 07:43] AllenFang commented on #656
@depl0y  @jcrew   ⏫ ⬆️

[2018-12-02 07:46] #652 closed

[2018-12-02 09:54] AllenFang commented on #688
@waynebrantley I see. however, I think there're few side effect:

* if there're same result of column.formatter, we will in trouble and It did happen, but I think developer know that and hopefully they will not add `isKeyField` in a non-unique column lol

* sometime, the result from column.formatter is not like a simple string, it's can a react element or a complex dom structure.

This can be a go

[2018-12-02 14:04] narayanchoudhary commented on #682
Thanks, @AllenFang But I am still unable to figure out how to get the filtered data. Can you please show me a reference in the storybook or somewhere.
Thanks.

[2018-12-02 14:04] narayanchoudhary commented on #682
Thanks, @AllenFang But I am still unable to figure out how to get the filtered data. Can you please show me a reference in the storybook or somewhere.
Thanks.

[2018-12-02 14:35] arielshad commented on #694
Solved it by wrapping the editor component with https://github.com/airbnb/react-outside-click-handler
and triggering onUpdate function when clicking outside, if there is another solution or fix I would be more than happy to know

[2018-12-03 06:17] resistancecanyon commented on #231
I'm also not able to update columns with dynamic data in the formatter: functions of column definition.
Each time state gets updated the column formatter: functions were never run

[2018-12-03 07:36] resistancecanyon commented on #231
@JohnVLinton  It is possible to do so.. formatters: are pure functions and you need to pass external state data using `formatExtraData` along with `formatter`
please check doc below
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatextradata-any

[2018-12-03 13:57] waynebrantley commented on #629
@jkrawczyk What is not documented yet is that the grid needs you to treat the data as immutable, much like redux requires.  This way it knows what to redraw, etc.  I have modified your example not to directly mutate state and it works as expected.  https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/656#issuecomment-443488050

https://codesandbox.io/s/v8pz48rl30

[2018-12-03 13:57] waynebrantley commented on #656
@AllenFang thanks for getting to the bottom of this.  Did not realize this pattern needed to be followed.  Suggest you make big notes about this in the docs, this will trip up lots of people at first.

[2018-12-03 14:02] waynebrantley commented on #688
@AllenFang for your side effects

- yes, agree the developer is responsible to see that the key column yields a unique value.  No different than today.
- yes, agree normally a formatter can return anything, but in the case of a key - it should return a simple string.

I think these will be great improvements to your awesome component!

[2018-12-03 14:19] jbp17 commented on #692
@AllenFang Thank you for your response.  They won't solve my problem.  What I am looking for is easy way to turn on and off table-level editable or not based on Windows credential or AD group.  Is there any switch to do that?

Thanks,

[2018-12-03 20:51] rohankk2 commented on #291
You can just add the one line css.
.react-bootstrap-table{
overflow-x:auto !important;
}

[2018-12-04 10:54] sudhirshakya opened #695 "Custom Date and List Filters"
I need a couple of advanced filters where users would enter starting and ending date and all dates within this range would be filtered.
Another advanced filter I use is where user the data in the cells are list of strings. Cells are displayed if the selected value matches one of the values in each cell.
With react-bootstrap-table, I created custom React components to handle this. It seems that is

[2018-12-04 13:20] eylonronen opened #696 "Sticky columns"
Hi,
Could you please add a feature for sticky columns?
We use a column for buttons and want it to be on the right, but when we show a lot of columns it gets pushed aside.
You can check out fixed columns example in this page for better understanding:
https://ant.design/components/table/

[2018-12-04 15:52] vinzentt opened #697 "nonExpandable behaviour"
Hi all,

I'm trying to use the nonExpandable argument to prevent certain rows from being expanded. My problem is that the nonExpandable is only working with the expandAll header icon.

Here is my code inside storybook

[code]
So here here the expandColumn is still shown with an expand indicator for columns 1 and 3, and when clicking on it, the rows are being expanded. Is this the expected behaviou

[2018-12-04 16:39] vinzentt commented on #697
So in my opinion, there should not be an expand indicator on nonExpandable rows, and clicking on the expand indicator cell should have no effect. I did this PR https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/698 to achieve this. Tell me if it needs some modifications.

Thanks

[2018-12-05 14:58] sgwcollins commented on #683
@AllenFang Hey! any update on the customization of the pagination

[2018-12-05 15:06] AllenFang commented on #682
@narayanchoudhary  you can use exposed API to get current data which displayed on table:
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html#get-current-display-rows

[2018-12-05 15:07] AllenFang commented on #692
@jbp17 we dont support this kind of toggle, but if you wanna turn off the cell editing, just dont give the `cellEdit` prop on `BootstrapTable`

[2018-12-05 15:09] AllenFang commented on #656
@waynebrantley ok, Will do this, 👍

[2018-12-05 15:10] AllenFang commented on #683
@stsiushkevich It is stil WIP.  Hope I can finish it in the end of this year

[2018-12-05 15:11] AllenFang commented on #688
Cool, I will consider these suggestion more than find a time to implement it!  Thanks so much 👍 @waynebrantley

[2018-12-05 15:30] #669 closed

[2018-12-05 15:30] #675 closed

[2018-12-05 15:30] #680 closed

[2018-12-05 15:33] AllenFang commented on #675
@Gi972 fixed on `react-bootstrap-table-next@1.4.2`

[2018-12-05 15:33] AllenFang commented on #669
@Gi972 fixed on `react-bootstrap-table-next@1.4.2`

[2018-12-05 15:35] AllenFang commented on #696
@eylonronen we are working on fixed header: https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/645

However, we dont have plan for sticky column. PR is welcome, thanks

[2018-12-05 17:37] Mujaddadi opened #700 "table-layout is fixed"
Any idea why the table layout property is fixed? It made table overgrow the smaller screen size. Although I can overwrite it, just wanted to confirm the purpose of it.
[code]

[2018-12-05 17:41] #700 closed

[2018-12-05 17:41] Mujaddadi commented on #700
Fixed by changing some of my styles.

[2018-12-05 19:17] mjmitoff2290 commented on #656
@waynebrantley Did mapping the data into a new object and resetting the state with that object fix the issue for you?  I've tried this approach as well as cloning the object and making the updates and resetting the state and yet I am still getting the same issue.  My code does re-render the table in version 1.2

[2018-12-06 00:04] sgwcollins opened #701 "expandColumnRenderer not returning rowKey"
I hope this is an easy change but can you make the expandColumnRenderer return the rowKey it would help a ton I tried to make a pull request but i didnt have the permission so it might just be easier to open up an issue here is how far i got and it seemed to work
`react-bootstrap-table2/row-expand/expand-cell.js`

` render() {
    const { expanded, expandColumnRenderer, tabIndex,rowIndex } = this.

[2018-12-06 00:05] sgwcollins commented on #701
@AllenFang

[2018-12-06 12:33] stsiushkevich commented on #683
Ok!)

[2018-12-06 13:39] lindsejs commented on #357
1. Fixed table header can be done with css, e.g.:
    .react-bootstrap-table {
        flex-grow: 1;
        overflow: auto;
        min-height: 2em;
        thead th {
            position: sticky;
            padding: 0.3em;
            top: 0;
            background: mix($primary, #eeeeee, 30);
            z-index: 10;
            outline: 1px solid #c8ced3;
            border:none;

[2018-12-06 15:42] AllenFang commented on #694
hi @arielshad sorry for lately reply, if you have a custom editor, you have to add `onblur` event on your component. `react-bootstrap-table2` will pass `onBlur` callback for you:

[code]

Thanks

[2018-12-06 15:42] #694 closed

[2018-12-06 19:30] roneymaia opened #702 "React-bootstrap-table2-toolkit - csvExport - encoding"
Hi,
I'm having a problem exporting the csv file. What happens is that the encode of the file is coming as UTF-8 and when opening in excell the characters are inregular form.

Is there any way to specify the encode of the file ?

[2018-12-07 08:44] technomanuj opened #704 "Show column in editable mode when select a row"
Hi,
I have just started using react-bootstrap-table2. This table has a lot of good features. I need help to implement a custom functionality.

Here is my question.
[1] Is it possible that when select a row, then automatically those columns should be shown in editable mode whose editable property is true? Currently I have to do click or double click on that column to bring it in editable mode, that

[2018-12-07 16:07] sgwcollins commented on #36
@AllenFang is this feature implmented

[2018-12-09 02:10] patrickmillerson opened #706 "onSelect and onSelectAll"
I think there should be an unSelect and unSelectAll event in stead of only onSelect and onSelectAll.

[2018-12-09 06:17] AllenFang commented on #697
@vinzentt I will check this out, thanks!

[2018-12-09 08:14] AllenFang commented on #695
@sudhirshakya it's not implemented yet.

[2018-12-09 08:31] AllenFang commented on #702
@roneymaia  I will try to fix this issue, thanks!

[2018-12-09 08:46] AllenFang commented on #704
I think you already know to use `clickToEdit` which mean when you click on row, the clicking target cell will also become editable if it's editable!. however, we don't support the edit a cell when you click on selection's checkbox or radio button.

I think we will support the external cell edit management, however, it's not in my plan so far.

[2018-12-09 22:51] vwen01 opened #707 "Format Column Date"
Is there a built in way to format the cell data that comes in as a number with a large amount of decimal places to dollar format $.$$, or does this need to be done via javascript?

[2018-12-10 08:01] Mujaddadi commented on #672
Same issue

[2018-12-10 22:13] mkwenzel commented on #612
Hi @AllenFang I have still not been able to get this to work!

It occurred to me that maybe I'm wording this incorrectly and that's why people are suggesting that I use "nowrap" when it does not achieve what I want.

When I use
`{ dataField: 'id', text: 'Id', style: {'white-space': 'nowrap'} }`

It renders and looks like this where the text of the column that I am using "nowrap" on runs over the t

[2018-12-11 03:22] aldrinpvincent opened #708 "How can I modify the state from the column event?"
I want to change the state on a column event, How can I do that? Is there a way to pass the column event handler as props like row events?

[2018-12-11 11:16] akparaliev opened #709 "is any way to unselect values that were filtered out by filterFactory?"
I use state, selectRow and customFactory

[2018-12-11 11:51] Mujaddadi commented on #672
I have similar issue. But mine is in not in expanded rows but normal cell column. When I add control component with the `selectRow` property. it works. When I add it, it shows similar behavior as above.

[2018-12-11 12:45] OSadd opened #710 "Get rowIndex from Cell Button"
I am trying to delete a row of the table using a button in a column. I want to pass the rowindex to delete it, but not sure how to do this?

<Button     onClick={(e) => this.Deleterow(**rowIndex**)}>>
          </Button>

[2018-12-11 15:02] amsterdamharu commented on #672
Demo of this behavior: https://codesandbox.io/s/github/amsterdamharu/bootstrap-table-extend-bug

[2018-12-11 15:22] AllenFang commented on #706
right now, we only implement onSelect and onSelectAll and not much critical issue there, I think your suggestion is make sense but it will be a major change, so i think so far I will do any change on this. thanks 👍

[2018-12-11 15:22] #706 closed

[2018-12-11 15:34] AllenFang commented on #707
@vwen01 we dont have this built in feature but you can customize it by yourself via [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function)

[2018-12-11 15:34] #707 closed

[2018-12-11 15:35] AllenFang commented on #708
@aldrinpvincent sure, please check [`column.events`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnevents-object)

[2018-12-11 15:35] #708 closed

[2018-12-11 15:37] AllenFang commented on #709
can you explain your requirement more detail? you mean you want to unselect all rows which is filtered out? How you want to unselect? do it after filtering or click some button?

[2018-12-11 15:39] AllenFang commented on #710
i think if you use [`column.formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) to custom you column, the `column.formatter` already pass the `rowIndex` to you:

[code]

[2018-12-11 15:39] #710 closed

[2018-12-11 15:40] AllenFang commented on #710
Just take care the `this`

[2018-12-11 15:40] AllenFang commented on #710
tag me if you still have any question, thx

[2018-12-11 15:42] akparaliev commented on #709
I have this configuration      ```
const selectRow = {
        mode: 'checkbox',
        selected: this.state.selectedIds,
        onSelect: this.HandleOnSelect,
        onSelectAll: this.HandleOnSelectAll,
      };
[code]
HandleOnSelect = (row, isSelect) => {
      if (isSelect) {
        this.setState(() => ({
          ids: [...this.state.ids, row.id]
        }));
      } else {
        this.se

[2018-12-11 15:55] AllenFang commented on #702
@roneymaia could you please add [exportCSV.noAutoBOM](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/export-csv-props.html#exportcsvnoautobom-bool) as `false`?  thanks

[code]

[2018-12-11 16:56] OSadd commented on #710
Thanks Allen.

To delete a row, I need a reference to the table {data} to update the state, I'm not sure how this would work using formatter?

[2018-12-11 17:30] aniov opened #711 "Hide table row"
Hello,
Is there a way I can hide a row?
I need the data to be inside the table, but some rows I don't want to be displayed
(for example let's say row % 2 === 0).

Thank you.

[2018-12-11 17:40] roneymaia commented on #702
Thanks @AllenFang . I did not know that MS Excel needed the byte order marker with UTF-8.

[2018-12-12 03:00] asolvent opened #712 "How to: Add more options in selectFilter once table is rendered?"
Hi,

Is there a way we can add more options in the select filter drop down once it has been rendered?

Thanks

[2018-12-13 04:51] do-diegoortiz commented on #710
I think you can update the state in the function you're calling in the button, in this case, `Deleterow`. Probably the [formatExtraData](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatextradata-any) could be useful for you too

[2018-12-13 09:17] OSadd commented on #710
I had columns defined outside the class. Moving inside, allowed the table to be in scope with the formatter callback.

[2018-12-13 15:31] AllenFang commented on #702
Cool @roneymaia, so no auto BOM can save your issue?!

[2018-12-13 22:37] Jatapiaro opened #713 "Is there a way to add a custom column?"
I need to add an extra column to render some actions for each element in my table. Is there a way to achieve that? I cant find something related to that on the docs.

[2018-12-14 06:05] chandanaccure opened #714 "Pagination position option not available"
Pagination position option not available. by default the pagination always appears at bottom. It should provide a option to select `bottom|top|both`

[2018-12-14 18:43] rohankk2 opened #715 "detect filter"
Is there any way to detect that a filter has happened in the table ?
I need to link the current data in the table to another component dynamically. As soon as table data changes the data in the other component should change.

Thanks,
Rohan

[2018-12-16 00:43] roneymaia commented on #702
Yes. Thanks a Lot.

[2018-12-16 00:43] #702 closed

[2018-12-17 09:10] technomanuj commented on #704
Ok Allen , No problem. I will try to find other way to solve my problem.

[2018-12-17 09:10] #704 closed

[2018-12-17 12:21] AllenFang commented on #709
Sorry, I still can not get your point...

[2018-12-17 12:21] AllenFang commented on #711
@aniov you dont have this feature, I will implement it ASAP, thanks

[2018-12-17 12:22] AllenFang commented on #712
@asolvent did you try to add options dynamically?

[2018-12-17 12:23] AllenFang commented on #713
@Jatapiaro use dummy column -> [column.isDummyField](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnisdummyfield-bool)

Please tag me if you still have any questions, thanks

[2018-12-17 12:23] #713 closed

[2018-12-17 14:16] jkrawczyk commented on #629
@waynebrantley I believe that in my example the data was immutable thanks to spread operator. Actually in your example it's not working as expected because there is still no `[ALERT-ICON]` which should appear along with the row highlight - rowClasses works fine but column formatter does not.

@AllenFang Can you look at examples above? I believe that both follow Immutable Update Pattern and were be

[2018-12-18 10:41] shahrianowshad commented on #459
@dwalsh01  can you share your solution ? I am having the same problem.

[2018-12-18 10:56] senthilmca90 opened #716 "How to display text limit in table"
Hi, I installed `react-bootstrap-table-next` npm new version. how can i display limited text. because table row lot of unwanted space. anyone can help me.

![image](https://user-images.githubusercontent.com/14997781/50149227-96f3ca00-02e0-11e9-8cdf-7e61d9e97ed3.png)

the output look like this.

[2018-12-19 08:25] akparaliev opened #717 "defaultSorted by two columns is not work"
[code]
the 'field2' column is not ordered #

[2018-12-19 14:53] AllenFang commented on #714
@chandanaccure I'm working on improving the customization on pagination, it's coming soon

[2018-12-19 14:55] chandanaccure commented on #714
Hi @AllenFang If you want some help in managing this repository let me know. I would like to contribute.

[2018-12-19 15:01] AllenFang commented on #715
@rohankk2 current, we didn't support a filter hooks function, so I will implement it soon. if we have a post filter hooks function, you can know there's some filters changes the get the newest data to your another component.

Thanks

[2018-12-19 15:05] AllenFang commented on #714
@chandanaccure sure,  i really need some people can join me for a long time contribution. I can not give you the money but you can get the credit on your contribution board lol

I need a developer who is strong on react/redux and css, if you are good, feel free to join me.  `reacct-bootstrap-table2` has a huge code base, you can try to read it firstly when you are interesting. that's always first

[2018-12-19 15:10] AllenFang commented on #716
it's a default behavior, you can try to add some css via [column.style](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function) or [column.classes](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnclasses-string-function) like:

[code]

[2018-12-19 15:10] #716 closed

[2018-12-19 20:56] FishyStacy commented on #279
Do you have a timeline for implementing this feature?
Thank you!

[2018-12-20 01:54] heheicc opened #718 "How to set the page number?"
There is a button that if I click it,I can get the latest data from server.(search function )
But if I use pagination,it doesn’t work .
If I move to the other page(for example:5),when I click the button ,the table shows no data.
In fact,the data is on the first page,but the page number still in 5. How to fix it?

[2018-12-20 07:00] #718 closed

[2018-12-20 10:45] dwalsh01 commented on #459
What I did at the time was use react-csv and implemented an export button that got passed the data via props.

so basically like this roughly:

`
<page>
<export data={data}/>
<table columns={columns} data={data} />
</page>
`

I styled the button to then just sit above the table.

Hope it helps

[2018-12-20 13:17] B-R-Bender commented on #226
No, you could use anonymus function declaration. Or any other you may like.

[2018-12-20 13:54] the-yadu opened #719 "Column header hides but not columnBody or columnData"
Upon storing column info in state and then updating a column's hidden attribute on click of a button  only hides the columnHeader and not the columnData.

The state is mutating properly as the columnHeader is hiding as expected.

[code]
 above code shows both columnHeader and columnData correctly but upon mutating hidden to true on click of a button only hides the columnHeader.

[2018-12-20 15:34] jkrawczyk commented on #629
@waynebrantley As I said your example doesn't work correctly either because `[ALERT-ICON]` string does not show up :) Spread operator in my example creates a copy of an array what is explained here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax#Copy_an_array

[2018-12-20 20:14] amad-aleem123 opened #720 "Search and Sort not working"
A few days ago table search and sorting was working just fine. but now suddenly it stopped to work. IDK why its happening. I tried to reinstall it but still nothing, kindly help.
Versions using,
        "react-bootstrap-table-next": "^1.4.2",
        "react-bootstrap-table2-toolkit": "^1.1.1"

[2018-12-20 21:50] JenniferMarston commented on #226
Hi.  I'm just starting to use the component, but the proposed does not work if we want the table to be responsive.

[2018-12-20 22:47] kmb266 commented on #620
Update here?

[2018-12-21 08:49] #701 closed

[2018-12-21 08:49] #711 closed

[2018-12-21 08:53] AllenFang commented on #697
@vinzentt fixed in `react-bootstrap-table-next@1.4.3`

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/21/version-bump.html

[2018-12-21 08:53] #697 closed

[2018-12-21 08:53] AllenFang commented on #711
@aniov fixed in `react-bootstrap-table-next@1.4.3`

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/21/version-bump.html

Check this: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#hiddenrows-array

[2018-12-21 08:54] AllenFang commented on #701
@sgwcollins   fixed in `react-bootstrap-table-next@1.4.3`

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/21/version-bump.html

Check this: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandcolumnrenderer-function

[2018-12-21 13:04] akparaliev opened #722 "isDummyField is not working"
My code:
[code]
inside of ToolkitProvider is not work,
and my columns desc:
[code]
I changed on save some another column, and it updated successfully, but console.log was not caused
P.S. bugs bugs bugs everywhere!

[2018-12-21 13:19] #722 closed

[2018-12-21 20:54] anuragb26 commented on #214
I am facing same issues in 1.4.2
`export const INSTANCE_DATASET_COLUMNS = [
  {
    dataField: 'id',
    text: 'required',
    hidden: true
  },
  {
    dataField: 'instance_id',
    text: 'Instance ID',
    headerClasses: 'instance-dataset-table__header-cell',
    classes: 'data-cell--first instance-dataset-table__data-cell'
  },
  {
    dataField: 'dataset',
    text: 'Dataset Name',
    headerC

[2018-12-21 23:32] rushtokunal commented on #677
@AllenFang - Toggle column visibility is highly desired so that user can select the columns they are interested in viewing

[2018-12-21 23:39] rushtokunal opened #723 "Enable Column visibility toggle out of the box"
Toggle column visibility is highly desired so that user can select the columns they are interested in viewing. We are also planning to save the user's preference in the database so that in future when they log back in we can give them their preferred view. If this feature is not supported now or is not going to be implemented in near future could you please help with an example to implements it pr

[2018-12-22 17:11] jafwatt opened #724 "Column formatter called in infinite loop when checkbox selection enabled"
I've only just started using this component but I like it a lot.  Unfortunately I've already encountered an issue where my column formatter function is getting called in an infinite loop.  This only happens when I enable row selection.

Here's my render method:
[code]
Here's my column formatter function:
[code]

I can provide a screenshot of my browsers console showing the `workPackageSkillsetForm

[2018-12-23 07:27] hirenvadalia opened #725 "expand row fails if nonExpandable key is not present in expandRow"
See https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Expand&selectedStory=Basic%20Row%20Expand&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

And click on 0 in Product Id and check Action Logger

Looks like the problem is at https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packa

[2018-12-23 11:40] AllenFang commented on #725
@hirenvadalia it's a new bug cause by newest release, I will fix it ASAP

[2018-12-23 11:48] AllenFang commented on #724
@jafwatt what version you used?  I can not reproduce this issue, can you make sure your component if have a rendering loop? If ok, please give me a simple and minimal example on codesandbox.io

Thanks

[2018-12-23 11:51] AllenFang commented on #724
@jafwatt I can not reproduce this issue, can you give me a simple and minimal example here or codesandbox.io?  In addition, what is **when checkbox selection enabled**, you mean you have `selectRow` with multiple selection? Please give me more information,. thanks

[2018-12-23 11:55] AllenFang commented on #723
I will implement it in the future.

[2018-12-23 11:59] AllenFang commented on #720
Hello @amad-aleem123 you information is not enough for me to reproduce your issue, Itry to reproduce but I can not make it. please write more information and give me a simple or minimal example here or on the codesandbox.io.

I will reopen this issue until you know how to give people enough information, thanks.

[2018-12-23 11:59] #720 closed

[2018-12-23 12:19] hirenvadalia commented on #725
Thanks @AllenFang, looking for next release as I am badly blocked by this issue.

[2018-12-23 12:29] #725 closed, assigned to nobody

[2018-12-23 12:32] AllenFang commented on #725
@hirenvadalia fixed in `react-bootstrap-table-next@1.4.4`. Sorry about this accident

[2018-12-23 13:15] hirenvadalia commented on #725
Thanks for quick response, much appreciated, please keep it up.

[2018-12-23 14:53] amad-aleem123 commented on #720
I don't have anything else to tell. I just know everything was working absolutely fine, then suddenly it stopped working. Kindly tell me what more information you want so I can elaborate.

[2018-12-23 14:55] amad-aleem123 commented on #720
If you still don't understand my problem, then let me share my screen with you on Skype.

[2018-12-24 03:21] #717 closed, assigned to nobody

[2018-12-25 15:48] AllenFang commented on #714
@chandanaccure we have new release -> [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html)

Please read this [DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#customization) to learn how to custom pagination component and also check some online [DEMO](https://react-bootstrap-table.github.io/r

[2018-12-25 15:48] #714 closed

[2018-12-25 15:49] AllenFang commented on #683
@chandanaccure we have new release -> [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html)

Please read this [DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#customization) to learn how to custom pagination component and also check some online [DEMO](https://react-bootstrap-table.github.io/r

[2018-12-25 15:49] #683 closed

[2018-12-25 15:50] AllenFang commented on #651
@unski11ed we have new release -> [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html)

Please read this [DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#customization) to learn how to custom pagination component and also check some online [DEMO](https://react-bootstrap-table.github.io/react

[2018-12-25 15:50] #651 closed

[2018-12-25 15:52] AllenFang commented on #640
@mwesthelle we have new release -> [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html)

Please read this [DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#customization) to learn how to custom pagination component and also check some online [DEMO](https://react-bootstrap-table.github.io/reac

[2018-12-25 15:52] AllenFang commented on #462
@mwesthelle we have new release -> [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html)

Please read this [DOCS](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#customization) to learn how to custom pagination component and also check some online [DEMO](https://react-bootstrap-table.github.io/reac

[2018-12-25 15:52] #462 closed

[2018-12-25 17:54] phen0menon opened #728 "Is there any way to animate expanding row?"
Hi, I need to animate expanding row by slideDown animation. Is there any way to do it?
[code]

[2018-12-26 04:30] hirenvadalia opened #729 "props type mismatch for SizePerPageOption"
I am getting below warning in paginator (2.0.0)
[code]
Looks like the problem is at https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-paginator/src/size-per-page-dropdown.js#L74

I think instead of `{...option}` it should be `page = {option.value}` as SizePerPageOption has only 4 props and while using default option renderer it is passing a

[2018-12-26 10:06] dilushi commented on #230
Hi @AllenFang , is there any update on fixed header feature in react-bootstrap-table2 ?
Or any workaround that we can try?
Thank you.

[2018-12-26 11:52] senthilmca90 commented on #716
@AllenFang Thanks. It's works fine

[2018-12-27 10:33] YuliyaAstakhova opened #730 "how to set index of column for row expand indicator"
By default we have expand indicator for rows at the first column of table. But according to design I need set another column for this purpose. How can I do that?

[2018-12-27 12:56] shmbar opened #731 "async behavior with pagination"
Hello

I've faced an issue with an async behavior while rendering my table with a custom standalone pagination.
I've imported everything that is needed to make it run.
First, I run my table without pagination and all run smooth. But then, when I try to set my custom pagination, the table is empty (no data is shown).

need your help to resolve this issue.
Bellow is my code (simple code for demonstr

[2018-12-28 01:08] nononocat commented on #214
I have the same issues in 2.0.0....

[2018-12-28 01:50] jasperdunn opened #732 "dependency error "react-bootstrap-table-next#classnames" is wrong version: expected "2.2.5", got "2.2.6""
Running `yarn check --verify-tree`

outputs
`error "react-bootstrap-table-next#classnames" is wrong version: expected "2.2.5", got "2.2.6"`

my dependencies have `"classnames": "^2.2.6"` as I am using 2.2.6

in the react-bootstrap-table2 package.json
[code]

should classnames be in peerDependencies? or should it be like "^2.2.5"?

I'm not super familiar with this. So please forgive me if i'm mista

[2018-12-28 01:52] pmogilev commented on #612
Thats not an ideal solution but it worked for me ....

headerStyle: (colum, colIndex) => {
                return { width: '30%', textAlign: 'left' };
            }

[2018-12-28 07:53] nononocat commented on #214
it seems like <BootstrapTable /> use keyField as the unique key prop. if the value of the "keyFiled" is not unique in your code, you will see that error message.....

[2018-12-28 08:02] #730 closed

[2018-12-28 09:09] akash-more commented on #568
Hi @AllenFang I am facing the same issue in UI, the data is updated but the page number is not updated to 1 in the UI. Is this issue resolved?

[2018-12-30 09:53] mzadrazi opened #734 "Export csv error (TypeError: this.visibleRows is not a function)"
After clicking on ExportCSV button, I am getting "TypeError: this.visibleRows is not a function" error. This error occures only when the exportAll property of exportCSV options is set to false.

**I am using following versions of packages:**
- react-bootstrap-table-next 2.0.0
- react-bootstrap-table2-filter 1.1.0
- react-bootstrap-table2-toolkit 1.1.1

**Here is my code:**
[code]

**More informati

[2018-12-30 15:35] teaklvs opened #735 "Custom cell edit doesnt trigger table render"
Hi,
I have custom cell editor and applying row style if cell was changed. The status of the cell for the particular is changed in aftersavecell function and therefor appropriate style is applied when rendering. It all worked well until I upgraded the packages to the last versions react-bootstrap-table2-editor@1.2.2 and react-bootstrap-table-next@2.0.0. My previous version were  "react-bootstrap-ta

[2019-01-02 09:05] danchamorro commented on #512
Hello,

Is there an update in this, I too have a need to search between dates. Thanks.

[2019-01-02 14:32] kshreve commented on #430
@AllenFang - Any branch to look at for this work?

[2019-01-02 15:16] AllenFang commented on #719
@the-yadu I will check this out, thanks

[2019-01-02 15:17] AllenFang commented on #728
@phen0menon I am not familiar with animation in React. Anyway, we didn't have this built-in feature, but PR is welcome, thanks

[2019-01-02 15:18] AllenFang commented on #729
@hirenvadalia ok, I will handle it, thanks and happy new year lol

[2019-01-02 15:20] AllenFang commented on #731
what issue you faced? Sorry for lately reply @shmbar

[2019-01-02 15:49] mzadrazi commented on #734
@AllenFang I downgraded to react-bootstrap-table-next to 1.4.4 (and paginator to 1.0.4) but the issue is unfortunately still the same :(.

[2019-01-02 20:46] BarnabyKincaid opened #736 "How to add superscript"
Is it possible for an entry in a table to include superscript? Right now the table displays object values as strings. I cannot figure out how to inject HTML elements so I cannot use the <sup> tag.

[2019-01-02 22:45] armohammadi56 opened #737 "don't display table"
![error](https://user-images.githubusercontent.com/34424135/50616297-17c7de00-0efd-11e9-8a80-e6706c0e63f2.png)

`<BootstrapTable
              id="UniversitiesTable"
              name="UniversitiesTable"
              keyField="id"
              pagination={paginationFactory()}
              data={this.props.entities}
              columns={columns}
              filter={filterFactory()}

[2019-01-03 01:52] AllenFang commented on #734
@mzadrazi ok, I will check this out, thanks!

[2019-01-03 07:44] s-tags commented on #315
Thanks!

[2019-01-03 10:46] gabrycaos opened #738 "onSelect and onSelectAll callbacks parameters"
Callbacks for onSelect and onSelectAll accept similar parameters, but "reversed":

from the storyBook

` handleOnSelect = (row, isSelect)`

and

`handleOnSelectAll = (isSelect, rows)`

swapping parameters in one of these functions (e.g `handleOnSelectAll = (rows, isSelect)`) can be easily for developers to manage both cases, maybe with a single function, depending on use case. I know that row is a

[2019-01-03 13:38] BarnabyKincaid commented on #736
Nevermind! For anyone curious, this can be done by using a custom component as one of the object fields in the objects sent to "data".

[2019-01-03 13:38] #736 closed

[2019-01-03 23:58] yandreiy opened #739 "partial table update"
Is there a way to update only a specific cell / cells, not the whole table ?
Currently I'm trying to implement editing of a cell while the table is being updated, and don't see any other APIs for partial update.

[2019-01-04 12:18] AshCorah opened #740 "ToolkitProvider and PaginationProvider not working together"
Is it possible to have a fully custom pagination component with the toolkit provider that provides search capabilities?

How do you pass the props for data through to both modules?
Below code shows the two wrapped components. Also I have enabled remote for Pagination, does PaginationProvider currently support remote?
[code]
`TypeError: _this.props.isRemotePagination is not a function`

[2019-01-04 13:00] oitozero commented on #740
👍

[2019-01-04 22:34] juancafe4 commented on #729
`      sizePerPageList: [
        {
          text: '10',
          value: 10,
        },
        {
          text: '25',
          value: 25,
        },
        {
          text: 'All',
          value: dataTotalSize,
        },
      ],`

I am using Redux and dataTotalSize is 0 in my initial State and then is updated when I fetch data.
When dataTotalSize is 0 I see that error but if you set up t

[2019-01-05 06:13] AllenFang commented on #729
ok, I will also check this, thanks @juancafe4

[2019-01-05 06:33] AllenFang commented on #740
@AshCorah   @oitozero sorry, I didn't provide a example to show how to use remote mode in custom pagination.

Following is an example:

[code]

[2019-01-05 06:34] AllenFang commented on #740
I will also check if there's any issue when use search and pagination, thanks

[2019-01-05 06:39] AllenFang commented on #735
@teaklvs yes, we did some performance tuning. so can you provide me an minimal and simple example to reproduce this issue?  You can put the example on codesandbox.io

[this](https://codesandbox.io/s/0xvw06wxpv) is an example which created by other issue reporter, thanks :)

[2019-01-05 06:40] AllenFang commented on #735
BTW, how you custom the row style? thanks

[2019-01-05 06:41] AllenFang commented on #737
@armohammadi56  please upgrade `react-bootstrap-table-next` to version 2

[2019-01-05 06:41] #737 closed

[2019-01-05 06:42] AllenFang commented on #740
BTW please upgrade `react-bootstrap-table-next` to version 2

https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/12/24/version.bump.html

If you want to have new pagination customization mechanism, please upgrade below packages to version 2

react-bootstrap-table-next@2.0.0
react-bootstrap-table2-paginator@2.0.0

[2019-01-05 08:15] AllenFang commented on #729
@hirenvadalia what sizePerPage data you given?

[2019-01-05 08:55] hirenvadalia commented on #729
For me issue is exactly same as what @juancafe4 is facing.

[2019-01-05 08:56] AllenFang commented on #729
Thanks

[2019-01-05 09:14] #640 closed

[2019-01-05 12:43] AllenFang commented on #738
@gabrycaos I'm sorry that i didn't notice this mistake, but if I swap this parameter, I should do a major version bump. So I will consider to fix this issue in next time major release.

[2019-01-05 14:01] gabrycaos commented on #738
i can work on a pull request for that

[2019-01-06 09:03] #719 closed

[2019-01-06 09:03] #729 closed

[2019-01-06 09:03] #620 closed

[2019-01-06 09:03] #636 closed

[2019-01-06 09:03] #715 closed

[2019-01-06 09:03] #734 closed

[2019-01-06 09:10] AllenFang commented on #636
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1` and `react-bootstrap-table2-paginator@2.0.1`.

Give [`expandRow.expandColumnPosition`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-expand-props.html#expandrowexpandcolumnposition-string) as `right` can solve

[2019-01-06 09:10] AllenFang commented on #620
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1`, `react-bootstrap-table2-paginator@2.0.1` and `react-bootstrap-table2-toolkit@1.1.2`

[2019-01-06 09:11] AllenFang commented on #734
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1` and `react-bootstrap-table2-toolkit@1.1.2`

[2019-01-06 09:12] AllenFang commented on #715
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1`, `react-bootstrap-table2-paginator@2.0.1` and `react-bootstrap-table2-filter@1.1.1`

Now, every kind filter support `onFilter` hook: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/filter-props.html#textfilteronfilte

[2019-01-06 09:13] AllenFang commented on #729
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1`, `react-bootstrap-table2-paginator@2.0.1`

[2019-01-06 09:13] AllenFang commented on #719
[RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/06/version-bump.html)

Please upgrade `react-bootstrap-table-next@2.0.1`

[2019-01-06 14:19] ehtasham89 commented on #226
how to set width in react-bootstrap-table2
`let columns = [
{
        dataField: 'lastModified',
        text: 'Last Modified Date',
        width: "60"
      },
]`

Its not working...

[2019-01-06 14:36] JenniferMarston commented on #226
Try adding 60px instead.

That should work, but then the table loses its responsive behavior.

On Sun, Jan 6, 2019 at 9:19 AM Ethasham Nasir <notifications@github.com>
wrote:

[2019-01-07 03:44] juancafe4 opened #748 "Reset Table"
Is there a way to reset the table. I am using React select to filter out data ( remote data), but when data changes or I clear up the filter (data  resets) onTableChange is never being called, so I am not able to set page and number of items to the initial state.

[2019-01-07 08:36] mzadrazi commented on #734
Thank you very much for the bug fix and for the whole library. It works like a charm now :).

[2019-01-07 08:54] 1112266 opened #749 "Create BasicTable Not Working"
I Run -

 in my project and add
boostrap 4 -

after I copy from link getstart boostrap 2 :https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html

. But running  it's show error
×

You can help me

[2019-01-07 08:55] AshCorah commented on #740
Is there any way to get your above example working with ToolkitProvider? I think this is where the issue is

[2019-01-07 09:52] JD2k opened #750 "Feature request: dynamic column width"
Hello,

as far as i know, it is currently not possible to drag the column width. For me it would be a very nice feature to be able to do this.

Anyway great work. You saved me a lot of time with this component. Thanks a lot.

[2019-01-07 10:34] dcuti8 opened #751 "How to add clear search button in this new version?"
I use the old version before, and it has clearSearch and clearSearchBtn. Does the new version has the similar props to add the clear search button?

waitting for your reply. thank you very much。

[2019-01-07 15:09] AllenFang commented on #749
@1112266 I guess your react version is too old, please upgrade to newest one(at least react@14.0.0)

[2019-01-07 15:09] #749 closed

[2019-01-07 15:51] 1112266 commented on #749
{
  "name": "ReactJs01",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@coreui/coreui": "^2.1.4",
    "bootstrap": "^3.3.7",
    "react": "^16.5.2",
    "react-bootstrap": "^0.31.5",
    "react-bootstrap-table-next": "^2.0.1",
    "react-dom": "^16.0.0",
    "react-icons": "^2.2.7",
    "react-image": "^1.5.1",
    "react-redux": "^5.0.6",
    "react-router-bootstrap": "^0.24.4

[2019-01-07 18:23] gmr opened #752 "Can't edit keyField value"
Thanks for your project, other than this one issue, it's exactly what I was looking for.

I try and use natural keys instead of surrogate (numeric or otherwise) IDs for some tables where it makes sense. I'm running into an issue where the click to edit functionality when using cellEditFactory is not binding to the key field, preventing inline modification.

Ideally, if the keyField is marked as ed

[2019-01-07 21:14] sgwcollins commented on #695
Will it be soon

[2019-01-08 17:07] armohammadi56 commented on #737
tnx :-)

[2019-01-09 03:08] slavaradune opened #753 "Cell edit mode doesn't close when value was not changed"
Hi Allen,
I am looking at the example of Custom Editor for editing cells in the following link:
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor

and it seems that if I enter the "edit mode", but change nothing, I cannot exit the edit mode by clicking outside the table or on other non-editable cell.
I have

[2019-01-09 16:06] SimoneBernasconi1990 opened #754 "UMD Simple Example error: Element type is invalid"
Hello,
I'm trying to use UMD version of the library. I'd like to show a really simple table but i'm not able to do this and i get "Element type is invalid" error.

[code]

Thanks for your help

[2019-01-09 17:15] Werewoof opened #755 "Question: dynamic data that MAY have nested objects, how to handle?"
Hi there!

I'm currently using React Bootstrap Table 2 to display data that gets fetched from MSSQL SERVER queries  (SELECT * FROM SomeSchema.SomeTable). I'm just using sample data, AdventureWorks2012.

I'm returning the data from the query as a JSON object. Sometimes I find that the dataField property gets passed the name of a column which, in the data, is an object. So, an object is attempting t

[2019-01-10 02:36] vwen01 commented on #534
Any feedback on this?

[2019-01-10 02:38] vwen01 opened #756 "Multiple ExportCSV Buttons"
Is it possible to have one exportCSV button to export all data in the table and the other to export only data that is visible on the same dataset.

Vince

[2019-01-10 14:29] smolleyes opened #757 "PaginationProvider undefined"
hi

import paginationFactory, { PaginationProvider } from 'react-bootstrap-table2-paginator';

->  undefined on PaginationProvider Oo

i use react / react-dom 0.16.4
 "react-bootstrap-table-next": "^1.4.2",
 "react-bootstrap-table2-paginator": "^1.0.4",
 "react-bootstrap-table2-toolkit": "^1.1.1",

and "babel-core": "^6.26.3", / webpack 4...

an idear ? thanks

[2019-01-10 14:42] smolleyes commented on #757
ok with 2.0.0... thanks

[2019-01-10 14:42] #757 closed

[2019-01-11 09:43] isuruamantha commented on #301
Hi @AllenFang
Any update on this?

[2019-01-11 11:11] amad-aleem123 commented on #720
Hello.
 First of all I implemented two option for this table, Sort and Search. Both were working fine. But i don't know what really happened, they stopped working. When  i search something it doesn't work, same is the case with Sort. when I click on sort icons, it won't sort. below is my code. I am sending data and columns as props in it.

[code]

[2019-01-11 21:46] lindsejs opened #758 "Clearing filters don't work on date filters"
When clearing filters with getFilter function on date column/filter it is not possible to pass empty date, exception is thrown on this line:
this.inputDate.value = dateParser(filterVal.date);

[2019-01-12 10:33] alex5207 opened #760 "Table not updating when specific cell is changed (Via API) but works with new data and delete data"
I use the Bootstrap table2 to display data fetched from my API.
I have a component which receives the data as props.

When I add/delete a row via the API, the table is correctly updating to display the new row or remove the deleted one. However, if I change a field on an already existing row the props of the component is correctly updating but the table is not.

Has anyone experienced this issue?

[2019-01-15 11:00] MaorBenAmi commented on #207
Hey,
@AllenFang This feature implemented already? using tab to navigate in editing mode?

Thanks !

[2019-01-15 14:23] AllenFang commented on #695
@sgwcollins I dont think so

[2019-01-15 14:31] AllenFang commented on #738
@juancafe4 your issue should be fixed in last year https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/378

[2019-01-15 14:32] AllenFang commented on #739
@yandreiy hi, right now we dont have this kind of feature.

[2019-01-15 14:36] AllenFang commented on #740
sorry, I got serious disease, I will look into this issue again in this weekend, thanks

[2019-01-15 14:40] AllenFang commented on #748
how you change the data, re-render table with new data?

How you clear the filter

@juancafe4 sorry for lately reply, I got serious disease from last week.

[2019-01-15 14:41] AllenFang commented on #750
@JD2k sure, I will try to implement this, thanks your suggestion :)

[2019-01-15 14:46] AllenFang commented on #751
@dcuti8 sorry for lately reply, I got serious disease from last week.

So far, we dont have search clear function, but it's not easy to implement:

[code]

I think above case should be work.  Please tag me if it's not helpful to you, thanbks

[2019-01-15 14:51] AllenFang commented on #752
@gmr sorry for lately reply, I got serious disease since from last week.

The truth  is `keyField` is unique key  like data the RDB(Relational database system) which should not be changed to avoid some side effect. So last why I block it.

Please let me know more if you feel I can do more explain or improvement. thanks :)

[2019-01-15 14:51] #752 closed

[2019-01-15 14:55] AllenFang commented on #754
@SimoneBernasconi1990

`const BootstrapTable  =  window.ReactBootstrapTable2.default;`

[2019-01-15 14:55] #754 closed

[2019-01-15 15:00] AllenFang commented on #753
@slavaradune sorry for lately, I got serious disease from last week.

I guess this is element focus issue, I can reproduce it by above example. You can try to do [HTML DOME focus](https://www.w3schools.com/jsref/met_html_focus.asp) on your editor when your custom editor rendered.

Please tag me if the issue still remain, thanks

[2019-01-15 15:00] #753 closed

[2019-01-15 15:07] AllenFang commented on #755
sorry for lately reply, I got serious disease from last week,

`react-bootstrap-table2` allow you to render nest data, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columndatafield-required-string)

but it should be specific, I mean in a column, if you give `user.name`, `react-bootstrap-table2` must get the value from each row by `user.na

[2019-01-15 15:07] #755 closed

[2019-01-15 15:08] AllenFang commented on #695
@sgwcollins it's coool, maybe you can share here for other developers 👍

[2019-01-15 18:25] mathiaswillburger opened #761 "ToolkitProvider disables overlayFactory"
I was wondering if there is an issue of combining the ToolkitProvider with the overlay for spinners, or if I am simply missing something in my code? Once I enable the ToolkitProvider the overlay is not showing anything anymore.

I have set up a table with a spinner overlay according to the documentation, more or less like this:

[code]

Up to this point everything works fine. However, as soon as I

[2019-01-16 01:33] dcuti8 commented on #751
Thank you for your reply~. The solution is works. But it can only clear the result, the text in the search box dosen't be cleared. So, I add one more `document.getElementById('search_txt').value = "";`  code to clear the search box content;

`
  clear(props){
    props.searchProps.onSearch('');
    document.getElementById('search_txt').value = "";
  }
<SearchBar { ...props.searchProps } placeholde

[2019-01-16 13:02] AllenFang commented on #756
right now, we didn't have this feature. I will explore if you can use some exposed API. I mean we eventually support one export csv button but if you need a button for exporting specific data, you can custom the button and call the exposed API

[2019-01-16 13:08] AllenFang commented on #751
Let me reopen this issue, I think I will consider to implement clear search in the future :)

[2019-01-16 15:06] mpnetto opened #762 "isRemotePagination is not a function"
Hello,
I'm trying to implement pagination in my bootstrap table but I receive the following issue:
TypeError: _this.props.isRemotePagination is not a function

I'm trying to implement the basic panigation table, but every time I put  pagination={ paginationFactory() } I receive this error. Anyone could help me?

[2019-01-16 17:53] juancafe4 commented on #748
not problem I figured it out version 1 had .a reset function when you ref the table. But I manage this by only using onTableChange

[2019-01-16 17:53] #748 closed

[2019-01-16 18:58] juancafe4 opened #763 "Responsive Table"
I want horizontal scroll in my table. I have multiple columns and they look like they are stack up together. Any suggestions ?

[2019-01-17 05:34] sahilvicesoftware commented on #226
can we add any icon in column headers?
in 'react-bootstrap-table-next'

[2019-01-17 21:35] nilaynanavati commented on #299
I am still looking for this. How do I show pagination on top of the table? I was using react-bootstrap-table and it has property to show top of the table but with new table2, it's not there. Can you please help?

[2019-01-17 21:56] eslynunez commented on #740
@AllenFang I am sorry to hear that, I hope you feel better! I came here with the same issue. Is there a work around example?

[2019-01-18 07:45] anuragb26 opened #764 "Remote sorting doesn't provide sort field and change of carets"
I am using  "react-bootstrap-table-next": "^2.0.1" in the following manner.
I am able to get the  remote pagination working  using  onTableChange but I always get the sortOrder as desc.
I have consulted the docs and storybook but my implementation is correct as per the docs.
[code]

[code]

My columns are as follows

[code]

[2019-01-18 14:26] nilaynanavati opened #765 "How do I intialize the PaginationProvider in jsx file?"
I am able to initialize the BootstrapTable and painationFactory in my jsx file like below.
 const BootstrapTable = ReactBootstrapTable2.default;
 const paginationFactory = ReactBootstrapTable2Paginator.default;

But couldn't initialize the PaginationProvider. I tried multiple ways like below but didn't work out.

const { PaginationProvider } = ReactBootstrapTable2Paginator.default;
or
const { Pagi

[2019-01-18 17:42] yandreiy commented on #739
Ok, thanks. Do you have any plans to add this ?

[2019-01-18 23:22] theoryfarm commented on #763
I think this can be fixed with css classes.  Changing:

.react-bootstrap-table table {
    table-layout: fixed;
}

 TO

.react-bootstrap-table table {
    table-layout: auto;
}

or add a class to the component that overrides it when you need it to behave differently than the default.

[2019-01-19 08:39] AllenFang commented on #739
@yandreiy  so far no,  but PR is welcome :)

[2019-01-19 08:51] AllenFang commented on #758
@lindsejs sorry for lately reply, I got serious disease from last week, Will fix this issue ASAP, thanks

[2019-01-19 11:37] AllenFang commented on #760
@alex5207 how you update a cell? be careful about immutable issues in React application.

[2019-01-19 11:41] AllenFang commented on #761
@mathiaswillburger sorry for lately reply, I got serious disease from last weekend.

currently, I will not encourage people to use `react-bootstrap-table2-overlay` due to there're few issue can not be solved immediately. this case is one of them. So far i will suggest to use `noDataIndication`, [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=

[2019-01-19 11:43] AllenFang commented on #740
@eslynunez you also enable the `remote` mode?  maybe an example will be appreciated 👍

[2019-01-19 12:19] AllenFang commented on #740
@eslynunez  @AshCorah i can not reproduce this error, following is my code, hope someone can indicate how to reproduce this issue, thanks

[code]

[2019-01-19 16:50] #739 closed

[2019-01-19 18:53] mathiaswillburger commented on #761
No worries, hope you are better now.

Thanks for your reply and suggestion!

`noDataIndication` is an interesting approach. I already use a custom spinner overlay which I just place over the whole table on loading and it works fine. But it would have been nice to use the integrated overlay which would align way better with the table layout.

So for now I'll stay with my approach, but I hope to see

[2019-01-20 06:09] AllenFang commented on #762
@mpnetto please list your version here, I guess the issue you face is version.

`react-bootstrap-table-next@2.0.1`
`react-bootstrap-table2-paginator@2.0.1`

Please tag me if the issue still remain, thanks

[2019-01-20 06:09] #762 closed

[2019-01-20 08:04] AllenFang commented on #756
[code]

@vwen01 if it doesn't work, please tag me

[2019-01-20 08:04] #756 closed

[2019-01-20 14:47] #751 closed

[2019-01-20 14:53] #2 closed

[2019-01-20 14:54] AllenFang commented on #2
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/20/version-bump.html

release on `react-bootstrap-table-next@2.1.0`
check [these](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Footer&selectedStory=Simple%20Footer&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) examples

[2019-01-20 14:54] AllenFang commented on #121
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/20/version-bump.html

release on `react-bootstrap-table-next@2.1.0`
check [these](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Footer&selectedStory=Simple%20Footer&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) examples

[2019-01-20 14:55] AllenFang commented on #758
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/20/version-bump.html

Fixed on `react-bootstrap-table2-filter@1.1.2`

[2019-01-20 14:55] #758 closed

[2019-01-20 14:57] AllenFang commented on #751
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/01/20/version-bump.html

Fixed on `react-bootstrap-table2-toolkit@1.2.0` and `react-bootstrap-table-next@2.1.0`

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Clear%20Search%20Button&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybo

[2019-01-21 00:56] borgdrone7 opened #767 "Table not shown on mobile Firefox"
Hi,

When I open your demo on Firefox on iPad I see only blank page for all the examples. They work on Chrome on iPad but don’t fit correctly. Is this only issue with storybook or the table actually is not working on Firefox on iPad?

Thanks

[2019-01-21 06:00] AllenFang commented on #761
@mathiaswillburger let me open this issue again and I will explore if there's any good solution on this, thank you 👍

[2019-01-21 08:55] DrogoNevets commented on #2
When you dynamically add a row to the table data, the footer function doesnt recalculate

[2019-01-21 10:58] SureshBanala opened #768 "I have bootstrap table outside the class but i need to access the function into the table which is inside the class"
in your example you mentioned the props outside the class for me that is showing an error

[2019-01-21 12:31] AllenFang commented on #765
@nilaynanavati it should be:
[code]

[2019-01-21 12:31] #765 closed

[2019-01-21 12:34] AllenFang commented on #767
@borgdrone7 I think it should be work, I tested it and it work well.  any idea?

[2019-01-21 12:34] #767 closed

[2019-01-21 12:42] AllenFang commented on #610
close it due to no response

[2019-01-21 12:42] #610 closed

[2019-01-21 12:49] #499 closed

[2019-01-21 13:18] mm3 commented on #762
Issue reproduced for me too

versions:
[code]
props:
[code]

[2019-01-21 13:54] peetw opened #769 "Row selection broken in 1.4.2 when setting state in onSelect handler"
After updating `react-bootstrap-table-next` from `1.4.1` to `1.4.2`, row selection appears to be broken when providing an `onSelect` handler that modifies the parent component state. Specifically, if I have the following row selection props:

    const selectRow = {
        mode: "checkbox",
        clickToSelect: true,
        onSelect: (row, isSelect) => this.handleSelect(row, isSelect)
    };

[2019-01-21 14:44] mathiaswillburger commented on #761
Great thx! Let me know if you need testing. I have a solution in place with remote data fetching, the overlay code pretty much is in place and needs only to be activated if it works as documented.

[2019-01-21 17:04] ALuongIBM opened #770 "Remote Table and Pagination"
Hi Allen,

I'm currently using a Remote table to connect Pagination to my Postgres. I have a lot of rows in my table (1M+), and it seems when I return a large row count that the pagination breaks. Everything loads correctly initially, but when I click the last ">>" button to try and go to the final page, it tries to send "NaN" to my remote server as the page. The ">>" appears to work just fine at

[2019-01-21 17:11] ALuongIBM commented on #770
The other buttons in the pagination work just fine (1,2,3,etc.). But when I click the ">>", is when it generates the NaN that breaks my code.

[2019-01-21 19:14] ALuongIBM commented on #770
Dumb error on my end, passing totalSize as a String instead of a Number.

[2019-01-21 19:14] #770 closed

[2019-01-22 07:20] borihan-p commented on #612
Removing "table-layout: fixed" in react-bootstrap-table2.scss can stop the bleed. It worked for me.

[2019-01-22 13:12] DrogoNevets opened #771 "Footer is just a new row"
the new functionality for the footer, should be in `tfoot` tag not just another row.

this would allow custom styling in css alone

[2019-01-22 13:24] DrogoNevets commented on #760
I have a similar problem with the footer, adding a row to datasource works fine, but the footer isnt recalculated

[2019-01-22 14:17] AllenFang commented on #771
<img width="1202" alt="2019-01-22 10 15 52" src="https://user-images.githubusercontent.com/5351390/51541305-74327380-1e93-11e9-8b8b-9a55e26176c6.png">

I think it's a `tfoot`

[2019-01-22 14:17] #771 closed

[2019-01-22 14:21] AshCorah commented on #740
Reproduced with your example:
Following packages:
    "react-bootstrap-table-next": "^2.0.0",
    "react-bootstrap-table2-filter": "^1.1.0",
    "react-bootstrap-table2-paginator": "^2.0.0",
    "react-bootstrap-table2-toolkit": "^1.1.1",

![image](https://user-images.githubusercontent.com/26364927/51541524-534d2c80-1e59-11e9-907f-2c3cafa73b12.png)

[2019-01-22 14:30] AllenFang commented on #769
@peetw yes, it did cause by `1.4.2`'s patch. That is because i want to give developer more selection management or control. However, if you really need to call `setState` in `selectRow.onSelect` or `selectRow.onSelectAll`, i will suggest you to manage the selection via `selectRow.selected`, just like [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selecte

[2019-01-22 14:30] #769 closed

[2019-01-22 14:36] AllenFang commented on #760
@DrogoNevets, @alex5207  please give me an reproduce example on codesandbox.io.  thanks

here is an boilerplate you can based on it to write your example: https://codesandbox.io/s/jlol04qrxv

[2019-01-22 14:38] AllenFang commented on #760
btw, I have to say that i really dont have enough time to explore or write an example to reproduce your example, I got so many similar issue everyday, so i think please give an example is a big help for me, thx

[2019-01-22 14:40] AllenFang commented on #740
@AshCorah ok, cool. now,,, I dont know how to reproduce this.  any more idea?

[2019-01-22 14:44] AllenFang commented on #740
https://codesandbox.io/s/jlol04qrxv  I just create an example on codesandbox, it work well @AshCorah

[2019-01-22 14:47] AllenFang commented on #740
I will reopen this issue if anyone can tell me or show me how to reproduce this issue,

[2019-01-22 14:47] #740 closed

[2019-01-22 15:53] peetw commented on #769
Using `selectRow.selected` worked - thanks for the pointer!

[2019-01-22 18:59] waynebrantley commented on #629
@jkrawczyk the spread operator does copy the array...if the array is simple value.  However, If the item being spread into the target is an object, only a reference to that object will be copied.  So your data is mutated!  (It copied the array...but did not copy the objects...only a reference to the objects)

However, I am still unable to get your example to work.  I tired using formatExtraData an

[2019-01-22 22:30] AshCorah commented on #740
Thanks for this - I'll try and use your example on codesandbox to figure out what is happening here. Could this be anything to do with me using Redux in my application?

[2019-01-23 05:50] AllenFang commented on #740
@AshCorah i think `react-bootstrap-table2` is compatible with any state management like Mobx or Redux.

Anyway, I encourage developer to write an example on codesandbox for reproducing issue, here is a basic example to create it:

https://codesandbox.io/s/jlol04qrxv

[2019-01-23 09:32] kaustyy opened #772 "selectRow is not working"
Hi,

selectRow is not working in my case. It is throwing below error in console. Basically I want to implement ellipsis on few fields and on hover it should expand but selectRow itself is not working.

r_eact-dom.development.js:506 Warning: Encountered two children with the same key, ``. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause chil

[2019-01-23 10:22] meghnaraju commented on #672
Hi Allen,

in react bootstrap table, i am unmounting and mounting the table. But once i mount it again i am unable to select any checkbox. if i do display none it works fine. But if i remount it, checkboxes r not working. I have an urgent requirement. pls help

[2019-01-23 10:24] Thebarda commented on #551
Fixed with `react-bootstrap-table-next@2.1.0` and `react-bootstrap-table2-paginator@2.0.1`.
I had to use `PaginationProvider` as [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Fully%20Custom%20Pagination&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) Storybook's example

[2019-01-23 10:24] #551 closed

[2019-01-23 17:18] mkwenzel commented on #672
I'm wondering if I am running into this same issue - I have a table with checkbox select that is viewable in 2 places, one place is inside an expandable row of another table, the other place it is not. It works fine outside of the expandable table, but inside the click event is registering (I can console.log("click")) but the checkbox does not check.

Gif of issue:
![](https://media.giphy.com/medi

[2019-01-23 17:19] mkwenzel commented on #672
@anttiviljami @amsterdamharu  Did either of you find a solution for this?

[2019-01-24 05:09] anttiviljami commented on #672
No resolution. I just ended up implementing the table myself instead of using react-bootstrap-table. Couldn’t fix this issue within reasonable time.

[2019-01-24 05:21] jeznag opened #773 "Localise Date filter (i18n)"
My app is used by Japanese customers. I can't figure out how to localise the date picker in the date filter so that it uses Japanese characters for the days and months. Any suggestions?

[2019-01-24 09:41] medetcan opened #774 "Is it okay to use EcmaScript Proxies ?"
Hi, first of all i want to thank the all of the contributors of this project.

My question is, Is it okay to use proxies as row items ? Can you guys identify possible problems or corner cases that can come up in the future ?
Thank you.

[2019-01-24 17:22] OSadd opened #775 "Pass data via function"
I bind some external data to the component as a prop. However, I need to format the data before passing to {data}. As the data proptype is an array, I get the error

"Invalid prop `data` of type `function` supplied to `DataProvider"

Is there a way to do this: data={this.setData}

[2019-01-24 22:13] armohammadi56 opened #776 "Save Text Filter"
how to save text filter and when back from another page filter contains text

[2019-01-25 08:59] armohammadi56 commented on #776
i did it :-)

[2019-01-25 08:59] #776 closed

[2019-01-25 10:45] AshCorah commented on #740
Hey Allen,
![image](https://user-images.githubusercontent.com/26364927/51741139-5719c280-2096-11e9-811a-58d495aa1af3.png)  🎉

Finally sorted this, styled component above - I'm not sure what was wrong, maybe I wasn't passing the correct props but your examples were extremely useful at fixing my problem.

Thanks a lot!

[2019-01-26 07:37] AllenFang commented on #768
@SureshBanala would you please give me more information or example? thanks

[2019-01-26 07:43] AllenFang commented on #772
@kaustyy hello, sorry for lately reply, I think you case is a little bit complicated, so would you please put your example to codesandbox?  [here](https://codesandbox.io/s/jlol04qrxv) is an basic example you can reference.

In addition, please share what version you use and when the error occur, thanks

[2019-01-26 07:46] AllenFang commented on #774
@medetcan sorry I'm not familiar with ECMA proxy. I think you can try it but let us know if you encounter any issue, thanks.

[2019-01-27 16:01] mvlb opened #777 "onSelectAll not selecting all Rows"
Hi,

I'm using the react-bootstrap-table-next and been trying to use onSelectAll, and for some reason I see its not selecting any row when onSelectAll has some code which manipulates the rows

I tried it in code sandbox and here is the following code snippet. Could you please help to see if its a bug in the library?
I'm using 2.1 version, and I believe code sandbox is also using the latest

[code]

[2019-01-27 16:04] #777 closed

[2019-01-27 16:05] mvlb commented on #777
Sorry, My bad not an issue, error in my example

[2019-01-28 09:46] jrvaldiviaffdc opened #778 "PaginationListStandalone not working right with Filter"
Hi Allen!  I've been trying yo use the Standalone component for the pagination on a Table that is not using the remote mode but I've found that, when used with the filter, it doesn't recognize the prop totalSize automatically as it used to

This is a simple demonstration of what I have
[code]
Is there a way to fix it or it not support yet?
Thank you for your hard work!

[2019-01-28 16:27] mkwenzel commented on #612
Tried @borihan-p 's recommendation and it did not work for me. Still no solution, I've just been working around it.

[2019-01-29 12:50] jkrawczyk commented on #629
@waynebrantley You're of course right! My mistake, sorry 🤦‍♂️ The array is indeed new but it holds references to old objects, thank you for pointing that out.

[2019-01-29 16:32] neasar opened #780 "Sorting remotely"
Hi There,

This tool is awesome and perfect for my project. I just can't see how to sort a Table remotely.

What I want to do:
I have a table with columns/table headers that allow sorting, each row of this table can be expanded. When a row is expanded it reveals a sub table. The main table columns/headers now sort the expanded row's table. I am looking for a way to initiate the sorting of the sub

[2019-01-30 01:54] khirodAsurion commented on #212
is there any way i can dispatch an action on click on row when i am expanding the row

[2019-01-30 15:36] AllenFang commented on #775
@OSadd  sorry we dont provide function type, please give it as an array type.

[2019-01-30 15:36] #775 closed

[2019-01-30 17:34] lorenzosjb opened #781 "Using a react-redux component in expandRow keeps loading the data indefinitely"
Thanks for reading,

I have a component that renders a react-bootstrap-table2. Each row has a basic expandRow that renders a component. When the user clicks a row, it will load the data (using axios and redux) of the event and show it in a nested table.

The problem that I have, is that component keeps loading the data indefinitely. So this is the order that I load the components.

events.js (send

[2019-02-01 06:53] yee379 opened #782 "multiple multiSelectFilter on a single table"

[2019-02-01 14:19] AshCorah commented on #285
Any plans to implement colspan?

[2019-02-02 17:12] TheShadow8 commented on #612
My solution is I created an css file for BootstrapTable and imported css file to js file. Then you can customize css file to fit your needs. I can customize a lot  by using this method. See my example images below.

![capture1](https://user-images.githubusercontent.com/35181893/52166966-4abee680-26e2-11e9-94dd-5b6237da2d4c.PNG)
![capture2](https://user-images.githubusercontent.com/35181893/5216696

[2019-02-05 22:45] tester5 opened #783 "Customise global search button"
How do I customize the Global Search edit box without adding a button?  I want to:

- Make the Search button right justified like in react-bootstrap v1
- Fire an update when the search edit box changes that updates the route/URL to enable a permalink

Below is what I have (default)

Many thanks in advance.

[code]

[2019-02-06 03:11] bggolding opened #784 "Display column Type.CHECKBOX as checkbox even when not being edited"
In the table I'm using, it's quite natural to display a true/false state as a checked or unchecked checkbox. This doesn't seem to be supported out of the box but by using a formatter which renders it as a checkbox I can make it work.  It takes an extra click to make it editable and it will then change state as expected.

Is there a way to render this that doesn't require the extra click?

Thanks,

[2019-02-06 06:30] AllenFang commented on #672
Sorry I missed this issue for a long time, my bad,  I will fix this issue in next version, thanks

[2019-02-06 07:20] AllenFang commented on #780
@neasar hello, sorry for lately reply, [here](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Remote&selectedStory=Remote%20Sort&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is a remote sort example :)

I think there are two feasible ways:

1. Use [`expandRow.onExpand`](https://react-bootstrap-table.github.i

[2019-02-06 07:20] #780 closed

[2019-02-06 07:35] AllenFang commented on #782
@yee379 firstly sorry for lately reply, so far we don't have this feature, I mean dynamically update items.

I will consider to implement this feature. but this will not be the first priority, so PR is also welcome, thanks

[2019-02-06 07:36] AllenFang commented on #712
#782

[2019-02-06 07:42] AllenFang commented on #783
@tester5 hello, The ability to custom on `SearchBar` component is limited, at least you can update class, style placeholder etc. but if you want to do more advance customization, you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Fully%20Custom%20Search&full=0&addons=1&stories=1&panelRight=0&addonPanel=

[2019-02-06 07:42] #783 closed

[2019-02-06 12:55] primakashi opened #785 "Expand management"
I have a problem when set default expanded row.
Expanded array option doesn't work.

This the option variable that I set.
 const expandRow = {
            renderer: this.expandRenderer,
            expanded: this.state.expanding,
            showExpandColumn: true,
            expandColumnRenderer: this.expandColumnRenderer,
 };

[2019-02-06 17:49] alyssa1995 commented on #544
@waynebrantley can you show how you added a delete and add button to add/delete rows?

[2019-02-07 03:58] #785 closed

[2019-02-07 15:59] samashok12005 opened #786 "Text filter search issue"
Hi,

The text filter is not working properly.
Steps to reproduce.
1. Search randomly using text filter in the table.
2.First couple of searches gives the result properly.
3. Then another search produces some random results in table.

Is there a way to fix it?

Thanks
Ashok S.

[2019-02-07 21:35] enderjbr opened #787 "Search bar text not updating properly"
There is an issue with the text in a SearchBar component when doing a remote search.
If you type a string too quickly, the text in the search bar won't update properly and will delete some of the characters you type. You can also see the issue when trying to delete, as sometimes the characters you have deleted will come back.
You can reproduce this issue with the search here: https://react-bootstr

[2019-02-08 01:43] megos opened #788 "Footer shifted when with use selectRow"
I used selectRow and footer both.
Footer shifted to select row.
Could I use them same time?

###  Example code or repo (please keep it simple and minimal)

https://codesandbox.io/s/r5wkvv3zro

### Steps to reproduce.
Use selectRow and footer both

### react-bootstrap-table2 version.
2.1.0

[2019-02-08 04:03] rushtokunal commented on #723
Any idea when this feature might be added?

[2019-02-08 16:28] pineconesundae opened #789 "Can't select rows when using setState with an array value"
This issue is very similar to https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/297, which has been fixed (and works!), but if you try to setState with an array, the issue returns.

Partial example:
[code]

If you change `results: []` to `results: ''`, it works fine.

[code]

**EDIT**:
This issue title is a bit lacking, since I just discovered that using an object (`{}`) in th

[2019-02-08 17:08] samashok12005 commented on #786
Fixed this issue using onFilter method. But column filter with pagination not working as expected.

[2019-02-09 13:04] #445 closed

[2019-02-09 13:04] #672 closed

[2019-02-09 13:04] #778 closed

[2019-02-09 13:10] AllenFang commented on #445
Fixed, please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/09/version-bump.html)

Check [EXAMPLE](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Implement%20custom%20filter%20logic&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2019-02-09 13:12] AllenFang commented on #778
Fixed, please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/09/version-bump.html), please remember to upgrade the packages which mention in `RELEASE NOTE` to make sure you have correct patchs

[2019-02-09 13:13] AllenFang commented on #672
Fixed, please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/09/version-bump.html), **please remember to upgrade the packages which mention in `RELEASE NOTE` to make sure you have correct patch.**

[2019-02-09 13:14] AllenFang commented on #672
Again, sorry for lately fixing this issue. Please let me know if this issue still remain. thanks

[2019-02-09 13:21] AllenFang commented on #786
@samashok12005 would you please show me your code via codesandbox, [here](https://codesandbox.io/s/jlol04qrxv) is an example you can take.

In addition, give me more information as you can, let will easier for me to help you, thanks

[2019-02-09 13:24] AllenFang commented on #787
@enderjbr I think that is because I didn't put a mask on search bar, so will cause the rendering replace your input. So far, we only support the mask or a loader on Table itself, for example: [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=EmptyTableOverlay&selectedStory=Empty%20Table%20Overlay&full=0&addons=1&stories=1&panelRight=0&addonPane

[2019-02-09 13:27] AllenFang commented on #784
I think formatter is the best choice, in `react-bootstrap-table2`, we let developer easy to render or custom their component. Let why i didn't implement some kind of built-in component when table rendering.

but just one question, if user change the checkbox, do you expect the raw data also get changed?

[2019-02-09 13:28] AllenFang commented on #788
oops, it's bug lol.  thanks your bug report and clear information :)

[2019-02-09 14:39] waynebrantley commented on #544
Here is an example delete button. This is the column definition for the delete column.
[code]
The handler for ``handleDelete`` does an api call to backend to delete row...that call is a promise and after it completes it makes an api call to backend to get new grid data.  It of course could have just removed it directly from the grid state or whatever.

[2019-02-09 21:01] samashok12005 commented on #786
Hi Allen,
Thanks for the reply.
I have more records(700) and it's for specific client. So i can't share everything.But the columns and table and pagination options.
Step1: I have two column text filters.
Step2: I do the search  and finish it.and click on the pagination to page 5 or 6.
Stesp: Search again on column filter. It gives wrong results.

Try with more number of records.

this.scheduleData

[2019-02-10 15:36] AllenFang commented on #786
hello, @samashok12005 you can just extract part of code to codesandbox.. at least a simple and minimal code for me to reproduce your issue, you dont need to create 700 records, just 12 or any numbers are enough for me to reproduce this issue.

if you really can not share a example code to me for reproducing, at least you should show me your configuration for filter, search and pagination. In addit

[2019-02-10 15:36] #786 closed

[2019-02-10 15:37] AllenFang commented on #723
@rushtokunal I will consider to implement this in next sprint or next two sprint, thanks!

[2019-02-10 15:47] AllenFang commented on #299
check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20Pagination%20List&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example and document https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-pagination.html#advance-customization

[2019-02-10 15:47] #299 closed

[2019-02-10 15:48] AllenFang commented on #279
try this: react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html#get-current-selected-rows

[2019-02-10 15:48] #279 closed

[2019-02-10 15:50] AllenFang commented on #207
@MaorBenAmi sorry for lately reply, we are not yet to implement the keyboard navigation, I hope I can finish before this Q2, probably April

[2019-02-10 15:51] AllenFang commented on #688
218

[2019-02-10 16:44] samashok12005 commented on #786
Hi Allen,
Please find the pagination and search configuration.
**Pagination config:**
export const paginationOptions = {
    paginationSize: 100,
    pageStartIndex: 1,
    firstPageText: "First",
    prePageText: "Back",
    nextPageText: "Next",
    lastPageText: "Last",
    nextPageTitle: "First page",
    prePageTitle: "Pre page",
    firstPageTitle: "Next page",
    lastPageTitle: "Last page"

[2019-02-10 17:38] rushtokunal commented on #723
@AllenFang  thank you Allen, just a suggestion while implementing this feature, it will be helpful if we have APIs to render the table based(saved preference) on the column selected by the user. I'm actually saving the preference of my user and retrieving that when the same user logs back in to the application so that the user doesnt have to re select the columns again. BTW this is a great compone

[2019-02-10 23:02] joecrismolina commented on #672
Hi Allen, first of all, thank you for this awesome library, great work! I tried the latest update v2.1.1 and am still having problems with the re-rendering of the expanded row and losing focus on controlled components inside the expanded row. https://codesandbox.io/s/1olom8kk9l
Is this an issue or am I using the expanded row feature in an unintended way?

best regards, cheers!

[2019-02-11 01:19] AllenFang commented on #723
I see, it's a good point, for your suggestion, I think that will be good by following two solution:

First one is built-in solution:
[code]

Second one is developer actually can easy control the column hide by state control:

const column = [{
  dataField: 'id',
  text: 'Product ID',
  hidden: somestate.hidden // true will hide the column
}, {
  dataField: 'name',
  text: 'Product Name'
}, {
  dat

[2019-02-11 02:35] rushtokunal commented on #723
@AllenFang Yes i agree with you, once the column visibility is first checked by the user, based on his preference we can use the api to toggle visibility

[2019-02-11 08:01] Geetakokate commented on #652
@rikardocorp is this resolved. I'm also facing same issue

[2019-02-11 08:16] pooja-mane commented on #652
@rikardocorp I am also facing the same issue.
columns = [{
        dataField: 'name',
        text: 'Name',
        sort: true
      },
     {
       dataField: 'role',
       text: 'Role',
       sort: true
     }]
When I click to sort column

[2019-02-11 15:45] aliogaili opened #791 "[0209 REGRESSION ISSUE] props.data is not updated when re-render in a search or filter enabled table"
**Versions:**
"react-bootstrap-table-next": "2.1.1",
"react-bootstrap-table2-filter": "^1.1.3",
"react-bootstrap-table2-paginator": "^2.0.2",

**Current Behaviour:**
If the TextFilter is used and the initial prop data is empty, then table will be empty as expected. However, once the data is loaded and the props change, then the table will remain empty until a filter string is entered by the user.

[2019-02-11 17:54] juancafe4 opened #792 "Remote mode and empty columns"
I am getting my column labels from my server. Right now, it throws an error when the column is empty an empty array.  Is there a way that the table could accept empty columns?

[2019-02-11 21:57] rexatgithub commented on #791
i have the same issue
**Versions:**
"react-bootstrap-table-next": "2.1.1",
"react-bootstrap-table2-filter": "^1.1.3",
"react-bootstrap-table2-paginator": "^2.0.2",

[2019-02-12 03:57] tester5 commented on #783
Hi @AllenFang many thanks for the message above, it was helpful.  Was able to customise the Search bar using this example: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Table%20Search&selectedStory=Fully%20Custom%20Search&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

However I also wish to be able to pass i

[2019-02-12 13:24] melom007 commented on #791
Hi, I have the same issue, but I also experience this with tables that have pagination attribute.

[2019-02-12 14:46] basher opened #793 "Question: How to add unique ID to table row selection radio button?"
I've successfully implemented a sortable, paging table.

Here's a snippet of my code showing a custom `selectionRenderer`.
Is it possible to generate a unique ID for each radio button instance?

[code]

I can see from React devtools that there's a `rowIndex` prop passed down to `<SelectionCell>` component, but I can't figure out how to expose that via `<BootstrapTable>` props to my `selectionRende

[2019-02-12 16:24] F-Adam-B commented on #437
I'm as well using a large data set and running into sluggish rendering issues. @AllenFang will the upgrade to react-bootstrap-table-next@1.3.0 and `react-bootstrap-table2-editor@1.2.0` be able to handle a table with 27 columns with 13000 to 15000 values in each column?

[2019-02-12 18:17] YassienW commented on #791
This happens in tables without filter too, if you have a search bar only you have to write data into the search bar first, otherwise the table is not populated with anything. The initial state for `<SearchProvider/>` is incorrect

![selection_002](https://user-images.githubusercontent.com/11986226/52657945-7b80f600-2f02-11e9-8aa0-0f7333e8cbdb.png)

[2019-02-12 23:43] bggolding commented on #784
The checkbox renders as if it were an active component on the page.  I think the user would reasonably expect that if they click it that the data would change.

[2019-02-13 08:13] picasik commented on #791
Same problem. When changing the state of the table is not re-rendered. The workaround was as follows:
`filter: textFilter ({
                 getFilter: (filter) => {this.nameFilter = filter; }
             })`
After receiving data from the server I set the filter to an initial empty value:
`await fetchData();
this.nameFilter ('');`

This decision is temporary until the error is corrected.

[2019-02-13 16:02] AllenFang commented on #789
@pineconesundae I will check this out again, thanks,  I just test it again and I found that call setState will break the selection procecss

[2019-02-13 16:09] AllenFang commented on #791
Sorry for lately reply, I think it's not related with pagination, @aliogaili example didn't use pagination.

BTW, did you guys suffered this from newest packages?

[2019-02-13 16:18] AllenFang commented on #791
here, I will fix this issue in this weekend.  The issue you guy suffer is from newest release: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/09/version-bump.html

Please don't upgrade above packages, thanks.  This is a critical regression issue, sorry about that.

[2019-02-13 16:19] AllenFang commented on #792
@juancafe4 sorry, we dont have empty column table support, if your column and data are all empty, just dont render table.

[2019-02-13 16:19] #792 closed

[2019-02-13 16:20] AllenFang commented on #792
Do let me know if you still have any concerns, thank :)

[2019-02-14 11:58] senthilmca90 commented on #688
@AllenFang Any update on this one?

[2019-02-14 12:26] AshCorah opened #794 "How to stop row expanding when clicking a component inside a cell?"
![image](https://user-images.githubusercontent.com/26364927/52786741-f9a4e000-305b-11e9-8dbc-755362ab61a6.png)

I want the row to expand when I click the row however I don't want it to expand when clicking an element. For example clicking this component for a menu, expands the row - but I want it to only expand when I click the row itself not the components inside the cells.

Anyway to do this?

[2019-02-15 10:20] kaustyy opened #795 "Custom total is not appearing beside pagination"
const RemotePagination = ({ data, page, sizePerPage, onTableChange, totalSize, columns, filter, options, sizePerPageOption, pagination }) => (
  <div>
    <PaginationProvider
      pagination={
        paginationFactory({
          custom: true,
          page,
          sizePerPage,
          totalSize,
          showTotal: true,
          sizePerPageList: options.sizePerPageList,
        paginat

[2019-02-15 10:56] sidorykp commented on #760
I had a similar issue as @alex5207. I debugged **my** code and my issue had a very simple cause: I was **mutating** row objects that I wanted to get updated in the view. Now after I do not mutate such row objects but rather create a **copy with new values** then I have no such issues.

And I think that creating a copy and mutating this copy should also work fine.

My educated guess is that @alex52

[2019-02-16 09:09] #788 closed

[2019-02-16 09:09] #791 closed

[2019-02-16 09:14] AllenFang commented on #791
Fixed in below version:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/16/version-bump.html

Please tag me if the issue still remain, thanks

[2019-02-16 09:15] AllenFang commented on #788
@megos
Fixed in below version:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/16/version-bump.html

Please tag me if the issue still remain, thanks

[2019-02-16 09:18] AllenFang commented on #786
I think there's nothing special for me, I mean you code look good and I can not reproduce any issue in my side. However, i probably will suggest you not to call `setState` in `onFilter` to avoid some side effects.

[2019-02-16 09:28] AllenFang commented on #793
@basher if `rowIndex` is helpful to you, I will add it in next version, thanks

[2019-02-16 12:22] alex5207 commented on #760
@sidorykp you were correct I think! Thanks a lot

I had a `RowEvent` which passed `row` directly to setState.
The issue was solved by copying the object using `const rowCopy = JSON.parse(JSON.stringify(row))`

Great!!

[2019-02-16 12:22] #760 closed

[2019-02-16 12:34] python273 opened #799 "remote + default sort + default filter - many onTableChange calls"
Is there a way to avoid making multiple requests in `onTableChange` on table init?

It works like that now:
[code]

I was trying to add a flag to state like `blockRequests`, but it doesn't work since state is not updated with default filter after mount

[code]

[2019-02-16 12:49] megos commented on #788
@AllenFang
Thanks! Fixed!!

[2019-02-16 12:58] basher commented on #793
@AllenFang That would be great. Thanks.
Any idea when that will be?

[2019-02-16 15:49] aliogaili commented on #791
I can confirm it's resolved now, once again thanks Allen for sharing this great library! great work.

[2019-02-16 16:33] YassienW commented on #791
All good, thanks for the quick fix!

[2019-02-17 05:16] AllenFang commented on #791
Thank you guys 👍

[2019-02-17 07:07] AllenFang commented on #793
ETA 2/20

[2019-02-17 07:09] AllenFang commented on #794
@AshCorah for your last column, did you use `formatter` to custom the content, right?

[2019-02-17 07:11] AllenFang commented on #794
I think so far I can not control it but I will figure out if there's some way can achieve your requirement, thanks

[2019-02-17 07:13] AllenFang commented on #794
btw, there's a `expandRow.expandByColumnOnly` option, you can disable it when you only want to user to expand on clicking the expand columns

[2019-02-17 07:32] AllenFang commented on #794
The other solution is you can call `e.stoppropagation()` when your component click

[2019-02-17 07:44] AllenFang commented on #795
@kaustyy that is because you choose to use standalone pagination rendering(`custom = true`). in this mode, everything will lost but you can render your component or standalone components.

However, so far we only support the `PaginationListStandalone` and `SizePerPageDropdownStandalone`, `ShowTotalStandalone` is not implemented yet.  I will implement this ASAP, thanks

[2019-02-17 09:22] AllenFang commented on #794
Let me know if above solutions are not work for you, thanks

[2019-02-17 09:22] #794 closed

[2019-02-17 09:31] AllenFang commented on #784
@bggolding understand, I will consider to implement a "pre-render" editing cell, thanks

[2019-02-17 16:17] harshzalavadiya commented on #789
Having same issue

Demo: https://stackblitz.com/edit/react-yeuhjg

[2019-02-17 16:32] harshzalavadiya commented on #789
Okay so, I tried it with different package versions and feature was working smoothly on initial releases but gone broke on 0.1.4(error) and stopped reflecting checkbox changes after patched in 0.1.5 works perfectly in 0.1.3

[2019-02-18 06:51] kittyanalyst opened #802 "Help typescript example for ToolKitProvider"
import * as React from "react";

import { fetchData } from "./../services/ApiClient";

import "./../styles/ReactDataTable.css";
import BootstrapTable from "react-bootstrap-table-next";
import ToolkitProvider, { Search } from "react-bootstrap-table2-toolkit";
import { loanSalesColumns } from "./ReactDataTableComponents";

const { SearchBar } = Search;
export interface Props {
  apiUrl: string;
  on

[2019-02-18 07:50] basher commented on #793
Excellent. Thanks for your prompt fix.

[2019-02-18 15:05] cancerberoSgx commented on #384
Hello! I really needed typings for this great library, so I started working on them, see the current status here: https://github.com/cancerberoSgx/suitescript-types-tools-and-frameworks/blob/master/react-redux-client-app/src/components/data/react-bootstrap-table-next/types/types.d.ts

There's still much to do, but basic examples already work without compile errors. I will keep working on this, alt

[2019-02-18 15:15] kittyanalyst commented on #802
Actual Error is
TypeError: Cannot read property 'baseProps' of undefined

[2019-02-18 17:03] PierreFG opened #803 "Data attribute containing brackets"
Hi,

Some of my attributes' contain brackets, ex:
`{
   "foo [012]" : "bar"
   "foo [0113]" : "bar"
   "foo [001]" : "bar"
}`

The table _does'nt display anything_ in these columns. I think it splits the string thinking I want a sub-object (something like `data[foo][012]`). I tried to escape like "\[" but it didn't work. Any ideas ?

[2019-02-18 17:45] AshCorah commented on #794
This worked for me, thanks so much :)

[2019-02-19 05:49] AllenFang commented on #794
👍

[2019-02-19 10:29] ronaiza-cardoso commented on #38
Hello, there is some progress on this?

[2019-02-19 10:45] ronaiza-cardoso opened #805 "Row event return Proxy"
I'm using row events like this
[code]
the event is return PROXY object like this:
![image](https://user-images.githubusercontent.com/7999914/53009431-6987e180-3433-11e9-8135-ebd031812459.png)

[2019-02-19 11:00] ronaiza-cardoso opened #806 "Can I have rowEvents Outside outside render method?"
Hi, now I have this row event:
[code]
and I need to pass him to another component to show the context menu, there's a way of doing this?

[2019-02-19 11:09] Suntikka commented on #719
Having this exact issue with react-bootstrap-table-next@2.1.2.

[2019-02-19 12:24] AllenFang commented on #799
@python273 so far, we dont have solution, but i will keep to find whether we can enhance it, thanks

[2019-02-19 12:27] AllenFang commented on #802
Please read document more detail, I guess there's something wrong in your code:

[code]

[2019-02-19 12:27] #802 closed

[2019-02-19 14:39] DragonSinMeliodas commented on #512
Hey Any update on this feature , i kinda need this feature too , this would make my life a lot more easier :+1:

[2019-02-19 15:08] jbcksfrt commented on #512
Sorry, I had to switch table libraries due to other issues I was having, so I doubt that I will work on this task.  Good luck.  Thanks for the library, though.  It was helpful.

[2019-02-19 16:22] YassienW commented on #735
This seems to be happening with formatter too, here is an [example](https://codesandbox.io/s/qv3q2y9ry6)

On initial render, the label is displayed fine. However after clicking the button the data changes but the format isn't applied properly

[2019-02-19 16:33] kittyanalyst commented on #802
If I change code to
{  props => ( .  // . <<<here, it should not be ({ props }: any)
          <BootstrapTable {...props.baseProps} />
      )
this will not compile. Error message props should specify explicit any type.
I am using ES5 type script

[2019-02-19 16:52] AshCorah opened #807 "When I render a new set of data, the formatter doesn't apply to all of the fields"
I am rendering XYZ set of data that all go through the formatter: (cell, row) => option.

However, I have a selection option to get a different set of data. When I set the state of my components data to ABC data when the option is clicked, it's then passed to BootstrapTable but not every field/row go through the formatter option. Some do, some don't.

![image](https://user-images.githubusercontent

[2019-02-19 18:57] mpnetto opened #808 "Date Filter nor working right"
Hello,
I'm trying to implement the date Filter in an app, but aparently the equal comparator is not working as it should. In the example in the storyBrook (link below), I have to put one day after to get the date I want. For example: if I want to get 04 feb 2019, I have to put in the filter 05 feb 2019. Is there any way to correct this.

Thanks for the good work.

https://react-bootstrap-table.git

[2019-02-19 21:37] F-Adam-B commented on #291
I have a table that has 20+ columns. How is it possible to render a table with that many columns and no horizontal scroll option?
![screen shot 2019-02-19 at 2 05 42 pm](https://user-images.githubusercontent.com/24982223/53049210-d4491500-3453-11e9-8f1d-0e7cdfea860b.png)

[2019-02-19 22:26] oitozero commented on #807
+1

[2019-02-20 09:55] jackiechenn opened #809 "React-bootstrap-table2 multiple tabs support"
Hello, would it be possible to support multiple tabs in react-bootstrap-table2? I would like to display different json data to different table tabs.

I.e. Accounting tab, Marketing tab, Finance tab

Backend
JsonData
 String accountingJson <- to be displayed in the 1st table tab
 String markettingJson <- to be displayed in the 2nd table tab
 String financeJson <- to be displayed in the 3rd table ta

[2019-02-20 11:05] agarciaffdc commented on #778
Thank you so much @AllenFang for the fix. @jrvaldiviaffdc is on leave these days but your fix will help us to unblock our task. We will take a look and back to you if we have any question.

Thanks again

[2019-02-20 15:05] #723 closed

[2019-02-20 15:05] #793 closed

[2019-02-20 15:05] #795 closed

[2019-02-20 15:13] AllenFang commented on #795
We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column-toggle.html) is docs for column toggle and [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selecte

[2019-02-20 15:14] AllenFang commented on #723
We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column-toggle.html) is docs for column toggle and [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selecte

[2019-02-20 15:14] AllenFang commented on #677
We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column-toggle.html) is docs for column toggle and [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selecte

[2019-02-20 15:15] AllenFang commented on #463
We have new release for for supporting column toggle: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column-toggle.html) is docs for column toggle and [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.h

[2019-02-20 15:15] AllenFang commented on #151
We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-column-toggle.html) is docs for column toggle and [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selecte

[2019-02-20 15:15] #151 closed

[2019-02-20 15:18] AllenFang commented on #795
We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

We support `PaginationTotalStandalone`!!, please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Standalone%20Pagination%20Total&full=0&addons

[2019-02-20 15:18] AllenFang commented on #793
@basher, We have new release for fixing this issue: please check [RELEASE NOTE](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/) and upgrade related packages

[2019-02-20 15:20] AllenFang commented on #803
@PierreFG I will figure out this.. but so far I didn't saw this case(Object key contain brackets)

[2019-02-20 15:20] AllenFang commented on #803
anyway, I will do suggest to avoid this kind of data

[2019-02-20 15:32] AllenFang commented on #805
@ronaiza-cardoso what version you use?

[2019-02-20 15:37] AllenFang commented on #805
<img width="624" alt="2019-02-20 11 37 02" src="https://user-images.githubusercontent.com/5351390/53103372-79eda880-3568-11e9-9796-8f17b3c3f7c5.png">

[2019-02-20 15:37] AllenFang commented on #805
In my case, it's an event object

[2019-02-20 15:39] AllenFang commented on #806
absolutely sure.

[2019-02-20 15:39] #806 closed

[2019-02-20 15:46] AllenFang commented on #807
@AshCorah would you please use [this](https://codesandbox.io/s/jlol04qrxv) example to create a simple and minimal example for me to reproduce this issue?  (be careful to the version of `react-bootstrap-table2` in above link)

This issue might be a bug or your formatter is not pure:

check [document](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatt

[2019-02-20 15:52] AllenFang commented on #808
<img width="844" alt="2019-02-20 11 52 01" src="https://user-images.githubusercontent.com/5351390/53104565-8b37b480-356a-11e9-8c30-6f1db6b304ca.png">

that is wired.... it work well for me

[2019-02-20 15:52] AllenFang commented on #808
any more information?

[2019-02-20 16:15] basher commented on #793
Thanks @AllenFang
I'll implement fix asap.

[2019-02-21 00:30] casha1995 commented on #424
this will change the whole react-table-bootstrap css what if if you want to change it with #id

[2019-02-21 01:51] AllenFang commented on #802
@kittyanalyst  is it doesn't work?

[code]

[2019-02-21 01:51] AllenFang commented on #793
please tag me if the issue still remain, thanks

[2019-02-21 01:52] AllenFang commented on #778
Please tag me if you guys have any question, thanks @agarciaffdc

[2019-02-21 03:32] rushtokunal commented on #723
@AllenFang thanks a ton for implementing this, will take a look and confirm

[2019-02-21 07:25] kaustyy commented on #795
Thanks Allen for quick release of functionality. Great work.

[2019-02-21 09:00] AshCorah commented on #807
Don't worry, I have resolved my issue. I wasn't using a pure component. I've resolved the problem :)
Thanks for you help anyway!

[2019-02-21 09:00] #807 closed

[2019-02-21 09:19] Stefan-Reimer opened #811 "Filter result cleared after using search"
When I filter a table using the filter of a column and use the search afterwards, it will remove the filter of the column and only filter using the text in the search field.

Look at this example: https://stackblitz.com/edit/react-sc5gme?file=index.js

If you search for 'Peter' in the 'First Name' column filter and then search for 'Parker' in the Search Text it will  show 'Lisa Parker' and 'Peter

[2019-02-21 13:02] akparaliev commented on #381
does not work in IE, position: sticky is not available there

[2019-02-21 14:50] basher commented on #793
Works a treat, @AllenFang

Here's a working snippet of the relevant code to add an **ID** to a row selector.
The important bit is `rowIndex`.

[code]

[2019-02-21 14:57] armohammadi56 opened #812 "disable Select for one column"
I need to  clickToSelect true for table and disable select for one column?

[2019-02-21 16:13] ronaiza-cardoso opened #813 "Pagination having no effect"
Pagination having not effect on table. I have one table with state and props and when I change the pagination the data inside is not beem updating.

[2019-02-21 17:09] ronaiza-cardoso commented on #568
Hi, I'm having this issue, the UI pagination is been updating but the data is not, this is the my table with the data:
[code]

the lib version is:
[code]

[2019-02-22 03:30] AllenFang commented on #813
@ronaiza-cardoso any more information so that I can reproduce it? what version you are using now?

[2019-02-22 03:32] AllenFang commented on #811
@Stefan-Reimer I will check this, thanks

[2019-02-22 07:12] sahilvicesoftware opened #814 "defaultValue not working for filters"
Hi @AllenFang
Thanks for this great library.
Could you help me on how to set default filters.

I used the code as per the docs but default filter is not getting applied.

Code - ```{
          dataField: 'status',
          text: 'STATUS',
          formatter: formatStatusColumnData,
          headerFormatter: getColumnHeaderContentForStatusField,
          filter: selectFilter({
            optio

[2019-02-22 08:58] ronmo32992 commented on #813
same here.
I tried both of these versions but no longer working:

 "react-bootstrap-table-next": "^2.2.0",
 "react-bootstrap-table2-filter": "^1.1.4",
 "react-bootstrap-table2-paginator": "^2.0.3"

and

"react-bootstrap-table-next": "^1.4.2",
"react-bootstrap-table2-filter": "^1.1.0",
"react-bootstrap-table2-paginator": "^1.0.4",

[2019-02-22 09:43] ronaiza-cardoso commented on #813
When I update for this worked, thanks for the amazing job on table.

[code]

[2019-02-22 09:44] ronmo32992 commented on #813
can you share me the code?

[2019-02-22 09:58] ronaiza-cardoso commented on #805
[code]

[2019-02-22 11:46] ronaiza-cardoso commented on #367
Hi, @nthgol, I'm trying to do this, but my event is a proxy event:

![image](https://user-images.githubusercontent.com/7999914/53240591-026a6700-3697-11e9-8b6d-14744fa903b8.png)

[code]

[2019-02-22 11:52] ronaiza-cardoso commented on #805
[code]

[code]
[code]

[2019-02-23 01:21] AllenFang commented on #813
@ronmo32992 please make sure your upgrade all the relative packages, thanks.  If the issue still remain, please open another issue and attach a simple and minimal code for reproducing bug, thanks

[2019-02-23 01:21] #813 closed

[2019-02-23 01:43] sartaj10 opened #815 "Question : Add button to edit instead of clicking"
I was wondering if there is a way to click a button to edit a particular cell instead of just clicking on the cell itself? Is there an example for this anywhere?

Thanks!

[2019-02-23 07:49] AllenFang commented on #805
@ronaiza-cardoso how about upgrade your `react.js`? I test your case in `react@16.4` is work

[2019-02-23 08:15] AllenFang commented on #812
@armohammadi56 so far we dont have this feature and it's minor for me, so PR is welcome, thanks

[2019-02-23 08:24] AllenFang commented on #814
`defaultValue: 2` please make sure your raw data's `status` field is a number like 1, 2 etc.

[online](http://localhost:6006/?selectedKind=Column%20Filter&selectedStory=Select%20Filter%20with%20Default%20Value&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) demo is work, so I believe there's something wrong in your code.

If the issue still remain, please tag

[2019-02-23 08:24] #814 closed

[2019-02-23 08:48] AllenFang commented on #815
@sartaj10

[code]

[2019-02-23 12:28] YassienW commented on #629
I am having the same issue and i can't get it to work, the formatter function doesn't get called on data change [here](https://codesandbox.io/s/lx5v20jq9z)

Did you guys manage to get it working?

[2019-02-23 15:00] armohammadi56 commented on #812
thank you @AllenFang

[2019-02-23 16:26] waynebrantley commented on #629
add alert to format extra data on the column since column depends on values other than column value.
[code]

[2019-02-23 18:35] YassienW commented on #629
That doesn't really work, what does work however is [setting it as a dummy field](https://codesandbox.io/s/1066qxr1r4) OR adding the label object to formatExtraData like so:

`formatExtraData: {
        alert: <span className="badge badge-warning ml-2">Alert</span>
}`

It honestly doesn't make much sense

[2019-02-24 02:40] functionsonly opened #817 "column editorRenderer"
In the custom editor example: [https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Custom%20Editor&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel](url), when you click on multiple cells to edit, and click on "done", the behavior is abnormal and unmanageable.

Can you add a parameter for

[2019-02-24 04:04] waynebrantley commented on #629
No, you just list the extra data....exactly like I have it above...just the property name.
Think of it like this - the rendering is cached and does not re-render unless it has to.  I knows it has to if the field changes....which in your case does not change...but there are other fields it is dependent on - and you simply list them in the formatExtraData..

[2019-02-24 06:10] AllenFang commented on #815
This issue will be fixed in next version then you can follow the above example to achieve your requirement.

[2019-02-24 06:58] AllenFang commented on #809
@jackiechenn sorry, I didn't get you, what tab you mean here?

[2019-02-24 07:11] AllenFang commented on #735
@YassienW I will check again for your issue, btw, did you fix it? sorry for lately reply.

[2019-02-24 07:16] AllenFang commented on #735
@YassienW I think your case is interesting, your formatter make the `shouldComponentUpdate` return `false` always due to your column filed is `name` but in this column formatter, you reference another field: `alert`.  So internally, the row level is rerender but cell level is not

[2019-02-24 08:20] AllenFang commented on #817
@functionsonly I think its not a bug, it just I didn't call `focus()` when editor rendered. I will enhance the example

[2019-02-24 08:59] #811 closed

[2019-02-24 08:59] #735 closed

[2019-02-24 08:59] #789 closed

[2019-02-24 08:59] #815 closed

[2019-02-24 09:06] AllenFang commented on #817
[code]

[2019-02-24 09:10] AllenFang commented on #735
@YassienW I fixed your issue: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/24/version-bump.html

[2019-02-24 09:10] AllenFang commented on #789
Fixed: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/24/version-bump.html

[2019-02-24 09:11] AllenFang commented on #815
@sartaj10 fixed in https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/24/version-bump.html

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html#trigger-cell-editing

[2019-02-24 09:12] AllenFang commented on #811
Fixed: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/02/24/version-bump.html

[2019-02-24 11:52] YassienW commented on #629
Can you please provide a code sandbox? The one you sent above doesn't work, and adding your code throws errors. As far as i know formatExtraData is supposed to receive an object of key: value pairs that get passed on to the formatter function.

[2019-02-24 12:11] YassienW commented on #735
Thanks a lot for the quick fix Allen. I did manage to fix it by setting the column to be a dummy field, or using formatExtraData as discussed on #629. I'm not sure if this is intentional though

[2019-02-24 19:30] Fornori opened #819 "Qestion: Mobile view"
Hello.
How about support mobile view of the table?
From the box table not looks good. $( It's just adjust the column and that's all. Not good view on the mobile.
Is any suggest to adaptive this component for the mobile view?

[2019-02-24 22:46] waynebrantley commented on #629
Sorry, I was thinking about another ticket.
In your case - the comparison needs to be done on the ROW values - not the column value (because you use other fields in the row).  So, if you make it a dummy field - that is exactly what will happen.

https://codesandbox.io/s/vn2y20znw3

[2019-02-25 12:15] AllenFang commented on #735
@YassienW i think `dummy` field is for a column which is just display a button or something else instead of an actual data field.,  In you example, it's absolutely correct for me.

I encourage developer to use `formatExtraData`  when you need some data which is not belong to the `cell` and `row` value.

[2019-02-25 20:46] functionsonly commented on #817
So for one of the columns, I've been using the editorRenderer property to call a component that returns a react-select element.  react-select actually creates a bunch of divs and appears to only use the hidden input type.  I can't seem to close one cell when opening another using react-select, i'm suspecting it's due to the react-select.

https://codesandbox.io/s/88pv3omrn8

[2019-02-26 01:50] AllenFang commented on #817
@functionsonly ok, I will check out above case again, thanks!

[2019-02-26 11:44] sahilvicesoftware opened #820 "Search on filtered data returning results from original data"
Hi @AllenFang
If i search through the table and then apply filters, it works fine.
But if i filter the data first and then search the table, it shows the results from the original data rather than from the filtered data only.

Appreciate your help.

[2019-02-26 12:07] lovato-hp opened #821 "Setting bordered={false} should draw horizontal lines?"
The default example is a good one.

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=borderless%20table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

I am mainly opening this because it took me a lot of time figuring it out. This was the normal behavior for RBT1 (almost sure). Just

[2019-02-26 12:35] pritam-patil opened #822 "dev build stuck in dependency install step"
We were using the older version react-bootstrap-table, before migrating we thought of reading the documentation. There are quite a few improvements that could be done, we thought.

So after cloning the repo for development (doc editing) purposes, since last couple of days I'm stuck in dependency install step (yarn OR npm install) .

These are the logs that could help -

**Platform Info:**
OS: Ubun

[2019-02-26 13:28] lovato opened #823 "Setting bordered={false} should draw horizontal lines?"
The default example is a good one.

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=borderless%20table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

I am mainly opening this because it took me a lot of time figuring it out. This was the normal behavior for RBT1 (almost sure). Just

[2019-02-26 13:28] #821 closed

[2019-02-26 13:32] lovato opened #824 "Setting up Toolkit and SearchBar gets 'Functions are not valid as a React child.'"
I know logic cound not be at its best, but then problem showed up when I added Search.
Using this code on Tablev1 with search had no issues.
Perhaps the way I declared things is messing something up. This is my first React code, and I still need to clean up stuff in the future.

Dependencies:

    "react": "^16.8.3",
    "react-bootstrap-table-next": "^1.1.4",
    "react-bootstrap-table2-toolkit":

[2019-02-26 14:13] lovato commented on #824
Then I did this:

            <ToolkitProvider
              keyField="id"
              data={tableData}
              columns={columns}
              bootstrap4={true}
              search={searchProps}

              <div>
                <SearchBar { ...searchProps }/>
                <hr />
                <BootstrapTable
                  { ...baseProps }
                  id="wishlist_table

[2019-02-26 14:15] lovato commented on #824
Then this:

            <ToolkitProvider
              keyField="id"
              data={tableData}
              columns={columns}
              bootstrap4={true}
              search={searchProps}

              <div>
                <SearchBar { ...searchProps }/>
                <hr />
                <BootstrapTable
                  keyField="id"
                  data={tableData}

[2019-02-26 15:19] AllenFang commented on #819
@Fornori so far I dont have plan to do this, the feasible solution will be show a key value table instead in narrow device. [This](https://css-tricks.com/responsive-data-tables/) is sample.

[2019-02-26 15:20] AllenFang commented on #820
@sahilvicesoftware I think this issue was fixed https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/811

Please tag me if the issue still remain

[2019-02-26 15:20] #820 closed

[2019-02-26 15:23] AllenFang commented on #822
@pritam-patil I use the same env but I can not reproduce this. If you really need to check the storybook, you can see the [online version](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html).

[2019-02-26 15:25] AllenFang commented on #822
in my local env, I use `node@8`, `yarn@1.12.3` and `lerna@2.8.0` << . you try again by this

[2019-02-26 15:40] AllenFang commented on #823
@lovato default bootstrap table is borderless, [here](https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_table-responsive&stacked=h) is an online example.

in `react-bootstrap-table2`, I hope table should with border as default.  If you disable if, the table style will just like above example. actually, if you didn't disable it, `react-bootstrap-table2` will add a `table-bordered` cl

[2019-02-26 15:40] #823 closed

[2019-02-27 02:16] lovato commented on #823
Thanks for the clarification. Once I have found a solution, I am fine.

[2019-02-27 05:33] functionsonly opened #825 "Second table does not rerender with updated date after setState called"
I have two tables. If I refresh an element in one table, the second table doesn't show the update after setState has been called.

https://codesandbox.io/s/1v8znzknm7

Is there a way to force all tables to re-render?

[2019-02-27 09:23] jackiechenn commented on #809
@AllenFang  sorry for the late reply, thank you for your response.
I meant the table tab e.g. https://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp

When we click on menu2 tab, it switches to the different data.

Thank you very much.

[2019-02-27 10:52] nkidmano opened #826 "Pagination show blank/empty row when you're on the last page and delete last item"
Encounter this problem when I'm on last page and if there's only 1 item in the table and I delete it. Table show empty/blank row. I think it should re-render table or force it back to previous page.

https://codesandbox.io/s/rylnxq7nn

[2019-02-27 11:20] ahmarkhan opened #827 "Setting the hidden attribute of a column to false or true dynamically"
When I set the property **hidden** in the following :

 {
            dataField: 'display_name',
            text: 'Product Name',
            sort: true,
            onSort: (field, order) => {
                /* This field can be used to send across to the API for server side calling*/
                console.log('field-->', field, '--order--', order)
            },
            **hidden** : **fa

[2019-02-27 12:56] lovato opened #828 "Are all Toolkit search={searchProps} being propagated?"
In the example, I can find this:

[code]

This actually works.

But this won't work (placeholder will still be 'Search'):
[code]
I created this object:

[code]
And if I do this:
[code]
Only 'anyx' is displayed. If I delete the text inside the displayed component, placeholder is again 'Search', not the one I specified.

To achive this currently, I need to use this way:
[code]
or ignoring any change

[2019-02-27 13:02] lovato commented on #824
I added a bunch of my code at https://codesandbox.io/s/k9ylv058y5 and ... it works.
I still don't know if this is related to UMD or not.

[2019-02-27 14:15] lovato commented on #824
Locally on my PC, if I remove the (props)=>, and declare SearchBar and BootstrapTable manuall, and also pass manually all props, it renders. But when searching, i got:
[code]

[2019-02-27 14:46] lovato commented on #824
Solved.

const ToolkitProvider = window.ReactBootstrapTable2Toolkit.default;

[2019-02-27 14:46] #824 closed

[2019-02-27 17:36] nathan-fortier opened #829 "Pagination remoteEmitter undefined, isRemotePagination undefined"
I cant seem to get the pagination to work at all.

[code]
Attempting to do basic implementation at the moment
[code]
Console Errors:
[code]

[2019-02-28 07:27] kamransid commented on #731
Use remote props with pagination flag true in BootstrapTable tag ....

[2019-02-28 10:50] akash-more commented on #409
I have achieved this using CSS here's my code:
My Bootstrap table id is "mapping_table". You may need to change the width that is mentioned as 98.7% as per your table to get your headers aligned properly.
#mapping_table tbody {
  display:block;
  height:200px;
  overflow-y:scroll;
}
#mapping_table thead{
  display:table;
  width:98.7%;
  table-layout:fixed;
}
#mapping_table tbody tr {
  display:ta

[2019-02-28 11:02] akash-more commented on #230
I have achieved this using CSS here's my code:
My Bootstrap table id is "mapping_table". You may need to change the width that is mentioned as 98.7% as per your table to get your headers aligned properly.
#mapping_table tbody {
display:block;
height:200px;
overflow-y:scroll;
}
#mapping_table thead{
display:table;
width:98.7%;
table-layout:fixed;
}
#mapping_table tbody tr {
display:table;
width:100

[2019-02-28 22:24] rexatgithub opened #830 "selectFilter not working inside PaginationProvider"
I'm not sure if there is something I miss here. It was working on the older versions but not on the versions below.

**Versions:**
 "react-bootstrap-table-next": "^3.0.0",
 "react-bootstrap-table2-filter": "^1.1.5",
"react-bootstrap-table2-paginator": "^2.0.3",

**Current Behaviour:**
SelectFilter works perfectly through BootstrapTable alone however in my case where i want custom pagination, using

[2019-03-01 16:15] nathan-fortier commented on #829
disregard, I didnt realize i had such an old version as I had only installed it a couple months ago. I have updated to table-next 3.0.0 and all issues are resolved.

[2019-03-01 16:15] #829 closed

[2019-03-01 18:05] yzhak commented on #495
@AllenFang I can reproduce the above bug in the latest version:
react-bootstrap-table-next@3.0.0
react-bootstrap-table2-toolkit@1.3.1
react-bootstrap-table2-paginator@2.0.3
react-bootstrap-table2-filter@1.1.5

In addition, I have a related issue.
To reproduce:

1. There are more than 10 rows and sizePerPage is 10.
2. Search for some "SearchTerm1" in the SearchBar that returns 2 pages of results.
3

[2019-03-01 22:06] nathan-fortier opened #831 "filtering with custom pagination not working"
**When filtering with custom pagination I receive the following error:**
<img width="1258" alt="screen shot 2019-03-01 at 5 10 27 pm" src="https://user-images.githubusercontent.com/48065276/53669414-053ffb80-3c45-11e9-91e1-d38a900259c9.png">

**Steps to reproduce:**
In the code example I have provided simply set the second columns filter to "a" and then click on the 2nd page

<img width="423" alt=

[2019-03-03 12:22] dukesx opened #832 "Table only displays one records from MongoDB"
Hi, I am fetching data from MongoDB , the result of which is sent in JSON format. My problem is that i can collect all data in state , this is the form :

[code]

but when i tell the table to fetch "Data" , it just shows 1 record. I have looped through all 8 records of data myself and it does have all the records stored in it. Then Why isn't the table showing all the data ??

Note : I am using Raz

[2019-03-03 16:00] ipetrini opened #833 "Search bar problem"
I'm having this weird problem when combining the Search bar and cell editing.

My code looks like:

Edit: I have problems with posting code here, so here it is:

https://pastebin.com/AH1jyq08

The problem is that when I reload the page where this table is in, and then I try to edit some cell, that cell is not showing the new value, but my state and my database are updating properly.

However, when

[2019-03-04 10:08] ErickMwazonga opened #834 "validateDOMNesting(...): <div> cannot appear as a child of <table>."
![screenshot from 2019-03-04 13-06-16](https://user-images.githubusercontent.com/19705223/53726125-64d51b80-3e7e-11e9-9282-0047443caf0c.png)

![screenshot from 2019-03-04 13-07-45](https://user-images.githubusercontent.com/19705223/53726206-9352f680-3e7e-11e9-9f72-94ba4072496a.png)

That's the sample code

[2019-03-04 13:59] AllenFang commented on #825
@functionsonly this is not a bug, you mutate the state directly. Please do not modify the state data.

[here](https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns) is an article to teach how to mutate data in a correct way.

[2019-03-04 13:59] #825 closed

[2019-03-04 14:00] AllenFang commented on #826
@nkidmano sorry for lately reply, it's a bug, I will fix it ASAP, thanks

[2019-03-04 14:08] AllenFang commented on #827
@ahmarkhan sorry for lately reply,

it's work for me:

[code]

Two things I need to mention:

1. Please mutate state data correctly, if you don't know how to mutate data, please check https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns
2. Please upgrade all the `react-bootstrap-table2` related package to the newest. [here](https://react-bootstrap-table.github.io/react-boots

[2019-03-04 14:08] #827 closed

[2019-03-04 14:16] AllenFang commented on #828
@lovato firstly, sorry for lately reply. about your issue, we use context to pass some internal function to core table and some search functionality configurations.  about placeholder, style, class for `SearhcBar` component, you can just render component with your custom props directly.

Thanks

[2019-03-04 14:16] #828 closed

[2019-03-04 14:18] AllenFang opened #835 "Update available props on SearchBar component"
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-search.html

[2019-03-04 14:27] AllenFang commented on #830
@rexatgithub it's a regression issue, I will fix it ASAP, thanks

[2019-03-04 14:37] AllenFang commented on #831
@nathan-fortier it's an regression issue, I will fix it in this weekend, thanks

[2019-03-04 14:41] AllenFang commented on #832
@dukesx how do you update data to `BootstrapTable` component?  is there any example code? I think `react-bootstrap-table2` allow developer to update data on the fly. so it shouldn't be a problem.  if ok, I will suggest you to create an online demo for me to reproduce this issue, [here](https://codesandbox.io/s/jlol04qrxv) is an example.

I will open this issue if I can reproduce this issue, Thanks

[2019-03-04 14:41] #832 closed

[2019-03-04 14:44] AllenFang commented on #834
@ErickMwazonga I never see this issue so far. what version you use now?

can you show all the code? or put it into codesandbox.io. [here](https://codesandbox.io/s/jlol04qrxv) is an example you can leverage to create your own. thanks

[2019-03-04 14:45] norbertnemeth opened #836 "Expanded row column span does not update"
When I display or hide a column with the hidden attribute, then the column span don't update in the expanded row. Basically the expanded row doesn't follow the simple row's col spans.

![image](https://user-images.githubusercontent.com/15226246/53740459-87722f00-3e94-11e9-9578-efc9f2221cd0.png)

[2019-03-04 14:51] knightburton commented on #836
That would be awesome if this would be improved!

[2019-03-04 16:37] nathan-fortier commented on #819
I am actually working on this right now. I plan to tie into the column object and add additional parameters to choose which columns will be show on a mobile device. However I don't want to keep the formatting because a table just doesn't display data very well on mobile. Instead i'm thinking ill re-render the grid either with 1 column (if the columns support custom formatting as ill be honest i ha

[2019-03-04 18:16] functionsonly commented on #825
Updated with a copy of the state data.  Still no render:  https://codesandbox.io/s/73zp4z5jk1

[2019-03-04 19:17] functionsonly commented on #825
Nevermind, I see what you're saying!  Thanks.

[2019-03-04 21:53] colinwagner commented on #836
I'm having the same issue. It seems visibleColumnSize() is being called and calculated properly but the   prop visibleColumnSize remains the same.

[2019-03-05 01:23] AllenFang commented on #825
👍

[2019-03-05 07:52] ErickMwazonga commented on #834
All my tables through the same error, I have been using it nevertheless.
Dependencies
[code]

the entire file code can be found here https://codesandbox.io/s/wk5x0qkwv5?fontsize=14

[2019-03-05 14:06] nathan-fortier opened #838 "alwaysShowAllButtons on pagination does not show all buttons"
If you are on the first few pages the "First Page" button is missing when this flag is on. Similarly if you are on the last few pages the "Last Page" button is missing. It seems silly for the bar to jump around adding and removing buttons.

https://codesandbox.io/s/rpr0v789n?fontsize=14

[2019-03-05 17:10] yzhak opened #839 "PaginationProvider + ToolkitProvider Issues"
@AllenFang

I can reproduce the bug described in https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/495  in the latest version:

react-bootstrap-table-next@3.0.0
react-bootstrap-table2-toolkit@1.3.1
react-bootstrap-table2-paginator@2.0.3
react-bootstrap-table2-filter@1.1.5

In addition, I have a related issue.
To reproduce:

1. There are more than 10 rows and sizePerPage is 10.

[2019-03-05 17:22] paaatrick opened #840 "btnContextual property on SizePerPageDropdownStandalone not passed to SizePerPageDropdown"
I'm working on upgrading from react-bootstrap-table version 1. Previously I could set the `btnContextual` property on the `SizePerPageDropDown` component. In version 2, it looks like that property still exists on `SizePerPageDropDown`, but it is not passed through when I set it on the `SizePerPageDropdownStandalone` component:

[code]

[2019-03-06 05:31] sahilvicesoftware commented on #814
Updating the package fixed the issue.Thanks @AllenFang .

[2019-03-06 14:31] AllenFang commented on #836
We will fix this in this weekend, sorry for inconvenience.

[2019-03-06 14:43] AllenFang commented on #838
@nathan-fortier i think it's correct behavior, please check the [doc](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationalwaysshowallbtns-bool):

in the implementation, we only show the next and prev button always instead of first and last page. However, I think this is my little mistake, because this props is "show all buttons", so I will do some

[2019-03-06 14:50] AllenFang commented on #839
@yzhak i see, I will spend some time to look this issue, however, if there's a simple and minimal example for me to reproduce will be very appreciated, [this](https://codesandbox.io/s/jlol04qrxv) is an online example you can fork.  ((I usually to encourage developer to write an online demo code on codesandbox.io for reproducing issue.

Thanks

[2019-03-06 15:02] nathan-fortier commented on #838
Yes per your doc it is correct however its not very robust and the prop name does suggest its going to show ALL buttons. In my case, I don't want the bar moving around a lot so I would prefer to show ALL buttons not just MOST of the buttons. Perhaps adding an option to pass an object (or array) of which buttons to always display so that you have the option to always show next and prev or always sh

[2019-03-06 15:47] yzhak commented on #839
@AllenFang Thank you, Allen, for your time. Below is my code:
`
import React, { Component } from 'react';
import BootstrapTable from 'react-bootstrap-table-next';
import ToolkitProvider, { Search } from 'react-bootstrap-table2-toolkit';
import paginationFactory, { PaginationProvider, SizePerPageDropdownStandalone, PaginationListStandalone } from 'react-bootstrap-table2-paginator';

const products

[2019-03-06 16:04] yzhak commented on #839
The search works only on the first page and breaks if searching from any other page.

[2019-03-08 05:40] jmandivarapu1 opened #842 "Function On button inside each row"
Hi,

I am new to react. So I tried a lot and finally decided to post here for some help.

The Question is I have a table with each row consisting of a switch or toggle button(any button is okay).[I am creating the last column with buttons using some condition on data]
Whenever there is a change in the button state from on to off. I need a function to print the column and row in which it is changed

[2019-03-08 09:45] superdopey commented on #657
I am having the same problem, this code workds fine
[code]

[code]

But when I want to use the ToolkitProvider:
[code]

I get the same filter error as @jcrew.

[2019-03-08 10:59] matiaslavista commented on #656
This issue is still happening. I've seen alot of comments going back to 2015, where people talk about umutable state. I just through out the react-bootstrap-table2, and replaced it with react-table an it worked. What was happening to me was the actual underlying numbers were updating but the table wasn't showing the update (i.e. i could see the update through inspection, + it was updated in the fo

[2019-03-08 11:02] damianociarla opened #843 "Trigger cell change by external event"
Hi, I would like to change the value of a single cell when an event is executed, such as a status update by a socket message. It's possible to do it? I'm looking at [this section](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/exposed-api.html) but I do not see events that are right for me.
Thanks in advance :-)

[2019-03-08 11:32] superdopey commented on #657
I got it. The filter and the pagination properties are not avaiable in `ToolkitProvider` and thus don't get passed down to the  `{...props.baseProps}`.

When I add the filter property manually the error is gone.
[code]

@AllenFang (feature request) Is it possible to filter add the filter to ToolkitProvider, so that the exported data will also be filtered?

[2019-03-08 18:27] zbitouzakaria opened #844 "BoostrapTable doesn't re-render using react-bootstrap-table-next@3.0.0, but does using 0.1.15"
Hi guys,

Following the related issue https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/444

Example code https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/444#issuecomment-410495815 (copy below) works with react-bootstrap-table-next at version 0.1.15, but not with 3.0.0

[code]

Am I missing something here ?

Thank you

[2019-03-08 19:00] zbitouzakaria commented on #844
I setup an example here: https://codesandbox.io/s/8km0ly74m0

Working:
- 0.1.15

Not working:

[2019-03-08 21:14] sudravi opened #845 "hidePageListOnlyOnePage not working"
I'm not able to hide the pagination bar for my table when there's only 1 page. I tried setting hidePageListOnlyOnePage to true, but I still see a button below my table that says "1".  I'm testing with 1 row (1 page).

Here are the options for my table:

[code]

[2019-03-09 04:46] #842 closed

[2019-03-09 04:46] jmandivarapu1 commented on #842
I have fixed it

[2019-03-09 05:04] AllenFang commented on #809
This is table library, we didn't support tab pills. actually, if you want to render different table in different tab, I think it will work well

[2019-03-09 05:04] #809 closed

[2019-03-09 10:30] AllenFang commented on #831
note: familiar issue with https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/830

[2019-03-09 10:37] AllenFang commented on #833
@ipetrini did you enable the `remote` mode? I saw you didn‘t enable it, so I'm curious how you update the data after editing a cell.  Would you please put a minimal, simple and dummy example on codesandbox.io?  That will be very helpful for me to reproduce this issue.  [here](https://codesandbox.io/s/jlol04qrxv) is an example you can take it.

[2019-03-09 10:51] AllenFang commented on #839
@yzhak try to not give `page` and `sizePerPage` always.

[2019-03-09 13:20] ipetrini commented on #833
Hi @AllenFang. No, I didn´t enable the remote mode.
Here is an example that looks similiar to my code [https://codesandbox.io/s/nnrqoox274?fontsize=14](url)

[2019-03-09 14:19] AllenFang commented on #833
HI @ipetrini sorry, I can not reproduce your issue. Please give me more information so that I can reproduce it.  btw, how do you update the cell? any information is appreciated.

[2019-03-09 14:39] AllenFang commented on #844
@zbitouzakaria please follow [this](https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns) to update/mutate data in correctly or not you will make `react-bootstrap-table` recognize your data is not change.  Too many people ask the same question. So please I will ask developer to read above doc and figure out how `shouldcomponentupdate` work and why we need `immutable.js` some

[2019-03-09 14:39] #844 closed

[2019-03-09 14:39] AllenFang commented on #444
please follow [this](https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns) to update/mutate data in correctly or not you will make `react-bootstrap-table` recognize your data is not change.  Too many people ask the same question. So please I will ask developer to read above doc and figure out how `shouldcomponentupdate` work and why we need `immutable.js` sometime.

ping me

[2019-03-09 14:39] #444 closed

[2019-03-09 14:40] AllenFang commented on #835
also update available props for sizePerPagestandalone components

[2019-03-09 15:34] ipetrini commented on #833
@AllenFang well, the cell was updating by default, now I've changed to remote mode and it works perfectly. Sorry for the confusion and thanks!

[2019-03-09 15:34] #833 closed

[2019-03-09 20:31] mandelllee commented on #52
Has there been any progress on this? I too would like to be able to persist sorting information to localstorage so that on a refresh the sort doesn't change.

[2019-03-09 23:42] belal-mazlom commented on #648
Issue happen with me after upgrade react-bootstrap-table-next from 0.1.15 to 3.0.0

[2019-03-10 05:37] #826 closed

[2019-03-10 05:37] #830 closed

[2019-03-10 05:37] #835 closed

[2019-03-10 05:37] #840 closed

[2019-03-10 05:40] AllenFang commented on #840
@paaatrick Fixed in newest version, please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

[2019-03-10 05:41] AllenFang commented on #830
Fixed in newest version, please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

@rexatgithub

[2019-03-10 05:41] AllenFang commented on #826
Fixed in newest version, please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

@nkidmano

[2019-03-10 05:41] AllenFang commented on #839
Please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

Then see if this issue still remain.

[2019-03-10 05:41] AllenFang commented on #836
Fixed in newest version, please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

[2019-03-10 05:41] #836 closed

[2019-03-10 05:42] AllenFang commented on #831
Fixed in newest version, please upgrade all the related packages listed in below notes:
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/10/version-bump.html

@nathan-fortier

[2019-03-10 05:42] #831 closed

[2019-03-10 10:54] ahmarkhan commented on #827
Why is changing

{
            dataField: 'parent_categories_names',
            text: 'Category',
            sort: true,
            onSort: (field, order) => {},
            headerClasses: 'show',
            classes: 'showMe',
            style : {display : 'table-cell'}
}

to

{
            dataField: 'parent_categories_names',
            text: 'Category',
            sort: true,

[2019-03-11 01:03] hasangursoy opened #847 "BootstrapTable doesn't re-render after setState when remote/onTableChange is used"
I'm trying to update data using a server call with axios but the table doesn't update when setState is used inside the onTableChange handler even with basic data. Table data always stays at default assigned state. I got the code from **Remote All** sample. I'm trying to use this component for first time.

[code]

[2019-03-11 01:35] yzhak commented on #839
Upgraded to the listed packages. Same behavior as before. Removed `page: 1` and `sizePerPage: 10` lines. Still crashed with the same error if searching from any page other than the first page.

[2019-03-11 09:54] zbitouzakaria commented on #844
Got it, thanks! Here is a working example for those interested:
https://codesandbox.io/s/8km0ly74m0

[2019-03-11 15:07] ronaiza-cardoso commented on #845
Mine is not working too

[2019-03-11 15:25] yzhak commented on #839
@AllenFang
Hi Allen, here is a link to the codesandbox for your convenience: https://codesandbox.io/s/zl1j1q6xox?fontsize=14. Searching from any page other than the first crashes the app even in the older versions. Please let me know what else I can try to fix this issue. Thank you.

[2019-03-12 05:33] Fornori commented on #819
Yep, for now, I use react-mobile-detect and if mobile change the grid with the card....

[2019-03-12 12:11] picasik commented on #847
Same issue.  If remove filter from BootstrapTable parameters it works.
"react-bootstrap-table-next": "^2.2.0",
    "react-bootstrap-table2-editor": "^1.2.2",
    "react-bootstrap-table2-filter": "^1.1.6",
    "react-bootstrap-table2-overlay": "^1.0.0",
    "react-bootstrap-table2-paginator": "^2.0.4"

[2019-03-12 14:44] nathan-fortier commented on #819
@Fornori what are you using for your card? Self built or another node module?

[2019-03-12 23:51] lovato commented on #226
Response is above: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/226#issuecomment-375913180
It works.

[2019-03-13 04:05] Lilian1331 commented on #845
I have the same issue too.

[2019-03-13 08:55] tataurov commented on #847
I think I found the problem, the data is assigned in constructor and does not change in remote mode on.
because filtering methods are not called and data is returned with initial state.
here https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-filter/src/context.js#L30

[2019-03-13 09:01] tataurov commented on #847
as fast fix maybe changing this method at filter context
[code]

[2019-03-13 09:37] dofrisec commented on #847
I've been testing whether it is viable to start migrating from react-bootstrap-table to react-bootstrap-table-next, and this issue is blocking me at the moment.
The suggested fix seems to work.

[2019-03-13 11:19] appasaheb4 opened #848 "issue"
how to full row editor mode show?

[2019-03-13 12:50] cnyyk commented on #396
action button group will cause wrapper div.bootstrap-table vertical and horizontal scroll.

[2019-03-13 15:55] maxbizbd commented on #285
Is it available now?

[2019-03-13 17:58] ronaiza-cardoso commented on #845
@Lilian1331, I solved my problem putting this css
[code]

[2019-03-13 19:29] sudravi commented on #845
Great, that worked!

On a related note, anyone know if there's a way to hide the size per page dropdown if there's only one page? Or would I have to track the currently selected dropdown value (via onSizePerPageChange)  and set hideSizePerPage if the table has fewer items?

[2019-03-13 19:38] #845 closed

[2019-03-13 20:02] rexatgithub commented on #830
@AllenFang awesome!! thank you very much :)

[2019-03-14 07:47] steven11329 opened #849 "react-bootstrap-table2-filter 1.1.6 make remote filter not work"
HI every one
Today I updated my project packages,
And I found my remote filter not work.
I use React Developer Tool to check BootstrapTable's data prop.
It always get empty data array.
So I rollback to 1.1.5 all work fine.

[2019-03-14 12:06] VarunVaro commented on #778
Hi AllenFang, I am new to react-bootstrap-table-next. I need your input. I have data column named "email" , i am using radio as selection mode for Row. when selection of row new Modal will open with data of selected row, i do change email there in modal and save. the data which i modified in modal it's not change in Table, may i know what's the reason and how to update the table?

[2019-03-14 17:09] KARTHIK5300 opened #850 "Select filter + Pagination + function footer"
In a table, after filtering the data I'm getting the desired result. when I try to get a sum of the filtered result using function footer I'm getting the sum for the data shown in the table. Since I'm using pagination I get the sum for the page I'm on but I need the sum of all the filtered data how to get that.

After selecting the filtering  how to access all the filtered data

[2019-03-14 18:08] rchaser opened #851 "Wrong dependency?"
After npm install react-bootstrap-table-2
cannot build my app with next message

./node_modules/react-addons-update/index.js
Module not found: Can't resolve 'react/lib/update' in 'C:\Repos\DDD\WebApp\node_modules\react-addons-update'

react-bootstrap-table2 has dependency on @allenfang/react-toastr that depends on react-addons-update, that is not supported by react starting from 16.0 https://githu

[2019-03-14 18:59] paaatrick commented on #840
Thank you!

[2019-03-14 19:47] ipetrini opened #852 "Export csv with pagination"
I know setting exportCSV.exportAll as false will only export the data shown in the table, but the problem is that I'm using pagination, so when I filter the data and it's more than one page, it's only exporting the first page of the table.

Is there any way to export all the pages after filtering?

[2019-03-15 10:16] sudhakar29495 opened #854 "When I change the data prop, the table is not being re-rendered in react-bootstrap-table2-toolkit"

[2019-03-15 11:15] AllenFang commented on #851
@rchaser `react-bootstrap-table2` hasn't dependency on `@allenfang/react-toastr`,  in addition, `react-bootstrap-table2` need `react@^16.3.0`

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2/package.json#L45

[2019-03-15 11:15] #851 closed

[2019-03-15 11:19] AllenFang commented on #839
@yzhak I upgrade to newest version can fix this issue, can you confirm it again?

this is my codesandbox with newest packages

https://codesandbox.io/s/56qn2o1wl

[2019-03-15 11:19] #839 closed

[2019-03-15 11:21] AllenFang commented on #849
@steven11329 I will fix this soon, thanks

[2019-03-15 11:22] AllenFang commented on #848
@appasaheb4 sorry, we still don't support this feature so far. I will consider to implement this. Close it due to duplicated issue. thanks

[2019-03-15 11:22] #848 closed

[2019-03-15 11:22] AllenFang commented on #731
Close it due to no response

[2019-03-15 11:22] #731 closed

[2019-03-15 11:27] appasaheb4 commented on #848
Thanks bro.

On Fri, Mar 15, 2019, 4:52 PM Allen <notifications@github.com wrote:

[2019-03-15 12:17] rchaser commented on #851
@AllenFang Oops, I was installing https://www.npmjs.com/package/react-bootstrap-table-2 and I didn't notice that the current project has different name without dash between "table" and "2". Packages' names are confusing. I am sorry.

[2019-03-15 18:52] jbp17 opened #857 "Default date is 01/01/1970 when editing a cell which was original empty"
I have a table with a "Termination Date" column.  So it is mostly empty.  Users sometimes edit it to put a termination date on it.  But when user double-click it and chooses the calendar dropdown.  The calendar is default to 01/01/1970.  It took too long for user for find current year or the year after current year.  How can I let it default of today's date?

[2019-03-16 05:14] AllenFang commented on #854
@sudhakar29495 You information is not enough to reproduce your issue, please give me more information and it will be better to create a simple and minimal code on codesandbox.io

https://codesandbox.io/s/jlol04qrxv  This is an example

[2019-03-16 05:14] #854 closed

[2019-03-16 05:15] AllenFang commented on #847
This issue might be similar with https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/849

I will try to fix it in this weekend.  Sorry for inconvenience.

[2019-03-16 05:16] #843 closed

[2019-03-16 14:24] ntuwang opened #858 "resizable column"
Hi
do u consider implement resizable column (eg, by integrate with react-resizable)?

[2019-03-16 20:20] lovato opened #859 "formatExtraData value from state not refreshing"
I might have implemented it not on the most perfect way, but it worked for RBTv1.
Why? Because the formatExtraData value was explicitly declared inside render.
With RBTv2, it is just a field on a JSON, and changing the state isn't seen by render().

I make a bunch of ajax calls (up to 3). One is for master tabledata, and others to get descriptions about IDs used on the database table, so I can dis

[2019-03-16 20:30] lovato commented on #859
I did a few experiments now, w/o success.
One thing I saw is changing the page rows limit from 25 to 50. The "newer" records showed up correctly, but the current older view remained with the "n/a" in the fields, meaning it was not rendered again.

![image](https://user-images.githubusercontent.com/1213774/54481255-40c7f180-4811-11e9-9ea6-c390b5047cfc.png)

[2019-03-16 20:32] lovato commented on #859
Same data, if I keep 25 per page, and do "go to page 2" and "go to page 1" back.

![image](https://user-images.githubusercontent.com/1213774/54481282-7b318e80-4811-11e9-8425-d683ecea80a0.png)

[2019-03-16 20:35] lovato commented on #859
Some code:

[code]

[2019-03-16 21:01] lovato commented on #859
Well, "solved" my problem this way:
[code]

[2019-03-16 21:23] lovato commented on #859
I will evolve it to a better "no data handler", but if there is another way to implement something better than the way I did, I will appreciate. Else, this ticket can be closed.

[2019-03-17 01:19] ntuwang opened #860 "import bootstrap css issue"
Hi
bootstrap.css maybe conflict with my app  (such as nav container component),how can i do for this?

[2019-03-17 05:45] AllenFang commented on #850
@KARTHIK5300 so far the footer design is for current visible data on table, which means it is divided by page.

But there's a way to get the filtered data:

[code]

Please let me know if you still can not sum the all the filtered data, then I will find the new solution, thanks

[2019-03-17 05:45] #850 closed

[2019-03-17 06:46] AllenFang commented on #858
HI @ntuwang, I'm definitely open and welcome any cool feature, so far I didn't have too much time to implement these cool stuffs, and just only focusing on bug fix and some major feature implementation. So PR is welcome and let me know if you have any question when implement, thanks

[2019-03-17 06:56] AllenFang commented on #857
@jbp17

[code]

I will spend some time to enhance the document, sorry for inconvinece.

[2019-03-17 06:56] #857 closed

[2019-03-17 07:05] AllenFang commented on #859
@lovato https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

I will not suggest developer to give a state data to `formatExtraData`, but if you did, I must update `formatExtraData` in a correct way: https://redux.js.org/recipes/structuring-reducers/immutable-update-patterns

If ok, would you please give me a simple and minimal code on code

[2019-03-17 07:07] AllenFang commented on #860
@ntuwang hello, `bootstrap.css` from bootstrap not `react-bootstrap-table2`. So if conflicts, I think you can handle this by css `!important` or something else. Thanks

[2019-03-17 07:07] #860 closed

[2019-03-17 07:18] KARTHIK5300 commented on #850
Hi Allen,

Thanks for the reply. It worked

[2019-03-17 07:28] AllenFang commented on #728
#861

[2019-03-17 07:28] AllenFang commented on #781
No response for a long time.

[2019-03-17 07:28] #781 closed

[2019-03-17 08:27] AllenFang commented on #817
@functionsonly this is not about `focus`, it's a bug that cell rendering is abnormal when switch editing cell, I will fix it soon

[2019-03-17 16:28] #817 closed

[2019-03-17 16:28] #849 closed

[2019-03-17 16:28] #852 closed

[2019-03-17 16:32] AllenFang commented on #817
Fixed https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/17/version-bump.html

Please upgrade to newest version

[2019-03-17 16:33] AllenFang commented on #849
Fixed https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2019/03/17/version-bump.html

Please upgrade to newest version