[2017-08-14 14:18] iammichaelneal opened #1 "SketchApp Symbols"
Would anyone be interested in a SketchApp file of visual design assets to accompany the react-bootstrap-table2 examples?

[2017-08-14 14:37] AllenFang commented on #1
@iammichaelneal you mean like https://www.sketchapp.com/learn/documentation/symbols/ ?

[2017-08-14 15:42] iammichaelneal commented on #1
@AllenFang correct.

[2017-08-15 14:50] AllenFang commented on #1
got it.. I think it will be hard to implement in current lol. In my opinion, I wanna have a clean and easy way to find some real case or basic usage by example page, I think it will me more useful for most users, because in `react-bootstrap-table1`, a lots of user ask me some real case or some basic questions, I think it's not easy to find/navigate in my examples, so that's the problems I wanna fi

[2017-08-15 14:50] #1 closed

[2017-08-17 14:10] epsyan opened #2 "Summary row or custom footer"
Hi! Cool, that you decide to make a 2nd version of this table component!

Not sure if it implemented in the last version of react-bootstrap-table, but it would be cool to have a summary row as the last row of the table. And(or) a custom footer component for a table.

Thanks!

[2017-08-18 06:11] narendravenkata opened #3 "How to display a custom text when hovered over a cell"
The table currently has "headerText" which we can use to display custom text on the Table Header but for the cell I didnt find anything like this to use

[2017-08-19 05:52] AllenFang commented on #2
yes~ those feature must be implemented in `react-bootstrap-table2` 👍

[2017-08-19 07:08] AllenFang commented on #3
yes, it's a issue we dont support on `react-bootstrap-table`, I will support it on 1 and 2, thanks your feedback 👍

[2017-08-19 10:48] AllenFang opened #5 "karma/jest setup"

[2017-08-19 10:49] AllenFang opened #6 "Implement table basic structure, header, body, cell etc."

[2017-08-19 10:49] Chun-MingChen opened #7 "travis intergration"

[2017-08-19 11:03] #5 closed

[2017-08-20 06:06] AllenFang opened #9 "Implement bordered, striped, hover, condensed"

[2017-08-20 07:07] AllenFang opened #11 "Create documents"

[2017-08-20 07:12] AllenFang opened #12 "Implement column formatter"
Implement column formatter, like `dataFormat` on `TableHeaderColumn` in `react-bootstrap-table`

[2017-08-20 10:04] AllenFang opened #14 "Support nested data structure"

[2017-08-20 12:39] Chun-MingChen opened #17 "use `storybook`"

[2017-08-20 12:40] Chun-MingChen opened #18 "Able to custom the style/class on table header."

[2017-08-20 12:44] AllenFang commented on #18
try following:

// user defined columns
[code]

[2017-08-20 12:51] AllenFang opened #19 "Able to custom the style/class on cell"

[2017-08-23 10:03] AllenFang opened #21 "Implement column title(include header and cell)"
Like `headerTitle` and `columnTitle` in `react-bootstrap-table`

[2017-08-26 07:34] AllenFang opened #23 "Support event hooks for cell, like `onclick`, `onmouseover` etc."
Be careful for the `column.formatter`

[2017-08-26 07:35] AllenFang opened #24 "Support textAlign on cell and header cell"
Like `headerAlign` and `dataAlign` in `react-bootstrap-table`

[2017-08-26 08:12] AllenFang opened #26 "Customizable header column"
Think out of box

[2017-08-26 09:37] AllenFang opened #29 "Support event hooks on header column"

[2017-08-27 07:20] AllenFang opened #31 "Implement hidden column"

[2017-08-27 16:03] AllenFang opened #34 "Add stories"

[2017-08-28 04:38] prajapati-parth opened #36 "Implement first column as sticky when table scrolls horizontally"
Hi @AllenFang,
Making the first column sticky would really help when the table scrolls horizontally so that a reference to the rows can be seen while scrolling as the first column is generally used to hold the identifying element of a particular row data.

A similar example [here](https://bvaughn.github.io/react-virtualized/#/components/ScrollSync)

I've already implemented it in the fork of [reac

[2017-08-28 07:24] AllenFang commented on #36
Hi @prajapati-parth thanks for this suggestion, it's really useful when we have large columns. I'll consider to implement it when we finish the basic component structure in `react-bootstrap-table2`

Thanks

[2017-08-29 20:43] Kawirider636 opened #37 "Additional fields added to InsertRow modal from the row object, like expand row, not just defined columns."
Maybe this exists already and I can't find it in an example. But currently I have a table with four defined columns for a "quick view' type functionality, then I use the expand row functionality to show all the additional fields from the row object. Passing that row object in is nice to have I can list all attributes from the object there. But if I want to add a new row using InsertRow I only have

[2017-08-30 02:25] AllenFang commented on #37
@Kawirider636 thanks your feedback, it's an issue from `react-bootstrap-table` and someone mentioned before.  When developing for expand row, those additional field is useful to perform data in expanding row but I doesn't think about how to add them when insert, because I dont have any definition of those additional field, so in the `react-bootstrap-table2`, I will consider to change a way to usin

[2017-08-30 02:26] AllenFang commented on #37
@Chun-MingChen please remind me this issue when we start develop row expanding. thanks

[2017-08-30 02:28] Chun-MingChen commented on #37
Sure :)

[2017-08-30 13:01] harishkumarreddy12 opened #38 "Adding ContextMenu on Right click on table row"
can you please implement right click on this library.it has great features but only this thig is missing i am trying to implement by using
below as the reference
https://www.npmjs.com/package/react-contextmenu
but somehow i may not able to implement it on this library.if anyone have any idea please help me.
thanks.

[2017-09-01 02:04] AllenFang commented on #38
HI `react-bootstrap-table2`is still on progress, but I'll try to implement this feature on `react-bootstrap-table2` instead of `react-bootstrap-table`.  please let me know if you have any concern, thanks.

BTW, this repo is just start to develop, so we're still working on implement functionalities(like: columns, selection, cell edit etc), after we have 80% completion rate, we will start implement

[2017-09-02 07:00] AllenFang opened #40 "Implement no data indication"
Same as `noDataText` in `react-bootstrap-table`

[2017-09-02 08:32] haota opened #42 "Autocomplete on filter and row"
I have tried react-bootsrap-table. It's really good except it doesn't support autocomplete component. In your design of table, for header and row, you guy used a lot of "over-flow: hiddend" to style. It's the reason why autocomplete cannot combined in this kind of table.

[2017-09-02 14:48] AllenFang commented on #42
HI @haota, sorry there's something not clear, what's means for autocomplete on row or header? thanks

[2017-09-03 06:44] AllenFang opened #47 "Implement column sort"
Same as `dataSort` on `TableHeaderColumn` in `react-bootstrap-table`

[2017-09-03 09:50] Chun-MingChen opened #50 "Implement row selection"

[2017-09-04 13:47] AllenFang opened #51 "Implement td/th attributes"
@Chun-MingChen

please implement `attrs` and `headerAttrs` on cell and header cell.

`attrs` and `headerAttrs`  allow user add some HTML attributes on elements

[2017-09-07 12:27] prajapati-parth opened #52 "[Feature request] State saving incase of page reload"
Hi @AllenFang,
I think having a state saving feature that saves table's current page, sort column and sort direction would be a great feature for react-bootstrap-table2.

[Example](https://datatables.net/examples/basic_init/state_save.html)

It makes use of localStorage or sessionStorage for it. If these are not supported, browser cookies can be used in worst case.

Thanks.

[2017-09-08 03:38] AllenFang commented on #52
@prajapati-parth it's a nice feature from DataTable, I'll consider to implement this one, thanks your feedback

[2017-09-12 15:21] Chun-MingChen opened #56 "Enhancement/re-define cell callback"

[2017-09-12 15:43] AllenFang opened #57 "logo"
@Chun-MingChen I remember you have five star on your photoshop skill right?  is it possible to design a new logo for `react-bootstrap-table2` ?! lol :nerd_face:

[2017-09-12 16:05] Chun-MingChen commented on #57
@AllenFang design a new logo gonna kill me :)

[2017-09-12 16:05] Chun-MingChen commented on #57
However, I'll give a try :1st_place_medal:

[2017-09-12 18:45] mstruensee opened #59 "between dates"
filter option for DateBetween to prompt for 2 dates?  >= Date1 and <= Date2

if this does not exist ...
there should be no need to prompt for comparators unless you want >= vs > and <= vs <.  default to both and allow to override to just use 1 of the option?

if it does exist ...
please send me in the right direction :)

thanks

[2017-09-13 02:33] AllenFang commented on #57
Low priority for this lol

[2017-09-16 04:57] AllenFang commented on #59
I'll consider to implement it for data/number filter, thanks.

[2017-09-16 06:35] AllenFang opened #60 "Implement cell editor"

[2017-09-19 16:40] AllenFang opened #63 "Async Cell Editing and cell validation"
1. `options.onEditing` should accept a async operation

**Additional**: Support default/auto validation when saving cell

[2017-09-19 16:56] AllenFang opened #64 "Implement default sort"

[2017-09-21 02:15] AllenFang commented on #63
Remember to add `column.editable` propType defined in `header-cell.js`

[2017-09-21 11:19] khaninD commented on #63
@AllenFang Hi! , do you want to add support edit of Header Table???

[2017-09-21 12:53] AllenFang commented on #63
@khaninD I don't have this kind of plan currently? In addition, in `react-bootstrap-table`, I don't hear this kind of feature. Most of features on header is customization.

[2017-09-23 05:46] AllenFang opened #66 "Allow column.editable to accept a function(Cell level editable)"
Currently, `column.editable` only accept to receive a bool value to perform if this column can be edited or not. But I hope `column.editable` can accept a callback function to allow user to decide if a cell can be edited or not.

[2017-09-23 17:34] khaninD commented on #66
#68

[2017-09-29 16:25] kamarajuPrathi opened #73 "Can you add a SnapShot Feature ?"
When i do a snapshot , it should give me the current state of table snapshot(screenshot) of the table as pdf/image ?

[2017-09-29 16:27] kamarajuPrathi opened #74 "Add RowSpan and Column Span feature"

[2017-10-04 04:47] thevangelist opened #75 "Can we get rid of bootstrap?"
I was wondering can we get rid of bootstrap alltogether, isn't it used only for styling the table to look better?

Bootstrap.min.css at least contains redundant CSS styles for the project. In fact the table should be merely a React-table (well, a better name of course...) IMHO.

[2017-10-04 05:40] thevangelist opened #77 "Caption element for table"
See: https://www.w3schools.com/TAgs/tag_caption.asp

I am thinking that it should allow a React element or a string. With element you could put custom stuff inside it, or for example styling.

See WIP test screenshot:

<img width="457" alt="screen shot 2017-10-04 at 8 40 05" src="https://user-images.githubusercontent.com/3482617/31161426-b0826a32-a8df-11e7-9038-6ebac8e5c3ce.png">

[2017-10-04 06:29] AllenFang commented on #73
@kamarajuPrathi you mean save an image for current table @@?

[2017-10-04 06:30] AllenFang commented on #74
sure, we must support this features, thanks :)

[2017-10-04 06:34] AllenFang commented on #75
HI, actually, this repo is depend on bootstrap styling,
1. `react-bootstrap-table2` and `react-bootstrap-table` doesn't use `Bootstrap.min.css` directly, it was control by yourself, you can use bootstrap loader or other tool to insert the css you want only.

2. The target of this repo is focus on react table with bootstrap styling,

it's very sorry that we dont drop the bootstrap and thanks your f

[2017-10-04 06:34] #75 closed

[2017-10-04 06:35] AllenFang commented on #77
@thevangelist, ok we will support it, thanks a lots :)

[2017-10-04 13:03] thevangelist opened #79 "Responsive data tables"
Feature idea.

In order to make the responsiveness of table better, we could add a flag that enables the table to be shown in key-value mode. See examples: https://css-tricks.com/responsive-data-tables/

This can be of course achieved with CSS, but it would be a better idea to provide a solution for it in the first place.

[2017-10-07 17:27] stebogit opened #80 "Edit entire row"
Hi @AllenFang,
I was wondering why I don't see a "edit row" option, only edit single cells. Am I missing something?
Do you think that would be useful?
As default implementation a simple Modal holding the current row field values, opened with a "Edit" button in the toolbar, would work fine and should easy to implement.

Any tips on how to implement it in the current `react-bootstrap-table` version?

[2017-10-09 23:42] iralution opened #81 "Custom placeholder contents"
The reason for this is i18n. In the v1 for example, you cannot change the placeholder in the column filter.

[2017-10-10 05:36] AllenFang commented on #79
that's a cool idea. BTW, `table-responsive` also can be an alternative.
https://www.w3schools.com/bootstrap/bootstrap_ref_css_tables.asp

[2017-10-10 06:09] prajapati-parth commented on #79
It would be great if displaying as key-value would be optional as all use cases might not require it.

[2017-10-10 06:11] thevangelist commented on #79
Indeed, I also consider we could invent even new paradigms of display-modes. (not easy though :))

[2017-10-11 15:42] AllenFang opened #86 "Implement multi sort"

[2017-10-11 15:43] AllenFang opened #87 "Implement multi column sort"
Please ask me if you have any questions.

[2017-10-11 15:45] AllenFang opened #88 "Implement multi column sort"

[2017-10-12 02:33] dukedougal opened #90 "Drop Bootstrap 3"
HI Allen,

I suggest that your new version of react-bootstrap-table be pure Flexbox, which means supporting only Bootstrap 4 and not Bootstrap 3.

Bootstrap 4 is pure Flexbox.

It's a good idea because supporting two radically different layout engines will end up being a nightmare for you.

Better to leave react-bootstrap-table version 1 as Bootstrap 3, and make react-bootstrap-table version 2 sup

[2017-10-12 14:07] prajapati-parth opened #91 "React styleguidist"
@AllenFang I'm aware you've selected storybook for building examples. But as we are still at an early stage in react-bootstrap-table2, would it be possible to use [React styleguidist](https://react-styleguidist.js.org/) compared to storybook?
They offer great configurations and support JSDoc comment transformation to prop tables. [Example](https://react-styleguidist.js.org/docs/documenting.html#co

[2017-10-12 14:37] #88 closed

[2017-10-12 14:38] AllenFang commented on #87
@Chun-MingChen ask me if you have any concern or questions

[2017-10-12 14:40] AllenFang commented on #79
We will consider seriously to implement this feature, thanks :)

[2017-10-12 14:47] AllenFang commented on #80
@stebogit sorry for lately reply. In the past, I did had a little investigation on other table component. I got the impression that few component support this feature so that I didn't consider to implement this feature at beginning or even now.

Actually, edit row have a lots of variation, for example:
1. how perform the editing? by cell or via a modal?
2. If we perform the row editing by cell, ho

[2017-10-12 14:49] AllenFang commented on #81
@iralution actually, it's able to custom the placeholder:
`<TableHeaderColumn dataField='name' filter={ { type: 'TextFilter', delay: 1000, placeholder: 'something here' } }>Product Name</TableHeaderColumn>`

[2017-10-12 14:49] #81 closed

[2017-10-12 14:51] AllenFang commented on #90
It's a good point. but do you suggest to use flexbox instead of `table` HTML tag?

[2017-10-12 15:04] stebogit commented on #80
I'm actually really surprised that this isn't the standard/default behavior for a component like `react-bootstrap-table`. Assuming, as in my case, you are representing a table of your database, you are going to add/delete/update an entire row of data anyway right? So I'd see the single cell edit as a more "advanced" case of that.
But I might be biased by my personal application.

Anyway, I think b

[2017-10-12 15:04] AllenFang commented on #91
@prajapati-parth nice suggestion. For my opinion, the storybook is better to perform the example and it support to publish your books to website and the other concern is storybook is more popular and active community. After I checked the styleguidist quickly, storybook and styleguidist are easy to config, change styles or create your plugin. But support JSDoc is a nice point for me, I'll investiga

[2017-10-12 15:09] AllenFang commented on #80
I see, in `react-bootstrap-table`, that's my bad that doesn't think it more but I will not implement this feature in `react-bootstrap-table`  and we will support it in `react-bootstrap-table2`. thanks 👍

[2017-10-12 18:05] dukedougal commented on #90
The future is Flexbox.  Yes I'd suggest Bootstrap 4 only, and no table tag at all, just Flexbox.

It will hurt for while until you gain expertise with it, but it's a much better path to invest in for the future.

[2017-10-13 05:00] prajapati-parth commented on #90
Or probably we can have a branch alongside and see if flexbox is worth.

[2017-10-13 05:03] prajapati-parth commented on #91
Sure @AllenFang. I also did see that storybook has a larger community. :+1:

[2017-10-13 05:20] dukedougal commented on #90
@prajapati-parth Flexbox is the future, tables the past. Twitter Bootstrap has committed fully to Flexbox.

[2017-10-14 22:18] prajapati-parth commented on #91
@AllenFang @Chun-MingChen Checkout prajapati-parth/react-bootstrap-table2@b6ac6d586ee0984b68ec73c5c67c3c3af35044ff. I've added 3 examples using styleguidist and it seems pretty cool.

Screenshot for quick reference(the code blocks are collapsable and interactive playground for live editing):
Note: The sidebar is broken in screenshot by full page screenshot plugin, else it works perfectly.
![screen

[2017-10-17 02:31] MadhuNandi opened #93 "Fixed columns in table"
I would like fix few columns where when user scrolls horizontally, fixed columns remains same but scrolls with the vertical scroll. Could you please help me getting feature IN.

[2017-10-17 02:51] AllenFang commented on #90
sure, we need some experiment to prove flexbox can be implement a table, for example: control the width, vertical/horizontal scroll ...etc

[2017-10-17 03:03] AllenFang commented on #91
@prajapati-parth thanks, we will consider it. Currently, I think we need a explicit or actual benefit to prove `react-styleguidist` is more better than `react-storybook`, After checked your commit, I think `react-styleguidist` and `react-storybook` still need some configuration but not very hard to config.

So I think I prefer to keep to use  `react-storybook` but let's keep this thread here an if

[2017-10-17 04:31] prajapati-parth commented on #91
Sure @AllenFang, mean while you can visit [here](https://react-styleguidist.js.org/docs/cookbook.html#whats-the-difference-betweeen-styleguidist-and-storybook) for the differences between `react-storybook` and `react-styleguidist`.

[2017-10-17 06:52] andrewoh531 opened #94 "Still in development?"
Hello~

I came here from the react-bootstrap-table thinking that version 2 was already available. It seems like it's still under development. This wasn't immediately clear to me and possibly for others. It might be worthwhile making it explicit on the homepage for anyone navigating here.

Do you have a timeline for when you expect to release the first version for react-bootstrap-table2?

Thanks an

[2017-10-17 07:37] AllenFang commented on #94
yes.. it's still on development...  I wanna finish 80% functionality before this year and make the first release, but we need work more hardly actually. thanks

[2017-10-18 06:12] AllenFang commented on #91
Great 👍

[2017-10-18 06:43] AllenFang opened #101 "Implement the class and style on <td> of cell editor"

[2017-10-19 05:59] AllenFang opened #104 "Row selection class and style"

[2017-10-20 05:53] AllenFang opened #106 "implement selectRow.nonselectable"

[2017-10-20 09:59] AllenFang opened #108 "implement selectRow.bgColor"

[2017-10-23 09:14] AllenFang opened #111 "implement selectRow.clickToSelect"

[2017-10-23 19:48] moneeshamodi opened #113 "Implement Multiple columns as keys"
I need to implement multiple columns as keys. I know that I can create a column which concatenates the composite key columns and hide the column. But when I want to insert a new row the user would have to enter the concatenated key. I want the key to be autogenerated as a concatenation of the keys. Is there a way to do this currently? Also if I want to modify any of the keys, I would have to check

[2017-10-25 05:07] julianaEvans opened #115 "display table in form (div)"
Hi,May anyone help me to display  product based on model id and and model code....cause every product code have their own product name.....
I want to automatically call part number base on selected model name.....
can anybody help me???

![capture1](https://user-images.githubusercontent.com/12431616/31981360-5b789208-b985-11e7-9034-b45acfd9d52c.JPG)
![capture2](https://user-images.githubuserconten

[2017-10-25 11:58] cbergmiller commented on #90
Actually there are tables in Bootstrap 4: https://getbootstrap.com/docs/4.0/content/tables/
And i bet there are quite a few people who would really appreciate if react-bootstrap-table2 could also be used with bootstrap3.

[2017-10-26 06:14] AllenFang commented on #90
@cbergmiller `react-bootstrap-table2` will compatible with bootstrap3 and 4, actually, `react-bootstrap-table` did it already.

[2017-10-26 06:46] AllenFang opened #116 "Implement Selection Hooks"

[2017-10-26 07:45] AllenFang opened #117 "Storybook logger not working"
@Chun-MingChen I tried story book logger a while ago, but seems like there's something wrong and I still got fail, I hope all of the stories's `console.log` can be output to storybook logger panel, thanks

[2017-10-26 08:51] AllenFang opened #119 "Implement selectRow.hideSelectColumn"

[2017-10-26 21:21] tylerkeesling opened #120 "TableHeader width not matching column width"
<img width="929" alt="screen shot 2017-10-26 at 3 19 04 pm" src="https://user-images.githubusercontent.com/26422129/32077560-0abc38ba-ba61-11e7-97c6-580960863384.png">

I can't figure out how to get the TableHeader to match the size of the column. The 'name' column (of which I did not show) is also twice as large as it needs to be. I realize I can hard code in width's, but even still the Title's d

[2017-10-26 21:45] tylerkeesling commented on #120
Got it.

[2017-10-26 21:45] #120 closed

[2017-10-27 01:17] tylerkeesling opened #121 "[HELP WANTED] Calculate totals and averages"
Is there anyway to calculate totals or averages for a single column and display those values at the bottom of the chart?

[2017-10-27 05:01] prajapati-parth commented on #121
Hello @tylerkeesling, react-bootstrap-table2 will support a footer feature where these data can be displayed. https://github.com/react-bootstrap-table/react-bootstrap-table2#react-bootstrap-table2

But currently the focus is on completing basic table features so it'll take some time.

[2017-10-27 17:17] AllenFang commented on #113
I think your case is much complicated and I'm prefer to not implement the multiple key.

yes, Same idea like me

You can custom the insert modal and let user to key in your custom fields. Actually, I think this is totally possible in `react-bootstrap-table` but I knew the customization is not very easy to use. So that this is also the point that i want to implement on `react-bootstrap-table2`.

An

[2017-10-27 19:10] tylerkeesling opened #122 "[HELP WANTED] onRowDoubleClick"
For the onRowDoubleClick(row) function, is there a way to call another function that is mentioned in the { options }?

I would like to change the state of the component onRowDoubleClick using this.setState({}), but that doesn't seem to be supported.

[2017-10-28 09:33] Chun-MingChen commented on #117
@AllenFang

Sure that's would be fantastic if log message on the storybook panel. I'll give a try :)

[2017-10-28 13:18] AllenFang commented on #117
Thanks

[2017-10-28 13:22] AllenFang commented on #121
Like @prajapati-parth mentioned above, we must support the table footer and it's sorry that we dont have nice footer support on react-bootstrap-table.  Please keep to follow our achievements in near future.  Thanks

[2017-10-28 13:22] AllenFang commented on #121
Close it due to duplicated

[2017-10-28 13:22] #121 closed

[2017-10-28 13:26] AllenFang commented on #122
Hi @tylerkeesling would you please give me an example, I think it's possible to change state when onRowDoubleClick is triggered.

[2017-10-29 09:02] AllenFang opened #126 "Support Sorted Class"

[2017-10-29 09:02] AllenFang opened #127 "Support Sorted Style"

[2017-10-29 09:09] AllenFang opened #128 "Support Row Level Class"

[2017-10-29 09:09] AllenFang opened #129 "Support Row Level Style"

[2017-10-30 06:30] AllenFang opened #133 "Support Row Level Events"

[2017-10-30 08:20] AllenFang opened #135 "Pagination"

[2017-11-06 00:35] dyennam opened #137 "Missing Data values when adding static headers on multiple rows."
@AllenFang
Hello Allen, (Thanks for the awesome library.)
The below screenshot is my output of table with related data that shows up correctly when I removed the extra TableHeaders i used as static rows.. But i want my table to look like the 2nd image.

![screen shot 2017-11-05 at 5 24 51 pm](https://user-images.githubusercontent.com/4074631/32420841-5d6d7e30-c24e-11e7-9ed5-7d9229660e39.png)

![sc

[2017-11-07 17:39] dyennam commented on #137
Duplicate Issue raised: https://github.com/AllenFang/react-bootstrap-table/issues/1735

[2017-11-07 17:39] #137 closed

[2017-11-19 15:44] AllenFang opened #140 "Implement pagination management and remote feature"

[2017-11-25 11:52] Chun-MingChen opened #141 "Enhancement for test mechanism"
@AllenFang

I have some ideas to enhance how we test. If you think it does will be better and worthy to do, I'll put it in backlog and implement in the future.

1. render components in `setup` function
2. all `packages/react-bootstrap-table2` to be searched from the requiring module’s location

For `topic 1`, previously we render our components in each test case. As the more feature was implemente

[2017-11-28 01:56] AllenFang commented on #141
good, but I like the `setup` name to be `shallow`, `enzyme` have `shallow`, `render` and `mount`
I think the common function name(`setup`) can be same as the method of `enzyme`

[2017-12-02 08:34] pawelkalbrun opened #143 "Roadmap"
The last commit seemed to be back in Aug. Looks like development is not really active. Will you shed some light with regards to roadmap?

[2017-12-02 08:47] prajapati-parth commented on #143
@pawelkalbrun Currently all the development work is done in the 'develop' branch and we are working on react-bootstrap-table2 features listed in this(https://github.com/react-bootstrap-table/react-bootstrap-table2/projects/1?) roadmap.

Thanks.

[2017-12-02 08:51] pawelkalbrun commented on #143
ok that great. when are you hoping to have a first drop released?

[2017-12-02 10:21] AllenFang opened #144 "Implement loading overlay"

[2017-12-03 10:02] AllenFang commented on #143
https://github.com/react-bootstrap-table/react-bootstrap-table2/tree/develop . is our dev branch,

I can tell you when I can drop first release, it's hard to said, maybe ned of this year or first month in 2018.  But I need to say, I can't complete all the features on legacy `react-bootstrap-table` when first release. But I'll make those feature works on `react-bootstrap-table2` ASAP.

Thanks.

[2017-12-06 09:16] #143 closed

[2017-12-06 09:16] pawelkalbrun commented on #143
ok thanks for clarifying

[2017-12-09 13:29] AllenFang opened #147 "Implement column filter"

[2017-12-11 14:41] Srikanth4 opened #151 "Implement column level filter to hide / show columns based on selection."
This feature is available in multiple grid libraries. Provide filters on Table. One of the filter feature could be column hide / show options. When developer want to hide few columns by default to end user this feature helps.

[2017-12-15 21:41] Fatal1stZ commented on #94
is there any progress there to first release?

[2017-12-16 02:43] AllenFang commented on #151
HI @Srikanth4 what do you mean for `based on selection` ?

[2017-12-16 03:31] AllenFang opened #152 "remote sort"

[2017-12-23 05:58] AllenFang opened #154 "Refine column.headerFormatter when filter is enable"

[2017-12-24 08:35] Chun-MingChen opened #157 "Setup for packages publishing"
Publishing setup with `lerna publish`

[2017-12-26 14:39] AllenFang commented on #94
@Fatal1stZ first drop will be on January 2018

[2017-12-27 10:58] Rekha-B opened #159 "Dynamic render json data in react bootstrap table"
I am retrieving json response by making API call, I want the json to be rendered in table dynamically with key and values.

When referred few other sites, I came across that we can club all column names into an array and render columns in <TableHeaderColumn> but I am not aware of what  key values are present in my json.

[2017-12-30 02:50] AllenFang opened #161 "Refine cell edit"

[2018-01-02 18:25] Srikanth4 commented on #151
@AllenFang So current grid got column level filters. Is there a way I can hide a column from external filters ( table level) and do operations on table like export data / apply filters on displayed columns only ?

[2018-01-04 15:37] AllenFang commented on #151
@Srikanth4 "hide column from external filters" just sound like column toggle, we can consider to implement the column toggle.

[2018-01-05 09:55] philipp-sorin opened #163 "Release"
Hey, what about release time? Still in the middle of January?

[2018-01-11 13:15] AllenFang commented on #163
@philipp-sorin  this month, but we cant finish all the functionality at first drop, but will keep to patch in next couple release.

It's sorry to let you wait so long.

Allen

[2018-01-11 13:15] #163 closed

[2018-01-11 13:20] AllenFang commented on #159
@Rekha-B it's sorry for lately reply, busy lift :P

About your question, I think we can't change a truth: we need a key for `react-bootstrap-table`.

I usually suggest use to doing a quick transformation or something then feed the new data into table. Don't think about that you can just put any format data into table, a tiny transformation is necessary and it's not too hard to implement.

Let me k

[2018-01-11 13:20] #159 closed

[2018-01-12 16:38] AdrienDuchemin opened #166 "KeyField auto increment"
Hi @AllenFang, Thank you first for your work, I am using react-bootstrap-table a lot in my current project and can't wait to upgrade to react-bootstrap-table2!
I was thinking about the possibility to have the KeyField attribute not required. In that case, the key will be auto incremented for each rows (like an index). I say that because there are cases where you don't use the table in a CRUD envir

[2018-01-16 09:29] abhishek84 opened #168 "Two carats are appearing for pagination dropdown"
<img width="833" alt="screen shot 2018-01-16 at 3 00 15 pm" src="https://user-images.githubusercontent.com/6415265/34981537-c46cf00e-facd-11e7-8200-1667921a93ba.png">
<img width="833" alt="screen shot 2018-01-16 at 3 00 15 pm" src="https://user-images.githubusercontent.com/6415265/34981546-cddc8802-facd-11e7-8cc2-ae04bcf02c11.png">

[2018-01-17 20:04] waynebrantley opened #169 "Complete custom rendering"
Any thoughts to really opening up how the table is rendered?

For example, the green blocks here https://allenfang.github.io/react-bootstrap-table/example.html are really just a grid.  The grid is made of a div with certain styling and the rows may be a div or not while each item is a div.  The result is a block layout.

If we could implement a visual display like that with your grid we could easi

[2018-01-18 15:20] AllenFang commented on #166
@AdrienDuchemin  it's sorry for lately reply, this issue already discuss before. Actually, I still insist to have the keyField, if your data doesn't contain any id, generate one by simple sequence number then feed into the table.

Regards,
Allen

[2018-01-18 15:20] #166 closed

[2018-01-18 15:21] AllenFang commented on #168
@abhishek84 this is `react-bootstrap-table2`, but we still not release yet? I think you use `react-bootstrap-table`?

[2018-01-18 15:21] #168 closed

[2018-01-19 08:30] yuri-sakharov commented on #151
Hi,
I want to do this. Can you please describe more about this feature, what exactly need to do?
Thanks.

[2018-01-21 16:04] #6 closed

[2018-01-21 16:04] #9 closed

[2018-01-21 16:04] #12 closed

[2018-01-21 16:04] #7 closed

[2018-01-21 16:04] #11 closed

[2018-01-21 16:04] #14 closed

[2018-01-21 16:04] #17 closed

[2018-01-21 16:04] #19 closed

[2018-01-21 16:04] #21 closed

[2018-01-21 16:04] #23 closed

[2018-01-21 16:04] #24 closed

[2018-01-21 16:04] #26 closed

[2018-01-21 16:04] #29 closed

[2018-01-21 16:04] #18 closed

[2018-01-21 16:04] #31 closed

[2018-01-21 16:04] #34 closed

[2018-01-21 16:04] #40 closed

[2018-01-21 16:04] #47 closed

[2018-01-21 16:04] #51 closed

[2018-01-21 16:04] #56 closed

[2018-01-21 16:04] #60 closed

[2018-01-21 16:04] #63 closed

[2018-01-21 16:04] #66 closed

[2018-01-21 16:04] #50 closed

[2018-01-21 16:04] #64 closed

[2018-01-21 16:04] #77 closed

[2018-01-21 16:04] #101 closed

[2018-01-21 16:04] #104 closed

[2018-01-21 16:04] #106 closed

[2018-01-21 16:04] #108 closed

[2018-01-21 16:04] #111 closed

[2018-01-21 16:04] #116 closed

[2018-01-21 16:04] #119 closed

[2018-01-21 16:04] #128 closed

[2018-01-21 16:04] #129 closed

[2018-01-21 16:04] #133 closed

[2018-01-21 16:04] #135 closed

[2018-01-21 16:04] #140 closed

[2018-01-21 16:04] #144 closed

[2018-01-21 16:04] #147 closed

[2018-01-21 16:04] #152 closed

[2018-01-21 16:04] #154 closed

[2018-01-21 16:04] #161 closed

[2018-01-21 16:05] #157 closed

[2018-01-21 16:06] #126 closed

[2018-01-21 16:06] #127 closed

[2018-01-22 00:43] Sathras opened #172 "key field in cell should not be cell value"
i am struggling with the autogenerated key field for columns which seams to be a stringified version of the cell value. This causes conflicts when two different columns for an object display the same value (e.g. you wanna display 2 boolean columns).

[code]
I have submitted a pull request for review: #173

Alternatively, is there a way to manually set the key value for columns?

[2018-01-22 06:27] AllenFang commented on #172
wow, you are so fast to use `react-bootstrap-table2` :)

Anyway, react doesn't suggest to use sequence number as `key`, I think we can combine the `content` and `index`?!  You can patch your PR :)

i think it's possible, however, what's benefit for you?

[2018-01-22 06:42] Sathras commented on #172
your work is pure awesomeness so of course Ill use it.
as far as i can see in your code  the key has no specific purpose on the cell rather than identifying it among its siblings. therefore i do not see any advantage in allowing a custom key to be set if it can be uniquly generated with the information given.

`index-content` sounds fine as long as its not content on its own.

[code]

[2018-01-22 15:01] AllenFang commented on #151
HI @yuri-sakharov `react-bootstrap-table2` just have first drop yesterday, we will consider to implement this featuter, but before that I want to confirm with you guys, what's exactly feature your want? is it really a column toggle feature?!  thanks

[2018-01-22 15:04] AllenFang commented on #169
@waynebrantley it's a good point but I think firstly, we may need to consider to use flex div instead of table element again.

Currently, `react-bootstrap-table2` already separate some functionality to other module, I think it will be easier to achieve your requirement. Anyway, maybe you can describe more about the flexibility in your perspective.

thanks!

[2018-01-22 15:12] #117 closed

[2018-01-22 20:25] glorp47 commented on #52
+1

[2018-01-23 09:18] iamandrewluca opened #177 "Custom the Sort Caret"
Any updates on this?
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-sort.html#custom-the-sort-caret
I may give a try to implement this in next weekend maybe.

[2018-01-23 13:18] waynebrantley commented on #169
If you think about it, the data presented on your example page could be in what you call a normal grid.
If there were 100s of examples, you might be tempted to pick a grid - so you could get paging, searching ,etc.   However, what if you still wanted the blocks?   Why not just change how the grid renders so that you can deliver the blocks but still have paging, searching, etc?

If you have the ver

[2018-01-23 14:06] lilucanalplus opened #178 "Size Per Page Drop Down not working"
Lately I've started to try this second version of react bootstrap table, but I've met a same issue as #710 and #539 for react-bootstrap-table (drop down list does not appear), mean while I've well added the bootstrap and also jquery, but the drop down menu still dosen't appear while clicking on the button of dropdown.

Thanks in advance for your help.

[2018-01-23 15:44] AllenFang commented on #178
@lilucanalplus let's focus on following check list

1. Do you import the `react-bootstrap-table2-paginator.min.css`?
2. Actually, `react-bootstrap-table2` only need the `bootstrap.min.css`
3. What's the version of bootstrap, currently, bootstrap@4 not yet supported.

I think there's not a bug, the [online](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selected

[2018-01-23 15:44] #178 closed

[2018-01-23 15:45] AllenFang commented on #178
Let close it firstly due to can't identify the root cause, will open again if we can actually understand this issue, thanks

[2018-01-23 15:47] AllenFang commented on #177
@iamandrewluca in the next few sprint, I will focus on filter implementation, any PR is welcome, but please open PR to `develop` branch, remember to write the test code 👍

[2018-01-23 21:54] Sathras commented on #87
a multi-column sort can easily be achieved when using remote={ filter: true }. Here is my implementation (in case it helps):

MyComponent.js
[code]

SmartTable.js

[code]

[2018-01-24 19:50] Sathras opened #179 "Feature request: row object in rowEvents"
Would it be possible to make the row data object available on a rowEvent?
[code]
This would really help to avoid passing data as data-attributes down to the dom and then reading them through the event data.

Alternatively, i can also think of adding a flag to `selectRow.onSelect` that indicates whether the row was selected/deselected via the radio/checkbox or via click on row.
this should only be

[2018-01-26 15:48] matteoventuri7 opened #180 "Double check select row event"
Hi.
selectRow={{
          mode: 'checkbox',
          clickToSelect: true,
          classes: 'selection-table-row',
          onSelect: (rowKey, checked, rowIndex) => {
            debugger;
          },
          onSelectAll: (option) => {
            debugger;
          }
        }}
If i single check checkbox row then onSelect event start twice.

[2018-01-26 15:49] matteoventuri7 opened #181 "Select row checkbox error"
This is my configuration:
selectRow={{
          mode: 'checkbox',
          clickToSelect: true,
          classes: 'selection-table-row',
          onSelect: (rowKey, checked, rowIndex) => {
            debugger;
          },
          onSelectAll: (option) => {
            debugger;
          }
        }}

Error is:
Warning: Failed prop type: You provided a `checked` prop to a form field withou

[2018-01-26 16:09] Shepard commented on #90
Flexbox is good for page layouts but this is about data tables and I think it should still use regular table tags for that, it's more semantically correct.

[2018-01-26 16:29] matteoventuri7 opened #182 "Dropdown perpage size unselectable"
I can not open perpage size dropdown menu. My config is:
pagination={ paginationFactory({
.......
sizePerPageList: [15,25,50,100],
.....
}
)}

[2018-01-27 16:58] dandonahoe commented on #172
Ahhh, thanks for bringing this up. My console is spewing React errors about this. @AllenFang Any idea when this might be merged?

Thanks for the project BTW!

[2018-01-28 03:32] Chun-MingChen commented on #182
Hi @matteoventuri7

According to [README#pagination](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/docs/README.md#pagination---object),  `numeric array` is acceptable and it also works fine for me. Could you offer more information or check syntax and lint again please. Thanks.

[2018-01-28 12:54] AllenFang commented on #172
@dandonahoe next patch will fix it

[2018-01-28 12:55] AllenFang commented on #179
@Sathras sure, I'll consider to add this feature :) . thanks!!

[2018-01-28 12:59] AllenFang commented on #180
@matteoventuri7 sure, it seems like a bug, I'll fix it soon, thank you

[2018-01-28 15:14] AllenFang commented on #181
@matteoventuri7 ok, I'll check this later, thank you

[2018-01-29 03:48] waynebrantley opened #184 "Why the move away from TableHeaderColumn"
Kind of liked the ``TableHeaderColumn ``, just curious why the move to an array instead of react child components?

[2018-01-29 18:29] Sathras opened #185 "noDataIndication: doesn't account for hidden columns"
A small visual inconsistency I found:

when a table is empty the default row with class 'react-bs-table-no-data' has a colspan for the total number of columns.
it should actually be the total number of columns _minus hidden fields_.

this solves some visual inconsistencies with column headers displaying incorrectly.
hope I don't get annoying :)

[2018-01-30 15:27] AllenFang commented on #184
@waynebrantley it's much easy to control the react element internally. Not too much benefit but just easy to implement.   Any concern here?

[2018-01-30 15:27] #184 closed

[2018-01-30 15:29] AllenFang commented on #185
@Sathras oh not annoying :)

so in this case you mention, you will see the wrong colspan size on table, right?

[2018-01-30 15:30] AllenFang commented on #185
I see, that's a bug lol

[2018-01-30 19:32] waynebrantley commented on #184
@AllenFang
No real concern, just had hopes of making different kinds of 'column' components that did things automatically.  Really cannot do that easily with the array, etc.

just wondered why the design change

[2018-01-31 00:53] prajapati-parth opened #186 "Empty <Caption /> element"
For tables not using captions, i guess and empty `<Caption></Caption>` should not be rendered.
Currently empty Caption element is available in all the examples of storybook.

Reference: https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/09fadeb02b5aed6c95467ffef34b68cb5d927685/packages/react-bootstrap-table2/src/bootstrap-table.js#L76

Congratulations @AllenFang for react-bootstr

[2018-01-31 01:50] AllenFang commented on #182
I will open up until we got the response or someone can prove this is a bug.  thanks

[2018-01-31 01:50] #182 closed

[2018-01-31 02:19] prajapati-parth commented on #179
Created PR and added storybook example: #187

For this:

I think we already have the `isSelect` parameter. It will always remain true for single(radio) selection and for multiple(checkbox) selection will be `true` or `false` if selected or deselected respectively.

Thanks.

[2018-01-31 15:33] AllenFang commented on #186
Thank you, I'll check this out 👍

[2018-02-01 03:00] makenova opened #189 "Add case insensitive matching to text filter"
As a user, I would like text filter to work in a case insensitive manner.
e.g. `item` match `Feature Items`

[2018-02-01 15:07] #172 closed

[2018-02-01 15:07] #180 closed

[2018-02-01 15:07] #185 closed

[2018-02-01 15:20] AllenFang commented on #180
Fixed on `react-bootstrap-table-next@0.1.2`

[2018-02-01 15:21] AllenFang commented on #185
@Sathras  fixed on `react-bootstrap-table-next@0.1.2`, check release note: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/02/version-bump.html

[2018-02-01 15:22] AllenFang commented on #172
Fixed on `react-bootstrap-table-next@0.1.2`, check release note: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/02/version-bump.html

[2018-02-02 16:37] anikakalbrun opened #191 "Server-Side Data Filtering"
Is there any way to get Server-Side Data Filtering working?
I tried to pass a callback to onFilter but this does not work.
[code]

[2018-02-03 09:02] AllenFang commented on #191
HI @anikakalbrun the remote filter is totally different from `react-bootstrap-table`, you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-remote.html) firstly, and check [this](https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-example/examples/remote/remote-filter.js) to see a remote filter example

[2018-02-03 09:02] #191 closed

[2018-02-03 21:39] anikakalbrun commented on #191
I don't know how I could miss the remote filter example...

Thanks a lot Allen.

[2018-02-04 13:42] AllenFang opened #192 "Implement number filter"

[2018-02-06 04:47] mstruensee opened #193 "drag and drop row"
plan to add drag and drop of the rows in the table?

[2018-02-06 07:35] AllenFang commented on #193
No kind of plans in Q1, but we can consider to implement it in Q2/Q3. PR is welcome.

PS: In `react-bootstrap-table2`, I think it will be easy to integrate https://github.com/react-dnd/react-dnd :) . @Chun-MingChen if you have time, please have a look on this, thanks

[2018-02-06 09:57] hoser1989 opened #194 "Custom cell edit - when it will be implemented"
Hi,
I just checked new react-bootstrap-table and it's look really good. I  checked if i can migrate but without custom edit cell i cannot so I would like to know when more or less will you plan to implement custom edit cell?

[2018-02-06 18:23] anikakalbrun opened #195 "TextFilter contains an input of type text with both value and defaultValue props."
I am trying to implement remote filtering.
My Table Component works fine, but I am getting a warning:

Warning: TextFilter contains an input of type text with both value and defaultValue props. Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between using a controlled or uncontrolled input element and remove o

[2018-02-07 00:11] makenova commented on #195
The error probably has nothing to do with your code. It shows up in the storybook examples.
I think this requires a fix in react-bootstrap-table2.

[2018-02-07 07:47] massmediagroup-28 opened #196 "there is not enough subscription for the sort click event"
I need to subscribe on sort click event in header column when you click it for table sort. After reading docs i found that hook headerEvents: onClick triggered on such header columns where - sort: false.

[2018-02-07 20:33] danielzk opened #197 "There is no way to customize the header tr class"
There is no way to customize the header `<tr>` class?

[2018-02-08 03:45] Johnny-jober commented on #179
@Sathras Hi, I have a quick question. if I understand correctly, without the feature you requested, there is no way to handle the row object with rowEvents right? For me, when I investigate 'e' parameter, it does not give me any productive data related to the selected row object
Thanks a lot, :)

[2018-02-08 05:29] brohlson commented on #179
Also requesting this feature :)

[2018-02-08 12:13] aminrasouli opened #198 "Uncaught Error: PaginationWrapper.render()"
i got an error when i was add pagination:
`Uncaught Error: PaginationWrapper.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

`import BootstrapTable from 'react-bootstrap-table-next';
import paginationFactory from 'react-bootstrap-table2-paginator';`

`<BootstrapTable keyField="id"

[2018-02-09 05:55] Johnny-jober opened #199 "select Filter (multi columns)"
so for the simple select Filter example
[code]

Here we can select 'good', 'bad', or 'unknown'. However, is there a way that I could multi select among them? e.g. 'good' + 'bad' without 'unknown' Is this currently supported ?

Thank you

[2018-02-10 03:47] galcivar commented on #179
I also just ran into this. Cannot really use the component if I cannot do an action on the clicked row. Any workarounds?

[2018-02-10 04:58] AllenFang commented on #194
@hoser1989 I'll try ti finish the custom cell edit in next month, and for the @types it's not publish from me, I think there are some people to help to define the types of `react-bootstrap-table`. Anyway, PR is welcome ;)

[2018-02-10 04:59] AllenFang commented on #194
BTW, I'll let you know if I finish the custom cell editor, thanks

[2018-02-10 05:20] AllenFang commented on #179
Hey all, this feature will be released in next week, thanks

[2018-02-10 05:21] AllenFang commented on #195
@anikakalbrun @makenova I'll check this out and fix it ASAP

[2018-02-10 05:23] AllenFang commented on #196
@massmediagroup-28 sorry for lately reply, we must implement this feature in Q1. Right now, I can promise when I can finish it, maybe this ned of month or beginning of next month, I'll mention herea again when we finish it, thanks

[2018-02-10 05:25] AllenFang commented on #197
Hey, please check this: https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-row.html

[2018-02-10 05:25] #197 closed

[2018-02-10 05:28] AllenFang commented on #199
@Johnny-jober it's good ask even in the legacy `react-bootstrap-table`, I'll implement the multi select for `react-bootstrap-table2` with another custom repo, but right now, I'll working on recovery all the features of `react-bootstrap-table`, I'll implement it in the beginning of Q2.

Let me know if you have any other question and PR is welcome.

[2018-02-10 05:29] AllenFang commented on #198
@aminrasouli what's the version of your react js?

[2018-02-10 09:01] AllenFang commented on #195
Will be fixed it in next week

[2018-02-10 11:30] seanpaulkelley opened #203 "How do you access multiple values in single cell?"
I am using formatter to create a button in a cell which uses the collection's id and payor_id attributes.  How do I get the payor_id attribute into the formatter?

[code]

[2018-02-10 13:20] AllenFang commented on #203
@seanpaulkelley https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatextradata-any .

[example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter%20with%20Custom%20Data&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-02-10 13:20] #203 closed

[2018-02-10 14:19] seanpaulkelley commented on #203
I thought formatExtraData might be useful but it appears from the example like you are formatting based on the dataField value 'rank'.  It looks like up and down are possible values of rank.  I am trying to use a different collection attribute.  The following example does not appear to pass anything along to formatter

[code]

[2018-02-10 14:46] AllenFang commented on #181
@matteoventuri7 I cant reproduce this issue, did I miss something?

[2018-02-11 11:31] aminrasouli commented on #198
"react": "^15.6.1",
"react-dom": "^15.6.1",

[2018-02-14 07:29] AllenFang commented on #198
@aminrasouli `react-bootstrap-table2` need the react 16, it's already add as peerdenpendency, so you should see some warning when you were install. Please upgrade your react, thanks

[2018-02-14 07:29] #198 closed

[2018-02-14 08:05] Ar2r opened #205 "TextFilter contains an input of type text with both value and defaultValue prop"
When i add 'textFilter()' in columns array i got warning in console:
`proxyConsole.js:56 Warning: TextFilter contains an input of type text with both value and defaultValue props. Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between using a controlled or uncontrolled input element and remove one of these pr

[2018-02-14 08:30] #179 closed

[2018-02-14 08:30] #192 closed

[2018-02-14 08:30] #195 closed

[2018-02-14 08:30] #196 closed

[2018-02-14 08:47] AllenFang commented on #179
New Release: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/14/version-bump.html

For this issue, check this > https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-example/examples/rows/row-event.js#L23

Let me know if the problem still remain, thanks

[2018-02-14 08:48] AllenFang commented on #189
New Release: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/14/version-bump.html

For this issue, check this > https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-example/examples/column-filter/text-filter-caseSensitive.js

Let me know if the problem still remain, thanks

[2018-02-14 08:48] #189 closed

[2018-02-14 08:49] AllenFang commented on #196
New Release: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/14/version-bump.html

For this issue, check this > https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-example/examples/sort/sort-events.js#L18

Let me know if theres any problem, thanks

[2018-02-14 08:50] AllenFang commented on #195
New Release: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/14/version-bump.html

Let me know if theres any problem, thanks

[2018-02-14 09:06] Ar2r commented on #122
You can call function this way:
[code]

OR

[code]

[2018-02-14 14:08] elad823 opened #207 "Switch between editable cells using tab not working."
When pressing tab in edit mode, the edit mode is going out.

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Cell%20Editing&selectedStory=Click%20to%20Edit&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-02-14 15:28] Sathras commented on #179
Thanks a lot, Allen! Fantastic job!

[2018-02-14 15:47] AllenFang commented on #205
@Ar2r this issue fixed on `react-bootstrap-table2-filter@0.1.3`  https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/195

[2018-02-14 15:47] #205 closed

[2018-02-14 15:48] AllenFang commented on #122
Close it due to no response, I think @Ar2r already give right answer

[2018-02-14 15:48] #122 closed

[2018-02-14 15:50] AllenFang commented on #207
@elad823 yes, this feature is still not implement, I'll implement it ASAP, thanks

[2018-02-15 09:58] matteoventuri7 commented on #181
Now i don't use checkbox and receive this warning:
Warning: TextFilter contains an input of type text with both value and defaultValue props. Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between using a controlled or uncontrolled input element and remove one of these props. More info: https://fb.me/react-co

[2018-02-15 10:12] KamyarP opened #208 "Client-side/UMD version"
Hi,
I'm working on a project in .NET Core and wouldn't want to add node.js layer to it for now.
Could you please let me know if there is a client-side ready version like the previous version of this module which can be used just by referencing the .js file in html (without requiring node.js)?

Thank you

[2018-02-15 10:30] matteoventuri7 commented on #181
This my versions:
"react": "16.2.0",
    "react-bootstrap-table-next": "^0.1.2",
    "react-bootstrap-table2-editor": "^0.1.1",
    "react-bootstrap-table2-filter": "^0.1.2",
    "react-bootstrap-table2-paginator": "^0.1.1",

[2018-02-15 10:35] matteoventuri7 opened #209 "Sort and modification field interferance"
Hi,
I have remote sort and dbclick modify enabled.
If I sort one column, then double click over one field, sometimes other row become modified but not one I wanted.

[2018-02-15 15:44] ishmulyan opened #210 "Doesn't sort when props.data changes"
Let's say we have Container which renders table of products which are updating with some interval.

[code]

Since BootstrapTable uses props.data for passing sorted data instead of the state it makes the case described above not possible to implement.
Is this intended behavior?

[2018-02-16 03:17] AllenFang commented on #208
@KamyarP  sure, we already build the UMD version and include it in `dist` folder in the node modules. we didn't provide a public place to download those umd version but I think there's workaround for you is you can try to `npm install react-bootstrap-table-next` in somewhere

then go to `node_modules/react-bootstrap-table-next/dist`, you can find following files
`react-bootstrap-table2.css`
`react

[2018-02-16 03:17] AllenFang commented on #181
@matteoventuri7 update to `react-bootstrap-table2-filter@0.1.3`

[2018-02-16 03:17] #181 closed

[2018-02-16 03:25] AllenFang commented on #210
HI @ishmulyan, it's sorry that I cant answer you without some confirmation:

1. did you enable `remote` mode?

I can understand this..... u can pass unsort data actually..

What case, please describe your case more details

Thanks!

[2018-02-16 04:58] prajapati-parth commented on #208
We can try using cdnjs(https://cdnjs.com) to host these files. I'm not sure
about how to get those hosted, but it's worth giving a try. I'll try to dig
in more and share my findings soon.

On 16 Feb 2018 8:47 a.m., "Allen" <notifications@github.com> wrote:

[2018-02-16 05:52] prajapati-parth commented on #208
So to add these files to cdnjs we'll just need to create a PR containing directories with name as library version like this example https://github.com/cdnjs/cdnjs/tree/master/ajax/libs/aframe. The PR has to follow this contributing guidelines https://github.com/cdnjs/cdnjs/blob/master/CONTRIBUTING.md#b-pull-request.

[2018-02-16 10:34] ishmulyan commented on #210
Hi @AllenFang!

1. I didn't. As far as I understand `remote` is for custom sort.
2. Clicking on header sorts data and calls `componenWillReceiveProps` with sorted data, so if I click on some header it sorts data, but when my data is changing it propagates to BootstrapTable and it renders unsorted data.

Thanks!

[2018-02-16 14:12] toddcoulson opened #211 "Table in a table"
Is it possible to have a table of products. Then within that table have a table of inventory locations about that product? I have seen this with other tables, but wondering if this one has that capability.
TIA

[2018-02-16 20:33] danielzk commented on #197
That's just for the header cell (<th>).

[2018-02-16 20:44] danielzk commented on #197
As I can see in the source code the `<tr>` is not customizable. It would be a good feature to add. I think it would also be a good feature to be able to pass custom props to the components.

[2018-02-16 23:54] zsh1313 commented on #182
I got same issue with using bootstrap 4

[2018-02-17 07:37] ganesharulanantham opened #212 "Table data row customisation by using component"
@AllenFang Give your thoughts on following customisation requirements
Use Case:
1. Table rows will be rendered as Card or Tabular cell.
2. Should support row select, pagination, sort and filter.
3. Pass props to dispatch action from row component.
4. Table Header optional.
![image](https://user-images.githubusercontent.com/3982074/36339052-a8075052-13e2-11e8-9105-8ffcbe98e7fe.png)

[2018-02-17 09:58] KamyarP commented on #208
@AllenFang Thanks for guidance. However, I'm still having problems and get the following error:
`React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.`

I tried to initialize the table with minimum complexity:

    const columns = [{ dataField: 'id', text: 'id' }, { dataField: 'name', text: 'name' }];

[2018-02-17 10:39] ganesharulanantham commented on #212
@AllenFang Closest thing [https://github.com/AllenFang/react-bootstrap-table/issues/189](url). Why not supporting data format for table row?

[2018-02-17 18:21] abonec opened #213 "onHover event"
I need to get id of row in on hover, right now I can achieve it using:
[code]
Because of this event handler got only `event` argument I can get row id only in this curly way. Obviosly it will be more handy if this callbacks would receive row argument as `onClick`.

[2018-02-18 18:08] siamak opened #214 "Warning: Each child in an array or iterator should have a unique "key" prop."
When I send `data` as props I have error for iterator `key`.
![image](https://user-images.githubusercontent.com/3109082/36355128-c84a9286-14f3-11e8-9f62-1b38a67731a5.png)

Warning: Each child in an array or iterator should have a unique "key" prop.

Check the render method of `Body`. See https://fb.me/react-warning-keys for more information.
    in Row (created by Body)
    in Body (created by Boo

[2018-02-19 06:42] prajapati-parth commented on #214
@siamak Please post the code that you've tried. Thanks.

[2018-02-19 14:21] Thebarda opened #215 "Carets don't display"
Hello

I setted 'sort' to true on my column but I can't see any carets near of header title
The sort works when I'm clicking on header.

Here is a sample of my code.

Column Declaration...
`const column = [
        { dataField: 'name', text: 'Name', sort: true  }
}`

Table Declaration...
`<BootstrapTable
            data={datas}
            columns={column}
        />`

Thank you for your response

[2018-02-20 05:22] andrisundae opened #216 "Is still possible to use key board navigation in this version ?"
On the old version http://allenfang.github.io/react-bootstrap-table/example.html#keyboard-navigation, maybe this useful for work with mouseless.

[2018-02-20 10:05] AllenFang commented on #208
@prajapati-parth thanks your sharing, I will have a look on it :)

Definitly no

[2018-02-20 10:06] AllenFang commented on #208
it's wired..  could you please open an issue, and let's focus on it if the problem is still remain, thanks

[2018-02-20 10:13] AllenFang commented on #210
@ishmulyan sorry for lately reply,

Actually, the remote mode allow you to handle your data logic(ex: sort, filter, paging etc) external, which mean `react-bootstrap-table2` will not handle the data instead you application need to handle.

 ok, I understand you problem, actually, this is a unimplement feature.

in legacy `react-bootstrap-table`, we allow developer to manage the sorting, so in this

[2018-02-20 10:15] AllenFang commented on #216
@andrisundae yes, I will recover all of the useful features in legacy `react-bootstrap-table` ASAP. keyboard navigation is one of them.  I will mention here again if we implement it, thanks!!

[2018-02-20 10:17] AllenFang commented on #211
@toddcoulson currenlty, we don't have this kind of integration for table in table(sub table). i will consider to implement it.

BTW, right now, I'm focus on implement all of the legacy features in `react-bootstrap-table`, so this feature request will have lower priority, anyway PR is welcome :)

[2018-02-20 10:20] AllenFang commented on #212
@ganesharulanantham sorry for lately reply. Customization row is a good idea, I'll spend sometime to implement it but with little lower priority due to we are recovering all of the important features in legacy `react-bootstrap-table`.

I'll mention here again if we finish row customization ;) .  PR is welcome

[2018-02-20 10:22] AllenFang commented on #214
also post your data @siamak

[2018-02-20 10:24] AllenFang commented on #215
HI @Thebarda currently, we dont support the bootstrap 4, check this [docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html), we will support it soon.

[2018-02-20 11:34] micaelsampaio opened #217 "TextFilter"
Hello, when i put textFilter in my columns, it apears this Warning, even in example story book has the same Warning.

[code]

`Warning: TextFilter contains an input of type text with both value and defaultValue props. Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Decide between using a controlled or uncontrolled in

[2018-02-20 12:02] siamak commented on #214
It's a bug in my code. Thanks.

[2018-02-20 12:02] #214 closed

[2018-02-20 23:15] ToxicDescent opened #218 "Header cells encountering two children with the same key"
I have run into an issue where I have two columns with different headings pointing to the same dataField. One of these columns is visible on desktop and has the full name and the other one is visible on mobile and contains an icon instead to cut down on space. The columns are made hidden and visible using the bootstrap classes 'visible-xs' and 'hidden-xs'.

It seems that the key for the header cel

[2018-02-21 06:08] prajapati-parth commented on #218
@ToxicDescent Please share a minimal code example. Thanks.

[2018-02-21 07:16] KamyarP opened #220 "UMD version error: React.createElement: type is invalid"
I'm trying to use the client-ready version of the component. However I'm facing the following error:
`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`
I have attached a bare-bones version of what I'm trying to achieve.
[sample.zip](https://github.com/react-bootstrap-table/react-bootstrap-table2/files/174313

[2018-02-21 10:45] prajapati-parth commented on #220
@KamyarP This is not an issue related to react-bootstrap-table2, you'll need babel and other packages to make your index.html file render React components. Thanks.

[2018-02-21 12:56] KamyarP commented on #220
The React script references are umd version so there's no need for a Babel compiler.
Also, I have compiled my `SampleApp.jsx` with Babel 6.7.7 and included the compiled version `SampleApp.js` in my `index.html` So my component has already been compiled.
I have used `React.createElement` to render my component in `index.html` so it also does not need any compilation: `ReactDOM.render(React.createEl

[2018-02-21 13:18] KamyarP commented on #208
@AllenFang I have created a new issue at [https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/220](url)
Thanks.

[2018-02-21 14:13] prajapati-parth commented on #220
@KamyarP Okay. I see I missed that. I'll check it out.

[2018-02-21 17:06] yuri-sakharov commented on #151
Sorry guys I did'n have time for this implementation.

[2018-02-21 20:23] srikar237 opened #221 "Failed prop type: The prop `defaultValue` is marked as required in `TextEditor`, but its value is `null`."
HI Team,

I came across with this library recently and it's very easy to integrate. Thanks.

Can you please help me with below issues/requirements, thanks.

1.  When i try to edit a row on an empty cell it gives below Warning.  Can you please let me know how/where to pass defaultValue prop..?
       Failed prop type: The prop `defaultValue` is marked as required in `TextEditor`, but its value is `

[2018-02-21 22:03] ToxicDescent commented on #218
[code]

This will then complain that there are two children with the same key 'data'.

[2018-02-21 22:42] bryon-czoch opened #222 "Use .eslint rules to keep code better organized"
The code would be easier to read/contribute to if it was better organized.

Here are some rules that would really help the readibilty:

   react/jsx-sort-props
   react/jsx-space-before-closing
   react/jsx-curly-spacing

[2018-02-22 03:25] prajapati-parth commented on #218
Adding classes using `headerClasses` will consider all the columns when creating BootstrapTable which will of course throw an error. The correct way to hide a column is to use [hidden property](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Hidden&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook

[2018-02-22 03:29] prajapati-parth commented on #222
Agreed with the 2nd and 3rd rule. But let's not consider `react/jsx-sort-props` for it's just an overhead when adding new props.

[2018-02-22 05:39] ashwaths0793 opened #223 "Getting Started - Can't get demo code to run"
I'm really sorry to bother. I'm trying to understand React-Bootstrap-Table-2 and I am having a lot of trouble getting the demos to work. I was hoping you could help me solve my problem. I keep getting an error -

bundle.js:2356 Warning: Caption(...): No `render` method found on the returned component instance: you may have forgotten to define `render`, returned null/false from a stateless componen

[2018-02-22 09:01] aaj5956 opened #224 "Default row selection not working"
Hey, I am trying to specify the default selected row but it does not work for me:

[code]

Even though I have an entry in my table with the row key = 1, the entry is not selected by default on initial render.

[2018-02-22 11:30] thimo1 opened #225 "Sort order lost on state change"
If you perform a client sort, sorting works fine. If state is refreshed sort order gets lost. Caret stays at state, sort order not.

Is that an known issue?

[2018-02-22 16:43] AllenFang commented on #223
@ashwaths0793 sorry for lately reply, I cant reproduce this issue, could you please give a workable example or a repo. Thanks

BTW, What react version you used?

[2018-02-22 16:44] AllenFang commented on #225
@thimo1 yes, we still lack on sorting management, duplicated with #210

[2018-02-22 16:44] #225 closed

[2018-02-22 16:47] AllenFang commented on #217
@micaelsampaio update `react-bootstrap-table2-filter` and `react-bootstrap-table-next` to newest should solve this issue  https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/02/14/version-bump.html

[2018-02-22 16:47] #217 closed

[2018-02-22 16:48] AllenFang commented on #220
I'll also check this if you got time. I think maybe we need support the UMD version should solve this issue probably.

[2018-02-22 16:51] AllenFang commented on #220
@KamyarP try https://unpkg.com/react-bootstrap-table-next@0.1.3/lib/index.js instead of the bundled file from `dist`

[2018-02-22 16:52] AllenFang commented on #220
Maybe I do something wrong for the those UMD bundled in `dist`, I'll also double check

[2018-02-22 17:03] AllenFang commented on #221
HI @srikar237 sorry for lately reply,

Failed prop type: The prop defaultValue is marked as required in TextEditor, but its value is null.

I'll fixed it soon

Good point, for the width on bootstrap table, it's a challange actually, in the legacy `react-bootstrap-table` we paid a lots of efforts on it, for now, I didn't integrate column width, but you an tried to set the height on [`column.headerS

[2018-02-22 17:06] AllenFang commented on #218
@prajapati-parth thanks your answer 👍

@ToxicDescent i think right now, we don't  support a table contain the same column(`dataField`),even in the `react-bootstrap-table`, people usually ask me this feature, I'll consider to implement it but might be with lower priority

Sometime, there's a workaround is that you preprocess your data to separate a datafield to different field then feed into table.

[2018-02-22 17:09] AllenFang commented on #222
for the `jsx-space-before-closing` and `jsx-curly-spacing` just my favor styling lol

Anyway, I'm open for this, if it can help more people to join and contribute this project, let's fix it.

[2018-02-22 17:10] AllenFang commented on #151
@yuri-sakharov never mind :)

[2018-02-22 18:20] ashwaths0793 commented on #223
Hi Allen,

Thank you so much for response. I uploaded my project to a git repository (https://github.com/MULeverLab/ReduxSimpleStarter-LeverUI). There are several components, but the one where I am trying to render a bootstrap table (The code that I sent earlier) is in **src/components/table_bootstrap.js**. The application uses react-router and I try to render this component in the path localhost:

[2018-02-22 20:11] srikar237 commented on #221
Thanks for your reply Allen,

tried below with column.headerStyle   but couldn't get it working...

headerStyle: () => { width: '100px'  },
headerStyle: {width: '100px'}

and i have one more observation,  Whenever i try to pass columns dynamically ( get column data from an asynchronous call) , i get "Uncaught Error: No any visible columns detect".  is there any work around for that..?

[2018-02-22 22:14] ToxicDescent commented on #218
I have have applied the workaround for now and that works perfectly thanks.

[2018-02-23 01:36] AllenFang commented on #182
@zsh1313  please read [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html), we will support bootstrap 4 in near future, thanks

[2018-02-23 01:37] AllenFang commented on #197
@danielzk yes, there're some people ask this feature, I'll handle it ASAP, https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/212

[2018-02-23 01:40] AllenFang commented on #221
@srikar237 for the dynamic columns, is there any chance that table receive empty `columns` array ?!

[2018-02-23 01:41] AllenFang commented on #223
@ashwaths0793 upgrade the react to newest and try again.

[2018-02-23 02:19] ashwaths0793 commented on #223
Will do. Thank you!

[2018-02-23 03:00] YannisMarios opened #226 "How to set column width?"
Hi,

I am trying to set the column width? How do you do It with react-bootstrap-table2?

[2018-02-23 03:28] ashwaths0793 commented on #223
Thank you Allen for all the help. I got it to work! You were right about the version of react being the problem. I was using a boiler plate starter that was recommended by a course instructor. For some reason I was unable to update/upgrade the react version (bunch of errors appeared following the directions on the React documentation). I decided to recreate the application using the starter found

[2018-02-23 03:28] #223 closed

[2018-02-23 06:51] AllenFang commented on #226
@YannisMarios https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/221

This is not implemented yet. I will enhance this feature ASAP, thanks.

[2018-02-23 07:47] AllenFang commented on #224
@aaj5956 your row key is `1` or `"1"` ?!  I think it's not a bug in `react-bootstrap-table2`. could you please share your raw data and minimal code? thanks

[2018-02-23 09:11] aaj5956 commented on #224
I may be doing some things incorrectly but I don't understand what the issue is. The key is definitely `1` and not `"1"`. Here is the code:
[code]

and then finally
[code]

[2018-02-23 10:29] RajeevSiewnath opened #227 "When I change the data prop, the table is not being re-rendered"
My table uses an array of objects for the data parameter. When that data gets updated I have to manually sort the table to see the newly entered data.

[2018-02-24 14:53] AllenFang commented on #224
@aaj5956 it's sorry that we don't support the default select currently, we will implement this feature ASAP.

[2018-02-24 15:02] AllenFang commented on #223
@ashwaths0793 thanks :) . keep to give any feedback to us :)

[2018-02-24 15:30] AllenFang commented on #220
@KamyarP try:

[code]

and let me know if the problem is still remain and open this issue again, thanks

I will improve the UMD system in future

[2018-02-24 15:30] #220 closed

[2018-02-24 15:32] AllenFang opened #228 "support UMD"
1. consider to add to cdnjs
2. we got five packages, need different UMD name, there's a bug that we got same export name(`ReactBootstrapTable`) after `yarn build`. Need to fix the `webpack.prod.confid.babel.js`

[2018-02-24 15:33] #208 closed

[2018-02-24 15:33] AllenFang commented on #228
#208

[2018-02-25 08:11] aaj5956 commented on #224
No problem. @AllenFang Thanks.

[2018-02-26 09:08] KamyarP opened #229 "Table disregards sort column after re-rendering"
I have been able to use UMD version thanks to @AllenFang 's guide at #220
However, upon updating table data, the sort column is disregarded.
I have attached a sample that updates the state every 1 second. If I click on a column for sorting, it is only valid before my component's `render` method is called again.
Should I render the table in another way to make sort column regarded after updating ta

[2018-02-26 09:15] #229 closed

[2018-02-26 09:16] KamyarP commented on #229
Just saw you have already discussed this at #210

[2018-02-27 03:07] ashwaths0793 opened #230 "Features"
Hi @AllenFang ,

Hope you are doing well.

I've been doing a lot of research on various react-table libraries and wanted to provide a bit of feedback/questions. First, I think you have done a great job of React-Bootstrap-Table2, I've used it heavily in my project.

I was curious though, if React-Bootstrap-Table2 allows you (the developer) to add a button within each row (i.e. An edit button). I ha

[2018-02-27 20:15] JohnVLinton opened #231 "How to update state in cell components"
I am trying to implement a toggle button which has its own jsx inside one of the boostrap table's columns (for leftmost cell each row).

My issue is I can't seem to find a way to pass the parent's callback function from the react-bootstrap-table itself into a column formatter (i.e. there is no bind this allowed) such that a callback gets called from the parent that can change state based on whethe

[2018-03-01 04:09] andrisundae commented on #216
Ok thanks @AllenFang ...you are the best !!

[2018-03-01 07:10] krupatel commented on #230
+1 for a fixed header with a vertical scroll. That would be really useful. By the way, @ashwaths0793 were you able to solve this by any means.

[2018-03-01 15:51] AllenFang commented on #227
https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/210

[2018-03-01 15:51] #227 closed

[2018-03-03 04:54] AllenFang commented on #230
Hey guys, sorry for lately reply,

sure, same as legacy `react-bootstrap-table`, we still have `dataFormat` in `react-bootstrap-table2`

We dont have this feature but we have expandrow in legacy `react-bootstrap-table`, and most of people will put a sub table in expanding row. We will implement expand row ASAP, but if anyone have a good suggestion for sub table, it's very welcome :)

In legacy `re

[2018-03-03 13:12] ashwaths0793 commented on #230
Hey Allen,

No worries. You are the man. I'm just getting started learning React and your input/advice has been incredible.

Thanks for everything.

[2018-03-04 07:14] AllenFang commented on #209
Close it due to no reply for a long time.

[2018-03-04 07:14] #209 closed

[2018-03-05 15:47] waynebrantley opened #235 "Support className on BootstrapTable"
The styling on this version is much better than the first one is much better!

However, I have to wrap every ``BootstrapTable`` in a <div/> so I can target your classes. (using code based classes, not stylesheet ones).

It would be nice if you let me pass className into ``BootstrapTable`` and you add whatever is passed in to the outer div.  This would let me get rid of this extra div.

[2018-03-05 18:39] waynebrantley opened #236 "SizePerPage dropdown reserves space even if not present"
Similar to this issue:
https://github.com/AllenFang/react-bootstrap-table/issues/1818

The size per page drown reserves space as it outputs
``<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6"></div>`` even if hidden (which makes the buttons be too far over to the right)

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/3c9cd22d421ed5ea8f28afb2c0bc68cbd7d18fbc/packages/react-boot

[2018-03-05 19:42] waynebrantley commented on #226
@AllenFang Trying to convert to your new version.  Ran into this same issue - pretty much blocking us at this point.

[2018-03-05 20:02] waynebrantley opened #237 "Hidden columns still render"
In the previous version of your component, if I did not want to render a column, I would simply do
[code]
I thought I would just use the new ``hidden`` property in the columns array to accomplish this same thing:
[code]
This 'works', but the column is still rendered to the browser - is just wrapped with ``display:none``.  Can you just not render hidden columns at all??

Without the above, I could

[2018-03-05 20:10] waynebrantley commented on #237
Additionally, hidden columns crash when used with a pager.
``Uncaught TypeError: Cannot assign to read only property 'display' of object '#<Object>'``
header-cell.js:83
[code]

The above error occurred in the <HeaderCell> component:
    in HeaderCell (created by Header)
    in tr (created by Header)
    in thead (created by Header)
    in Header (created by BootstrapTable)
    in table (created by

[2018-03-05 20:23] waynebrantley opened #238 "Pagination is missing 'total' feature"
In the prior version, the pagination component would show something like:
[code]

And that could be customized with a ``paginationShowsTotal`` rendering function.
I know this new version is a work in progress and not all features are ported yet - wondering if this was just missed or if it is coming.  Currently no work around to get this done that I can see.

Thoughts?

[2018-03-05 21:42] zhm12359 opened #239 "Are we gonna have 'search' feature soon?"

[2018-03-05 23:24] jtheberge commented on #235
This would be great in addition to adding support for id's as well.

[2018-03-05 23:26] jtheberge commented on #230
@AllenFang You said we still have dataFormat? I tried implementing it without success in my columns. Could you provide an example how to pass dataFormat in columns?

[2018-03-06 15:40] #186 closed

[2018-03-06 15:40] #221 closed

[2018-03-06 15:40] #210 closed

[2018-03-06 16:03] AllenFang commented on #221
Fixed on `react-bootstrap-table-next@0.1.4`

[2018-03-06 16:03] AllenFang commented on #221
Release note: https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html

[2018-03-06 16:04] AllenFang commented on #224
@aaj5956 we support default selection, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html)

check [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Default%20Select&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factio

[2018-03-06 16:04] #224 closed

[2018-03-06 16:05] AllenFang commented on #213
@abonec sorry for lately fixing, this requirement is fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html)

[2018-03-06 16:05] #213 closed

[2018-03-06 16:07] AllenFang commented on #210
Fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html), thank!

[2018-03-06 16:07] AllenFang commented on #225
Fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html), thank!

[2018-03-06 16:07] AllenFang commented on #229
Fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html), thank!

[2018-03-06 16:07] AllenFang commented on #227
Fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html), thank!

[2018-03-06 16:08] AllenFang commented on #186
Fixed on `react-bootstrap-table-next@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/03/06/version-bump.html), thank!

[2018-03-06 16:16] pr4deep94 opened #241 "Pagination is not working"
PaginationWrapper.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.

[2018-03-06 16:19] AllenFang commented on #226
@waynebrantley right now, `headerStyle` is just a way, I'm think other good solution for it. I apologize for this inconvenience

[2018-03-06 16:20] AllenFang commented on #235
@waynebrantley sure, added it in next sprint.

[2018-03-06 16:23] AllenFang commented on #236
@waynebrantley understand. I will tweak this DOM structure. thanks

[2018-03-06 16:24] AllenFang commented on #237
@waynebrantley thanks this feedback, I'll fix it ASAP

[2018-03-07 09:40] skar404 opened #242 "Error: Uncaught ReferenceError: BootstrapTable is not defined"
Error:  `Uncaught ReferenceError: BootstrapTable is not defined`

User Django + react-bootstrap-table2 (use npm version: `react-bootstrap-table-next` v0.1.4)
Code:

[code]

[2018-03-07 20:01] srikar237 commented on #221
Thanks for the quick fix Allen...

[2018-03-08 11:48] ivanortegaalba opened #243 "When the overlay is triggered, the focus on input filter is lost."
When I use `overlayFactory` and the prop `loading` changes, the overlay is triggered.
The thing is, if it has been triggered because of a filter has changed, the focus on the filter is lost.

Something to fix it? This is my code:

[code]

[2018-03-08 18:12] EnriqueAbricot commented on #181
Hi, i using react-bootstrap-table2-filter@0.1.3 and still get the warning for uncontrolled component... only when set mode to checkbox, if change to radio the warning gone away...

[2018-03-08 18:53] damonmiller commented on #241
I am seeing the same error when attempting to use pagination.

[2018-03-08 22:35] andela-mekwenugo opened #244 "Export To CSV functionality missing."
Just like in the "react-bootstrap-table" where you can add this exportCSV={ true } to the BootstrapTable Component and get the export to csv functionality, it would be great to have that here as well.

[2018-03-08 22:39] andela-mekwenugo opened #245 ""search" functionality"
Being able to search keywords on the table. Just like the other react-bootstrap-table where you only need to add "search" in the BootstrapTable component.

[2018-03-09 07:46] koookiii opened #246 "Setting state inside rowEvents or using onSelect inside selectRow does not work"
**Here's the error in the console:**

`Uncaught TypeError: Cannot set property 'selected' of undefined
    at RowSelectionWrapper.componentWillReceiveProps (wrapper.js:64)
    at callComponentWillReceiveProps (react-dom.development.js:6389)
    at updateClassInstance (react-dom.development.js:6575)
    at updateClassComponent (react-dom.development.js:7848)
    at beginWork (react-dom.development.

[2018-03-09 22:52] waynebrantley commented on #238
@AllenFang Is this in the next release - or would you accept a pull request?

[2018-03-11 07:39] gcfuji commented on #246
same error...

[2018-03-11 09:35] loziobiz commented on #246
I'm getting the same error every time I try to use selectRow even in a ultra basic way like

`const selectRow = {
  mode: 'checkbox',
  clickToSelect: true
};

<BootstrapTable keyField='id'
    data={_testdata}
    columns={columns}
    selectRow={selectRow} />
`

[2018-03-11 16:09] Chun-MingChen commented on #246
Hi @koookiii

Thanks for the information and it seems to be a bug :( We'll give an investigation further and fix it as soon as possible.

[2018-03-11 16:19] Chun-MingChen commented on #245
Hi @andela-mekwenugo:

This is the [roadmap](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/01/24/release-plan.html#032) for the upcoming feature but it was a little delayed. We will implement the **search** ASAP. Thanks.

[2018-03-11 16:23] Chun-MingChen commented on #239
Hi @zhm12359

It's the [roadmap](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/01/24/release-plan.html#032) for the upcoming features but it was a little delayed. We will implement the **search** ASAP. Thanks.

[2018-03-11 16:26] Chun-MingChen commented on #243
Hi @ivanortegaalba

We will give a further investigation and thanks for your information :)

[2018-03-12 08:39] karanbajaj2209 commented on #246
Was it working in version 0.1.2 or 0.1.3?

[2018-03-12 15:11] grogi opened #248 "this.store is not defined on the RowSelectionWrapper"
The `this.store` is not defined. It seems the `store` is part of the properties of the RowSelectionWrapper, not the object itself.

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/4011cae18e8e8bf632671647ad950e8b3209e2c1/packages/react-bootstrap-table2/src/row-selection/wrapper.js#L31-L38

[2018-03-12 15:13] Chun-MingChen commented on #248
Hi @grogi
Exactly. It's the root cause of #246. Thanks for your information and we will fix it ASAP.

[2018-03-12 16:21] grogi commented on #246
@karanbajaj2209 The 0.1.2 is fine.

[2018-03-13 15:05] lpcustom opened #249 "Issue with state propagation when filter contains text"
I ran into an issue that may be my own ignorance. I have my react-bootstrap-table2 component populated with data from an API call. I have one column editable and instead of saving directly to the API when the edit is completed, I have logic in place to mark the row as dirty to change some css on that cell. Then a button click is required to save the new data. After the new data is saved, I make an

[2018-03-14 12:39] anikakalbrun opened #250 "dataField does not support dot notation"
[code]
The BootstrapTable does not show records in the Claimed By column when the dataFields value is a string with dot notation. This does not allow me to build a proper url and use the onTableChange method to make an HTTP request to get filtered table data from the server.

When I change the data passed to the table and the columns value to:
[code]
then the BootstrapTable shows proper records in

[2018-03-14 13:04] telltokichu opened #251 "pagination dropdown is not closing after selecting an Option."
clicking on the sizeperpage pagination dropdown is working but after selecting no of records to be shown in a page for example 5,10,25. the Dropdown is not closing.

[2018-03-14 16:02] saifulss opened #252 "Custom content in cells"
How do we add custom content to cells, like newlines (to have contents of same cell break into 2 lines) or to have buttons (or any other React component) in cells?

[2018-03-14 19:40] saracarlile opened #253 "Storybook example Column Event Header Column"
In the Storybook online demo, the code in the Work on Header Columns > Column Event appears to be wrong.
It says events: {onClick()...
when it looks like this should say *headerEvents*: {  onClick()....

[2018-03-15 10:07] phuongphally opened #255 "Nested Tables"
First thanks for your hard working .

In my last project I can use http://datatables.net with nested table inside eat row like images

https://drive.google.com/file/d/0BxWTfF4b4CCWR3Z0R09BT0FYX0E/view?usp=sharing

I check demo [https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html](url) already can not seen the way to use.

so, can you give me sample ?

Thanks again.

[2018-03-15 11:22] aaveen opened #256 "table handling remote cellEdits and pagination not working when handling table changes"
Hi I am having problem when using pagination to go to next page, error below
MyContainer.js:116 Uncaught TypeError: Cannot read property 'rowId' of undefined

and here is the definition for my  table change handler
handleTableChange = (type, { page, sizePerPage, filters, cellEdit: {rowId, dataField, newValue }  }) => {
at MyContainer._this.handleTableChange (MyContainer.js:116)

if am only using t

[2018-03-15 13:42] aaveen commented on #256
please ignore , i solved it, just read on paginationsProps docs that we can't do remote when pagination is enabled, so I had to explicitly set it as
   remote={{pagination: true, cellEdit: false, filter: false}}

[2018-03-16 13:01] reinaldorossetti opened #257 "Changing from the old version to the new version."
//
import React, {Component} from 'react';
import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
//import {BootstrapTable, TableHeaderColumn, ExportCSVButton} from 'react-bootstrap-table'
import BootstrapTable from 'react-bootstrap-table-next';

import database from './database';

class App extends Component {
    constructor(props) {
        super(props);
        this.state = {

[2018-03-16 13:10] victor95pc commented on #241
same, PaginationWrapper is returning an Array

[2018-03-16 13:29] reinaldorossetti commented on #257
****

[2018-03-16 13:29] #257 closed

[2018-03-16 13:29] reinaldorossetti commented on #257
its works with
data={this.state.registro_embarcacao}

[2018-03-16 13:58] Beerbossa commented on #246
Thanks @grogi

Yeah I had an issue where if I allowed row selection **and** changed the displayed data (array dynamically (located in the state of the parent component), then it would crash in a similar way. 0.1.3 seems to cover it 🤔

Sick package though, really useful !

[2018-03-17 00:13] philohelp opened #258 "Custom styling of edited cells"
Hello all,
Thanks for the wonderful job, I love the new API.  I was wondering how I could customize the style of the inside of an edited cell - for example the font-size, which appears to be very small with too much padding. I cant even find the correct className here...
Thank you for your answers !

[2018-03-17 01:46] Northshoot opened #259 "Exporting data to files"
Hi, thank you and great job!

I wonder if it on the roadmap to add export functionality to various formats such as pdf, cvs, excel? Similarly, to what datatables provide.

[2018-03-17 07:28] Chun-MingChen commented on #253
Hi @saracarlile

Thanks for your information. That's a typo and we'll correct this in the next release :)

[2018-03-17 07:33] Chun-MingChen commented on #253
Fix in [#3ed4d87b29049a2437e8f5a745d53202d2e37a28](https://github.com/react-bootstrap-table/react-bootstrap-table2/commit/3ed4d87b29049a2437e8f5a745d53202d2e37a28).

[2018-03-17 07:33] #253 closed

[2018-03-17 07:42] Chun-MingChen commented on #251
Hi @telltokichu:

I didn't get your point. Could you describe in more detail or share the source code please. Thanks :)

[2018-03-17 07:48] Chun-MingChen commented on #259
Hi @Northshoot:

Yes, we do. We've planned the feature of [export csv] in (https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/01/24/release-plan.html#031) but it was a little delayed. For other formats, we will discuss further and thanks for your advice :)

[2018-03-17 09:59] philohelp commented on #252
There's a formatter prop, maybe that's what you're looking for (example below is for a column which contains a "remove" button :

`    const deleteFormatter = (cell, row, rowIndex, formatExtraData) => {
        const { deleteMe } = props;
        const rowId = row.id;
        return (
            <Button icon labelPosition='left' onClick={() => deleteMe(rowIndex, rowId)}>
                <Icon nam

[2018-03-17 10:01] saifulss commented on #252
Thanks, @philohelp! I solved it via the same way as you suggested. Made a function that returns a component I made just for that column's cells. Cheers.

[2018-03-18 05:11] AllenFang commented on #253
thanks @Chun-MingChen

[2018-03-18 05:13] AllenFang commented on #238
@waynebrantley sorry lately reply, crazy busy lol
it's welcome to accept PR, but if you want to open a PR, please let me know to avoid other contributors is also working on it

Thanks :)

[2018-03-18 05:16] AllenFang commented on #241
hey all, what react version you use? `react-bootstrap-table-next` need `react@16.0.0`, please confirm the your react version, thanks

Please let me know if this issue still remain?

[2018-03-18 05:21] AllenFang commented on #242
duplicated with https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/228 .

Right now, we still have some issue on UMD build..please check above issue, we will update here

BTW, sorry for lately reply :)

[2018-03-18 05:21] #242 closed

[2018-03-18 05:24] AllenFang commented on #244
@andela-mekwenugo very sorry for lately reply, busy on my crazy job....

I think `react-bootstrap-table2` already delay a lots, I will focus on recover all the feature in legacy `react-bootstrap-table` on the beginning of April

[2018-03-18 05:25] AllenFang commented on #245
duplicated with #239

[2018-03-18 05:25] #245 closed

[2018-03-18 05:26] AllenFang commented on #248
Duplicated with #246

[2018-03-18 05:26] #248 closed

[2018-03-18 05:28] AllenFang commented on #250
@anikakalbrun sorry for lately reply, can I check your raw data? I think nested field is support from the starting of `react-bootstrap-table2`, thanks

[2018-03-18 05:32] AllenFang commented on #249
@lpcustom sorry for lately reply, could you please show me your code? please keep it simple and minimal.

It's quite wired, but when you have text filter? do you try filtering something?

[2018-03-18 05:36] AllenFang commented on #252
@philohelp thanks!!

[2018-03-18 05:36] #252 closed

[2018-03-18 08:08] AllenFang commented on #255
@phuongphally sorry for lately reply, we will support this feature soon

[2018-03-18 08:15] AllenFang commented on #258
@philohelp you mean the customization for the `input` element or the outer `td` element

[2018-03-18 09:52] saadulde45 commented on #74
Hey @AllenFang Any idea when will this feature be integrated?

[2018-03-18 14:56] victor95pc commented on #241
my react version is 16.2.0

[2018-03-18 15:03] #237 closed

[2018-03-18 15:09] AllenFang commented on #246
hey all, It's very sorry that we don't fix this critical issue in time, right now we fixed on `react-bootstrap-table-next@0.1.5`, please let me know if this issue still remain, thank

[2018-03-18 15:09] #246 closed

[2018-03-18 15:09] AllenFang commented on #248
@grogi  It's very sorry that we don't fix this critical issue in time, right now we fixed on `react-bootstrap-table-next@0.1.5`, please let me know if this issue still remain, thank

[2018-03-18 15:12] AllenFang commented on #235
hey all, we fixed on `react-bootstrap-table-next@0.1.5`, please let me know if this issue still remain, thank.  check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Basic%20Table&selectedStory=Customized%20id%20and%20class%20table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example and let me know i

[2018-03-18 15:12] #235 closed

[2018-03-18 15:17] AllenFang commented on #256
hi @aaveen sorry for lately reply, it might be not a bug but I need to clearify this issue firstly,

Could you please explain the reproduce steps and I saw your error message is from your code instead of `react-bootstrap-table2`. so it will be good to show me your code but please keep it simple and minimal

Regards
Thanks

[2018-03-18 15:19] AllenFang commented on #259
Duplicated with #244 so that close it

[2018-03-18 15:19] #259 closed

[2018-03-18 17:27] philohelp commented on #258
It's for the inner input element.

[2018-03-19 01:34] patrickomeara opened #264 "empty table is missing the last cell"
most likely not including the select cell in the count

<img width="881" alt="image" src="https://user-images.githubusercontent.com/571773/37574018-cdec663a-2b71-11e8-8a20-e50f85bfa3a3.png">

[2018-03-19 02:30] AllenFang commented on #258
@philohelp understand, I will handle it soon 👍

[2018-03-19 02:32] AllenFang commented on #241
HI @victor95pc  could you post your code and show us how to reproduce it, thanks

[2018-03-19 05:11] telltokichu commented on #251
Hi @Chun-MingChen
I have zipped a video, please check out.
Thanks in advance.

[rbtp2_issue.zip](https://github.com/react-bootstrap-table/react-bootstrap-table2/files/1823760/rbtp2_issue.zip)

[2018-03-19 10:54] aaveen commented on #256
Hi Allen
Thanks for getting back to me,
here is the code I managed to combine from the examples in the repo the remoteAll and just the setup for cellEdit, it uses same productGenerator you have in repo.
and I just hooked that into my create-react-app , and after I edit a cell then i try to change the page to page 2 for example , i get this error

Thanks for helping
Aveen

error:
Container.js:71 Un

[2018-03-19 22:46] philohelp commented on #57
This is the first logo ever made with a spreadsheet.
<img width="320" alt="capture d ecran 2018-03-19 23 43 40" src="https://user-images.githubusercontent.com/12623963/37626284-abfb5a32-2bcf-11e8-93ce-814cfeea8f24.png">

[2018-03-20 03:21] AllenFang commented on #264
@patrickomeara btw, what version you used it now?

[2018-03-20 09:52] roms182 opened #267 "Edit only a part of cells on each row ?"
[help wanted]
Hi, thanks for this really nice table, it is really good.
I am trying to make only a part of cells editable: for each row, I would need to have only the last two cells editable each time. Is that possible?
#

[2018-03-20 14:00] patrickomeara commented on #264
@AllenFang I pulled the latest and branched off master

[2018-03-20 14:27] AllenFang commented on #251
@telltokichu I think there's a little different in your video? can I confirm following items?

1. What bootstrap version you use
2. Do you really use `react-bootstrap-table-next` or legacy `react-bootstrap-table`?

The different I saw is the page option is an anchor(link) instead of a normal selection option, you can check [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table

[2018-03-20 14:28] AllenFang commented on #264
@patrickomeara understand, thank!!

[2018-03-20 15:24] #267 closed

[2018-03-20 15:34] telltokichu commented on #251
@AllenFang
I am using Bootstrap version 4.0.0 and react-bootstrap-table-next.

[2018-03-20 16:18] AllenFang commented on #251
@telltokichu understand, please check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#add-css

Wee are not support bootstrap@4, it's sorry about that but we are already working on it, I will mention here when we finish it, thanks!

[2018-03-20 16:37] telltokichu commented on #251
@AllenFang
Here mentioned like Compatible for Bootstrap 3 and 4 that's why I used but no issues I got the answer.
Thanks.
<img width="1280" alt="screen shot 2018-03-20 at 10 04 27 pm" src="https://user-images.githubusercontent.com/25656723/37668547-cbe9f072-2c8a-11e8-8280-13298f41b110.png">

[2018-03-21 05:28] bogannathan opened #270 "Cannot change pagination styling"
Is there any way to change the styling of the pagination list? I would like to have it centered under the table, but it by default adds columns that push it to the right. Is this a change I can do with this package?

Really appreciate it, looks good so far!

[2018-03-21 11:34] aaveen commented on #256
Hi I know you guys are really busy, however am really stuck and not sure what I done wrong, am new to frontend development so an example of remoteAll with cellEditing added could help me, or check if this is the correct way of passing the cellEdit param in my handler **handleTableChange = (type, { page, sizePerPage, filters, cellEdit: { rowId, dataField, newValue }}) => {**
Again this works for ce

[2018-03-21 14:53] phuongphally commented on #255
@AllenFang I like you package much . But I don't know how to help you dev this feature .
I really need it .

Thanks

[2018-03-21 15:05] a2441918 opened #271 "Use react-moment to change dates displayed in rows"
Trying to use react-moment to render dates in a different manner.

I want  to convert 14-Mar-2018 08:23:17 to 03/14/2018 08:23:17
{
    dataField: 'date',
    text: 'Date',
    formatter: dateFormatter,
  }

const dateFormatter = (cell, row) => (
  <Moment parse="dd-MMM-YYYY HH:mm:ss" format="MM/DD/YYYY HH:mm:ss">
    {cell}
  </Moment>
);

When I use cell or row, it returns invalid date. Should I

[2018-03-21 17:02] anikakalbrun commented on #250
Hi Allen,

Thanks a lot for getting back to me.

This code is not working for me:

`
const columns = [
    {
        text: 'Claimed By',
        dataField: 'claimBy.name'
    },
    {
        text: 'Expenses',
        dataField: 'totalExpenses',
        formatter: amountFormatter
    },
    {
        text: 'Millage',
        dataField: 'totalMillage',
        formatter: amountFormatter
    },

[2018-03-22 14:52] Northshoot commented on #181
had the same issue until I added

` selected: false,`

in the

[code]

[2018-03-22 16:39] aaveen commented on #256
i fixed it , changed  param to  handleTableChange  = (type, { page, sizePerPage, filters, cellEdit})

[2018-03-22 16:39] #256 closed

[2018-03-24 04:10] a2441918 opened #272 "Get data_field of column header clicked"
Hi, how do I get the value of data_field of the column header being clicked?

This is my column.

    {
        dataField: 'data_id',
        text: 'Data ID',
        headerEvents: {
        onClick: () => columnClick(),
        },
     }

    const columnClick = (cell, row, rowIndex) => {
          console.log('cell', cell);
          console.log('row', row);
          console.log('rowIndex', row

[2018-03-24 09:32] Chun-MingChen commented on #270
Hi @bogannathan:

We're sorry for that so far `react-bootstrap-table2` is not able to allow users to customize `classNames` or `inline-style` for pagination bar. For this part any PR is welcomed.

However, if it's bothering about the alignment, the following solution based on existing class does work but not recommended.

[code]

[2018-03-24 09:53] Chun-MingChen commented on #272
Hi @a2441918

So far we have no plan to support the access for column attributes when clicking the `headerCell`. However, if it's bothering, you could access the `dataField ` by some trick like `HOF`.

[code]

[2018-03-24 10:03] Chun-MingChen commented on #271
Hi @a2441918:

If you wanna customize your cell format, you could take refer to [LiveDemo#ColumnFormatter](http://localhost:6006/?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) and the [document](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformat

[2018-03-24 16:13] a2441918 commented on #271
That worked man. Thanks.

[2018-03-24 18:09] Northshoot commented on #226
I think current implementation if great!

Just add to your column description and done.

[code]

[2018-03-25 08:36] #264 closed

[2018-03-25 08:47] AllenFang commented on #250
@anikakalbrun sorry, your data should be following:

[code]

[docs](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columndatafield-required-string)

[2018-03-25 08:47] #250 closed

[2018-03-25 08:54] AllenFang commented on #251
@telltokichu understand, sorry for this kind of wrong information, we will implement it ASAP, thanks

[2018-03-25 08:56] AllenFang commented on #255
@phuongphally  I think this is a big project right now, you can start to join this project from a basic code tracing and check how it work by https://github.com/react-bootstrap-table/react-bootstrap-table2/tree/master/packages/react-bootstrap-table2-example/examples.

Anyway, I will try our best to implement this feature.

[2018-03-25 08:57] AllenFang commented on #271
@Chun-MingChen thanks!

[2018-03-25 08:57] #271 closed

[2018-03-25 09:07] #272 closed

[2018-03-25 17:38] bogannathan commented on #270
Thanks for letting me know! I appreciate it

[2018-03-27 13:06] marc-dworkin opened #277 "Column Text Extends Past Width"
Hi,

Is there a way to auto-truncate the value in a column to fit to column width.  With maybe a tooltip to see full value?

Thanks!

[2018-03-28 09:02] haneate opened #278 "Create thead with some tr"
Hi,

Is there a way to create a table with two or three tr in thead with colSpan and rowSpan?

Thanks!

[2018-03-28 09:31] nskiro opened #279 "Get selected rows?"
Hi @AllenFang
How can I get selected rows?

[2018-03-28 10:10] sidhujaspreet commented on #166
@AllenFang Even Thanks for the amazing work you have done.
Coming to issue, I am also in a situation where I just need to show data, not perform CRUD over it. I prefer not to perform extra iteration over data just to add an unique key to it. I deeply feel that keyField should be optional and handled inside react-bootstrap-table2 code by generating key using map > index in ./body.js.

[2018-03-29 09:52] AKokkalas opened #280 "insertRow and deleteRow features for react-bootstrap-table2"
Hi I used the previous version of react-bootstrap-table and in the BootstrapTable Props you could add
deleteRow={ true } and insertRow ={true} and 2 buttons for each function would appear and could be used.

Does the newest version has these features? I couldn't find anything like that in the examples, docs or storybook .

Although in issue #37 you mention it as it exists and in the [main page](ht

[2018-03-29 16:40] mrqcmc opened #281 "How to change default sorting direction for all columns?"
Descending is the default sort direction for all columns when a user first clicks on a header.  How can that be changed to ascending?  Any suggestions?

[2018-03-30 09:50] AllenFang commented on #270
let's close it firstly, we will overall have a customization for every components, thanks

[2018-03-30 09:50] #270 closed

[2018-03-30 10:36] AllenFang commented on #277
@marc-dworkin we dont have this feature, but you can very easy to custom

check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnstyle-object-function
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnclasses-string-function

you can check [this](https://www.w3schools.com/cssref/css3_pr_text-overflow.asp) to learn

[2018-03-30 10:36] #277 closed

[2018-03-30 10:38] AllenFang commented on #279
In the `react-bootstrap-table2` we still not support a exposed API to client to get the selection data. we will support this feature ASAP.

Currently, you can use [`selectRow.onSelect`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowonselect-function) to listen any rows is select or deselect and manage the selection rows in you code

[2018-03-30 12:06] prajapati-parth commented on #91
@AllenFang after more in detail looking into the options, I understand that storybook is better suited for a development environment whereas react-styleguidist is for creating playground/documentation site. And since we are using docusaurus for the documentation site, the question in this issue is out of purpose. Closing this out!

[2018-03-30 12:06] #91 closed

[2018-03-30 13:02] leon-jasper opened #282 "sum of filtered data"
First of all, thanks a lot for your wonderful work! Working like a charm and looking really good :)

I am looking for a way to display the actual amount of rows displayed in the header when applying one or more filter, what's the best way to do this?

[2018-03-31 11:59] leon-jasper commented on #281
hey!
I think you could try this: [reverted sorting](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Sort%20Table&selectedStory=Custom%20Sort%20Fuction&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

[2018-03-31 13:20] a2441918 opened #283 "Selecting a single rows selects all rows"
Hi I am trying to select a row, but every row gets selected.

I am using this code.

export const selectRow = {
  mode: 'checkbox',
  onSelect: (row, isSelect, rowIndex) => {
    console.log("row", row);
    console.log("isSelect", isSelect);
    console.log("rowIndex", rowIndex);
  }
};

I am importing the method in my parent and passing it as props to the table.

Please help.  Any idea to debug

[2018-03-31 18:14] Northshoot opened #284 "Using nested dataField and selectRow returns undefined"
I am came across a bug:
if setting up columns via a member such as

`dataField: 'object.field',`

and using selectRequestRow

both functions gives undefined objects rather than rows.

`      onSelect: (row, isSelect, rowIndex) => {
        //row undefined
      },

      onSelectAll: (isSelect, rows) => {
       //rows is an array of undefined values
      },`

[2018-03-31 22:14] Northshoot commented on #246
I am getting the same error when refetching or using state.selected

[code]

[2018-03-31 23:33] a2441918 opened #285 "How do I implement colspan rows?"
![colspan](https://user-images.githubusercontent.com/4927454/38168454-4ca308a6-351a-11e8-8d09-4eeb09dfd74c.PNG)

How do I achieve the above feature? Like a single cell spanning across multiple columns?

[2018-04-01 05:36] AllenFang commented on #278
@haneate hey, right now, we don't support this feature, we will consider to implement this, thanks!!

[2018-04-01 05:37] AllenFang commented on #280
@AKokkalas We will implement it soon, sorry that I'm quite busy for my job, so already have delay on `react-bootstrap-table2`'s schedule

[2018-04-01 05:39] AllenFang commented on #281
@mrqcmc I'll implement this feature, thanks

[2018-04-01 06:16] AllenFang commented on #283
@a2441918 I can't reproduce this issue in newest version: check [online demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Multiple%20Selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

What version you used and would you please give me more information?  thanks!!

[2018-04-01 06:37] AllenFang commented on #284
@Northshoot hi, it works for me. would you please show me your raw data and columns definition? thanks!

[2018-04-01 07:55] #258 closed

[2018-04-01 07:55] #281 closed

[2018-04-01 08:04] AllenFang commented on #281
@mrqcmc Fixed on `react-bootstrap-table-next@0.1.6`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/04/01/version-bump.html), and check [defaultSortDirection](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/table-props.html#defaultSortDirection-string).

let me know if you still have any issues, thanks

[2018-04-01 08:05] AllenFang commented on #258
HI @philohelp

@mrqcmc Fixed on `react-bootstrap-table-next@0.1.6` and `react-bootstrap-table-editor@0.1.4`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/04/01/version-bump.html), and check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#editor) for custom editor style/class.

let me know if you still h

[2018-04-01 08:08] AllenFang commented on #264
@patrickomeara  Fixed on `react-bootstrap-table-next@0.1.6`, check [release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/04/01/version-bump.html).

let me know if you still have any issues, thanks

[2018-04-01 11:16] NixonK opened #289 "0.1.6 npm differences with releases?"
Hi, this is regarding recent merged fixes #274. I saw that 0.1.6 has been pushed to npm but I am seeing that the npm install of version 0.1.6 does not include the changes seen in the github 0.1.6 releases.

Below are screenshots of the file `wrapper.js` which seem to be inconsistent on 0.1.6; sorry in advance if instead I am looking at completely different files (I am not familiar with the npm rel

[2018-04-01 13:09] a2441918 commented on #283
I use version 0.1.5.

**This is the function.**
	export const selectRow = {
	  mode: 'checkbox',
	  onSelect: (row, isSelect, rowIndex) => {
	    console.log("row", row);
	    console.log("isSelect", isSelect);
	    console.log("rowIndex", rowIndex);
	  }
	};

**This is my parent.**
	import {selectRow} from "../../components/DataTable/selectRow";

	<DataTable
	    keyField={ 'app_id' }
	    column

[2018-04-01 13:52] a2441918 opened #290 "How to get the cell value onClick?"
Hi, I have a multi-column table and I want the cell values of only one particular column when clicked. I tried the column event but it was not fruitful. Any advice on that?

[2018-04-01 14:07] a2441918 commented on #290
My bad. Achieved it through e.target.innerHTML. Thanks.

[2018-04-01 14:07] #290 closed

[2018-04-02 13:45] LuisUrrutia commented on #251
@AllenFang I had a similar issue with BS4 and I used this package 'cause the website says that is BS4 compatible, but isn't.
However, how can I contribute to BS4 implementation?

[2018-04-02 13:47] LuisUrrutia commented on #215
@Thebarda you can add the following styles to your global stylesheet:
[code]

[2018-04-02 15:04] a2441918 commented on #283
I upgraded to the latest version. Removed my node modules and reinstalled them. Still the same issue.

[2018-04-02 15:48] AllenFang commented on #289
@NixonK sorry, I made some mistake, please upgrade again:

react-bootstrap-table2-editor@0.1.5
react-bootstrap-table2-filter@0.1.5
react-bootstrap-table-next@0.1.7

and let me know if the issue still remain, thanks

[2018-04-02 15:48] #289 closed

[2018-04-02 15:49] AllenFang commented on #258
@philohelp

sorry, I made some mistake, please upgrade again:

react-bootstrap-table2-editor@0.1.5
react-bootstrap-table2-filter@0.1.5
react-bootstrap-table-next@0.1.7

and let me know if the issue still remain, thanks

[2018-04-02 15:50] AllenFang commented on #281
@mrqcmc

sorry, I made some mistake, please upgrade again:

react-bootstrap-table2-editor@0.1.5
react-bootstrap-table2-filter@0.1.5
react-bootstrap-table-next@0.1.7

and let me know if the issue still remain, thanks

[2018-04-02 18:27] mrqcmc commented on #281
Works great! Thanks, @AllenFang

[2018-04-02 19:29] philohelp commented on #258
I will give a look, so many thanks !!!

[2018-04-02 20:57] SamusPwns opened #291 "Horizontal Scrolling"
Hello,

Using react-bootstrap-table, when I set the width of the columns and they were larger than the viewport, the table created a horizontal scroll.

I just upgraded to react-bootstrap-table-2 and can't figure out how to replicate the functionality. It may be that I am using Bootstrap 4 which isnt compatible yet.

Am I missing something obvious. Any help would be greatly appreciated.

[2018-04-03 14:55] a2441918 commented on #279
U can use a callback function on onSelect and pass in that values. I use a redux action to achieve that.

[2018-04-05 06:15] leon-jasper commented on #282
anyone has an idea?

[2018-04-05 14:47] aaveen opened #293 "Table with cells containing checkboxes and selectRow"
Hi am hoping someone can help,
I have dataField of type boolean, and want to display it in the table as an editable checkbox. But at same time my table allows row selection for deletion functionality.

I managed to get my react-bootstrap-table  with editable checkboxes, but the main problem is the selectRow on the table is also getting triggered everytime I check/uncheck the checkbox , not sure ho

[2018-04-05 17:44] Rask777 opened #294 "table from the example has no borders"
Hello. I was following example but it has no border. Can anyone help me to get them back ?
Thanks
<img width="342" alt="screen shot 2018-04-05 at 1 41 10 pm" src="https://user-images.githubusercontent.com/5214759/38382201-37f879fc-38d7-11e8-9fff-a87669a33a7b.png">
import BootstrapTable from 'react-bootstrap-table-next';

const columns = [{
  dataField: 'id',
  text: 'Product ID'
}, {
  dataField:

[2018-04-05 20:24] Bricon66 commented on #291
+1

[2018-04-06 03:02] #294 closed

[2018-04-06 09:01] AllenFang commented on #282
Hi @leon-jasper sorry for lately reply, I think we don't have this feature right now and still doesn't have a proper hooks to let u to know the filtered data etc. We will think about this for a solution, thanks

[2018-04-06 09:03] AllenFang commented on #283
@a2441918  give me a repo I can help to check but please remember show me how to setup your repo, thanks

[2018-04-06 09:04] AllenFang commented on #291
I totally understand this feature is very important, sorry about that it's already delay due to my personal job is crazy busy. We will work hard on it

[2018-04-06 09:05] AllenFang commented on #285
@a2441918 right now we dont support this kind of feature but we must implement it.

[2018-04-06 15:16] Bricon66 commented on #291
No worries man, you've done an awesome job w/ this library.  Thanks.

As an FYI...here is some CSS that worked for my situation.   Passing along in the event that it may help others.

.table {
  overflow: auto;
  display: block;
  table-layout: auto;
}

[2018-04-07 04:22] ngohungphuc opened #295 "Can't display boolean value"
I have this piece of data

![chrome_2018-04-07_11-21-37](https://user-images.githubusercontent.com/13591213/38451198-d68bed2c-3a55-11e8-9ccf-b217ce3c9884.png)

My setup
[code]

The result and is seem like i cant display boolean value. Am I missing something ?

![chrome_2018-04-07_11-22-21](https://user-images.githubusercontent.com/13591213/38451201-f4a2fb5c-3a55-11e8-90ea-b388ce342661.png)

[2018-04-07 15:53] ngohungphuc opened #296 "[Bug] Page size select dropdown not disapper after select"
![chrome_2018-04-07_22-52-13](https://user-images.githubusercontent.com/13591213/38457110-560788bc-3ab6-11e8-96e4-d1d5a4f7592d.png)

Here is my code
[code]

[2018-04-07 16:02] ngohungphuc commented on #296
@AllenFang please take a look

[2018-04-07 16:28] Chun-MingChen commented on #295
This is not a bug. Hence close this issue.

[2018-04-07 16:28] #295 closed

[2018-04-07 16:33] Chun-MingChen commented on #296
Hi @ngohungphuc:

Did you select `Bootstrap 4`? If you do, we're really sorry that we haven't supported `bootstrap4`. We will implement ASAP.

[2018-04-07 16:58] ngohungphuc commented on #296
if you want i can help to migrate bootstrap v4 for this issue. Not sure about you guys milestone

[2018-04-07 17:26] Chun-MingChen commented on #296
Hi @ngohungphuc:

Currently we has been working on it. Take [the roadmap](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/#020) for reference, it's in the near future. We'll try our best to finish ASAP.

[2018-04-07 17:28] Chun-MingChen commented on #296
This is duplicated for #251. Let's close this and continue our conversation on #251. Thanks :)

[2018-04-07 17:28] #296 closed

[2018-04-08 10:54] ngohungphuc opened #297 "[Bug] Can't click radio button if using setState inside handleOnSelect"
Hi, I have this options

[code]

Below is error

![2018-04-08_17-50-12](https://user-images.githubusercontent.com/13591213/38466579-7dc38384-3b55-11e8-879d-9dab296d420c.gif)

[2018-04-08 10:54] ngohungphuc commented on #297
@AllenFang please take a look

[2018-04-08 10:55] ngohungphuc commented on #297
@Chun-MingChen

[2018-04-08 13:02] AllenFang commented on #241
@victor95pc hello the issue still there?

thanks

[2018-04-08 20:16] karanbajaj2209 opened #299 "Configuration to show pagination buttons above table rather than below the table."
Is there any configuration which allows displaying pagination buttons above table rather than below the table.

[2018-04-09 15:32] AllenFang commented on #297
@ngohungphuc did u use `react-bootstrap-table2`?

[2018-04-09 15:38] ngohungphuc commented on #297
@AllenFang yes of course.
Here is my version
[code]

[2018-04-09 15:42] ngohungphuc commented on #297
@AllenFang I just want to set selectedId to row.userId

[2018-04-09 21:01] chrisvoo commented on #280
Hi @AllenFang ,
I'm trying to make it by myself (without modifying your module), so I've just added a button that `onClick` triggers this function:

[code]

The first blank row is correctly inserted into the table, but if I click it again I get a warning and the second blank row isn't added: `Warning: flattenChildren(...): Encountered two children with the same key, ``. Child keys must be unique;

[2018-04-10 06:38] chrisvoo commented on #280
Ok, I guess I got this because I specified as `keyField` a column (`ssid`). I think that if I want to allow the user to add multiple blank lines, I can add an hidden `id` column with random values to be used as keys.
Thanks for your work!

[2018-04-10 06:50] ngohungphuc commented on #297
@AllenFang any update ?

[2018-04-10 07:28] aaveen commented on #293
@AllenFang am using the react-bootstrap-table2 and wondering if there is a better way of editing a checkbox cell in a table
Thanks
Aveen

[2018-04-10 15:05] hc1skalyanasundaram opened #300 "Require 'react bootstrap table' via cdn"
I'm trying to require react bootstrap table via cdn like this:

require.config( {
	paths: {
'react': 'https://unpkg.com/react@16/umd/react.development',
        'react-dom': 'https://unpkg.com/react-dom@16/umd/react-dom.development',
        'reactbootstraptable' : 'https://unpkg.com/react-bootstrap-table-next@0.1.7/dist/react-bootstrap-table2.min'
})

and in my component I require like this:

def

[2018-04-10 16:12] ngohungphuc commented on #297
@AllenFang @Chun-MingChen
the error I get
Can only update a mounted or mounting component. This usually means you called setState, replaceState, or forceUpdate on an unmounted component reactjs

[2018-04-10 18:30] AbdulKabia commented on #222
Hey, would it be okay if I were to work on this issue?

[2018-04-11 09:48] ngohungphuc commented on #297
@AllenFang @Chun-MingChen any update about this is been 3 days

[2018-04-11 12:00] ngohungphuc commented on #297
i will switch to another plugin thank you

[2018-04-11 14:10] EugeneTsarenko commented on #241
I have the same issue, I use gatsby standart layout

[2018-04-12 19:47] JohnVLinton opened #301 "footer functionality to match bootstrap-table one?"
I am struggling with trying to implement the footerData example from bootstrap-table 1 in bootstrap-table 2.  I read you were still looking for this to be developed in another thread.

Any update on when I could at least add a const footerData example per 1 to bs table 2?

I could really use it (and am fine with doing my own totals and averages thank you very much :)) in just the most generic form

[2018-04-14 10:05] chrisvoo opened #302 "Passing Event as argument to onSelect* handlers"
Hi,
`onSelect*` handlers take three arguments, but the Event is not between them. Given the following code:

[code]
`rowEvents` is an handler which leads the user to another section, but when I click on the checkbox to select the row, by the fact that the event is not available, I cannot invoke `e.stopPropagation()` so even the other event is triggered and I'm always redirected to another section.

[2018-04-14 14:26] gjakab opened #303 "Filtered table doesn't rerender on prop change"
So when the table is filtered and it's data prop is changed then the table won't rerender until you change the filter again. Is there any way to make it rerender? Or in my case an other option would be to reset the table filters but I didn't find a clear solution for that.

[2018-04-15 03:44] AllenFang commented on #297
sorry for lately reply, let me know if the problem still remain.

[2018-04-15 03:45] AllenFang commented on #299
HI @karanbajaj2209 right now, we don't have this kind of configuration, will implement it, thanks

[2018-04-15 03:49] ngohungphuc commented on #297
the problem still remain

[2018-04-15 03:50] AllenFang commented on #300
@hc1skalyanasundaram after next version, we will build a correct UMD version.

https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/228

[2018-04-15 03:56] AllenFang commented on #301
HI @JohnVLinton, sorry for I'm quite busy currently, we must implement this feature ASAP, thanks!!

[2018-04-15 04:01] AllenFang commented on #302
@chrisvoo sure, I will pass event object for selection hooks, thanks!!

[2018-04-15 04:06] AllenFang commented on #303
HI @gjakab could you please share more? code and flow.

We will have a implementation for filter table pragmatically in next version, it can be a workaround for this requirement, anyway, we will implement the clean filter functionality. thanks

[2018-04-15 04:08] AllenFang commented on #293
@aaveen we will have custom/defalut cell editor in `react-bootstrap-table2`, just same as `react-bootstrap-table`. I'm very sorry that I have big delay for this project due to quite busy job lol.

Anyway, I'll be back for this project in next weeks :)

[2018-04-15 07:53] AllenFang commented on #241
@EugeneTsarenko could you please give a repo or something? before that, please make sure u use `react@16`. thanks

[2018-04-15 08:37] Chun-MingChen opened #305 "Support bootstrap 4"
Hi @AllenFang:

I'm trying to support `bootstrap 4` and I'll take a look on how it was implemented in `react-bootstrap-table`. It would be take refer to but won't be the same. If there's any concern or advices, please let me know. Thanks a lot :)

[2018-04-15 09:36] AllenFang commented on #300
BTW, for now, I plan to upload this project to CDN, but there's some limitation, like: github stars and download counts, right now this project is not enough for that. Currently, we will build the UMD version inside the `dist` folder. u can install our repo by `npm` then copy all the file you need inside the `dist` dir.

[2018-04-15 12:56] jvlinton commented on #301
Thanks Allen!  This is off topic, but one other quick ask...  Is there a way to hook into the sort method before the sorting takes place in either I or II?  (My problem is I have multi-level expander custom logic that goes beyond what bootstrap-table I provides I think and what I need to do basically is collapse all the inner expanders to the topmost level before any sort takes place else the vari

[2018-04-15 13:35] AllenFang commented on #302
@chrisvoo release on `react-bootstrap-table-next@0.1.8`, the event object was passed as last argument

[release note](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/04/15/version-bump.html)

[2018-04-15 13:40] AllenFang commented on #297
@ngohungphuc any repo for reproducing this issue? we can't reproduce this by your example code, thanks

[2018-04-15 13:45] AllenFang commented on #300
@hc1skalyanasundaram check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd

[2018-04-15 13:45] #300 closed

[2018-04-15 13:46] AllenFang commented on #242
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd

[2018-04-15 13:46] AllenFang commented on #208
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd

[2018-04-15 13:46] AllenFang commented on #220
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd

[2018-04-15 13:46] AllenFang commented on #228
https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/getting-started.html#umd

[2018-04-15 14:03] ngohungphuc commented on #297
@AllenFang  Here is similar code. I try with previous version react-bootstrap-table and work fine
[code]

[2018-04-16 01:46] AllenFang commented on #301
@JohnVLinton sure, we can provide the sorting hooks, could you please open another issue? i will handle it, thanks!!

[2018-04-16 11:39] jvlinton opened #307 "Sorting hooks in react-bootstrap-table 1&2"
If you could please provide how I might hook into the before sorting event (before the comparator is hit, or if there is a way to "game" the comparator to do something more universal).

My challenge is I have a multi-level expander I have custom-coded into your table (as it does not appear to support multi-tree expansion) and I need to prevent sorting when it's expanded.  If the sort goes through

[2018-04-16 11:57] rajbtece opened #308 "Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render method of `UDLRecordTable`."
Hi,

I'm trying to integrated react-bootstrap-table-next in my project, but getting the above mentioned error, and the component could not be rendered.

Note: I'm trying to use both react-bootstrap-table (is working fine) as well as react-bootstrap-table-next, But table-2 is not getting rendered. Attached code below.

=============
BootstrapTable keyField='id' columns={columns} data={products}
===

[2018-04-16 14:59] Chun-MingChen commented on #305
@AllenFang

Ok got it. Currently I'm trying to come up with a new way to not use a flag as `react-bootstrap-table` did. Unless there's no better solution, I will pick up the same way.

[code]

[2018-04-16 15:02] AllenFang commented on #305
@Chun-MingChen sure, that's a good idea!!

[2018-04-16 15:15] AllenFang commented on #297
@ngohungphuc I my opinion, `setState` will trigger the component render again, so in your case, it will make the `react-bootstrap-table` broken for selection row. If you really need to call `setState`, I will recommand you to also manage the selection by yourself:

[code]

How do you think?

[2018-04-16 16:31] rajbtece commented on #308
1# I tried by removing **react-bootstrap-table** but no luck.

2#
What is the react version you used ?
I'm using **react@15**, seems that is the problem.

[2018-04-16 20:18] LanDeQuHuXi commented on #308
@rajbtece Having this same problem, have you figured out?

[2018-04-16 23:06] jvlinton commented on #307
Particularly in bs-table I if possible since I'm now using that due to its support for a footer row.  Thanks.

[2018-04-17 10:57] ngohungphuc commented on #297
@AllenFang your suggest not working

[code]

[2018-04-17 11:41] OneCyrus opened #309 "onDoubleClick support in rowEvents"
it would be very helpful if the rowEvents would support onDoubleClick the same way like onClick. Currently setting onDoubleClick works as it triggers the method but it doesn't pass the row and rowIndex parameters.

[2018-04-17 14:43] AllenFang commented on #297
@ngohungphuc it work, please see me code again more carefully.

[2018-04-17 14:46] AllenFang commented on #307
@jvlinton I see, we don't have footer support right now, but we must implement it in the future.

[2018-04-17 14:49] AllenFang commented on #308
@rajbtece correct, `react-bootstrap-table-next` need react@16, please upgrade react firstly, thanks!!

Let me know if you have more question about `react-bootstrap-table2`

[2018-04-17 14:49] #308 closed

[2018-04-18 12:05] peckpeck20 opened #310 "CSS import"
After installing the package ,where should I be adding the CSS ?

`import "react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";   `

Tried adding it to Index.js - App.js  - and my component but I still can't seem to get it working

[2018-04-18 13:34] AllenFang commented on #309
@OneCyrus  sure~

[2018-04-18 13:36] AllenFang commented on #310
@peckpeck20 yes, that's right, if it doesn't work, please make sure you have the bootstrap css. we don't bundle the bootstrap css.

[2018-04-18 13:44] AllenFang commented on #307
HI @jvlinton sorry, I totally forget that we already have a hooks you can use, please check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnonsort-function. Do let me know if there's any question, thanks :)

[2018-04-18 13:44] #307 closed

[2018-04-18 17:16] bryancn2009 commented on #297
@AllenFang I am also having the same problem but I am using remote and redux. My redux state does not change but when an onClick event happens but it causes the table to re-render for some reason. This causes the selected row radio to not show and also makes my current page on the pagination shows 1 even though I am on page 4 for example.

[2018-04-18 17:35] bryancn2009 commented on #297
Here is what happens:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24906466/38948319-183123cc-42f4-11e8-86d3-e5be4a1bff67.gif)

[2018-04-19 05:05] goktuggoktas opened #311 "how i can custom button passing to cell ?"
I have issue for customization. i have custom button for example redirect button when user clicked this button send another component. Button is ready but i don't know how to passing custom button in cell?

[2018-04-19 23:02] hayk077 commented on #215
@LuisUrrutia in this case this is the solution but after adding pagination, get double caret in the sizePerPage block. So add  .react-bootstrap-table class.

[2018-04-20 04:07] rsgoss opened #315 "Add Image/Thumbnails to Column of Table"
Is it possible to add a thumbnail image in the cells of a certain column? I was looking at this and thought a *possible* way would be through the column.classes but I am not quite sure...
{
  classes: function callback(cell, row, rowIndex, colIndex) { ... }
}
Is it possible to take image data and render in cells of a table?

Thanks!!

[2018-04-24 03:46] JohnHour89 opened #316 "How to show timestamp to date format?"
Hi, Sir, for the data display in the table if the data is timestamp how to change it to Date format? Please advise, thank you.

[2018-04-29 08:04] AllenFang commented on #311
@goktuggoktas https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function

[2018-04-29 08:04] #311 closed

[2018-04-29 08:51] coommark commented on #305
Hello @Chun-MingChen, good job! Please what is the status of this? Can we start using Bootstrap 4?

[2018-04-30 16:01] coommark opened #318 "Wrong NPM Installation Instruction"
Hello! Awesome job always.

I noticed that on the NPM page for [Paginator](https://www.npmjs.com/package/react-bootstrap-table2-paginator) the instructions say `$ npm install react-bootstrap-table2-pagination --save`

But the correct thing should be `npm i react-bootstrap-table2-paginator`

Just a little spelling mistake to correct. Thank you

[2018-05-02 03:12] wallena3 opened #319 "Will 'ButtonGroup' be supported in table2?"
ButtonGroup is useful in  react-bootstrap-table, will it be supported in react-bootstrap-table2?

[2018-05-02 03:33] waynebrantley commented on #315
Just code a custom column formatter, you can render anything you like.
https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-05-02 03:38] waynebrantley commented on #297
If someone would create a sandbox or something for this repo so @AllenFang can see, probably would help.

[2018-05-02 16:37] StephieX opened #320 "Embed html in data fields?"
Hi, is there a way to embed html in data fields?  I'd like to do things like display images and have clickable links inside cells.  Something like:

const data = [{id: 'id1', picture: '<img src="img.png"/>', link1: '<a href="/link1.html">l1</a>'}];

I don't know how to turn Markdown off.  The picture is an img source and the link is an href.

Thanks.

[2018-05-02 18:02] tapioko commented on #303
Example flow:
1) Type something in the column filter
2) => At least one row is still visible
3) Somehow remove that row from original data or modify row's data so that row should disappear (because filter text does not match row data anymore)
4) => Row does not disappear
5) Add one character to the column filter and then remove the added character
6) => Table is updated and the row disappears

[2018-05-02 19:36] kakodali commented on #320
@StephieX  this is not an issue, its how you are using this component.

Please refer to this [example ](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Columns&selectedStory=Column%20Formatter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)and i hope this answers your question.
In this example we ar

[2018-05-02 19:42] kakodali commented on #310
@peckpeck20 I have bootstrap CDN  in my index.html and its working fine for me without any extra styling.
you can place it in the head of your index file

[2018-05-02 20:09] StephieX commented on #320
@kakodali that worked.  Thanks.

[2018-05-02 20:26] #320 closed

[2018-05-04 12:04] preko96 opened #321 "EditorIndicator opacity is zero."
I noticed that the indicator won't fade in for some reason, and it's opacity will stay on 0.

[2018-05-04 18:13] rsgoss commented on #315
Thanks!!

[2018-05-05 09:45] AllenFang commented on #305
@coommark it does need some time, we will support it ASAP, thanks!!

[2018-05-05 09:47] #310 closed

[2018-05-05 09:47] AllenFang commented on #315
Thanks @waynebrantley

[2018-05-05 09:48] #315 closed

[2018-05-05 09:49] AllenFang commented on #319
@wallena3 sure, we will have some functionality like insert, delete etc, but need some time, thanks!!

[2018-05-05 09:51] AllenFang commented on #303
Hi @tapioko when you modify the raw data, did you sync the data to table again? I mean maybe render table by calling `setState`?

[2018-05-06 01:17] #319 closed

[2018-05-06 06:12] AllenFang commented on #283
Close it due to no response since from one month ago

[2018-05-06 06:12] #283 closed

[2018-05-06 07:10] #241 closed

[2018-05-06 08:57] #238 closed

[2018-05-06 08:57] #309 closed

[2018-05-06 09:02] AllenFang commented on #309
@OneCyrus this was fixed on `react-bootstrap-table-next@0.1.9`, thanks

[2018-05-06 09:03] AllenFang commented on #238
@waynebrantley this was fixed on `react-bootstrap-table-paginator@0.1.2`, check https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/pagination-props.html#paginationshowtotal-bool

[2018-05-06 09:05] AllenFang commented on #293
@aaveen please check [rich editoris](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#rich-editors) and [custom editor](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-celledit.html#customize-editor)

Upgrade to `react-bootstrap-table2-editor@0.2.0`, thanks

[2018-05-06 09:05] #293 closed

[2018-05-06 09:07] AllenFang commented on #318
@coommark Fixed, thank you :)

[2018-05-06 09:07] #318 closed

[2018-05-07 09:14] ssorallen commented on #305
Also the `table-condensed` class changed to [`table-sm`](https://getbootstrap.com/docs/4.1/content/tables/#small-table). The `condensed` prop for ReactBootstrapTable2 adds the incorrect class name right now and has no effect. You can get around it by using `classes="table-sm"` right now.

[2018-05-07 12:02] unkls opened #327 "Programmatically Filter"
Hello,

First thank's for your amazing job <3 !

I'm facing a problem that I can't make a button that change a name filter on a hidden column.
I'm trying to use your code in the [storybook](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Text%20Filter%20&full=0&addons=1&stories=1&panelRight=0&addonPan

[2018-05-07 13:03] darda opened #328 "sortFunc cannot used for other record attribute"
The sortFunc callback cannot be used for more than current attribute value to sort.
Actually in the sortFunc function only the values from the records as available. The records themselve are not available.
I think, it could be better, to get the records as argument, so they can used to compare, maybe like this:

[code]

This is only an idea, because the native javascript sort method is not stable.

[2018-05-07 17:54] jvlinton commented on #307
Let me ask this in another way:  Can I manually add buttons in the top row of the table, then manually write my own sort routine based on which column button is pushed and whether it's up or down?  (If you can show me how to hook into doing this, I can write my own sort logic that uses other information than just the per-field override).  In other words, I would not use dataSort={true}, but manual

[2018-05-07 19:49] unreg opened #329 "[bug] Type is undefined issue"
react-bootstrap-table2-editor@0.2.0

[code]

[code]

[2018-05-07 22:59] ababakanian commented on #297
Same problem occurs with multiple selection. Here is the codesandbox
https://codesandbox.io/s/93jj53kkpp

[2018-05-07 23:40] unkls commented on #327
Hm ok ! I will do this in another way.

[2018-05-08 14:24] #329 closed, assigned to nobody

[2018-05-08 14:29] #327 closed

[2018-05-09 06:28] unkls commented on #327
No problem, I just change my API call.

[2018-05-10 07:35] nskiro opened #331 "Excel-like filter mode"
Hi @AllenFang ,

Does table support excel-like filter mode?

[2018-05-10 12:31] northernbird opened #332 "Is "expandableRow" supported by react-bootstrap-table2 ?"
Hi

I read that react-bootstrap-table (obsolete version) supports expandableRow & expandComponent properties so that new child table will be shown if row is clicked.
Example : http://allenfang.github.io/react-bootstrap-table/example.html#expand
Is this function not implemented in react-bootstrap-table2 ?

expandableRow is really useful and I would love to use!
It would be great if you can let me k

[2018-05-12 05:37] AllenFang commented on #331
@nskiro I dont think so, but you can check our live demo to see what filter we support: https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Select%20Filter&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

please check the column filter section, thanks. and any idea is very welcome ;)

[2018-05-12 05:38] AllenFang commented on #332
@northernbird it's sorry, we not implement it yet, I think it can be done in Jun

[2018-05-12 05:41] northernbird commented on #332
Hi

Thanks a lot for your reply.
If it’s ok for you, I can extend and implement then send pull request to
you.

Allen <notifications@github.com> schrieb am Sa. 12. Mai 2018 um 14:38:

[2018-05-12 05:58] AllenFang commented on #297
@ababakanian please check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example firstly.

[2018-05-14 10:32] agarciaffdc opened #334 "Clear more than one column at a time works in a weird way"
First of all, thanks @AllenFang for this amazing work. It is helping us a lot.

I'm working with version _"react-bootstrap-table2-filter": "0.1.6"_ and trying to create a clear button to filter all values on my table. Looking at [this example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Programmatically%20Text%20Fil

[2018-05-14 11:19] jozarz opened #335 "With remote option table is still sorting incoming data"
[code]
It is just small example. After invoking sort i except that incoming data is not rearranged by component. This example might be odd but we had some problems with sorting data by date column (on backend but it is displayed as string in table) and somehow rows were out of order.

possible fix:
https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap

[2018-05-14 14:17] AllenFang commented on #334
hello @agarciaffdc sorry I still have some confuse on your question, but I saw a bug is that when I clean all the text filter with empty string, the table seems like doesn't have reflect, I mean table should show all the data instead of filtered data.  is that your issue?

[2018-05-14 15:02] #303 closed

[2018-05-14 15:02] #334 closed

[2018-05-14 15:06] agarciaffdc commented on #334
Yes, exactly. If I apply the clear filter on one column it works fine. On my previous code, just the _nameFilter_ piece. Once I try to apply it on 2 columns it is when the action clear the text on both columns but the table doesn't reflect it.
Thanks!!

[2018-05-14 15:13] AllenFang commented on #334
upgrade to `react-bootstrap-table2-filter@0.1.7` and try again, thanks

[2018-05-14 15:13] AllenFang commented on #334
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/05/13/version-bump.html

[2018-05-14 15:14] AllenFang commented on #303
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/05/13/version-bump.html

Fixed on `react-bootstrap-table2-filter@0.1.7`

[2018-05-14 18:50] heyjaypray opened #337 "Checkbox doesn't work when using handler"
I'm trying to create a delete row handler.  But for some reason its not showing the check in the checkbox when i click on it.  it is selecting it correctly - but just not displaying the check.

[code]

[code]

[code]

[2018-05-14 19:12] #337 closed

[2018-05-15 10:04] agarciaffdc commented on #334
Thanks @AllenFang !! This new version works!!

In order to help others, let you also know that my code only worked locally. I made few changes in order to make it work on our production enviroment.

[code]

Thanks!!

[2018-05-15 14:29] rmartinezffdc opened #338 "Cell editing: only first row in the table is updated"
[code]

The column col1 is initially rendered empty. In addition to this, only the first rendered row in the table is updated with the new value when any row is edited.

I've tried handing by myself the updated value in the corresponding row with the afterSaveCell option:

[code]

Then, the actually updated row shows the new value, but the first rendered row in the table is still being updated wit

[2018-05-15 16:41] ngohungphuc commented on #297
@sanjesh the react-bootstrap-table version

[2018-05-16 03:26] 530 opened #339 "Cell Editing(Dropdown): Can't read property 'SELECT' of undefined"
When using any of the cell editing types inside editor I receive an TypeError of undefined. I followed the docs on how to implement exactly. Prior to this I was able to use click editing and edit just fine. Not sure if it's just something I'm doing wrong or if this is an issue for others as well.

Currently using "react-bootstrap-table-next": "^0.1.11", "react-bootstrap-table2-editor": "^0.1.5"
**

[2018-05-16 13:26] Thebarda commented on #251
It's maybe too late but you can use this code to manually close that dropdown menu ;) :
[code]

[2018-05-16 14:16] AllenFang commented on #339
@530 please upgrade to `react-bootstrap-table2-editor@0.2.1` and `react-bootstrap-table-next@0.1.11`, thanks

[2018-05-16 14:16] #339 closed

[2018-05-16 14:18] AllenFang commented on #297
@ngohungphuc you mean legacy `react-bootstrap-table`(https://github.com/AllenFang/react-bootstrap-table/)?

[2018-05-16 14:26] AllenFang commented on #335
@jozarz thanks, it probably should not do sorting. I will do some enhancement.

[2018-05-16 14:44] AllenFang commented on #338
Hey all, I will start investigate it, thanks yours bug report!!

[2018-05-16 15:13] AllenFang commented on #338
@rmartinezffdc for the `col1` display issue is my bad, I didn't handle well for the bool value rendering in React.

Also I found the checkbox editor issue is because your `keyField` is defined as `id` but your data is `Id` actually. After revise, your example will work well :)

[2018-05-16 15:26] AllenFang commented on #338
@abrousseau001 would you please follow up my above comments? thanks btw, what editor u used? and could you share your code? thank!!

[2018-05-17 02:07] sanjesh commented on #297
@AllenFang I followed this [example](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) but using redux.
Functionality is working but, there is an error in console.
<img width="555" alt="screen shot 2018-05-17 at 7

[2018-05-17 19:27] Nahuel92 opened #341 "Is there a way to import and export data to and from a csv file?"
Hi everyone! I need to import and export data to and from a csv file.
I didn't found a demo example neither a mention of it in documentation.
Can you help me please?

[2018-05-17 19:32] Nahuel92 opened #342 "Is there a way to make a header group?"
Hi everyone! I need to make a header group but I did not find an example nor documentation about it.
Can you help me please?

[2018-05-17 19:37] Nahuel92 opened #343 "Is it possible make CRUD operations?"
Hi everyone! I moved from React Bootstrap Table to this version and since then I lost a lot of functionality like CRUD operations.
I found nothing on demos nor documentation.
Can you help me please?

PD : Yes, I opened 2 more issues but because I think this way is clearer than put all in just one issue.

[2018-05-19 05:10] AllenFang commented on #297
@sanjesh   thanks, I will enhance this warning,

[2018-05-20 01:01] fanzhh opened #345 "Uncaught Error: Element type is invalid"
In my project I used react-bootstrap-table, it worked fine. Now I try to use react-bootstrap-table-next instead,  this is my simple code:
[code]
I have encountered this error:
[code]
When I delete `<BootstrapTable .../>`, no error occurred.
I need helps.

[2018-05-20 01:11] fanzhh commented on #345
My stupid mistake,
[code]
change to:
[code]
It works fine.

thanks.

[2018-05-20 04:52] AllenFang commented on #342
@Nahuel92 we didn't support group feature yet, need some time.

[2018-05-20 04:53] AllenFang commented on #343
@Nahuel92 Right not, the insert/delete/search still not implement yet. Only cell edit was implemented.  We will support it ASAP, thanks

[2018-05-22 09:00] cvhong commented on #283
This also happen to me, select single row, but all row's checkbox is checked.

[2018-05-23 11:18] Josh123321 opened #347 "Select All and Pagination"
I am trying to select all the rows only on the current page(10 rows),but I will get the whole table's rows.(100 rows)
Is there any way to accomplish this?

thx

[2018-05-24 01:32] ctoppel commented on #297
Having the same issue. Would love to have this fixed so that we don't have to manipulate the selectRow.selected prop. Thanks!

[2018-05-24 13:52] mathiaswillburger opened #349 "Add date filter"
When will date filtering be supported like in react-bootstrap-table to get a date selector and input box?

[2018-05-24 17:23] vinhlevinhle opened #350 "Paginator error in VS2017 with typescript"
Hi,
I am using vs2017 react template with typescript.
I am just using the basic table works fine but when i included paginator feature I get typescript compilation error so to get around this I declared an index.t.ts in the @type folder.
eg:
import * as React from "react";
export class paginator extends React.Component<any,any> { }
export default paginator;

But VS2017 typescript compiler still wo

[2018-05-24 17:39] vinhlevinhle commented on #350
when i installed npm for paginator , I notice some warning.
But i can't work out if they are related to my issues.

E:\Dev-old\Test NodeJS\typescript_project\testcore2.0\WebApplication1_netcore2.1\WebApplication1_netcore2.1>npm install react-bootstrap-table2-paginator --save
npm WARN saveError Problems were encountered
npm WARN saveError Please correct and try again.
npm WARN saveError extraneous:

[2018-05-24 21:08] kurt-o-sys commented on #305
just wondering (since I'm about to finish a project, and I'm still doubting if I should revert to the react-bootstrap-table or not): any ETA for bootstrap4 support?

[2018-05-24 21:09] kurt-o-sys commented on #342
:+1:

making quite a lot use of header groups.

[2018-05-25 02:12] 530 opened #351 "Row Selection Question: Is it possible to add a text header for mode: 'radio' ?"
I'm looking to add a header above my radio button field, but from tinkering with the code I haven't found a way to do this. Is there a way to have it appear as though it were just another column header?

[2018-05-25 04:29] amoludage commented on #335
@AllenFang any update on this issue ?

Can I add PR to fix this?

[2018-05-26 11:15] dnbr2002 opened #352 "Warning: Failed prop type: Invalid prop `data` of type `object` supplied to `BootstrapTable`, expected `array`."
I have these warning but my tables render fine.

![rbt_error](https://user-images.githubusercontent.com/19315113/40575518-5c561df4-60b4-11e8-8a67-1e8cc428a92a.JPG)

My data prop is static prop.  of type.

PropTypes.instanceOf(List).isRequired,

It is part of a immutable record.

here is my table class

[code]

The parent class where im passing the data down is a connected redux class

[code]

Do t

[2018-05-27 04:58] pyprism opened #353 "Checkbox is not showing"
Checkbox is not showing as expected .
![dewfault](https://user-images.githubusercontent.com/1469242/40582563-e4cf87be-619b-11e8-9f14-6e72bfaa6fc6.png)

Here is the code:

[code]
[code]

and screenshot from react dev tools:
![screenshot_2018-05-27_10-43-07](https://user-images.githubusercontent.com/1469242/40582588-b8e7b3fa-619c-11e8-9121-607816ebef01.png)

[2018-05-28 02:42] vinhlevinhle commented on #241
I am still having exact error.
@AllenFang , I did make sure I have latest react 16+ version

I am desperate please help.

I am using VS2017 and typescript.
It worked fine when I did not include the Pagnination prop for the table.

[2018-05-28 10:08] AllenFang commented on #297
@ctoppel thanks, I will consider to enhance this, thanks!!

[2018-05-28 10:09] AllenFang commented on #335
@amoludage sure, any PR is welcome ;)

[2018-05-28 10:10] AllenFang commented on #305
@kurt-o-sys I think before July or middle of June :)

[2018-05-28 10:10] #345 closed

[2018-05-28 10:11] AllenFang commented on #347
@Josh123321 I will fixed this in the near future, anyway, in the future, the select all only work on current page!!

[2018-05-28 10:12] AllenFang commented on #349
@mathiaswillburger I will implement it ASAP. thanks

[2018-05-28 10:14] AllenFang commented on #351
@530 right now we dont support the custom selection header cell, I will implement it ASAP

[2018-05-28 10:16] AllenFang commented on #352
I'm not very familiar with List, but if that possible to change to an Array before feed into Table?

[2018-05-28 10:17] AllenFang commented on #352
@dnbr2002 because table only accept `data` as array, if we need to support List, I think `react-bootstrap-table` will have one more dependency for `immutable.js`. So please change to array and do let me know native JS is able to handle List  that I will consider to support, thanks

[2018-05-28 10:17] #352 closed

[2018-05-28 11:33] vinhlevinhle commented on #350
Hi Allan,
Appreciate your prompt response.
I still have the same issue. I also noted a few people were raising similar issue about this.

I use MS VS 2017 react redux template.
Only when I use pagination that when it is a problem. BootstrapTable next on its own work perfectly.

Cheers,
Vinh

[2018-05-28 11:38] AllenFang commented on #350
@vinhlevinhle so if your change the **type**, the problem still there?  As I mentioned above, the `paginator` accept an object like https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/master/packages/react-bootstrap-table2-paginator/index.js#L3-L6

[2018-05-28 12:08] AllenFang commented on #350
BTW, I saw your stackoverflow issue: https://stackoverflow.com/questions/50521213/type-definition-error-for-paginator-with-react-bootstraptable-in-vs2017-typescri

`
Error: PaginationWrapper.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.
`

I do believe your React is before React@16 or have duplicated react versio

[2018-05-28 13:18] vinhlevinhle commented on #350
Ok I ll look into if I have duplicated react version.

Vinh

[2018-05-28 13:25] #350 closed, assigned to nobody

[2018-05-28 15:27] Northshoot commented on #259
Any progress on this feature?

[2018-05-28 17:30] pashazz opened #355 "Is there any way to align column.text across multiple columns?"
In your Storybook example you have the following table:
![image](https://user-images.githubusercontent.com/45922/40624445-6ad32b44-62b5-11e8-8376-a499bc644c7f.png)

How can I align all the column **names** along the same baseline horizontally?
Like this:

![image](https://user-images.githubusercontent.com/45922/40624659-8c54fb66-62b6-11e8-8e56-8b07d9d83d57.png)

 I guess it requires me to customiz

[2018-05-29 03:14] vinhlevinhle opened #356 "Typescript vs 2017 paginator runtime error reopen"
Hi Allen,

Follow on to your previous email, I still have this same issue.
Bootstrap table2 works correctly but including paginator will cause the loading error.

I have install react/react-dom ^16.0.0 globally to ensure that VS 2017 can see the latest as you have suggested the clue is in having the later version of react.

Please see attachment of my screen capture of the VS IDE where it clearly

[2018-05-29 06:19] vinhlevinhle commented on #356
@AllenFang

Please ignore my comment above regarding returning multiple elements for React render.
I 've just realised that React version 16 and above allow you to do this.

However, now I dont know how to fix this in VS 2017 to force it to load React/React Dom version 16 plus
even though I have done appropriate updates and can see in VS IDE that these libraries show version above 16.0.0 but still

[2018-05-29 13:19] sanjesh opened #357 "Scroll to a row programmatically"
I am trying to implement scroll to table rows programmatically
this library provides a way to do it through id's https://github.com/fisshy/react-scroll
Is it possible to add id's to tbody and tr's  and how do we table header and make only tbody scrollable?

[2018-05-30 00:02] mathiaswillburger opened #358 "react-bootstrap-table2-overlay does not consider caption height"
When adding `caption={....}` to ReactBootstrapTable together with `overlay={overlayFactory(...)}` the overlay is not positioned correctly anymore.

The overlay top margin seems to be calculated by `var headerDOM = wrapper.parentElement.querySelector('thead');` and `masker.style.marginTop = window.getComputedStyle(headerDOM).height;` but does not consider the height of a possible `caption` tag.

[2018-05-30 10:04] GauravAjmera25 commented on #259
@Chun-MingChen @AllenFang Any progress on this feature?

[2018-05-30 18:24] mathiaswillburger opened #360 "react-bootstrap-table2-overlay removes filter values"
The textFilter input value is removed after data loading is completed, but only when using a loading overlay.

Here are the steps to reproduce the issue:

- The table is set up with remote data fetching
- The overlay property is used to display a spinner
- textFilter() is used on all columns
- When entering a filter value on any column, the overlay spinner is shown correctly and the filtered data

[2018-05-30 19:48] mathiaswillburger opened #361 "prop type checking fails when using mobx"
When using mobx for state management the proptype checking fails:

```Warning: Failed prop type: Invalid prop `data` of type `object` supplied to `BootstrapTable`, expected `array`.```

The reason is that the provided property is not a simple array anymore but an ObservableArray:

[code]

Any ideas how to solve this without loosing observability of the property?

[2018-05-31 06:46] kurt-o-sys commented on #305
:+1:

[2018-05-31 13:44] waynebrantley commented on #226
@AllenFang so is headerStyle going to be how this is done?  That is fine, might should put a storybook showing?

[2018-05-31 15:15] AllenFang commented on #353
@pyprism sorry for lately reply, what browser you used and what version of `react-bootstrap-table-next`?

[2018-05-31 15:20] AllenFang commented on #355
Sorry for lately reply, @pashazz yes, that's right.

This [demo](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Work%20on%20Header%20Columns&selectedStory=Column%20Format%20with%20Filter%20and%20Sort&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) just for showing the ability to custom the header if sort and f

[2018-05-31 15:20] #355 closed

[2018-05-31 15:27] AllenFang commented on #357
@sanjesh understand, right now I'm not consider to implement the scroll table, I need to recover all the functionalities from legacy `react-bootstrap-table`. After I done, I will implement it :)

Anyway, I will also spend some to to figure if we can apply https://github.com/fisshy/react-scroll, if it's easy to implement, I will add this feature ASAP. Actually, legacy react-bootstrap-table have scr

[2018-05-31 15:28] AllenFang commented on #358
@mathiaswillburger thanks, its seems like a bug, I will fix it soon :)

[2018-05-31 15:33] AllenFang commented on #361
Not very familiar with `ObservableArray`, but is it possible to change to native Array before feed into table?  you can just keep it as `ObservableArray`, but only different is you change it to an native array when rendering?  thanks

[2018-05-31 15:35] AllenFang commented on #361
https://github.com/mobxjs/mobx-react/issues/107

There's a solution but which means `react-bootstrap-table` need to depends on `mobx-react` but I think this is not a good idea for a open source component.

[2018-05-31 17:45] mathiaswillburger commented on #361
True, there would be a mobx dependency. I was thinking about proposing to use

[code]

This would ensure mobx compatibility and native arrays. But as you said, it creates a dependency.

Converting back to a native array is unfortunately no option, because that removes the whole benefit of using mobx stores with [observableArrays](https://mobx.js.org/refguide/array.html). I'd rather accept the cons

[2018-05-31 18:19] mathiaswillburger commented on #361
Works like a charm. Solved it by slicing the array before using it:
[code]

[2018-05-31 18:19] #361 closed

[2018-06-01 02:18] pyprism commented on #353
Fixed it . its  materialize.css   who is hiding this checkbox.

[2018-06-01 02:18] #353 closed

[2018-06-01 13:32] sanjesh commented on #357
My requirements include
1. Fixed table header with scrolling body (with fixed percentage of column widths)
2.Programmatically scroll to a row

I am facing alignment issues while trying to implement 1 and couldn't find a solution.

In this library http://issues.wenzhixin.net.cn/bootstrap-table/ thead, tbody and tfooter are implemented as 3 different tables. They might have done it to avoid this ali

[2018-06-01 14:53] Denis-String opened #362 "clear selected rows"
Good Morning,
How can I clear the selected rows? I did not find anything in the documentation

https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/about.html

I am using the following versions:

    "react-bootstrap-table": "^4.3.1",
    "react-bootstrap-table-next": "^0.1.10",
    "react-bootstrap-table2-filter": "^0.1.6",
    "react-bootstrap-table2-paginator": "^0.1.3",

[2018-06-01 15:25] pragmasoft-ua opened #363 "Got a react warning on a SelectionCell"
Warning: Failed form propType: You provided a `checked` prop to a form field without an `onChange` handler. This will render a read-only field. If the field should be mutable use `defaultChecked`. Otherwise, set either `onChange` or `readOnly`. Check the render method of `SelectionCell`.

For some reason onClick is set on a td element rather than input element:
[code]
moving it to input may fix th

[2018-06-02 05:08] AllenFang commented on #361
👍

[2018-06-02 05:08] AllenFang commented on #353
👍

[2018-06-02 05:09] AllenFang commented on #357
@sanjesh I see, thanks your suggestion 👍

[2018-06-02 05:15] AllenFang commented on #360
@mathiaswillburger I will check this out, thanks~

[2018-06-02 05:18] AllenFang commented on #362
Check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Management&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

You can set `selectRow.selected` as empty array

[2018-06-02 05:18] #362 closed

[2018-06-03 02:41] luqiwang commented on #241
Same error, my react version is 15. Is there any approach to solve this problem without upgrading react to 16? Thanks a lot!

[2018-06-03 09:27] vinhlevinhle commented on #241
No it still happened even with later react 16+ version in VS2017 typescript.
Other components like Bootstrap table next (table ver2) worked perfectly though.
As soon as pagination feature added you just get the error.

Note however, if you use the same thing but compile using purely node Js for example in Fiddler, there is no error with pagination component.

I now have lost 5+ days fighting this.

[2018-06-04 04:59] pyprism opened #367 "Detect row onClick event and checkbox onSelect event separately"
Currently I am using both `selectRow` and `rowEvents` .  My problem is when I select checkbox, row `onClick` event firing automatically . Is there any way to detect checkbox event without firing any row onclick event ?  I am using `0.1.12` .

Here is my component :

[code]

and

[code]

[2018-06-04 05:49] #351 closed

[2018-06-04 05:49] #358 closed

[2018-06-04 05:56] AllenFang commented on #358
@mathiaswillburger https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/04/version-bump.html

Fixed on `react-bootstrap-table-next@0.1.13` and `react-bootstrap-table-overlay@0.1.2`.

Let me know and reopen this issue again if the problem still remain, thanks

[2018-06-04 05:57] AllenFang commented on #351
@530 https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/04/version-bump.html

Please upgrade to `react-bootstrap-table-next@0.1.13`, check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowselectionheaderrenderer-function) to see how to custom.

Do let me know if there's any issue and reopen this ticket again, thanks

[2018-06-04 05:59] AllenFang commented on #349
@mathiaswillburger https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/04/version-bump.html

upgrade to `react-bootstrap-table2-filter@0.2.0` and `react-bootstrap-table-next@0.1.13`.

[This](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Date%20Filter&full=0&addons=1&stories=1&panelRight=0&addon

[2018-06-04 05:59] #349 closed

[2018-06-04 06:43] AllenFang commented on #363
@pragmasoft-ua thank, I will check this out :)

[2018-06-04 06:44] AllenFang commented on #335
https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/04/version-bump.html

Fixed on `react-bootstrap-table-next@0.1.13`

[2018-06-04 06:44] #335 closed

[2018-06-04 12:51] mayurpande opened #368 "How to convert table into using react bootstrap table2"
How would I convert a normal table into it a scrollable table?

My current table is as follows;

[code]

[2018-06-04 13:34] mayurpande commented on #368
Is some thing like this valid;

```products = [{ 'Name' : { company['Company Name'] } , 'checkbox' :  <input type='checkbox' checked={company.selected} onChange={() => company.selected ? deselectCompany(company.id) : selectCompany(company.id)} /> }]```

[2018-06-05 08:04] fanzhh opened #369 "react-bootstrap-table2-paginator curent page not change after react-boot-table data changed"
- "react-bootstrap-table-next": "^0.1.12"
 - "react-bootstrap-table2-paginator": "^0.1.4",
[code]
react-bootstrap-table2-paginator works fine with react-bootstrap-table-next when current page is first. but when current page is not the first, `this.state.products` is changed and the data amount less that page,  the current page is not changed with data's change and the table shows blank.

[2018-06-05 09:01] fanzhh commented on #369
pagination = { paginationFactory({page:1}) } solved this problem.

[2018-06-05 09:01] #369 closed

[2018-06-06 02:07] AndresUsach commented on #297
is there some news?

[2018-06-06 07:45] AllenFang commented on #368
@mayurpande hello, we don't support the scrollable table right now, will consider to implement it.

[2018-06-06 08:18] mayurpande commented on #368
@AllenFang ah ok, nevermind, I may use the old version for now then. Is this the correct way that I have set it up?

[2018-06-06 09:16] AllenFang commented on #368
@mayurpande sure, you can use old one, but I already didn't maintain the old one. But I think old one is still stable :)

[2018-06-06 11:48] DavidEstrela opened #370 "Remote filter empty"
Hello,

I am using the event `onTableChange` to handle remote filters using query string, it works fine when a write something, the problem is when i delete some col filter text, i don't receive any filter event saying the affected row filter is `''` or `undefined`, something like that would be great, this would allow me to remove it from the query string

Regards and thanks in advance.

[2018-06-06 18:33] TommyFortin commented on #282
Hi, I have been able to do it with the `ref` of the table.
`ref.store._filteredData`

[2018-06-06 19:40] Denis-String commented on #362
Sorry about the delay, Allen.

The sample code is very different from mine, and after your queries, I was not able to clear the selected line.

My code:

`export default class Banco extends Component {
    constructor() {
        super();
        this.state = {
            listbanco: [],
            banco: '',
            bancoAlterar: '',
            rowSelecionada: false,
        }

    }`

` re

[2018-06-07 00:44] hashharvest opened #372 "Ability to double click on row."
Hello.

I would like the ability to double click on a row (it throw an event on a double click) when I have selectRow options set.  In my case, I am hiding the select column and just catching the onSelect event for now.

Is it possible to double click in current state?

[2018-06-07 10:08] xero88 opened #373 "change color of selected row"
How can I change the style of a selected row ? # @

[2018-06-07 15:13] AllenFang commented on #367
@pyprism let me figure it. Maybe we can try to provide another props to let developer to avoid `onClick` being called

[2018-06-07 15:17] AllenFang commented on #370
@davidestrela yes, that's right, because if the empty string was inputed, the `react-bootstrap-table` will drop/delete the column property on `filter` object instead of give it as empty/undefined.

Please do let me know your concern, every idea and suggestion is helpful to us. thanks 👍

[2018-06-07 15:18] AllenFang commented on #373
Hello, you can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Selection%20Background%20Color&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example.

Please do let me know if you have any concern/idea or suggestion. thanks

[2018-06-07 15:18] #373 closed

[2018-06-07 15:37] xero88 commented on #373
@AllenFang thank you for your answer

I forget to precise that i'm not using the selectRow. Because I don't want a checkbox, I want that the user click on the row. For now I'm using

`rowEvents={{ onClick: (e, row, rowIndex) => this.props.onRowSelected(row) }}`

Can I change the color using this way ?

[2018-06-07 15:51] davidestrela commented on #370
Hello @AllenFang, as i said before i am using query string to store the table filters in order to rebuild the table in case of an hard reload for instance, the problem i am having is when i write more then one filter, the event `onTableChange` is fired one time with all the filters i have( what i whant ) and one time for each filter.

Example

| Filter1:'A' | Filter2:'B' |                  |
|----

[2018-06-10 10:35] AllenFang commented on #370
@davidestrela understand, i will spend some times to evaluate this situation. BTW, if in this case(remote mode + default value filter), is it better to you if `onTableChange` never called when you give default value but you need to pre filter data? because for remote mode, I think sometime it's make sense to prefilter data by yourself if you have default value so that its able to avoid to call `on

[2018-06-11 08:30] PatrykMilczarek opened #374 "Table Re-Render Problem"
Hello,
I created a table with some data. I also added pagination. However, if i edit a row on a second (or third, fourth etc.) page, the table rerenders and i jump to first page instead of staying on the second page.
 I want it to re-render on the same page i edited the row. Please help me with this problem :)

[2018-06-11 11:13] Denis-String opened #375 "How can I clear the selected rows"
I have the following code:

package.json
[code]
banco.js
[code]
[code]

When the user clicks the line, it is selected with a green color, and when it is clicked again, the line gets clean, but I wanted to uncheck this line automatically.

How can I do this ?

I tried using the:
`this.refs.table.reset();`

but displays the error in the console:
`TypeError: Cannot read property 'reset' of undefined`

[2018-06-11 13:24] AllenFang commented on #373
@xero88  sorry for lately, there's a workaround is you still enable `selectRow` but give [`selectRow. hideSelectColumn`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/row-select-props.html#selectrowhideselectcolumn-bool) as true and enable `selectRow.clickToSelect`. That will match your requirement.

[2018-06-11 13:27] AllenFang commented on #374
@PatrykMilczarek could you please show some codes?  Do you enable the `remote` mode? What version you used?  thanks

[2018-06-11 16:43] Denis-String commented on #375
I'm using the react-bootstrap-table table, but with the react-boostrap-table2 filters.

Could this affect how to unmark the rows?

[2018-06-12 18:27] PatrykMilczarek commented on #374
I am using react-bootstrap-table v2 and i enabled remote mode for cell editing. I have some trouble with remote mode for pagination. I want to stay on the current page after cell editing.
`
handleTableChange(type, { data, page, cellEdit: { rowId, dataField, newValue } }) {

      const result = data.map((row) => {

        if (row.id === rowId) {
          let newRow = {...row};
          newRow[d

[2018-06-13 14:39] #375 closed

[2018-06-13 14:42] AllenFang commented on #372
HI @hashharvest sorry for lately reply, [rowEvents](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/basic-row.html#row-events) support u to listen the double click event. Please do re-open this issue if the problem still remain, thanks

[2018-06-13 14:42] #372 closed

[2018-06-13 14:58] luicephillips opened #376 "Filter Plus pagination issue in remote data"
Hi Allen,

Currently I am not able to integrate Filter Plus pagination with remote data.

I am using the react-bootstrap-table2 for **coinmarketcap API** https://api.coinmarketcap.com/v2 .

Below I have attached the file where I am not able to develop a filter with remote data. Attached file pathe (project-folder\src\components\Cryptos)

Please have a look at attached file and help me to resolve.

[2018-06-14 08:48] alexandraclaire commented on #297
I agree, would love to be able to update state etc from within these events, given that is one of the key functionalities of React, would be really good!

[2018-06-14 11:01] alexandraclaire commented on #297
I thought this was still an issue, but checking the storybook above, it does work if you send the onSelect function to a method somewhere inside your component, and do it there. Make sure the keyField on your table matches the things you are saving in your array of selected items - I made that mistake and as soon as I fixed it, behold it worked!

[2018-06-14 17:49] zike-Q opened #377 "Remote Cell Edit cannot exit edit mode"
Hi Allen,
I am trying to implement Remote Cell Edit (for easier access to my database) with a customized cell editRenderer (to add a Save and Cancel Button to it).
My problem is that the cell never exit edit mode after I click Save or Cancel or anywhere outside the table. The only way to end the state is to click on another editable cell. Normally without Remote, I can simply quit by calling edito

[2018-06-14 19:31] waynebrantley opened #378 "selectRow.bgColor does not work if onSelect is used"
Using this example:

https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Row%20Selection&selectedStory=Hide%20Selection%20Column&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

If you add an ``onSelect`` handler to it, the handler will be called, but the background color is not set.   Remove the handler and the bac

[2018-06-16 02:40] dpkwhan opened #379 "Unequal column width"
@AllenFang How to create a table with unequal column width?

[2018-06-16 02:44] #379 closed

[2018-06-18 00:40] machour commented on #374
@PatrykMilczarek could you share how you managed to stay on the same page ?
I have a similar problem, when if you sort by a column, then edit a cell, the sort is reseted

[2018-06-18 05:08] jeznag opened #380 "When changing filter values, the sort direction changes every time you click"
When I change the filter values, the sort direction changes at the same time even though I didn't click on the sort caret.
![filtering sorting](https://user-images.githubusercontent.com/1034890/41519103-6e9a6fb2-7309-11e8-8565-5045aaea22d7.gif)

https://jeznag.github.io/react-bootstrap-table2-example/index.html

https://github.com/jeznag/react-bootstrap-table2-example/blob/master/src/DataJunction.

[2018-06-18 09:01] kotaro88 commented on #216
Dear @AllenFang,
This is awesome project, but I wonder does react-bootstrap-table-2 implement key board navigation ?

Thanks

[2018-06-19 09:06] CDimonaco commented on #181
Having the same issue, when the table is paginated, if you select rows with checkboxes, between pages, at page change you will get this error.

I think the problem is in the implementation of checked state in rows.

[2018-06-19 10:05] Botsy opened #381 "Freeze column functionality"
Hello @AllenFang,

We are currently using `react-bootstrap-table` in a project and everything is working perfectly but we really need the freeze column functionality and we're wondering if it is planned to be implemented in `react-bootstrap-table2` ?

Thanks

[2018-06-19 15:03] machour opened #382 "Circular references in data leads to crash"
Hi and thank you for this amazing library!

I came across a little issue when using data constructed using `denormalize()` from the [normalizr](https://github.com/paularmstrong/normalizr) library.

Considering the following data structure:
[code]

If "user" works at "company", then the structure output from `denormalize` will look like this:

[code]

It have a circular reference, which is the beha

[2018-06-19 18:22] glaubervila opened #383 "onDoubleClick record is not accessible"
Hi and thank you for this library,

I'm trying to use the onDobleClick event in rowEvents, but the row parameter is always undefined, so the onClick event works correctly.
[code]

[2018-06-19 23:53] machour commented on #382
Indeed @mindvr, plus we need data to be an array.
[...data] would also make a shallow copy..

Any idea how to get the best of both worlds?

[2018-06-20 09:52] cbfrank opened #384 "Typescript support?"
Hello
Thanks for this great library. When I use react-bootstrap-table, I can install `@types/react-bootstrap-table`
for the react-bootstrap-table-next, there seems no `@types/types/react-bootstrap-table-next`.

I'm using Typescript with react for a new project, is there any way to make the library work with typescript?

Thanks

[2018-06-20 15:11] AllenFang commented on #384
@cbfrank `@types/react-bootstrap-table` is developed by other contributor not me, right now I have no plan to support TS, hope someone can help on it. Anyway, I'm also start to use TS in my company, maybe I can support the TS after I master on it ：）

[2018-06-20 15:16] AllenFang commented on #383
Hello, it's work for me. Could you please share more, like browser, versions? Do you enable the row selection?  thanks

[2018-06-20 15:17] AllenFang commented on #381
@Botsy I will consider to implement it, not it's still not in my radar. Currently, I still work on recovering all the functionality from legacy `react-bootstrap-table`. so PR is welcome :)

[2018-06-20 15:18] AllenFang commented on #374
@PatrykMilczarek sorry for lately reply, I will check this out.

[2018-06-20 15:20] AllenFang commented on #376
@luicephillips hello, I don't have to much time to review all the code without your issue description. Would you please describe your issue/question firstly? thanks . BTW, very sorry to reply lately.

[2018-06-20 15:33] AllenFang commented on #377
@zike-Q firstly, I'm pretty sorry for lately reply. About your question, would you please share some code to me? I just try on my local and it's work, thanks.

Following is just some code to test custom editor in remote mode:

A custom editor:
[code]

Table:
[code]

How to handle the remote(Just a settimeout to simulate the delay for api calling)

[code]

[2018-06-20 15:34] AllenFang commented on #378
Many thanks, @waynebrantley I will handle it 👍

[2018-06-20 15:36] AllenFang commented on #380
@jeznag Thanks for this bugs report, I will check this out and fix it ASAP 👍

[2018-06-20 15:43] AllenFang commented on #382
Correct by @mindvr

The only way is `react-bootstrap-table` need to leverage on lodash or underscore, these lib seems like provide some deep copy functionality.

[2018-06-20 16:35] mindvr commented on #383
I've run into seemingly similar issue tosay, with onSelect event with "selectRow" functionality.

Haven't dived into the code yet, but it seems that nested row's key ("type.type_id" in my case) isn't resolved correctly. Row was passed after i've mapped nested id to the row's root level.

[2018-06-20 18:18] glaubervila commented on #383
[code]

If i use DoubleClick, param row is undefined

[2018-06-21 09:49] mattrei commented on #321
it has to do with Bootstrap4.
May we remove the fade in attribute at:

https://github.com/react-bootstrap-table/react-bootstrap-table2/blob/3c9cd22d421ed5ea8f28afb2c0bc68cbd7d18fbc/packages/react-bootstrap-table2-editor/src/editor-indicator.js#L7

[2018-06-21 10:00] mattrei commented on #321
Bootstrap4 needs instead of the _in_ the _show_ class.

[2018-06-21 10:01] mattrei commented on #305
see also #321

[2018-06-21 11:57] glaubervila commented on #383
Browser Google Chrome
Versão 65.0.3325.181 (Versão oficial) 64 bits

[2018-06-21 14:50] AllenFang commented on #383
@glaubervila could you please also share the your `columns`?, thanks

@mindvr thanks, i will check `selectRow.onSelect` to see if cause this issue, thanks 👍

[2018-06-21 14:57] AllenFang commented on #383
@mindvr  I think mixing the `selectRow.onSelect` and `rowEvents.onDoubleClick` is work well on my dummy test

[2018-06-21 14:59] eylonronen opened #385 "Remote sort not working"
Hi, I'm using this module configured with remote pagination/sorting.
I want to lazy load the data from server, which means always get the relevant part of the data.
In the onTableChange function I query the server and update the state proprety: "results" from which the table data is made.
Remote pagination worked great and easly for me but for some time I'm stuck with the sorting. After i click on

[2018-06-21 15:22] AllenFang commented on #374
It's a bug and already have a [PR](https://github.com/react-bootstrap-table/react-bootstrap-table2/pull/371/files) for fixing this issue, will be released in this weekend, sorry for lately fixing ;(

[2018-06-21 15:30] PatrykMilczarek commented on #374
@AllenFang  Thank you :)

[2018-06-21 18:45] glaubervila commented on #383
@AllenFang Sorry for the delay in answering, follow my whole component.
I'm not using Select Row, at least not explicitly is that the problem? should I set the select row component to use the row events? and thank you for answering
[code]

[2018-06-22 03:47] wallena3 commented on #214
same problem...here is data&code, confusing...

![image](https://user-images.githubusercontent.com/11361768/41756990-e462d56c-7611-11e8-99e1-bc76f3dd3dd6.png)
![image](https://user-images.githubusercontent.com/11361768/41756998-ee906108-7611-11e8-8932-f7811182f864.png)
![image](https://user-images.githubusercontent.com/11361768/41757005-f69918ea-7611-11e8-9790-37f684b17b53.png)

[2018-06-22 03:49] wallena3 commented on #214
@AllenFang could you have a look at this? Many thanks

[2018-06-22 10:33] AllenFang commented on #383
hello @glaubervila thanks your information, I think it's irrelevant with `selectRow`. Right now, the problem is I still can't reproduce your issues.

@glaubervila  and @mindvr Would you please help me to create a dummy repo so that I can reproduce you guys issues. Please kindly give clear instruction to setup your repo.

Thanks 👍

[2018-06-22 10:36] AllenFang commented on #385
@eylonronen I think it might be a bug probably, I will check this out and get back to you ASAP. thanks!!

[2018-06-22 16:11] mindvr commented on #383
@AllenFang https://gist.github.com/mindvr/418c06d509daf5350b53436e947c4494

![image](https://user-images.githubusercontent.com/16493439/41787097-0973d3b8-7650-11e8-86ac-7bcdc6fda4b1.png)

[2018-06-22 20:20] ac2-warp opened #386 "Can't edit cell - TypeError: "x" is read-only"
When editing a cell it returns the following error:

Firefox - TypeError: "x" is read-only
Chrome - Cannot assign to read only property 'x' of object '#<Object>'

Where x is the dataField of the table.

I have reduced table to bare minimum with no luck. The tables 'data' field is connected to a state value which recieves information from a GraphQL through Apollo client. I even assigned the data to

[2018-06-23 00:47] Sweravi opened #387 "react-bootstrap-table2-paginator not working."
Hello,

I get the below error when I try to add pagination functionality to the bootstrap table. Here's what I have -

[code]
And the dependencies that I have currently  -
[code]

Without pagination property the table renders properly but I get the below error when I add paginator -
[code]

Any help here is much appreciated!

[2018-06-23 05:11] AllenFang commented on #385
@eylonronen hello, the remote pagination/sorting is work for me, following is my test code:

[code]

I just use `setTimeout` to simulate a api call delay. Did I missing something? or maybe you can show your code, thanks

[2018-06-23 05:11] AllenFang commented on #385
BTW, do you use `react-bootstrap-table2-overlay`?

[2018-06-23 05:15] AllenFang commented on #386
yes, correct, you probably need a deeply copy might be work.

And also make sure the `data` props is JavaScript Array and every row object is plan object.

[2018-06-23 05:15] #386 closed

[2018-06-23 05:32] AllenFang commented on #387
@Sweravi would you please help me to check if there are multiple React was install in your `node_modules`?  thanks

[2018-06-23 05:34] AllenFang commented on #387
You can check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Pagination&selectedStory=Basic%20Pagination%20Table&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) example, it work well.

[2018-06-23 05:56] AllenFang commented on #378
@waynebrantley it work to me:

[code]

[2018-06-23 10:28] ac2-warp commented on #386
Thanks Allen. If I declare the array as [] first then assign it to the apollo data it works fine. Thanks for your prompt response and your work on this great component.

[2018-06-23 10:46] ac2-warp commented on #386
Thanks Allen. I copied the receiving Apollo data using JSON.parse(JSON.stringify(this.props.fetchData)) and assigned it to the table and it's working now. Thanks for your prompt response and keep up the good work.

[2018-06-23 12:11] flc opened #388 "custom filter support"
Hi, similar to the way a custom editor is supported with `editorRenderer`, a custom filter support would also be great. For example to utilize the functionality from https://github.com/JedWatson/react-select

[2018-06-23 21:46] Sweravi commented on #387
That's the exact example I have followed. Also I have just one version of react which is `16.4.1`

[2018-06-24 05:05] AllenFang commented on #385
@eylonronen I see, thank you.

There's a few question is do you unmount the table when fetching API then render table again when you get the response?

Right now, I dont have too much time to write a api to handle this, but just like a lots of open source or even legacy `react-bootstrap-table`, they usually use a async operation to simulate a delay for api call. So I believe there's not critical i

[2018-06-24 05:08] AllenFang commented on #387
Oh, I notice you use typescript?  is it possible to downgrade to `react@16.0.0` and try it again, although I can't believe the problem is about react version lol

[2018-06-24 05:10] AllenFang commented on #388
@flc sure, we will support it :)

[2018-06-24 07:45] eylonronen commented on #385
I found my bug!
I checked what you said about unmounting the table and you were right.
Instead of using react-bootstrap-table2-overlay i used a custom loading component and rendered it instead of the table...
Thank you very much for the help.
Now all thats left is expandable rows like react-bootstrap-table and this will be the perfect table component

[2018-06-24 07:45] #385 closed

[2018-06-24 14:40] #380 closed

[2018-06-24 14:45] AllenFang commented on #380
@jeznag

[RELEASE NOTES](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/24/version-bump.html)

Fixed on `react-bootstrap-table-next@0.1.14` and `react-bootstrap-table2-filter@0.3.0`, please re-open this issue and tag me if the problem still remain

[2018-06-24 14:47] AllenFang commented on #388
@flc

@jeznag

[RELEASE NOTES](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/24/version-bump.html)

Support on `react-bootstrap-table-next@0.1.14` and `react-bootstrap-table2-filter@0.3.0`

[demo1](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selectedKind=Column%20Filter&selectedStory=Custom%20Filter&full=0&addons=1&stories=1&pan

[2018-06-24 14:47] #388 closed

[2018-06-24 14:49] AllenFang commented on #199
NOTES

After  `react-bootstrap-table-next@0.1.14` and `react-bootstrap-table2-filter@0.3.0`, we support the custom filter. However, multi select filter still pending, I will implement it in the future

[2018-06-24 14:51] AllenFang commented on #374
@PatrykMilczarek

[RELEASE NOTES](https://react-bootstrap-table.github.io/react-bootstrap-table2/blog/2018/06/24/version-bump.html)

Support on `react-bootstrap-table-next@0.1.14` and `react-bootstrap-table2-paginator@0.1.5`

Please reopen this issue and tag me again if the problem still remain, thanks

[2018-06-24 14:51] #374 closed

[2018-06-25 08:40] AllenFang commented on #385
@eylonronen nice catch 👍 👍 . BTW, I will suggest you do not use `react-bootstrap-table2-overlay` right now, there's a critical bug still not solved yet.

[2018-06-25 16:31] waynebrantley commented on #378
We were using mode of 'radio'

[2018-06-25 17:28] zike-Q commented on #377
Hi, thanks for the reply. I re-wrote that part in the exact way as the example remote code and it worked, I was not sure what went wrong though.
In the earlier version, I did not have a separate `const RemoteCellEdit` to render <BootstrapTable />, but put it in the same class that contains `handleTableChange()` function. Could this be the problem?

**was:**
[code]

Then:
[code]

[2018-06-26 21:00] teresa-recursion commented on #207
Any update on this?

[2018-06-27 14:27] narayanchoudhary opened #391 "dataField should have an option for value and label."
Basically I have data object like this
`{
     _id: 'k4ri89rieo09d8d',
    item: '10',
    rack: '1',
    party_id: '2e3wert45uyb4d',
}`

Now in the  table I want to show this data but instead of party_id I want to show the name of the party. I managed to replace the party_id with name  of the party in above object.
Now the problem is that when the party cell is edited it saves the name of the par

[2018-06-28 12:40] glaubervila commented on #383
Hi, Thanks for the help, I was able to resolve my issue with DoubleClick by updating the 'react-bootstrap-table-next', 'react-bootstrap-table2-overlay', 'react-bootstrap-table2-paginator' packages. so that you could not reproduce, the problem was with the previous version.

[2018-06-28 15:11] AllenFang commented on #321
@mattrei coool, I will fix it on `bootstrap@4`  thanks!

[2018-06-28 15:14] AllenFang commented on #360
@jeznag yes, it's known issue, and it's a little hard to fix due to it's about a third party library. Right now, before fixing this issue, I will recommend not to use `react-bootstrap-table2-overlay`, instead custom the overlay by yourself. `react-bootstrap-table2` allow you to custom the loading(check [this](https://react-bootstrap-table.github.io/react-bootstrap-table2/storybook/index.html?selec

[2018-06-29 09:03] renekliment opened #392 "Preventing unnecessary (row / cell) re-renders"
Hi!
First, thank you for this nice library.

I am having a performance issue however, because it seems that there are no checks to prevent unnecessary re-renders (`shouldComponentUpdate`).

I had to implement row hover myself (via row `onMouseEnter`), because I need a callback for the hovered point id and the hovered point id can also come from another component and I need to set it on the right r

[2018-06-29 19:24] denys-correia opened #393 "Assign object {row} to state"
I'm trying to migrate my application which currently uses react-bootstrap-table to react-bootstrap-table-next but I'm having a problem.

**What I am trying to do:**
is to get the object of the selected line.

**My code**
[code]
**result obtained**
When I click on the line, it assigns the color red and prints the object to the selected line

but when I try to put the object in the state:

[code]
Th

[2018-07-01 05:08] AllenFang commented on #377
@zike-Q I dont think so. But if there's a significant evidence, I will look into it deeply, thanks 👍

[2018-07-01 05:08] #377 closed

[2018-07-01 05:14] AllenFang commented on #378
@waynebrantley sorry for lately reply, but it's still work to me even i change to single selection. Any more information about this issue? Thanks!

[2018-07-01 05:15] AllenFang commented on #383
Nice work @glaubervila  👍
@mindvr how about your case? what version you used? thanks

[2018-07-01 05:18] AllenFang commented on #391
@narayanchoudhary I believe [`formatter`](https://react-bootstrap-table.github.io/react-bootstrap-table2/docs/column-props.html#columnformatter-function) is the thing you are looking for.

You can keep to use `party_id` but use `formatter` to show the part name certainly on the cell.

[2018-07-01 05:18] #391 closed

[2018-07-01 05:19] AllenFang commented on #392
@renekliment sure, I will do it 👍

[2018-07-01 05:25] #393 closed, assigned to nobody

[2018-07-01 05:29] AllenFang commented on #207
@teresa-recursion sorry, I'm working on the expand row and new react context API design. For the tab to navigate the cell editing, I think I will recommend you to implement the cell navigation before this.

Do let me know if you really want to open a PR for this, I think I will implement the cell navigation in July  or Aug.

[2018-07-01 05:29] AllenFang commented on #216
@kotaro88 In July or Aug, we will support this feature, thanks

[2018-07-01 05:30] AllenFang commented on #216
BTW, very sorry for lately implementation.

[2018-07-01 05:33] AllenFang commented on #378
@waynebrantley I'm not sure if you encounter the same issue: https://github.com/react-bootstrap-table/react-bootstrap-table2/issues/297

[2018-07-01 12:55] Crescent9723 opened #394 "Is there way to set class for header row?"
I want to set custom class of header row and cannot find any documentation about this

Could anyone give me some information on this?

[2018-07-02 11:50] xero88 commented on #373
This is still not working

[code]

[2018-07-02 12:41] xero88 commented on #373
@AllenFang thx for your answer, this work.

You know by the way if there is a way to set manualy the selected row index ?

[2018-07-02 16:31] waynebrantley commented on #378
Dang it...yes that is it.  When they click a row - we update state in component so we can change the screen to reflect the row they clicked.  It works fine - but the backgound color does not update - I guess because your gird did not get a chance to update its state.

We are not looking to manage the state of the selection - but to simply take other actions as the selection happens (we dont pass i